Repository Checkmarx/kics, pull requests merged in 2020-12, with the labels that each got.

#473 Add memcached_disabled query Closes #470
  assets/queries/terraform/aws/memcached_disabled/metadata.json
  assets/queries/terraform/aws/memcached_disabled/query.rego
  assets/queries/terraform/aws/memcached_disabled/test/negative.tf
  assets/queries/terraform/aws/memcached_disabled/test/positive.tf
  assets/queries/terraform/aws/memcached_disabled/test/positive_expected_result.json
Labels: aws, query

#570 Feature/add dockerfile parser
  cmd/console/main.go
  go.mod
  go.sum
  pkg/model/model.go
  pkg/parser/docker/parser.go
  pkg/parser/docker/parser_test.go
  pkg/parser/parser.go
  pkg/parser/parser_test.go
  pkg/source/filesystem.go
  test/main_test.go
Labels: docker, feature

#477 Added query SQL Analysis service port 2383 #319
  assets/queries/terraform/aws/sql_analysis_services_port_2383_is_publicly_accessible/metadata.json
  assets/queries/terraform/aws/sql_analysis_services_port_2383_is_publicly_accessible/query.rego
  assets/queries/terraform/aws/sql_analysis_services_port_2383_is_publicly_accessible/test/negative.tf
  assets/queries/terraform/aws/sql_analysis_services_port_2383_is_publicly_accessible/test/positive.tf
  assets/queries/terraform/aws/sql_analysis_services_port_2383_is_publicly_accessible/test/positive_expected_result.json
Labels: aws, query

#436 Add sqs_queue_exposed query Closes #434
  assets/queries/terraform/aws/sqs_queue_exposed/metadata.json
  assets/queries/terraform/aws/sqs_queue_exposed/query.rego
  assets/queries/terraform/aws/sqs_queue_exposed/test/negative.tf
  assets/queries/terraform/aws/sqs_queue_exposed/test/positive.tf
  assets/queries/terraform/aws/sqs_queue_exposed/test/positive_expected_result.json
Labels: aws, query

#590 Feature/add logger file
  .gitignore
  assets/queries/terraform/aws/s3_bucket_rules_with_awskms/query.rego
  assets/queries/terraform/aws/s3_bucket_rules_with_awskms/test/positive_expected_result.json
  cmd/console/main.go
  pkg/engine/inspector.go
  pkg/kics/service.go
  pkg/parser/docker/parser.go
  pkg/parser/docker/parser_test.go
Labels: enhancement, feature

#463 Add VPC Flow Logs are not Enabled query for Terraform #462
  assets/queries/terraform/aws/aws_vpc_flow_logs_enabled/metadata.json
  assets/queries/terraform/aws/aws_vpc_flow_logs_enabled/query.rego
  assets/queries/terraform/aws/aws_vpc_flow_logs_enabled/test/negative.tf
  assets/queries/terraform/aws/aws_vpc_flow_logs_enabled/test/positive.tf
  assets/queries/terraform/aws/aws_vpc_flow_logs_enabled/test/positive_expected_result.json
Labels: gcp, query

#579 Add log_duration_is_not_set query Closes #578
  assets/queries/terraform/azure/log_duration_is_not_set/metadata.json
  assets/queries/terraform/azure/log_duration_is_not_set/query.rego
  assets/queries/terraform/azure/log_duration_is_not_set/test/negative.tf
  assets/queries/terraform/azure/log_duration_is_not_set/test/positive.tf
  assets/queries/terraform/azure/log_duration_is_not_set/test/positive_expected_result.json
Labels: azure, query

#609 Feature/add logger file
  cmd/console/main.go
  pkg/engine/vulnerability_builder.go
Labels: enhancement

#377 Add ELB Using Weak Ciphers query for Terraform
  assets/queries/terraform/aws/elb_using_weak_ciphers/metadata.json
  assets/queries/terraform/aws/elb_using_weak_ciphers/query.rego
  assets/queries/terraform/aws/elb_using_weak_ciphers/test/negative.tf
  assets/queries/terraform/aws/elb_using_weak_ciphers/test/positive.tf
  assets/queries/terraform/aws/elb_using_weak_ciphers/test/positive_expected_result.json
Labels: aws, query

#386 add query ecs_task_definition_has_password #308
  assets/queries/terraform/aws/ecs_task_definition_has_password/metadata.json
  assets/queries/terraform/aws/ecs_task_definition_has_password/query.rego
  assets/queries/terraform/aws/ecs_task_definition_has_password/test/negative.tf
  assets/queries/terraform/aws/ecs_task_definition_has_password/test/positive.tf
  assets/queries/terraform/aws/ecs_task_definition_has_password/test/positive_expected_result.json
Labels: aws, enhancement, query

#468 Add RDS Cluster Storage Not Encrypted Terraform
  assets/queries/terraform/aws/rds_cluster_storage_not_encrypted/metadata.json
  assets/queries/terraform/aws/rds_cluster_storage_not_encrypted/query.rego
  assets/queries/terraform/aws/rds_cluster_storage_not_encrypted/test/negative.tf
  assets/queries/terraform/aws/rds_cluster_storage_not_encrypted/test/positive.tf
  assets/queries/terraform/aws/rds_cluster_storage_not_encrypted/test/positive_expected_result.json
Labels: aws, query

#466 Add https_traffic_disabled query Closes #458
  assets/queries/terraform/aws/https_traffic_disabled/metadata.json
  assets/queries/terraform/aws/https_traffic_disabled/query.rego
  assets/queries/terraform/aws/https_traffic_disabled/test/negative.tf
  assets/queries/terraform/aws/https_traffic_disabled/test/positive.tf
  assets/queries/terraform/aws/https_traffic_disabled/test/positive_expected_result.json
Labels: aws, query

#576 Add s3_bucket_acess_allowed_all query Closes #482
  assets/queries/terraform/aws/s3_bucket_access_allowed_all/metadata.json
  assets/queries/terraform/aws/s3_bucket_access_allowed_all/query.rego
  assets/queries/terraform/aws/s3_bucket_access_allowed_all/test/negative.tf
  assets/queries/terraform/aws/s3_bucket_access_allowed_all/test/positive.tf
  assets/queries/terraform/aws/s3_bucket_access_allowed_all/test/positive_expected_result.json
Labels: aws, query

#381 container_read_only_root_filesystem_is_false #353
  assets/queries/terraform/kubernetes_pod/container_read_only_root_filesystem_is_false/metadata.json
  assets/queries/terraform/kubernetes_pod/container_read_only_root_filesystem_is_false/query.rego
  assets/queries/terraform/kubernetes_pod/container_read_only_root_filesystem_is_false/test/negative.tf
  assets/queries/terraform/kubernetes_pod/container_read_only_root_filesystem_is_false/test/positive.tf
  assets/queries/terraform/kubernetes_pod/container_read_only_root_filesystem_is_false/test/positive_expected_result.json
Labels: query

#478 Add shared_host_network_namespace query for Kubernetes #476
  assets/queries/k8s/shared_host_network_namespace/metadata.json
  assets/queries/k8s/shared_host_network_namespace/query.rego
  assets/queries/k8s/shared_host_network_namespace/test/negative.yaml
  assets/queries/k8s/shared_host_network_namespace/test/positive.yaml
  assets/queries/k8s/shared_host_network_namespace/test/positive_expected_result.json
Labels: kubernetes, query

#481 Add redis_not_compliant query Closes #475
  assets/queries/terraform/aws/redis_not_compliant/metadata.json
  assets/queries/terraform/aws/redis_not_compliant/query.rego
  assets/queries/terraform/aws/redis_not_compliant/test/negative.tf
  assets/queries/terraform/aws/redis_not_compliant/test/positive.tf
  assets/queries/terraform/aws/redis_not_compliant/test/positive_expected_result.json
Labels: aws, query

#629 Add allowed_capabilities Closes #625
  assets/queries/k8s/allowed_capabilities/metadata.json
  assets/queries/k8s/allowed_capabilities/query.rego
  assets/queries/k8s/allowed_capabilities/test/negative.yaml
  assets/queries/k8s/allowed_capabilities/test/positive.yaml
  assets/queries/k8s/allowed_capabilities/test/positive_expected_result.json
Labels: kubernetes, query

#501 Add SNS Topic is Publicly Accessible For Subscription query for Terraform #500
  assets/queries/terraform/aws/aws_sns_topic_subscription/metadata.json
  assets/queries/terraform/aws/aws_sns_topic_subscription/query.rego
  assets/queries/terraform/aws/aws_sns_topic_subscription/test/negative.tf
  assets/queries/terraform/aws/aws_sns_topic_subscription/test/positive.tf
  assets/queries/terraform/aws/aws_sns_topic_subscription/test/positive_expected_result.json
  go.mod
Labels: aws, query

#577 Add http_port_open query Closes #238
  assets/queries/terraform/aws/http_port_open/metadata.json
  assets/queries/terraform/aws/http_port_open/query.rego
  assets/queries/terraform/aws/http_port_open/test/negative.tf
  assets/queries/terraform/aws/http_port_open/test/positive.tf
  assets/queries/terraform/aws/http_port_open/test/positive_expected_result.json
Labels: aws, query

#472 Add kms_key_no_deletion_window Closes #292
  assets/queries/terraform/aws/kms_key_no_deletion_window/metadata.json
  assets/queries/terraform/aws/kms_key_no_deletion_window/query.rego
  assets/queries/terraform/aws/kms_key_no_deletion_window/test/negative.tf
  assets/queries/terraform/aws/kms_key_no_deletion_window/test/positive.tf
  assets/queries/terraform/aws/kms_key_no_deletion_window/test/positive_expected_result.json
  assets/queries/terraform/kubernetes_pod/container_allow_privilege_escalation_is_true/metadata.json
  assets/queries/terraform/kubernetes_pod/container_allow_privilege_escalation_is_true/test/positive_expected_result.json
Labels: aws, query

#456 Add query to check if teller service has not been deleted. Closes #428
  assets/queries/k8s/tiller_service_not_deleted/metadata.json
  assets/queries/k8s/tiller_service_not_deleted/query.rego
  assets/queries/k8s/tiller_service_not_deleted/test/negative.yaml
  assets/queries/k8s/tiller_service_not_deleted/test/positive.yaml
  assets/queries/k8s/tiller_service_not_deleted/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#637 Feature/add query iam policy full privileges
  assets/queries/cloudFormation/iam_policy_full_privileges/metadata.json
  assets/queries/cloudFormation/iam_policy_full_privileges/query.rego
  assets/queries/cloudFormation/iam_policy_full_privileges/test/negative.yaml
  assets/queries/cloudFormation/iam_policy_full_privileges/test/positive.yaml
  assets/queries/cloudFormation/iam_policy_full_privileges/test/positive_expected_result.json
  test/main_test.go
Labels: aws, query

#650 Added query permissive_access_to_create_pods
  assets/queries/k8s/permissive_access_to_create_pods/metadata.json
  assets/queries/k8s/permissive_access_to_create_pods/query.rego
  assets/queries/k8s/permissive_access_to_create_pods/test/negative.yaml
  assets/queries/k8s/permissive_access_to_create_pods/test/positive.yaml
  assets/queries/k8s/permissive_access_to_create_pods/test/positive_expected_result.json
  pkg/engine/vulnerability_builder.go
Labels: query

#624 Add non_kube_system_pod_with_host_mount query for Kubernetes
  assets/queries/k8s/non_kube_system_pod_with_host_mount/metadata.json
  assets/queries/k8s/non_kube_system_pod_with_host_mount/query.rego
  assets/queries/k8s/non_kube_system_pod_with_host_mount/test/negative.yaml
  assets/queries/k8s/non_kube_system_pod_with_host_mount/test/positive.yaml
  assets/queries/k8s/non_kube_system_pod_with_host_mount/test/positive_expected_result.json
Labels: kubernetes, query

#489 Add query to check if tiller containers are accessible. Closes #430
  assets/queries/k8s/tiller_deployment_is_accessible_within_cluster/metadata.json
  assets/queries/k8s/tiller_deployment_is_accessible_within_cluster/query.rego
  assets/queries/k8s/tiller_deployment_is_accessible_within_cluster/test/negative.yaml
  assets/queries/k8s/tiller_deployment_is_accessible_within_cluster/test/positive.yaml
  assets/queries/k8s/tiller_deployment_is_accessible_within_cluster/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#494 Add psp_allows_sharing_host_pid query for Kubernetes #488
  assets/queries/k8s/psp_allows_sharing_host_pid/metadata.json
  assets/queries/k8s/psp_allows_sharing_host_pid/query.rego
  assets/queries/k8s/psp_allows_sharing_host_pid/test/negative.yaml
  assets/queries/k8s/psp_allows_sharing_host_pid/test/positive.yaml
  assets/queries/k8s/psp_allows_sharing_host_pid/test/positive_expected_result.json
Labels: kubernetes, query

#498 Add shared_host_pid_namespace query for Kubernetes #496
  assets/queries/k8s/shared_host_pid_namespace/metadata.json
  assets/queries/k8s/shared_host_pid_namespace/query.rego
  assets/queries/k8s/shared_host_pid_namespace/test/negative.yaml
  assets/queries/k8s/shared_host_pid_namespace/test/positive.yaml
  assets/queries/k8s/shared_host_pid_namespace/test/positive_expected_result.json
Labels: kubernetes, query

#507 Add psp_allows_sharing_host_ipc query for Kubernetes #504
  assets/queries/k8s/psp_allows_sharing_host_ipc/metadata.json
  assets/queries/k8s/psp_allows_sharing_host_ipc/query.rego
  assets/queries/k8s/psp_allows_sharing_host_ipc/test/negative.yaml
  assets/queries/k8s/psp_allows_sharing_host_ipc/test/positive.yaml
  assets/queries/k8s/psp_allows_sharing_host_ipc/test/positive_expected_result.json
Labels: kubernetes, query

#509 Add shared_host_ipc_namespace query for Kubernetes #505
  assets/queries/k8s/shared_host_ipc_namespace/metadata.json
  assets/queries/k8s/shared_host_ipc_namespace/query.rego
  assets/queries/k8s/shared_host_ipc_namespace/test/negative.yaml
  assets/queries/k8s/shared_host_ipc_namespace/test/positive.yaml
  assets/queries/k8s/shared_host_ipc_namespace/test/positive_expected_result.json
Labels: kubernetes, query

#506 Add default_namespace query Closes #502
  assets/queries/k8s/default_namespace/metadata.json
  assets/queries/k8s/default_namespace/query.rego
  assets/queries/k8s/default_namespace/test/negative.yaml
  assets/queries/k8s/default_namespace/test/positive.yaml
  assets/queries/k8s/default_namespace/test/positive_expected_result.json
Labels: kubernetes, query

#521 Add service_account_token_automount_not_disabled query for Kubernetes #512
  assets/queries/k8s/service_account_token_automount_not_disabled/metadata.json
  assets/queries/k8s/service_account_token_automount_not_disabled/query.rego
  assets/queries/k8s/service_account_token_automount_not_disabled/test/negative.yaml
  assets/queries/k8s/service_account_token_automount_not_disabled/test/positive.yaml
  assets/queries/k8s/service_account_token_automount_not_disabled/test/positive_expected_result.json
Labels: kubernetes, query

#523 Add secrets_as_environment_variables query for Kubernetes #517
  assets/queries/k8s/secrets_as_environment_variables/metadata.json
  assets/queries/k8s/secrets_as_environment_variables/query.rego
  assets/queries/k8s/secrets_as_environment_variables/test/negative.yaml
  assets/queries/k8s/secrets_as_environment_variables/test/positive.yaml
  assets/queries/k8s/secrets_as_environment_variables/test/positive_expected_result.json
Labels: kubernetes, query

#686 Add code coverage step to go workflow
  .github/workflows/go.yml
Labels: CI

#530 Add query to check if Tiller is deployed. Closes #431
  assets/queries/k8s/tiller_is_deployed/metadata.json
  assets/queries/k8s/tiller_is_deployed/query.rego
  assets/queries/k8s/tiller_is_deployed/test/negative.yaml
  assets/queries/k8s/tiller_is_deployed/test/positive.yaml
  assets/queries/k8s/tiller_is_deployed/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#565 Add query to check if there are containers running w/ low UID. Closes #552
  assets/queries/k8s/containers_run_with_low_uid/metadata.json
  assets/queries/k8s/containers_run_with_low_uid/query.rego
  assets/queries/k8s/containers_run_with_low_uid/test/negative.yaml
  assets/queries/k8s/containers_run_with_low_uid/test/positive.yaml
  assets/queries/k8s/containers_run_with_low_uid/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#580 Add Container CPU Requests Not Equal Limits query for Kubernetes
  assets/queries/k8s/container_cpu_requests_not_equal_limits/metadata.json
  assets/queries/k8s/container_cpu_requests_not_equal_limits/query.rego
  assets/queries/k8s/container_cpu_requests_not_equal_limits/test/negative.yaml
  assets/queries/k8s/container_cpu_requests_not_equal_limits/test/positive.yaml
  assets/queries/k8s/container_cpu_requests_not_equal_limits/test/positive_expected_result.json
Labels: kubernetes, query

#647 Add shared_service_account query for Kubernetes #644
  assets/queries/k8s/shared_service_account/metadata.json
  assets/queries/k8s/shared_service_account/query.rego
  assets/queries/k8s/shared_service_account/test/negative.yaml
  assets/queries/k8s/shared_service_account/test/positive.yaml
  assets/queries/k8s/shared_service_account/test/positive_expected_result.json
Labels: kubernetes, query

#595 Add Service Account Name Undefined Or Empty query for Kubernetes
  assets/queries/k8s/service_account_name_undefined_or_empty/metadata.json
  assets/queries/k8s/service_account_name_undefined_or_empty/query.rego
  assets/queries/k8s/service_account_name_undefined_or_empty/test/negative.yaml
  assets/queries/k8s/service_account_name_undefined_or_empty/test/positive.yaml
  assets/queries/k8s/service_account_name_undefined_or_empty/test/positive_expected_result.json
Labels: kubernetes, query

#584 Add Root Containers Admitted query for Kubernetes
  assets/queries/k8s/root_containers_admitted/metadata.json
  assets/queries/k8s/root_containers_admitted/query.rego
  assets/queries/k8s/root_containers_admitted/test/negative.yaml
  assets/queries/k8s/root_containers_admitted/test/positive.yaml
  assets/queries/k8s/root_containers_admitted/test/positive_expected_result.json
Labels: kubernetes, query

#528 Add HPA Targets a invalid object query
  assets/queries/k8s/HPA_targets_a_invalid_object/metadata.json
  assets/queries/k8s/HPA_targets_a_invalid_object/query.rego
  assets/queries/k8s/HPA_targets_a_invalid_object/test/negative.yaml
  assets/queries/k8s/HPA_targets_a_invalid_object/test/positive.yaml
  assets/queries/k8s/HPA_targets_a_invalid_object/test/positive_expected_result.json
Labels: kubernetes

#567 Add query to check if containers run as root unduly. Closes #566
  assets/queries/k8s/containers_run_as_root/metadata.json
  assets/queries/k8s/containers_run_as_root/query.rego
  assets/queries/k8s/containers_run_as_root/test/negative.yaml
  assets/queries/k8s/containers_run_as_root/test/positive.yaml
  assets/queries/k8s/containers_run_as_root/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#582 Add Container Requests Not Equal Limits query for Kubernetes
  assets/queries/k8s/container_requests_not_equal_limits/metadata.json
  assets/queries/k8s/container_requests_not_equal_limits/query.rego
  assets/queries/k8s/container_requests_not_equal_limits/test/negative.yaml
  assets/queries/k8s/container_requests_not_equal_limits/test/positive.yaml
  assets/queries/k8s/container_requests_not_equal_limits/test/positive_expected_result.json
Labels: kubernetes, query

#600 Add rbac_roles_with_read_secrets_permissions query for Kubernetes
  assets/queries/k8s/rbac_roles_with_read_secrets_permissions/metadata.json
  assets/queries/k8s/rbac_roles_with_read_secrets_permissions/query.rego
  assets/queries/k8s/rbac_roles_with_read_secrets_permissions/test/negative.yaml
  assets/queries/k8s/rbac_roles_with_read_secrets_permissions/test/positive.yaml
  assets/queries/k8s/rbac_roles_with_read_secrets_permissions/test/positive_expected_result.json
Labels: kubernetes, query

#575 Add query to check if root container is not readonly
  assets/queries/k8s/root_container_filesystem_not_readonly/metadata.json
  assets/queries/k8s/root_container_filesystem_not_readonly/query.rego
  assets/queries/k8s/root_container_filesystem_not_readonly/test/negative.yaml
  assets/queries/k8s/root_container_filesystem_not_readonly/test/positive.yaml
  assets/queries/k8s/root_container_filesystem_not_readonly/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#581 Add Container Memory Requests Not Equal Limits query for Kubernetes
  assets/queries/k8s/container_memory_requests_not_equal_limits/metadata.json
  assets/queries/k8s/container_memory_requests_not_equal_limits/query.rego
  assets/queries/k8s/container_memory_requests_not_equal_limits/test/negative.yaml
  assets/queries/k8s/container_memory_requests_not_equal_limits/test/positive.yaml
  assets/queries/k8s/container_memory_requests_not_equal_limits/test/positive_expected_result.json
Labels: kubernetes, query

#569 Add query to check if ReadinessProbe is not configured in container. Closes #568
  assets/queries/k8s/readiness_probe_not_configured/metadata.json
  assets/queries/k8s/readiness_probe_not_configured/query.rego
  assets/queries/k8s/readiness_probe_not_configured/test/negative.yaml
  assets/queries/k8s/readiness_probe_not_configured/test/positive.yaml
  assets/queries/k8s/readiness_probe_not_configured/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#627 Add Cluster Allows Unsafe Sysctls query for Kubernetes
  assets/queries/k8s/cluster_allows_unsafe_sysctls/metadata.json
  assets/queries/k8s/cluster_allows_unsafe_sysctls/query.rego
  assets/queries/k8s/cluster_allows_unsafe_sysctls/test/negative.yaml
  assets/queries/k8s/cluster_allows_unsafe_sysctls/test/positive.yaml
  assets/queries/k8s/cluster_allows_unsafe_sysctls/test/positive_expected_result.json
Labels: kubernetes, query

#696 Add iam_user_with_inline_policies query for AWS CloudFormation #689
  assets/queries/cloudFormation/iam_user_with_inline_policies/metadata.json
  assets/queries/cloudFormation/iam_user_with_inline_policies/query.rego
  assets/queries/cloudFormation/iam_user_with_inline_policies/test/negative.yaml
  assets/queries/cloudFormation/iam_user_with_inline_policies/test/positive.yaml
  assets/queries/cloudFormation/iam_user_with_inline_policies/test/positive_expected_result.json
Labels: cloudformation, query

#730 Add S3 Bucket Allows Get Action From All Principals query for CloudFormation
  assets/queries/cloudFormation/s3_bucket_allows_get_actions_from_all_principals/metadata.json
  assets/queries/cloudFormation/s3_bucket_allows_get_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_get_actions_from_all_principals/test/negative.yaml
  assets/queries/cloudFormation/s3_bucket_allows_get_actions_from_all_principals/test/positive.yaml
  assets/queries/cloudFormation/s3_bucket_allows_get_actions_from_all_principals/test/positive_expected_result.json
Labels: cloudformation, query

#724 Add S3 Bucket Allows Put Action From All Principals query for CloudFormation
  assets/queries/cloudFormation/s3_bucket_allows_put_actions_from_all_principals/metadata.json
  assets/queries/cloudFormation/s3_bucket_allows_put_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_put_actions_from_all_principals/test/negative.yaml
  assets/queries/cloudFormation/s3_bucket_allows_put_actions_from_all_principals/test/positive.yaml
  assets/queries/cloudFormation/s3_bucket_allows_put_actions_from_all_principals/test/positive_expected_result.json
Labels: cloudformation, query

#727 Add S3 Bucket Allows List Action From All Principals query for CloudFormation
  assets/queries/cloudFormation/s3_bucket_allows_list_actions_from_all_principals/metadata.json
  assets/queries/cloudFormation/s3_bucket_allows_list_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_list_actions_from_all_principals/test/negative.yaml
  assets/queries/cloudFormation/s3_bucket_allows_list_actions_from_all_principals/test/positive.yaml
  assets/queries/cloudFormation/s3_bucket_allows_list_actions_from_all_principals/test/positive_expected_result.json
Labels: cloudformation, query

#715 Add S3 Bucket Allows Put Or Restore Actions From All Principals query for AWS CloudFormation
  assets/queries/cloudFormation/s3_bucket_allows_put_or_restore_actions_from_all_principals/metadata.json
  assets/queries/cloudFormation/s3_bucket_allows_put_or_restore_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_put_or_restore_actions_from_all_principals/test/negative.yaml
  assets/queries/cloudFormation/s3_bucket_allows_put_or_restore_actions_from_all_principals/test/positive.yaml
  assets/queries/cloudFormation/s3_bucket_allows_put_or_restore_actions_from_all_principals/test/positive_expected_result.json
Labels: cloudformation, query

#702 Add block_workload_mounting_os_dir query for Kubernetes
  assets/queries/k8s/block_workload_mounting_os_dir/metadata.json
  assets/queries/k8s/block_workload_mounting_os_dir/query.rego
  assets/queries/k8s/block_workload_mounting_os_dir/test/negative.yaml
  assets/queries/k8s/block_workload_mounting_os_dir/test/positive.yaml
  assets/queries/k8s/block_workload_mounting_os_dir/test/positive_expected_result.json
Labels: azure, kubernetes

#690 Add query to check if EC2 instance don't have IAM roles associated. Closes #658
  assets/queries/cloudFormation/ec2_instance_no_iam_role/metadata.json
  assets/queries/cloudFormation/ec2_instance_no_iam_role/query.rego
  assets/queries/cloudFormation/ec2_instance_no_iam_role/test/negative.yaml
  assets/queries/cloudFormation/ec2_instance_no_iam_role/test/positive.yaml
  assets/queries/cloudFormation/ec2_instance_no_iam_role/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#597 Add Host Aliases Undefined Or Empty query for Kubernetes
  assets/queries/k8s/host_aliases_undefined_or_empty/metadata.json
  assets/queries/k8s/host_aliases_undefined_or_empty/query.rego
  assets/queries/k8s/host_aliases_undefined_or_empty/test/negative.yaml
  assets/queries/k8s/host_aliases_undefined_or_empty/test/positive.yaml
  assets/queries/k8s/host_aliases_undefined_or_empty/test/positive_expected_result.json
Labels: kubernetes, query

#733 Add cloudfront_distribution_without_waf query for AWS CloudFormation #731
  assets/queries/cloudFormation/cloudfront_distribution_without_waf/metadata.json
  assets/queries/cloudFormation/cloudfront_distribution_without_waf/query.rego
  assets/queries/cloudFormation/cloudfront_distribution_without_waf/test/negative.yaml
  assets/queries/cloudFormation/cloudfront_distribution_without_waf/test/positive.yaml
  assets/queries/cloudFormation/cloudfront_distribution_without_waf/test/positive_expected_result.json
Labels: cloudformation, query

#685 Add ECS Service Admin Role Present query for AWS CloudFormation
  assets/queries/cloudFormation/ecs_service_admin_role_present/metadata.json
  assets/queries/cloudFormation/ecs_service_admin_role_present/query.rego
  assets/queries/cloudFormation/ecs_service_admin_role_present/test/negative.yaml
  assets/queries/cloudFormation/ecs_service_admin_role_present/test/positive.yaml
  assets/queries/cloudFormation/ecs_service_admin_role_present/test/positive_expected_result.json
Labels: cloudformation, query

#698 Implemented query statefulset_requests_storage #697
  assets/queries/k8s/statefulset_requests_storage/metadata.json
  assets/queries/k8s/statefulset_requests_storage/query.rego
  assets/queries/k8s/statefulset_requests_storage/test/negative.yaml
  assets/queries/k8s/statefulset_requests_storage/test/positive.yaml
  assets/queries/k8s/statefulset_requests_storage/test/positive_expected_result.json
  assets/queries/k8s/tiller_service_not_deleted/query.rego
Labels: kubernetes, query

#679 Added initContainers property checking to needed queries
  assets/queries/k8s/allowed_capabilities/query.rego
  assets/queries/k8s/allowed_capabilities/test/positive.yaml
  assets/queries/k8s/allowed_capabilities/test/positive_expected_result.json
  assets/queries/k8s/block_privileged_container/query.rego
  assets/queries/k8s/block_privileged_container/test/positive.yaml
  assets/queries/k8s/block_privileged_container/test/positive_expected_result.json
  assets/queries/k8s/resource_with_allow_privilege_escalation/query.rego
  assets/queries/k8s/resource_with_allow_privilege_escalation/test/positive.yaml
  assets/queries/k8s/resource_with_allow_privilege_escalation/test/positive_expected_result.json
Labels: kubernetes, query

#716 Add non_kube_system_pod_with_host_mount query for Kubernetes
  assets/queries/k8s/non_kube_system_pod_with_host_mount/query.rego
  assets/queries/k8s/non_kube_system_pod_with_host_mount/test/negative.yaml
  assets/queries/k8s/non_kube_system_pod_with_host_mount/test/positive.yaml
  assets/queries/k8s/non_kube_system_pod_with_host_mount/test/positive_expected_result.json
Labels: kubernetes, query

#511 Add CronJob Deadline Not Configured query for Kubernetes
  assets/queries/k8s/cronjob_deadline_not_configured/metadata.json
  assets/queries/k8s/cronjob_deadline_not_configured/query.rego
  assets/queries/k8s/cronjob_deadline_not_configured/test/negative.yaml
  assets/queries/k8s/cronjob_deadline_not_configured/test/positive.yaml
  assets/queries/k8s/cronjob_deadline_not_configured/test/positive_expected_result.json
Labels: kubernetes, query

#612 Feature/add query copy instead of add
  assets/queries/dockerfile/add_instead_of_copy/metadata.json
  assets/queries/dockerfile/add_instead_of_copy/query.rego
  assets/queries/dockerfile/add_instead_of_copy/test/negative.dockerfile
  assets/queries/dockerfile/add_instead_of_copy/test/positive.dockerfile
  assets/queries/dockerfile/add_instead_of_copy/test/positive_expected_result.json
  test/main_test.go
Labels: docker, query

#766 Updating contribution guide and few small changes.
  .github/ISSUE_TEMPLATE/new-feature.md
  docs/CONTRIBUTING.md
  docs/code-of-conduct.md
  docs/getting-started.md
Labels: documentation

#628 Add Kubernetes Service Account Binding is Default query for Terraform #626
  assets/queries/k8s/default_service_account_binding/metadata.json
  assets/queries/k8s/default_service_account_binding/query.rego
  assets/queries/k8s/default_service_account_binding/test/negative.yaml
  assets/queries/k8s/default_service_account_binding/test/positive.yaml
  assets/queries/k8s/default_service_account_binding/test/positive_expected_result.json
Labels: kubernetes, query

#651 Feature/add query iam password has lower letter
  assets/queries/cloudFormation/iam_password_without_lowercase_letter/metadata.json
  assets/queries/cloudFormation/iam_password_without_lowercase_letter/query.rego
  assets/queries/cloudFormation/iam_password_without_lowercase_letter/test/negative.yaml
  assets/queries/cloudFormation/iam_password_without_lowercase_letter/test/positive.yaml
  assets/queries/cloudFormation/iam_password_without_lowercase_letter/test/positive_expected_result.json
Labels: cloudformation, query

#646 Add block_cluster_admin_rolebindingquery for Kubernetes
  assets/queries/k8s/block_cluster_admin_rolebinding/metadata.json
  assets/queries/k8s/block_cluster_admin_rolebinding/query.rego
  assets/queries/k8s/block_cluster_admin_rolebinding/test/negative.yaml
  assets/queries/k8s/block_cluster_admin_rolebinding/test/positive.yaml
  assets/queries/k8s/block_cluster_admin_rolebinding/test/positive_expected_result.json
Labels: kubernetes, query

#643 add hpa_deployments_no_replicas query Closes #642
  assets/queries/k8s/hpa_targeted_deployments_with_configured_replica_count/metadata.json
  assets/queries/k8s/hpa_targeted_deployments_with_configured_replica_count/query.rego
  assets/queries/k8s/hpa_targeted_deployments_with_configured_replica_count/test/negative.yaml
  assets/queries/k8s/hpa_targeted_deployments_with_configured_replica_count/test/positive.yaml
  assets/queries/k8s/hpa_targeted_deployments_with_configured_replica_count/test/positive_expected_result.json
Labels: kubernetes, query

#515 Add default_service_account query Closes #513
  assets/queries/k8s/default_service_account_in_use/metadata.json
  assets/queries/k8s/default_service_account_in_use/query.rego
  assets/queries/k8s/default_service_account_in_use/test/negative.yaml
  assets/queries/k8s/default_service_account_in_use/test/positive.yaml
  assets/queries/k8s/default_service_account_in_use/test/positive_expected_result.json
Labels: kubernetes, query

#593 Add Docker Daemon Socket is Exposed to Containers query for Kubernetes #592
  assets/queries/k8s/kubernetes_docker_socket_volume/metadata.json
  assets/queries/k8s/kubernetes_docker_socket_volume/query.rego
  assets/queries/k8s/kubernetes_docker_socket_volume/test/negative.yaml
  assets/queries/k8s/kubernetes_docker_socket_volume/test/positive.yaml
  assets/queries/k8s/kubernetes_docker_socket_volume/test/positive_expected_result.json
Labels: kubernetes, query

#499 Add containter_security_context Closes #493
  assets/queries/k8s/without_security_context/metadata.json
  assets/queries/k8s/without_security_context/query.rego
  assets/queries/k8s/without_security_context/test/negative.yaml
  assets/queries/k8s/without_security_context/test/positive.yaml
  assets/queries/k8s/without_security_context/test/positive_expected_result.json
Labels: kubernetes, query

#490 Add cpu_requests query Closes #487
  assets/queries/k8s/cpu_requests/metadata.json
  assets/queries/k8s/cpu_requests/query.rego
  assets/queries/k8s/cpu_requests/test/negative.yaml
  assets/queries/k8s/cpu_requests/test/positive.yaml
  assets/queries/k8s/cpu_requests/test/positive_expected_result.json
Labels: kubernetes, query

#621 Add allowed_capabilities_psp Closes #520
  assets/queries/k8s/psp_has_allowed_capabilities/metadata.json
  assets/queries/k8s/psp_has_allowed_capabilities/query.rego
  assets/queries/k8s/psp_has_allowed_capabilities/test/negative.yaml
  assets/queries/k8s/psp_has_allowed_capabilities/test/positive.yaml
  assets/queries/k8s/psp_has_allowed_capabilities/test/positive_expected_result.json
Labels: kubernetes, query

#631 Add allow_privilege_escalation Closes #630
  assets/queries/k8s/privilege_escalation_allowed/metadata.json
  assets/queries/k8s/privilege_escalation_allowed/query.rego
  assets/queries/k8s/privilege_escalation_allowed/test/negative.yaml
  assets/queries/k8s/privilege_escalation_allowed/test/positive.yaml
  assets/queries/k8s/privilege_escalation_allowed/test/positive_expected_result.json
Labels: kubernetes, query

#531 Add query to check if PSP allows containers to share host network. Closes #432
  assets/queries/k8s/psp_containers_share_host_network_namespace/metadata.json
  assets/queries/k8s/psp_containers_share_host_network_namespace/query.rego
  assets/queries/k8s/psp_containers_share_host_network_namespace/test/negative.yaml
  assets/queries/k8s/psp_containers_share_host_network_namespace/test/positive.yaml
  assets/queries/k8s/psp_containers_share_host_network_namespace/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#599 Add query to check if seccomp profile is not configured. Closes #587
  assets/queries/k8s/seccomp_is_not_configured/metadata.json
  assets/queries/k8s/seccomp_is_not_configured/query.rego
  assets/queries/k8s/seccomp_is_not_configured/test/negative.yaml
  assets/queries/k8s/seccomp_is_not_configured/test/positive.yaml
  assets/queries/k8s/seccomp_is_not_configured/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#586 Add Kubernetes Image Host Port is Specified query for Kubernetes #585
  assets/queries/k8s/kubernetes_host_ports/metadata.json
  assets/queries/k8s/kubernetes_host_ports/query.rego
  assets/queries/k8s/kubernetes_host_ports/test/negative.yaml
  assets/queries/k8s/kubernetes_host_ports/test/positive.yaml
  assets/queries/k8s/kubernetes_host_ports/test/positive_expected_result.json
Labels: kubernetes, query

#604 Add query to check if a Pod does not have matching network policy. closes #603
  assets/queries/k8s/pod_network_policy_not_configured/metadata.json
  assets/queries/k8s/pod_network_policy_not_configured/query.rego
  assets/queries/k8s/pod_network_policy_not_configured/test/negative.yaml
  assets/queries/k8s/pod_network_policy_not_configured/test/positive.yaml
  assets/queries/k8s/pod_network_policy_not_configured/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#602 Add query to check if API version is deprecated. Closes #601
  assets/queries/k8s/apiversion_is_deprecated/metadata.json
  assets/queries/k8s/apiversion_is_deprecated/query.rego
  assets/queries/k8s/apiversion_is_deprecated/test/negative.yaml
  assets/queries/k8s/apiversion_is_deprecated/test/positive.yaml
  assets/queries/k8s/apiversion_is_deprecated/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#606 Add query to check if any network policy is not targeting a pod. Closes #605
  assets/queries/k8s/network_policy_not_targeting_pods/metadata.json
  assets/queries/k8s/network_policy_not_targeting_pods/query.rego
  assets/queries/k8s/network_policy_not_targeting_pods/test/negative.yaml
  assets/queries/k8s/network_policy_not_targeting_pods/test/positive.yaml
  assets/queries/k8s/network_policy_not_targeting_pods/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#615 Add query to check if deployment has anti affinity nodes. closes #610
  assets/queries/k8s/deployment_no_podAntiAffinity/metadata.json
  assets/queries/k8s/deployment_no_podAntiAffinity/query.rego
  assets/queries/k8s/deployment_no_podAntiAffinity/test/negative.yaml
  assets/queries/k8s/deployment_no_podAntiAffinity/test/positive.yaml
  assets/queries/k8s/deployment_no_podAntiAffinity/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#616 Add query to check if statefulSet has anti affinity nodes. closes #611
  assets/queries/k8s/statefulSet_no_podAntiAffinity/metadata.json
  assets/queries/k8s/statefulSet_no_podAntiAffinity/query.rego
  assets/queries/k8s/statefulSet_no_podAntiAffinity/test/negative.yaml
  assets/queries/k8s/statefulSet_no_podAntiAffinity/test/positive.yaml
  assets/queries/k8s/statefulSet_no_podAntiAffinity/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#608 Add query to check if metadata labels are invalid. Closes #607
  assets/queries/k8s/metadata_label_is_invalid/metadata.json
  assets/queries/k8s/metadata_label_is_invalid/query.rego
  assets/queries/k8s/metadata_label_is_invalid/test/negative.yaml
  assets/queries/k8s/metadata_label_is_invalid/test/positive.yaml
  assets/queries/k8s/metadata_label_is_invalid/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#618 Add Incorrect Volume Claim Access Mode Read Write Once query for Kubernetes
  assets/queries/k8s/incorrect_volume_claim_access_mode_readWriteOnce/metadata.json
  assets/queries/k8s/incorrect_volume_claim_access_mode_readWriteOnce/query.rego
  assets/queries/k8s/incorrect_volume_claim_access_mode_readWriteOnce/test/negative.yaml
  assets/queries/k8s/incorrect_volume_claim_access_mode_readWriteOnce/test/positive.yaml
  assets/queries/k8s/incorrect_volume_claim_access_mode_readWriteOnce/test/positive_expected_result.json
Labels: kubernetes, query

#614 Feature/add query helthcheck instruction
  assets/queries/dockerfile/healthcheck_instruction_missing/metadata.json
  assets/queries/dockerfile/healthcheck_instruction_missing/query.rego
  assets/queries/dockerfile/healthcheck_instruction_missing/test/negative.dockerfile
  assets/queries/dockerfile/healthcheck_instruction_missing/test/positive.dockerfile
  assets/queries/dockerfile/healthcheck_instruction_missing/test/positive_expected_result.json
Labels: docker, query

#623 Add allow_privilege_escalation_psp Closes #522
  assets/queries/k8s/psp_allows_privilege_escalation/metadata.json
  assets/queries/k8s/psp_allows_privilege_escalation/query.rego
  assets/queries/k8s/psp_allows_privilege_escalation/test/negative.yaml
  assets/queries/k8s/psp_allows_privilege_escalation/test/positive.yaml
  assets/queries/k8s/psp_allows_privilege_escalation/test/positive_expected_result.json
Labels: kubernetes, query

#639 Added new query for AppArmor Config
  assets/queries/k8s/app_armor_config/metadata.json
  assets/queries/k8s/app_armor_config/query.rego
  assets/queries/k8s/app_armor_config/test/negative.yaml
  assets/queries/k8s/app_armor_config/test/positive.yaml
  assets/queries/k8s/app_armor_config/test/positive_expected_result.json
Labels: kubernetes

#654 Feature/query add iam password has symbol
  assets/queries/cloudFormation/iam_password_without_symbol/metadata.json
  assets/queries/cloudFormation/iam_password_without_symbol/query.rego
  assets/queries/cloudFormation/iam_password_without_symbol/test/negative.yaml
  assets/queries/cloudFormation/iam_password_without_symbol/test/positive.yaml
  assets/queries/cloudFormation/iam_password_without_symbol/test/positive_expected_result.json
Labels: cloudformation, query

#659 add query IAM Password Has Number #657
  assets/queries/cloudFormation/iam_password_without_number/metadata.json
  assets/queries/cloudFormation/iam_password_without_number/query.rego
  assets/queries/cloudFormation/iam_password_without_number/test/negative.yaml
  assets/queries/cloudFormation/iam_password_without_number/test/positive.yaml
  assets/queries/cloudFormation/iam_password_without_number/test/positive_expected_result.json
Labels: cloudformation, query

#667 add query IAM Password Has Uppercase Letter #665
  assets/queries/cloudFormation/iam_password_without_uppercase_letter/metadata.json
  assets/queries/cloudFormation/iam_password_without_uppercase_letter/query.rego
  assets/queries/cloudFormation/iam_password_without_uppercase_letter/test/negative.yaml
  assets/queries/cloudFormation/iam_password_without_uppercase_letter/test/positive.yaml
  assets/queries/cloudFormation/iam_password_without_uppercase_letter/test/positive_expected_result.json
Labels: cloudformation, query

#691 Add Containers dont have NET_RAW or ALL as Drop Capabilities query for Terraform #677
  assets/queries/k8s/net_raw_capabilities_disabled/metadata.json
  assets/queries/k8s/net_raw_capabilities_disabled/query.rego
  assets/queries/k8s/net_raw_capabilities_disabled/test/negative.yaml
  assets/queries/k8s/net_raw_capabilities_disabled/test/positive.yaml
  assets/queries/k8s/net_raw_capabilities_disabled/test/positive_expected_result.json
Labels: kubernetes, query

#795 Add NET_RAW Capabilities Disabled Minimized query for Kubernetes #794
  assets/queries/k8s/net_raw_capabilities_disabled_minimized/metadata.json
  assets/queries/k8s/net_raw_capabilities_disabled_minimized/query.rego
  assets/queries/k8s/net_raw_capabilities_disabled_minimized/test/negative.yaml
  assets/queries/k8s/net_raw_capabilities_disabled_minimized/test/positive.yaml
  assets/queries/k8s/net_raw_capabilities_disabled_minimized/test/positive_expected_result.json
Labels: kubernetes, query

#797 Add S3 Bucket Allows Delete Action From All Principals query for AWS CloudFormation
  assets/queries/cloudFormation/s3_bucket_allows_delete_actions_from_all_principals/metadata.json
  assets/queries/cloudFormation/s3_bucket_allows_delete_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_delete_actions_from_all_principals/test/negative.yaml
  assets/queries/cloudFormation/s3_bucket_allows_delete_actions_from_all_principals/test/positive.yaml
  assets/queries/cloudFormation/s3_bucket_allows_delete_actions_from_all_principals/test/positive_expected_result.json
Labels: cloudformation, query

#723 Add S3 Bucket Allows All Actions From All Principals query for CloudFormation
  assets/queries/cloudFormation/s3_bucket_allows_all_actions_from_all_principals/metadata.json
  assets/queries/cloudFormation/s3_bucket_allows_all_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_all_actions_from_all_principals/test/negative.yaml
  assets/queries/cloudFormation/s3_bucket_allows_all_actions_from_all_principals/test/positive.yaml
  assets/queries/cloudFormation/s3_bucket_allows_all_actions_from_all_principals/test/positive_expected_result.json
Labels: cloudformation, query

#734 Add secure_ciphers_disabled query Closes #732
  assets/queries/cloudFormation/secure_ciphers_disabled/metadata.json
  assets/queries/cloudFormation/secure_ciphers_disabled/query.rego
  assets/queries/cloudFormation/secure_ciphers_disabled/test/negative.yaml
  assets/queries/cloudFormation/secure_ciphers_disabled/test/positive.yaml
  assets/queries/cloudFormation/secure_ciphers_disabled/test/positive_expected_result.json
Labels: cloudformation, query

#726 add query Cloud Trail Encrypted Kms #725
  assets/queries/cloudFormation/cloud_trail_not_encrypted/metadata.json
  assets/queries/cloudFormation/cloud_trail_not_encrypted/query.rego
  assets/queries/cloudFormation/cloud_trail_not_encrypted/test/negative.yaml
  assets/queries/cloudFormation/cloud_trail_not_encrypted/test/positive.yaml
  assets/queries/cloudFormation/cloud_trail_not_encrypted/test/positive_expected_result.json
Labels: cloudformation, query

#722 add query Cloud Trail Integrated With Cloud Watch #721
  assets/queries/cloudFormation/cloud_trail_not_integrated_with_cloud_watch/metadata.json
  assets/queries/cloudFormation/cloud_trail_not_integrated_with_cloud_watch/query.rego
  assets/queries/cloudFormation/cloud_trail_not_integrated_with_cloud_watch/test/negative.yaml
  assets/queries/cloudFormation/cloud_trail_not_integrated_with_cloud_watch/test/positive.yaml
  assets/queries/cloudFormation/cloud_trail_not_integrated_with_cloud_watch/test/positive_expected_result.json
Labels: cloudformation, query

#713 Add authentication_without_mfa Closes #711
  assets/queries/terraform/aws/authentication_without_mfa/metadata.json
  assets/queries/terraform/aws/authentication_without_mfa/query.rego
  assets/queries/terraform/aws/authentication_without_mfa/test/negative.tf
  assets/queries/terraform/aws/authentication_without_mfa/test/positive.tf
  assets/queries/terraform/aws/authentication_without_mfa/test/positive_expected_result.json
Labels: aws, query

#809 Add ELB Using Weak Ciphers query for AWS CloudFormation
  assets/queries/cloudFormation/elb_using_weak_ciphers/metadata.json
  assets/queries/cloudFormation/elb_using_weak_ciphers/query.rego
  assets/queries/cloudFormation/elb_using_weak_ciphers/test/negative.yaml
  assets/queries/cloudFormation/elb_using_weak_ciphers/test/positive.yaml
  assets/queries/cloudFormation/elb_using_weak_ciphers/test/positive_expected_result.json
Labels: cloudformation, query

#756 Add query to check if IAM Policy AssumeRole Permissions. Closes #753
  assets/queries/cloudFormation/iam_policy_assumerole_permission_all_services/metadata.json
  assets/queries/cloudFormation/iam_policy_assumerole_permission_all_services/query.rego
  assets/queries/cloudFormation/iam_policy_assumerole_permission_all_services/test/negative.yaml
  assets/queries/cloudFormation/iam_policy_assumerole_permission_all_services/test/positive.yaml
  assets/queries/cloudFormation/iam_policy_assumerole_permission_all_services/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#712 Add encrypted_connection_between_cloudfront_origin query Closes #710 and tf redone
  assets/queries/cloudFormation/encrypted_connection_between_cloudfront_origin/metadata.json
  assets/queries/cloudFormation/encrypted_connection_between_cloudfront_origin/query.rego
  assets/queries/cloudFormation/encrypted_connection_between_cloudfront_origin/test/negative.yaml
  assets/queries/cloudFormation/encrypted_connection_between_cloudfront_origin/test/positive.yaml
  assets/queries/cloudFormation/encrypted_connection_between_cloudfront_origin/test/positive_expected_result.json
  assets/queries/terraform/aws/https_traffic_disabled/test/positive.tf
Labels: cloudformation, query

#774 Implemented S3 Bucket Without SSL Enforcement query #773
  assets/queries/cloudFormation/s3_bucket_without_ssl_enforcement/metadata.json
  assets/queries/cloudFormation/s3_bucket_without_ssl_enforcement/query.rego
  assets/queries/cloudFormation/s3_bucket_without_ssl_enforcement/test/negative.yaml
  assets/queries/cloudFormation/s3_bucket_without_ssl_enforcement/test/positive.yaml
  assets/queries/cloudFormation/s3_bucket_without_ssl_enforcement/test/positive_expected_result.json
  pkg/engine/vulnerability_builder.go
Labels: cloudformation, query

#781 Implemented query S3 Bucket Without Server Side Encryption #780
  assets/queries/cloudFormation/s3_bucket_without_server_side_encryption/metadata.json
  assets/queries/cloudFormation/s3_bucket_without_server_side_encryption/query.rego
  assets/queries/cloudFormation/s3_bucket_without_server_side_encryption/test/negative.yaml
  assets/queries/cloudFormation/s3_bucket_without_server_side_encryption/test/positive.yaml
  assets/queries/cloudFormation/s3_bucket_without_server_side_encryption/test/positive_expected_result.json
Labels: cloudformation, query

#680 ingress_controller_exposes_workload Closes #676
  assets/queries/k8s/ingress_controller_exposes_workload/metadata.json
  assets/queries/k8s/ingress_controller_exposes_workload/query.rego
  assets/queries/k8s/ingress_controller_exposes_workload/test/negative.yaml
  assets/queries/k8s/ingress_controller_exposes_workload/test/positive.yaml
  assets/queries/k8s/ingress_controller_exposes_workload/test/positive_expected_result.json
Labels: kubernetes, query

#779 Add query to check if AWS Support is associated to role or user. Closes #778
  assets/queries/cloudFormation/aws_support_has_no_role/metadata.json
  assets/queries/cloudFormation/aws_support_has_no_role/query.rego
  assets/queries/cloudFormation/aws_support_has_no_role/test/negative.yaml
  assets/queries/cloudFormation/aws_support_has_no_role/test/positive.yaml
  assets/queries/cloudFormation/aws_support_has_no_role/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#777 Add query to check if policy grants full permissions unduly. Closes #772
  assets/queries/cloudFormation/iam_policy_full_permissions/metadata.json
  assets/queries/cloudFormation/iam_policy_full_permissions/query.rego
  assets/queries/cloudFormation/iam_policy_full_permissions/test/negative.yaml
  assets/queries/cloudFormation/iam_policy_full_permissions/test/positive.yaml
  assets/queries/cloudFormation/iam_policy_full_permissions/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#787 Add Cap Drop Any Capabilities query for Kubernetes #786
  assets/queries/k8s/containers_security_context_capabilities_drop_any/metadata.json
  assets/queries/k8s/containers_security_context_capabilities_drop_any/query.rego
  assets/queries/k8s/containers_security_context_capabilities_drop_any/test/negative.yaml
  assets/queries/k8s/containers_security_context_capabilities_drop_any/test/positive.yaml
  assets/queries/k8s/containers_security_context_capabilities_drop_any/test/positive_expected_result.json
Labels: kubernetes, query

#785 Add Cap Drop All Capabilities query for Kubernetes #784
  assets/queries/k8s/containers_security_context_capabilities_drop_all/metadata.json
  assets/queries/k8s/containers_security_context_capabilities_drop_all/query.rego
  assets/queries/k8s/containers_security_context_capabilities_drop_all/test/negative.yaml
  assets/queries/k8s/containers_security_context_capabilities_drop_all/test/positive.yaml
  assets/queries/k8s/containers_security_context_capabilities_drop_all/test/positive_expected_result.json
Labels: kubernetes, query

#847 Add Redshift Cluster Publicly Accessible query for CloudFormation
  assets/queries/cloudFormation/redshift_cluster_publicly_accessible/metadata.json
  assets/queries/cloudFormation/redshift_cluster_publicly_accessible/query.rego
  assets/queries/cloudFormation/redshift_cluster_publicly_accessible/test/negative.yaml
  assets/queries/cloudFormation/redshift_cluster_publicly_accessible/test/positive.yaml
  assets/queries/cloudFormation/redshift_cluster_publicly_accessible/test/positive_expected_result.json
Labels: cloudformation, query

#848 Add alb_listeners_accept_http query for AWS CloudFormation #842
  assets/queries/cloudFormation/alb_listeners_accept_http/metadata.json
  assets/queries/cloudFormation/alb_listeners_accept_http/query.rego
  assets/queries/cloudFormation/alb_listeners_accept_http/test/negative.yaml
  assets/queries/cloudFormation/alb_listeners_accept_http/test/positive.yaml
  assets/queries/cloudFormation/alb_listeners_accept_http/test/positive_expected_result.json
Labels: cloudformation, query

#806 Add ELB Using Insecure Protocols query for AWS CloudFormation
  assets/queries/cloudFormation/elb_using_insecure_protocols/metadata.json
  assets/queries/cloudFormation/elb_using_insecure_protocols/query.rego
  assets/queries/cloudFormation/elb_using_insecure_protocols/test/negative.yaml
  assets/queries/cloudFormation/elb_using_insecure_protocols/test/positive.yaml
  assets/queries/cloudFormation/elb_using_insecure_protocols/test/positive_expected_result.json
Labels: cloudformation, query

#837 Add alb_is_not_integrated_with_waf query for AWS CloudFormation #821
  assets/queries/cloudFormation/alb_is_not_integrated_with_waf/metadata.json
  assets/queries/cloudFormation/alb_is_not_integrated_with_waf/query.rego
  assets/queries/cloudFormation/alb_is_not_integrated_with_waf/test/negative.yaml
  assets/queries/cloudFormation/alb_is_not_integrated_with_waf/test/positive.yaml
  assets/queries/cloudFormation/alb_is_not_integrated_with_waf/test/positive_expected_result.json
Labels: cloudformation, query

#835 Add ECS No Load Balancer Attached query for AWS CloudFormation
  assets/queries/cloudFormation/ecs_no_load_balancer_attached/metadata.json
  assets/queries/cloudFormation/ecs_no_load_balancer_attached/query.rego
  assets/queries/cloudFormation/ecs_no_load_balancer_attached/test/negative.yaml
  assets/queries/cloudFormation/ecs_no_load_balancer_attached/test/positive.yaml
  assets/queries/cloudFormation/ecs_no_load_balancer_attached/test/positive_expected_result.json
Labels: cloudformation, query

#858 Add Run Using Sudo #857
  assets/queries/dockerfile/run_using_sudo/metadata.json
  assets/queries/dockerfile/run_using_sudo/query.rego
  assets/queries/dockerfile/run_using_sudo/test/negative.dockerfile
  assets/queries/dockerfile/run_using_sudo/test/positive.dockerfile
  assets/queries/dockerfile/run_using_sudo/test/positive_expected_result.json
Labels: docker, query

#814 Add query to check if iam user has policies associated. Closes #813
  assets/queries/cloudFormation/iam_user_has_policies/metadata.json
  assets/queries/cloudFormation/iam_user_has_policies/query.rego
  assets/queries/cloudFormation/iam_user_has_policies/test/negative.yaml
  assets/queries/cloudFormation/iam_user_has_policies/test/positive.yaml
  assets/queries/cloudFormation/iam_user_has_policies/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#808 Add query to check if user has too many access keys. closes #804
  assets/queries/cloudFormation/iam_user_too_many_access_keys/metadata.json
  assets/queries/cloudFormation/iam_user_too_many_access_keys/query.rego
  assets/queries/cloudFormation/iam_user_too_many_access_keys/test/negative.yaml
  assets/queries/cloudFormation/iam_user_too_many_access_keys/test/positive.yaml
  assets/queries/cloudFormation/iam_user_too_many_access_keys/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#850 Add kinesis_stream_without_sse Closes #849
  assets/queries/cloudFormation/kinesis_stream_without_sse/metadata.json
  assets/queries/cloudFormation/kinesis_stream_without_sse/query.rego
  assets/queries/cloudFormation/kinesis_stream_without_sse/test/negative.yaml
  assets/queries/cloudFormation/kinesis_stream_without_sse/test/positive.yaml
  assets/queries/cloudFormation/kinesis_stream_without_sse/test/positive_expected_result.json
Labels: aws, cloudformation, query

#693 add query IAM User Policy Virtual MFA #268
  assets/queries/terraform/aws/iam_user_policy_virtual_mfa/metadata.json
  assets/queries/terraform/aws/iam_user_policy_virtual_mfa/query.rego
  assets/queries/terraform/aws/iam_user_policy_virtual_mfa/test/negative.tf
  assets/queries/terraform/aws/iam_user_policy_virtual_mfa/test/positive.tf
  assets/queries/terraform/aws/iam_user_policy_virtual_mfa/test/positive_expected_result.json
Labels: aws, query

#840 Add 'EFS not encrypted with KMS CMK' query for CloudFormation
  assets/queries/cloudFormation/efs_not_encrypted_with_kms_cmk/metadata.json
  assets/queries/cloudFormation/efs_not_encrypted_with_kms_cmk/query.rego
  assets/queries/cloudFormation/efs_not_encrypted_with_kms_cmk/test/negative.yaml
  assets/queries/cloudFormation/efs_not_encrypted_with_kms_cmk/test/positive.yaml
  assets/queries/cloudFormation/efs_not_encrypted_with_kms_cmk/test/positive_expected_result.json
Labels: cloudformation, query

#816 WORKDIR Path Not Absolute #815
  assets/queries/dockerfile/workdir_path_not_absolute/metadata.json
  assets/queries/dockerfile/workdir_path_not_absolute/query.rego
  assets/queries/dockerfile/workdir_path_not_absolute/test/negative.dockerfile
  assets/queries/dockerfile/workdir_path_not_absolute/test/positive.dockerfile
  assets/queries/dockerfile/workdir_path_not_absolute/test/positive_expected_result.json
Labels: docker, query

#856 Add RUN cd Instead Of Workdir #855
  assets/queries/dockerfile/run_command_cd_instead_of_workdir/metadata.json
  assets/queries/dockerfile/run_command_cd_instead_of_workdir/query.rego
  assets/queries/dockerfile/run_command_cd_instead_of_workdir/test/negative.dockerfile
  assets/queries/dockerfile/run_command_cd_instead_of_workdir/test/positive.dockerfile
  assets/queries/dockerfile/run_command_cd_instead_of_workdir/test/positive_expected_result.json
Labels: docker, query

#675 add query IAM Password Has Min Length #674
  assets/queries/cloudFormation/iam_password_without_minimum_length/metadata.json
  assets/queries/cloudFormation/iam_password_without_minimum_length/query.rego
  assets/queries/cloudFormation/iam_password_without_minimum_length/test/negative.yaml
  assets/queries/cloudFormation/iam_password_without_minimum_length/test/positive.yaml
  assets/queries/cloudFormation/iam_password_without_minimum_length/test/positive_expected_result.json
Labels: cloudformation, query

#818 Implemented IAM Policy On User query #817
  assets/queries/cloudFormation/iam_policy_on_user/metadata.json
  assets/queries/cloudFormation/iam_policy_on_user/query.rego
  assets/queries/cloudFormation/iam_policy_on_user/test/negative.yaml
  assets/queries/cloudFormation/iam_policy_on_user/test/positive.yaml
  assets/queries/cloudFormation/iam_policy_on_user/test/positive_expected_result.json
Labels: cloudformation, query

#811 Add redshift_instances_not_encrypted Closes #801
  assets/queries/cloudFormation/redshift_instances_not_encrypted/metadata.json
  assets/queries/cloudFormation/redshift_instances_not_encrypted/query.rego
  assets/queries/cloudFormation/redshift_instances_not_encrypted/test/negative.yaml
  assets/queries/cloudFormation/redshift_instances_not_encrypted/test/positive.yaml
  assets/queries/cloudFormation/redshift_instances_not_encrypted/test/positive_expected_result.json
Labels: cloudformation, query

#861 Add Image Version Not Explicit #860
  assets/queries/dockerfile/image_version_not_explicit/metadata.json
  assets/queries/dockerfile/image_version_not_explicit/query.rego
  assets/queries/dockerfile/image_version_not_explicit/test/negative.dockerfile
  assets/queries/dockerfile/image_version_not_explicit/test/positive.dockerfile
  assets/queries/dockerfile/image_version_not_explicit/test/positive_expected_result.json
Labels: docker, query

#812 Add 'EFS not encrypted' query for CloudFormation
  assets/queries/cloudFormation/efs_not_encrypted/metadata.json
  assets/queries/cloudFormation/efs_not_encrypted/query.rego
  assets/queries/cloudFormation/efs_not_encrypted/test/negative.yaml
  assets/queries/cloudFormation/efs_not_encrypted/test/positive.yaml
  assets/queries/cloudFormation/efs_not_encrypted/test/positive_expected_result.json
Labels: cloudformation, query

#803 Add S3 Bucket Website Host Is Disabled query
  assets/queries/cloudFormation/s3_bucket_website_host_is_disabled/metadata.json
  assets/queries/cloudFormation/s3_bucket_website_host_is_disabled/query.rego
  assets/queries/cloudFormation/s3_bucket_website_host_is_disabled/test/negative.yaml
  assets/queries/cloudFormation/s3_bucket_website_host_is_disabled/test/positive.yaml
  assets/queries/cloudFormation/s3_bucket_website_host_is_disabled/test/positive_expected_result.json
Labels: cloudformation, query

#872 Add 'RDS Backup Retention Period Insufficient' query for CloudFormation
  assets/queries/cloudFormation/rds_backup_retention_period_insufficient/metadata.json
  assets/queries/cloudFormation/rds_backup_retention_period_insufficient/query.rego
  assets/queries/cloudFormation/rds_backup_retention_period_insufficient/test/negative.yaml
  assets/queries/cloudFormation/rds_backup_retention_period_insufficient/test/positive.yaml
  assets/queries/cloudFormation/rds_backup_retention_period_insufficient/test/positive_expected_result.json
Labels: cloudformation, query

#868 Add efs_without_tags query for CloudFormation
  assets/queries/cloudFormation/efs_without_tags/metadata.json
  assets/queries/cloudFormation/efs_without_tags/query.rego
  assets/queries/cloudFormation/efs_without_tags/test/negative.yaml
  assets/queries/cloudFormation/efs_without_tags/test/positive.yaml
  assets/queries/cloudFormation/efs_without_tags/test/positive_expected_result.json
Labels: cloudformation, query

#826 add MAINTAINER Instruction Being Used #825
  assets/queries/dockerfile/maintainer_instruction_being_used/metadata.json
  assets/queries/dockerfile/maintainer_instruction_being_used/query.rego
  assets/queries/dockerfile/maintainer_instruction_being_used/test/negative.dockerfile
  assets/queries/dockerfile/maintainer_instruction_being_used/test/positive.dockerfile
  assets/queries/dockerfile/maintainer_instruction_being_used/test/positive_expected_result.json
Labels: docker, query

#884 Add Auto Scaling Group With No Associated ELB query for AWS CloudFormation
  assets/queries/cloudFormation/auto_scaling_group_with_no_associated_elb/metadata.json
  assets/queries/cloudFormation/auto_scaling_group_with_no_associated_elb/query.rego
  assets/queries/cloudFormation/auto_scaling_group_with_no_associated_elb/test/negative.yaml
  assets/queries/cloudFormation/auto_scaling_group_with_no_associated_elb/test/positive.yaml
  assets/queries/cloudFormation/auto_scaling_group_with_no_associated_elb/test/positive_expected_result.json
Labels: cloudformation, query

#862 Add api_gateway_exposed_to_the_public_internet query for AWS CloudFormation #859
  assets/queries/cloudFormation/api_gateway_exposed_to_the_public_internet/metadata.json
  assets/queries/cloudFormation/api_gateway_exposed_to_the_public_internet/query.rego
  assets/queries/cloudFormation/api_gateway_exposed_to_the_public_internet/test/negative.yaml
  assets/queries/cloudFormation/api_gateway_exposed_to_the_public_internet/test/positive.yaml
  assets/queries/cloudFormation/api_gateway_exposed_to_the_public_internet/test/positive_expected_result.json
Labels: cloudformation, query

#866 Add Sns Topic Should Specify KmsMasterKeyId Attribute query for CloudFormation #865
  assets/queries/cloudFormation/sns_topic_should_specify_kmsMasterKeyId/metadata.json
  assets/queries/cloudFormation/sns_topic_should_specify_kmsMasterKeyId/query.rego
  assets/queries/cloudFormation/sns_topic_should_specify_kmsMasterKeyId/test/negative.yaml
  assets/queries/cloudFormation/sns_topic_should_specify_kmsMasterKeyId/test/positive.yaml
  assets/queries/cloudFormation/sns_topic_should_specify_kmsMasterKeyId/test/positive_expected_result.json
Labels: cloudformation, query

#681 Add ServiceAccount Allows Access Secrets query
  assets/queries/k8s/saTokenSecretQuery/metadata.json
  assets/queries/k8s/saTokenSecretQuery/query.rego
  assets/queries/k8s/saTokenSecretQuery/test/negative.yaml
  assets/queries/k8s/saTokenSecretQuery/test/positive.yaml
  assets/queries/k8s/saTokenSecretQuery/test/positive_expected_result.json
Labels: kubernetes, query

#683 Added new query - RBAC_wildcard
  assets/queries/k8s/RBAC_wildcard/metadata.json
  assets/queries/k8s/RBAC_wildcard/query.rego
  assets/queries/k8s/RBAC_wildcard/test/negative.yaml
  assets/queries/k8s/RBAC_wildcard/test/positive.yaml
  assets/queries/k8s/RBAC_wildcard/test/positive_expected_result.json
Labels: kubernetes, query

#831 Add Service Type is NodePort query for Kubernetes #830
  assets/queries/k8s/service_type_is_nodeport/metadata.json
  assets/queries/k8s/service_type_is_nodeport/query.rego
  assets/queries/k8s/service_type_is_nodeport/test/negative.yaml
  assets/queries/k8s/service_type_is_nodeport/test/positive.yaml
  assets/queries/k8s/service_type_is_nodeport/test/positive_expected_result.json
Labels: kubernetes, query

#750 Added new query for AWS to check geo restriction config
  assets/queries/cloudFormation/geo_restriction_disable/metadata.json
  assets/queries/cloudFormation/geo_restriction_disable/query.rego
  assets/queries/cloudFormation/geo_restriction_disable/test/negative.yaml
  assets/queries/cloudFormation/geo_restriction_disable/test/positive.yaml
  assets/queries/cloudFormation/geo_restriction_disable/test/positive_expected_result.json
Labels: cloudformation, query

#741 Added new query Validate_ACM_Certitificate_DomainName
  assets/queries/cloudFormation/Validate_ACM_Certitificate_DomainName/metadata.json
  assets/queries/cloudFormation/Validate_ACM_Certitificate_DomainName/query.rego
  assets/queries/cloudFormation/Validate_ACM_Certitificate_DomainName/test/negative.yaml
  assets/queries/cloudFormation/Validate_ACM_Certitificate_DomainName/test/positive.yaml
  assets/queries/cloudFormation/Validate_ACM_Certitificate_DomainName/test/positive_expected_result.json
Labels: cloudformation, query

#904 Fix several OPA evaluating queries issues #903
  assets/queries/cloudFormation/ec2_instance_no_iam_role/query.rego
  assets/queries/k8s/app_armor_config/test/positive.yaml
  assets/queries/k8s/app_armor_config/test/positive_expected_result.json
  assets/queries/k8s/containers_run_as_root/query.rego
  assets/queries/k8s/containers_run_with_low_uid/query.rego
  assets/queries/terraform/aws/base64_private_key_is_encoded/query.rego
  assets/queries/terraform/aws/base64_private_key_is_encoded/test/negative.tf
  assets/queries/terraform/aws/base64_shell_script_is_encoded/test/negative.tf
  assets/queries/terraform/aws/cloudfront_logging_is_disabled/test/positive.tf
  assets/queries/terraform/aws/ecs_task_definition_has_password/query.rego
  assets/queries/terraform/aws/ecs_task_definition_network_mode/test/negative.tf
  assets/queries/terraform/aws/ecs_task_definition_network_mode/test/positive.tf
  assets/queries/terraform/aws/ecs_task_definition_network_mode/test/positive_expected_result.json
  assets/queries/terraform/aws/kms_key_with_vulnerable_policy/test/negative.tf
  assets/queries/terraform/aws/s3_bucket_access_allowed_all/test/negative.tf
  assets/queries/terraform/aws/static_websites_found/test/negative.tf
  assets/queries/terraform/aws/static_websites_found/test/positive.tf
  assets/queries/terraform/aws/static_websites_found/test/positive_expected_result.json
Labels: bug

#664 Add statefulsets_headless_service_name query Closes #661
  assets/queries/k8s/statefulsets_without_servicename/metadata.json
  assets/queries/k8s/statefulsets_without_servicename/query.rego
  assets/queries/k8s/statefulsets_without_servicename/test/negative.yaml
  assets/queries/k8s/statefulsets_without_servicename/test/positive.yaml
  assets/queries/k8s/statefulsets_without_servicename/test/positive_expected_result.json
Labels: kubernetes, query

#707 Add S3 Bucket Versioning Not Enabled query
  assets/queries/cloudFormation/s3_bucket_versioning_not_enabled/metadata.json
  assets/queries/cloudFormation/s3_bucket_versioning_not_enabled/query.rego
  assets/queries/cloudFormation/s3_bucket_versioning_not_enabled/test/negative.yaml
  assets/queries/cloudFormation/s3_bucket_versioning_not_enabled/test/positive.yaml
  assets/queries/cloudFormation/s3_bucket_versioning_not_enabled/test/positive_expected_result.json
Labels: cloudformation, query

#843 Add rds_not_encrypted query Closes #841
  assets/queries/cloudFormation/rds_not_encrypted/metadata.json
  assets/queries/cloudFormation/rds_not_encrypted/query.rego
  assets/queries/cloudFormation/rds_not_encrypted/test/negative.yaml
  assets/queries/cloudFormation/rds_not_encrypted/test/positive.yaml
  assets/queries/cloudFormation/rds_not_encrypted/test/positive_expected_result.json
Labels: cloudformation, query

#881 Add Route53 Without Record Set query #879
  assets/queries/cloudFormation/route53_without_record_set/metadata.json
  assets/queries/cloudFormation/route53_without_record_set/query.rego
  assets/queries/cloudFormation/route53_without_record_set/test/negative.yaml
  assets/queries/cloudFormation/route53_without_record_set/test/positive.yaml
  assets/queries/cloudFormation/route53_without_record_set/test/positive_expected_result.json
Labels: cloudformation, query

#880 Add redshift_without_kms_cmk Closes #834
  assets/queries/cloudFormation/redshift_without_kms_cmk/metadata.json
  assets/queries/cloudFormation/redshift_without_kms_cmk/query.rego
  assets/queries/cloudFormation/redshift_without_kms_cmk/test/negative.yaml
  assets/queries/cloudFormation/redshift_without_kms_cmk/test/positive.yaml
  assets/queries/cloudFormation/redshift_without_kms_cmk/test/positive_expected_result.json
Labels: cloudformation, query

#853 Add EC2 Subnet MapPublicIpOnLaunch Is True query
  assets/queries/cloudFormation/ec2_subnet_mapPublicIpOnLaunch_is_true/metadata.json
  assets/queries/cloudFormation/ec2_subnet_mapPublicIpOnLaunch_is_true/query.rego
  assets/queries/cloudFormation/ec2_subnet_mapPublicIpOnLaunch_is_true/test/negative.yaml
  assets/queries/cloudFormation/ec2_subnet_mapPublicIpOnLaunch_is_true/test/positive.yaml
  assets/queries/cloudFormation/ec2_subnet_mapPublicIpOnLaunch_is_true/test/positive_expected_result.json
Labels: cloudformation, query

#846 Add SageMaker Enabling Internet Access query #823
  assets/queries/cloudFormation/sage_maker_enabling_internet_access/metadata.json
  assets/queries/cloudFormation/sage_maker_enabling_internet_access/query.rego
  assets/queries/cloudFormation/sage_maker_enabling_internet_access/test/negative.yaml
  assets/queries/cloudFormation/sage_maker_enabling_internet_access/test/positive.yaml
  assets/queries/cloudFormation/sage_maker_enabling_internet_access/test/positive_expected_result.json
Labels: cloudformation, query

#953 Add ingress_has_cidr_not_recommended Closes #952
  assets/queries/cloudFormation/ingress_has_cidr_not_recommended/metadata.json
  assets/queries/cloudFormation/ingress_has_cidr_not_recommended/query.rego
  assets/queries/cloudFormation/ingress_has_cidr_not_recommended/test/negative.yaml
  assets/queries/cloudFormation/ingress_has_cidr_not_recommended/test/positive.yaml
  assets/queries/cloudFormation/ingress_has_cidr_not_recommended/test/positive_expected_result.json
Labels: cloudformation, query

#704 add Cloud Trail Multi Region #703
  assets/queries/cloudFormation/cloud_trail_multi_region_disabled/metadata.json
  assets/queries/cloudFormation/cloud_trail_multi_region_disabled/query.rego
  assets/queries/cloudFormation/cloud_trail_multi_region_disabled/test/negative.yaml
  assets/queries/cloudFormation/cloud_trail_multi_region_disabled/test/positive.yaml
  assets/queries/cloudFormation/cloud_trail_multi_region_disabled/test/positive_expected_result.json
Labels: cloudformation, query

#743 Feature/add query ecs task definition healthcheck disabled
  assets/queries/cloudFormation/ecs_task_defenition_healthcheck_missing/metadata.json
  assets/queries/cloudFormation/ecs_task_defenition_healthcheck_missing/query.rego
  assets/queries/cloudFormation/ecs_task_defenition_healthcheck_missing/test/negative.yaml
  assets/queries/cloudFormation/ecs_task_defenition_healthcheck_missing/test/positive.yaml
  assets/queries/cloudFormation/ecs_task_defenition_healthcheck_missing/test/positive_expected_result.json
Labels: cloudformation, query

#755 add ECS Task Definition Invalid Cpu or Memory #754
  assets/queries/cloudFormation/ecs_task_definition_invalid_cpu_or_memory/metadata.json
  assets/queries/cloudFormation/ecs_task_definition_invalid_cpu_or_memory/query.rego
  assets/queries/cloudFormation/ecs_task_definition_invalid_cpu_or_memory/test/negative.yaml
  assets/queries/cloudFormation/ecs_task_definition_invalid_cpu_or_memory/test/positive.yaml
  assets/queries/cloudFormation/ecs_task_definition_invalid_cpu_or_memory/test/positive_expected_result.json
Labels: cloudformation, query

#729 add Cloud Trail Log File Validation #728
  assets/queries/cloudFormation/cloud_trail_log_file_validation_disabled/metadata.json
  assets/queries/cloudFormation/cloud_trail_log_file_validation_disabled/query.rego
  assets/queries/cloudFormation/cloud_trail_log_file_validation_disabled/test/negative.yaml
  assets/queries/cloudFormation/cloud_trail_log_file_validation_disabled/test/positive.yaml
  assets/queries/cloudFormation/cloud_trail_log_file_validation_disabled/test/positive_expected_result.json
Labels: cloudformation, query
