Repository Checkmarx/kics, pull requests merged in 2021-02, with the labels that each got.

#1908 added configuration as code for cxflow
  cx.configuration
Labels: CI

#1935 hotfix publish unit tests
  .github/workflows/go-ci-publish-unit-tests.yml
Labels: CI

#1905 Print absolute path for results file #1823
  internal/console/helpers.go
Labels: enhancement, go

#1936 hotfix publish unit tests report
  .github/workflows/go-ci-publish-unit-tests.yml
Labels: CI

#1897 Changed properties var in query CDN Configuration Is Missing
  assets/queries/cloudFormation/cdn_configuration_missing/query.rego
Labels: bug, cloudformation

#1899 Update Unused VPC query for CloudFormation #1898
  assets/queries/cloudFormation/unused_vpc/test/negative.yaml
Labels: cloudformation, enhancement, query

#1902 Update vm_serial_ports_are_enabled Closes #1901
  assets/queries/terraform/gcp/vm_serial_ports_are_enabled/test/negative.tf
  assets/queries/terraform/gcp/vm_serial_ports_are_enabled/test/positive.json
  assets/queries/terraform/gcp/vm_serial_ports_are_enabled/test/positive.tf
  assets/queries/terraform/gcp/vm_serial_ports_are_enabled/test/positive_expected_result.json
Labels: enhancement, query, terraform

#1909 Update private_cluster_is_disabled Closes #1903
  assets/queries/terraform/gcp/private_cluster_is_disabled/metadata.json
  assets/queries/terraform/gcp/private_cluster_is_disabled/query.rego
  assets/queries/terraform/gcp/private_cluster_is_disabled/test/negative.tf
  assets/queries/terraform/gcp/private_cluster_is_disabled/test/positive.tf
  assets/queries/terraform/gcp/private_cluster_is_disabled/test/positive_expected_result.json
  assets/queries/terraform/gcp/private_cluster_is_enabled/test/positive_expected_result.json
Labels: enhancement, query, terraform

#1912 Update os_login_is_disabled query Closes #1904
  assets/queries/terraform/gcp/os_login_enabled/test/positive_expected_result.json
  assets/queries/terraform/gcp/os_login_is_disabled/metadata.json
  assets/queries/terraform/gcp/os_login_is_disabled/query.rego
  assets/queries/terraform/gcp/os_login_is_disabled/test/negative.tf
  assets/queries/terraform/gcp/os_login_is_disabled/test/positive.tf
  assets/queries/terraform/gcp/os_login_is_disabled/test/positive_expected_result.json
Labels: enhancement, query, terraform

#1918 Update 'Block Workload Mounting OS Directory' query for Kubernetes
  assets/queries/k8s/block_workload_mounting_os_dir/query.rego
  assets/queries/k8s/block_workload_mounting_os_dir/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#1939 hotfix for unit tests report
  .github/workflows/go-ci-publish-unit-tests.yml
  .github/workflows/go-ci.yml
Labels: CI

#1878 Added --config flag to kics #1833
  .gitignore
  go.mod
  go.sum
  internal/console/kics.go
  internal/console/scan.go
Labels: enhancement, feature, go

#1885 Support multiple positive and negative sample files for the same query
  assets/queries/cloudFormation/elb_sensitive_port_is_exposed_to_entire_network/test/negative.yaml
  assets/queries/cloudFormation/elb_sensitive_port_is_exposed_to_entire_network/test/negative1.yaml
  assets/queries/cloudFormation/elb_sensitive_port_is_exposed_to_entire_network/test/negative2.yaml
  assets/queries/cloudFormation/elb_sensitive_port_is_exposed_to_entire_network/test/negative3.yaml
  assets/queries/cloudFormation/elb_sensitive_port_is_exposed_to_entire_network/test/positive.yaml
  assets/queries/cloudFormation/elb_sensitive_port_is_exposed_to_entire_network/test/positive1.yaml
  assets/queries/cloudFormation/elb_sensitive_port_is_exposed_to_entire_network/test/positive2.yaml
  assets/queries/cloudFormation/elb_sensitive_port_is_exposed_to_entire_network/test/positive3.yaml
  assets/queries/cloudFormation/elb_sensitive_port_is_exposed_to_entire_network/test/positive4.yaml
  assets/queries/cloudFormation/elb_sensitive_port_is_exposed_to_entire_network/test/positive_expected_result.json
  test/main_test.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: go, safe to test, tests

#1943 hotifix - unit tests PR comment
  .github/workflows/go-ci-publish-unit-tests.yml
Labels: CI

#1944 hotfix - unit tests report PR comment
  .github/workflows/go-ci-publish-unit-tests.yml
Labels: CI

#1949 hotfix publish unit tests report
  .github/workflows/go-ci-publish-unit-tests.yml
Labels: CI

#1950 hotfix unit tests report publisher
  .github/workflows/go-ci-publish-unit-tests.yml
Labels: CI

#1966 CI Hotfix - hiding all old unit tests PR comments
  .github/workflows/go-ci-publish-unit-tests.yml
Labels: CI

#1959 Update Query Samples query for CloudFormation #1913
  assets/queries/cloudFormation/amplify_app_basic_auth_config_password_rule/test/negative.yaml
  assets/queries/cloudFormation/amplify_app_basic_auth_config_password_rule/test/positive.yaml
  assets/queries/cloudFormation/amplify_app_oauth_token_rule/test/negative.yaml
  assets/queries/cloudFormation/amplify_app_oauth_token_rule/test/positive.yaml
  assets/queries/cloudFormation/amplify_branch_basic_auth_config_password_rule/test/negative.yaml
  assets/queries/cloudFormation/amplify_branch_basic_auth_config_password_rule/test/positive.yaml
  assets/queries/cloudFormation/aws_lambda_function_without_tags/test/positive.yaml
  assets/queries/cloudFormation/cloudfront_minimum_protocol_tls_1.2/test/negative.yaml
  assets/queries/cloudFormation/cloudfront_minimum_protocol_tls_1.2/test/positive.yaml
  assets/queries/cloudFormation/dms_endpoint_mongo_db_settings_password_rule/test/negative.yaml
  assets/queries/cloudFormation/dms_endpoint_mongo_db_settings_password_rule/test/positive.yaml
  assets/queries/cloudFormation/dms_endpoint_password_rule/test/negative.yaml
  assets/queries/cloudFormation/dms_endpoint_password_rule/test/positive.yaml
  assets/queries/cloudFormation/docdb_cluster_master_password_in_plaintext/test/negative.yaml
  assets/queries/cloudFormation/docdb_cluster_master_password_in_plaintext/test/positive.yaml
  assets/queries/cloudFormation/docdb_cluster_master_password_in_plaintext/test/positive_expected_result.json
  assets/queries/cloudFormation/neptune_database_cluster_encryption_disabled/test/negative.yaml
  assets/queries/cloudFormation/neptune_database_cluster_encryption_disabled/test/positive.yaml
  assets/queries/cloudFormation/neptune_database_cluster_encryption_disabled/test/positive_expected_result.json
  assets/queries/cloudFormation/rds_backup_retention_period_insufficient/test/negative.yaml
  assets/queries/cloudFormation/rds_backup_retention_period_insufficient/test/positive.yaml
  assets/queries/cloudFormation/sagemaker_notebook_should_specify_kms_key_id/test/negative.yaml
  assets/queries/cloudFormation/sagemaker_notebook_should_specify_kms_key_id/test/positive.yaml
  assets/queries/cloudFormation/sns_topic_should_specify_kms_master_key_id/test/negative.yaml
  assets/queries/cloudFormation/sns_topic_should_specify_kms_master_key_id/test/positive.yaml
Labels: cloudformation, enhancement, query

#1954 Update Docker Samples query for Docker #1952
  assets/queries/dockerfile/changing_default_shell_using_shell_command/test/negative.dockerfile
  assets/queries/dockerfile/changing_default_shell_using_shell_command/test/positive.dockerfile
  assets/queries/dockerfile/missing_zypper_clean/test/negative.dockerfile
  assets/queries/dockerfile/run_using_zypper_update/test/negative.dockerfile
  assets/queries/dockerfile/yum_update_disabled/test/negative.dockerfile
  assets/queries/dockerfile/yum_update_disabled/test/positive.dockerfile
Labels: docker, enhancement, query

#1942 Correcting SearchKey Depth for CloudFormation
  assets/queries/cloudFormation/aws_lambda_function_without_tags/query.rego
  assets/queries/cloudFormation/aws_lambda_function_without_tags/test/positive_expected_result.json
  assets/queries/cloudFormation/aws_lambda_functions_tracing_disabled/query.rego
  assets/queries/cloudFormation/aws_lambda_functions_tracing_disabled/test/positive_expected_result.json
  assets/queries/cloudFormation/elastic_search_domain_encryption_at_rest_disabled/query.rego
  assets/queries/cloudFormation/elastic_search_domain_encryption_at_rest_disabled/test/positive_expected_result.json
  assets/queries/cloudFormation/ingress_with_port_range/query.rego
  assets/queries/cloudFormation/ingress_with_port_range/test/positive_expected_result.json
  assets/queries/cloudFormation/rds_backup_retention_period_insufficient/query.rego
  assets/queries/cloudFormation/rds_backup_retention_period_insufficient/test/positive_expected_result.json
  assets/queries/cloudFormation/rds_db_instance_with_deletion_protection_disabled/query.rego
  assets/queries/cloudFormation/rds_multi_az_deployment_disabled/query.rego
  assets/queries/cloudFormation/rds_multi_az_deployment_disabled/test/positive_expected_result.json
  assets/queries/cloudFormation/sns_topic_should_specify_kms_master_key_id/query.rego
Labels: cloudformation, enhancement, query

#1922 When running scan over a big repo, kics takes too much time to print the feedback to console
  internal/console/helpers/helpers.go
  internal/console/helpers/helpers_test.go
  internal/console/kics.go
  internal/console/scan.go
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/kics/service.go
  pkg/kics/service_test.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: CLI/UI, bug

#1937 Update 'Memory Limits Are Not Defined' and 'Memory Requests Are Not Defined' queries for Kubernetes
  assets/queries/k8s/memory_limits_not_defined/query.rego
  assets/queries/k8s/memory_limits_not_defined/test/positive.yaml
  assets/queries/k8s/memory_limits_not_defined/test/positive_expected_result.json
  assets/queries/k8s/memory_requests_not_defined/query.rego
  assets/queries/k8s/memory_requests_not_defined/test/positive.yaml
  assets/queries/k8s/memory_requests_not_defined/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#1857 Update queries IAM Passwords for CloudFormation
  assets/queries/cloudFormation/iam_password_without_lowercase_letter/query.rego
  assets/queries/cloudFormation/iam_password_without_minimum_length/query.rego
  assets/queries/cloudFormation/iam_password_without_number/query.rego
  assets/queries/cloudFormation/iam_password_without_symbol/query.rego
  assets/queries/cloudFormation/iam_password_without_uppercase_letter/query.rego
Labels: cloudformation

#1888 Add Additional Flags: Include/Exclude Patterns for folders/files - Improve Performance and Accuracy
  internal/console/scan.go
  pkg/source/filesystem.go
  pkg/source/filesystem_test.go
Labels: feature

#1924 Update queries for Kubernetes
  assets/queries/k8s/deployment_no_pod_anti_affinity/query.rego
  assets/queries/k8s/statefulset_no_pod_anti_affinity/query.rego
Labels: enhancement, kubernetes, query

#1946 Correcting typos and mistakes in queries for AWS CloudFormation
  assets/queries/cloudFormation/aws_lambda_functions_with_full_privileges/query.rego
  assets/queries/cloudFormation/ebs_volume_encryption_key_rule/query.rego
  assets/queries/cloudFormation/ebs_volume_encryption_key_rule/test/positive_expected_result.json
  assets/queries/cloudFormation/elasticache_with_disabled_at_rest_encryption/query.rego
  assets/queries/cloudFormation/elasticache_with_disabled_at_rest_encryption/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_acl_allows_read_to_all_users/query.rego
  assets/queries/cloudFormation/sns_topic_without_subscriber/query.rego
  assets/queries/cloudFormation/workspace_without_encryption/query.rego
Labels: cloudformation, enhancement, query

#1967 Corrected source to get libraries path based on queries path flag
  internal/console/scan.go
  pkg/engine/inspector_test.go
  pkg/engine/query/source.go
Labels: bug

#1921 Update GitHub duplicated queries Closes #1916
  assets/queries/terraform/gcp/public_repository_is_enabled/metadata.json
  assets/queries/terraform/gcp/public_repository_is_enabled/query.rego
  assets/queries/terraform/gcp/public_repository_is_enabled/test/negative.tf
  assets/queries/terraform/gcp/public_repository_is_enabled/test/positive.tf
  assets/queries/terraform/gcp/public_repository_is_enabled/test/positive_expected_result.json
  assets/queries/terraform/gcp/repository_is_not_private/metadata.json
  assets/queries/terraform/gcp/repository_is_not_private/query.rego
  assets/queries/terraform/gcp/repository_is_not_private/test/negative.tf
  assets/queries/terraform/gcp/repository_is_not_private/test/positive.tf
  assets/queries/terraform/gcp/repository_is_not_private/test/positive_expected_result.json
  assets/queries/terraform/github/public_repository_is_enabled/metadata.json
  assets/queries/terraform/github/public_repository_is_enabled/test/negative.tf
  assets/queries/terraform/github/public_repository_is_enabled/test/positive.tf
  assets/queries/terraform/github/public_repository_is_enabled/test/positive_expected_result.json
Labels: enhancement, query, terraform

#1926 Update google_project_net_disabled query Closes #1925
  assets/queries/terraform/aws/google_project_net_disabled/metadata.json
  assets/queries/terraform/aws/google_project_net_disabled/test/positive_expected_result.json
  assets/queries/terraform/gcp/google_project_net_disabled/metadata.json
  assets/queries/terraform/gcp/google_project_net_disabled/query.rego
  assets/queries/terraform/gcp/google_project_net_disabled/test/negative.tf
  assets/queries/terraform/gcp/google_project_net_disabled/test/positive.tf
  assets/queries/terraform/gcp/google_project_net_disabled/test/positive_expected_result.json
  assets/queries/terraform/gcp/google_project_with_default_network/metadata.json
  assets/queries/terraform/gcp/google_project_with_default_network/query.rego
  assets/queries/terraform/gcp/google_project_with_default_network/test/negative.tf
  assets/queries/terraform/gcp/google_project_with_default_network/test/positive.tf
  assets/queries/terraform/gcp/google_project_with_default_network/test/positive_expected_result.json
Labels: aws, enhancement, query, terraform

#1956 Validate Kubernetes manifest samples as PR check
  .github/validators/k8s-skip-list
  .github/validators/validate-syntax.py
  .github/workflows/validate-k8s-samples.yml
  .gitignore
  assets/queries/k8s/allowed_capabilities/test/positive.yaml
  assets/queries/k8s/allowed_capabilities/test/positive_expected_result.json
  assets/queries/k8s/allowed_capabilities_sys_admin/test/positive.yaml
  assets/queries/k8s/api_version_is_deprecated/test/negative.yaml
  assets/queries/k8s/api_version_is_deprecated/test/positive.yaml
  assets/queries/k8s/api_version_is_deprecated/test/positive_expected_result.json
  assets/queries/k8s/app_armor_config/test/positive.yaml
  assets/queries/k8s/block_privileged_container/test/positive.yaml
  assets/queries/k8s/cluster_allows_unsafe_sysctls/test/negative.yaml
  assets/queries/k8s/cluster_allows_unsafe_sysctls/test/positive.yaml
  assets/queries/k8s/cluster_allows_unsafe_sysctls/test/positive_expected_result.json
  assets/queries/k8s/containers_security_context_capabilities_drop_all/test/negative.yaml
  assets/queries/k8s/containers_security_context_capabilities_drop_all/test/positive.yaml
  assets/queries/k8s/cpu_requests/test/negative.yaml
  assets/queries/k8s/default_service_account_in_use/test/negative.yaml
  assets/queries/k8s/default_service_account_in_use/test/positive.yaml
  assets/queries/k8s/default_service_account_in_use/test/positive_expected_result.json
  assets/queries/k8s/hpa_targets_a_invalid_object/metadata.json
  assets/queries/k8s/hpa_targets_a_invalid_object/query.rego
  assets/queries/k8s/hpa_targets_a_invalid_object/test/negative.yaml
  assets/queries/k8s/hpa_targets_a_invalid_object/test/positive.yaml
  assets/queries/k8s/hpa_targets_a_invalid_object/test/positive_expected_result.json
  assets/queries/k8s/kubernetes_host_ports/query.rego
  assets/queries/k8s/kubernetes_host_ports/test/positive.yaml
  assets/queries/k8s/kubernetes_host_ports/test/positive_expected_result.json
  assets/queries/k8s/memory_limits_not_defined/test/negative.yaml
  assets/queries/k8s/memory_limits_not_defined/test/positive.yaml
  assets/queries/k8s/memory_limits_not_defined/test/positive_expected_result.json
  assets/queries/k8s/memory_requests_not_defined/test/positive.yaml
  assets/queries/k8s/memory_requests_not_defined/test/positive_expected_result.json
  assets/queries/k8s/network_policy_not_targeting_pods/test/positive.yaml
  assets/queries/k8s/network_policy_not_targeting_pods/test/positive_expected_result.json
  assets/queries/k8s/pod_network_policy_not_configured/test/positive.yaml
  assets/queries/k8s/pod_network_policy_not_configured/test/positive_expected_result.json
  assets/queries/k8s/privilege_escalation_allowed/test/positive.yaml
  assets/queries/k8s/psp_allows_sharing_host_ipc/test/negative.yaml
  assets/queries/k8s/psp_allows_sharing_host_ipc/test/positive.yaml
  assets/queries/k8s/psp_allows_sharing_host_pid/test/negative.yaml
  assets/queries/k8s/psp_allows_sharing_host_pid/test/positive.yaml
  assets/queries/k8s/rbac_wildcard/metadata.json
  assets/queries/k8s/rbac_wildcard/query.rego
  assets/queries/k8s/rbac_wildcard/test/negative.yaml
  assets/queries/k8s/rbac_wildcard/test/positive.yaml
  assets/queries/k8s/rbac_wildcard/test/positive_expected_result.json
  assets/queries/k8s/resource_with_allow_privilege_escalation/test/positive.yaml
  assets/queries/k8s/resource_with_allow_privilege_escalation/test/positive_expected_result.json
  assets/queries/k8s/seccomp_is_not_configured/test/positive.yaml
  assets/queries/k8s/tiller_deployment_is_accessible_within_cluster/test/negative.yaml
  assets/queries/k8s/tiller_deployment_is_accessible_within_cluster/test/positive.yaml
  assets/queries/k8s/tiller_deployment_is_accessible_within_cluster/test/positive_expected_result.json
Labels: CI, kubernetes

#1987 Update README.md and add more release info
  README.md
Labels: documentation

#1997 Update logging_disabled_for_key_vault query Closes #1984
  assets/queries/terraform/azure/logging_disabled_for_key_vault/test/negative.tf
  assets/queries/terraform/azure/logging_disabled_for_key_vault/test/positive.tf
  assets/queries/terraform/azure/logging_disabled_for_key_vault/test/positive_expected_result.json
Labels: azure, enhancement, query, terraform

#1932 Add restricted kinds #1911
  assets/libraries/k8s/library.rego
  assets/queries/k8s/default_namespace/query.rego
  assets/queries/k8s/default_namespace/test/negative.yaml
  assets/queries/k8s/default_namespace/test/positive.yaml
  assets/queries/k8s/default_namespace/test/positive_expected_result.json
  assets/queries/k8s/host_aliases_undefined_or_empty/query.rego
  assets/queries/k8s/host_aliases_undefined_or_empty/test/positive.yaml
  assets/queries/k8s/host_aliases_undefined_or_empty/test/positive_expected_result.json
  assets/queries/k8s/service_account_name_undefined_or_empty/query.rego
  assets/queries/k8s/service_account_name_undefined_or_empty/test/positive.yaml
  assets/queries/k8s/service_account_token_automount_not_disabled/query.rego
  assets/queries/k8s/service_account_token_automount_not_disabled/test/positive.yaml
  assets/queries/k8s/service_account_token_automount_not_disabled/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#1965 Validate dockerfile samples as PR check
  .github/hadolint.yml
  .github/validators/dkr-skip-list
  .github/validators/validate-syntax.py
  .github/workflows/validate-dkr-samples.yml
  assets/queries/dockerfile/add_instead_of_copy/test/negative.dockerfile
  assets/queries/dockerfile/add_instead_of_copy/test/positive.dockerfile
  assets/queries/dockerfile/apt_get_without_yes_flag/test/negative.dockerfile
  assets/queries/dockerfile/copy_2_Args/test/positive.dockerfile
  assets/queries/dockerfile/copy_two_args/metadata.json
  assets/queries/dockerfile/copy_two_args/query.rego
  assets/queries/dockerfile/copy_two_args/test/negative1.dockerfile
  assets/queries/dockerfile/copy_two_args/test/negative2.dockerfile
  assets/queries/dockerfile/copy_two_args/test/positive.dockerfile
  assets/queries/dockerfile/copy_two_args/test/positive_expected_result.json
Labels: CI, docker

#1938 Update vm_csek_encryption_is_disabled query Closes #1934
  assets/queries/terraform/gcp/compute_disk_is_not_encrypted/metadata.json
  assets/queries/terraform/gcp/compute_disk_is_not_encrypted/query.rego
  assets/queries/terraform/gcp/compute_disk_is_not_encrypted/test/negative.tf
  assets/queries/terraform/gcp/compute_disk_is_not_encrypted/test/positive.tf
  assets/queries/terraform/gcp/compute_disk_is_not_encrypted/test/positive_expected_result.json
  assets/queries/terraform/gcp/vm_csek_encryption_is_disabled/metadata.json
  assets/queries/terraform/gcp/vm_csek_encryption_is_disabled/test/negative.tf
  assets/queries/terraform/gcp/vm_csek_encryption_is_disabled/test/positive.tf
  assets/queries/terraform/gcp/vm_csek_encryption_is_disabled/test/positive_expected_result.json
Labels: enhancement, gcp, query, terraform

#1948 Fixed Terraform queries Closes #1947
  assets/libraries/terraform/library.rego
  assets/queries/terraform/aws/http_port_open/query.rego
  assets/queries/terraform/aws/http_port_open/test/negative.tf
  assets/queries/terraform/aws/http_port_open/test/positive.tf
  assets/queries/terraform/aws/http_port_open/test/positive_expected_result.json
  assets/queries/terraform/aws/remote_desktop_port_open/query.rego
  assets/queries/terraform/aws/remote_desktop_port_open/test/negative.tf
  assets/queries/terraform/aws/remote_desktop_port_open/test/positive.tf
  assets/queries/terraform/aws/remote_desktop_port_open/test/positive_expected_result.json
  assets/queries/terraform/aws/sql_analysis_services_port_2383_is_publicly_accessible/metadata.json
  assets/queries/terraform/aws/sql_analysis_services_port_2383_is_publicly_accessible/query.rego
  assets/queries/terraform/aws/sql_analysis_services_port_2383_is_publicly_accessible/test/negative.tf
  assets/queries/terraform/aws/sql_analysis_services_port_2383_is_publicly_accessible/test/positive.tf
  assets/queries/terraform/aws/sql_analysis_services_port_2383_is_publicly_accessible/test/positive_expected_result.json
  assets/queries/terraform/aws/ssh_port_open/query.rego
  assets/queries/terraform/aws/ssh_port_open/test/negative.tf
  assets/queries/terraform/aws/ssh_port_open/test/positive.tf
  assets/queries/terraform/aws/ssh_port_open/test/positive_expected_result.json
Labels: aws, enhancement, query, terraform

#1990 Remodeling queries to be more specific for AWS CloudFormation
  assets/queries/cloudFormation/elb_v2_alb_access_log_disabled/query.rego
  assets/queries/cloudFormation/elb_v2_alb_access_log_disabled/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_without_ssl_in_write_actions/query.rego
Labels: cloudformation, enhancement, query

#2002 Update api_gateway_without_cloudwatch_log query Closes #1999
  assets/queries/terraform/aws/api_gateway_without_cloudwatch_log/test/positive.tf
Labels: aws, enhancement, query, terraform

#2004 Update query "APT-GET Missing '-y' To Avoid Manual Input" for Docker Closes #2003
  assets/queries/dockerfile/apt_get_without_yes_flag/query.rego
Labels: docker, query

#2008 enable building for mac (darwin)
  .goreleaser-nightly.yml
  .goreleaser.yml
Labels: CI

#2009 Update ad_admin_not_configured_for_sql_server query Closes #2005
  assets/queries/terraform/azure/ad_admin_not_configured_for_sql_server/test/positive.tf
  assets/queries/terraform/azure/sql_audit_retention/test/negative.tf
Labels: azure, enhancement, query, terraform

#2014 Adding macOS binaries to nightly releases
  .github/workflows/nightly-release.yml
Labels: CI

#2025 Remove progress from integration tests execution
  .github/workflows/go-ci-integration.yml
Labels: CI, enhancement

#2015 Update iam_policies_allow_all query Closes #2012
  assets/queries/terraform/aws/root_account_has_associated_active_access_keys/test/negative.tf
  assets/queries/terraform/aws/root_account_has_associated_active_access_keys/test/positive.tf
Labels: aws, enhancement, query, terraform

#1988 Adding StringHandling and Correcting queries that don't handle strings for AWS CloudFormation
  assets/queries/cloudFormation/ec2_network_acl_duplicate_rule/query.rego
  assets/queries/cloudFormation/ec2_network_acl_duplicate_rule/test/positive.yaml
  assets/queries/cloudFormation/ec2_network_acl_duplicate_rule/test/positive_expected_result.json
  assets/queries/cloudFormation/ec2_network_acl_protocols/query.rego
  assets/queries/cloudFormation/gamelift_fleet_ec2_inbound_permissions_with_port_range/query.rego
  assets/queries/cloudFormation/gamelift_fleet_ec2_inbound_permissions_with_port_range/test/positive.yaml
  assets/queries/cloudFormation/gamelift_fleet_ec2_inbound_permissions_with_port_range/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2020 Added platform to results output
  pkg/engine/vulnerability_builder.go
  pkg/model/model.go
  pkg/model/summary.go
Labels: feature

#1961 Add Passwords And Secrets In Infrastructure Code common query
  assets/libraries/common/library.rego
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/metadata.json
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/query.rego
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/test/negative1.yaml
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/test/negative2.yaml
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/test/negative3.yaml
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/test/negative4.tf
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/test/negative5.dockerfile
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/test/positive1.yaml
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/test/positive2.yaml
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/test/positive3.yaml
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/test/positive4.tf
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/test/positive5.dockerfile
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/test/positive_expected_result.json
  pkg/engine/inspector.go
  pkg/engine/query/source.go
  pkg/engine/query/source_test.go
  pkg/model/model.go
  test/main_test.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: go, query

#2030 Update AWS Lambda Functions with Full Privileges query for AWS CloudFormation
  assets/queries/cloudFormation/aws_lambda_functions_with_full_privileges/query.rego
Labels: cloudformation, enhancement, query

#2022 Update Containers Running As Root query #2021
  assets/queries/k8s/containers_run_as_root/query.rego
Labels: enhancement, kubernetes, query

#2036 File size limit applied
  pkg/kics/service.go
  pkg/source/filesystem.go
Labels: enhancement, feature, go

#2037 Progress on ComputeSimilarityID refactoring
  internal/console/scan.go
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/engine/similarity_id.go
  pkg/engine/similarity_id_test.go
  pkg/engine/vulnerability_builder.go
  pkg/engine/vulnerability_builder_test.go
  pkg/kics/service.go
  pkg/source/filesystem.go
  test/helpers.go
  test/main_test.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: bug, go, tests

#2043 Run tests on macOS
  .github/workflows/go-ci.yml
Labels: CI, github_actions, tests

#2035 Updated docs to incorporate new features
  docs/about.md
  docs/getting-started.md
  docs/queries.md
  docs/results.md
Labels: documentation

#1900 Update queries for Kubernetes
  .github/workflows/validate-k8s-samples.yml
  assets/libraries/k8s/library.rego
  assets/queries/k8s/allowed_capabilities/query.rego
  assets/queries/k8s/allowed_capabilities_sys_admin/query.rego
  assets/queries/k8s/allowed_capabilities_sys_admin/test/positive.yaml
  assets/queries/k8s/block_privileged_container/query.rego
  assets/queries/k8s/block_privileged_request_pod/query.rego
  assets/queries/k8s/cluster_allows_unsafe_sysctls/query.rego
  assets/queries/k8s/container_cpu_requests_not_equal_limits/query.rego
  assets/queries/k8s/container_memory_requests_not_equal_limits/query.rego
  assets/queries/k8s/container_requests_not_equal_limits/query.rego
  assets/queries/k8s/container_runs_unmasked/query.rego
  assets/queries/k8s/containers_run_as_root/query.rego
  assets/queries/k8s/containers_run_as_root/test/positive.yaml
  assets/queries/k8s/containers_security_context_capabilities_drop_all/query.rego
  assets/queries/k8s/containers_security_context_capabilities_drop_any/query.rego
  assets/queries/k8s/cpu_limits/query.rego
  assets/queries/k8s/cpu_requests/query.rego
  assets/queries/k8s/host_aliases_undefined_or_empty/query.rego
  assets/queries/k8s/image_defined/query.rego
  assets/queries/k8s/image_pull_policy_of_container_is_not_always/query.rego
  assets/queries/k8s/incorrect_volume_claim_access_mode_read_write_once/query.rego
  assets/queries/k8s/ingress_controller_exposes_workload/query.rego
  assets/queries/k8s/kubernetes_dashboard_integration/query.rego
  assets/queries/k8s/kubernetes_host_ports/query.rego
  assets/queries/k8s/kubernetes_image_digest/query.rego
  assets/queries/k8s/limit_capabilities_from_the_container/query.rego
  assets/queries/k8s/memory_limits_not_defined/query.rego
  assets/queries/k8s/memory_requests_not_defined/query.rego
  assets/queries/k8s/net_raw_capabilities_disabled_minimized/query.rego
  assets/queries/k8s/pod_or_container_without_security_context/query.rego
  assets/queries/k8s/privilege_escalation_allowed/query.rego
  assets/queries/k8s/psp_allows_privilege_escalation/query.rego
  assets/queries/k8s/psp_has_allowed_capabilities/query.rego
  assets/queries/k8s/readiness_probe_not_configured/query.rego
  assets/queries/k8s/resource_with_allow_privilege_escalation/query.rego
  assets/queries/k8s/root_container_file_system_not_readonly/query.rego
  assets/queries/k8s/root_containers_admitted/query.rego
  assets/queries/k8s/secrets_as_environment_variables/query.rego
  assets/queries/k8s/service_account_name_undefined_or_empty/query.rego
  assets/queries/k8s/service_does_not_target_pod/query.rego
  assets/queries/k8s/shared_host_ipc_namespace/query.rego
  assets/queries/k8s/shared_host_network_namespace/query.rego
  assets/queries/k8s/shared_host_pid_namespace/query.rego
  assets/queries/k8s/shared_service_account/query.rego
  assets/queries/k8s/statefulsets_without_service_name/query.rego
  assets/queries/k8s/tiller_deployment_is_accessible_within_cluster/query.rego
  assets/queries/k8s/tiller_is_deployed/query.rego
  assets/queries/k8s/volume_mount_with_OS_directory_write_permissions/query.rego
  assets/queries/k8s/volume_mount_with_OS_directory_write_permissions/test/negative.yaml
Labels: enhancement, kubernetes, query

#1951 Update 'contains' parameters in some Docker queries Closes #1915
  assets/queries/dockerfile/update_instruction_alone/query.rego
  assets/queries/dockerfile/yum_clean_all_missing/query.rego
  assets/queries/dockerfile/yum_clean_all_missing/test/negative.dockerfile
  assets/queries/dockerfile/yum_clean_all_missing/test/positive.dockerfile
  assets/queries/dockerfile/yum_clean_all_missing/test/positive_expected_result.json
Labels: docker, query

#2031 Fixed queries with wrong evaluations. Closes #2027
  assets/queries/terraform/aws/port22_in_public_scope/query.rego
  assets/queries/terraform/gcp/cloud_sql_database_has_public_access/query.rego
  assets/queries/terraform/gcp/cloud_sql_database_has_public_access/test/negative.tf
  assets/queries/terraform/gcp/cloud_sql_database_has_public_access/test/positive.tf
  assets/queries/terraform/gcp/cloud_sql_database_has_public_access/test/positive_expected_result.json
  assets/queries/terraform/gcp/using_default_service_account/query.rego
Labels: enhancement, query, terraform

#1996 Update queries with lack of coverage in checking version and flags for Docker Closes #1995
  assets/libraries/dockerfile/library.rego
  assets/queries/dockerfile/gem_install_without_version/query.rego
  assets/queries/dockerfile/gem_install_without_version/test/negative.dockerfile
  assets/queries/dockerfile/gem_install_without_version/test/positive.dockerfile
  assets/queries/dockerfile/gem_install_without_version/test/positive_expected_result.json
  assets/queries/dockerfile/pin_versions_apt_get_delete/query.rego
  assets/queries/dockerfile/pin_versions_apt_get_install/query.rego
  assets/queries/dockerfile/pin_versions_apt_get_install/test/positive.dockerfile
  assets/queries/dockerfile/pin_versions_apt_get_install/test/positive_expected_result.json
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/query.rego
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/test/positive.dockerfile
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/test/positive_expected_result.json
  assets/queries/dockerfile/yum_clean_all_missing/query.rego
  assets/queries/dockerfile/yum_install_allows_manual_input/query.rego
  assets/queries/dockerfile/yum_install_allows_manual_input/test/positive.dockerfile
  assets/queries/dockerfile/yum_install_allows_manual_input/test/positive_expected_result.json
  assets/queries/dockerfile/yum_install_without_version/query.rego
  assets/queries/dockerfile/yum_install_without_version/test/negative.dockerfile
  assets/queries/dockerfile/yum_install_without_version/test/positive.dockerfile
  assets/queries/dockerfile/yum_install_without_version/test/positive_expected_result.json
  assets/queries/dockerfile/zypper_install_without_version/query.rego
  assets/queries/dockerfile/zypper_install_without_version/test/positive.dockerfile
  assets/queries/dockerfile/zypper_install_without_version/test/positive_expected_result.json
Labels: docker, query

#2007 Refactor Service With External Load Balance query #2006
  assets/queries/k8s/service_with_external_load_balance/query.rego
  assets/queries/k8s/service_with_external_load_balance/test/negative.yaml
  assets/queries/k8s/service_with_external_load_balance/test/positive.yaml
  assets/queries/k8s/service_with_external_load_balance/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#2074 Added desciption and category to results json #2059
  pkg/engine/vulnerability_builder.go
  pkg/model/model.go
  pkg/model/summary.go
Labels: enhancement

#1973 Fixed terraform queries with 'MissingAttribute' missing. Closes #1929
  assets/queries/terraform/aws/db_instance_auto_minor_version_upgrade_is_disabled/query.rego
  assets/queries/terraform/aws/db_instance_iam_database_authentication_enabled/query.rego
  assets/queries/terraform/aws/db_instance_storage_not_encrypted/query.rego
  assets/queries/terraform/aws/ebs_volume_snapshot_encrypted/query.rego
  assets/queries/terraform/aws/efs_not_encrypted/query.rego
  assets/queries/terraform/aws/efs_not_encrypted/test/positive_expected_result.json
  assets/queries/terraform/aws/launch_configuration_is_not_encrypted/query.rego
  assets/queries/terraform/aws/launch_configuration_is_not_encrypted/test/positive.tf
  assets/queries/terraform/aws/launch_configuration_is_not_encrypted/test/positive_expected_result.json
  assets/queries/terraform/aws/unprotected_sqs_queue/query.rego
  assets/queries/terraform/aws/unprotected_sqs_queue/test/positive_expected_result.json
  assets/queries/terraform/azure/key_vault_soft_delete_enabled/query.rego
  assets/queries/terraform/gcp/project_wide_ssh_keys_are_enabled/query.rego
Labels: enhancement, query, terraform

#1974 Fixed queries with incorrect information and wrong behavior. Closes #1968
  assets/queries/terraform/aws/google_kms_crypto_key/query.rego
  assets/queries/terraform/aws/google_kms_crypto_key/test/negative.tf
  assets/queries/terraform/aws/google_kms_crypto_key/test/positive.tf
  assets/queries/terraform/azure/email_alerts_are_disabled/metadata.json
  assets/queries/terraform/azure/email_alerts_are_disabled/query.rego
  assets/queries/terraform/azure/email_alerts_are_disabled/test/negative.tf
  assets/queries/terraform/azure/email_alerts_are_disabled/test/positive.tf
  assets/queries/terraform/azure/email_alerts_are_disabled/test/positive_expected_result.json
  assets/queries/terraform/azure/email_alerts_are_enabled/metadata.json
  assets/queries/terraform/azure/geo_redundancy_is_disabled/query.rego
  assets/queries/terraform/azure/geo_redundancy_is_disabled/test/negative.tf
  assets/queries/terraform/azure/geo_redundancy_is_disabled/test/positive.tf
  assets/queries/terraform/azure/geo_redundancy_is_disabled/test/positive_expected_result.json
  assets/queries/terraform/azure/security_center_pricing_tier/metadata.json
  assets/queries/terraform/azure/security_center_pricing_tier/query.rego
  assets/queries/terraform/azure/security_center_pricing_tier/test/negative.tf
  assets/queries/terraform/azure/security_center_pricing_tier/test/positive.tf
  assets/queries/terraform/azure/security_center_pricing_tier/test/positive_expected_result.json
  assets/queries/terraform/azure/security_center_princing_tier/metadata.json
  assets/queries/terraform/azure/security_center_princing_tier/test/positive_expected_result.json
  assets/queries/terraform/gcp/cloud_storage_bucket_logging_not_enabled/query.rego
Labels: bug, enhancement, query, terraform

#2018 Update unknown_port_exposed_to_internet Closes #2017
  assets/queries/terraform/aws/fully_open_ingress/test/positive.tf
  assets/queries/terraform/aws/unknown_port_exposed_to_internet/metadata.json
  assets/queries/terraform/aws/unknown_port_exposed_to_internet/query.rego
  assets/queries/terraform/aws/unknown_port_exposed_to_internet/test/negative.tf
  assets/queries/terraform/aws/unknown_port_exposed_to_internet/test/positive.tf
  assets/queries/terraform/aws/unknown_port_exposed_to_internet/test/positive_expected_result.json
Labels: aws, enhancement, query, terraform

#2026 Fixed queries with results pointing to wrong lines. Closes #2000
  assets/queries/terraform/aws/s3_bucket_without_encryption_at_rest/query.rego
  assets/queries/terraform/aws/s3_bucket_without_encryption_at_rest/test/negative.tf
  assets/queries/terraform/aws/s3_bucket_without_encryption_at_rest/test/positive.tf
  assets/queries/terraform/aws/s3_bucket_without_encryption_at_rest/test/positive_expected_result.json
  assets/queries/terraform/aws/s3_bucket_without_versioning/query.rego
  assets/queries/terraform/gcp/ssh_access_is_unrestricted/query.rego
Labels: enhancement, query, terraform

#2051 Update 'SQS Queue Exposed' query for Ansible
  assets/queries/ansible/aws/sqs_queue_exposed/query.rego
  assets/queries/ansible/aws/sqs_queue_exposed/test/positive.yaml
  assets/queries/ansible/aws/sqs_queue_exposed/test/positive_expected_result.json
Labels: ansible, aws, enhancement, query

#2065 Update S3 Bucket Versioning Not Enabled query for AWS CloudFormation
  assets/queries/cloudFormation/s3_bucket_versioning_not_enabled/query.rego
Labels: cloudformation, enhancement, query

#2023 Update fully_open_ingress query Closes #2019
  assets/queries/terraform/aws/fully_open_ingress/metadata.json
  assets/queries/terraform/aws/fully_open_ingress/query.rego
  assets/queries/terraform/aws/fully_open_ingress/test/negative.tf
  assets/queries/terraform/aws/fully_open_ingress/test/positive.tf
  assets/queries/terraform/aws/fully_open_ingress/test/positive_expected_result.json
Labels: aws, enhancement, query, terraform

#1983 Result improvement: updated keys #1978
  assets/queries/k8s/kubernetes_docker_socket_volume/query.rego
  assets/queries/k8s/kubernetes_image_digest/query.rego
  assets/queries/k8s/limit_capabilities_of_the_psp/query.rego
  assets/queries/k8s/liveness_probe_not_defined/query.rego
  assets/queries/k8s/liveness_probe_not_defined/test/positive_expected_result.json
  assets/queries/k8s/metadata_label_is_invalid/query.rego
  assets/queries/k8s/net_raw_capabilities_disabled/query.rego
  assets/queries/k8s/privilege_escalation_allowed/query.rego
  assets/queries/k8s/psp_has_allowed_capabilities/query.rego
  assets/queries/k8s/rbac_roles_with_read_secrets_permissions/query.rego
  assets/queries/k8s/rbac_wildcard/query.rego
  assets/queries/k8s/root_containers_admitted/query.rego
  assets/queries/k8s/service_type_is_nodeport/query.rego
  assets/queries/k8s/shared_host_network_namespace/query.rego
  assets/queries/k8s/statefulset_requests_storage/query.rego
  assets/queries/k8s/tiller_is_deployed/query.rego
  assets/queries/k8s/tiller_service_not_deleted/query.rego
Labels: enhancement, kubernetes, query

#2073 Update Route Table Changes Without Alarms query for AWS CloudFormation
  assets/queries/cloudFormation/route_table_changes_without_alarms/query.rego
Labels: cloudformation, enhancement, query

#2071 Update NACL Changes Without Alarms query for AWS CloudFormation
  assets/queries/cloudFormation/nacl_changes_without_alarms/query.rego
Labels: cloudformation, enhancement, query

#2068 Update Management Console Without Alarms query for AWS CloudFormation
  assets/queries/cloudFormation/management_console_without_alarms/query.rego
Labels: cloudformation, enhancement, query

#2060 fix bug with curly brackets and rename bad variables #2001
  pkg/engine/vulnerability_builder.go
  pkg/engine/vulnerability_builder_test.go
Labels: bug, enhancement

#2082 Passing version number as ldflags during build
  .github/workflows/go-ci-integration.yml
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
  .goreleaser-nightly.yml
  .goreleaser.yml
  Dockerfile
  internal/console/version.go
  internal/console/version_test.go
Labels: CI

#2084 added configuration file documentation #2062
  docs/configuration-file.md
  mkdocs.yml
Labels: documentation

#1960 Update samples and rules in Kubernetes queries
  assets/queries/k8s/deployment_without_pod_disruption_budget/query.rego
  assets/queries/k8s/deployment_without_pod_disruption_budget/test/negative.yaml
  assets/queries/k8s/deployment_without_pod_disruption_budget/test/positive_expected_result.json
  assets/queries/k8s/service_does_not_target_pod/query.rego
  assets/queries/k8s/service_does_not_target_pod/test/positive.yaml
  assets/queries/k8s/service_does_not_target_pod/test/positive_expected_result.json
  assets/queries/k8s/statefulset_without_pod_disruption_budget/query.rego
  assets/queries/k8s/statefulset_without_pod_disruption_budget/test/negative.yaml
  assets/queries/k8s/statefulset_without_pod_disruption_budget/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#2050 Update query IAM Access Key Is Exposed #2048
  assets/queries/ansible/aws/iam_access_key_is_exposed/query.rego
Labels: ansible, aws, query

#1933 Fixed bugs in contains functions and searchKey in Dockerfile queries
  assets/queries/dockerfile/missing_dnf_clean_all/query.rego
  assets/queries/dockerfile/missing_dnf_clean_all/test/negative.dockerfile
  assets/queries/dockerfile/missing_dnf_clean_all/test/positive.dockerfile
  assets/queries/dockerfile/missing_flag_from_dnf_install/query.rego
  assets/queries/dockerfile/pip_install_keeping_cached_packages/query.rego
  assets/queries/dockerfile/pip_install_keeping_cached_packages/test/positive.dockerfile
  assets/queries/dockerfile/run_utilities_and_posix_commands/query.rego
  assets/queries/dockerfile/run_utilities_and_posix_commands/test/negative.dockerfile
  assets/queries/dockerfile/run_utilities_and_posix_commands/test/positive.dockerfile
Labels: docker, enhancement, query

#2100 Update RDS Backup Retention Period Insufficient query for AWS CloudFormation
  assets/queries/cloudFormation/rds_backup_retention_period_insufficient/query.rego
Labels: cloudformation, enhancement, query

#2097 fixed case sensitive issues with type flag and fixed bug with dup types
  pkg/engine/query/source.go
  pkg/parser/parser.go
  pkg/parser/parser_test.go
Labels: bug, enhancement

#2089 Update Load Balancer SSH Too Exposed query for AWS CloudFormation
  assets/queries/cloudFormation/load_balancer_ssh_is_too_exposed/query.rego
Labels: cloudformation, enhancement, query

#2096 Update Workspace Without Encryption query for AWS CloudFormation
  assets/queries/cloudFormation/workspace_without_encryption/query.rego
Labels: cloudformation, enhancement, query

#2061 Update And Correct RouterTable with Default Routing query for AWS CloudFormation
  assets/queries/cloudFormation/routertable_with_default_routing/query.rego
  assets/queries/cloudFormation/routertable_with_default_routing/test/negative.yaml
  assets/queries/cloudFormation/routertable_with_default_routing/test/positive.yaml
  assets/queries/cloudFormation/routertable_with_default_routing/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2105 Enhanced config flag #2077
  .gitignore
  go.mod
  go.sum
  internal/console/helpers/helpers.go
  internal/console/helpers/helpers_test.go
  internal/console/scan.go
  test/fixtures/config_test/kics.config_hcl
  test/fixtures/config_test/kics.config_js
  test/fixtures/config_test/kics.config_json
  test/fixtures/config_test/kics.config_toml
  test/fixtures/config_test/kics.config_yaml
  test/fixtures/config_test/kics.hcl
  test/fixtures/config_test/kics.js
  test/fixtures/config_test/kics.json
  test/fixtures/config_test/kics.toml
  test/fixtures/config_test/kics.yaml
  test/fixtures/config_test/kics_wrong.js
Labels: enhancement, feature

#2094 Update IAM User With No Group query for AWS CloudFormation
  assets/queries/cloudFormation/iam_user_with_no_group/query.rego
  assets/queries/cloudFormation/iam_user_with_no_group/test/positive.yaml
  assets/queries/cloudFormation/iam_user_with_no_group/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2117 Update S3 Bucket Should Have Bucket Policy query for AWS CloudFormation
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/query.rego
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/test/negative.yaml
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/test/positive.yaml
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2108 Update EC2 Network ACL Duplicate Rule query for AWS CloudFormation
  assets/queries/cloudFormation/ec2_network_acl_duplicate_rule/query.rego
Labels: cloudformation, enhancement, query

#2057 Update key_vault_soft_delete_enabled query Closes #2056
  assets/queries/terraform/azure/key_vault_soft_delete_is_disabled/metadata.json
  assets/queries/terraform/azure/key_vault_soft_delete_is_disabled/query.rego
  assets/queries/terraform/azure/key_vault_soft_delete_is_disabled/test/negative.tf
  assets/queries/terraform/azure/key_vault_soft_delete_is_disabled/test/positive.tf
  assets/queries/terraform/azure/key_vault_soft_delete_is_disabled/test/positive_expected_result.json
Labels: azure, enhancement, query, terraform

#2119 Adding few logos images, and replacijng awesome Donkey logo with a di…
  README.md
  docs/about.md
  docs/architecture.md
  docs/img/favicon.png
  docs/img/logo/Kics-white.png
  docs/img/logo/cropped-favicon.png
  docs/img/logo/kics-black.png
  docs/img/logo/web-logo-white.png
  docs/img/logo/web-logo.png
  docs/index.md
Labels: documentation

#2122 Exclude specific results by similarity ID
  docs/configuration-file.md
  docs/getting-started.md
  internal/console/scan.go
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: enhancement, feature, go

#2124 fixed bug by removing problematic line
  pkg/kics/service.go
Labels: bug

#2127 Counting generic queries with aggregation value on metadata
  assets/queries/ansible/azure/sensitive_port_is_exposed_to_entire_network/metadata.json
  assets/queries/ansible/azure/sensitive_port_is_exposed_to_entire_network/query.rego
  assets/queries/cloudFormation/ec2_sensitive_port_is_publicly_exposed/metadata.json
  assets/queries/cloudFormation/elb_sensitive_port_is_exposed_to_entire_network/metadata.json
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_entire_network/metadata.json
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_small_public_network/metadata.json
  assets/queries/terraform/azure/sensitive_port_is_exposed_to_entire_network/metadata.json
  assets/queries/terraform/azure/sensitive_port_is_exposed_to_small_public_network/metadata.json
  internal/tracker/ci.go
  internal/tracker/ci_test.go
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/engine/query/source.go
  pkg/engine/query/source_test.go
  pkg/model/model.go
  test/fixtures/type-test01/template01/metadata.json
Labels: enhancement, go

#2137 fix bug with empty type flag #2135
  internal/console/scan.go
  pkg/engine/query/source.go
Labels: bug

#2140 Fix yaml config bug
  internal/console/scan.go
Labels: bug

#2138 Print help when provided with configuration file that contains invalid keys
  .gitignore
  internal/console/scan.go
Labels: bug, go

#2147 Update Unused VPC query for AWS CloudFormation
  assets/queries/cloudFormation/unused_vpc/metadata.json
  assets/queries/cloudFormation/vpc_without_attached_subnet/metadata.json
  assets/queries/cloudFormation/vpc_without_attached_subnet/query.rego
  assets/queries/cloudFormation/vpc_without_attached_subnet/test/negative1.yaml
  assets/queries/cloudFormation/vpc_without_attached_subnet/test/negative2.json
  assets/queries/cloudFormation/vpc_without_attached_subnet/test/positive1.yaml
  assets/queries/cloudFormation/vpc_without_attached_subnet/test/positive2.json
  assets/queries/cloudFormation/vpc_without_attached_subnet/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2143 Bump go version to 1.16
  .github/workflows/go-ci-integration.yml
  .github/workflows/go-ci.yml
  .github/workflows/go-coverage.yml
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
  go.mod
Labels: CI, dependencies, go

#2141 List supported platforms command and documentation improvements
  README.md
  docs/configuration-file.md
  docs/getting-started.md
  docs/index.md
  docs/integrations_azurepipelines.md
  docs/integrations_ghactions.md
  docs/integrations_gitlabci.md
  internal/console/scan.go
  pkg/engine/query/source.go
Labels: documentation, enhancement, go

#2151 Removing noisy publish test results
  .github/workflows/go-ci-publish-unit-tests_yml
  .github/workflows/go-ci.yml
  .github/workflows/go-coverage.yml
Labels: CI
