Repository Checkmarx/kics, pull requests merged in 2021-12, with the labels that each got.

#4575 feat(e2e): add tests to validate sonaqube reports
  e2e/cli_test.go
  e2e/fixtures/schemas/result-sonarqube.json
  e2e/fixtures/schemas/sonarqubeLocations.json
  e2e/testcases/e2e-cli-031_scan_report-formats.go
  e2e/testcases/e2e-cli-040_scan_report-formats_validate_outputs.go
Labels: tests

#4568 feat(report): Added JUnit report
  .gitignore
  Makefile
  docs/commands.md
  docs/configuration-file.md
  docs/dockerhub.md
  docs/img/jenkins-junit-overview.png
  docs/img/jenkins-junit-plugin.png
  docs/img/jenkins-junit-result-details.png
  docs/img/jenkins-junit-results-overview.png
  docs/integrations_jenkins.md
  docs/results.md
  e2e/fixtures/assets/scan_help
  internal/console/helpers/helpers.go
  pkg/report/commons.go
  pkg/report/junit.go
  pkg/report/junit_test.go
  pkg/report/model/junit.go
  pkg/report/model/junit_test.go
Labels: feature, go

#4583 fix(core): Fixed negative lines and terminal checking
  go.mod
  internal/console/pre_scan.go
  pkg/engine/inspector_test.go
  pkg/engine/vulnerability_builder.go
  pkg/engine/vulnerability_builder_test.go
Labels: bug, go

#4530 feat(parser): added google deployment manager to platforms
  assets/libraries/googledeploymentmanager.rego
  assets/queries/googleDeploymentManager/not_proper_email_account_in_use/metadata.json
  assets/queries/googleDeploymentManager/not_proper_email_account_in_use/query.rego
  assets/queries/googleDeploymentManager/not_proper_email_account_in_use/test/negative1.yaml
  assets/queries/googleDeploymentManager/not_proper_email_account_in_use/test/positive1.yaml
  assets/queries/googleDeploymentManager/not_proper_email_account_in_use/test/positive_expected_result.json
  docs/platforms.md
  e2e/fixtures/E2E_CLI_013
  e2e/fixtures/assets/scan_help
  go.sum
  internal/constants/constants.go
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  pkg/engine/source/filesystem.go
  pkg/engine/source/filesystem_test.go
  pkg/parser/yaml/parser.go
  pkg/parser/yaml/parser_test.go
  test/fixtures/analyzer_test/ansible.yaml
  test/fixtures/analyzer_test/gdm.yaml
  test/fixtures/analyzer_test/openAPI_test/openAPI.json
  test/fixtures/analyzer_test/openAPI_test/openAPI.yaml
  test/main_test.go
  test/queries_content_test.go
  test/queries_test.go
Labels: feature, go

#4571 feat(query): added "EMR Without VPC" for CloudFormation and Terraform
  assets/queries/cloudFormation/emr_wihout_vpc/metadata.json
  assets/queries/cloudFormation/emr_wihout_vpc/query.rego
  assets/queries/cloudFormation/emr_wihout_vpc/test/negative1.yaml
  assets/queries/cloudFormation/emr_wihout_vpc/test/negative2.json
  assets/queries/cloudFormation/emr_wihout_vpc/test/positive1.yaml
  assets/queries/cloudFormation/emr_wihout_vpc/test/positive2.json
  assets/queries/cloudFormation/emr_wihout_vpc/test/positive_expected_result.json
  assets/queries/terraform/aws/emr_without_vpc/metadata.json
  assets/queries/terraform/aws/emr_without_vpc/query.rego
  assets/queries/terraform/aws/emr_without_vpc/test/negative.tf
  assets/queries/terraform/aws/emr_without_vpc/test/positive.tf
  assets/queries/terraform/aws/emr_without_vpc/test/positive_expected_result.json
Labels: query, cloudformation, terraform

#4532 feat(grpc): added support to gRPC
  Makefile
  assets/libraries/grpc.rego
  assets/queries/grpc/enum_name_not_camel_case/metadata.json
  assets/queries/grpc/enum_name_not_camel_case/query.rego
  assets/queries/grpc/enum_name_not_camel_case/test/negative.proto
  assets/queries/grpc/enum_name_not_camel_case/test/positive.proto
  assets/queries/grpc/enum_name_not_camel_case/test/positive_expected_result.json
  docs/commands.md
  docs/dockerhub.md
  docs/js/custom.js
  docs/platforms.md
  e2e/fixtures/E2E_CLI_010
  e2e/fixtures/E2E_CLI_013
  e2e/fixtures/assets/scan_help
  e2e/fixtures/schemas/result.json
  e2e/fixtures/schemas/resultBoM.json
  go.mod
  go.sum
  internal/constants/constants.go
  pkg/analyzer/analyzer.go
  pkg/engine/source/filesystem.go
  pkg/engine/source/filesystem_test.go
  pkg/model/model.go
  pkg/parser/grpc/converter/converter.go
  pkg/parser/grpc/converter/converter_test.go
  pkg/parser/grpc/parser.go
  pkg/parser/grpc/parser_test.go
  pkg/scan/scan.go
  test/main_test.go
  test/queries_content_test.go
  test/similarity_id_test.go
Labels: feature, query, go, gRPC

#4579 feat(report): added CycloneDX report
  .gitignore
  docs/commands.md
  docs/configuration-file.md
  docs/dockerhub.md
  docs/results.md
  e2e/fixtures/assets/scan_help
  internal/console/helpers/helpers.go
  pkg/report/cyclonedx.go
  pkg/report/cyclonedx_test.go
  pkg/report/model/cyclonedx.go
  pkg/report/model/cyclonedx_test.go
  test/helpers.go
Labels: feature, go

#4570 feat(query): added "EC2 Instance Using Default Security Group" for Ansible, CloudFormation and Terraform
  assets/queries/ansible/aws/ec2_instance_using_default_security_group/metadata.json
  assets/queries/ansible/aws/ec2_instance_using_default_security_group/query.rego
  assets/queries/ansible/aws/ec2_instance_using_default_security_group/test/negative.yaml
  assets/queries/ansible/aws/ec2_instance_using_default_security_group/test/positive1.yaml
  assets/queries/ansible/aws/ec2_instance_using_default_security_group/test/positive2.yaml
  assets/queries/ansible/aws/ec2_instance_using_default_security_group/test/positive_expected_result.json
  assets/queries/cloudFormation/ec2_instance_using_default_security_group/metadata.json
  assets/queries/cloudFormation/ec2_instance_using_default_security_group/query.rego
  assets/queries/cloudFormation/ec2_instance_using_default_security_group/test/negative1.yaml
  assets/queries/cloudFormation/ec2_instance_using_default_security_group/test/negative2.json
  assets/queries/cloudFormation/ec2_instance_using_default_security_group/test/positive1.yaml
  assets/queries/cloudFormation/ec2_instance_using_default_security_group/test/positive2.json
  assets/queries/cloudFormation/ec2_instance_using_default_security_group/test/positive_expected_result.json
  assets/queries/terraform/aws/ec2_instance_using_default_security_group/metadata.json
  assets/queries/terraform/aws/ec2_instance_using_default_security_group/query.rego
  assets/queries/terraform/aws/ec2_instance_using_default_security_group/test/negative1.tf
  assets/queries/terraform/aws/ec2_instance_using_default_security_group/test/negative2.tf
  assets/queries/terraform/aws/ec2_instance_using_default_security_group/test/positive1.tf
  assets/queries/terraform/aws/ec2_instance_using_default_security_group/test/positive2.tf
  assets/queries/terraform/aws/ec2_instance_using_default_security_group/test/positive_expected_result.json
Labels: query, cloudformation, terraform, ansible

#4561 feat(ci): add KICS Scan workflow on PR to master
  .github/workflows/kics-gh-action.yaml
  Dockerfile
Labels: CI

#4540 refactor(query): policies for CloudFormation
  assets/libraries/cloudformation.rego
  assets/queries/cloudFormation/ecr_repository_is_publicly_accessible/query.rego
  assets/queries/cloudFormation/ecr_repository_is_publicly_accessible/test/positive_expected_result.json
  assets/queries/cloudFormation/iam_policies_with_full_privileges/query.rego
  assets/queries/cloudFormation/iam_policies_with_full_privileges/test/positive_expected_result.json
  assets/queries/cloudFormation/iam_policy_grants_assumerole_permission_across_all_services/query.rego
  assets/queries/cloudFormation/iam_policy_grants_assumerole_permission_across_all_services/test/positive_expected_result.json
  assets/queries/cloudFormation/iam_policy_grants_full_permissions/query.rego
  assets/queries/cloudFormation/iam_policy_grants_full_permissions/test/positive_expected_result.json
  assets/queries/cloudFormation/iam_role_allows_all_principals_to_assume/query.rego
  assets/queries/cloudFormation/iam_role_allows_all_principals_to_assume/test/positive_expected_result.json
  assets/queries/cloudFormation/iot_policy_allows_action_as_wildcard/query.rego
  assets/queries/cloudFormation/iot_policy_allows_action_as_wildcard/test/positive_expected_result.json
  assets/queries/cloudFormation/iot_policy_allows_wildcard_resource/query.rego
  assets/queries/cloudFormation/iot_policy_allows_wildcard_resource/test/positive_expected_result.json
  assets/queries/cloudFormation/kms_allows_wildcard_principal/query.rego
  assets/queries/cloudFormation/kms_allows_wildcard_principal/test/positive_expected_result.json
  assets/queries/cloudFormation/kms_key_with_vulnerable_policy/query.rego
  assets/queries/cloudFormation/kms_key_with_vulnerable_policy/test/positive_expected_result.json
  assets/queries/cloudFormation/lambda_functions_with_full_privileges/query.rego
  assets/queries/cloudFormation/s3_bucket_access_to_any_principal/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_delete_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_delete_actions_from_all_principals/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_allows_get_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_get_actions_from_all_principals/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_allows_list_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_list_actions_from_all_principals/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_allows_put_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_put_actions_from_all_principals/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_with_all_permissions/query.rego
  assets/queries/cloudFormation/s3_bucket_with_all_permissions/test/positive_expected_result.json
  assets/queries/cloudFormation/sns_topic_publicity_has_allow_and_not_action_simultaneously/query.rego
  assets/queries/cloudFormation/sns_topic_publicity_has_allow_and_not_action_simultaneously/test/positive_expected_result.json
  assets/queries/cloudFormation/sqs_policy_with_public_access/query.rego
  assets/queries/cloudFormation/sqs_policy_with_public_access/test/positive_expected_result.json
  assets/queries/cloudFormation/sqs_queue_policy_allows_not_action/query.rego
  assets/queries/cloudFormation/sqs_queue_policy_allows_not_action/test/positive_expected_result.json
  assets/queries/cloudFormation/sqs_queue_policy_allows_not_principal/query.rego
  assets/queries/cloudFormation/sqs_queue_policy_allows_not_principal/test/positive_expected_result.json
Labels: query, cloudformation, aws

#4590 feat(query): added "Disk Encryption Disabled" for Google Deployment Manager
  assets/queries/googleDeploymentManager/disk_encryption_disabled/metadata.json
  assets/queries/googleDeploymentManager/disk_encryption_disabled/query.rego
  assets/queries/googleDeploymentManager/disk_encryption_disabled/test/negative1.yaml
  assets/queries/googleDeploymentManager/disk_encryption_disabled/test/negative2.yaml
  assets/queries/googleDeploymentManager/disk_encryption_disabled/test/positive1.yaml
  assets/queries/googleDeploymentManager/disk_encryption_disabled/test/positive2.yaml
  assets/queries/googleDeploymentManager/disk_encryption_disabled/test/positive3.yaml
  assets/queries/googleDeploymentManager/disk_encryption_disabled/test/positive_expected_result.json
Labels: query, gdm

#4595 feat(query): added "Private Cluster Disabled" for Google Deployment Manager
  assets/queries/googleDeploymentManager/private_cluster_disabled/metadata.json
  assets/queries/googleDeploymentManager/private_cluster_disabled/query.rego
  assets/queries/googleDeploymentManager/private_cluster_disabled/test/negative1.yaml
  assets/queries/googleDeploymentManager/private_cluster_disabled/test/positive1.yaml
  assets/queries/googleDeploymentManager/private_cluster_disabled/test/positive2.yaml
  assets/queries/googleDeploymentManager/private_cluster_disabled/test/positive_expected_result.json
Labels: query, gdm

#4594 feat(query): added "IP Forwarding Enabled" for Google Deployment Manager
  assets/queries/googleDeploymentManager/ip_forwarding_enabled/metadata.json
  assets/queries/googleDeploymentManager/ip_forwarding_enabled/query.rego
  assets/queries/googleDeploymentManager/ip_forwarding_enabled/test/negative1.yaml
  assets/queries/googleDeploymentManager/ip_forwarding_enabled/test/positive1.yaml
  assets/queries/googleDeploymentManager/ip_forwarding_enabled/test/positive_expected_result.json
Labels: query, gdm

#4593 feat(query): added "Cloud Storage Bucket Versioning Disabled" for Google Deployment Manager
  assets/queries/ansible/gcp/cloud_storage_bucket_versioning_disabled/metadata.json
  assets/queries/ansible/gcp/cloud_storage_bucket_versioning_disabled/query.rego
  assets/queries/ansible/gcp/cloud_storage_bucket_versioning_disabled/test/negative.yaml
  assets/queries/ansible/gcp/cloud_storage_bucket_versioning_disabled/test/positive.yaml
  assets/queries/ansible/gcp/cloud_storage_bucket_versioning_disabled/test/positive_expected_result.json
  assets/queries/ansible/gcp/object_versioning_not_enabled/test/positive_expected_result.json
  assets/queries/googleDeploymentManager/cloud_storage_bucket_versioning_disabled/metadata.json
  assets/queries/googleDeploymentManager/cloud_storage_bucket_versioning_disabled/query.rego
  assets/queries/googleDeploymentManager/cloud_storage_bucket_versioning_disabled/test/negative1.yaml
  assets/queries/googleDeploymentManager/cloud_storage_bucket_versioning_disabled/test/positive1.yaml
  assets/queries/googleDeploymentManager/cloud_storage_bucket_versioning_disabled/test/positive2.yaml
  assets/queries/googleDeploymentManager/cloud_storage_bucket_versioning_disabled/test/positive_expected_result.json
  assets/queries/terraform/gcp/cloud_storage_bucket_versioning_disabled/metadata.json
  assets/queries/terraform/gcp/cloud_storage_bucket_versioning_disabled/query.rego
  assets/queries/terraform/gcp/cloud_storage_bucket_versioning_disabled/test/negative.tf
  assets/queries/terraform/gcp/cloud_storage_bucket_versioning_disabled/test/positive.tf
  assets/queries/terraform/gcp/cloud_storage_bucket_versioning_disabled/test/positive_expected_result.json
  assets/queries/terraform/gcp/object_versioning_not_enabled/test/positive_expected_result.json
Labels: query, gdm

#4597 fix log error messages polution
  pkg/analyzer/analyzer.go
  pkg/parser/yaml/parser.go
Labels: bug

#4607 fix(report): corrected scan end time in pdf report
  pkg/report/pdf.go
Labels: bug, go

#4600 Update get-metrics.py
  .github/scripts/metrics/get-metrics.py
Labels: CI

#4609 fix(query): refactored query Resource Not Using Tags to lower execution time
  assets/queries/terraform/aws/resource_not_using_tags/query.rego
  e2e/fixtures/schemas/result-junit.json
Labels: enhancement, query, terraform

#4610 fix(query): "Azure Container Registry With No Locks" for Ansible
  assets/queries/ansible/azure/azure_container_registry_with_no_locks/metadata.json
  assets/queries/ansible/azure/azure_container_registry_with_no_locks/query.rego
  assets/queries/ansible/azure/azure_container_registry_with_no_locks/test/negative1.yaml
  assets/queries/ansible/azure/azure_container_registry_with_no_locks/test/negative2.yaml
  assets/queries/ansible/azure/azure_container_registry_with_no_locks/test/positive1.yaml
  assets/queries/ansible/azure/azure_container_registry_with_no_locks/test/positive2.yaml
  assets/queries/ansible/azure/azure_container_registry_with_no_locks/test/positive_expected_result.json
Labels: bug, query, ansible, azure

#4612 feat(query): added "Cloud DNS Without DNSSEC" for Google Deployment Manager
  assets/queries/googleDeploymentManager/cloud_dns_without_dnnsec/metadata.json
  assets/queries/googleDeploymentManager/cloud_dns_without_dnnsec/query.rego
  assets/queries/googleDeploymentManager/cloud_dns_without_dnnsec/test/negative1.yaml
  assets/queries/googleDeploymentManager/cloud_dns_without_dnnsec/test/positive1.yaml
  assets/queries/googleDeploymentManager/cloud_dns_without_dnnsec/test/positive2.yaml
  assets/queries/googleDeploymentManager/cloud_dns_without_dnnsec/test/positive3.yaml
  assets/queries/googleDeploymentManager/cloud_dns_without_dnnsec/test/positive_expected_result.json
Labels: query, gdm

#4613 fix(parser): fixed Dockerfile parser with wrong payload when using arguments (#4591)
  pkg/parser/docker/parser.go
Labels: bug, docker

#4616 feat(query): added "Google Storage Bucket Level Access Disabled" for Google Deployment Manager
  assets/queries/googleDeploymentManager/google_storage_bucket_level_access_disabled/metadata.json
  assets/queries/googleDeploymentManager/google_storage_bucket_level_access_disabled/query.rego
  assets/queries/googleDeploymentManager/google_storage_bucket_level_access_disabled/test/negative1.yaml
  assets/queries/googleDeploymentManager/google_storage_bucket_level_access_disabled/test/positive1.yaml
  assets/queries/googleDeploymentManager/google_storage_bucket_level_access_disabled/test/positive_expected_result.json
  assets/queries/terraform/gcp/google_storage_bucket_level_access_disabled/metadata.json
  assets/queries/terraform/gcp/google_storage_bucket_level_access_disabled/query.rego
  assets/queries/terraform/gcp/google_storage_bucket_level_access_disabled/test/negative.tf
  assets/queries/terraform/gcp/google_storage_bucket_level_access_disabled/test/positive.tf
  assets/queries/terraform/gcp/google_storage_bucket_level_access_disabled/test/positive_expected_result.json
  assets/queries/terraform/gcp/google_storage_bucket_level_access_enabled/test/positive_expected_result.json
Labels: query, gdm

#4614 feat(query): added "DNSSEC Using RSASHA1" for Google Deployment Manager
  assets/queries/googleDeploymentManager/dnssec_using_rsasha1/metadata.json
  assets/queries/googleDeploymentManager/dnssec_using_rsasha1/query.rego
  assets/queries/googleDeploymentManager/dnssec_using_rsasha1/test/negative1.yaml
  assets/queries/googleDeploymentManager/dnssec_using_rsasha1/test/positive1.yaml
  assets/queries/googleDeploymentManager/dnssec_using_rsasha1/test/positive_expected_result.json
Labels: query, gdm

#4615 feat(query): added "Compute Instance Is Publicly Accessible" for Google Deployment Manager
  assets/queries/googleDeploymentManager/compute_instance_is_publicly_accessible/metadata.json
  assets/queries/googleDeploymentManager/compute_instance_is_publicly_accessible/query.rego
  assets/queries/googleDeploymentManager/compute_instance_is_publicly_accessible/test/negative1.yaml
  assets/queries/googleDeploymentManager/compute_instance_is_publicly_accessible/test/positive1.yaml
  assets/queries/googleDeploymentManager/compute_instance_is_publicly_accessible/test/positive_expected_result.json
Labels: query, gdm

#4618 fix(query): deleting searchLine in "Resource Not Using Tags" for Terraform
  assets/queries/terraform/aws/resource_not_using_tags/query.rego
  e2e/fixtures/E2E_CLI_032_RESULT.json
  e2e/fixtures/E2E_CLI_033_RESULT.json
  e2e/testcases/e2e-cli-037_scan_exclude-results_include-queries.go
Labels: query, terraform

#4623 fix(docs): fix docs wrong version
  docs/index.md
Labels: documentation

#4625 update(docs): update Documentation with new logos
  README.md
  docs/img/logo-arm.png
  docs/img/logo-gdm.png
  docs/img/logo-grpc.png
  docs/index.md
Labels: documentation

#4635 fix(query): updated "S3 Bucket Without Enabled MFA Delete" for Terraform
  assets/queries/terraform/aws/s3_bucket_without_enabled_mfa_delete/metadata.json
  assets/queries/terraform/aws/s3_bucket_without_enabled_mfa_delete/query.rego
  assets/queries/terraform/aws/s3_bucket_without_enabled_mfa_delete/test/negative3.tf
  assets/queries/terraform/aws/s3_bucket_without_enabled_mfa_delete/test/negative4.tf
Labels: bug, query, terraform, aws

#4636 fix(query): updated "CloudFront Without Minimum Protocol TLS 1.2" for Ansible, CloudFormation, and Terraform
  assets/libraries/common.rego
  assets/queries/ansible/aws/cloudfront_without_minimum_protocol_tls_1.2/query.rego
  assets/queries/cloudFormation/cloudfront_without_minimum_protocol_tls_1.2/query.rego
  assets/queries/terraform/aws/cloudfront_without_minimum_protocol_tls_1.2/query.rego
  assets/queries/terraform/aws/cloudfront_without_minimum_protocol_tls_1.2/test/positive.tf
  assets/queries/terraform/aws/cloudfront_without_minimum_protocol_tls_1.2/test/positive1.tf
  assets/queries/terraform/aws/cloudfront_without_minimum_protocol_tls_1.2/test/positive2.tf
  assets/queries/terraform/aws/cloudfront_without_minimum_protocol_tls_1.2/test/positive3.tf
  assets/queries/terraform/aws/cloudfront_without_minimum_protocol_tls_1.2/test/positive4.tf
  assets/queries/terraform/aws/cloudfront_without_minimum_protocol_tls_1.2/test/positive_expected_result.json
Labels: bug, query, cloudformation, terraform, ansible, aws

#4632 feat(bom): split encryption from accessibility
  assets/libraries/common.rego
  assets/queries/terraform/aws_bom/ebs/query.rego
  assets/queries/terraform/aws_bom/efs/query.rego
  assets/queries/terraform/aws_bom/efs/test/positive2.tf
  assets/queries/terraform/aws_bom/efs/test/positive_expected_result.json
  assets/queries/terraform/aws_bom/elasticache/query.rego
  assets/queries/terraform/aws_bom/mq/query.rego
  assets/queries/terraform/aws_bom/mq/test/positive2.tf
  assets/queries/terraform/aws_bom/msk/query.rego
  assets/queries/terraform/aws_bom/s3_bucket/query.rego
  assets/queries/terraform/aws_bom/s3_bucket/test/positive8.tf
  assets/queries/terraform/aws_bom/sns/query.rego
  assets/queries/terraform/aws_bom/sns/test/positive5.tf
  assets/queries/terraform/aws_bom/sqs/query.rego
  assets/queries/terraform/aws_bom/sqs/test/positive5.tf
  test/queries_test.go
Labels: terraform

#4620 feat(query): added "Shielded VM Disabled" for Google Deployment Manager
  assets/queries/googleDeploymentManager/shielded_vm_disabled/metadata.json
  assets/queries/googleDeploymentManager/shielded_vm_disabled/query.rego
  assets/queries/googleDeploymentManager/shielded_vm_disabled/test/negative1.yaml
  assets/queries/googleDeploymentManager/shielded_vm_disabled/test/positive1.yaml
  assets/queries/googleDeploymentManager/shielded_vm_disabled/test/positive2.yaml
  assets/queries/googleDeploymentManager/shielded_vm_disabled/test/positive_expected_result.json
Labels: query, gdm

#4619 feat(bom): added SQS Queue Policy
  assets/queries/terraform/aws_bom/sns/query.rego
  assets/queries/terraform/aws_bom/sqs/query.rego
  assets/queries/terraform/aws_bom/sqs/test/positive6.tf
  assets/queries/terraform/aws_bom/sqs/test/positive_expected_result.json
Labels: terraform, aws

#4638 fix: deleted extraction folder after KICS scan
  pkg/scan/path_utils.go
  pkg/scan/scan.go
Labels: bug, go

#4628 feat(ci): added statistics action
  .github/scripts/metrics/get_metrics.py
  .github/scripts/statistics/get_statistics.py
  .github/scripts/statistics/requirements.txt
  .github/workflows/go-ci-metrics.yaml
  .github/workflows/statistics.yaml
Labels: CI
