Repository Checkmarx/kics, pull requests merged in 2021-07, with the labels that each got.

#3812 fix: wrong version github action workflow example
  examples/github/kics-docker-runner-sarif.yaml
Labels: documentation

#3791 test(e2e): html report validation
  cx.configuration
  e2e/cli_test.go
  e2e/fixtures/E2E_CLI_031_RESULT.html
  e2e/fixtures/E2E_CLI_040_RESULT.html
  e2e/fixtures/samples/positive.yaml
  e2e/fixtures/schemas/result.json
  e2e/utils/helper.go
  e2e/utils/html.go
  e2e/utils/json.go
  pkg/report/commons.go
  pkg/report/template/html/report.tmpl
Labels: tests

#3815 feat(query): "IAM Group Without Users" for Ansible, CloudFormation, and Terraform (Closes #3814)
  assets/queries/ansible/aws/iam_group_without_users/metadata.json
  assets/queries/ansible/aws/iam_group_without_users/query.rego
  assets/queries/ansible/aws/iam_group_without_users/test/negative.yaml
  assets/queries/ansible/aws/iam_group_without_users/test/positive1.yaml
  assets/queries/ansible/aws/iam_group_without_users/test/positive2.yaml
  assets/queries/ansible/aws/iam_group_without_users/test/positive_expected_result.json
  assets/queries/cloudFormation/iam_group_without_users/metadata.json
  assets/queries/cloudFormation/iam_group_without_users/query.rego
  assets/queries/cloudFormation/iam_group_without_users/test/negative1.yaml
  assets/queries/cloudFormation/iam_group_without_users/test/negative2.json
  assets/queries/cloudFormation/iam_group_without_users/test/positive1.yaml
  assets/queries/cloudFormation/iam_group_without_users/test/positive2.json
  assets/queries/cloudFormation/iam_group_without_users/test/positive_expected_result.json
  assets/queries/terraform/aws/iam_group_without_users/metadata.json
  assets/queries/terraform/aws/iam_group_without_users/query.rego
  assets/queries/terraform/aws/iam_group_without_users/test/negative.tf
  assets/queries/terraform/aws/iam_group_without_users/test/positive.tf
  assets/queries/terraform/aws/iam_group_without_users/test/positive_expected_result.json
Labels: ansible, cloudformation, query, terraform

#3818 feat(query): Added SNS Topic Not Encrypted query for terraform
  assets/queries/terraform/aws/sns_topic_not_encrypted/metadata.json
  assets/queries/terraform/aws/sns_topic_not_encrypted/query.rego
  assets/queries/terraform/aws/sns_topic_not_encrypted/test/negative.tf
  assets/queries/terraform/aws/sns_topic_not_encrypted/test/positive1.tf
  assets/queries/terraform/aws/sns_topic_not_encrypted/test/positive2.tf
  assets/queries/terraform/aws/sns_topic_not_encrypted/test/positive_expected_result.json
Labels: query, terraform

#3816 feat(query): Added Security Group Not Used query for terraform
  assets/queries/terraform/aws/security_groups_not_used/metadata.json
  assets/queries/terraform/aws/security_groups_not_used/query.rego
  assets/queries/terraform/aws/security_groups_not_used/test/negative1.tf
  assets/queries/terraform/aws/security_groups_not_used/test/positive1.tf
  assets/queries/terraform/aws/security_groups_not_used/test/positive_expected_result.json
Labels: query, terraform

#3822 docs: release checklist
  docs/release_checklist.md
Labels: documentation

#3821 chore: changing the order of the license information
  LICENSE
Labels: documentation

#3826 ci: sonarcloud scan branch
  .github/workflows/sonarcloud-scan-branch.yml
Labels: CI

#3825 fix(general): Fixed some sonar issues
  e2e/fixtures/E2E_CLI_031_RESULT.html
  e2e/fixtures/E2E_CLI_040_RESULT.html
  internal/console/scan.go
  pkg/report/template/html/report.tmpl
  sonar-project.properties
Labels: go

#3813 docs: updating docs theme and logo
  README.md
  docs/about.md
  docs/css/custom.css
  docs/img/kics-hat-docs-header-dark.png
  docs/img/kics-hat-docs-header-light.png
  docs/img/logo/kics-hat-dark.png
  docs/img/logo/kics-hat-dark.svg
  docs/img/logo/kics-hat-white.png
  docs/img/logo/kics-hat-white.svg
  docs/img/logo/kics-logo-docs.png
  docs/index.md
  docs/js/custom.js
  mkdocs.yml
Labels: documentation

#3817 docs: usage update
  docs/dockerhub.md
Labels: documentation

#3835 fix(query): Updated npm query to skip flag parameters
  assets/queries/dockerfile/npm_install_without_pinned_version/query.rego
  assets/queries/dockerfile/npm_install_without_pinned_version/test/negative.dockerfile
  assets/queries/dockerfile/npm_install_without_pinned_version/test/positive.dockerfile
  assets/queries/dockerfile/npm_install_without_pinned_version/test/positive_expected_result.json
Labels: accuracy, docker, query

#3828 fix(query): changed search key from Using Default Namespace query to be more accurate
  assets/queries/k8s/using_default_namespace/query.rego
  assets/queries/k8s/using_default_namespace/test/negative1.yaml
  assets/queries/k8s/using_default_namespace/test/positive1.yaml
  assets/queries/k8s/using_default_namespace/test/positive_expected_result.json
Labels: accuracy, kubernetes, query

#3834 fix(core): detect line checking first term when multiple terms exists
  pkg/detector/helper.go
Labels: accuracy, go, query

#3837 Revert "build(deps): bump github.com/open-policy-agent/opa from 0.28.0 to 0.30.1"
  go.mod
  go.sum
Labels: bug

#3808 feat(query): add --input-data option
  assets/libraries/common/library.rego
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/data.json
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/query.rego
  docs/commands.md
  docs/dockerhub.md
  e2e/fixtures/assets/scan_help
  internal/console/scan.go
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/engine/mock/source.go
  pkg/engine/source/filesystem.go
  pkg/engine/source/filesystem_test.go
  pkg/engine/source/source.go
  pkg/model/model.go
  pkg/scanner/scanner_test.go
  test/fixtures/input_data/merge.json
  test/fixtures/input_data/test.json
  test/main_test.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: feature, go

#3745 feat(engine): parametrized paths resolution with url_handler.go
  Dockerfile
  docs/running-kics.md
  go.mod
  go.sum
  internal/console/helpers/helpers.go
  internal/console/helpers/helpers_test.go
  internal/console/scan.go
  mkdocs.yml
  pkg/builder/parser/tag/tag_parser.go
  pkg/builder/writer/rego.go
  pkg/detector/helper.go
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/engine/provider/extract.go
  pkg/engine/provider/extract_test.go
  pkg/engine/provider/filesystem_test.go
  pkg/engine/provider/zipprovider.go
  pkg/engine/provider/zipprovider_test.go
  pkg/engine/vulnerability_builder.go
  pkg/kics/service.go
  pkg/kics/service_test.go
  pkg/model/model.go
  pkg/model/summary.go
  pkg/model/summary_test.go
  pkg/progress/circle/circle_progress.go
  pkg/progress/circle/circle_progress_test.go
  pkg/progress/counter/counter_progress.go
  pkg/progress/counter/counter_progress_test.go
  pkg/progress/progress.go
  pkg/progress/progress_test.go
  pkg/report/pdf.go
  pkg/scanner/scanner.go
  pkg/scanner/scanner_test.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: feature, go

#3857 docs(integrations): updating integration docs for `--output-path`
  Dockerfile.debian
  docs/integrations_azurepipelines.md
  docs/integrations_bitbucketpipelines.md
  docs/integrations_circleci.md
  docs/integrations_ghactions.md
  docs/integrations_gitlabci.md
  docs/integrations_jenkins.md
  examples/azure-pipelines/azure-pipelines-json.yaml
  examples/azure-pipelines/azure-pipelines-sarif.yaml
  examples/azure-pipelines/azure-pipelines.yaml
  examples/bitbucket/bitbucket-pipelines.yaml
  examples/circleci/config.yaml
  examples/gitlab/KICS.gitlabci.yaml
  examples/gitlab/KICS.v1.gitlabci.yaml
  examples/jenkins/agent-docker-html-report-declarative.jenkinsfile
Labels: documentation

#3853 feat(query): Added Variable Without Type for terraform
  .github/scripts/samples-linters/ignore-list/terraform
  assets/queries/terraform/general/variable_without_type/metadata.json
  assets/queries/terraform/general/variable_without_type/query.rego
  assets/queries/terraform/general/variable_without_type/test/negative1.tf
  assets/queries/terraform/general/variable_without_type/test/positive1.tf
  assets/queries/terraform/general/variable_without_type/test/positive2.tf
  assets/queries/terraform/general/variable_without_type/test/positive3.tf
  assets/queries/terraform/general/variable_without_type/test/positive_expected_result.json
Labels: query, terraform

#3858 docs(query): Added docs for `input-data` flag
  docs/creating-queries.md
  docs/running-kics.md
Labels: documentation

#3855 docs(catalog): split query list per subplatform
  .github/scripts/docs-generator/docs-generator.py
  .github/scripts/docs-generator/templates/general_template.md
  .github/scripts/docs-generator/templates/platform_template.md
  docs/queries/all-queries.md
  docs/queries/ansible-queries.md
  docs/queries/cloudformation-queries.md
  docs/queries/common-queries.md
  docs/queries/dockerfile-queries.md
  docs/queries/kubernetes-queries.md
  docs/queries/openapi-queries.md
  docs/queries/terraform-queries.md
Labels: CI, documentation

#3863 docs: fixing gitlab examples
  docs/integrations_gitlabci.md
  examples/gitlab/KICS.gitlabci.yaml
  examples/gitlab/KICS.v1.gitlabci.yaml
Labels: documentation

#3866 fix(engine): fixed go-getter not returning relative path on windows
  pkg/model/summary.go
Labels: bug

#3877 feat(e2e) better readability in error messages in e2e tests
  e2e/cli_test.go
  e2e/utils/json.go
Labels: tests

#3886 fix(query): Fix Passwords query FN
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/query.rego
Labels: accuracy, bug, query

#3880 fix(Dockerfile): kics go-getter integration not working inside docker container #3878
  .dockerignore
  .github/workflows/go-ci-integration.yml
  .github/workflows/release-dkr-image-for-tag.yml
  .github/workflows/release-dkr-image.yml
  Dockerfile
  Dockerfile.alpine
  Dockerfile.debian
Labels: bug

#3883 fix: disable crash report variable name
  .github/workflows/go-ci-integration.yml
  docs/commands.md
  internal/console/kics.go
  internal/constants/constants.go
Labels: documentation, go

#3890 bugfix(docs): fixed CSV export on queries page
  docs/js/custom.js
Labels: documentation

#3898 fix: nightly build docker push
  .github/workflows/release-nightly.yml
Labels: CI, bug

#3907 fix: fixing accidentally removed aggregation metadata
  assets/queries/cloudFormation/ec2_sensitive_port_is_publicly_exposed/metadata.json
  assets/queries/cloudFormation/elb_sensitive_port_is_exposed_to_entire_network/metadata.json
  assets/queries/terraform/aws/workspaces_workspace_volume_not_encrypted/metadata.json
Labels: bug

#3908 bugfix(parser): Fixed issue when trying to parse invalid variable
  pkg/parser/terraform/converter/default.go
Labels: bug, go

#3887 feat(parser): Added terraform functions on terraform parser
  .gitignore
  pkg/parser/terraform/converter/default.go
  pkg/parser/terraform/converter/default_test.go
  pkg/parser/terraform/functions/default.go
Labels: feature, go, terraform

#3914 feat(parser): Added Azure Resource Manager query preparations
  assets/libraries/azureresourcemanager/library.rego
  assets/queries/azureResourceManager/sample_query/metadata.json
  assets/queries/azureResourceManager/sample_query/query.rego
  assets/queries/azureResourceManager/sample_query/test/negative.json
  assets/queries/azureResourceManager/sample_query/test/positive.json
  assets/queries/azureResourceManager/sample_query/test/positive_expected_result.json
  docs/commands.md
  docs/dockerhub.md
  e2e/fixtures/E2E_CLI_010
  e2e/fixtures/E2E_CLI_013
  e2e/fixtures/assets/scan_help
  e2e/fixtures/schemas/result.json
  e2e/utils/html.go
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  pkg/engine/mock/source.go
  pkg/engine/source/filesystem.go
  pkg/engine/source/filesystem_test.go
  pkg/parser/json/parser.go
  pkg/parser/json/parser_test.go
  test/fixtures/analyzer_test/azureResourceManager.json
  test/main_test.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: feature, go, query

#3915 feat(query): Added Phone Number Not Set For Security Contacts query for ARM
  assets/queries/azureResourceManager/phone_number_not_set_security_contacts/metadata.json
  assets/queries/azureResourceManager/phone_number_not_set_security_contacts/query.rego
  assets/queries/azureResourceManager/phone_number_not_set_security_contacts/test/negative.json
  assets/queries/azureResourceManager/phone_number_not_set_security_contacts/test/positive.json
  assets/queries/azureResourceManager/phone_number_not_set_security_contacts/test/positive_expected_result.json
  assets/queries/azureResourceManager/sample_query/metadata.json
  assets/queries/azureResourceManager/sample_query/query.rego
  assets/queries/azureResourceManager/sample_query/test/negative.json
  assets/queries/azureResourceManager/sample_query/test/positive.json
  assets/queries/azureResourceManager/sample_query/test/positive_expected_result.json
Labels: arm, query

#3929 feat: add query 'AKS Cluster RBAC Disabled' for ARM
  assets/libraries/common/library.rego
  assets/queries/azureResourceManager/aks_cluster_rbac_disabled/metadata.json
  assets/queries/azureResourceManager/aks_cluster_rbac_disabled/query.rego
  assets/queries/azureResourceManager/aks_cluster_rbac_disabled/test/negative.json
  assets/queries/azureResourceManager/aks_cluster_rbac_disabled/test/positive1.json
  assets/queries/azureResourceManager/aks_cluster_rbac_disabled/test/positive2.json
  assets/queries/azureResourceManager/aks_cluster_rbac_disabled/test/positive_expected_result.json
  assets/queries/azureResourceManager/phone_number_not_set_security_contacts/query.rego
Labels: arm, query

#3944 Added 'Package Cx' usage reminder
  docs/creating-queries.md
Labels: documentation

#3918 feat(query): Added Azure Instance Using Basic Authentication for ARM
  assets/queries/azureResourceManager/azure_instance_using_basic_authentication/metadata.json
  assets/queries/azureResourceManager/azure_instance_using_basic_authentication/query.rego
  assets/queries/azureResourceManager/azure_instance_using_basic_authentication/test/negative1.json
  assets/queries/azureResourceManager/azure_instance_using_basic_authentication/test/negative2.json
  assets/queries/azureResourceManager/azure_instance_using_basic_authentication/test/positive1.json
  assets/queries/azureResourceManager/azure_instance_using_basic_authentication/test/positive2.json
  assets/queries/azureResourceManager/azure_instance_using_basic_authentication/test/positive_expected_result.json
Labels: arm, query

#3920 feat(query): Added Azure Managed Disk Without Encryption for ARM
  assets/queries/azureResourceManager/azure_managed_disk_without_encryption/metadata.json
  assets/queries/azureResourceManager/azure_managed_disk_without_encryption/query.rego
  assets/queries/azureResourceManager/azure_managed_disk_without_encryption/test/negative1.json
  assets/queries/azureResourceManager/azure_managed_disk_without_encryption/test/positive1.json
  assets/queries/azureResourceManager/azure_managed_disk_without_encryption/test/positive2.json
  assets/queries/azureResourceManager/azure_managed_disk_without_encryption/test/positive_expected_result.json
Labels: arm, query

#3925 feat(query): Added Standard Price Is Not Selected query for ARM
  assets/queries/azureResourceManager/standard_price_not_selected/metadata.json
  assets/queries/azureResourceManager/standard_price_not_selected/query.rego
  assets/queries/azureResourceManager/standard_price_not_selected/test/negative1.json
  assets/queries/azureResourceManager/standard_price_not_selected/test/positive1.json
  assets/queries/azureResourceManager/standard_price_not_selected/test/positive_expected_result.json
Labels: arm, query

#3934 feat(query): Added AKS Cluster Network Policy Not Configured query for ARM
  assets/queries/azureResourceManager/aks_cluster_network_policy_not_configured/metadata.json
  assets/queries/azureResourceManager/aks_cluster_network_policy_not_configured/query.rego
  assets/queries/azureResourceManager/aks_cluster_network_policy_not_configured/test/negative1.json
  assets/queries/azureResourceManager/aks_cluster_network_policy_not_configured/test/positive1.json
  assets/queries/azureResourceManager/aks_cluster_network_policy_not_configured/test/positive2.json
  assets/queries/azureResourceManager/aks_cluster_network_policy_not_configured/test/positive_expected_result.json
Labels: arm, query

#3946 fix: fixin get-metrics.py to support ARM
  .github/scripts/metrics/get-metrics.py
  .github/workflows/go-ci-coverage.yaml
  .github/workflows/go-ci-metrics.yaml
Labels: CI

#3948 test: adding test for duplicate description ID
  test/queries_test.go
Labels: tests

#3921 feat(query): Added Web App Not Using TLS Last Version query for ARM
  assets/queries/azureResourceManager/web_app_not_using_tls_last_version/metadata.json
  assets/queries/azureResourceManager/web_app_not_using_tls_last_version/query.rego
  assets/queries/azureResourceManager/web_app_not_using_tls_last_version/test/negative1.json
  assets/queries/azureResourceManager/web_app_not_using_tls_last_version/test/positive1.json
  assets/queries/azureResourceManager/web_app_not_using_tls_last_version/test/positive2.json
  assets/queries/azureResourceManager/web_app_not_using_tls_last_version/test/positive_expected_result.json
Labels: arm, query

#3954 fix: queries counter
  .github/workflows/go-ci-coverage.yaml
  .github/workflows/go-ci-metrics.yaml
Labels: CI

#3941 feat(query): Added AKS With Authorized IP Ranges Disabled for ARM
  assets/queries/azureResourceManager/aks_with_authorized_ip_ranges_disabled/metadata.json
  assets/queries/azureResourceManager/aks_with_authorized_ip_ranges_disabled/query.rego
  assets/queries/azureResourceManager/aks_with_authorized_ip_ranges_disabled/test/negative1.json
  assets/queries/azureResourceManager/aks_with_authorized_ip_ranges_disabled/test/negative2.json
  assets/queries/azureResourceManager/aks_with_authorized_ip_ranges_disabled/test/positive1.json
  assets/queries/azureResourceManager/aks_with_authorized_ip_ranges_disabled/test/positive2.json
  assets/queries/azureResourceManager/aks_with_authorized_ip_ranges_disabled/test/positive3.json
  assets/queries/azureResourceManager/aks_with_authorized_ip_ranges_disabled/test/positive4.json
  assets/queries/azureResourceManager/aks_with_authorized_ip_ranges_disabled/test/positive5.json
  assets/queries/azureResourceManager/aks_with_authorized_ip_ranges_disabled/test/positive_expected_result.json
Labels: arm, query

#3955 fix: ci queries counter
  .github/workflows/go-ci-metrics.yaml
Labels: CI

#3950 feat: add ARM validation
  .github/scripts/samples-linters/ignore-list/arm
  .github/workflows/validate-arm-samples.yaml
  assets/queries/azureResourceManager/phone_number_not_set_security_contacts/test/negative.json
Labels: CI

#3958 feat(query): Refactoring 'object.get' function for ansible
  assets/queries/ansible/aws/ami_not_encrypted/query.rego
Labels: ansible, aws, query

#3966 feat(query): Added Trusted Microsoft Services Not Enabled query for ARM
  assets/queries/azureResourceManager/trusted_microsoft_services_not_enabled/metadata.json
  assets/queries/azureResourceManager/trusted_microsoft_services_not_enabled/query.rego
  assets/queries/azureResourceManager/trusted_microsoft_services_not_enabled/test/negative1.json
  assets/queries/azureResourceManager/trusted_microsoft_services_not_enabled/test/negative2.json
  assets/queries/azureResourceManager/trusted_microsoft_services_not_enabled/test/positive1.json
  assets/queries/azureResourceManager/trusted_microsoft_services_not_enabled/test/positive2.json
  assets/queries/azureResourceManager/trusted_microsoft_services_not_enabled/test/positive_expected_result.json
Labels: arm, query

#3963 feat(query): Added Storage Blob Service Container With Public Access query for ARM
  assets/queries/azureResourceManager/storage_blob_service_containter_with_public_access/metadata.json
  assets/queries/azureResourceManager/storage_blob_service_containter_with_public_access/query.rego
  assets/queries/azureResourceManager/storage_blob_service_containter_with_public_access/test/negative1.json
  assets/queries/azureResourceManager/storage_blob_service_containter_with_public_access/test/negative2.json
  assets/queries/azureResourceManager/storage_blob_service_containter_with_public_access/test/negative3.json
  assets/queries/azureResourceManager/storage_blob_service_containter_with_public_access/test/positive1.json
  assets/queries/azureResourceManager/storage_blob_service_containter_with_public_access/test/positive2.json
  assets/queries/azureResourceManager/storage_blob_service_containter_with_public_access/test/positive3.json
  assets/queries/azureResourceManager/storage_blob_service_containter_with_public_access/test/positive_expected_result.json
Labels: arm, query

#3959 feat(query): Added PostgresSQL Database Server Connection Throttling Disabled query to ARM
  assets/libraries/azureresourcemanager/library.rego
  assets/queries/azureResourceManager/postgres_sql_database_server_connection_throttling_disabled/metadata.json
  assets/queries/azureResourceManager/postgres_sql_database_server_connection_throttling_disabled/query.rego
  assets/queries/azureResourceManager/postgres_sql_database_server_connection_throttling_disabled/test/negative1.json
  assets/queries/azureResourceManager/postgres_sql_database_server_connection_throttling_disabled/test/negative2.json
  assets/queries/azureResourceManager/postgres_sql_database_server_connection_throttling_disabled/test/positive1.json
  assets/queries/azureResourceManager/postgres_sql_database_server_connection_throttling_disabled/test/positive2.json
  assets/queries/azureResourceManager/postgres_sql_database_server_connection_throttling_disabled/test/positive3.json
  assets/queries/azureResourceManager/postgres_sql_database_server_connection_throttling_disabled/test/positive_expected_result.json
Labels: arm, query

#3947 feat(query): Added SQL Alert Policy Without Emails query to ARM
  assets/queries/azureResourceManager/sql_alert_policy_without_emails/metadata.json
  assets/queries/azureResourceManager/sql_alert_policy_without_emails/query.rego
  assets/queries/azureResourceManager/sql_alert_policy_without_emails/test/negative.json
  assets/queries/azureResourceManager/sql_alert_policy_without_emails/test/positive1.json
  assets/queries/azureResourceManager/sql_alert_policy_without_emails/test/positive2.json
  assets/queries/azureResourceManager/sql_alert_policy_without_emails/test/positive3.json
  assets/queries/azureResourceManager/sql_alert_policy_without_emails/test/positive_expected_result.json
Labels: arm, query

#3964 feat(query): Added AKS Logging To Azure Monitoring Is Disabled query for ARM
  assets/queries/azureResourceManager/aks_logging_azure_monitoring_disabled/metadata.json
  assets/queries/azureResourceManager/aks_logging_azure_monitoring_disabled/query.rego
  assets/queries/azureResourceManager/aks_logging_azure_monitoring_disabled/test/negative1.json
  assets/queries/azureResourceManager/aks_logging_azure_monitoring_disabled/test/positive1.json
  assets/queries/azureResourceManager/aks_logging_azure_monitoring_disabled/test/positive2.json
  assets/queries/azureResourceManager/aks_logging_azure_monitoring_disabled/test/positive_expected_result.json
Labels: arm, query

#3962 feat(query): Added AKS Dashboard Is Enabled query for ARM
  assets/queries/azureResourceManager/aks_dashboard_enabled/metadata.json
  assets/queries/azureResourceManager/aks_dashboard_enabled/query.rego
  assets/queries/azureResourceManager/aks_dashboard_enabled/test/negative1.json
  assets/queries/azureResourceManager/aks_dashboard_enabled/test/positive1.json
  assets/queries/azureResourceManager/aks_dashboard_enabled/test/positive2.json
  assets/queries/azureResourceManager/aks_dashboard_enabled/test/positive_expected_result.json
Labels: arm, query

#3957 feat(query): Added App Service Authentication Is Not Set for ARM
  assets/queries/azureResourceManager/aks_cluster_rbac_disabled/query.rego
  assets/queries/azureResourceManager/app_service_authentication_not_set/metadata.json
  assets/queries/azureResourceManager/app_service_authentication_not_set/query.rego
  assets/queries/azureResourceManager/app_service_authentication_not_set/test/negative1.json
  assets/queries/azureResourceManager/app_service_authentication_not_set/test/negative2.json
  assets/queries/azureResourceManager/app_service_authentication_not_set/test/positive1.json
  assets/queries/azureResourceManager/app_service_authentication_not_set/test/positive2.json
  assets/queries/azureResourceManager/app_service_authentication_not_set/test/positive3.json
  assets/queries/azureResourceManager/app_service_authentication_not_set/test/positive4.json
  assets/queries/azureResourceManager/app_service_authentication_not_set/test/positive_expected_result.json
Labels: arm, query

#3970 feat(query): Added Hardcoded SecureString Parameter Default Value query for ARM
  assets/queries/azureResourceManager/hardcoded_securestring_parameter_default_value/metadata.json
  assets/queries/azureResourceManager/hardcoded_securestring_parameter_default_value/query.rego
  assets/queries/azureResourceManager/hardcoded_securestring_parameter_default_value/test/negative1.json
  assets/queries/azureResourceManager/hardcoded_securestring_parameter_default_value/test/negative2.json
  assets/queries/azureResourceManager/hardcoded_securestring_parameter_default_value/test/positive.json
  assets/queries/azureResourceManager/hardcoded_securestring_parameter_default_value/test/positive_expected_result.json
Labels: arm, query

#3916 feat(query): Added Email Notifications Disabled query to ARM
  assets/queries/azureResourceManager/email_notifications_set_off/metadata.json
  assets/queries/azureResourceManager/email_notifications_set_off/query.rego
  assets/queries/azureResourceManager/email_notifications_set_off/test/negative.json
  assets/queries/azureResourceManager/email_notifications_set_off/test/positive1.json
  assets/queries/azureResourceManager/email_notifications_set_off/test/positive2.json
  assets/queries/azureResourceManager/email_notifications_set_off/test/positive3.json
  assets/queries/azureResourceManager/email_notifications_set_off/test/positive4.json
  assets/queries/azureResourceManager/email_notifications_set_off/test/positive5.json
  assets/queries/azureResourceManager/email_notifications_set_off/test/positive6.json
  assets/queries/azureResourceManager/email_notifications_set_off/test/positive_expected_result.json
Labels: arm, query

#3965 feat(query): add 'Storage Account Allows Network Default Access' for ARM
  assets/queries/azureResourceManager/storage_account_allows_network_default_access/metadata.json
  assets/queries/azureResourceManager/storage_account_allows_network_default_access/query.rego
  assets/queries/azureResourceManager/storage_account_allows_network_default_access/test/negative.json
  assets/queries/azureResourceManager/storage_account_allows_network_default_access/test/positive1.json
  assets/queries/azureResourceManager/storage_account_allows_network_default_access/test/positive2.json
  assets/queries/azureResourceManager/storage_account_allows_network_default_access/test/positive3.json
  assets/queries/azureResourceManager/storage_account_allows_network_default_access/test/positive_expected_result.json
Labels: arm, query

#3926 feat(query): Added SQL Server Database With Alerts Disabled query for ARM
  assets/queries/azureResourceManager/sql_server_database_with_alerts_disabled/metadata.json
  assets/queries/azureResourceManager/sql_server_database_with_alerts_disabled/query.rego
  assets/queries/azureResourceManager/sql_server_database_with_alerts_disabled/test/negative1.json
  assets/queries/azureResourceManager/sql_server_database_with_alerts_disabled/test/negative2.json
  assets/queries/azureResourceManager/sql_server_database_with_alerts_disabled/test/negative3.json
  assets/queries/azureResourceManager/sql_server_database_with_alerts_disabled/test/positive1.json
  assets/queries/azureResourceManager/sql_server_database_with_alerts_disabled/test/positive_expected_result.json
Labels: arm, query

#3919 feat(query): Added Secret Without Expiration Date query for ARM
  assets/queries/azureResourceManager/secret_without_expiration_date/metadata.json
  assets/queries/azureResourceManager/secret_without_expiration_date/query.rego
  assets/queries/azureResourceManager/secret_without_expiration_date/test/negative.json
  assets/queries/azureResourceManager/secret_without_expiration_date/test/positive1.json
  assets/queries/azureResourceManager/secret_without_expiration_date/test/positive2.json
  assets/queries/azureResourceManager/secret_without_expiration_date/test/positive_expected_result.json
Labels: arm, query

#3933 feat(query): Added SQL Database Server Firewall Allows All IPS query for ARM
  assets/queries/azureResourceManager/sql_database_server_firewall_allows_all_ips/metadata.json
  assets/queries/azureResourceManager/sql_database_server_firewall_allows_all_ips/query.rego
  assets/queries/azureResourceManager/sql_database_server_firewall_allows_all_ips/test/negative1.json
  assets/queries/azureResourceManager/sql_database_server_firewall_allows_all_ips/test/negative2.json
  assets/queries/azureResourceManager/sql_database_server_firewall_allows_all_ips/test/positive1.json
  assets/queries/azureResourceManager/sql_database_server_firewall_allows_all_ips/test/positive2.json
  assets/queries/azureResourceManager/sql_database_server_firewall_allows_all_ips/test/positive_expected_result.json
Labels: arm, query

#3961 feat(query): add 'Storage Account Allows Unsecure transfer' for ARM
  assets/queries/azureResourceManager/storage_account_allows_unsecure_transfer/metadata.json
  assets/queries/azureResourceManager/storage_account_allows_unsecure_transfer/query.rego
  assets/queries/azureResourceManager/storage_account_allows_unsecure_transfer/test/negative1.json
  assets/queries/azureResourceManager/storage_account_allows_unsecure_transfer/test/negative2.json
  assets/queries/azureResourceManager/storage_account_allows_unsecure_transfer/test/positive1.json
  assets/queries/azureResourceManager/storage_account_allows_unsecure_transfer/test/positive2.json
  assets/queries/azureResourceManager/storage_account_allows_unsecure_transfer/test/positive3.json
  assets/queries/azureResourceManager/storage_account_allows_unsecure_transfer/test/positive_expected_result.json
Labels: arm, query

#3943 feat(query): add 'PostgreSQL Database Server Log Checkpoints Disabled' in ARM
  assets/queries/azureResourceManager/postgres_sql_server_log_checkpoint_disabled/metadata.json
  assets/queries/azureResourceManager/postgres_sql_server_log_checkpoint_disabled/query.rego
  assets/queries/azureResourceManager/postgres_sql_server_log_checkpoint_disabled/test/negative1.json
  assets/queries/azureResourceManager/postgres_sql_server_log_checkpoint_disabled/test/positive1.json
  assets/queries/azureResourceManager/postgres_sql_server_log_checkpoint_disabled/test/positive2.json
  assets/queries/azureResourceManager/postgres_sql_server_log_checkpoint_disabled/test/positive3.json
  assets/queries/azureResourceManager/postgres_sql_server_log_checkpoint_disabled/test/positive4.json
  assets/queries/azureResourceManager/postgres_sql_server_log_checkpoint_disabled/test/positive_expected_result.json
  pkg/scanner/scanner_test.go
Labels: arm, query

#3949 feat(query): Added SQL Server Database With Unrecommended Retention Days for ARM
  assets/queries/azureResourceManager/sql_server_database_with_low_retention_days/metadata.json
  assets/queries/azureResourceManager/sql_server_database_with_low_retention_days/query.rego
  assets/queries/azureResourceManager/sql_server_database_with_low_retention_days/test/negative1.json
  assets/queries/azureResourceManager/sql_server_database_with_low_retention_days/test/positive1.json
  assets/queries/azureResourceManager/sql_server_database_with_low_retention_days/test/positive2.json
  assets/queries/azureResourceManager/sql_server_database_with_low_retention_days/test/positive_expected_result.json
Labels: arm, query

#3939 feat(query): Added Account Admins Not Notified By Email query to ARM
  assets/queries/azureResourceManager/account_admins_not_notified_by_email/metadata.json
  assets/queries/azureResourceManager/account_admins_not_notified_by_email/query.rego
  assets/queries/azureResourceManager/account_admins_not_notified_by_email/test/negative1.json
  assets/queries/azureResourceManager/account_admins_not_notified_by_email/test/positive1.json
  assets/queries/azureResourceManager/account_admins_not_notified_by_email/test/positive2.json
  assets/queries/azureResourceManager/account_admins_not_notified_by_email/test/positive_expected_result.json
Labels: arm, query

#3956 feat(query): add PostgreSQL Database Server Log Connections Disabled for ARM
  assets/queries/azureResourceManager/postgres_sql_server_log_connections_disabled/metadata.json
  assets/queries/azureResourceManager/postgres_sql_server_log_connections_disabled/query.rego
  assets/queries/azureResourceManager/postgres_sql_server_log_connections_disabled/test/negative1.json
  assets/queries/azureResourceManager/postgres_sql_server_log_connections_disabled/test/negative2.json
  assets/queries/azureResourceManager/postgres_sql_server_log_connections_disabled/test/positive1.json
  assets/queries/azureResourceManager/postgres_sql_server_log_connections_disabled/test/positive2.json
  assets/queries/azureResourceManager/postgres_sql_server_log_connections_disabled/test/positive3.json
  assets/queries/azureResourceManager/postgres_sql_server_log_connections_disabled/test/positive4.json
  assets/queries/azureResourceManager/postgres_sql_server_log_connections_disabled/test/positive_expected_result.json
Labels: arm, query

#3952 feat(query): Added Network Security Group With Unrestricted Access To SSH query for ARM
  assets/libraries/azureresourcemanager/library.rego
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_rdp/metadata.json
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_rdp/query.rego
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_rdp/test/negative1.json
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_rdp/test/negative2.json
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_rdp/test/positive1.json
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_rdp/test/positive2.json
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_rdp/test/positive_expected_result.json
Labels: arm, query

#3953 feat(query): Added SQL Server Database Without Auditing query to ARM
  assets/queries/azureResourceManager/sql_server_database_without_auditing/metadata.json
  assets/queries/azureResourceManager/sql_server_database_without_auditing/query.rego
  assets/queries/azureResourceManager/sql_server_database_without_auditing/test/negative1.json
  assets/queries/azureResourceManager/sql_server_database_without_auditing/test/negative2.json
  assets/queries/azureResourceManager/sql_server_database_without_auditing/test/positive1.json
  assets/queries/azureResourceManager/sql_server_database_without_auditing/test/positive2.json
  assets/queries/azureResourceManager/sql_server_database_without_auditing/test/positive_expected_result.json
Labels: arm, query

#3971 feat(query): Added Storage Logging For Read Write And Delete Requests Disabled for ARM
  assets/queries/azureResourceManager/storage_logging_for_read_write_delete_requests_disabled/metadata.json
  assets/queries/azureResourceManager/storage_logging_for_read_write_delete_requests_disabled/query.rego
  assets/queries/azureResourceManager/storage_logging_for_read_write_delete_requests_disabled/test/negative.json
  assets/queries/azureResourceManager/storage_logging_for_read_write_delete_requests_disabled/test/positive1.json
  assets/queries/azureResourceManager/storage_logging_for_read_write_delete_requests_disabled/test/positive2.json
  assets/queries/azureResourceManager/storage_logging_for_read_write_delete_requests_disabled/test/positive3.json
  assets/queries/azureResourceManager/storage_logging_for_read_write_delete_requests_disabled/test/positive_expected_result.json
Labels: arm, query

#3969 feat(query): add 'Website Azure Active Directory Disabled' for ARM
  assets/queries/azureResourceManager/website_azure_active_directory_disabled/metadata.json
  assets/queries/azureResourceManager/website_azure_active_directory_disabled/query.rego
  assets/queries/azureResourceManager/website_azure_active_directory_disabled/test/negative1.json
  assets/queries/azureResourceManager/website_azure_active_directory_disabled/test/negative2.json
  assets/queries/azureResourceManager/website_azure_active_directory_disabled/test/positive1.json
  assets/queries/azureResourceManager/website_azure_active_directory_disabled/test/positive2.json
  assets/queries/azureResourceManager/website_azure_active_directory_disabled/test/positive3.json
  assets/queries/azureResourceManager/website_azure_active_directory_disabled/test/positive_expected_result.json
Labels: arm, query

#3975 feat(query): renaming folder of 'Network Security Group With Unrestricted Access To SSH' query
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_ssh/metadata.json
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_ssh/query.rego
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_ssh/test/negative1.json
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_ssh/test/negative2.json
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_ssh/test/positive1.json
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_ssh/test/positive2.json
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_ssh/test/positive_expected_result.json
Labels: arm, query
