Repository Checkmarx/kics, pull requests merged in 2021-01, with the labels that each got.

#1391 Add port22_in_public_scope Closes #1387
  assets/queries/ansible/aws/port22_in_public_scope/metadata.json
  assets/queries/ansible/aws/port22_in_public_scope/query.rego
  assets/queries/ansible/aws/port22_in_public_scope/test/negative.yaml
  assets/queries/ansible/aws/port22_in_public_scope/test/positive.yaml
  assets/queries/ansible/aws/port22_in_public_scope/test/positive_expected_result.json
Labels: ansible, query

#1221 Add Cluster Labels are Disabled for Ansible
  assets/queries/ansible/gcp/cluster_labels_are_disabled/metadata.json
  assets/queries/ansible/gcp/cluster_labels_are_disabled/query.rego
  assets/queries/ansible/gcp/cluster_labels_are_disabled/test/negative.yaml
  assets/queries/ansible/gcp/cluster_labels_are_disabled/test/positive.yaml
  assets/queries/ansible/gcp/cluster_labels_are_disabled/test/positive_expected_result.json
Labels: ansible, query

#1660 Add Private Cluster is Disabled query for Ansible
  assets/queries/ansible/gcp/private_cluster_is_disabled/metadata.json
  assets/queries/ansible/gcp/private_cluster_is_disabled/query.rego
  assets/queries/ansible/gcp/private_cluster_is_disabled/test/negative.yaml
  assets/queries/ansible/gcp/private_cluster_is_disabled/test/positive.yaml
  assets/queries/ansible/gcp/private_cluster_is_disabled/test/positive_expected_result.json
Labels: ansible, query

#1414 Add User Data Shell Script Is Encoded query #1413
  assets/queries/ansible/aws/user_data_shell_script_is_encoded/metadata.json
  assets/queries/ansible/aws/user_data_shell_script_is_encoded/query.rego
  assets/queries/ansible/aws/user_data_shell_script_is_encoded/test/negative.yaml
  assets/queries/ansible/aws/user_data_shell_script_is_encoded/test/positive.yaml
  assets/queries/ansible/aws/user_data_shell_script_is_encoded/test/positive_expected_result.json
Labels: ansible, query

#1289 Add query to check if RDP access is unrestricted from the internet. Closes #1285
  assets/queries/ansible/gcp/rdp_access_is_unrestricted/metadata.json
  assets/queries/ansible/gcp/rdp_access_is_unrestricted/query.rego
  assets/queries/ansible/gcp/rdp_access_is_unrestricted/test/negative.yaml
  assets/queries/ansible/gcp/rdp_access_is_unrestricted/test/positive.yaml
  assets/queries/ansible/gcp/rdp_access_is_unrestricted/test/positive_expected_result.json
Labels: ansible, enhancement, gcp, query

#1144 Add CloudFront Minimum Protocol TLS1.2 query for CloudFormation #1142
  assets/queries/cloudFormation/cloudfront_minimum_protocol_tls1.2/metadata.json
  assets/queries/cloudFormation/cloudfront_minimum_protocol_tls1.2/query.rego
  assets/queries/cloudFormation/cloudfront_minimum_protocol_tls1.2/test/negative.yaml
  assets/queries/cloudFormation/cloudfront_minimum_protocol_tls1.2/test/positive.yaml
  assets/queries/cloudFormation/cloudfront_minimum_protocol_tls1.2/test/positive_expected_result.json
Labels: cloudformation, query

#1365 added new query for public lambda
  assets/queries/ansible/aws/api_gateway_public_lambda/metadata.json
  assets/queries/ansible/aws/api_gateway_public_lambda/query.rego
  assets/queries/ansible/aws/api_gateway_public_lambda/test/negative.yaml
  assets/queries/ansible/aws/api_gateway_public_lambda/test/positive.yaml
  assets/queries/ansible/aws/api_gateway_public_lambda/test/positive_expected_result.json
Labels: ansible, query

#1662 Add cloudtrail_log_files_not_encrypted_with_kms query Closes #1661
  assets/queries/ansible/aws/cloudtrail_log_files_not_encrypted_with_kms/metadata.json
  assets/queries/ansible/aws/cloudtrail_log_files_not_encrypted_with_kms/query.rego
  assets/queries/ansible/aws/cloudtrail_log_files_not_encrypted_with_kms/test/negative.yaml
  assets/queries/ansible/aws/cloudtrail_log_files_not_encrypted_with_kms/test/positive.yaml
  assets/queries/ansible/aws/cloudtrail_log_files_not_encrypted_with_kms/test/positive_expected_result.json
Labels: ansible, query

#1464 Add Route53 Record Undefined query #1450
  assets/queries/ansible/aws/route53_record_without_values/metadata.json
  assets/queries/ansible/aws/route53_record_without_values/query.rego
  assets/queries/ansible/aws/route53_record_without_values/test/negative.yaml
  assets/queries/ansible/aws/route53_record_without_values/test/positive.yaml
  assets/queries/ansible/aws/route53_record_without_values/test/positive_expected_result.json
Labels: ansible, query

#1666 Add CSQL W/Cross DB Ownership Chaining query #1664
  assets/queries/ansible/gcp/cloud_sql_instance_with_cross_db_ownership_chaining_on/metadata.json
  assets/queries/ansible/gcp/cloud_sql_instance_with_cross_db_ownership_chaining_on/query.rego
  assets/queries/ansible/gcp/cloud_sql_instance_with_cross_db_ownership_chaining_on/test/negative.yaml
  assets/queries/ansible/gcp/cloud_sql_instance_with_cross_db_ownership_chaining_on/test/positive.yaml
  assets/queries/ansible/gcp/cloud_sql_instance_with_cross_db_ownership_chaining_on/test/positive_expected_result.json
Labels: ansible, query

#1643 Add storage_account_tls_version query for Ansible
  assets/queries/ansible/azure/storage_account_not_using_latest_tls_encryption_version/metadata.json
  assets/queries/ansible/azure/storage_account_not_using_latest_tls_encryption_version/query.rego
  assets/queries/ansible/azure/storage_account_not_using_latest_tls_encryption_version/test/negative.yaml
  assets/queries/ansible/azure/storage_account_not_using_latest_tls_encryption_version/test/positive.yaml
  assets/queries/ansible/azure/storage_account_not_using_latest_tls_encryption_version/test/positive_expected_result.json
Labels: ansible, query

#1549 added new query for SQS policy allows ALL (*) actions in ansible
  assets/queries/ansible/aws/SQS_policy_allows_ALL_actions/metadata.json
  assets/queries/ansible/aws/SQS_policy_allows_ALL_actions/query.rego
  assets/queries/ansible/aws/SQS_policy_allows_ALL_actions/test/negative.yaml
  assets/queries/ansible/aws/SQS_policy_allows_ALL_actions/test/positive.yaml
  assets/queries/ansible/aws/SQS_policy_allows_ALL_actions/test/positive_expected_result.json
Labels: ansible, query

#1668 Add unused_vpc query for AWS Clouformation #1665
  assets/queries/cloudFormation/unused_vpc/metadata.json
  assets/queries/cloudFormation/unused_vpc/query.rego
  assets/queries/cloudFormation/unused_vpc/test/negative.yaml
  assets/queries/cloudFormation/unused_vpc/test/positive.yaml
  assets/queries/cloudFormation/unused_vpc/test/positive_expected_result.json
Labels: cloudformation, query

#1177 Update Sns Topic Should Specify KmsMasterKeyId Attribute query for CloudFormation #1171
  assets/queries/cloudFormation/sns_topic_should_specify_kmsMasterKeyId/metadata.json
  assets/queries/cloudFormation/sns_topic_should_specify_kmsMasterKeyId/query.rego
  assets/queries/cloudFormation/sns_topic_should_specify_kmsMasterKeyId/test/negative.yaml
  assets/queries/cloudFormation/sns_topic_should_specify_kmsMasterKeyId/test/positive.yaml
  assets/queries/cloudFormation/sns_topic_should_specify_kmsMasterKeyId/test/positive_expected_result.json
Labels: cloudformation, query

#1667 added missing categories
  assets/queries/cloudFormation/api_gateway_stage_without_api_gateway_usage_plan_associated/metadata.json
  assets/queries/cloudFormation/api_gateway_with_open_access/metadata.json
  assets/queries/cloudFormation/api_gateway_without_security_policy/metadata.json
  assets/queries/cloudFormation/directory_service_microsoft_ad_password_rule/metadata.json
  assets/queries/cloudFormation/ec2_networkAcl/metadata.json
  assets/queries/cloudFormation/efs_not_encrypted/metadata.json
  assets/queries/cloudFormation/efs_not_encrypted_with_kms_cmk/metadata.json
  assets/queries/cloudFormation/efs_without_tags/metadata.json
  assets/queries/cloudFormation/iam_policies_without_groups/metadata.json
  assets/queries/cloudFormation/iam_policy_on_user/metadata.json
  assets/queries/cloudFormation/neptune_database_cluster_disabled/metadata.json
  assets/queries/cloudFormation/s3_bucket_acl_allows_read_or_write_to_all_users/metadata.json
  assets/queries/cloudFormation/s3_bucket_acl_allows_read_to_all_users/metadata.json
  assets/queries/cloudFormation/webacl_allow_defaultaction/metadata.json
  assets/queries/cloudFormation/workspace_without_encryption/metadata.json
  assets/queries/dockerfile/healthcheck_instruction_missing/metadata.json
Labels: feature, query

#1670 Add DynamoDB Table Billing Mode query for CloudFormation #1669
  assets/queries/cloudFormation/dynamodb_table_billing_mode/metadata.json
  assets/queries/cloudFormation/dynamodb_table_billing_mode/query.rego
  assets/queries/cloudFormation/dynamodb_table_billing_mode/test/negative.yaml
  assets/queries/cloudFormation/dynamodb_table_billing_mode/test/positive.yaml
  assets/queries/cloudFormation/dynamodb_table_billing_mode/test/positive_expected_result.json
Labels: cloudformation, query

#1585 Add ingress_not_restricted query Closes #1581
  assets/queries/ansible/aws/ingress_not_restricted/metadata.json
  assets/queries/ansible/aws/ingress_not_restricted/query.rego
  assets/queries/ansible/aws/ingress_not_restricted/test/negative.yaml
  assets/queries/ansible/aws/ingress_not_restricted/test/positive.yaml
  assets/queries/ansible/aws/ingress_not_restricted/test/positive_expected_result.json
Labels: ansible, query

#1539 Add S3 Bucket Allows Get Action From All Principals query for Ansible
  assets/queries/ansible/aws/s3_bucket_allows_get_action_from_all_principals/metadata.json
  assets/queries/ansible/aws/s3_bucket_allows_get_action_from_all_principals/query.rego
  assets/queries/ansible/aws/s3_bucket_allows_get_action_from_all_principals/test/negative.yaml
  assets/queries/ansible/aws/s3_bucket_allows_get_action_from_all_principals/test/positive.yaml
  assets/queries/ansible/aws/s3_bucket_allows_get_action_from_all_principals/test/positive_expected_result.json
Labels: ansible, query

#1546 Add S3 Bucket Allows Delete Action From All Principals query for Ansible
  assets/queries/ansible/aws/s3_bucket_allows_delete_action_from_all_principals/metadata.json
  assets/queries/ansible/aws/s3_bucket_allows_delete_action_from_all_principals/query.rego
  assets/queries/ansible/aws/s3_bucket_allows_delete_action_from_all_principals/test/negative.yaml
  assets/queries/ansible/aws/s3_bucket_allows_delete_action_from_all_principals/test/positive.yaml
  assets/queries/ansible/aws/s3_bucket_allows_delete_action_from_all_principals/test/positive_expected_result.json
Labels: ansible, query

#1543 Add S3 Bucket Allows Put Action From All Principals query for Ansible
  assets/queries/ansible/aws/s3_bucket_allows_put_action_from_all_principals/metadata.json
  assets/queries/ansible/aws/s3_bucket_allows_put_action_from_all_principals/query.rego
  assets/queries/ansible/aws/s3_bucket_allows_put_action_from_all_principals/test/negative.yaml
  assets/queries/ansible/aws/s3_bucket_allows_put_action_from_all_principals/test/positive.yaml
  assets/queries/ansible/aws/s3_bucket_allows_put_action_from_all_principals/test/positive_expected_result.json
Labels: ansible, query

#1541 Add S3 Bucket Allows List Action From All Principals query for Ansible
  assets/queries/ansible/aws/s3_bucket_allows_list_action_from_all_principals/metadata.json
  assets/queries/ansible/aws/s3_bucket_allows_list_action_from_all_principals/query.rego
  assets/queries/ansible/aws/s3_bucket_allows_list_action_from_all_principals/test/negative.yaml
  assets/queries/ansible/aws/s3_bucket_allows_list_action_from_all_principals/test/positive.yaml
  assets/queries/ansible/aws/s3_bucket_allows_list_action_from_all_principals/test/positive_expected_result.json
Labels: ansible, query

#1556 Add S3 Bucket With Any Principal query for Ansible
  assets/queries/ansible/aws/s3_bucket_with_any_principal/metadata.json
  assets/queries/ansible/aws/s3_bucket_with_any_principal/query.rego
  assets/queries/ansible/aws/s3_bucket_with_any_principal/test/negative.yaml
  assets/queries/ansible/aws/s3_bucket_with_any_principal/test/positive.yaml
  assets/queries/ansible/aws/s3_bucket_with_any_principal/test/positive_expected_result.json
Labels: ansible, query

#1673 Add cloudtrail_log_files_without_validation query Closes #1672
  assets/queries/ansible/aws/cloudtrail_log_files_without_validation/metadata.json
  assets/queries/ansible/aws/cloudtrail_log_files_without_validation/query.rego
  assets/queries/ansible/aws/cloudtrail_log_files_without_validation/test/negative.yaml
  assets/queries/ansible/aws/cloudtrail_log_files_without_validation/test/positive.yaml
  assets/queries/ansible/aws/cloudtrail_log_files_without_validation/test/positive_expected_result.json
Labels: ansible, query

#1682 Add RDS Open To Large Scope query for AWS CloudFormation
  assets/queries/cloudFormation/rds_open_to_large_scope/metadata.json
  assets/queries/cloudFormation/rds_open_to_large_scope/query.rego
  assets/queries/cloudFormation/rds_open_to_large_scope/test/negative.yaml
  assets/queries/cloudFormation/rds_open_to_large_scope/test/positive.yaml
  assets/queries/cloudFormation/rds_open_to_large_scope/test/positive_expected_result.json
Labels: cloudformation, query

#1675 Add cloudTrail_multiRegion_disabled query Closes #1663
  assets/queries/ansible/aws/cloudTrail_multiRegion_disabled/metadata.json
  assets/queries/ansible/aws/cloudTrail_multiRegion_disabled/query.rego
  assets/queries/ansible/aws/cloudTrail_multiRegion_disabled/test/negative.yaml
  assets/queries/ansible/aws/cloudTrail_multiRegion_disabled/test/positive.yaml
  assets/queries/ansible/aws/cloudTrail_multiRegion_disabled/test/positive_expected_result.json
Labels: ansible, query

#1681 Add codebuild_not_encrypted query Closes #1679
  assets/queries/ansible/aws/codebuild_not_encrypted/metadata.json
  assets/queries/ansible/aws/codebuild_not_encrypted/query.rego
  assets/queries/ansible/aws/codebuild_not_encrypted/test/negative.yaml
  assets/queries/ansible/aws/codebuild_not_encrypted/test/positive.yaml
  assets/queries/ansible/aws/codebuild_not_encrypted/test/positive_expected_result.json
Labels: ansible, query

#1688 Add lambda_without_xray_tracing query Closes #1686
  assets/queries/ansible/aws/lambda_without_xray_tracing/metadata.json
  assets/queries/ansible/aws/lambda_without_xray_tracing/query.rego
  assets/queries/ansible/aws/lambda_without_xray_tracing/test/negative.yaml
  assets/queries/ansible/aws/lambda_without_xray_tracing/test/positive.yaml
  assets/queries/ansible/aws/lambda_without_xray_tracing/test/positive_expected_result.json
Labels: ansible, query

#1677 Add Volume Encryption Is Disabled query #1676
  assets/queries/cloudFormation/volume_encrypted_is_disabled/metadata.json
  assets/queries/cloudFormation/volume_encrypted_is_disabled/query.rego
  assets/queries/cloudFormation/volume_encrypted_is_disabled/test/negative.yaml
  assets/queries/cloudFormation/volume_encrypted_is_disabled/test/positive.yaml
  assets/queries/cloudFormation/volume_encrypted_is_disabled/test/positive_expected_result.json
Labels: cloudformation, query

#1674 Added query Lambda Permission Badly Configured #1671
  assets/queries/cloudFormation/lambda_permission_badly_configured/metadata.json
  assets/queries/cloudFormation/lambda_permission_badly_configured/query.rego
  assets/queries/cloudFormation/lambda_permission_badly_configured/test/negative.yaml
  assets/queries/cloudFormation/lambda_permission_badly_configured/test/positive.yaml
  assets/queries/cloudFormation/lambda_permission_badly_configured/test/positive_expected_result.json
Labels: aws, cloudformation, query

#1701 Add ecr_image_tag_mutable query Closes #1700
  assets/queries/ansible/aws/ecr_image_tag_not_immutable/metadata.json
  assets/queries/ansible/aws/ecr_image_tag_not_immutable/query.rego
  assets/queries/ansible/aws/ecr_image_tag_not_immutable/test/negative.yaml
  assets/queries/ansible/aws/ecr_image_tag_not_immutable/test/positive.yaml
  assets/queries/ansible/aws/ecr_image_tag_not_immutable/test/positive_expected_result.json
Labels: ansible, query

#1370 Add SNS Topic is Publicly Accessible For Subscription query for Ansible #1368
  assets/queries/ansible/aws/aws_sns_topic_subscription/metadata.json
  assets/queries/ansible/aws/aws_sns_topic_subscription/query.rego
  assets/queries/ansible/aws/aws_sns_topic_subscription/test/negative.yaml
  assets/queries/ansible/aws/aws_sns_topic_subscription/test/positive.yaml
  assets/queries/ansible/aws/aws_sns_topic_subscription/test/positive_expected_result.json
Labels: ansible, query

#1344 Add cloudformation_in_use query Closes #1341
  assets/queries/ansible/aws/cloudformation_without_template/metadata.json
  assets/queries/ansible/aws/cloudformation_without_template/query.rego
  assets/queries/ansible/aws/cloudformation_without_template/test/negative.yaml
  assets/queries/ansible/aws/cloudformation_without_template/test/positive.yaml
  assets/queries/ansible/aws/cloudformation_without_template/test/positive_expected_result.json
  assets/queries/terraform/aws/aws_cloudformation_in_use/test/positive_expected_result.json
  assets/queries/terraform/aws/aws_cloudformation_without_template/metadata.json
  assets/queries/terraform/aws/aws_cloudformation_without_template/metadata.json~HEAD
  assets/queries/terraform/aws/aws_cloudformation_without_template/query.rego
  assets/queries/terraform/aws/aws_cloudformation_without_template/test/negative.tf
  assets/queries/terraform/aws/aws_cloudformation_without_template/test/positive.tf
  assets/queries/terraform/aws/aws_cloudformation_without_template/test/positive_expected_result.json
Labels: ansible, query

#1266 Add Google Container Node Pool Auto Repair is Disabled query for Ansible #1265
  assets/queries/ansible/gcp/google_container_node_pool_auto_repair/metadata.json
  assets/queries/ansible/gcp/google_container_node_pool_auto_repair/query.rego
  assets/queries/ansible/gcp/google_container_node_pool_auto_repair/test/negative.yaml
  assets/queries/ansible/gcp/google_container_node_pool_auto_repair/test/positive.yaml
  assets/queries/ansible/gcp/google_container_node_pool_auto_repair/test/positive_expected_result.json
Labels: ansible, query

#1630 Add Key Vault Soft Delete Is Disabled query #1628
  assets/queries/ansible/azure/key_vault_soft_delete_disabled/metadata.json
  assets/queries/ansible/azure/key_vault_soft_delete_disabled/query.rego
  assets/queries/ansible/azure/key_vault_soft_delete_disabled/test/negative.yaml
  assets/queries/ansible/azure/key_vault_soft_delete_disabled/test/positive.yaml
  assets/queries/ansible/azure/key_vault_soft_delete_disabled/test/positive_expected_result.json
Labels: ansible, query

#1687 Add vpc_attached_with_too_many_gateways query for AWS CloudFormation #1683
  assets/queries/cloudFormation/vpc_attached_with_too_many_gateways/metadata.json
  assets/queries/cloudFormation/vpc_attached_with_too_many_gateways/query.rego
  assets/queries/cloudFormation/vpc_attached_with_too_many_gateways/test/negative.yaml
  assets/queries/cloudFormation/vpc_attached_with_too_many_gateways/test/positive.yaml
  assets/queries/cloudFormation/vpc_attached_with_too_many_gateways/test/positive_expected_result.json
Labels: cloudformation, query

#1741 Fixed issue with query that triggered incorrect responses
  assets/queries/cloudFormation/accessKey_not_rotated_within_90_days/query.rego
Labels: bug, cloudformation

#1740 Add gke_master_authorized_networks_disabled query for Ansible #1739
  assets/queries/ansible/gcp/gke_master_authorized_networks_disabled/metadata.json
  assets/queries/ansible/gcp/gke_master_authorized_networks_disabled/query.rego
  assets/queries/ansible/gcp/gke_master_authorized_networks_disabled/test/negative.yaml
  assets/queries/ansible/gcp/gke_master_authorized_networks_disabled/test/positive.yaml
  assets/queries/ansible/gcp/gke_master_authorized_networks_disabled/test/positive_expected_result.json
Labels: ansible, gcp, query

#1737 Add web_app_accepts_http_traffic query for Ansible
  assets/queries/ansible/azure/web_app_accepts_http_traffic/metadata.json
  assets/queries/ansible/azure/web_app_accepts_http_traffic/query.rego
  assets/queries/ansible/azure/web_app_accepts_http_traffic/test/negative.yaml
  assets/queries/ansible/azure/web_app_accepts_http_traffic/test/positive.yaml
  assets/queries/ansible/azure/web_app_accepts_http_traffic/test/positive_expected_result.json
Labels: ansible, azure, query

#1727 Updating Queries with a Json Dict Policies to a different format
  assets/queries/ansible/aws/s3_bucket_access_allowed_all/metadata.json
  assets/queries/ansible/aws/s3_bucket_access_allowed_all/query.rego
  assets/queries/ansible/aws/s3_bucket_access_allowed_all/test/negative.yaml
  assets/queries/ansible/aws/s3_bucket_access_allowed_all/test/positive.yaml
  assets/queries/ansible/aws/s3_bucket_with_all_permissions/query.rego
  assets/queries/ansible/aws/s3_bucket_with_all_permissions/test/negative.yaml
  assets/queries/ansible/aws/s3_bucket_with_all_permissions/test/positive.yaml
  assets/queries/ansible/aws/s3_bucket_with_all_permissions/test/positive_expected_result.json
  assets/queries/terraform/aws/s3_bucket_access_allowed_all/metadata.json
  assets/queries/terraform/aws/s3_bucket_access_allowed_all/query.rego
Labels: ansible, enhancement, query

#1735 Add aks_without_rbac query Closes #1733
  assets/queries/ansible/azure/aks_without_rbac/metadata.json
  assets/queries/ansible/azure/aks_without_rbac/query.rego
  assets/queries/ansible/azure/aks_without_rbac/test/negative.yaml
  assets/queries/ansible/azure/aks_without_rbac/test/positive.yaml
  assets/queries/ansible/azure/aks_without_rbac/test/positive_expected_result.json
Labels: ansible, azure, query

#1732 Add ec2_instance_has_public_ip query for Ansible
  assets/queries/ansible/aws/ec2_instance_has_public_ip/metadata.json
  assets/queries/ansible/aws/ec2_instance_has_public_ip/query.rego
  assets/queries/ansible/aws/ec2_instance_has_public_ip/test/negative.yaml
  assets/queries/ansible/aws/ec2_instance_has_public_ip/test/positive.yaml
  assets/queries/ansible/aws/ec2_instance_has_public_ip/test/positive_expected_result.json
Labels: ansible, aws, query

#1729 Add log_min_duration_statement_wrong_value query Closes #1715
  assets/queries/ansible/gcp/log_min_duration_statement_wrong_value/metadata.json
  assets/queries/ansible/gcp/log_min_duration_statement_wrong_value/query.rego
  assets/queries/ansible/gcp/log_min_duration_statement_wrong_value/test/negative.yaml
  assets/queries/ansible/gcp/log_min_duration_statement_wrong_value/test/positive.yaml
  assets/queries/ansible/gcp/log_min_duration_statement_wrong_value/test/positive_expected_result.json
Labels: ansible, query

#1711 Add ec2_network_acl_duplicate_rule query for AWS CloudFormation #1693
  assets/queries/cloudFormation/ec2_network_acl_duplicate_rule/metadata.json
  assets/queries/cloudFormation/ec2_network_acl_duplicate_rule/query.rego
  assets/queries/cloudFormation/ec2_network_acl_duplicate_rule/test/negative.yaml
  assets/queries/cloudFormation/ec2_network_acl_duplicate_rule/test/positive.yaml
  assets/queries/cloudFormation/ec2_network_acl_duplicate_rule/test/positive_expected_result.json
Labels: cloudformation, query

#1713 Add Cloud SQL Instance SSL Disabled query #1710
  assets/queries/ansible/gcp/cloud_sql_instance_ssl_disabled/metadata.json
  assets/queries/ansible/gcp/cloud_sql_instance_ssl_disabled/query.rego
  assets/queries/ansible/gcp/cloud_sql_instance_ssl_disabled/test/negative.yaml
  assets/queries/ansible/gcp/cloud_sql_instance_ssl_disabled/test/positive.yaml
  assets/queries/ansible/gcp/cloud_sql_instance_ssl_disabled/test/positive_expected_result.json
Labels: ansible, gcp, query

#1698 Add Activity Log Retention Period query for Ansible #1696
  assets/queries/ansible/azure/activity_log_retention_period/metadata.json
  assets/queries/ansible/azure/activity_log_retention_period/query.rego
  assets/queries/ansible/azure/activity_log_retention_period/test/negative.yaml
  assets/queries/ansible/azure/activity_log_retention_period/test/positive.yaml
  assets/queries/ansible/azure/activity_log_retention_period/test/positive_expected_result.json
Labels: ansible, query

#1703 Add ECS Service Without Running Tasks query #1702
  assets/queries/cloudFormation/ecs_without_running_tasks/metadata.json
  assets/queries/cloudFormation/ecs_without_running_tasks/query.rego
  assets/queries/cloudFormation/ecs_without_running_tasks/test/negative.yaml
  assets/queries/cloudFormation/ecs_without_running_tasks/test/positive.yaml
  assets/queries/cloudFormation/ecs_without_running_tasks/test/positive_expected_result.json
Labels: cloudformation, query

#1704 Add ec2_public_instance_exposed_through_subnet query for AWS CloudFormation
  assets/queries/cloudFormation/ec2_public_instance_exposed_through_subnet/metadata.json
  assets/queries/cloudFormation/ec2_public_instance_exposed_through_subnet/query.rego
  assets/queries/cloudFormation/ec2_public_instance_exposed_through_subnet/test/negative.yaml
  assets/queries/cloudFormation/ec2_public_instance_exposed_through_subnet/test/positive.yaml
  assets/queries/cloudFormation/ec2_public_instance_exposed_through_subnet/test/positive_expected_result.json
Labels: cloudformation, query

#1717 Feature/add query ansible cloud mysql instance with local infile on #1716
  assets/queries/ansible/gcp/cloud_mysql_instance_with_local_infile_on/metadata.json
  assets/queries/ansible/gcp/cloud_mysql_instance_with_local_infile_on/query.rego
  assets/queries/ansible/gcp/cloud_mysql_instance_with_local_infile_on/test/negative.yaml
  assets/queries/ansible/gcp/cloud_mysql_instance_with_local_infile_on/test/positive.yaml
  assets/queries/ansible/gcp/cloud_mysql_instance_with_local_infile_on/test/positive_expected_result.json
Labels: ansible, query

#1747 Configure Sonar to include go unit tests
  sonar-project.properties
Labels: CI, enhancement

#1692 Add S3 Bucket Allows WriteACP Action From All Principals query for Ansible
  assets/queries/ansible/aws/s3_bucket_allows_writeACP_action_from_all_principals/metadata.json
  assets/queries/ansible/aws/s3_bucket_allows_writeACP_action_from_all_principals/query.rego
  assets/queries/ansible/aws/s3_bucket_allows_writeACP_action_from_all_principals/test/negative.yaml
  assets/queries/ansible/aws/s3_bucket_allows_writeACP_action_from_all_principals/test/positive.yaml
  assets/queries/ansible/aws/s3_bucket_allows_writeACP_action_from_all_principals/test/positive_expected_result.json
Labels: ansible, query

#1763 added cmd flag generate-id #670
  assets/queries/ansible/aws/all_Auth_Users_get_read_access/metadata.json
  cmd/console/main.go
Labels: enhancement

#1738 Add aks_logging_to_azure_monitoring_disabled query Closes #1736
  assets/queries/ansible/azure/aks_logging_to_azure_monitoring_disabled/metadata.json
  assets/queries/ansible/azure/aks_logging_to_azure_monitoring_disabled/query.rego
  assets/queries/ansible/azure/aks_logging_to_azure_monitoring_disabled/test/negative.yaml
  assets/queries/ansible/azure/aks_logging_to_azure_monitoring_disabled/test/positive.yaml
  assets/queries/ansible/azure/aks_logging_to_azure_monitoring_disabled/test/positive_expected_result.json
Labels: ansible, query

#1709 Add CSQL W/Contained DB Auth On query #1708
  assets/queries/ansible/gcp/cloud_sql_instance_with_contained_database_authentication_on/metadata.json
  assets/queries/ansible/gcp/cloud_sql_instance_with_contained_database_authentication_on/query.rego
  assets/queries/ansible/gcp/cloud_sql_instance_with_contained_database_authentication_on/test/negative.yaml
  assets/queries/ansible/gcp/cloud_sql_instance_with_contained_database_authentication_on/test/positive.yaml
  assets/queries/ansible/gcp/cloud_sql_instance_with_contained_database_authentication_on/test/positive_expected_result.json
Labels: ansible, gcp, query

#1728 Add log_temp_files_wrong_value query Closes #1712
  assets/queries/ansible/gcp/log_temp_files_wrong_value/metadata.json
  assets/queries/ansible/gcp/log_temp_files_wrong_value/query.rego
  assets/queries/ansible/gcp/log_temp_files_wrong_value/test/negative.yaml
  assets/queries/ansible/gcp/log_temp_files_wrong_value/test/positive.yaml
  assets/queries/ansible/gcp/log_temp_files_wrong_value/test/positive_expected_result.json
Labels: ansible, query

#1441 Add Azurerm Container Registry With No Locks query
  assets/queries/ansible/azure/container_registry_with_no_locks/metadata.json
  assets/queries/ansible/azure/container_registry_with_no_locks/query.rego
  assets/queries/ansible/azure/container_registry_with_no_locks/test/negative.yaml
  assets/queries/ansible/azure/container_registry_with_no_locks/test/positive.yaml
  assets/queries/ansible/azure/container_registry_with_no_locks/test/positive_expected_result.json
Labels: ansible, azure, query

#1626 Add S3 Bucket Without Encryption query #1624
  assets/queries/ansible/aws/s3_bucket_without_encryption/metadata.json
  assets/queries/ansible/aws/s3_bucket_without_encryption/query.rego
  assets/queries/ansible/aws/s3_bucket_without_encryption/test/negative.yaml
  assets/queries/ansible/aws/s3_bucket_without_encryption/test/positive.yaml
  assets/queries/ansible/aws/s3_bucket_without_encryption/test/positive_expected_result.json
Labels: ansible, aws, query

#1766 Update metadata file of 'unpinned_package_version_in_pip_install' query for Docker
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/metadata.json
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/query.rego
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/test/positive_expected_result.json
Labels: bug, docker, query

#1764 Add msk_cluster_logging_enabled query for terraform (#1744)
  assets/queries/terraform/aws/msk_cluster_logging_enabled/metadata.json
  assets/queries/terraform/aws/msk_cluster_logging_enabled/query.rego
  assets/queries/terraform/aws/msk_cluster_logging_enabled/test/negative.tf
  assets/queries/terraform/aws/msk_cluster_logging_enabled/test/positive.tf
  assets/queries/terraform/aws/msk_cluster_logging_enabled/test/positive_expected_result.json
Labels: aws, query, terraform

#1743 Add compute_instance_is_publicly_accessible query for Ansible
  assets/queries/ansible/gcp/compute_instance_is_publicly_accessible/metadata.json
  assets/queries/ansible/gcp/compute_instance_is_publicly_accessible/query.rego
  assets/queries/ansible/gcp/compute_instance_is_publicly_accessible/test/negative.yaml
  assets/queries/ansible/gcp/compute_instance_is_publicly_accessible/test/positive.yaml
  assets/queries/ansible/gcp/compute_instance_is_publicly_accessible/test/positive_expected_result.json
Labels: ansible, gcp, query

#1756 Add postgresql_log_checkpoints_flag_not_set_to_on query for Ansible
  assets/queries/ansible/gcp/postgresql_log_checkpoints_flag_not_set_to_on/metadata.json
  assets/queries/ansible/gcp/postgresql_log_checkpoints_flag_not_set_to_on/query.rego
  assets/queries/ansible/gcp/postgresql_log_checkpoints_flag_not_set_to_on/test/negative.yaml
  assets/queries/ansible/gcp/postgresql_log_checkpoints_flag_not_set_to_on/test/positive.yaml
  assets/queries/ansible/gcp/postgresql_log_checkpoints_flag_not_set_to_on/test/positive_expected_result.json
Labels: ansible, query

#1754 fix sonarCloud issues with writer/rego #1751
  pkg/builder/writer/rego.go
  pkg/builder/writer/rego_test.go
  pkg/engine/vulnerability_builder.go
  pkg/engine/vulnerability_builder_test.go
  pkg/kics/service.go
Labels: enhancement

#1753 Add postgresql_log_connections_flag_not_set_to_on query for Ansible
  assets/queries/ansible/gcp/postgresql_log_connections_flag_not_set_to_on/metadata.json
  assets/queries/ansible/gcp/postgresql_log_connections_flag_not_set_to_on/query.rego
  assets/queries/ansible/gcp/postgresql_log_connections_flag_not_set_to_on/test/negative.yaml
  assets/queries/ansible/gcp/postgresql_log_connections_flag_not_set_to_on/test/positive.yaml
  assets/queries/ansible/gcp/postgresql_log_connections_flag_not_set_to_on/test/positive_expected_result.json
Labels: ansible, gcp, query

#1769 Added Vulnerabilities Summary in Results.json File #1656
  cmd/console/main.go
  pkg/model/summary.go
Labels: enhancement, feature

#1760 Add Monitoring Log Profile Captures All Activities query for Ansible #1759
  assets/queries/ansible/azure/log_profile_captures_activities/metadata.json
  assets/queries/ansible/azure/log_profile_captures_activities/query.rego
  assets/queries/ansible/azure/log_profile_captures_activities/test/negative.yaml
  assets/queries/ansible/azure/log_profile_captures_activities/test/positive.yaml
  assets/queries/ansible/azure/log_profile_captures_activities/test/positive_expected_result.json
Labels: ansible, azure, query

#1762 Add msk_cluster_encryption_enabled query for Terraform (#1761)
  assets/queries/terraform/aws/msk_cluster_encryption_enabled/metadata.json
  assets/queries/terraform/aws/msk_cluster_encryption_enabled/query.rego
  assets/queries/terraform/aws/msk_cluster_encryption_enabled/test/negative.tf
  assets/queries/terraform/aws/msk_cluster_encryption_enabled/test/positive.tf
  assets/queries/terraform/aws/msk_cluster_encryption_enabled/test/positive_expected_result.json
Labels: aws, query, terraform

#1750 Add log_min_messages_invalid_value query Closes #1714
  assets/queries/ansible/gcp/log_min_messages_invalid_value/metadata.json
  assets/queries/ansible/gcp/log_min_messages_invalid_value/query.rego
  assets/queries/ansible/gcp/log_min_messages_invalid_value/test/negative.yaml
  assets/queries/ansible/gcp/log_min_messages_invalid_value/test/positive.yaml
  assets/queries/ansible/gcp/log_min_messages_invalid_value/test/positive_expected_result.json
Labels: ansible, gcp, query

#1773 Refractured functions
  pkg/builder/engine/engine.go
  pkg/builder/parser/tag/tag_parser.go
  pkg/source/filesystem.go
Labels: enhancement

#1778 Improved Dockerfile parser for containers with the same image, but different alias #1777
  pkg/parser/docker/parser.go
Labels: bug, enhancement

#1781 Project's editorconfig file
  .editorconfig
Labels: enhancement

#1481 Aded query SQL Analysis Services Port 2383 (TCP) is Publicly Accessib…
  assets/queries/ansible/aws/sql_analysis_services_port_2383_is_publicly_accessible/metadata.json
  assets/queries/ansible/aws/sql_analysis_services_port_2383_is_publicly_accessible/query.rego
  assets/queries/ansible/aws/sql_analysis_services_port_2383_is_publicly_accessible/test/negative.yaml
  assets/queries/ansible/aws/sql_analysis_services_port_2383_is_publicly_accessible/test/positive.yaml
  assets/queries/ansible/aws/sql_analysis_services_port_2383_is_publicly_accessible/test/positive_expected_result.json
Labels: ansible, aws, query

#1526 Add Public ECR policy query
  assets/queries/ansible/aws/public_ecr_policy/metadata.json
  assets/queries/ansible/aws/public_ecr_policy/query.rego
  assets/queries/ansible/aws/public_ecr_policy/test/negative.yaml
  assets/queries/ansible/aws/public_ecr_policy/test/positive.yaml
  assets/queries/ansible/aws/public_ecr_policy/test/positive_expected_result.json
Labels: ansible, aws, query

#1779 Added Rego Generic Functions
  assets/libraries/ansible/library.rego
  assets/libraries/cloudformation/library.rego
  assets/libraries/common/library.rego
  assets/libraries/dockerfile/library.rego
  assets/libraries/k8s/library.rego
  assets/libraries/terraform/library.rego
  pkg/engine/inspector.go
  pkg/engine/mock/inspector.go
  pkg/engine/query/source.go
  pkg/model/model.go
  test/main_test.go
  test/queries_content_test.go
  test/queries_test.go
Labels: enhancement, feature, query

#1792 Fix detect line issues
  assets/queries/ansible/aws/no_password_policy_enabled/query.rego
  assets/queries/ansible/azure/cosmosdb_account_without_tags/query.rego
  assets/queries/cloudFormation/s3_buckets_are_publicly_accessible/query.rego
  assets/queries/terraform/aws/aws_config_rule_for_encrypted_vols_is_disabled/query.rego
  cmd/console/main.go
  internal/tracker/ci.go
  pkg/engine/inspector.go
  pkg/engine/vulnerability_builder.go
  pkg/engine/vulnerability_builder_test.go
Labels: bug, enhancement, query

#1789 Assert values in integration tests' result.json
  .github/workflows/go.yml
Labels: CI, feature

#1768 Add version flag and refactored console main file to separate kics command and helpers
  assets/queries/terraform/aws/api_gateway_tracing/query.rego
  cmd/console/main.go
  docs/getting-started.md
  internal/console/generate_id.go
  internal/console/helpers.go
  internal/console/kics.go
  internal/console/scan.go
  internal/console/version.go
Labels: feature

#1807 Update code-of-conduct.md
  docs/code-of-conduct.md
Labels: documentation

#1806 Create pull_request_template.md
  .github/pull_request_template.md
Labels: documentation

#1033 Generate SimilarityID for vulnerability results
  .editorconfig
  Makefile
  assets/queries/ansible/azure/sensitive_port_is_exposed_to_entire_network/query.rego
  assets/queries/cloudFormation/ec2_sensitive_port_is_publicly_exposed/query.rego
  assets/queries/cloudFormation/elb_sensitive_port_is_exposed_to_entire_network/query.rego
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_entire_network/query.rego
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_small_public_network/query.rego
  assets/queries/terraform/azure/sensitive_port_is_exposed_to_entire_network/query.rego
  assets/queries/terraform/azure/sensitive_port_is_exposed_to_small_public_network/query.rego
  internal/console/helpers.go
  pkg/engine/query/source.go
  pkg/engine/similarity_id.go
  pkg/engine/similarity_id_test.go
  pkg/engine/vulnerability_builder.go
  pkg/model/model.go
  pkg/model/summary.go
  test/fixtures/tc-sim01/positive.tf
  test/fixtures/tc-sim01/query.rego
  test/fixtures/tc-sim02/positive.tf
  test/fixtures/tc-sim03/query.rego
  test/main_test.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: enhancement, feature, help wanted

#1826 Configure codecov to ignore tests and mocks files
  codecov.yml
Labels: enhancement

#1829 Empty vulnerability results when KICS fails to compute similarity ID
  .github/workflows/go.yml
  internal/console/scan.go
  internal/tracker/ci.go
  pkg/engine/inspector.go
  pkg/engine/vulnerability_builder.go
  pkg/model/summary.go
  test/queries_content_test.go
Labels: bug, go

#1785 Improve tests report in github actions
  .github/workflows/go.yml
Labels: CI, enhancement, feature

#1822 Supressed error treatment in similarity id tests
  test/main_test.go
  test/similarity_id_test.go
Labels: bug

#1830 Tweaking unit tests report configuration
  .github/workflows/go.yml
Labels: CI, enhancement

#1817 Fix formatting for all dockerfile queries
  assets/queries/dockerfile/add_instead_of_copy/query.rego
  assets/queries/dockerfile/aliase_names_must_be_unique/query.rego
  assets/queries/dockerfile/apk_add_using_local_cache_path/query.rego
  assets/queries/dockerfile/apt_get_without_no_recommends_flag/query.rego
  assets/queries/dockerfile/apt_get_without_yes_flag/query.rego
  assets/queries/dockerfile/changing_default_shell_using_shell_command/query.rego
  assets/queries/dockerfile/copy_2_Args/query.rego
  assets/queries/dockerfile/copy_from_references_current_from_alias/query.rego
  assets/queries/dockerfile/copy_from_without_from_alias_defined_previously/query.rego
  assets/queries/dockerfile/gem_install_without_version/query.rego
  assets/queries/dockerfile/healthcheck_instruction_missing/query.rego
  assets/queries/dockerfile/image_version_not_explicit/query.rego
  assets/queries/dockerfile/image_version_using_latest/query.rego
  assets/queries/dockerfile/last_user_is_root/query.rego
  assets/queries/dockerfile/maintainer_instruction_being_used/query.rego
  assets/queries/dockerfile/missing_dnf_clean_all/query.rego
  assets/queries/dockerfile/missing_flag_from_dnf_install/query.rego
  assets/queries/dockerfile/missing_user_instruction/query.rego
  assets/queries/dockerfile/missing_version_specification_in_dnf_install/query.rego
  assets/queries/dockerfile/missing_zypper_clean/query.rego
  assets/queries/dockerfile/missing_zypper_non_interactive_switch/query.rego
  assets/queries/dockerfile/multiple_cmd_instructions_listed/query.rego
  assets/queries/dockerfile/multiple_entrypoint_instructions_listed/query.rego
  assets/queries/dockerfile/not_using_json_in_cmd_and_entrypoint_arguments/query.rego
  assets/queries/dockerfile/npm_install_without_pinned_version/query.rego
  assets/queries/dockerfile/pin_versions_apt_get_delete/query.rego
  assets/queries/dockerfile/pin_versions_apt_get_install/query.rego
  assets/queries/dockerfile/pip_install_keeping_cached_packages/query.rego
  assets/queries/dockerfile/run_command_cd_instead_of_workdir/query.rego
  assets/queries/dockerfile/run_using_apt/query.rego
  assets/queries/dockerfile/run_using_dnf_update/query.rego
  assets/queries/dockerfile/run_using_sudo/query.rego
  assets/queries/dockerfile/run_using_upgrade_commands/query.rego
  assets/queries/dockerfile/run_using_wget_and_curl/query.rego
  assets/queries/dockerfile/run_using_zypper_update/query.rego
  assets/queries/dockerfile/run_utilities_and_posix_commands/query.rego
  assets/queries/dockerfile/secrets_stored_in_dockerfile/query.rego
  assets/queries/dockerfile/shell_pipe_without_pipefail_flag/query.rego
  assets/queries/dockerfile/unix_ports_out_of_range/query.rego
  assets/queries/dockerfile/unpinned_package_version_in_apk_add/query.rego
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/query.rego
  assets/queries/dockerfile/update_instruction_alone/query.rego
  assets/queries/dockerfile/use_of_apk_upgrade/query.rego
  assets/queries/dockerfile/using_platform_with_from/query.rego
  assets/queries/dockerfile/workdir_path_not_absolute/query.rego
  assets/queries/dockerfile/yum_clean_all_missing/query.rego
  assets/queries/dockerfile/yum_install_allows_manual_input/query.rego
  assets/queries/dockerfile/yum_install_without_version/query.rego
  assets/queries/dockerfile/yum_update_disabled/query.rego
  assets/queries/dockerfile/zypper_install_without_version/query.rego
Labels: docker, enhancement, query

#1819 Fix formatting for libraries rego files
  assets/libraries/ansible/library.rego
  assets/libraries/common/library.rego
  assets/libraries/k8s/library.rego
  assets/libraries/terraform/library.rego
Labels: ansible, cloudformation, docker, gcp, kubernetes, query, terraform

#1845 Update architecture.md
  docs/architecture.md
Labels: documentation

#1834 Improve logging to record scan elapsed time
  internal/console/scan.go
Labels: enhancement, go

#1841 Improve query metadata.json unit tests
  assets/queries/ansible/aws/IAM_policies_attached_to_user/metadata.json
  assets/queries/ansible/aws/api_gateway_public_lambda/metadata.json
  assets/queries/ansible/aws/aws_alb_application_protocol_not_http/metadata.json
  assets/queries/ansible/aws/s3_bucket_with_public_access/metadata.json
  assets/queries/ansible/aws/s3_bucket_without_logging/metadata.json
  assets/queries/cloudFormation/aws_lambda_functions_tracing_disabled/metadata.json
  assets/queries/cloudFormation/iam_policy_on_user/metadata.json
  assets/queries/cloudFormation/workspace_without_encryption/metadata.json
  assets/queries/k8s/volume_mount_with_OS_directory_write_permissions/metadata.json
  test/main_test.go
  test/queries_content_test.go
Labels: go, tests

#1783 Fix vulnerabilities with Dockerfile #1680
  Dockerfile
  assets/queries/dockerfile/missing_user_instruction/query.rego
  assets/queries/dockerfile/missing_user_instruction/test/negative.dockerfile
  docker-compose.yml
Labels: CI, bug, docker, enhancement

#1842 Improved codacy grade
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/query.md
  README.md
  cmd/builder/README.MD
  internal/storage/memory.go
  internal/tracker/ci.go
  pkg/builder/engine/engine.go
  pkg/builder/model/model.go
  pkg/builder/parser/comment/comments.go
  pkg/builder/parser/tag/tag_parser.go
  pkg/builder/writer/rego.go
  pkg/engine/inspector.go
  pkg/engine/vulnerability_builder.go
  pkg/kics/service.go
  pkg/model/model.go
  pkg/model/summary.go
  pkg/parser/json/parser.go
  pkg/parser/parser.go
  pkg/parser/terraform/terraform.go
  pkg/parser/yaml/parser.go
  pkg/source/filesystem.go
  pkg/source/sink.go
Labels: documentation, go

#1827 Feature/add unit tests
  codecov.yml
  internal/console/generate_id_test.go
  internal/console/helpers_test.go
  internal/console/version.go
  internal/console/version_test.go
  internal/storage/memory_test.go
  internal/tracker/ci_test.go
  pkg/builder/engine/engine_test.go
  pkg/builder/model/model_test.go
  pkg/builder/parser/tag/tag_parser.go
  pkg/builder/parser/tag/tag_parser_test.go
  pkg/builder/writer/rego_test.go
  pkg/engine/inspector_test.go
  pkg/engine/query/source.go
  pkg/engine/query/source_test.go
  pkg/engine/similarity_id_test.go
  pkg/engine/vulnerability_builder_test.go
  pkg/kics/service_test.go
  pkg/model/model_test.go
  pkg/model/summary_test.go
  pkg/parser/docker/parser_test.go
  pkg/parser/json/parser_test.go
  pkg/parser/parser_test.go
  pkg/parser/terraform/converter/default_test.go
  pkg/parser/terraform/terraform_test.go
  pkg/parser/yaml/parser_test.go
  pkg/source/filesystem_test.go
  test/fixtures/all_auth_users_get_read_access/metadata.json
  test/fixtures/all_auth_users_get_read_access/query.rego
  test/fixtures/all_auth_users_get_read_access/test/negative.tf
  test/fixtures/all_auth_users_get_read_access/test/positive.tf
  test/fixtures/all_auth_users_get_read_access/test/positive_expected_result.json
  test/helpers.go
  test/queries_content_test.go
Labels: enhancement, feature, go, tests

#1849 Improve logging and reporting to show failed queries
  internal/console/helpers.go
  internal/console/scan.go
  pkg/engine/inspector.go
Labels: enhancement, go

#1863 Coverage not being updated after pull request is merged to master
  .github/workflows/build.yml
  .github/workflows/go.yml
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
Labels: CI

#1864 Coverage not being updated after pull request is merged to master
  .github/workflows/go-coverage-only.yml
  .github/workflows/go.yml
Labels: CI, enhancement

#1887 Goreleaser is not including assets/libraries to the distribution packages
  .goreleaser-nightly.yml
  .goreleaser.yml
Labels: CI

#1859 remove release section from goreleaser config file
  .goreleaser.yml
Labels: CI

#1866 Update 'Azurerm Container Registry With No Locks' and 'Key Vault Soft Delete Is Disabled' queries for Ansible
  assets/queries/ansible/azure/container_registry_with_no_locks/query.rego
  assets/queries/ansible/azure/container_registry_with_no_locks/test/negative.yaml
  assets/queries/ansible/azure/container_registry_with_no_locks/test/positive.yaml
  assets/queries/ansible/azure/container_registry_with_no_locks/test/positive_expected_result.json
  assets/queries/ansible/azure/key_vault_soft_delete_disabled/query.rego
Labels: ansible, azure, enhancement, query

#1861 Fixed gosec issues #1860
  cmd/builder/main.go
  internal/console/helpers.go
  internal/console/scan.go
  pkg/engine/query/source.go
  pkg/source/filesystem.go
  test/helpers.go
Labels: enhancement, go, security

#1869 Update 'SQL Server Accessibility is Not Minimal' query for Ansible
  assets/queries/ansible/azure/sql_server_accessibility_is_not_minimal/query.rego
Labels: ansible, azure, enhancement, query

#1871 Update 'SQLServer Ingress from Any IP' query for Ansible
  assets/queries/ansible/azure/sql_server_ingress_from_any_ip/query.rego
Labels: ansible, azure, enhancement, query

#1873 Update Query Access Key Is Not Rotated Within 90 Days for CloudFormation #1856
  assets/queries/cloudFormation/access_key_not_rotated_within_90_days/query.rego
Labels: cloudformation, enhancement, query

#1889 Goreleaser is not including assets/libraries to the distribution packages
  .goreleaser-nightly.yml
  .goreleaser.yml
Labels: CI

#1847 Unit test for "searchValue" property in query result
  test/queries_content_test.go
Labels: go, tests

#1882 Update 'Log Min Messages Invalid Value' query for Ansible
  assets/queries/ansible/gcp/log_min_messages_invalid_value/query.rego
Labels: ansible, enhancement, gcp, query

#1892 Update VPC Attached With Too Many Gateways query for CloudFormation #1891
  assets/queries/cloudFormation/ec2_public_instance_exposed_through_subnet/test/negative.yaml
  assets/queries/cloudFormation/ec2_public_instance_exposed_through_subnet/test/positive.yaml
  assets/queries/cloudFormation/unused_vpc/test/negative.yaml
  assets/queries/cloudFormation/unused_vpc/test/positive.yaml
  assets/queries/cloudFormation/vpc_attached_with_too_many_gateways/test/negative.yaml
Labels: cloudformation, enhancement, query

#1851 Update queries for CloudFormation
  assets/queries/cloudFormation/CMK_Unencrypted_Storage/query.rego
  assets/queries/cloudFormation/CMK_Unencrypted_Storage/test/positive_expected_result.json
  assets/queries/cloudFormation/elb_ssl_setup/query.rego
  assets/queries/cloudFormation/iam_policy_assumerole_permission_all_services/query.rego
  assets/queries/cloudFormation/iam_policy_full_permissions/query.rego
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/query.rego
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/test/positive.yaml
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#1876 Update queries for Ansible
  assets/queries/ansible/azure/sql_server_with_public_access/query.rego
  assets/queries/ansible/azure/storage_account_forces_https/query.rego
  assets/queries/ansible/azure/storage_account_not_using_latest_tls_encryption_version/query.rego
Labels: ansible, azure, enhancement, query

#1906 update docs with releases page and query development help
  docs/CONTRIBUTING.md
  docs/about.md
  docs/index.md
  docs/queries.md
  docs/releases.md
  docs/results.md
  mkdocs.yml
Labels: documentation
