Repository Checkmarx/kics, pull requests merged in 2021-09, with the labels that each got.

#4141 ci(email): Send email when flags are changed
  .github/scripts/watchers/change-flags-email.py
  .github/workflows/notification-update-flags.yaml
Labels: CI

#4147 fix: auth without mfa samples
  assets/queries/terraform/aws/authentication_without_mfa/test/negative.tf
  assets/queries/terraform/aws/authentication_without_mfa/test/positive1.tf
  assets/queries/terraform/aws/authentication_without_mfa/test/positive2.tf
Labels: query, terraform

#4148 fix(core): Corrected library merge to merge variables
  pkg/engine/source/source.go
Labels: bug, go

#4155 fix(core): Fixed getLibraries to execute once, instead for every query
  pkg/engine/inspector.go
Labels: bug, go

#4146 feat(ci): alert flag changes
  .github/scripts/watchers/change-flags-email.py
  .github/scripts/watchers/email_template.txt
  .github/scripts/watchers/requirements.txt
  .github/workflows/alert-update-flags.yaml
Labels: CI

#4156 feat(core): support of custom libraries from zip and git repositories
  internal/console/scan.go
  pkg/engine/source/filesystem.go
Labels: feature, go

#4167 feat: E2E Tests Report (html)
  .github/scripts/report/e2e-html.go
  .github/scripts/report/go.mod
  .github/scripts/report/go.sum
  .github/scripts/report/main.go
  .github/scripts/report/template/html/e2e-report.css
  .github/scripts/report/template/html/e2e-report.js
  .github/scripts/report/template/html/e2e-report.tmpl
  .github/workflows/go-e2e.yaml
Labels: CI, tests

#4169 docs: using docker image for bitbucket pipelines
  docs/img/kics-scan-bitbucket-pipelines.png
  docs/integrations_bitbucketpipelines.md
  examples/bitbucket/bitbucket-pipelines.yaml
Labels: CI

#4172 fix(core): Fixed error treating when can't infer type from functions
  pkg/parser/terraform/converter/default.go
Labels: bug, go

#4159 feat(query): added "Glue Security Configuration Encryption Disabled" for Terraform
  assets/queries/terraform/aws/glue_security_configuration_encryption_disabled/metadata.json
  assets/queries/terraform/aws/glue_security_configuration_encryption_disabled/query.rego
  assets/queries/terraform/aws/glue_security_configuration_encryption_disabled/test/negative.tf
  assets/queries/terraform/aws/glue_security_configuration_encryption_disabled/test/positive1.tf
  assets/queries/terraform/aws/glue_security_configuration_encryption_disabled/test/positive2.tf
  assets/queries/terraform/aws/glue_security_configuration_encryption_disabled/test/positive3.tf
  assets/queries/terraform/aws/glue_security_configuration_encryption_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4157 feat(query): added "Glue Data Catalog Encryption Disabled" for Terraform
  assets/queries/terraform/aws/glue_data_catalog_encryption_disabled/metadata.json
  assets/queries/terraform/aws/glue_data_catalog_encryption_disabled/query.rego
  assets/queries/terraform/aws/glue_data_catalog_encryption_disabled/test/negative.tf
  assets/queries/terraform/aws/glue_data_catalog_encryption_disabled/test/positive1.tf
  assets/queries/terraform/aws/glue_data_catalog_encryption_disabled/test/positive2.tf
  assets/queries/terraform/aws/glue_data_catalog_encryption_disabled/test/positive3.tf
  assets/queries/terraform/aws/glue_data_catalog_encryption_disabled/test/positive4.tf
  assets/queries/terraform/aws/glue_data_catalog_encryption_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4176 feat(query): added "EKS Cluster Encryption Disabled" for Terraform
  assets/queries/terraform/aws/eks_cluster_encryption_disabled/metadata.json
  assets/queries/terraform/aws/eks_cluster_encryption_disabled/query.rego
  assets/queries/terraform/aws/eks_cluster_encryption_disabled/test/negative1.tf
  assets/queries/terraform/aws/eks_cluster_encryption_disabled/test/positive1.tf
  assets/queries/terraform/aws/eks_cluster_encryption_disabled/test/positive2.tf
  assets/queries/terraform/aws/eks_cluster_encryption_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4182 fix: moving custom library not provided warning to debug level
  pkg/engine/inspector_test.go
  pkg/engine/source/filesystem.go
  test/main_test.go
Labels: bug

#4163 feat(query): added RDS Database Cluster not Encrypted for Terraform
  assets/queries/terraform/aws/rds_database_cluster_not_encrypted/metadata.json
  assets/queries/terraform/aws/rds_database_cluster_not_encrypted/query.rego
  assets/queries/terraform/aws/rds_database_cluster_not_encrypted/test/negative.tf
  assets/queries/terraform/aws/rds_database_cluster_not_encrypted/test/positive1.tf
  assets/queries/terraform/aws/rds_database_cluster_not_encrypted/test/positive2.tf
  assets/queries/terraform/aws/rds_database_cluster_not_encrypted/test/positive_expected_result.json
Labels: query, terraform, aws

#4164 feat(query): added Autoscaling Groups Supply Tags for Terraform
  assets/queries/terraform/aws/autoscaling_groups_supply_tags/metadata.json
  assets/queries/terraform/aws/autoscaling_groups_supply_tags/query.rego
  assets/queries/terraform/aws/autoscaling_groups_supply_tags/test/negative.tf
  assets/queries/terraform/aws/autoscaling_groups_supply_tags/test/negative2.tf
  assets/queries/terraform/aws/autoscaling_groups_supply_tags/test/positive.tf
  assets/queries/terraform/aws/autoscaling_groups_supply_tags/test/positive_expected_result.json
Labels: query, terraform, aws

#4168 feat(query): added "VPC Subnet Assigns Public IP" for Terraform
  assets/queries/terraform/aws/vpc_subnet_assigns_public_ip/metadata.json
  assets/queries/terraform/aws/vpc_subnet_assigns_public_ip/query.rego
  assets/queries/terraform/aws/vpc_subnet_assigns_public_ip/test/negative1.tf
  assets/queries/terraform/aws/vpc_subnet_assigns_public_ip/test/negative2.tf
  assets/queries/terraform/aws/vpc_subnet_assigns_public_ip/test/positive.tf
  assets/queries/terraform/aws/vpc_subnet_assigns_public_ip/test/positive_expected_result.json
Labels: query, terraform, aws

#4165 feat(query): added ALB Deletion Protection Disabled for Terraform
  assets/queries/terraform/aws/alb_deletion_protection_disabled/metadata.json
  assets/queries/terraform/aws/alb_deletion_protection_disabled/query.rego
  assets/queries/terraform/aws/alb_deletion_protection_disabled/test/negative1.tf
  assets/queries/terraform/aws/alb_deletion_protection_disabled/test/negative2.tf
  assets/queries/terraform/aws/alb_deletion_protection_disabled/test/positive1.tf
  assets/queries/terraform/aws/alb_deletion_protection_disabled/test/positive2.tf
  assets/queries/terraform/aws/alb_deletion_protection_disabled/test/positive3.tf
  assets/queries/terraform/aws/alb_deletion_protection_disabled/test/positive4.tf
  assets/queries/terraform/aws/alb_deletion_protection_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4170 feat(query): added "SSM Session Transit Encryption Disabled" for Terraform
  assets/queries/terraform/aws/ssm_session_transit_encryption_disabled/metadata.json
  assets/queries/terraform/aws/ssm_session_transit_encryption_disabled/query.rego
  assets/queries/terraform/aws/ssm_session_transit_encryption_disabled/test/negative.tf
  assets/queries/terraform/aws/ssm_session_transit_encryption_disabled/test/positive1.tf
  assets/queries/terraform/aws/ssm_session_transit_encryption_disabled/test/positive2.tf
  assets/queries/terraform/aws/ssm_session_transit_encryption_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4171 feat(query): added Security Contact Email for Terraform
  assets/queries/terraform/azure/security_contact_email/metadata.json
  assets/queries/terraform/azure/security_contact_email/query.rego
  assets/queries/terraform/azure/security_contact_email/test/negative.tf
  assets/queries/terraform/azure/security_contact_email/test/positive.tf
  assets/queries/terraform/azure/security_contact_email/test/positive_expected_result.json
Labels: query, terraform, azure

#4186 docs: TravisCI example and docs
  docs/integrations_travisci.md
  examples/travis/.travis.yml
  mkdocs.yml
Labels: CI

#4184 fix(query): Fixed query checking to check the correct resource
  assets/queries/cloudFormation/cloudwatch_metrics_disabled/query.rego
  assets/queries/cloudFormation/cloudwatch_metrics_disabled/test/negative1.yaml
  assets/queries/cloudFormation/cloudwatch_metrics_disabled/test/negative2.json
  assets/queries/cloudFormation/cloudwatch_metrics_disabled/test/positive1.yaml
  assets/queries/cloudFormation/cloudwatch_metrics_disabled/test/positive2.json
  assets/queries/cloudFormation/cloudwatch_metrics_disabled/test/positive3.yaml
  assets/queries/cloudFormation/cloudwatch_metrics_disabled/test/positive4.json
  assets/queries/cloudFormation/cloudwatch_metrics_disabled/test/positive_expected_result.json
  e2e/fixtures/E2E_CLI_040_RESULT.html
Labels: cloudformation, accuracy

#4173 feat(query): added PostgreSQL Server Infrastructure Encryption Disabled for Te…
  assets/queries/terraform/azure/postgre_sql_server_infrastructure_encryption_disabled/metadata.json
  assets/queries/terraform/azure/postgre_sql_server_infrastructure_encryption_disabled/query.rego
  assets/queries/terraform/azure/postgre_sql_server_infrastructure_encryption_disabled/test/negative.tf
  assets/queries/terraform/azure/postgre_sql_server_infrastructure_encryption_disabled/test/positive1.tf
  assets/queries/terraform/azure/postgre_sql_server_infrastructure_encryption_disabled/test/positive2.tf
  assets/queries/terraform/azure/postgre_sql_server_infrastructure_encryption_disabled/test/positive_expected_result.json
Labels: query, terraform, azure

#4180 feat(query): added Azure Active Directory Authentication for Terraform
  assets/queries/terraform/azure/azure_active_directory_authentication/metadata.json
  assets/queries/terraform/azure/azure_active_directory_authentication/query.rego
  assets/queries/terraform/azure/azure_active_directory_authentication/test/negative.tf
  assets/queries/terraform/azure/azure_active_directory_authentication/test/positive1.tf
  assets/queries/terraform/azure/azure_active_directory_authentication/test/positive2.tf
  assets/queries/terraform/azure/azure_active_directory_authentication/test/positive_expected_result.json
Labels: query, terraform, azure

#4183 feat(query): added Azure Cognitive Search Public Network Access Enabl…
  assets/queries/terraform/azure/azure_cognitive_search_public_network_access_enabled/metadata.json
  assets/queries/terraform/azure/azure_cognitive_search_public_network_access_enabled/query.rego
  assets/queries/terraform/azure/azure_cognitive_search_public_network_access_enabled/test/negative.tf
  assets/queries/terraform/azure/azure_cognitive_search_public_network_access_enabled/test/positive1.tf
  assets/queries/terraform/azure/azure_cognitive_search_public_network_access_enabled/test/positive2.tf
  assets/queries/terraform/azure/azure_cognitive_search_public_network_access_enabled/test/positive_expected_result.json
Labels: query, terraform, azure

#4185 feat(query): added Azure Front Door WAF Disabled for Terraform
  assets/queries/terraform/azure/azure_front_door_waf_disabled/metadata.json
  assets/queries/terraform/azure/azure_front_door_waf_disabled/query.rego
  assets/queries/terraform/azure/azure_front_door_waf_disabled/test/negative.tf
  assets/queries/terraform/azure/azure_front_door_waf_disabled/test/positive.tf
  assets/queries/terraform/azure/azure_front_door_waf_disabled/test/positive_expected_result.json
Labels: query, terraform, azure

#4192 fix(query): fixed some samples based on linter feedback
  assets/queries/terraform/aws/iam_policies_attached_to_user/test/positive3.tf
  assets/queries/terraform/aws/iam_policies_attached_to_user/test/positive_expected_result.json
  assets/queries/terraform/aws/public_and_private_ec2_share_role/test/negative.tf
  assets/queries/terraform/aws/public_and_private_ec2_share_role/test/positive.tf
  assets/queries/terraform/aws/public_and_private_ec2_share_role/test/positive_expected_result.json
Labels: query

#4174 feat(query): added MariaDB Server Geo-redundant Backup Disabled for T…
  assets/queries/terraform/azure/mariadb_server_georedundant_backup_disabled/metadata.json
  assets/queries/terraform/azure/mariadb_server_georedundant_backup_disabled/query.rego
  assets/queries/terraform/azure/mariadb_server_georedundant_backup_disabled/test/negative.tf
  assets/queries/terraform/azure/mariadb_server_georedundant_backup_disabled/test/positive1.tf
  assets/queries/terraform/azure/mariadb_server_georedundant_backup_disabled/test/positive2.tf
  assets/queries/terraform/azure/mariadb_server_georedundant_backup_disabled/test/positive_expected_result.json
Labels: query, terraform, azure

#4177 feat(query): added PostgreSQL Server Threat Detection Policy Disabled…
  assets/queries/terraform/azure/postgresql_server_threat_detection_policy_disabled/metadata.json
  assets/queries/terraform/azure/postgresql_server_threat_detection_policy_disabled/query.rego
  assets/queries/terraform/azure/postgresql_server_threat_detection_policy_disabled/test/negative.tf
  assets/queries/terraform/azure/postgresql_server_threat_detection_policy_disabled/test/positive1.tf
  assets/queries/terraform/azure/postgresql_server_threat_detection_policy_disabled/test/positive2.tf
  assets/queries/terraform/azure/postgresql_server_threat_detection_policy_disabled/test/positive_expected_result.json
Labels: query, terraform, azure

#4196 feat(query): added AKS Private Clusters Disabled for Terraform
  assets/queries/terraform/azure/aks_private_cluster_disabled/metadata.json
  assets/queries/terraform/azure/aks_private_cluster_disabled/query.rego
  assets/queries/terraform/azure/aks_private_cluster_disabled/test/negative.tf
  assets/queries/terraform/azure/aks_private_cluster_disabled/test/positive1.tf
  assets/queries/terraform/azure/aks_private_cluster_disabled/test/positive2.tf
  assets/queries/terraform/azure/aks_private_cluster_disabled/test/positive_expected_result.json
Labels: query, terraform, azure

#4190 feat(query): added Network Interfaces IP Forwarding Enabled
  assets/queries/terraform/azure/network_interfaces_ip_forwarding_enabled/metadata.json
  assets/queries/terraform/azure/network_interfaces_ip_forwarding_enabled/query.rego
  assets/queries/terraform/azure/network_interfaces_ip_forwarding_enabled/test/negative1.tf
  assets/queries/terraform/azure/network_interfaces_ip_forwarding_enabled/test/negative2.tf
  assets/queries/terraform/azure/network_interfaces_ip_forwarding_enabled/test/positive.tf
  assets/queries/terraform/azure/network_interfaces_ip_forwarding_enabled/test/positive_expected_result.json
Labels: query, terraform, azure

#4193 feat(query): added AKS Disk Encryption Set ID Undefined
  assets/queries/terraform/azure/aks_disk_encryption_set_id_undefined/metadata.json
  assets/queries/terraform/azure/aks_disk_encryption_set_id_undefined/query.rego
  assets/queries/terraform/azure/aks_disk_encryption_set_id_undefined/test/negative.tf
  assets/queries/terraform/azure/aks_disk_encryption_set_id_undefined/test/positive.tf
  assets/queries/terraform/azure/aks_disk_encryption_set_id_undefined/test/positive_expected_result.json
Labels: query, terraform, azure

#4195 feat(query): added AKS Azure Policies Add-On Disabled for Terraform
  assets/queries/terraform/azure/aks_uses_azure_policies_addon_disabled/metadata.json
  assets/queries/terraform/azure/aks_uses_azure_policies_addon_disabled/query.rego
  assets/queries/terraform/azure/aks_uses_azure_policies_addon_disabled/test/negative.tf
  assets/queries/terraform/azure/aks_uses_azure_policies_addon_disabled/test/positive1.tf
  assets/queries/terraform/azure/aks_uses_azure_policies_addon_disabled/test/positive2.tf
  assets/queries/terraform/azure/aks_uses_azure_policies_addon_disabled/test/positive3.tf
  assets/queries/terraform/azure/aks_uses_azure_policies_addon_disabled/test/positive_expected_result.json
Labels: query, terraform, azure

#4198 docs(secrets): added docs related to "Passwords and Secrets" query
  docs/secrets.md
  mkdocs.yml
Labels: documentation

#4202 docs: fixing missing flags in dockerhub.md
  docs/dockerhub.md
Labels: documentation

#4203 feat(core): Added support to terraform modules query
  assets/assets.go
  assets/libraries/common.json
  assets/libraries/common.rego
  assets/queries/terraform/aws/cloudtrail_log_files_s3_bucket_is_publicly_accessible/query.rego
  assets/queries/terraform/aws/cloudtrail_log_files_s3_bucket_is_publicly_accessible/test/positive1.tf
  assets/queries/terraform/aws/cloudtrail_log_files_s3_bucket_is_publicly_accessible/test/positive2.tf
  assets/queries/terraform/aws/cloudtrail_log_files_s3_bucket_is_publicly_accessible/test/positive_expected_result.json
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/engine/mock/source.go
  pkg/engine/source/filesystem.go
  pkg/engine/source/filesystem_test.go
  pkg/engine/source/source.go
  pkg/engine/source/source_test.go
  test/main_test.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: enhancement, query, terraform, go

#4208 feat(query): added Key Vault Secrets Content Type Undefined for Terra…
  assets/queries/terraform/azure/key_vault_secrets_content_type_undefined/metadata.json
  assets/queries/terraform/azure/key_vault_secrets_content_type_undefined/query.rego
  assets/queries/terraform/azure/key_vault_secrets_content_type_undefined/test/negative.tf
  assets/queries/terraform/azure/key_vault_secrets_content_type_undefined/test/positive.tf
  assets/queries/terraform/azure/key_vault_secrets_content_type_undefined/test/positive_expected_result.json
Labels: query, terraform, azure

#4224 fix(parser): fix issue with parser returning panic #4223
  pkg/analyzer/analyzer.go
  pkg/model/model_yaml.go
Labels: bug, go

#4211 fix(ci): fixed script to send alert when flags changes
  .github/scripts/watchers/change-flags-email.py
Labels: CI

#4226 fix(parser): yaml parser not returning invalid yaml error
  pkg/parser/yaml/parser.go
  pkg/parser/yaml/parser_test.go
Labels: bug

#4210 feat(query): support of Terraform module for "SQS VPC Endpoint Without DNS Resolution"
  assets/queries/terraform/aws/sqs_vpc_endpoint_without_dns_resolution/query.rego
  assets/queries/terraform/aws/sqs_vpc_endpoint_without_dns_resolution/test/negative1.tf
  assets/queries/terraform/aws/sqs_vpc_endpoint_without_dns_resolution/test/negative2.tf
  assets/queries/terraform/aws/sqs_vpc_endpoint_without_dns_resolution/test/positive1.tf
  assets/queries/terraform/aws/sqs_vpc_endpoint_without_dns_resolution/test/positive2.tf
  assets/queries/terraform/aws/sqs_vpc_endpoint_without_dns_resolution/test/positive_expected_result.json
Labels: query, terraform, aws

#4213 feat(query): support of Terraform module for "Hardcoded AWS Access Key"
  assets/queries/terraform/aws/hardcoded_aws_access_key/query.rego
  assets/queries/terraform/aws/hardcoded_aws_access_key/test/negative.tf
  assets/queries/terraform/aws/hardcoded_aws_access_key/test/negative1.tf
  assets/queries/terraform/aws/hardcoded_aws_access_key/test/negative2.tf
  assets/queries/terraform/aws/hardcoded_aws_access_key/test/positive.tf
  assets/queries/terraform/aws/hardcoded_aws_access_key/test/positive1.tf
  assets/queries/terraform/aws/hardcoded_aws_access_key/test/positive2.tf
  assets/queries/terraform/aws/hardcoded_aws_access_key/test/positive_expected_result.json
Labels: query, terraform, aws

#4215 feat(query): support of Terraform module for "EC2 Instance Monitoring Disabled"
  assets/queries/terraform/aws/ec2_instance_monitoring_disabled/query.rego
  assets/queries/terraform/aws/ec2_instance_monitoring_disabled/test/negative2.tf
  assets/queries/terraform/aws/ec2_instance_monitoring_disabled/test/positive3.tf
  assets/queries/terraform/aws/ec2_instance_monitoring_disabled/test/positive4.tf
  assets/queries/terraform/aws/ec2_instance_monitoring_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4216 feat(query): support of Terraform module for "EC2 Not EBS Optimized"
  assets/queries/terraform/aws/ec2_not_ebs_optimized/query.rego
  assets/queries/terraform/aws/ec2_not_ebs_optimized/test/negative2.tf
  assets/queries/terraform/aws/ec2_not_ebs_optimized/test/positive3.tf
  assets/queries/terraform/aws/ec2_not_ebs_optimized/test/positive4.tf
  assets/queries/terraform/aws/ec2_not_ebs_optimized/test/positive_expected_result.json
Labels: query, terraform, aws

#4217 fix(query): correcting "keyExpectedValue" and "keyActualValue" for "Configuration Aggregator to All Regions Disabled"
  assets/queries/terraform/aws/config_configuration_aggregator_to_all_regions_disabled/query.rego
  assets/queries/terraform/aws/config_configuration_aggregator_to_all_regions_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4218 feat(query): support of Terraform module for "DB Instance Publicly Accessible"
  assets/queries/terraform/aws/db_instance_publicly_accessible/query.rego
  assets/queries/terraform/aws/db_instance_publicly_accessible/test/negative1.tf
  assets/queries/terraform/aws/db_instance_publicly_accessible/test/negative2.tf
  assets/queries/terraform/aws/db_instance_publicly_accessible/test/positive1.tf
  assets/queries/terraform/aws/db_instance_publicly_accessible/test/positive2.tf
  assets/queries/terraform/aws/db_instance_publicly_accessible/test/positive_expected_result.json
Labels: query, terraform, aws

#4219 feat(query): support of Terraform module for "IAM Database Auth Not Enabled"
  assets/queries/terraform/aws/iam_database_auth_not_enabled/query.rego
  assets/queries/terraform/aws/iam_database_auth_not_enabled/test/negative1.tf
  assets/queries/terraform/aws/iam_database_auth_not_enabled/test/negative2.tf
  assets/queries/terraform/aws/iam_database_auth_not_enabled/test/positive1.tf
  assets/queries/terraform/aws/iam_database_auth_not_enabled/test/positive2.tf
  assets/queries/terraform/aws/iam_database_auth_not_enabled/test/positive3.tf
  assets/queries/terraform/aws/iam_database_auth_not_enabled/test/positive4.tf
  assets/queries/terraform/aws/iam_database_auth_not_enabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4220 feat(query): support of Terraform module for "DB Instance Storage Not Encrypted"
  assets/queries/terraform/aws/db_instance_storage_not_encrypted/query.rego
  assets/queries/terraform/aws/db_instance_storage_not_encrypted/test/negative1.tf
  assets/queries/terraform/aws/db_instance_storage_not_encrypted/test/negative2.tf
  assets/queries/terraform/aws/db_instance_storage_not_encrypted/test/positive1.tf
  assets/queries/terraform/aws/db_instance_storage_not_encrypted/test/positive2.tf
  assets/queries/terraform/aws/db_instance_storage_not_encrypted/test/positive3.tf
  assets/queries/terraform/aws/db_instance_storage_not_encrypted/test/positive_expected_result.json
Labels: query, terraform, aws

#4221 feat(query): support of Terraform module for "Automatic Minor Upgrades Disabled"
  assets/queries/terraform/aws/automatic_minor_upgrades_disabled/query.rego
  assets/queries/terraform/aws/automatic_minor_upgrades_disabled/test/negative1.tf
  assets/queries/terraform/aws/automatic_minor_upgrades_disabled/test/negative2.tf
  assets/queries/terraform/aws/automatic_minor_upgrades_disabled/test/positive1.tf
  assets/queries/terraform/aws/automatic_minor_upgrades_disabled/test/positive2.tf
  assets/queries/terraform/aws/automatic_minor_upgrades_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4222 feat(query): support of Terraform module for "RDS With Backup Disabled"
  assets/queries/terraform/aws/rds_with_backup_disabled/query.rego
  assets/queries/terraform/aws/rds_with_backup_disabled/test/negative1.tf
  assets/queries/terraform/aws/rds_with_backup_disabled/test/negative2.tf
  assets/queries/terraform/aws/rds_with_backup_disabled/test/positive1.tf
  assets/queries/terraform/aws/rds_with_backup_disabled/test/positive2.tf
  assets/queries/terraform/aws/rds_with_backup_disabled/test/positive3.tf
  assets/queries/terraform/aws/rds_with_backup_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4240 fix(query): changed searchLine to search correct value
  assets/queries/terraform/aws/ec2_not_ebs_optimized/query.rego
Labels: query, terraform, accuracy

#4242 test(pkg): increase unit tests to 80% coverage
  .github/scripts/coverage/.coverageignore
  pkg/kics/sink_test.go
  pkg/parser/jsonfilter/parser/error_listener_test.go
  pkg/parser/parser_test.go
Labels: tests

#4246 feat(cli): removing progress bar when --log-level=debug
  internal/console/scan.go
Labels: go

#4248 fix(parser): fix terraform parser returning null instead of empty array
  assets/queries/terraform/aws/auto_scaling_group_with_no_associated_elb/query.rego
  assets/queries/terraform/aws/iam_group_without_users/query.rego
  assets/queries/terraform/aws/rds_without_logging/query.rego
  assets/queries/terraform/aws/route53_record_undefined/query.rego
  assets/queries/terraform/azure/vm_not_attached_to_network/query.rego
  assets/queries/terraform/gcp/cloud_storage_anonymous_or_publicly_accessible/query.rego
  pkg/parser/terraform/converter/default.go
Labels: bug

#4249 feat(query): Added terraform modules for 'security not used' query
  assets/queries/common/passwords_and_secrets/test/positive15.tf
  assets/queries/common/passwords_and_secrets/test/positive17.tf
  assets/queries/terraform/aws/security_groups_not_used/query.rego
  assets/queries/terraform/aws/security_groups_not_used/test/negative2.tf
Labels: query, terraform, accuracy

#4228 feat(query): support of Terraform modules for "CA Certificate Identif…
  assets/queries/terraform/aws/ca_certificate_identifier_is_outdated/query.rego
  assets/queries/terraform/aws/ca_certificate_identifier_is_outdated/test/negative1.tf
  assets/queries/terraform/aws/ca_certificate_identifier_is_outdated/test/negative2.tf
  assets/queries/terraform/aws/ca_certificate_identifier_is_outdated/test/positive1.tf
  assets/queries/terraform/aws/ca_certificate_identifier_is_outdated/test/positive2.tf
  assets/queries/terraform/aws/ca_certificate_identifier_is_outdated/test/positive_expected_result.json
Labels: query, terraform, aws

#4229 feat(query): support of Terraform modules for "ELB Access Logging Dis…
  assets/queries/terraform/aws/elb_access_logging_disabled/query.rego
  assets/queries/terraform/aws/elb_access_logging_disabled/test/negative3.tf
  assets/queries/terraform/aws/elb_access_logging_disabled/test/negative4.tf
  assets/queries/terraform/aws/elb_access_logging_disabled/test/positive3.tf
  assets/queries/terraform/aws/elb_access_logging_disabled/test/positive4.tf
  assets/queries/terraform/aws/elb_access_logging_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4230 feat(query): support of Terraform modules for "User Data Shell Script…
  assets/queries/terraform/aws/user_data_shell_script_is_encoded/query.rego
  assets/queries/terraform/aws/user_data_shell_script_is_encoded/test/negative.tf
  assets/queries/terraform/aws/user_data_shell_script_is_encoded/test/negative1.tf
  assets/queries/terraform/aws/user_data_shell_script_is_encoded/test/negative2.tf
  assets/queries/terraform/aws/user_data_shell_script_is_encoded/test/negative3.tf
  assets/queries/terraform/aws/user_data_shell_script_is_encoded/test/negative4.tf
  assets/queries/terraform/aws/user_data_shell_script_is_encoded/test/negative5.tf
  assets/queries/terraform/aws/user_data_shell_script_is_encoded/test/negative6.tf
  assets/queries/terraform/aws/user_data_shell_script_is_encoded/test/negative7.tf
  assets/queries/terraform/aws/user_data_shell_script_is_encoded/test/negative8.tf
  assets/queries/terraform/aws/user_data_shell_script_is_encoded/test/positive1.tf
  assets/queries/terraform/aws/user_data_shell_script_is_encoded/test/positive2.tf
  assets/queries/terraform/aws/user_data_shell_script_is_encoded/test/positive_expected_result.json
Labels: query, terraform, aws

#4232 feat(query): support of Terraform modules for "Launch Configuration I…
  assets/queries/terraform/aws/launch_configuration_is_not_encrypted/query.rego
  assets/queries/terraform/aws/launch_configuration_is_not_encrypted/test/negative1.tf
  assets/queries/terraform/aws/launch_configuration_is_not_encrypted/test/negative2.tf
  assets/queries/terraform/aws/launch_configuration_is_not_encrypted/test/positive1.tf
  assets/queries/terraform/aws/launch_configuration_is_not_encrypted/test/positive2.tf
  assets/queries/terraform/aws/launch_configuration_is_not_encrypted/test/positive3.tf
  assets/queries/terraform/aws/launch_configuration_is_not_encrypted/test/positive4.tf
  assets/queries/terraform/aws/launch_configuration_is_not_encrypted/test/positive_expected_result.json
Labels: query, terraform, aws

#4234 feat(query): support of Terraform modules for "Auto Scaling Group Wit…
  assets/queries/terraform/aws/auto_scaling_group_with_no_associated_elb/query.rego
  assets/queries/terraform/aws/auto_scaling_group_with_no_associated_elb/test/negative2.tf
  assets/queries/terraform/aws/auto_scaling_group_with_no_associated_elb/test/positive3.tf
  assets/queries/terraform/aws/auto_scaling_group_with_no_associated_elb/test/positive4.tf
  assets/queries/terraform/aws/auto_scaling_group_with_no_associated_elb/test/positive_expected_result.json
Labels: query, terraform, aws

#4259 docs: adding teamcity integration example
  docs/img/teamcity-scan-logs.png
  docs/img/teamcity-success-status.png
  docs/integrations.md
  docs/integrations_teamcity.md
  examples/teamcity/settings.kts
  mkdocs.yml
Labels: documentation

#4252 feat(query): added "PSP With Unrestricted Access to Host Path" for Kubernetes
  assets/queries/k8s/psp_with_unrestricted_access_to_host_path/metadata.json
  assets/queries/k8s/psp_with_unrestricted_access_to_host_path/query.rego
  assets/queries/k8s/psp_with_unrestricted_access_to_host_path/test/negative1.yaml
  assets/queries/k8s/psp_with_unrestricted_access_to_host_path/test/positive1.yaml
  assets/queries/k8s/psp_with_unrestricted_access_to_host_path/test/positive2.yaml
  assets/queries/k8s/psp_with_unrestricted_access_to_host_path/test/positive3.yaml
  assets/queries/k8s/psp_with_unrestricted_access_to_host_path/test/positive_expected_result.json
Labels: query, kubernetes

#4254 feat(query): update "Using Unrecommended Namespace"
  assets/queries/k8s/using_default_namespace/test/positive1.yaml
  assets/queries/k8s/using_default_namespace/test/positive_expected_result.json
  assets/queries/k8s/using_unrecommended_namespace/metadata.json
  assets/queries/k8s/using_unrecommended_namespace/query.rego
  assets/queries/k8s/using_unrecommended_namespace/test/negative1.yaml
  assets/queries/k8s/using_unrecommended_namespace/test/positive1.yaml
  assets/queries/k8s/using_unrecommended_namespace/test/positive2.yaml
  assets/queries/k8s/using_unrecommended_namespace/test/positive3.yaml
  assets/queries/k8s/using_unrecommended_namespace/test/positive4.yaml
  assets/queries/k8s/using_unrecommended_namespace/test/positive_expected_result.json
Labels: query, kubernetes

#4225 feat(query): support of Terraform modules for "RDS Without Logging"
  assets/queries/terraform/aws/rds_without_logging/query.rego
  assets/queries/terraform/aws/rds_without_logging/test/negative1.tf
  assets/queries/terraform/aws/rds_without_logging/test/negative3.tf
  assets/queries/terraform/aws/rds_without_logging/test/negative4.tf
  assets/queries/terraform/aws/rds_without_logging/test/positive1.tf
  assets/queries/terraform/aws/rds_without_logging/test/positive2.tf
  assets/queries/terraform/aws/rds_without_logging/test/positive3.tf
  assets/queries/terraform/aws/rds_without_logging/test/positive4.tf
  assets/queries/terraform/aws/rds_without_logging/test/positive_expected_result.json
Labels: query, terraform, aws

#4241 feat(query): support of Terraform modules for "S3 Bucket With All Permissions"
  assets/queries/terraform/aws/s3_bucket_with_all_permissions/query.rego
  assets/queries/terraform/aws/s3_bucket_with_all_permissions/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_with_all_permissions/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_with_all_permissions/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_with_all_permissions/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_with_all_permissions/test/positive_expected_result.json
Labels: query, terraform, aws

#4258 feat(Query): added "Pod or Container Without ResourceQuota" for Kubernetes
  assets/queries/k8s/pod_or_container_without_resource_quota/metadata.json
  assets/queries/k8s/pod_or_container_without_resource_quota/query.rego
  assets/queries/k8s/pod_or_container_without_resource_quota/test/negative1.yaml
  assets/queries/k8s/pod_or_container_without_resource_quota/test/negative2.yaml
  assets/queries/k8s/pod_or_container_without_resource_quota/test/positive1.yaml
  assets/queries/k8s/pod_or_container_without_resource_quota/test/positive2.yaml
  assets/queries/k8s/pod_or_container_without_resource_quota/test/positive3.yaml
  assets/queries/k8s/pod_or_container_without_resource_quota/test/positive_expected_result.json
Labels: query, kubernetes

#4256 feat(query): added "Pod or Container Without LimitRange" for Kubernetes
  assets/queries/k8s/pod_or_container_without_limit_range/metadata.json
  assets/queries/k8s/pod_or_container_without_limit_range/query.rego
  assets/queries/k8s/pod_or_container_without_limit_range/test/negative1.yaml
  assets/queries/k8s/pod_or_container_without_limit_range/test/negative2.yaml
  assets/queries/k8s/pod_or_container_without_limit_range/test/positive1.yaml
  assets/queries/k8s/pod_or_container_without_limit_range/test/positive2.yaml
  assets/queries/k8s/pod_or_container_without_limit_range/test/positive3.yaml
  assets/queries/k8s/pod_or_container_without_limit_range/test/positive_expected_result.json
Labels: query, kubernetes

#4253 feat(query): Added modules to query 'Unrestricted Security Group Ingress'
  assets/queries/terraform/aws/unrestricted_security_group_ingress/query.rego
  assets/queries/terraform/aws/unrestricted_security_group_ingress/test/negative.tf
  assets/queries/terraform/aws/unrestricted_security_group_ingress/test/negative1.tf
  assets/queries/terraform/aws/unrestricted_security_group_ingress/test/negative2.tf
  assets/queries/terraform/aws/unrestricted_security_group_ingress/test/negative3.tf
  assets/queries/terraform/aws/unrestricted_security_group_ingress/test/negative4.tf
  assets/queries/terraform/aws/unrestricted_security_group_ingress/test/positive.tf
  assets/queries/terraform/aws/unrestricted_security_group_ingress/test/positive1.tf
  assets/queries/terraform/aws/unrestricted_security_group_ingress/test/positive2.tf
  assets/queries/terraform/aws/unrestricted_security_group_ingress/test/positive3.tf
  assets/queries/terraform/aws/unrestricted_security_group_ingress/test/positive4.tf
  assets/queries/terraform/aws/unrestricted_security_group_ingress/test/positive5.tf
  assets/queries/terraform/aws/unrestricted_security_group_ingress/test/positive_expected_result.json
Labels: query, terraform, accuracy

#4273 feat(query): Added modules to 'VPC FlowLogs Disabled' query
  assets/queries/terraform/aws/vpc_flowlogs_disabled/query.rego
  assets/queries/terraform/aws/vpc_flowlogs_disabled/test/negative1.tf
  assets/queries/terraform/aws/vpc_flowlogs_disabled/test/negative2.tf
  assets/queries/terraform/aws/vpc_flowlogs_disabled/test/positive1.tf
  assets/queries/terraform/aws/vpc_flowlogs_disabled/test/positive2.tf
  assets/queries/terraform/aws/vpc_flowlogs_disabled/test/positive3.tf
  assets/queries/terraform/aws/vpc_flowlogs_disabled/test/positive4.tf
  assets/queries/terraform/aws/vpc_flowlogs_disabled/test/positive_expected_result.json
Labels: query, terraform, accuracy

#4239 feat(query): support of Terraform module for "S3 Static Website Host Enabled"
  assets/queries/terraform/aws/s3_static_website_host_enabled/query.rego
  assets/queries/terraform/aws/s3_static_website_host_enabled/test/negative1.tf
  assets/queries/terraform/aws/s3_static_website_host_enabled/test/negative2.tf
  assets/queries/terraform/aws/s3_static_website_host_enabled/test/positive1.tf
  assets/queries/terraform/aws/s3_static_website_host_enabled/test/positive2.tf
  assets/queries/terraform/aws/s3_static_website_host_enabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4243 feat(query): support of Terraform modules for "S3 Bucket ACL Allows Read to Any Authenticated User"
  assets/queries/terraform/aws/s3_bucket_acl_allows_read_to_any_authenticated_user/query.rego
  assets/queries/terraform/aws/s3_bucket_acl_allows_read_to_any_authenticated_user/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_acl_allows_read_to_any_authenticated_user/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_acl_allows_read_to_any_authenticated_user/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_acl_allows_read_to_any_authenticated_user/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_acl_allows_read_to_any_authenticated_user/test/positive_expected_result.json
Labels: query, terraform, aws

#4247 feat(query): support of Terraform modules for "S3 Bucket Without Versioning"
  assets/queries/terraform/aws/s3_bucket_without_versioning/query.rego
  assets/queries/terraform/aws/s3_bucket_without_versioning/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_without_versioning/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_without_versioning/test/positive.tf
  assets/queries/terraform/aws/s3_bucket_without_versioning/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_without_versioning/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_without_versioning/test/positive3.tf
  assets/queries/terraform/aws/s3_bucket_without_versioning/test/positive4.tf
  assets/queries/terraform/aws/s3_bucket_without_versioning/test/positive5.tf
  assets/queries/terraform/aws/s3_bucket_without_versioning/test/positive6.tf
  assets/queries/terraform/aws/s3_bucket_without_versioning/test/positive_expected_result.json
Labels: query, terraform, aws

#4251 feat(query): support of Terraform modules for "S3 Bucket Allows List Action From All Principals"
  assets/queries/terraform/aws/s3_bucket_allows_list_action_from_all_principals/query.rego
  assets/queries/terraform/aws/s3_bucket_allows_list_action_from_all_principals/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_allows_list_action_from_all_principals/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_allows_list_action_from_all_principals/test/positive.tf
  assets/queries/terraform/aws/s3_bucket_allows_list_action_from_all_principals/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_allows_list_action_from_all_principals/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_allows_list_action_from_all_principals/test/positive3.tf
  assets/queries/terraform/aws/s3_bucket_allows_list_action_from_all_principals/test/positive_expected_result.json
Labels: query, terraform, aws

#4283 fix: respect http_proxy environment variable
  pkg/descriptions/client.go
Labels: bug

#4286 fix(query): added searchLine to Container Running With Low UID to improve line detection (#4285)
  assets/queries/k8s/containers_run_with_low_uid/query.rego
  assets/queries/k8s/containers_run_with_low_uid/test/positive3.yaml
  assets/queries/k8s/containers_run_with_low_uid/test/positive_expected_result.json
  pkg/detector/default_detect.go
  pkg/engine/vulnerability_builder.go
Labels: bug, query, kubernetes

#4261 feat(query): Added Support to tf modules for S3 Bucket Allows Public ACL
  assets/queries/terraform/aws/s3_bucket_allows_public_acl/query.rego
  assets/queries/terraform/aws/s3_bucket_allows_public_acl/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_allows_public_acl/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_allows_public_acl/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_allows_public_acl/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_allows_public_acl/test/positive3.tf
  assets/queries/terraform/aws/s3_bucket_allows_public_acl/test/positive_expected_result.json
Labels: query, terraform, aws

#4260 feat(query): Added support to terraform modules to query S3 Bucket Without Restriction Of Public Bucket
  assets/queries/terraform/aws/s3_bucket_without_restriction_of_public_bucket/query.rego
  assets/queries/terraform/aws/s3_bucket_without_restriction_of_public_bucket/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_without_restriction_of_public_bucket/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_without_restriction_of_public_bucket/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_without_restriction_of_public_bucket/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_without_restriction_of_public_bucket/test/positive3.tf
  assets/queries/terraform/aws/s3_bucket_without_restriction_of_public_bucket/test/positive_expected_result.json
Labels: query, terraform, aws

#4269 feat(query): support of Terraform modules for "S3 Bucket ACL Allows Read Or Write to All Users"
  assets/queries/terraform/aws/s3_bucket_acl_allows_read_or_write_to_all_users/query.rego
  assets/queries/terraform/aws/s3_bucket_acl_allows_read_or_write_to_all_users/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_acl_allows_read_or_write_to_all_users/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_acl_allows_read_or_write_to_all_users/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_acl_allows_read_or_write_to_all_users/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_acl_allows_read_or_write_to_all_users/test/positive3.tf
  assets/queries/terraform/aws/s3_bucket_acl_allows_read_or_write_to_all_users/test/positive4.tf
  assets/queries/terraform/aws/s3_bucket_acl_allows_read_or_write_to_all_users/test/positive_expected_result.json
Labels: query, terraform, aws

#4274 feat(query): support of Terraform modules for "S3 Bucket Allows Put Action From All Principals"
  assets/queries/terraform/aws/s3_bucket_allows_delete_action_from_all_principals/query.rego
  assets/queries/terraform/aws/s3_bucket_allows_delete_action_from_all_principals/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_allows_delete_action_from_all_principals/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_allows_delete_action_from_all_principals/test/positive.tf
  assets/queries/terraform/aws/s3_bucket_allows_delete_action_from_all_principals/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_allows_delete_action_from_all_principals/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_allows_delete_action_from_all_principals/test/positive3.tf
  assets/queries/terraform/aws/s3_bucket_allows_delete_action_from_all_principals/test/positive_expected_result.json
Labels: query, terraform, aws

#4275 feat(query): support of Terraform modules for "S3 Bucket Policy Accepts HTTP Requests"
  assets/queries/terraform/aws/s3_bucket_policy_accepts_http_requests/query.rego
  assets/queries/terraform/aws/s3_bucket_policy_accepts_http_requests/test/negative3.tf
  assets/queries/terraform/aws/s3_bucket_policy_accepts_http_requests/test/positive3.tf
  assets/queries/terraform/aws/s3_bucket_policy_accepts_http_requests/test/positive_expected_result.json
Labels: query, terraform, aws

#4276 feat(query): support of Terraform modules for "S3 Bucket Access to Any Principal"
  assets/queries/terraform/aws/s3_bucket_access_to_any_principal/query.rego
  assets/queries/terraform/aws/s3_bucket_access_to_any_principal/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_access_to_any_principal/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_access_to_any_principal/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_access_to_any_principal/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_access_to_any_principal/test/positive_expected_result.json
Labels: query, terraform, aws

#4284 feat(query): support of Terraform modules for "SQS Queue Exposed"
  assets/queries/terraform/aws/sqs_queue_exposed/query.rego
  assets/queries/terraform/aws/sqs_queue_exposed/test/negative1.tf
  assets/queries/terraform/aws/sqs_queue_exposed/test/negative2.tf
  assets/queries/terraform/aws/sqs_queue_exposed/test/positive1.tf
  assets/queries/terraform/aws/sqs_queue_exposed/test/positive2.tf
  assets/queries/terraform/aws/sqs_queue_exposed/test/positive_expected_result.json
Labels: query, terraform, aws

#4295 feat(query): Added modules to 'Sensitive Port Is Exposed To Wide Private Network' query
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/query.rego
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/negative.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/negative1.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/negative2.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/negative3.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/negative4.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/negative5.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/negative6.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/negative7.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive1.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive2.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive3.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive4.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive5.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive6.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive7.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive8.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive9.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive_expected_result.json
Labels: query, terraform, accuracy

#4291 fix(parser): terraform parser now looks into .tfvars for passwords and secrets
  assets/queries/common/passwords_and_secrets/regex_rules.json
  docs/secrets.md
  pkg/analyzer/analyzer.go
  pkg/parser/terraform/terraform.go
  pkg/parser/terraform/terraform_test.go
Labels: bug, query

#4278 feat(query): support of Terraform modules for "S3 Bucket Logging Disabled"
  assets/queries/terraform/aws/s3_bucket_logging_disabled/query.rego
  assets/queries/terraform/aws/s3_bucket_logging_disabled/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_logging_disabled/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_logging_disabled/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_logging_disabled/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_logging_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4277 feat(query): Added modules to 'VPC Subnet Assigns Public IP' query
  assets/queries/terraform/aws/vpc_subnet_assigns_public_ip/query.rego
  assets/queries/terraform/aws/vpc_subnet_assigns_public_ip/test/negative3.tf
  assets/queries/terraform/aws/vpc_subnet_assigns_public_ip/test/positive1.tf
  assets/queries/terraform/aws/vpc_subnet_assigns_public_ip/test/positive2.tf
  assets/queries/terraform/aws/vpc_subnet_assigns_public_ip/test/positive3.tf
  assets/queries/terraform/aws/vpc_subnet_assigns_public_ip/test/positive_expected_result.json
Labels: query, terraform, accuracy

#4289 feat(query): Added modules to 'Network ACL With Unrestricted Access To SSH' query
  assets/queries/terraform/aws/network_acl_with_unrestricted_access_to_ssh/query.rego
  assets/queries/terraform/aws/network_acl_with_unrestricted_access_to_ssh/test/negative4.tf
  assets/queries/terraform/aws/network_acl_with_unrestricted_access_to_ssh/test/negative5.tf
  assets/queries/terraform/aws/network_acl_with_unrestricted_access_to_ssh/test/positive4.tf
  assets/queries/terraform/aws/network_acl_with_unrestricted_access_to_ssh/test/positive_expected_result.json
Labels: query, terraform, accuracy

#4307 fix(parser): fix panic with model.Document conversion in tf parser #4301
  pkg/parser/terraform/terraform.go
Labels: bug, go

#4287 feat(query): Added modules to 'Network ACL With Unrestricted Access To RDP' query
  assets/queries/terraform/aws/network_acl_with_unrestricted_access_to_rdp/query.rego
  assets/queries/terraform/aws/network_acl_with_unrestricted_access_to_rdp/test/negative4.tf
  assets/queries/terraform/aws/network_acl_with_unrestricted_access_to_rdp/test/negative5.tf
  assets/queries/terraform/aws/network_acl_with_unrestricted_access_to_rdp/test/positive4.tf
  assets/queries/terraform/aws/network_acl_with_unrestricted_access_to_rdp/test/positive_expected_result.json
Labels: query, terraform, accuracy

#4306 chore(template): bug reports requires more info
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation

#4293 feat(query): added support to tf modules for S3 Bucket Allows WriteACP Action From All Principals
  assets/queries/terraform/aws/s3_bucket_allows_writeacp_action_from_all_principals/query.rego
  assets/queries/terraform/aws/s3_bucket_allows_writeacp_action_from_all_principals/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_allows_writeacp_action_from_all_principals/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_allows_writeacp_action_from_all_principals/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_allows_writeacp_action_from_all_principals/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_allows_writeacp_action_from_all_principals/test/positive_expected_result.json
Labels: query, terraform, aws

#4290 feat(query): support of Terraform modules for "ALB Deletion Protectio…
  assets/queries/terraform/aws/alb_deletion_protection_disabled/query.rego
  assets/queries/terraform/aws/alb_deletion_protection_disabled/test/negative3.tf
  assets/queries/terraform/aws/alb_deletion_protection_disabled/test/positive5.tf
  assets/queries/terraform/aws/alb_deletion_protection_disabled/test/positive6.tf
  assets/queries/terraform/aws/alb_deletion_protection_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4272 feat(query): support of Terraform modules for "S3 Bucket Allows PutObject Action From All Principals"
  assets/queries/terraform/aws/s3_bucket_allows_put_action_from_all_principals/query.rego
  assets/queries/terraform/aws/s3_bucket_allows_put_action_from_all_principals/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_allows_put_action_from_all_principals/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_allows_put_action_from_all_principals/test/positive.tf
  assets/queries/terraform/aws/s3_bucket_allows_put_action_from_all_principals/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_allows_put_action_from_all_principals/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_allows_put_action_from_all_principals/test/positive3.tf
  assets/queries/terraform/aws/s3_bucket_allows_put_action_from_all_principals/test/positive_expected_result.json
Labels: query, terraform, aws

#4279 feat(query): support of Terraform modules for "Cloudtrail_Log_Files_S…
  assets/queries/terraform/aws/cloudtrail_log_files_s3_bucket_with_logging_disabled/query.rego
  assets/queries/terraform/aws/cloudtrail_log_files_s3_bucket_with_logging_disabled/test/negative1.tf
  assets/queries/terraform/aws/cloudtrail_log_files_s3_bucket_with_logging_disabled/test/negative2.tf
  assets/queries/terraform/aws/cloudtrail_log_files_s3_bucket_with_logging_disabled/test/positive1.tf
  assets/queries/terraform/aws/cloudtrail_log_files_s3_bucket_with_logging_disabled/test/positive2.tf
  assets/queries/terraform/aws/cloudtrail_log_files_s3_bucket_with_logging_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4267 feat(query): support of Terraform modules for "Auto Scaling Group Wit…
  assets/queries/terraform/aws/auto_scaling_group_with_no_associated_elb/query.rego
  assets/queries/terraform/aws/auto_scaling_group_with_no_associated_elb/test/negative2.tf
  assets/queries/terraform/aws/auto_scaling_group_with_no_associated_elb/test/positive2.tf
  assets/queries/terraform/aws/auto_scaling_group_with_no_associated_elb/test/positive3.tf
  assets/queries/terraform/aws/auto_scaling_group_with_no_associated_elb/test/positive4.tf
  assets/queries/terraform/aws/auto_scaling_group_with_no_associated_elb/test/positive_expected_result.json
Labels: terraform, aws

#4298 feat(query): added support to tf modules for ALB Not Dropping Invalid Headers
  assets/queries/terraform/aws/alb_not_dropping_invalid_headers/query.rego
  assets/queries/terraform/aws/alb_not_dropping_invalid_headers/test/negative4.tf
  assets/queries/terraform/aws/alb_not_dropping_invalid_headers/test/negative5.tf
  assets/queries/terraform/aws/alb_not_dropping_invalid_headers/test/positive4.tf
  assets/queries/terraform/aws/alb_not_dropping_invalid_headers/test/positive5.tf
  assets/queries/terraform/aws/alb_not_dropping_invalid_headers/test/positive6.tf
  assets/queries/terraform/aws/alb_not_dropping_invalid_headers/test/positive_expected_result.json
Labels: query, terraform, aws

#4294 feat(query): added support to tf modules for SNS Topic Publicity Has Allow and NotAction Simultaneously
  assets/queries/terraform/aws/sns_topic_publicity_has_allow_and_not_action_simultaneously/query.rego
  assets/queries/terraform/aws/sns_topic_publicity_has_allow_and_not_action_simultaneously/test/negative1.tf
  assets/queries/terraform/aws/sns_topic_publicity_has_allow_and_not_action_simultaneously/test/negative2.tf
  assets/queries/terraform/aws/sns_topic_publicity_has_allow_and_not_action_simultaneously/test/positive1.tf
  assets/queries/terraform/aws/sns_topic_publicity_has_allow_and_not_action_simultaneously/test/positive2.tf
  assets/queries/terraform/aws/sns_topic_publicity_has_allow_and_not_action_simultaneously/test/positive_expected_result.json
Labels: query, terraform, aws

#4288 feat(query): added support to tf modules for query SQS Policy Allows All Actions
  assets/queries/terraform/aws/sqs_policy_allows_all_actions/query.rego
  assets/queries/terraform/aws/sqs_policy_allows_all_actions/test/negative1.tf
  assets/queries/terraform/aws/sqs_policy_allows_all_actions/test/negative2.tf
  assets/queries/terraform/aws/sqs_policy_allows_all_actions/test/positive1.tf
  assets/queries/terraform/aws/sqs_policy_allows_all_actions/test/positive2.tf
  assets/queries/terraform/aws/sqs_policy_allows_all_actions/test/positive_expected_result.json
Labels: query, terraform, aws

#4263 feat(query): Added tf modules support to S3 Bucket Public ACL Overridden By Public Access Block
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/query.rego
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/test/positive_expected_result.json
Labels: query, terraform, aws

#4255 feat(query): support of Terraform module for "S3 Bucket With Ignore Public ACL"
  assets/queries/terraform/aws/s3_bucket_with_ignore_public_acl/query.rego
  assets/queries/terraform/aws/s3_bucket_with_ignore_public_acl/test/positive_expected_result.json
  assets/queries/terraform/aws/s3_bucket_without_ignore_public_acl/metadata.json
  assets/queries/terraform/aws/s3_bucket_without_ignore_public_acl/query.rego
  assets/queries/terraform/aws/s3_bucket_without_ignore_public_acl/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_without_ignore_public_acl/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_without_ignore_public_acl/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_without_ignore_public_acl/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_without_ignore_public_acl/test/positive3.tf
  assets/queries/terraform/aws/s3_bucket_without_ignore_public_acl/test/positive4.tf
  assets/queries/terraform/aws/s3_bucket_without_ignore_public_acl/test/positive_expected_result.json
Labels: query, terraform, aws

#4250 feat(query): support of Terraform modules for "S3 Bucket Allows All Actions From All Principals"
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/query.rego
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/test/positive.tf
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/test/positive3.tf
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/test/positive_expected_result.json
Labels: query, terraform, aws

#4280 feat(query): Added modules to 'Default VPC Exists' query
  assets/queries/terraform/aws/default_vpc_exists/query.rego
  assets/queries/terraform/aws/default_vpc_exists/test/negative1.tf
  assets/queries/terraform/aws/default_vpc_exists/test/negative2.tf
  assets/queries/terraform/aws/default_vpc_exists/test/positive.tf
  assets/queries/terraform/aws/default_vpc_exists/test/positive1.tf
  assets/queries/terraform/aws/default_vpc_exists/test/positive2.tf
  assets/queries/terraform/aws/default_vpc_exists/test/positive_expected_result.json
Labels: query, terraform, accuracy

#4311 feat(query): added support to tf modules for EC2 Instance Using API Keys
  assets/queries/terraform/aws/ec2_instance_using_api_keys/query.rego
  assets/queries/terraform/aws/ec2_instance_using_api_keys/test/negative1.tf
  assets/queries/terraform/aws/ec2_instance_using_api_keys/test/negative2.tf
  assets/queries/terraform/aws/ec2_instance_using_api_keys/test/positive10.tf
  assets/queries/terraform/aws/ec2_instance_using_api_keys/test/positive11.tf
  assets/queries/terraform/aws/ec2_instance_using_api_keys/test/positive12.tf
  assets/queries/terraform/aws/ec2_instance_using_api_keys/test/positive_expected_result.json
Labels: query, terraform, aws

#4309 fix(core): Fixed secrets inspector to remove queries
  pkg/engine/secrets/inspector.go
  pkg/engine/secrets/inspector_test.go
Labels: bug, go

#4282 feat(query): support of Terraform modules for "SQS With SSE Disabled"
  assets/queries/terraform/aws/sqs_with_sse_disabled/query.rego
  assets/queries/terraform/aws/sqs_with_sse_disabled/test/negative1.tf
  assets/queries/terraform/aws/sqs_with_sse_disabled/test/negative2.tf
  assets/queries/terraform/aws/sqs_with_sse_disabled/test/positive.tf
  assets/queries/terraform/aws/sqs_with_sse_disabled/test/positive1.tf
  assets/queries/terraform/aws/sqs_with_sse_disabled/test/positive2.tf
  assets/queries/terraform/aws/sqs_with_sse_disabled/test/positive3.tf
  assets/queries/terraform/aws/sqs_with_sse_disabled/test/positive4.tf
  assets/queries/terraform/aws/sqs_with_sse_disabled/test/positive5.tf
  assets/queries/terraform/aws/sqs_with_sse_disabled/test/positive6.tf
  assets/queries/terraform/aws/sqs_with_sse_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#4281 feat(query): support of Terraform modules for "S3 Bucket SSE Disabled"
  assets/queries/terraform/aws/s3_bucket_sse_disabled/metadata.json
  assets/queries/terraform/aws/s3_bucket_sse_disabled/query.rego
  assets/queries/terraform/aws/s3_bucket_sse_disabled/test/negative.tf
  assets/queries/terraform/aws/s3_bucket_sse_disabled/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_sse_disabled/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_sse_disabled/test/positive.tf
  assets/queries/terraform/aws/s3_bucket_sse_disabled/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_sse_disabled/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_sse_disabled/test/positive3.tf
  assets/queries/terraform/aws/s3_bucket_sse_disabled/test/positive4.tf
  assets/queries/terraform/aws/s3_bucket_sse_disabled/test/positive5.tf
  assets/queries/terraform/aws/s3_bucket_sse_disabled/test/positive6.tf
  assets/queries/terraform/aws/s3_bucket_sse_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/s3_bucket_without_server-side_encryption/metadata.json
  assets/queries/terraform/aws/s3_bucket_without_server-side_encryption/query.rego
  assets/queries/terraform/aws/s3_bucket_without_server-side_encryption/test/positive_expected_result.json
Labels: query, terraform, aws

#4312 feat(query): Added modules for 'Public and Private EC2 Share Role' query
  assets/queries/terraform/aws/public_and_private_ec2_share_role/query.rego
  assets/queries/terraform/aws/public_and_private_ec2_share_role/test/negative1.tf
  assets/queries/terraform/aws/public_and_private_ec2_share_role/test/negative2.tf
  assets/queries/terraform/aws/public_and_private_ec2_share_role/test/positive1.tf
  assets/queries/terraform/aws/public_and_private_ec2_share_role/test/positive2.tf
  assets/queries/terraform/aws/public_and_private_ec2_share_role/test/positive_expected_result.json
Labels: query, terraform, accuracy

#4233 feat(query): support of Terraform modules for "User Data Contains Enc…
  assets/queries/terraform/aws/user_data_contains_encoded_private_key/query.rego
  assets/queries/terraform/aws/user_data_contains_encoded_private_key/test/negative5.tf
  assets/queries/terraform/aws/user_data_contains_encoded_private_key/test/negative6.tf
  assets/queries/terraform/aws/user_data_contains_encoded_private_key/test/negative7.tf
  assets/queries/terraform/aws/user_data_contains_encoded_private_key/test/negative8.tf
  assets/queries/terraform/aws/user_data_contains_encoded_private_key/test/positive1.tf
  assets/queries/terraform/aws/user_data_contains_encoded_private_key/test/positive2.tf
  assets/queries/terraform/aws/user_data_contains_encoded_private_key/test/positive3.tf
  assets/queries/terraform/aws/user_data_contains_encoded_private_key/test/positive_expected_result.json
Labels: query, terraform, aws

#4271 feat(query): support of Terraform modules for "S3 Bucket Without Enabled MFA Delete"
  assets/queries/terraform/aws/s3_bucket_without_enabled_mfa_delete/query.rego
  assets/queries/terraform/aws/s3_bucket_without_enabled_mfa_delete/test/negative.tf
  assets/queries/terraform/aws/s3_bucket_without_enabled_mfa_delete/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_without_enabled_mfa_delete/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_without_enabled_mfa_delete/test/positive5.tf
  assets/queries/terraform/aws/s3_bucket_without_enabled_mfa_delete/test/positive6.tf
  assets/queries/terraform/aws/s3_bucket_without_enabled_mfa_delete/test/positive7.tf
  assets/queries/terraform/aws/s3_bucket_without_enabled_mfa_delete/test/positive8.tf
  assets/queries/terraform/aws/s3_bucket_without_enabled_mfa_delete/test/positive_expected_result.json
Labels: query, terraform, aws

#4315 feat(query): corrected key actual value in "SQS With SSE Disabled" query
  assets/queries/terraform/aws/sqs_with_sse_disabled/query.rego
Labels: query, terraform, aws

#4316 feat(query): updated "S3 Bucket Public ACL Overridden By Public Access Block"
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/query.rego
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/test/positive_expected_result.json
Labels: query, terraform, aws

#4317 fix(query): elastic search without slow logs FP
  assets/queries/cloudFormation/elastic_search_without_slow_logs/query.rego
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/negative1.yaml
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/negative2.json
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/negative3.yaml
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/positive1.yaml
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/positive2.yaml
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/positive3.yaml
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/positive5.json
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/positive6.json
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/positive_expected_result.json
Labels: bug, query, cloudformation, accuracy

#4313 feat: added E2E tests to cover new flags
  e2e/cli_test.go
  e2e/fixtures/E2E_CLI_036_RESULT.json
  e2e/fixtures/E2E_CLI_036_RESULT_2.json
  e2e/fixtures/E2E_CLI_047_PAYLOAD.json
Labels: tests

#4237 feat(query): support of Terraform modules for "Auto Scaling Groups Su…
  assets/queries/terraform/aws/autoscaling_groups_supply_tags/query.rego
  assets/queries/terraform/aws/autoscaling_groups_supply_tags/test/negative1.tf
  assets/queries/terraform/aws/autoscaling_groups_supply_tags/test/negative3.tf
  assets/queries/terraform/aws/autoscaling_groups_supply_tags/test/negative4.tf
  assets/queries/terraform/aws/autoscaling_groups_supply_tags/test/positive1.tf
  assets/queries/terraform/aws/autoscaling_groups_supply_tags/test/positive2.tf
  assets/queries/terraform/aws/autoscaling_groups_supply_tags/test/positive_expected_result.json
Labels: query, terraform, aws

#4265 feat(query): support of Terraform modules for "S3_Bucket_With_Unsecur…
  assets/queries/terraform/aws/s3_bucket_with_unsecured_cors_rule/query.rego
  assets/queries/terraform/aws/s3_bucket_with_unsecured_cors_rule/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_with_unsecured_cors_rule/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_with_unsecured_cors_rule/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_with_unsecured_cors_rule/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_with_unsecured_cors_rule/test/positive3.tf
  assets/queries/terraform/aws/s3_bucket_with_unsecured_cors_rule/test/positive4.tf
  assets/queries/terraform/aws/s3_bucket_with_unsecured_cors_rule/test/positive_expected_result.json
Labels: query, terraform, aws

#4319 fix(query): corrected "S3 Bucket Should Have Bucket Policy" approach
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/query.rego
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/test/negative3.yaml
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/test/negative4.json
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/test/positive3.yaml
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/test/positive4.json
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/test/positive_expected_result.json
Labels: query, cloudformation, aws

#4318 feat(query): included check for cases when a statement is an object for "S3 Bucket Without SSL In Write Actions"
  assets/queries/cloudFormation/s3_bucket_without_ssl_in_write_actions/query.rego
  assets/queries/cloudFormation/s3_bucket_without_ssl_in_write_actions/test/negative3.yaml
  assets/queries/cloudFormation/s3_bucket_without_ssl_in_write_actions/test/positive10.json
  assets/queries/cloudFormation/s3_bucket_without_ssl_in_write_actions/test/positive9.yaml
  assets/queries/cloudFormation/s3_bucket_without_ssl_in_write_actions/test/positive_expected_result.json
Labels: query, cloudformation, aws

#4323 fix(query): fixed service_does_not_target_pod query issues #4302
  assets/queries/k8s/service_does_not_target_pod/query.rego
Labels: bug, query, kubernetes
