Repository Checkmarx/kics, pull requests merged in 2021-05, with the labels that each got.

#3052 feat(query): "Missing Mandatory Fields for Minimum Working File" for OpenAPI (#3031)
  assets/queries/openAPI/missing_required_property/metadata.json
  assets/queries/openAPI/missing_required_property/query.rego
  assets/queries/openAPI/missing_required_property/test/negative1.json
  assets/queries/openAPI/missing_required_property/test/negative2.yaml
  assets/queries/openAPI/missing_required_property/test/positive1.json
  assets/queries/openAPI/missing_required_property/test/positive2.json
  assets/queries/openAPI/missing_required_property/test/positive3.yaml
  assets/queries/openAPI/missing_required_property/test/positive4.yaml
  assets/queries/openAPI/missing_required_property/test/positive_expected_result.json
Labels: openapi, query

#3023 feat(query): "Operation Without Successful HTTP Status Code" for OpenAPI (#3022)
  assets/queries/openAPI/operation_without_successful_http_status_code/metadata.json
  assets/queries/openAPI/operation_without_successful_http_status_code/query.rego
  assets/queries/openAPI/operation_without_successful_http_status_code/test/negative1.json
  assets/queries/openAPI/operation_without_successful_http_status_code/test/negative2.yaml
  assets/queries/openAPI/operation_without_successful_http_status_code/test/positive1.json
  assets/queries/openAPI/operation_without_successful_http_status_code/test/positive2.yaml
  assets/queries/openAPI/operation_without_successful_http_status_code/test/positive_expected_result.json
Labels: openapi, query

#3025 feat(query): "Encoding Header 'Content-Type' Improperly Defined" for OpenAPI (#3024)
  assets/queries/openAPI/encoding_header_content_type_improperly_defined/metadata.json
  assets/queries/openAPI/encoding_header_content_type_improperly_defined/query.rego
  assets/queries/openAPI/encoding_header_content_type_improperly_defined/test/negative1.json
  assets/queries/openAPI/encoding_header_content_type_improperly_defined/test/negative2.json
  assets/queries/openAPI/encoding_header_content_type_improperly_defined/test/negative3.yaml
  assets/queries/openAPI/encoding_header_content_type_improperly_defined/test/negative4.yaml
  assets/queries/openAPI/encoding_header_content_type_improperly_defined/test/positive1.json
  assets/queries/openAPI/encoding_header_content_type_improperly_defined/test/positive2.json
  assets/queries/openAPI/encoding_header_content_type_improperly_defined/test/positive3.yaml
  assets/queries/openAPI/encoding_header_content_type_improperly_defined/test/positive4.yaml
  assets/queries/openAPI/encoding_header_content_type_improperly_defined/test/positive_expected_result.json
Labels: openapi, query

#2992 feat(query): "Schema Discriminator Mismatch Defined Properties" for OpenAPI (#2991)
  assets/queries/openAPI/schema_discriminator_mismatch_defined_properties/metadata.json
  assets/queries/openAPI/schema_discriminator_mismatch_defined_properties/query.rego
  assets/queries/openAPI/schema_discriminator_mismatch_defined_properties/test/negative1.json
  assets/queries/openAPI/schema_discriminator_mismatch_defined_properties/test/negative2.json
  assets/queries/openAPI/schema_discriminator_mismatch_defined_properties/test/negative3.yaml
  assets/queries/openAPI/schema_discriminator_mismatch_defined_properties/test/negative4.yaml
  assets/queries/openAPI/schema_discriminator_mismatch_defined_properties/test/positive1.json
  assets/queries/openAPI/schema_discriminator_mismatch_defined_properties/test/positive2.json
  assets/queries/openAPI/schema_discriminator_mismatch_defined_properties/test/positive3.yaml
  assets/queries/openAPI/schema_discriminator_mismatch_defined_properties/test/positive4.yaml
  assets/queries/openAPI/schema_discriminator_mismatch_defined_properties/test/positive_expected_result.json
Labels: openapi, query

#3081 fix(coverage): fixing test coverage
  .github/scripts/get-coverage.py
Labels: CI

#3059 fix(query): optimized passwords and secrets query
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/query.rego
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/test/negative4.tf
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/test/positive5.dockerfile
  assets/queries/common/passwords_and_secrets_in_infrastructure_code/test/positive_expected_result.json
Labels: bug, query

#2960 feat(parser): support ssl certificates and swagger files set as attributes for Ansible and Terraform #2958
  .github/scripts/samples-linters/ignore-list/terraform
  assets/queries/ansible/aws/api_gateway_without_configured_authorizer/metadata.json
  assets/queries/ansible/aws/api_gateway_without_configured_authorizer/query.rego
  assets/queries/ansible/aws/api_gateway_without_configured_authorizer/test/negative1.yaml
  assets/queries/ansible/aws/api_gateway_without_configured_authorizer/test/negative2.yaml
  assets/queries/ansible/aws/api_gateway_without_configured_authorizer/test/negative3.yaml
  assets/queries/ansible/aws/api_gateway_without_configured_authorizer/test/positive1.yaml
  assets/queries/ansible/aws/api_gateway_without_configured_authorizer/test/positive2.yaml
  assets/queries/ansible/aws/api_gateway_without_configured_authorizer/test/positive3.yaml
  assets/queries/ansible/aws/api_gateway_without_configured_authorizer/test/positive4.yaml
  assets/queries/ansible/aws/api_gateway_without_configured_authorizer/test/positive_expected_result.json
  assets/queries/ansible/aws/api_gateway_without_configured_authorizer/test/swaggerFile.json
  assets/queries/ansible/aws/api_gateway_without_configured_authorizer/test/swaggerFile.yaml
  assets/queries/ansible/aws/api_gateway_without_configured_authorizer/test/swaggerFileWithoutAuthorizer.json
  assets/queries/ansible/aws/api_gateway_without_configured_authorizer/test/swaggerFileWithoutAuthorizer.yaml
  assets/queries/ansible/aws/certificate_rsa_key_bytes_lower_than_128/metadata.json
  assets/queries/ansible/aws/certificate_rsa_key_bytes_lower_than_128/query.rego
  assets/queries/ansible/aws/certificate_rsa_key_bytes_lower_than_128/test/negative.yaml
  assets/queries/ansible/aws/certificate_rsa_key_bytes_lower_than_128/test/positive.yaml
  assets/queries/ansible/aws/certificate_rsa_key_bytes_lower_than_128/test/positive_expected_result.json
  assets/queries/ansible/aws/certificate_rsa_key_bytes_lower_than_128/test/rsa1024.pem
  assets/queries/ansible/aws/certificate_rsa_key_bytes_lower_than_128/test/rsa4096.pem
  assets/queries/terraform/aws/certificate_rsa_key_bytes_lower_than_128/metadata.json
  assets/queries/terraform/aws/certificate_rsa_key_bytes_lower_than_128/query.rego
  assets/queries/terraform/aws/certificate_rsa_key_bytes_lower_than_128/test/negative1.tf
  assets/queries/terraform/aws/certificate_rsa_key_bytes_lower_than_128/test/negative2.tf
  assets/queries/terraform/aws/certificate_rsa_key_bytes_lower_than_128/test/positive1.tf
  assets/queries/terraform/aws/certificate_rsa_key_bytes_lower_than_128/test/positive2.tf
  assets/queries/terraform/aws/certificate_rsa_key_bytes_lower_than_128/test/positive_expected_result.json
  assets/queries/terraform/aws/certificate_rsa_key_bytes_lower_than_128/test/rsa1024.pem
  assets/queries/terraform/aws/certificate_rsa_key_bytes_lower_than_128/test/rsa4096.pem
  pkg/parser/terraform/terraform.go
  pkg/parser/utils/certificate_utils.go
  pkg/parser/utils/certificate_utils_test.go
  pkg/parser/utils/file_utils.go
  pkg/parser/utils/file_utils_test.go
  pkg/parser/utils/swagger_utils.go
  pkg/parser/utils/swagger_utils_test.go
  pkg/parser/yaml/parser.go
  test/fixtures/test_certificate/certificate.pem
  test/fixtures/test_certificate/positive.tf
  test/fixtures/test_swagger/positive3.yaml
  test/fixtures/test_swagger/swaggerFileWithoutAuthorizer.yaml
Labels: community, feature, go, help wanted

#3056 feat(telemetry): opt-out telemetry and fix sentry dsn provisioning #3041
  .github/workflows/go-ci-coverage.yaml
  .github/workflows/go-ci-integration.yml
  .github/workflows/mkdocs.yml
  .github/workflows/release-dkr-image-for-tag.yml
  .github/workflows/release-dkr-image.yml
  .github/workflows/release-nightly.yml
  .github/workflows/release.yml
  .github/workflows/update-docs-index.yaml
  .github/workflows/update-docs-queries.yaml
  .github/workflows/update-install-script.yaml
  .goreleaser-nightly.yml
  .goreleaser.yml
  Dockerfile
  Dockerfile.integration
  Makefile
  docs/usage/commands.md
  internal/console/kics.go
  internal/console/scan.go
  internal/console/version.go
  internal/constants/constants.go
Labels: go

#3069 feat(query): "Parameter Object Content With Multiple Entries" for OpenAPI (#3068)
  assets/queries/openAPI/parameter_object_content_with_multiple_entries/metadata.json
  assets/queries/openAPI/parameter_object_content_with_multiple_entries/query.rego
  assets/queries/openAPI/parameter_object_content_with_multiple_entries/test/negative1.json
  assets/queries/openAPI/parameter_object_content_with_multiple_entries/test/negative2.json
  assets/queries/openAPI/parameter_object_content_with_multiple_entries/test/negative3.yaml
  assets/queries/openAPI/parameter_object_content_with_multiple_entries/test/negative4.yaml
  assets/queries/openAPI/parameter_object_content_with_multiple_entries/test/positive1.json
  assets/queries/openAPI/parameter_object_content_with_multiple_entries/test/positive2.json
  assets/queries/openAPI/parameter_object_content_with_multiple_entries/test/positive3.yaml
  assets/queries/openAPI/parameter_object_content_with_multiple_entries/test/positive4.yaml
  assets/queries/openAPI/parameter_object_content_with_multiple_entries/test/positive_expected_result.json
Labels: openapi, query

#3079 feat(query): "Success Response Code Undefined for Trace Operation" for OpenAPI (#3078)
  assets/queries/openAPI/success_response_code_undefined_trace_operation/metadata.json
  assets/queries/openAPI/success_response_code_undefined_trace_operation/query.rego
  assets/queries/openAPI/success_response_code_undefined_trace_operation/test/negative1.json
  assets/queries/openAPI/success_response_code_undefined_trace_operation/test/negative2.yaml
  assets/queries/openAPI/success_response_code_undefined_trace_operation/test/positive1.json
  assets/queries/openAPI/success_response_code_undefined_trace_operation/test/positive2.yaml
  assets/queries/openAPI/success_response_code_undefined_trace_operation/test/positive_expected_result.json
Labels: openapi, query

#3061 feat(performance): concurrent engine scans by platform
  e2e/cli_test.go
  internal/console/helpers/helpers.go
  internal/console/helpers/helpers_test.go
  internal/console/scan.go
  internal/tracker/ci.go
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/engine/provider/filesystem.go
  pkg/kics/service.go
  pkg/kics/service_test.go
  pkg/parser/parser.go
  pkg/parser/parser_test.go
  pkg/parser/terraform/converter/default.go
  pkg/scanner/scanner.go
  test/main_test.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: enhancement, go

#3087 fix(similarity-id): scan is not computing the Similarity ID for file path
  pkg/engine/similarity_id.go
  pkg/engine/similarity_id_test.go
Labels: bug

#3095 fix(sast): unhandled errors flagged by cxSAST
  pkg/parser/utils/certificate_utils.go
  pkg/parser/utils/swagger_utils.go
Labels: bug, go, security

#3073 feat(query): "Schema Object Incorrect Ref" for OpenAPI (#3072)
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/request_body_incorrect_ref/query.rego
  assets/queries/openAPI/response_object_incorrect_ref/query.rego
  assets/queries/openAPI/schema_object_incorrect_ref/metadata.json
  assets/queries/openAPI/schema_object_incorrect_ref/query.rego
  assets/queries/openAPI/schema_object_incorrect_ref/test/negative1.json
  assets/queries/openAPI/schema_object_incorrect_ref/test/negative2.json
  assets/queries/openAPI/schema_object_incorrect_ref/test/negative3.yaml
  assets/queries/openAPI/schema_object_incorrect_ref/test/negative4.yaml
  assets/queries/openAPI/schema_object_incorrect_ref/test/positive1.json
  assets/queries/openAPI/schema_object_incorrect_ref/test/positive2.json
  assets/queries/openAPI/schema_object_incorrect_ref/test/positive3.yaml
  assets/queries/openAPI/schema_object_incorrect_ref/test/positive4.yaml
  assets/queries/openAPI/schema_object_incorrect_ref/test/positive_expected_result.json
Labels: openapi, query

#3086 docs(integrations): add CircleCI integration example
  docs/img/circleci-artifacts.png
  docs/img/circleci-build.png
  docs/img/circleci-results.png
  docs/integrations.md
  docs/integrations_circleci.md
  docs/integrations_jenkins.md
  examples/circleci/config.yaml
Labels: documentation

#3094 feat(query): update success response code queries for OpenAPI(#3093)
  assets/queries/openAPI/success_response_code_undefined_delete_operation/metadata.json
  assets/queries/openAPI/success_response_code_undefined_delete_operation/query.rego
  assets/queries/openAPI/success_response_code_undefined_delete_operation/test/negative1.json
  assets/queries/openAPI/success_response_code_undefined_delete_operation/test/negative2.yaml
  assets/queries/openAPI/success_response_code_undefined_delete_operation/test/positive1.json
  assets/queries/openAPI/success_response_code_undefined_delete_operation/test/positive2.json
  assets/queries/openAPI/success_response_code_undefined_delete_operation/test/positive3.yaml
  assets/queries/openAPI/success_response_code_undefined_delete_operation/test/positive4.yaml
  assets/queries/openAPI/success_response_code_undefined_delete_operation/test/positive_expected_result.json
  assets/queries/openAPI/success_response_code_undefined_patch_operation/metadata.json
  assets/queries/openAPI/success_response_code_undefined_patch_operation/query.rego
  assets/queries/openAPI/success_response_code_undefined_patch_operation/test/negative1.json
  assets/queries/openAPI/success_response_code_undefined_patch_operation/test/negative2.yaml
  assets/queries/openAPI/success_response_code_undefined_patch_operation/test/positive1.json
  assets/queries/openAPI/success_response_code_undefined_patch_operation/test/positive2.json
  assets/queries/openAPI/success_response_code_undefined_patch_operation/test/positive3.yaml
  assets/queries/openAPI/success_response_code_undefined_patch_operation/test/positive4.yaml
  assets/queries/openAPI/success_response_code_undefined_patch_operation/test/positive_expected_result.json
  assets/queries/openAPI/success_response_code_undefined_post_operation/metadata.json
  assets/queries/openAPI/success_response_code_undefined_post_operation/query.rego
  assets/queries/openAPI/success_response_code_undefined_post_operation/test/negative1.json
  assets/queries/openAPI/success_response_code_undefined_post_operation/test/negative2.yaml
  assets/queries/openAPI/success_response_code_undefined_post_operation/test/positive1.json
  assets/queries/openAPI/success_response_code_undefined_post_operation/test/positive2.json
  assets/queries/openAPI/success_response_code_undefined_post_operation/test/positive3.yaml
  assets/queries/openAPI/success_response_code_undefined_post_operation/test/positive4.yaml
  assets/queries/openAPI/success_response_code_undefined_post_operation/test/positive_expected_result.json
  assets/queries/openAPI/success_response_code_undefined_put_operation/metadata.json
  assets/queries/openAPI/success_response_code_undefined_put_operation/query.rego
  assets/queries/openAPI/success_response_code_undefined_put_operation/test/negative1.json
  assets/queries/openAPI/success_response_code_undefined_put_operation/test/negative2.yaml
  assets/queries/openAPI/success_response_code_undefined_put_operation/test/positive1.json
  assets/queries/openAPI/success_response_code_undefined_put_operation/test/positive2.json
  assets/queries/openAPI/success_response_code_undefined_put_operation/test/positive3.yaml
  assets/queries/openAPI/success_response_code_undefined_put_operation/test/positive4.yaml
  assets/queries/openAPI/success_response_code_undefined_put_operation/test/positive_expected_result.json
Labels: openapi, query

#2973 feat(query): "Responses Object Is Empty" for OpenAPI (#2972)
  assets/queries/openAPI/responses_object_is_empty/metadata.json
  assets/queries/openAPI/responses_object_is_empty/query.rego
  assets/queries/openAPI/responses_object_is_empty/test/negative1.json
  assets/queries/openAPI/responses_object_is_empty/test/negative2.json
  assets/queries/openAPI/responses_object_is_empty/test/negative3.yaml
  assets/queries/openAPI/responses_object_is_empty/test/negative4.yaml
  assets/queries/openAPI/responses_object_is_empty/test/positive1.json
  assets/queries/openAPI/responses_object_is_empty/test/positive2.json
  assets/queries/openAPI/responses_object_is_empty/test/positive3.yaml
  assets/queries/openAPI/responses_object_is_empty/test/positive4.yaml
  assets/queries/openAPI/responses_object_is_empty/test/positive_expected_result.json
Labels: openapi, query

#3097 feat(query): "Success Response Code Undefined for Get Operation" for OpenAPI (#3096)
  assets/queries/openAPI/success_response_code_undefined_get_operation/metadata.json
  assets/queries/openAPI/success_response_code_undefined_get_operation/query.rego
  assets/queries/openAPI/success_response_code_undefined_get_operation/test/negative1.json
  assets/queries/openAPI/success_response_code_undefined_get_operation/test/negative2.yaml
  assets/queries/openAPI/success_response_code_undefined_get_operation/test/positive1.json
  assets/queries/openAPI/success_response_code_undefined_get_operation/test/positive2.yaml
  assets/queries/openAPI/success_response_code_undefined_get_operation/test/positive_expected_result.json
Labels: openapi, query

#3077 feat(query): "Callback Object With Incorrect Ref" for OpenAPI (#3076)
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/callback_object_incorrect_ref/metadata.json
  assets/queries/openAPI/callback_object_incorrect_ref/query.rego
  assets/queries/openAPI/callback_object_incorrect_ref/test/negative1.json
  assets/queries/openAPI/callback_object_incorrect_ref/test/negative2.yaml
  assets/queries/openAPI/callback_object_incorrect_ref/test/positive1.json
  assets/queries/openAPI/callback_object_incorrect_ref/test/positive2.yaml
  assets/queries/openAPI/callback_object_incorrect_ref/test/positive_expected_result.json
Labels: openapi, query

#3092 feat(query): "Success Response Code Undefined for Head Operation" for OpenAPI (#3091)
  assets/queries/openAPI/success_response_code_undefined_head_operation/metadata.json
  assets/queries/openAPI/success_response_code_undefined_head_operation/query.rego
  assets/queries/openAPI/success_response_code_undefined_head_operation/test/negative1.json
  assets/queries/openAPI/success_response_code_undefined_head_operation/test/negative2.yaml
  assets/queries/openAPI/success_response_code_undefined_head_operation/test/positive1.json
  assets/queries/openAPI/success_response_code_undefined_head_operation/test/positive2.yaml
  assets/queries/openAPI/success_response_code_undefined_head_operation/test/positive_expected_result.json
Labels: openapi, query

#3099 fix(engine): move failed to read ssl cert and swagger spec to trace level
  pkg/parser/utils/file_utils.go
Labels: bug, go

#3071 feat(query): "Request Body Object With Incorrect Media Type" for OpenAPI (#3070)
  assets/queries/openAPI/request_body_object_with_incorrect_media_type/metadata.json
  assets/queries/openAPI/request_body_object_with_incorrect_media_type/query.rego
  assets/queries/openAPI/request_body_object_with_incorrect_media_type/test/negative1.json
  assets/queries/openAPI/request_body_object_with_incorrect_media_type/test/negative2.json
  assets/queries/openAPI/request_body_object_with_incorrect_media_type/test/negative3.yaml
  assets/queries/openAPI/request_body_object_with_incorrect_media_type/test/negative4.yaml
  assets/queries/openAPI/request_body_object_with_incorrect_media_type/test/positive1.json
  assets/queries/openAPI/request_body_object_with_incorrect_media_type/test/positive2.json
  assets/queries/openAPI/request_body_object_with_incorrect_media_type/test/positive3.yaml
  assets/queries/openAPI/request_body_object_with_incorrect_media_type/test/positive4.yaml
  assets/queries/openAPI/request_body_object_with_incorrect_media_type/test/positive_expected_result.json
Labels: openapi, query

#3000 feat(query): "Invalid Global External Documentation URL" for OpenAPI (#2999)
  assets/queries/openAPI/invalid_global_external_documentation_url/metadata.json
  assets/queries/openAPI/invalid_global_external_documentation_url/query.rego
  assets/queries/openAPI/invalid_global_external_documentation_url/test/negative1.json
  assets/queries/openAPI/invalid_global_external_documentation_url/test/negative2.yaml
  assets/queries/openAPI/invalid_global_external_documentation_url/test/positive1.json
  assets/queries/openAPI/invalid_global_external_documentation_url/test/positive2.yaml
  assets/queries/openAPI/invalid_global_external_documentation_url/test/positive_expected_result.json
Labels: openapi, query

#3102 feat(query); "Response Code Missing" for OpenAPI (#3101)
  assets/queries/openAPI/response_code_missing/metadata.json
  assets/queries/openAPI/response_code_missing/query.rego
  assets/queries/openAPI/response_code_missing/test/negative1.json
  assets/queries/openAPI/response_code_missing/test/negative2.json
  assets/queries/openAPI/response_code_missing/test/negative3.yaml
  assets/queries/openAPI/response_code_missing/test/negative4.yaml
  assets/queries/openAPI/response_code_missing/test/positive1.json
  assets/queries/openAPI/response_code_missing/test/positive2.json
  assets/queries/openAPI/response_code_missing/test/positive3.yaml
  assets/queries/openAPI/response_code_missing/test/positive4.yaml
  assets/queries/openAPI/response_code_missing/test/positive_expected_result.json
Labels: openapi, query

#3075 feat(query): "Link Object Incorrect Ref" for OpenAPI (#3074)
  assets/queries/openAPI/link_object_incorrect_ref/metadata.json
  assets/queries/openAPI/link_object_incorrect_ref/query.rego
  assets/queries/openAPI/link_object_incorrect_ref/test/negative1.json
  assets/queries/openAPI/link_object_incorrect_ref/test/negative2.json
  assets/queries/openAPI/link_object_incorrect_ref/test/negative3.yaml
  assets/queries/openAPI/link_object_incorrect_ref/test/negative4.yaml
  assets/queries/openAPI/link_object_incorrect_ref/test/positive1.json
  assets/queries/openAPI/link_object_incorrect_ref/test/positive2.json
  assets/queries/openAPI/link_object_incorrect_ref/test/positive3.yaml
  assets/queries/openAPI/link_object_incorrect_ref/test/positive4.yaml
  assets/queries/openAPI/link_object_incorrect_ref/test/positive_expected_result.json
Labels: openapi, query

#3066 feat(query): "Components Object Fixed Field Key Improperly Named" for OpenAPI (#3065)
  assets/queries/openAPI/components_object_fixed_field_key_improperly_named/metadata.json
  assets/queries/openAPI/components_object_fixed_field_key_improperly_named/query.rego
  assets/queries/openAPI/components_object_fixed_field_key_improperly_named/test/negative1.json
  assets/queries/openAPI/components_object_fixed_field_key_improperly_named/test/negative2.yaml
  assets/queries/openAPI/components_object_fixed_field_key_improperly_named/test/positive1.json
  assets/queries/openAPI/components_object_fixed_field_key_improperly_named/test/positive2.yaml
  assets/queries/openAPI/components_object_fixed_field_key_improperly_named/test/positive_expected_result.json
Labels: openapi, query

#2998 feat(query): "Encoding Map Key Mismatch Schema Defined Properties" for OpenAPI (#2997)
  assets/queries/openAPI/encoding_map_key_mismatch_schema_defined_properties/metadata.json
  assets/queries/openAPI/encoding_map_key_mismatch_schema_defined_properties/query.rego
  assets/queries/openAPI/encoding_map_key_mismatch_schema_defined_properties/test/negative1.json
  assets/queries/openAPI/encoding_map_key_mismatch_schema_defined_properties/test/negative2.json
  assets/queries/openAPI/encoding_map_key_mismatch_schema_defined_properties/test/negative3.yaml
  assets/queries/openAPI/encoding_map_key_mismatch_schema_defined_properties/test/negative4.yaml
  assets/queries/openAPI/encoding_map_key_mismatch_schema_defined_properties/test/positive1.json
  assets/queries/openAPI/encoding_map_key_mismatch_schema_defined_properties/test/positive2.json
  assets/queries/openAPI/encoding_map_key_mismatch_schema_defined_properties/test/positive3.yaml
  assets/queries/openAPI/encoding_map_key_mismatch_schema_defined_properties/test/positive4.yaml
  assets/queries/openAPI/encoding_map_key_mismatch_schema_defined_properties/test/positive_expected_result.json
Labels: openapi, query

#3106 fix(ci): test only with coverage mode on master check
  Makefile
Labels: CI

#3105 fix(parser): fixed scanning helm chart returns false error
  pkg/kics/resolver_sink.go
  pkg/parser/parser.go
Labels: bug

#3107 fix(metrics): fix 'NaN' results on profiling cpu flag (#3080)
  internal/metrics/metrics.go
Labels: bug

#3108 Update mkdocs.yml
  mkdocs.yml
Labels: documentation

#3110 docs(dockerhub): update dockerhub docs for v2.0.0
  docs/dockerhub.md
Labels: documentation

#3111 feat(ci): disable sentry in CI workflows
  .github/scripts/get-coverage.py
  .github/workflows/go-ci-integration.yml
Labels: CI

#3116 docs(2.0) add docs new menu section describing changes in version 2.0
  docs/changes.md
  mkdocs.yml
Labels: documentation

#3117 fix(ci): automated docker image release
  .github/workflows/release-dkr-image.yml
Labels: CI

#3125 fix(docs): corrected references from v2.0.0 to v1.3.0
  docs/changes.md
  docs/dockerhub.md
  mkdocs.yml
Labels: documentation

#3128 fix(docs): added rebase when deploying mike
  .github/workflows/mkdocs.yml
  .github/workflows/update-docs-index.yaml
Labels: CI, documentation

#3121 feat(query): add 'default response is undefined on operations' query for openapi 3.0
  assets/queries/openAPI/default_response_undefined_operations/metadata.json
  assets/queries/openAPI/default_response_undefined_operations/query.rego
  assets/queries/openAPI/default_response_undefined_operations/test/negative1.json
  assets/queries/openAPI/default_response_undefined_operations/test/negative2.yaml
  assets/queries/openAPI/default_response_undefined_operations/test/positive1.json
  assets/queries/openAPI/default_response_undefined_operations/test/positive2.json
  assets/queries/openAPI/default_response_undefined_operations/test/positive3.yaml
  assets/queries/openAPI/default_response_undefined_operations/test/positive4.yaml
  assets/queries/openAPI/default_response_undefined_operations/test/positive_expected_result.json
Labels: openapi, query

#3129 fix(cli): flag `--no-color` not working with `--verbose` flag #3003
  internal/console/printer/printer.go
Labels: bug

#3136 feat(query): add 'default response is undefined on operations' query for OpenAPI
  assets/queries/openAPI/default_response_undefined_operations/metadata.json
  assets/queries/openAPI/default_response_undefined_operations/query.rego
  assets/queries/openAPI/default_response_undefined_operations/test/negative1.json
  assets/queries/openAPI/default_response_undefined_operations/test/negative2.yaml
  assets/queries/openAPI/default_response_undefined_operations/test/positive1.json
  assets/queries/openAPI/default_response_undefined_operations/test/positive2.json
  assets/queries/openAPI/default_response_undefined_operations/test/positive3.yaml
  assets/queries/openAPI/default_response_undefined_operations/test/positive4.yaml
  assets/queries/openAPI/default_response_undefined_operations/test/positive_expected_result.json
Labels: openapi, query

#3134 feat(query): Added "Response on operations that should have a body has undefined" for OpenAPI
  assets/queries/openAPI/response_operations_body_schema_undefined/metadata.json
  assets/queries/openAPI/response_operations_body_schema_undefined/query.rego
  assets/queries/openAPI/response_operations_body_schema_undefined/test/negative1.json
  assets/queries/openAPI/response_operations_body_schema_undefined/test/negative2.yaml
  assets/queries/openAPI/response_operations_body_schema_undefined/test/positive1.json
  assets/queries/openAPI/response_operations_body_schema_undefined/test/positive2.json
  assets/queries/openAPI/response_operations_body_schema_undefined/test/positive3.json
  assets/queries/openAPI/response_operations_body_schema_undefined/test/positive4.json
  assets/queries/openAPI/response_operations_body_schema_undefined/test/positive5.yaml
  assets/queries/openAPI/response_operations_body_schema_undefined/test/positive6.yaml
  assets/queries/openAPI/response_operations_body_schema_undefined/test/positive7.yaml
  assets/queries/openAPI/response_operations_body_schema_undefined/test/positive8.yaml
  assets/queries/openAPI/response_operations_body_schema_undefined/test/positive_expected_result.json
Labels: openapi, query

#3138 feat(query): "Response on operations that should not have a body has declared content" for OpenAPI
  assets/queries/openAPI/response_operations_body_schema_incorrect_defined/metadata.json
  assets/queries/openAPI/response_operations_body_schema_incorrect_defined/query.rego
  assets/queries/openAPI/response_operations_body_schema_incorrect_defined/test/negative1.json
  assets/queries/openAPI/response_operations_body_schema_incorrect_defined/test/negative2.yaml
  assets/queries/openAPI/response_operations_body_schema_incorrect_defined/test/positive1.json
  assets/queries/openAPI/response_operations_body_schema_incorrect_defined/test/positive2.json
  assets/queries/openAPI/response_operations_body_schema_incorrect_defined/test/positive3.yaml
  assets/queries/openAPI/response_operations_body_schema_incorrect_defined/test/positive4.yaml
  assets/queries/openAPI/response_operations_body_schema_incorrect_defined/test/positive_expected_result.json
Labels: openapi, query

#3151 feat:(query): update OpenAPI queries (#3148)
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/encoding_header_content_type_improperly_defined/query.rego
  assets/queries/openAPI/encoding_map_key_mismatch_schema_defined_properties/query.rego
  assets/queries/openAPI/invalid_schema_external_documentation_url/query.rego
  assets/queries/openAPI/link_object_incorrect_ref/query.rego
  assets/queries/openAPI/link_object_operation_id_does_not_target_an_operation_object/query.rego
  assets/queries/openAPI/link_object_with_both_operation_id_and_operation_ref/query.rego
  assets/queries/openAPI/non_array_schema_with_items/query.rego
  assets/queries/openAPI/operation_without_successful_http_status_code/query.rego
  assets/queries/openAPI/response_object_incorrect_ref/query.rego
  assets/queries/openAPI/responses_wrong_http_status_code/query.rego
  assets/queries/openAPI/schema_discriminator_mismatch_defined_properties/query.rego
  assets/queries/openAPI/schema_discriminator_not_required/query.rego
  assets/queries/openAPI/schema_discriminator_property_not_string/query.rego
  assets/queries/openAPI/schema_items_undefined/query.rego
  assets/queries/openAPI/schema_object_empty/query.rego
  assets/queries/openAPI/schema_object_incorrect_ref/query.rego
  assets/queries/openAPI/schema_with_both_read_only_and_write_only/query.rego
  assets/queries/openAPI/server_object_variable_not_used/query.rego
  assets/queries/openAPI/server_url_not_absolute/query.rego
  assets/queries/openAPI/server_url_uses_undefined_variables/query.rego
  assets/queries/openAPI/success_response_code_undefined_delete_operation/query.rego
  assets/queries/openAPI/success_response_code_undefined_patch_operation/query.rego
  assets/queries/openAPI/success_response_code_undefined_post_operation/query.rego
  assets/queries/openAPI/success_response_code_undefined_put_operation/query.rego
  assets/queries/openAPI/success_response_code_undefined_trace_operation/query.rego
  assets/queries/openAPI/unknown_prefix/query.rego
Labels: openapi, query

#3161 fix(ci): fixing makefile test tasks
  Makefile
Labels: CI, tests

#3163 feat(query): "Schema Has A Required Property Undefined" query for OpenAPI
  assets/queries/openAPI/schema_required_property_undefined/metadata.json
  assets/queries/openAPI/schema_required_property_undefined/query.rego
  assets/queries/openAPI/schema_required_property_undefined/test/negative1.json
  assets/queries/openAPI/schema_required_property_undefined/test/negative2.json
  assets/queries/openAPI/schema_required_property_undefined/test/negative3.yaml
  assets/queries/openAPI/schema_required_property_undefined/test/negative4.yaml
  assets/queries/openAPI/schema_required_property_undefined/test/positive1.json
  assets/queries/openAPI/schema_required_property_undefined/test/positive2.json
  assets/queries/openAPI/schema_required_property_undefined/test/positive3.yaml
  assets/queries/openAPI/schema_required_property_undefined/test/positive4.yaml
  assets/queries/openAPI/schema_required_property_undefined/test/positive_expected_result.json
Labels: openapi, query

#3175 fix(ci): fixed little typo
  .github/workflows/update-docs-index.yaml
Labels: CI, bug

#3178 feat(query): "Components Callback Definition Is Unused" query for OpenAPI #3177
  assets/queries/openAPI/components_callback_definition_unused/metadata.json
  assets/queries/openAPI/components_callback_definition_unused/query.rego
  assets/queries/openAPI/components_callback_definition_unused/test/negative1.json
  assets/queries/openAPI/components_callback_definition_unused/test/negative2.yaml
  assets/queries/openAPI/components_callback_definition_unused/test/positive1.json
  assets/queries/openAPI/components_callback_definition_unused/test/positive2.yaml
  assets/queries/openAPI/components_callback_definition_unused/test/positive_expected_result.json
Labels: openapi, query

#3169 fix(ci): filtering paths that can trigger tests workflows #2728
  .github/workflows/go-ci-integration.yml
  .github/workflows/go-ci.yml
Labels: CI

#3172 feat(query): "Property 'allowReserved' of Encoding Object Ignored" for OpenAPI (#3171)
  assets/queries/openAPI/property_allow_reserved_encoding_object_ignored/metadata.json
  assets/queries/openAPI/property_allow_reserved_encoding_object_ignored/query.rego
  assets/queries/openAPI/property_allow_reserved_encoding_object_ignored/test/negative1.json
  assets/queries/openAPI/property_allow_reserved_encoding_object_ignored/test/negative2.json
  assets/queries/openAPI/property_allow_reserved_encoding_object_ignored/test/negative3.yaml
  assets/queries/openAPI/property_allow_reserved_encoding_object_ignored/test/negative4.yaml
  assets/queries/openAPI/property_allow_reserved_encoding_object_ignored/test/positive1.json
  assets/queries/openAPI/property_allow_reserved_encoding_object_ignored/test/positive2.json
  assets/queries/openAPI/property_allow_reserved_encoding_object_ignored/test/positive3.yaml
  assets/queries/openAPI/property_allow_reserved_encoding_object_ignored/test/positive4.yaml
  assets/queries/openAPI/property_allow_reserved_encoding_object_ignored/test/positive_expected_result.json
Labels: openapi, query

#3192 Fixing should_skip check
  .github/workflows/go-ci.yml
Labels: CI

#3147 test(unit): add tests to scanner pkg to increase coverage
  .github/scripts/.coverageignore
  .github/scripts/get-coverage.py
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
  internal/tracker/ci_test.go
  pkg/engine/inspector_test.go
  pkg/scanner/scanner_test.go
Labels: go, tests

#3225 refactor(query): created `check_reference_exists` function for OpenAPI
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/components_callback_definition_unused/query.rego
Labels: openapi, query

#3245 fix(test): fix mem metric unit testing
  internal/metrics/metrics_test.go
Labels: tests

#3194 feat(query): "Redshift Cluster Without VPC" for Terraform (#3193)
  assets/queries/terraform/aws/redshift_cluster_without_vpc/metadata.json
  assets/queries/terraform/aws/redshift_cluster_without_vpc/query.rego
  assets/queries/terraform/aws/redshift_cluster_without_vpc/test/negative.tf
  assets/queries/terraform/aws/redshift_cluster_without_vpc/test/positive.tf
  assets/queries/terraform/aws/redshift_cluster_without_vpc/test/positive_expected_result.json
  e2e/cli_test.go
  e2e/fixtures/E2E_CLI_032_RESULT.json
  e2e/fixtures/E2E_CLI_033_PAYLOAD.json
  e2e/fixtures/E2E_CLI_033_RESULT.json
Labels: aws, query, terraform

#3198 feat(query): update "Configuration Aggregator to All Regions Disabled" for Terraform (#3195)
  assets/queries/terraform/aws/config_configuration_aggregator_to_all_regions_disabled/query.rego
  assets/queries/terraform/aws/config_configuration_aggregator_to_all_regions_disabled/test/positive.tf
  assets/queries/terraform/aws/config_configuration_aggregator_to_all_regions_disabled/test/positive_expected_result.json
Labels: aws, query, terraform

#3219 feat(query): "ElastiCache Redis Cluster Without Backup" for Terraform (#3218)
  assets/queries/terraform/aws/elasticache_redis_cluster_without_backup/metadata.json
  assets/queries/terraform/aws/elasticache_redis_cluster_without_backup/query.rego
  assets/queries/terraform/aws/elasticache_redis_cluster_without_backup/test/negative.tf
  assets/queries/terraform/aws/elasticache_redis_cluster_without_backup/test/positive.tf
  assets/queries/terraform/aws/elasticache_redis_cluster_without_backup/test/positive_expected_result.json
Labels: aws, query, terraform

#3239 feat(query): update "CMK Rotation Disabled" for Terraform (#3238)
  assets/queries/terraform/aws/cmk_rotation_disabled/query.rego
  assets/queries/terraform/aws/cmk_rotation_disabled/test/positive1.tf
  assets/queries/terraform/aws/cmk_rotation_disabled/test/positive2.tf
Labels: aws, query, terraform

#3227 feat(query): Added RDS Cluster With Backup Disabled query for Terraform #3226
  assets/queries/terraform/aws/rds_cluster_with_backup_disabled/metadata.json
  assets/queries/terraform/aws/rds_cluster_with_backup_disabled/query.rego
  assets/queries/terraform/aws/rds_cluster_with_backup_disabled/test/negative1.tf
  assets/queries/terraform/aws/rds_cluster_with_backup_disabled/test/positive1.tf
  assets/queries/terraform/aws/rds_cluster_with_backup_disabled/test/positive_expected_result.json
Labels: query, terraform

#3215 feat(query): added DynamoDB Table Point In Time Recovery Disabled query
  assets/queries/terraform/aws/dynamodb_table_point_in_time_recovery_disabled/metadata.json
  assets/queries/terraform/aws/dynamodb_table_point_in_time_recovery_disabled/query.rego
  assets/queries/terraform/aws/dynamodb_table_point_in_time_recovery_disabled/test/negative.tf
  assets/queries/terraform/aws/dynamodb_table_point_in_time_recovery_disabled/test/positive1.tf
  assets/queries/terraform/aws/dynamodb_table_point_in_time_recovery_disabled/test/positive2.tf
  assets/queries/terraform/aws/dynamodb_table_point_in_time_recovery_disabled/test/positive_expected_result.json
Labels: aws, query, terraform

#3249 feat(query): "ElastiCache Replication Group Not Encrypted At Rest" for Terraform (#3247)
  assets/queries/terraform/aws/elasticache_replication_group_not_encrypted_at_rest/metadata.json
  assets/queries/terraform/aws/elasticache_replication_group_not_encrypted_at_rest/query.rego
  assets/queries/terraform/aws/elasticache_replication_group_not_encrypted_at_rest/test/negative.tf
  assets/queries/terraform/aws/elasticache_replication_group_not_encrypted_at_rest/test/positive1.tf
  assets/queries/terraform/aws/elasticache_replication_group_not_encrypted_at_rest/test/positive2.tf
  assets/queries/terraform/aws/elasticache_replication_group_not_encrypted_at_rest/test/positive_expected_result.json
Labels: aws, query, terraform

#3243 feat(query): "CloudWatch Log Group Not Encrypted" for Terraform (#3240)
  assets/queries/terraform/aws/cloudwatch_log_group_not_encrypted/metadata.json
  assets/queries/terraform/aws/cloudwatch_log_group_not_encrypted/query.rego
  assets/queries/terraform/aws/cloudwatch_log_group_not_encrypted/test/negative.tf
  assets/queries/terraform/aws/cloudwatch_log_group_not_encrypted/test/positive.tf
  assets/queries/terraform/aws/cloudwatch_log_group_not_encrypted/test/positive_expected_result.json
Labels: aws, query, terraform

#3267 feat(query): Added DAX Cluster Not Encrypted query for Terraform #3266
  assets/queries/terraform/aws/dax_cluster_not_encrypted/metadata.json
  assets/queries/terraform/aws/dax_cluster_not_encrypted/query.rego
  assets/queries/terraform/aws/dax_cluster_not_encrypted/test/negative1.tf
  assets/queries/terraform/aws/dax_cluster_not_encrypted/test/positive1.tf
  assets/queries/terraform/aws/dax_cluster_not_encrypted/test/positive_expected_result.json
Labels: query, terraform

#3270 feat(query): Added DOCDB Cluster Without KMS query for Terraform #3269
  assets/queries/terraform/aws/docdb_cluster_without_kms/metadata.json
  assets/queries/terraform/aws/docdb_cluster_without_kms/query.rego
  assets/queries/terraform/aws/docdb_cluster_without_kms/test/negative1.tf
  assets/queries/terraform/aws/docdb_cluster_without_kms/test/positive1.tf
  assets/queries/terraform/aws/docdb_cluster_without_kms/test/positive_expected_result.json
Labels: query, terraform

#3253 fix(ci): disable canceling other workflows
  .github/workflows/go-ci-integration.yml
Labels: CI

#3252 docs(integrations): update integrations docs
  docs/usage/commands.md
  examples/github/kics-docker-runner-sarif.yaml
Labels: documentation

#3272 feat(query): Added DOCDB Cluster Not Encrypted query for Terraform #3271
  assets/queries/terraform/aws/docdb_cluster_not_encrypted/metadata.json
  assets/queries/terraform/aws/docdb_cluster_not_encrypted/query.rego
  assets/queries/terraform/aws/docdb_cluster_not_encrypted/test/negative1.tf
  assets/queries/terraform/aws/docdb_cluster_not_encrypted/test/positive1.tf
  assets/queries/terraform/aws/docdb_cluster_not_encrypted/test/positive_expected_result.json
Labels: query, terraform

#3274 feat(query): Added DynamoDB Table Not Encrypted query for Terraform #3273
  assets/queries/terraform/aws/dynamodb_table_not_encrypted/metadata.json
  assets/queries/terraform/aws/dynamodb_table_not_encrypted/query.rego
  assets/queries/terraform/aws/dynamodb_table_not_encrypted/test/negative1.tf
  assets/queries/terraform/aws/dynamodb_table_not_encrypted/test/positive1.tf
  assets/queries/terraform/aws/dynamodb_table_not_encrypted/test/positive_expected_result.json
Labels: query, terraform

#3187 feat(query): "Property 'style' of Encoding Object Ignored" for OpenAPI (#3186)
  assets/queries/openAPI/property_type_encoding_object_ignored/metadata.json
  assets/queries/openAPI/property_type_encoding_object_ignored/query.rego
  assets/queries/openAPI/property_type_encoding_object_ignored/test/negative1.json
  assets/queries/openAPI/property_type_encoding_object_ignored/test/negative2.json
  assets/queries/openAPI/property_type_encoding_object_ignored/test/negative3.yaml
  assets/queries/openAPI/property_type_encoding_object_ignored/test/negative4.yaml
  assets/queries/openAPI/property_type_encoding_object_ignored/test/positive1.json
  assets/queries/openAPI/property_type_encoding_object_ignored/test/positive2.json
  assets/queries/openAPI/property_type_encoding_object_ignored/test/positive3.yaml
  assets/queries/openAPI/property_type_encoding_object_ignored/test/positive4.yaml
  assets/queries/openAPI/property_type_encoding_object_ignored/test/positive_expected_result.json
Labels: openapi, query

#3211 feat(query): added "Components Header Definition Is Unused" query for OpenAPI
  assets/queries/openAPI/components_header_definition_unused/metadata.json
  assets/queries/openAPI/components_header_definition_unused/query.rego
  assets/queries/openAPI/components_header_definition_unused/test/negative1.json
  assets/queries/openAPI/components_header_definition_unused/test/negative2.yaml
  assets/queries/openAPI/components_header_definition_unused/test/positive1.json
  assets/queries/openAPI/components_header_definition_unused/test/positive2.yaml
  assets/queries/openAPI/components_header_definition_unused/test/positive_expected_result.json
Labels: openapi, query

#3206 feat(query): added "Components Example Definition Is Unused" query for OpenAPI
  assets/queries/openAPI/components_example_definition_unused copy/metadata.json
  assets/queries/openAPI/components_example_definition_unused copy/query.rego
  assets/queries/openAPI/components_example_definition_unused copy/test/negative1.json
  assets/queries/openAPI/components_example_definition_unused copy/test/negative2.yaml
  assets/queries/openAPI/components_example_definition_unused copy/test/positive1.json
  assets/queries/openAPI/components_example_definition_unused copy/test/positive2.yaml
  assets/queries/openAPI/components_example_definition_unused copy/test/positive_expected_result.json
Labels: openapi, query

#3217 feat(query): added "Components Link Definition Is Unused" query for OpenAPI
  assets/queries/openAPI/components_link_definition_unused/metadata.json
  assets/queries/openAPI/components_link_definition_unused/query.rego
  assets/queries/openAPI/components_link_definition_unused/test/negative1.json
  assets/queries/openAPI/components_link_definition_unused/test/negative2.yaml
  assets/queries/openAPI/components_link_definition_unused/test/positive1.json
  assets/queries/openAPI/components_link_definition_unused/test/positive2.yaml
  assets/queries/openAPI/components_link_definition_unused/test/positive_expected_result.json
Labels: openapi, query

#3222 feat(query): added "Components Parameter Definition Is Unused" query for OpenAPI
  assets/queries/openAPI/components_parameter_definition_unused/metadata.json
  assets/queries/openAPI/components_parameter_definition_unused/query.rego
  assets/queries/openAPI/components_parameter_definition_unused/test/negative1.json
  assets/queries/openAPI/components_parameter_definition_unused/test/negative2.yaml
  assets/queries/openAPI/components_parameter_definition_unused/test/positive1.json
  assets/queries/openAPI/components_parameter_definition_unused/test/positive2.yaml
  assets/queries/openAPI/components_parameter_definition_unused/test/positive_expected_result.json
Labels: openapi, query

#3233 feat(query): added "Components Request Body Definition Is Unused" for OpenAPI
  assets/queries/openAPI/components_request_body_definition_unused/metadata.json
  assets/queries/openAPI/components_request_body_definition_unused/query.rego
  assets/queries/openAPI/components_request_body_definition_unused/test/negative1.json
  assets/queries/openAPI/components_request_body_definition_unused/test/negative2.yaml
  assets/queries/openAPI/components_request_body_definition_unused/test/positive1.json
  assets/queries/openAPI/components_request_body_definition_unused/test/positive2.yaml
  assets/queries/openAPI/components_request_body_definition_unused/test/positive_expected_result.json
Labels: openapi, query

#3234 feat(query): added "Components Response Definition Is Unused" for OpenAPI
  assets/queries/openAPI/components_response_definition_unused/metadata.json
  assets/queries/openAPI/components_response_definition_unused/query.rego
  assets/queries/openAPI/components_response_definition_unused/test/negative1.json
  assets/queries/openAPI/components_response_definition_unused/test/negative2.yaml
  assets/queries/openAPI/components_response_definition_unused/test/positive1.json
  assets/queries/openAPI/components_response_definition_unused/test/positive2.yaml
  assets/queries/openAPI/components_response_definition_unused/test/positive_expected_result.json
Labels: openapi, query

#3237 feat(query): added "Components Schema Definition Is Unused" query for OpenAPI
  assets/queries/openAPI/components_schema_definition_unused/metadata.json
  assets/queries/openAPI/components_schema_definition_unused/query.rego
  assets/queries/openAPI/components_schema_definition_unused/test/negative1.json
  assets/queries/openAPI/components_schema_definition_unused/test/negative2.yaml
  assets/queries/openAPI/components_schema_definition_unused/test/positive1.json
  assets/queries/openAPI/components_schema_definition_unused/test/positive2.yaml
  assets/queries/openAPI/components_schema_definition_unused/test/positive_expected_result.json
Labels: openapi, query

#3281 feat(query): Added S3 Bucket Object Not Encrypted query for Terraform #3279
  assets/queries/terraform/aws/s3_bucket_object_not_encrypted/metadata.json
  assets/queries/terraform/aws/s3_bucket_object_not_encrypted/query.rego
  assets/queries/terraform/aws/s3_bucket_object_not_encrypted/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_object_not_encrypted/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_object_not_encrypted/test/positive_expected_result.json
Labels: query, terraform

#3280 feat(scan): refactor to remove unused shorthand field
  internal/console/scan.go
Labels: enhancement

#3282 refactor(query): using walk to reduce OpenAPI queries
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/schema_required_property_undefined/query.rego
  assets/queries/openAPI/string_schema_without_maximum_length/query.rego
Labels: enhancement

#3277 feat(query): Added API Gateway Method Settings Cache Not Encrypted #3276
  assets/queries/terraform/aws/api_gateway_method_settings_cache_not_encrypted/metadata.json
  assets/queries/terraform/aws/api_gateway_method_settings_cache_not_encrypted/query.rego
  assets/queries/terraform/aws/api_gateway_method_settings_cache_not_encrypted/test/negative1.tf
  assets/queries/terraform/aws/api_gateway_method_settings_cache_not_encrypted/test/positive1.tf
  assets/queries/terraform/aws/api_gateway_method_settings_cache_not_encrypted/test/positive_expected_result.json
Labels: query, terraform

#3160 feat(query): 'Cleartext Credentials With Basic Authentication For Operation' for OpenAPI
  assets/queries/openAPI/cleartext_credentials_with_basic_auth_for_operation/metadata.json
  assets/queries/openAPI/cleartext_credentials_with_basic_auth_for_operation/query.rego
  assets/queries/openAPI/cleartext_credentials_with_basic_auth_for_operation/test/negative1.json
  assets/queries/openAPI/cleartext_credentials_with_basic_auth_for_operation/test/negative2.yaml
  assets/queries/openAPI/cleartext_credentials_with_basic_auth_for_operation/test/positive1.json
  assets/queries/openAPI/cleartext_credentials_with_basic_auth_for_operation/test/positive2.yaml
  assets/queries/openAPI/cleartext_credentials_with_basic_auth_for_operation/test/positive_expected_result.json
Labels: openapi, query

#3284 feat(query): added "RDS Without Logging" query for Terraform
  assets/queries/terraform/aws/rds_without_logging/metadata.json
  assets/queries/terraform/aws/rds_without_logging/query.rego
  assets/queries/terraform/aws/rds_without_logging/test/negative.tf
  assets/queries/terraform/aws/rds_without_logging/test/positive.tf
  assets/queries/terraform/aws/rds_without_logging/test/positive_expected_result.json
Labels: query, terraform

#3287 feat(query): added "Neptune Logging Is Disabled" query for Terraform
  assets/libraries/terraform/library.rego
  assets/queries/terraform/aws/neptune_logging_disabled/metadata.json
  assets/queries/terraform/aws/neptune_logging_disabled/query.rego
  assets/queries/terraform/aws/neptune_logging_disabled/test/negative1.tf
  assets/queries/terraform/aws/neptune_logging_disabled/test/positive1.tf
  assets/queries/terraform/aws/neptune_logging_disabled/test/positive_expected_result.json
Labels: query, terraform

#3290 fix(logs): Fix invalid log path not returning error #3155
  internal/console/printer/printer.go
Labels: bug

#3288 feat(query): Added Resource Not Using Tags query for Terraform
  assets/libraries/terraform/library.rego
  assets/queries/terraform/aws/resource_not_using_tags/metadata.json
  assets/queries/terraform/aws/resource_not_using_tags/query.rego
  assets/queries/terraform/aws/resource_not_using_tags/test/negative1.tf
  assets/queries/terraform/aws/resource_not_using_tags/test/positive1.tf
  assets/queries/terraform/aws/resource_not_using_tags/test/positive_expected_result.json
  e2e/cli_test.go
  e2e/fixtures/E2E_CLI_032_RESULT.json
  e2e/fixtures/E2E_CLI_033_RESULT.json
Labels: aws, query, terraform

#3296 docs(integrations): update Azure DevOps docs with SARIF report #2282
  docs/img/azure-devops-build-status.png
  docs/img/azure-devops-sarif-plugin.png
  docs/integrations_azurepipelines.md
Labels: documentation

#3286 feat(query): 'EC2 instance monitoring disabled' for AWS Terraform
  assets/queries/terraform/aws/ec2_instance_monitoring_disabled/metadata.json
  assets/queries/terraform/aws/ec2_instance_monitoring_disabled/query.rego
  assets/queries/terraform/aws/ec2_instance_monitoring_disabled/test/negative1.tf
  assets/queries/terraform/aws/ec2_instance_monitoring_disabled/test/positive1.tf
  assets/queries/terraform/aws/ec2_instance_monitoring_disabled/test/positive2.tf
  assets/queries/terraform/aws/ec2_instance_monitoring_disabled/test/positive_expected_result.json
Labels: aws, query, terraform

#3289 feat(query): added "Api Gateway Access Logging Disabled" for Terraform
  assets/queries/terraform/aws/api_gateway_access_logging_disabled/metadata.json
  assets/queries/terraform/aws/api_gateway_access_logging_disabled/query.rego
  assets/queries/terraform/aws/api_gateway_access_logging_disabled/test/negative1.tf
  assets/queries/terraform/aws/api_gateway_access_logging_disabled/test/positive1.tf
  assets/queries/terraform/aws/api_gateway_access_logging_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/api_gateway_v2_stage_access_logging_settings_not_defined/metadata.json
  assets/queries/terraform/aws/api_gateway_v2_stage_access_logging_settings_not_defined/query.rego
  assets/queries/terraform/aws/api_gateway_v2_stage_access_logging_settings_not_defined/test/negative.tf
  assets/queries/terraform/aws/api_gateway_v2_stage_access_logging_settings_not_defined/test/positive.tf
  assets/queries/terraform/aws/api_gateway_v2_stage_access_logging_settings_not_defined/test/positive_expected_result.json
Labels: aws, query, terraform

#3293 feat(query): Added Sagemaker Notebook Instance Without KMS query to Terraform
  assets/queries/terraform/aws/sagemaker_notebook_instance_without_kms/metadata.json
  assets/queries/terraform/aws/sagemaker_notebook_instance_without_kms/query.rego
  assets/queries/terraform/aws/sagemaker_notebook_instance_without_kms/test/negative1.tf
  assets/queries/terraform/aws/sagemaker_notebook_instance_without_kms/test/positive1.tf
  assets/queries/terraform/aws/sagemaker_notebook_instance_without_kms/test/positive_expected_result.json
Labels: aws, query, terraform

#3294 feat(query): Added Secretsmanager Secret Without KMS query for Terraform
  assets/queries/terraform/aws/secretsmanager_secret_without_kms/metadata.json
  assets/queries/terraform/aws/secretsmanager_secret_without_kms/query.rego
  assets/queries/terraform/aws/secretsmanager_secret_without_kms/test/negative1.tf
  assets/queries/terraform/aws/secretsmanager_secret_without_kms/test/positive1.tf
  assets/queries/terraform/aws/secretsmanager_secret_without_kms/test/positive_expected_result.json
Labels: aws, query, terraform

#3295 feat(query): Added Athena Workgroup Not Encrypted query for Terraform
  assets/queries/terraform/aws/athena_workgroup_not_encrypted/metadata.json
  assets/queries/terraform/aws/athena_workgroup_not_encrypted/query.rego
  assets/queries/terraform/aws/athena_workgroup_not_encrypted/test/negative1.tf
  assets/queries/terraform/aws/athena_workgroup_not_encrypted/test/positive1.tf
  assets/queries/terraform/aws/athena_workgroup_not_encrypted/test/positive_expected_result.json
Labels: aws, query, terraform

#3302 feat(query): Updated Viewer Protocol Policy Allows HTTP query for Terraform
  assets/queries/terraform/aws/viewer_protocol_policy_allows_http/query.rego
Labels: aws, query, terraform

#3305 fix(parser): Fixed Bug with invalid terraform returning panic #3304
  pkg/kics/resolver_sink.go
  pkg/kics/sink.go
  pkg/parser/terraform/terraform.go
Labels: bug, go

#3298 feat(query): added "Global Accelerator Flow Logs Disabled" query for Terraform
  assets/queries/terraform/aws/global_accelerator_flow_logs_disabled/metadata.json
  assets/queries/terraform/aws/global_accelerator_flow_logs_disabled/query.rego
  assets/queries/terraform/aws/global_accelerator_flow_logs_disabled/test/negative1.tf
  assets/queries/terraform/aws/global_accelerator_flow_logs_disabled/test/positive1.tf
  assets/queries/terraform/aws/global_accelerator_flow_logs_disabled/test/positive2.tf
  assets/queries/terraform/aws/global_accelerator_flow_logs_disabled/test/positive3.tf
  assets/queries/terraform/aws/global_accelerator_flow_logs_disabled/test/positive_expected_result.json
Labels: query, terraform

#3303 feat(query): added "EKS cluster logging is not enabled" query for Terraform
  assets/queries/terraform/aws/eks_cluster_log_disabled/metadata.json
  assets/queries/terraform/aws/eks_cluster_log_disabled/query.rego
  assets/queries/terraform/aws/eks_cluster_log_disabled/test/negative1.tf
  assets/queries/terraform/aws/eks_cluster_log_disabled/test/positive1.tf
  assets/queries/terraform/aws/eks_cluster_log_disabled/test/positive_expected_result.json
Labels: query, terraform

#3300 feat(query): added "ELB Access Logging Disabled" for Terraform
  assets/queries/terraform/aws/elb_access_logging_disabled/metadata.json
  assets/queries/terraform/aws/elb_access_logging_disabled/query.rego
  assets/queries/terraform/aws/elb_access_logging_disabled/test/negative1.tf
  assets/queries/terraform/aws/elb_access_logging_disabled/test/negative2.tf
  assets/queries/terraform/aws/elb_access_logging_disabled/test/positive1.tf
  assets/queries/terraform/aws/elb_access_logging_disabled/test/positive2.tf
  assets/queries/terraform/aws/elb_access_logging_disabled/test/positive_expected_result.json
Labels: aws, query, terraform

#3308 fix(docs): Update architecture documentation image #3254
  docs/architecture.md
  docs/img/arch/high-level-arch-old.png
  docs/img/arch/high-level-arch.png
Labels: bug, documentation

#3309 fix(query): updated "IAM Policies Attached To User" query for Terraform
  assets/queries/terraform/aws/iam_policies_attached_to_user/query.rego
  assets/queries/terraform/aws/iam_policies_attached_to_user/test/negative1.tf
  assets/queries/terraform/aws/iam_policies_attached_to_user/test/positive1.tf
  assets/queries/terraform/aws/iam_policies_attached_to_user/test/positive2.tf
  assets/queries/terraform/aws/iam_policies_attached_to_user/test/positive3.tf
  assets/queries/terraform/aws/iam_policies_attached_to_user/test/positive_expected_result.json
Labels: query, terraform

#3156 feat(query): "JSON Object Schema Without Properties" for OpenAPI (#3153)
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/json_object_schema_without_properties/metadata.json
  assets/queries/openAPI/json_object_schema_without_properties/query.rego
  assets/queries/openAPI/json_object_schema_without_properties/test/negative1.json
  assets/queries/openAPI/json_object_schema_without_properties/test/negative2.json
  assets/queries/openAPI/json_object_schema_without_properties/test/negative3.yaml
  assets/queries/openAPI/json_object_schema_without_properties/test/negative4.yaml
  assets/queries/openAPI/json_object_schema_without_properties/test/positive1.json
  assets/queries/openAPI/json_object_schema_without_properties/test/positive2.json
  assets/queries/openAPI/json_object_schema_without_properties/test/positive3.yaml
  assets/queries/openAPI/json_object_schema_without_properties/test/positive4.yaml
  assets/queries/openAPI/json_object_schema_without_properties/test/positive_expected_result.json
  assets/queries/terraform/aws/eks_cluster_log_disabled/metadata.json
  assets/queries/terraform/aws/eks_cluster_log_disabled/test/negative1.tf
  assets/queries/terraform/aws/eks_cluster_log_disabled/test/positive1.tf
  assets/queries/terraform/aws/eks_cluster_log_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/iam_policies_attached_to_user/test/negative1.tf
  assets/queries/terraform/aws/iam_policies_attached_to_user/test/positive1.tf
  assets/queries/terraform/aws/iam_policies_attached_to_user/test/positive2.tf
  assets/queries/terraform/aws/iam_policies_attached_to_user/test/positive3.tf
  docs/img/arch/high-level-arch.png
Labels: openapi, query

#3176 feat(query): "Property 'explode' of Encoding Object Ignored" for OpenAPI (#3174)
  assets/queries/openAPI/property_explode_encoding_object_ignored/metadata.json
  assets/queries/openAPI/property_explode_encoding_object_ignored/query.rego
  assets/queries/openAPI/property_explode_encoding_object_ignored/test/negative1.json
  assets/queries/openAPI/property_explode_encoding_object_ignored/test/negative2.json
  assets/queries/openAPI/property_explode_encoding_object_ignored/test/negative3.yaml
  assets/queries/openAPI/property_explode_encoding_object_ignored/test/negative4.yaml
  assets/queries/openAPI/property_explode_encoding_object_ignored/test/positive1.json
  assets/queries/openAPI/property_explode_encoding_object_ignored/test/positive2.json
  assets/queries/openAPI/property_explode_encoding_object_ignored/test/positive3.yaml
  assets/queries/openAPI/property_explode_encoding_object_ignored/test/positive4.yaml
  assets/queries/openAPI/property_explode_encoding_object_ignored/test/positive_expected_result.json
Labels: openapi, query

#3204 feat(query): update "ALB Listening on HTTP" for Terraform (#3203)
  assets/queries/terraform/aws/alb_listening_on_http/query.rego
  assets/queries/terraform/aws/alb_listening_on_http/test/negative.tf
  assets/queries/terraform/aws/alb_listening_on_http/test/negative1.tf
  assets/queries/terraform/aws/alb_listening_on_http/test/negative2.tf
  assets/queries/terraform/aws/alb_listening_on_http/test/positive.tf
  assets/queries/terraform/aws/alb_listening_on_http/test/positive1.tf
  assets/queries/terraform/aws/alb_listening_on_http/test/positive2.tf
  assets/queries/terraform/aws/alb_listening_on_http/test/positive_expected_result.json
Labels: aws, query, terraform

#3313 feat(query): added query "Elasticsearch Domain Not Encrypted Node To Node" query for Terraform
  assets/queries/terraform/aws/elasticsearch_domain_not_encrypted_node_to_node/metadata.json
  assets/queries/terraform/aws/elasticsearch_domain_not_encrypted_node_to_node/query.rego
  assets/queries/terraform/aws/elasticsearch_domain_not_encrypted_node_to_node/test/negative1.tf
  assets/queries/terraform/aws/elasticsearch_domain_not_encrypted_node_to_node/test/positive1.tf
  assets/queries/terraform/aws/elasticsearch_domain_not_encrypted_node_to_node/test/positive2.tf
  assets/queries/terraform/aws/elasticsearch_domain_not_encrypted_node_to_node/test/positive_expected_result.json
Labels: aws, query, terraform

#3314 feat(query): Added ElastiCache Replication Group Not Encrypted At Transit
  assets/queries/terraform/aws/elasticache_replication_group_not_encrypted_at_transit/metadata.json
  assets/queries/terraform/aws/elasticache_replication_group_not_encrypted_at_transit/query.rego
  assets/queries/terraform/aws/elasticache_replication_group_not_encrypted_at_transit/test/negative1.tf
  assets/queries/terraform/aws/elasticache_replication_group_not_encrypted_at_transit/test/positive1.tf
  assets/queries/terraform/aws/elasticache_replication_group_not_encrypted_at_transit/test/positive2.tf
  assets/queries/terraform/aws/elasticache_replication_group_not_encrypted_at_transit/test/positive_expected_result.json
Labels: aws, query, terraform

#3297 feat(query): Added Workspaces Workspace Volume Not Encrypted query for Terraform
  assets/queries/terraform/aws/workspaces_workspace_volume_not_encrypted/metadata.json
  assets/queries/terraform/aws/workspaces_workspace_volume_not_encrypted/query.rego
  assets/queries/terraform/aws/workspaces_workspace_volume_not_encrypted/test/negative1.tf
  assets/queries/terraform/aws/workspaces_workspace_volume_not_encrypted/test/positive1.tf
  assets/queries/terraform/aws/workspaces_workspace_volume_not_encrypted/test/positive2.tf
  assets/queries/terraform/aws/workspaces_workspace_volume_not_encrypted/test/positive3.tf
  assets/queries/terraform/aws/workspaces_workspace_volume_not_encrypted/test/positive4.tf
  assets/queries/terraform/aws/workspaces_workspace_volume_not_encrypted/test/positive_expected_result.json
Labels: aws, query, terraform

#3312 feat(query): Added ECS Task Definition Volume Not Encrypted query for Terraform
  assets/queries/terraform/aws/ecs_task_definition_volume_not_encrypted/metadata.json
  assets/queries/terraform/aws/ecs_task_definition_volume_not_encrypted/query.rego
  assets/queries/terraform/aws/ecs_task_definition_volume_not_encrypted/test/negative1.tf
  assets/queries/terraform/aws/ecs_task_definition_volume_not_encrypted/test/positive1.tf
  assets/queries/terraform/aws/ecs_task_definition_volume_not_encrypted/test/positive2.tf
  assets/queries/terraform/aws/ecs_task_definition_volume_not_encrypted/test/positive_expected_result.json
Labels: aws, query, terraform

#3318 feat(query): added "Callback JSON Reference Does Not Exists" query for OpenAPI
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/components_callback_definition_unused/query.rego
  assets/queries/openAPI/components_example_definition_unused/metadata.json
  assets/queries/openAPI/components_example_definition_unused/query.rego
  assets/queries/openAPI/components_example_definition_unused/test/negative1.json
  assets/queries/openAPI/components_example_definition_unused/test/negative2.yaml
  assets/queries/openAPI/components_example_definition_unused/test/positive1.json
  assets/queries/openAPI/components_example_definition_unused/test/positive2.yaml
  assets/queries/openAPI/components_example_definition_unused/test/positive_expected_result.json
  assets/queries/openAPI/components_header_definition_unused/query.rego
  assets/queries/openAPI/components_link_definition_unused/query.rego
  assets/queries/openAPI/components_parameter_definition_unused/query.rego
  assets/queries/openAPI/components_request_body_definition_unused/query.rego
  assets/queries/openAPI/components_response_definition_unused/query.rego
  assets/queries/openAPI/components_schema_definition_unused/query.rego
  assets/queries/openAPI/json_reference_does_not_exists_callback/metadata.json
  assets/queries/openAPI/json_reference_does_not_exists_callback/query.rego
  assets/queries/openAPI/json_reference_does_not_exists_callback/test/negative1.json
  assets/queries/openAPI/json_reference_does_not_exists_callback/test/negative2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_callback/test/positive1.json
  assets/queries/openAPI/json_reference_does_not_exists_callback/test/positive2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_callback/test/positive_expected_result.json
Labels: openapi, query

#3316 feat(query): Added IAM User With Access To Console query to Terraform
  assets/queries/terraform/aws/iam_user_with_access_to_console/metadata.json
  assets/queries/terraform/aws/iam_user_with_access_to_console/query.rego
  assets/queries/terraform/aws/iam_user_with_access_to_console/test/negative1.tf
  assets/queries/terraform/aws/iam_user_with_access_to_console/test/positive1.tf
  assets/queries/terraform/aws/iam_user_with_access_to_console/test/positive_expected_result.json
Labels: aws, query, terraform

#3321 feat(query): Added IAM Role Policy passRole Allows All query for Terraform
  assets/queries/terraform/aws/iam_role_policy_passrole_allows_all/metadata.json
  assets/queries/terraform/aws/iam_role_policy_passrole_allows_all/query.rego
  assets/queries/terraform/aws/iam_role_policy_passrole_allows_all/test/negative1.tf
  assets/queries/terraform/aws/iam_role_policy_passrole_allows_all/test/positive1.tf
  assets/queries/terraform/aws/iam_role_policy_passrole_allows_all/test/positive_expected_result.json
Labels: aws, query, terraform

#3322 feat(query): add "Example JSON Reference Does Not Exists" query for OpenAPI
  assets/queries/openAPI/json_reference_does_not_exists_example/metadata.json
  assets/queries/openAPI/json_reference_does_not_exists_example/query.rego
  assets/queries/openAPI/json_reference_does_not_exists_example/test/negative1.json
  assets/queries/openAPI/json_reference_does_not_exists_example/test/negative2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_example/test/positive1.json
  assets/queries/openAPI/json_reference_does_not_exists_example/test/positive2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_example/test/positive_expected_result.json
Labels: openapi, query

#3323 feat(query): added "Header JSON Reference Does Not Exists" for OpenAPI
  assets/queries/openAPI/json_reference_does_not_exists_header/metadata.json
  assets/queries/openAPI/json_reference_does_not_exists_header/query.rego
  assets/queries/openAPI/json_reference_does_not_exists_header/test/negative1.json
  assets/queries/openAPI/json_reference_does_not_exists_header/test/negative2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_header/test/positive1.json
  assets/queries/openAPI/json_reference_does_not_exists_header/test/positive2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_header/test/positive_expected_result.json
Labels: openapi, query

#3326 feat(query): Added ECR Repository Without Policy query for Terraform
  assets/queries/terraform/aws/ecr_repository_without_policy/metadata.json
  assets/queries/terraform/aws/ecr_repository_without_policy/query.rego
  assets/queries/terraform/aws/ecr_repository_without_policy/test/negative1.tf
  assets/queries/terraform/aws/ecr_repository_without_policy/test/positive1.tf
  assets/queries/terraform/aws/ecr_repository_without_policy/test/positive2.tf
  assets/queries/terraform/aws/ecr_repository_without_policy/test/positive_expected_result.json
Labels: aws, query, terraform

#3324 feat(query): added "Link JSON Reference Does Not Exists" for OpenAPI
  assets/queries/openAPI/json_reference_does_not_exists_link/metadata.json
  assets/queries/openAPI/json_reference_does_not_exists_link/query.rego
  assets/queries/openAPI/json_reference_does_not_exists_link/test/negative1.json
  assets/queries/openAPI/json_reference_does_not_exists_link/test/negative2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_link/test/positive1.json
  assets/queries/openAPI/json_reference_does_not_exists_link/test/positive2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_link/test/positive_expected_result.json
Labels: openapi, query

#3328 feat(query): add "Request Body JSON Reference Does Not Exists" query for OpenAPI
  assets/queries/openAPI/json_reference_does_not_exists_request_body/metadata.json
  assets/queries/openAPI/json_reference_does_not_exists_request_body/query.rego
  assets/queries/openAPI/json_reference_does_not_exists_request_body/test/negative1.json
  assets/queries/openAPI/json_reference_does_not_exists_request_body/test/negative2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_request_body/test/positive1.json
  assets/queries/openAPI/json_reference_does_not_exists_request_body/test/positive2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_request_body/test/positive_expected_result.json
Labels: openapi, query

#3331 feat(query): added "Schema JSON Reference Does Not Exists" query for OpenAPI
  assets/queries/openAPI/json_reference_does_not_exists_schema/metadata.json
  assets/queries/openAPI/json_reference_does_not_exists_schema/query.rego
  assets/queries/openAPI/json_reference_does_not_exists_schema/test/negative1.json
  assets/queries/openAPI/json_reference_does_not_exists_schema/test/negative2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_schema/test/positive1.json
  assets/queries/openAPI/json_reference_does_not_exists_schema/test/positive2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_schema/test/positive_expected_result.json
Labels: openapi, query

#3330 feat(query): add "Response JSON Reference Does Not Exists" query for OpenAPI
  assets/queries/openAPI/json_reference_does_not_exists_response/metadata.json
  assets/queries/openAPI/json_reference_does_not_exists_response/query.rego
  assets/queries/openAPI/json_reference_does_not_exists_response/test/negative1.json
  assets/queries/openAPI/json_reference_does_not_exists_response/test/negative2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_response/test/positive1.json
  assets/queries/openAPI/json_reference_does_not_exists_response/test/positive2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_response/test/positive_expected_result.json
Labels: openapi, query

#3327 feat(query): added "Parameter JSON Reference Does Not Exists" for OpenAPI
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/json_reference_does_not_exists_parameter/metadata.json
  assets/queries/openAPI/json_reference_does_not_exists_parameter/query.rego
  assets/queries/openAPI/json_reference_does_not_exists_parameter/test/negative1.json
  assets/queries/openAPI/json_reference_does_not_exists_parameter/test/negative2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_parameter/test/positive1.json
  assets/queries/openAPI/json_reference_does_not_exists_parameter/test/positive2.yaml
  assets/queries/openAPI/json_reference_does_not_exists_parameter/test/positive_expected_result.json
Labels: openapi, query

#3337 feat(query): Added OAuth2 With Implicit Flow query to OpenAPI
  assets/queries/openAPI/oauth2_with_implicit_flow/metadata.json
  assets/queries/openAPI/oauth2_with_implicit_flow/query.rego
  assets/queries/openAPI/oauth2_with_implicit_flow/test/negative1.json
  assets/queries/openAPI/oauth2_with_implicit_flow/test/negative2.yaml
  assets/queries/openAPI/oauth2_with_implicit_flow/test/positive1.json
  assets/queries/openAPI/oauth2_with_implicit_flow/test/positive2.yaml
  assets/queries/openAPI/oauth2_with_implicit_flow/test/positive_expected_result.json
Labels: openapi, query

#3341 feat(query): "Cleartext API Key In Global Security" for OpenAPI
  assets/queries/openAPI/cleartext_api_key_in_global_security/metadata.json
  assets/queries/openAPI/cleartext_api_key_in_global_security/query.rego
  assets/queries/openAPI/cleartext_api_key_in_global_security/test/negative1.json
  assets/queries/openAPI/cleartext_api_key_in_global_security/test/negative2.yaml
  assets/queries/openAPI/cleartext_api_key_in_global_security/test/positive1.json
  assets/queries/openAPI/cleartext_api_key_in_global_security/test/positive2.yaml
  assets/queries/openAPI/cleartext_api_key_in_global_security/test/positive_expected_result.json
Labels: openapi, query

#3344 feat(query): "Cleartext API Key In Operation Security" for OpenAPI
  assets/queries/openAPI/cleartext_api_key_in_operation_security/metadata.json
  assets/queries/openAPI/cleartext_api_key_in_operation_security/query.rego
  assets/queries/openAPI/cleartext_api_key_in_operation_security/test/negative1.json
  assets/queries/openAPI/cleartext_api_key_in_operation_security/test/negative2.yaml
  assets/queries/openAPI/cleartext_api_key_in_operation_security/test/positive1.json
  assets/queries/openAPI/cleartext_api_key_in_operation_security/test/positive2.yaml
  assets/queries/openAPI/cleartext_api_key_in_operation_security/test/positive_expected_result.json
Labels: openapi, query

#3335 feat(query): "API Key Exposed In Operation Security" for OpenAPI
  assets/queries/openAPI/api_key_exposed_in_operation_security/metadata.json
  assets/queries/openAPI/api_key_exposed_in_operation_security/query.rego
  assets/queries/openAPI/api_key_exposed_in_operation_security/test/negative1.json
  assets/queries/openAPI/api_key_exposed_in_operation_security/test/negative2.yaml
  assets/queries/openAPI/api_key_exposed_in_operation_security/test/positive1.json
  assets/queries/openAPI/api_key_exposed_in_operation_security/test/positive2.yaml
  assets/queries/openAPI/api_key_exposed_in_operation_security/test/positive_expected_result.json
Labels: openapi, query

#3336 feat(query): "API Key Exposed In Global Security Scheme" for OpenAPI
  assets/queries/openAPI/api_key_exposed_in_global_security_scheme/metadata.json
  assets/queries/openAPI/api_key_exposed_in_global_security_scheme/query.rego
  assets/queries/openAPI/api_key_exposed_in_global_security_scheme/test/negative1.json
  assets/queries/openAPI/api_key_exposed_in_global_security_scheme/test/negative2.yaml
  assets/queries/openAPI/api_key_exposed_in_global_security_scheme/test/positive1.json
  assets/queries/openAPI/api_key_exposed_in_global_security_scheme/test/positive2.yaml
  assets/queries/openAPI/api_key_exposed_in_global_security_scheme/test/positive_expected_result.json
Labels: openapi, query

#3348 feat(query): Added OAuth2 With Password Flow query to OpenAPI
  assets/queries/openAPI/oauth2_with_password_flow/metadata.json
  assets/queries/openAPI/oauth2_with_password_flow/query.rego
  assets/queries/openAPI/oauth2_with_password_flow/test/negative1.json
  assets/queries/openAPI/oauth2_with_password_flow/test/negative2.yaml
  assets/queries/openAPI/oauth2_with_password_flow/test/positive1.json
  assets/queries/openAPI/oauth2_with_password_flow/test/positive2.yaml
  assets/queries/openAPI/oauth2_with_password_flow/test/positive_expected_result.json
Labels: openapi, query

#3353 feat(query): added "Schema Array Items Has No Type" query for OpenAPI
  assets/queries/openAPI/schema_array_items_has_no_type/metadata.json
  assets/queries/openAPI/schema_array_items_has_no_type/query.rego
  assets/queries/openAPI/schema_array_items_has_no_type/test/negative1.json
  assets/queries/openAPI/schema_array_items_has_no_type/test/negative2.yaml
  assets/queries/openAPI/schema_array_items_has_no_type/test/positive1.json
  assets/queries/openAPI/schema_array_items_has_no_type/test/positive2.json
  assets/queries/openAPI/schema_array_items_has_no_type/test/positive3.json
  assets/queries/openAPI/schema_array_items_has_no_type/test/positive4.yaml
  assets/queries/openAPI/schema_array_items_has_no_type/test/positive5.yaml
  assets/queries/openAPI/schema_array_items_has_no_type/test/positive6.yaml
  assets/queries/openAPI/schema_array_items_has_no_type/test/positive_expected_result.json
Labels: openapi, query

#3352 feat(query): "Array Schema Without Maximum Number of Items" for OpenAPI
  assets/queries/openAPI/array_schema_without_maximum_number_items/metadata.json
  assets/queries/openAPI/array_schema_without_maximum_number_items/query.rego
  assets/queries/openAPI/array_schema_without_maximum_number_items/test/negative1.json
  assets/queries/openAPI/array_schema_without_maximum_number_items/test/negative2.json
  assets/queries/openAPI/array_schema_without_maximum_number_items/test/negative3.yaml
  assets/queries/openAPI/array_schema_without_maximum_number_items/test/negative4.yaml
  assets/queries/openAPI/array_schema_without_maximum_number_items/test/positive1.json
  assets/queries/openAPI/array_schema_without_maximum_number_items/test/positive2.json
  assets/queries/openAPI/array_schema_without_maximum_number_items/test/positive3.yaml
  assets/queries/openAPI/array_schema_without_maximum_number_items/test/positive4.yaml
  assets/queries/openAPI/array_schema_without_maximum_number_items/test/positive_expected_result.json
Labels: openapi, query

#3345 feat(query): Added Security Scheme Using Oauth 1.0 query for OpenAPI
  assets/queries/openAPI/security_schemes_using_oauth/metadata.json
  assets/queries/openAPI/security_schemes_using_oauth/query.rego
  assets/queries/openAPI/security_schemes_using_oauth/test/negative1.json
  assets/queries/openAPI/security_schemes_using_oauth/test/negative2.yaml
  assets/queries/openAPI/security_schemes_using_oauth/test/positive1.json
  assets/queries/openAPI/security_schemes_using_oauth/test/positive2.yaml
  assets/queries/openAPI/security_schemes_using_oauth/test/positive_expected_result.json
Labels: openapi, query

#3349 feat(query): add "Global Security Scheme Using Basic Authentication" for OpenAPI
  assets/queries/openAPI/global_security_scheme_using_basic_authentication/metadata.json
  assets/queries/openAPI/global_security_scheme_using_basic_authentication/query.rego
  assets/queries/openAPI/global_security_scheme_using_basic_authentication/test/negative1.json
  assets/queries/openAPI/global_security_scheme_using_basic_authentication/test/negative2.yaml
  assets/queries/openAPI/global_security_scheme_using_basic_authentication/test/positive1.json
  assets/queries/openAPI/global_security_scheme_using_basic_authentication/test/positive2.yaml
  assets/queries/openAPI/global_security_scheme_using_basic_authentication/test/positive_expected_result.json
Labels: openapi, query

#3350 feat(query): "Unknown Schema String Format" for OpenAPI
  assets/queries/openAPI/unknown_schema_string_format/metadata.json
  assets/queries/openAPI/unknown_schema_string_format/query.rego
  assets/queries/openAPI/unknown_schema_string_format/test/negative1.json
  assets/queries/openAPI/unknown_schema_string_format/test/negative2.json
  assets/queries/openAPI/unknown_schema_string_format/test/negative3.yaml
  assets/queries/openAPI/unknown_schema_string_format/test/negative4.yaml
  assets/queries/openAPI/unknown_schema_string_format/test/positive1.json
  assets/queries/openAPI/unknown_schema_string_format/test/positive2.json
  assets/queries/openAPI/unknown_schema_string_format/test/positive3.yaml
  assets/queries/openAPI/unknown_schema_string_format/test/positive4.yaml
  assets/queries/openAPI/unknown_schema_string_format/test/positive_expected_result.json
Labels: openapi, query

#3351 feat(query): Added Security Scheme HTTP Unknown Scheme query for OpenAPI
  assets/queries/openAPI/security_schemes_http_unknown_scheme/metadata.json
  assets/queries/openAPI/security_schemes_http_unknown_scheme/query.rego
  assets/queries/openAPI/security_schemes_http_unknown_scheme/test/negative1.json
  assets/queries/openAPI/security_schemes_http_unknown_scheme/test/negative2.yaml
  assets/queries/openAPI/security_schemes_http_unknown_scheme/test/positive1.json
  assets/queries/openAPI/security_schemes_http_unknown_scheme/test/positive2.yaml
  assets/queries/openAPI/security_schemes_http_unknown_scheme/test/positive_expected_result.json
Labels: openapi, query

#3355 feat(query): "Empty Array" for OpenAPI
  assets/queries/openAPI/empty_array/metadata.json
  assets/queries/openAPI/empty_array/query.rego
  assets/queries/openAPI/empty_array/test/negative1.json
  assets/queries/openAPI/empty_array/test/negative2.yaml
  assets/queries/openAPI/empty_array/test/positive1.json
  assets/queries/openAPI/empty_array/test/positive2.yaml
  assets/queries/openAPI/empty_array/test/positive_expected_result.json
Labels: openapi, query

#3357 feat(query): Added Security Scheme Using HTTP Basic query for OpenAPI
  assets/queries/openAPI/security_scheme_using_http_basic/metadata.json
  assets/queries/openAPI/security_scheme_using_http_basic/query.rego
  assets/queries/openAPI/security_scheme_using_http_basic/test/negative1.json
  assets/queries/openAPI/security_scheme_using_http_basic/test/negative2.yaml
  assets/queries/openAPI/security_scheme_using_http_basic/test/positive1.json
  assets/queries/openAPI/security_scheme_using_http_basic/test/positive2.yaml
  assets/queries/openAPI/security_scheme_using_http_basic/test/positive_expected_result.json
Labels: openapi, query

#3358 feat(query): Added Security Scheme Using HTTP Digest query for OpenAPI
  assets/queries/openAPI/security_scheme_using_http_digest/metadata.json
  assets/queries/openAPI/security_scheme_using_http_digest/query.rego
  assets/queries/openAPI/security_scheme_using_http_digest/test/negative1.json
  assets/queries/openAPI/security_scheme_using_http_digest/test/negative2.yaml
  assets/queries/openAPI/security_scheme_using_http_digest/test/positive1.json
  assets/queries/openAPI/security_scheme_using_http_digest/test/positive2.yaml
  assets/queries/openAPI/security_scheme_using_http_digest/test/positive_expected_result.json
Labels: openapi, query

#3359 feat(query): Added Security Scheme Using HTTP Negotiate query for OpenAPI
  assets/queries/openAPI/security_scheme_using_http_negotiate/metadata.json
  assets/queries/openAPI/security_scheme_using_http_negotiate/query.rego
  assets/queries/openAPI/security_scheme_using_http_negotiate/test/negative1.json
  assets/queries/openAPI/security_scheme_using_http_negotiate/test/negative1.yaml
  assets/queries/openAPI/security_scheme_using_http_negotiate/test/positive1.json
  assets/queries/openAPI/security_scheme_using_http_negotiate/test/positive2.yaml
  assets/queries/openAPI/security_scheme_using_http_negotiate/test/positive_expected_result.json
Labels: openapi, query

#3362 feat(query): add "Parameters Name In Combination Should Be Unique" for OpenAPI
  assets/queries/openAPI/parameters_name_in_should_be_unique/metadata.json
  assets/queries/openAPI/parameters_name_in_should_be_unique/query.rego
  assets/queries/openAPI/parameters_name_in_should_be_unique/test/negative1.json
  assets/queries/openAPI/parameters_name_in_should_be_unique/test/negative2.yaml
  assets/queries/openAPI/parameters_name_in_should_be_unique/test/positive1.json
  assets/queries/openAPI/parameters_name_in_should_be_unique/test/positive2.yaml
  assets/queries/openAPI/parameters_name_in_should_be_unique/test/positive_expected_result.json
Labels: openapi, query

#3364 feat(query): add "Schema Enum Invalid" for OpenAPI
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/schema_enum_invalid/metadata.json
  assets/queries/openAPI/schema_enum_invalid/query.rego
  assets/queries/openAPI/schema_enum_invalid/test/negative1.json
  assets/queries/openAPI/schema_enum_invalid/test/negative2.json
  assets/queries/openAPI/schema_enum_invalid/test/negative3.yaml
  assets/queries/openAPI/schema_enum_invalid/test/negative4.yaml
  assets/queries/openAPI/schema_enum_invalid/test/positive1.json
  assets/queries/openAPI/schema_enum_invalid/test/positive2.json
  assets/queries/openAPI/schema_enum_invalid/test/positive3.yaml
  assets/queries/openAPI/schema_enum_invalid/test/positive4.yaml
  assets/queries/openAPI/schema_enum_invalid/test/positive_expected_result.json
Labels: openapi, query

#3361 feat(query): added "Required Property With Default Value" query for OpenAPI
  assets/queries/openAPI/required_property_default_value/metadata.json
  assets/queries/openAPI/required_property_default_value/query.rego
  assets/queries/openAPI/required_property_default_value/test/negative1.json
  assets/queries/openAPI/required_property_default_value/test/negative2.json
  assets/queries/openAPI/required_property_default_value/test/negative3.yaml
  assets/queries/openAPI/required_property_default_value/test/negative4.yaml
  assets/queries/openAPI/required_property_default_value/test/positive1.json
  assets/queries/openAPI/required_property_default_value/test/positive2.json
  assets/queries/openAPI/required_property_default_value/test/positive3.yaml
  assets/queries/openAPI/required_property_default_value/test/positive4.yaml
  assets/queries/openAPI/required_property_default_value/test/positive_expected_result.json
Labels: openapi, query

#3365 feat(query): added "JSON '$ref' alongside other properties" query for OpenAPI
  assets/queries/openAPI/json_ref_alongside_properties/metadata.json
  assets/queries/openAPI/json_ref_alongside_properties/query.rego
  assets/queries/openAPI/json_ref_alongside_properties/test/negative1.json
  assets/queries/openAPI/json_ref_alongside_properties/test/negative2.yaml
  assets/queries/openAPI/json_ref_alongside_properties/test/positive1.json
  assets/queries/openAPI/json_ref_alongside_properties/test/positive2.yaml
  assets/queries/openAPI/json_ref_alongside_properties/test/positive_expected_result.json
Labels: openapi, query

#3346 feat(query): added "Schema Invalid Number Format" for OpenAPI
  assets/queries/openAPI/schema_invalid_number_format/metadata.json
  assets/queries/openAPI/schema_invalid_number_format/query.rego
  assets/queries/openAPI/schema_invalid_number_format/test/negative1.json
  assets/queries/openAPI/schema_invalid_number_format/test/negative2.yaml
  assets/queries/openAPI/schema_invalid_number_format/test/positive1.json
  assets/queries/openAPI/schema_invalid_number_format/test/positive2.yaml
  assets/queries/openAPI/schema_invalid_number_format/test/positive_expected_result.json
Labels: openapi, query

#3360 feat(query): add "Property Defining Maximum Not Greater Than Minimum" for OpenAPI
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/metadata.json
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/query.rego
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/test/negative1.json
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/test/negative2.json
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/test/negative3.yaml
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/test/negative4.yaml
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/test/negative5.json
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/test/negative6.yaml
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/test/negative7.yaml
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/test/positive1.json
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/test/positive2.json
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/test/positive3.yaml
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/test/positive4.yaml
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/test/positive5.yaml
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/test/positive6.yaml
  assets/queries/openAPI/property_defining_maximum_not_greater_than_minimum/test/positive_expected_result.json
Labels: openapi, query

#3356 feat(query): add "Example JSON Reference Outside Components Examples" for OpenAPI
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/example_json_reference_outside_components_examples/metadata.json
  assets/queries/openAPI/example_json_reference_outside_components_examples/query.rego
  assets/queries/openAPI/example_json_reference_outside_components_examples/test/negative1.json
  assets/queries/openAPI/example_json_reference_outside_components_examples/test/negative2.yaml
  assets/queries/openAPI/example_json_reference_outside_components_examples/test/positive1.json
  assets/queries/openAPI/example_json_reference_outside_components_examples/test/positive2.yaml
  assets/queries/openAPI/example_json_reference_outside_components_examples/test/positive_expected_result.json
Labels: openapi, query

#3370 feat(metrics): adding total queries badge
  .github/scripts/coverage/.coverageignore
  .github/scripts/coverage/get-coverage.py
  .github/scripts/get-test-metrics.sh
  .github/scripts/metrics/get-metrics.py
  .github/scripts/metrics/requirements.txt
  .github/workflows/go-ci-coverage.yaml
  .github/workflows/go-ci-metrics.yaml
  .github/workflows/go-ci.yml
  Makefile
  README.md
Labels: CI, documentation

#3371 Update go-ci-coverage.yaml
  .github/workflows/go-ci-coverage.yaml
Labels: CI

#3369 feat(query): Added Example Not Compliant With Schema Type query for OpenAPI
  assets/queries/openAPI/example_not_compliant_with_schema_type/metadata.json
  assets/queries/openAPI/example_not_compliant_with_schema_type/query.rego
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/negative1.json
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/negative2.yaml
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/negative3.json
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/negative4.yaml
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/negative5.json
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/negative6.yaml
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/negative7.json
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/negative8.yaml
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/positive1.json
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/positive2.yaml
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/positive3.json
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/positive4.yaml
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/positive5.json
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/positive6.yaml
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/positive7.json
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/positive8.yaml
  assets/queries/openAPI/example_not_compliant_with_schema_type/test/positive_expected_result.json
Labels: openapi, query

#3375 fix(ci): wrong paths filter
  .github/workflows/go-ci-metrics.yaml
Labels: CI, bug

#3376 Update Example Not Compliant With Schema Type
  assets/queries/openAPI/example_not_compliant_with_schema_type/query.rego
Labels: openapi, query

#3373 feat(query): Added Schema Object With Circular Ref query for OpenAPI
  assets/queries/openAPI/schema_object_with_circular_ref/metadata.json
  assets/queries/openAPI/schema_object_with_circular_ref/query.rego
  assets/queries/openAPI/schema_object_with_circular_ref/test/negative1.json
  assets/queries/openAPI/schema_object_with_circular_ref/test/negative2.yaml
  assets/queries/openAPI/schema_object_with_circular_ref/test/positive1.json
  assets/queries/openAPI/schema_object_with_circular_ref/test/positive2.yaml
  assets/queries/openAPI/schema_object_with_circular_ref/test/positive_expected_result.json
Labels: openapi, query

#3377 fix(ci): adding python3 environment to metrics workflow
  .github/workflows/go-ci-metrics.yaml
Labels: CI, bug

#3372 feat(query): added "Schema Type Has Invalid Keyword" query for OpenAPI
  assets/queries/openAPI/schema_type_invalid_property/metadata.json
  assets/queries/openAPI/schema_type_invalid_property/query.rego
  assets/queries/openAPI/schema_type_invalid_property/test/negative1.json
  assets/queries/openAPI/schema_type_invalid_property/test/negative2.yaml
  assets/queries/openAPI/schema_type_invalid_property/test/positive1.json
  assets/queries/openAPI/schema_type_invalid_property/test/positive2.json
  assets/queries/openAPI/schema_type_invalid_property/test/positive3.json
  assets/queries/openAPI/schema_type_invalid_property/test/positive4.yaml
  assets/queries/openAPI/schema_type_invalid_property/test/positive5.yaml
  assets/queries/openAPI/schema_type_invalid_property/test/positive6.yaml
  assets/queries/openAPI/schema_type_invalid_property/test/positive_expected_result.json
Labels: openapi, query

#3397 fix(detect-line): Fixed bug with Detect line does not work for OpenAPI template path #3386
  assets/queries/openAPI/parameter_object_undefined_type/test/positive_expected_result.json
  pkg/detector/helper.go
  pkg/detector/helper_test.go
Labels: bug, go

#3398 fix(docs): corrected docs to match KICS behavior
  docs/dockerhub.md
  docs/usage/commands.md
  e2e/fixtures/E2E_CLI_001
  e2e/fixtures/E2E_CLI_002
  e2e/fixtures/E2E_CLI_003
  e2e/fixtures/E2E_CLI_004
  e2e/fixtures/E2E_CLI_010
  e2e/fixtures/E2E_CLI_016_INVALID_FLAG
  e2e/fixtures/E2E_CLI_016_INVALID_SCAN_FLAG
  e2e/fixtures/E2E_CLI_016_INVALID_SHOTHAND
  internal/console/kics.go
Labels: bug, documentation

#3366 feat(query): add "Template Path With No Corresponding Path Parameter" for OpenAPI
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/template_path_with_no_corresponding_parameter/metadata.json
  assets/queries/openAPI/template_path_with_no_corresponding_parameter/query.rego
  assets/queries/openAPI/template_path_with_no_corresponding_parameter/test/negative1.yaml
  assets/queries/openAPI/template_path_with_no_corresponding_parameter/test/negative2.json
  assets/queries/openAPI/template_path_with_no_corresponding_parameter/test/positive1.yaml
  assets/queries/openAPI/template_path_with_no_corresponding_parameter/test/positive2.json
  assets/queries/openAPI/template_path_with_no_corresponding_parameter/test/positive3.yaml
  assets/queries/openAPI/template_path_with_no_corresponding_parameter/test/positive_expected_result.json
Labels: openapi, query

#3405 feat(query): add "Property 'allowEmptyValue' Ignored" for OpenAPI
  assets/queries/openAPI/property_allow_empty_value_ignored/metadata.json
  assets/queries/openAPI/property_allow_empty_value_ignored/query.rego
  assets/queries/openAPI/property_allow_empty_value_ignored/test/negative1.json
  assets/queries/openAPI/property_allow_empty_value_ignored/test/negative2.yaml
  assets/queries/openAPI/property_allow_empty_value_ignored/test/negative3.json
  assets/queries/openAPI/property_allow_empty_value_ignored/test/negative4.yaml
  assets/queries/openAPI/property_allow_empty_value_ignored/test/negative5.json
  assets/queries/openAPI/property_allow_empty_value_ignored/test/negative6.yaml
  assets/queries/openAPI/property_allow_empty_value_ignored/test/positive1.json
  assets/queries/openAPI/property_allow_empty_value_ignored/test/positive2.yaml
  assets/queries/openAPI/property_allow_empty_value_ignored/test/positive3.json
  assets/queries/openAPI/property_allow_empty_value_ignored/test/positive4.yaml
  assets/queries/openAPI/property_allow_empty_value_ignored/test/positive5.json
  assets/queries/openAPI/property_allow_empty_value_ignored/test/positive6.yaml
  assets/queries/openAPI/property_allow_empty_value_ignored/test/positive_expected_result.json
Labels: openapi, query
