Repository Checkmarx/kics, pull requests merged in 2021-03, with the labels that each got.

#2155 Bug in validate-syntax.py for Kubernetes and Dockerfiles
  .github/validators/k8s-skip-list
  .github/validators/validate-syntax.py
  .github/workflows/go-ci-publish-unit-tests_yml
  .github/workflows/validate-dkr-samples.yml
  .github/workflows/validate-k8s-samples.yml
  assets/queries/cloudFormation/amplify_branch_basic_auth_config_password_exposed/test/negative3.yaml
  assets/queries/cloudFormation/cloudformation_specifying_credentials_not_safe/test/negative1.yaml
  assets/queries/dockerfile/copy_from_references_current_from_alias/test/negative.dockerfile
  assets/queries/dockerfile/copy_from_without_from_alias_defined_previously/test/negative.dockerfile
  assets/queries/k8s/container_memory_requests_not_equal_limits/test/negative.yaml
  assets/queries/k8s/cronjob_deadline_not_configured/test/negative.yaml
  assets/queries/k8s/deployment_has_no_pod_anti_affinity/test/positive.yaml
Labels: CI

#2153 Testing for unique query identifiers and removing duplicate queries
  assets/queries/cloudFormation/ec2_network_acl_ineffective_denied_traffic/test/negative1.yaml
  assets/queries/cloudFormation/ec2_network_acl_ineffective_denied_traffic/test/negative2.json
  assets/queries/cloudFormation/ec2_network_acl_ineffective_denied_traffic/test/positive1.yaml
  assets/queries/cloudFormation/ec2_network_acl_ineffective_denied_traffic/test/positive2.json
  assets/queries/cloudFormation/ec2_network_acl_ineffective_denied_traffic/test/positive_expected_result.json
  assets/queries/cloudFormation/ec2_network_acl_overlapping_ports/test/negative1.yaml
  assets/queries/cloudFormation/ec2_network_acl_overlapping_ports/test/negative2.json
  assets/queries/cloudFormation/ec2_network_acl_overlapping_ports/test/positive1.yaml
  assets/queries/cloudFormation/ec2_network_acl_overlapping_ports/test/positive2.json
  assets/queries/cloudFormation/ec2_network_acl_overlapping_ports/test/positive_expected_result.json
  assets/queries/cloudFormation/iam_groups_inline_policies/metadata.json
  assets/queries/cloudFormation/iam_groups_inline_policies/query.rego
  assets/queries/cloudFormation/iam_groups_inline_policies/test/negative1.yaml
  assets/queries/cloudFormation/iam_groups_inline_policies/test/negative2.json
  assets/queries/cloudFormation/iam_groups_inline_policies/test/positive1.yaml
  assets/queries/cloudFormation/iam_groups_inline_policies/test/positive2.json
  assets/queries/cloudFormation/iam_groups_inline_policies/test/positive_expected_result.json
  assets/queries/cloudFormation/rds_configuration_automatic_backup_disabled/metadata.json
  assets/queries/cloudFormation/rds_configuration_automatic_backup_disabled/test/negative1.yaml
  assets/queries/cloudFormation/rds_configuration_automatic_backup_disabled/test/negative2.json
  assets/queries/cloudFormation/rds_configuration_automatic_backup_disabled/test/positive1.yaml
  assets/queries/cloudFormation/rds_configuration_automatic_backup_disabled/test/positive2.json
  assets/queries/cloudFormation/rds_configuration_automatic_backup_disabled/test/positive_expected_result.json
  pkg/engine/query/source.go
  pkg/engine/query/source_test.go
  test/queries_test.go
Labels: cloudformation, feature

#2157 fixed resource exhaustion vulnerability
  pkg/kics/service.go
Labels: enhancement, security

#2158 Added more known ports to collection in the library
  assets/libraries/terraform/library.rego
Labels: enhancement, terraform

#2172 Add bitbucket pipelines integration example to docs
  docs/integrations.md
  docs/integrations_azurepipelines.md
  docs/integrations_bitbucketpipelines.md
  mkdocs.yml
Labels: documentation

#1835 Scan kics with Gosec in CI
  .github/workflows/go-ci.yml
  internal/console/helpers/helpers.go
Labels: CI, enhancement, feature request

#2164 Remove unused ansible queries
  assets/queries/ansible/aws/elasticsearch_encryption_with_kms_is_disabled/metadata.json
  assets/queries/ansible/aws/elasticsearch_encryption_with_kms_is_disabled/query.rego
  assets/queries/ansible/aws/elasticsearch_encryption_with_kms_is_disabled/test/negative.yaml
  assets/queries/ansible/aws/elasticsearch_encryption_with_kms_is_disabled/test/positive.yaml
  assets/queries/ansible/aws/elasticsearch_encryption_with_kms_is_disabled/test/positive_expected_result.json
  assets/queries/ansible/aws/elasticsearch_not_encrypted_at_rest/metadata.json
  assets/queries/ansible/aws/elasticsearch_not_encrypted_at_rest/query.rego
  assets/queries/ansible/aws/elasticsearch_not_encrypted_at_rest/test/negative.yaml
  assets/queries/ansible/aws/elasticsearch_not_encrypted_at_rest/test/positive.yaml
  assets/queries/ansible/aws/elasticsearch_not_encrypted_at_rest/test/positive_expected_result.json
Labels: ansible

#1976 Refactored query "Pod is Not Targeted by a Proper Network Policy" to new version "Pod Misconfigured NetworkPolicy" #1975
  assets/queries/k8s/pod_is_not_targeted_by_a_proper_network_policy/query.rego
  assets/queries/k8s/pod_is_not_targeted_by_a_proper_network_policy/test/negative.yaml
  assets/queries/k8s/pod_is_not_targeted_by_a_proper_network_policy/test/positive.yaml
  assets/queries/k8s/pod_is_not_targeted_by_a_proper_network_policy/test/positive_expected_result.json
  assets/queries/k8s/pod_misconfigured_network_policy/metadata.json
  assets/queries/k8s/pod_misconfigured_network_policy/query.rego
  assets/queries/k8s/pod_misconfigured_network_policy/test/negative1.yaml
  assets/queries/k8s/pod_misconfigured_network_policy/test/negative2.yaml
  assets/queries/k8s/pod_misconfigured_network_policy/test/negative3.yaml
  assets/queries/k8s/pod_misconfigured_network_policy/test/positive1.yaml
  assets/queries/k8s/pod_misconfigured_network_policy/test/positive2.yaml
  assets/queries/k8s/pod_misconfigured_network_policy/test/positive_expected_result.json
Labels: enhancement, kubernetes, query

#2177 Updated go-ci and refactored vulnerability_builder
  .github/workflows/go-ci.yml
  pkg/engine/vulnerability_builder.go
Labels: CI, enhancement

#2171 Replaced deprecated methods
  .github/workflows/go-ci.yml
  cmd/builder/main.go
  internal/console/helpers/helpers.go
  internal/console/helpers/helpers_test.go
  internal/console/scan.go
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/engine/query/source.go
  pkg/engine/query/source_test.go
  test/main_test.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: go

#2194 Added go-sec workflow
  .github/workflows/go-ci.yml
Labels: CI

#2126 Added query docs generation script
  .github/generators/docs_generator.py
  .github/generators/requirements.txt
  .github/generators/templates/template.md
  .github/workflows/generate-queries-docs.yaml
  docs/css/custom.css
  docs/queries.md
  mkdocs.yml
Labels: CI, documentation

#2131 Add colors to stdout output
  docs/configuration-file.md
  docs/getting-started.md
  go.mod
  go.sum
  internal/console/helpers/helpers.go
  internal/console/helpers/helpers_test.go
  internal/console/img/kics-console
  internal/console/scan.go
  internal/tracker/ci.go
  internal/tracker/ci_test.go
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/engine/query/source_test.go
  pkg/engine/vulnerability_builder.go
  pkg/engine/vulnerability_builder_test.go
  pkg/model/model.go
  pkg/model/summary.go
  pkg/model/summary_test.go
  test/queries_content_test.go
Labels: enhancement, feature

#2198 Docker image displays incorrect release version
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
Labels: CI

#2201 Created queries documentation
  .github/generators/templates/template.md
  docs/queries/ansible-queries.md
  docs/queries/cloudformation-queries.md
  docs/queries/common-queries.md
  docs/queries/dockerfile-queries.md
  docs/queries/kubernetes-queries.md
  docs/queries/terraform-queries.md
Labels: documentation

#2202 Fixing releases credentials secrets
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
Labels: CI

#2203 Update categories in documentation
  docs/queries.md
  docs/releases.md
Labels: documentation

#2175 Added exclude-queries flag
  docs/configuration-file.md
  docs/getting-started.md
  internal/console/scan.go
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/engine/mock/inspector.go
  pkg/engine/query/source.go
  pkg/engine/query/source_test.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: feature, query

#2204 Download generate docs dependencies before running
  .github/workflows/generate-queries-docs.yaml
Labels: CI

#2205 Creating pull request instead of committing to master after queries docs generation
  .github/workflows/generate-queries-docs.yaml
Labels: CI, documentation

#2210 Add unit tests for checking queries categories
  assets/queries/cloudFormation/iam_password_without_lowercase_letter/metadata.json
  test/helpers.go
  test/queries_content_test.go
Labels: CI, enhancement, feature

#2212 Fixing release workflow GH actions interpolation
  .github/workflows/release.yml
Labels: CI

#2213 Fixing release workflow GH action
  .github/workflows/release.yml
Labels: CI

#2218 Update index.md release versions to v1.2.0
  docs/index.md
Labels: documentation

#2215 Fix automatic PR in generate-queries-docs not triggering checks
  .github/workflows/generate-queries-docs.yaml
Labels: CI

#2225 add goreportcard badge
  README.md
Labels: documentation

#2228 Use short SHA for nightly builds
  .github/workflows/nightly-release.yml
Labels: CI

#2216 Changed descriptionUrl to be a single string
  assets/queries/terraform/aws/fully_open_ingress/metadata.json
Labels: query, terraform

#2229 Updating mkdocs
  .github/generators/templates/template.md
  docs/creating-queries.md
  docs/css/custom.css
  docs/js/custom.js
  docs/queries.md
  docs/queries/ansible-queries.md
  docs/queries/cloudformation-queries.md
  docs/queries/common-queries.md
  docs/queries/dockerfile-queries.md
  docs/queries/kubernetes-queries.md
  docs/queries/terraform-queries.md
  mkdocs.yml
Labels: documentation

#2235 Removed Previous and Next from header
  docs/js/custom.js
Labels: documentation

#2170 Update "Yum Install Allows Manual Input" and "APT-GET Missing '-y' To Avoid Manual Input" queries for Docker Closes #2169
  assets/queries/dockerfile/apt_get_missing_yes_flag_to_avoid_manual_input/query.rego
  assets/queries/dockerfile/apt_get_missing_yes_flag_to_avoid_manual_input/test/positive.dockerfile
  assets/queries/dockerfile/apt_get_missing_yes_flag_to_avoid_manual_input/test/positive_expected_result.json
  assets/queries/dockerfile/yum_install_allows_manual_input/query.rego
Labels: docker, query

#2174 Update pip queries for Docker #2173
  assets/queries/dockerfile/pip_install_keeping_cached_packages/query.rego
  assets/queries/dockerfile/pip_install_keeping_cached_packages/test/negative.dockerfile
  assets/queries/dockerfile/pip_install_keeping_cached_packages/test/positive.dockerfile
  assets/queries/dockerfile/pip_install_keeping_cached_packages/test/positive_expected_result.json
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/query.rego
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/test/negative.dockerfile
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/test/positive.dockerfile
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/test/positive_expected_result.json
Labels: docker, query

#2196 Update "Secrets Stored In Dockerfile" query for Docker Closes #2195
  assets/queries/dockerfile/secrets_stored_in_dockerfile/query.rego
  assets/queries/dockerfile/secrets_stored_in_dockerfile/test/negative.dockerfile
  assets/queries/dockerfile/secrets_stored_in_dockerfile/test/positive.dockerfile
  assets/queries/dockerfile/secrets_stored_in_dockerfile/test/positive_expected_result.json
Labels: docker, query

#2192 Update "Update Instruction Alone" query for Docker Closes #2191
  assets/queries/dockerfile/update_instruction_alone/query.rego
  assets/queries/dockerfile/update_instruction_alone/test/negative.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/positive.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/positive_expected_result.json
Labels: docker, query

#2200 Updated ServiceAccount Allows Access Secrets query
  assets/queries/k8s/service_account_allows_access_secrets/query.rego
  assets/queries/k8s/service_account_allows_access_secrets/test/positive_expected_result.json
Labels: kubernetes

#2190 Added exclude-categories flag
  Makefile
  docs/configuration-file.md
  docs/getting-started.md
  docs/js/custom.js
  internal/console/helpers/helpers.go
  internal/console/scan.go
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/engine/mock/inspector.go
  pkg/engine/mock/source.go
  pkg/engine/provider/filesystem.go
  pkg/engine/provider/filesystem_test.go
  pkg/engine/provider/provider.go
  pkg/engine/source/filesystem.go
  pkg/engine/source/filesystem_test.go
  pkg/engine/source/source.go
  pkg/kics/service.go
  pkg/kics/service_test.go
  pkg/source/sink.go
  test/helpers.go
  test/main_test.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: feature, query

#2242 Getting short commit hash from git instead of env vars
  .github/workflows/nightly-release.yml
Labels: CI

#2150 Update CMK Unencrypted Storage query for AWS CloudFormation
  assets/queries/cloudFormation/cmk_unencrypted_storage/query.rego
  assets/queries/cloudFormation/cmk_unencrypted_storage/test/positive7.yaml
  assets/queries/cloudFormation/cmk_unencrypted_storage/test/positive8.json
  assets/queries/cloudFormation/cmk_unencrypted_storage/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2181 Correcting commands consideration in some queries for Docker Closes #2180
  assets/queries/dockerfile/run_using_sudo/query.rego
  assets/queries/dockerfile/run_using_sudo/test/negative.dockerfile
  assets/queries/dockerfile/run_using_wget_and_curl/query.rego
  assets/queries/dockerfile/run_using_wget_and_curl/test/negative.dockerfile
  assets/queries/dockerfile/run_using_wget_and_curl/test/positive.dockerfile
  assets/queries/dockerfile/run_using_wget_and_curl/test/positive_expected_result.json
  assets/queries/dockerfile/run_utilities_and_posix_commands/query.rego
  assets/queries/dockerfile/run_utilities_and_posix_commands/test/negative.dockerfile
  assets/queries/dockerfile/run_utilities_and_posix_commands/test/positive.dockerfile
  assets/queries/dockerfile/run_utilities_and_posix_commands/test/positive_expected_result.json
Labels: docker, query

#2185 Update "APT-GET Not Avoiding Additional Packages" query for Docker Closes #2184
  assets/queries/dockerfile/apt_get_not_avoiding_additional_packages/query.rego
Labels: docker, query

#2189 Considering global var in some queries for Docker Closes #2188
  assets/libraries/dockerfile/library.rego
  assets/queries/dockerfile/apt_get_install_pin_version_not_defined/query.rego
  assets/queries/dockerfile/gem_install_without_version/query.rego
  assets/queries/dockerfile/gem_install_without_version/test/negative.dockerfile
  assets/queries/dockerfile/gem_install_without_version/test/positive.dockerfile
  assets/queries/dockerfile/gem_install_without_version/test/positive_expected_result.json
  assets/queries/dockerfile/image_version_not_explicit/query.rego
  assets/queries/dockerfile/image_version_not_explicit/test/negative.dockerfile
  assets/queries/dockerfile/missing_version_specification_in_dnf_install/query.rego
  assets/queries/dockerfile/missing_version_specification_in_dnf_install/test/negative.dockerfile
  assets/queries/dockerfile/missing_version_specification_in_dnf_install/test/positive.dockerfile
  assets/queries/dockerfile/missing_version_specification_in_dnf_install/test/positive_expected_result.json
  assets/queries/dockerfile/unpinned_package_version_in_apk_add/query.rego
  assets/queries/dockerfile/unpinned_package_version_in_apk_add/test/negative.dockerfile
  assets/queries/dockerfile/unpinned_package_version_in_apk_add/test/positive.dockerfile
  assets/queries/dockerfile/unpinned_package_version_in_apk_add/test/positive_expected_result.json
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/query.rego
  assets/queries/dockerfile/workdir_path_not_absolute/query.rego
  assets/queries/dockerfile/workdir_path_not_absolute/test/negative.dockerfile
  assets/queries/dockerfile/yum_install_without_version/query.rego
  assets/queries/dockerfile/zypper_install_without_version/query.rego
Labels: docker, query

#2237 Adding .dockerignore file to optimize build context
  .dockerignore
Labels: CI, enhancement

#2238 Refactoring Makefile
  .github/workflows/go-ci.yml
  Makefile
  go.sum
  pkg/engine/mock/source.go
  pkg/engine/source/source.go
  pkg/model/model.go
  pkg/model/model_easyjson.go
  tools/go.mod
  tools/go.sum
  tools/tools.go
Labels: enhancement

#2236 Update docs after manual release publication
  .github/workflows/update-docs-index.yaml
  .github/workflows/update-docs-queries.yaml
  .goreleaser.yml
Labels: CI, documentation

#2244 Changing the location of some GCP queries (that should not be in the AWS folder) Closes #2243
  assets/queries/terraform/gcp/google_compute_ssl_policy_weak_cipher_suits_is_enabled/metadata.json
  assets/queries/terraform/gcp/google_compute_ssl_policy_weak_cipher_suits_is_enabled/query.rego
  assets/queries/terraform/gcp/google_compute_ssl_policy_weak_cipher_suits_is_enabled/test/negative.tf
  assets/queries/terraform/gcp/google_compute_ssl_policy_weak_cipher_suits_is_enabled/test/positive.tf
  assets/queries/terraform/gcp/google_compute_ssl_policy_weak_cipher_suits_is_enabled/test/positive_expected_result.json
  assets/queries/terraform/gcp/google_compute_subnetwork_log_are_disabled/metadata.json
  assets/queries/terraform/gcp/google_compute_subnetwork_log_are_disabled/query.rego
  assets/queries/terraform/gcp/google_compute_subnetwork_log_are_disabled/test/negative.tf
  assets/queries/terraform/gcp/google_compute_subnetwork_log_are_disabled/test/positive.tf
  assets/queries/terraform/gcp/google_compute_subnetwork_log_are_disabled/test/positive_expected_result.json
  assets/queries/terraform/gcp/google_container_node_pool_auto_repair_is_disabled/metadata.json
  assets/queries/terraform/gcp/google_container_node_pool_auto_repair_is_disabled/query.rego
  assets/queries/terraform/gcp/google_container_node_pool_auto_repair_is_disabled/test/negative.tf
  assets/queries/terraform/gcp/google_container_node_pool_auto_repair_is_disabled/test/positive.tf
  assets/queries/terraform/gcp/google_container_node_pool_auto_repair_is_disabled/test/positive_expected_result.json
  assets/queries/terraform/gcp/google_kms_crypto_key_rotation_period_not_recommended/metadata.json
  assets/queries/terraform/gcp/google_kms_crypto_key_rotation_period_not_recommended/query.rego
  assets/queries/terraform/gcp/google_kms_crypto_key_rotation_period_not_recommended/test/negative.tf
  assets/queries/terraform/gcp/google_kms_crypto_key_rotation_period_not_recommended/test/positive.tf
  assets/queries/terraform/gcp/google_kms_crypto_key_rotation_period_not_recommended/test/positive_expected_result.json
  assets/queries/terraform/gcp/google_project_iam_binding_service_account_has_token_creator_or_account_user_role/metadata.json
  assets/queries/terraform/gcp/google_project_iam_binding_service_account_has_token_creator_or_account_user_role/query.rego
  assets/queries/terraform/gcp/google_project_iam_binding_service_account_has_token_creator_or_account_user_role/test/negative.tf
  assets/queries/terraform/gcp/google_project_iam_binding_service_account_has_token_creator_or_account_user_role/test/positive.tf
  assets/queries/terraform/gcp/google_project_iam_binding_service_account_has_token_creator_or_account_user_role/test/positive_expected_result.json
  assets/queries/terraform/gcp/google_project_iam_member_service_account_has_admin_role/metadata.json
  assets/queries/terraform/gcp/google_project_iam_member_service_account_has_admin_role/query.rego
  assets/queries/terraform/gcp/google_project_iam_member_service_account_has_admin_role/test/negative.tf
  assets/queries/terraform/gcp/google_project_iam_member_service_account_has_admin_role/test/positive.tf
  assets/queries/terraform/gcp/google_project_iam_member_service_account_has_admin_role/test/positive_expected_result.json
  assets/queries/terraform/gcp/google_project_iam_member_service_account_has_token_creator_or_account_user_role/metadata.json
  assets/queries/terraform/gcp/google_project_iam_member_service_account_has_token_creator_or_account_user_role/query.rego
  assets/queries/terraform/gcp/google_project_iam_member_service_account_has_token_creator_or_account_user_role/test/negative.tf
  assets/queries/terraform/gcp/google_project_iam_member_service_account_has_token_creator_or_account_user_role/test/positive.tf
  assets/queries/terraform/gcp/google_project_iam_member_service_account_has_token_creator_or_account_user_role/test/positive_expected_result.json
  assets/queries/terraform/gcp/google_storage_bucket_level_access_is_enabled/metadata.json
  assets/queries/terraform/gcp/google_storage_bucket_level_access_is_enabled/query.rego
  assets/queries/terraform/gcp/google_storage_bucket_level_access_is_enabled/test/negative.tf
  assets/queries/terraform/gcp/google_storage_bucket_level_access_is_enabled/test/positive.tf
  assets/queries/terraform/gcp/google_storage_bucket_level_access_is_enabled/test/positive_expected_result.json
Labels: query

#2247 Correcting typos in queries for AWS CloudFormation
  assets/queries/cloudFormation/alexa_skill_plaintext_client_secret_exposed/query.rego
  assets/queries/cloudFormation/api_gateway_deployment_without_access_log_setting/query.rego
  assets/queries/cloudFormation/api_gateway_deployment_without_api_gateway_usage_plan_associated/query.rego
  assets/queries/cloudFormation/api_gateway_stage_without_api_gateway_usage_plan_associated/query.rego
  assets/queries/cloudFormation/cdn_configuration_is_missing/query.rego
  assets/queries/cloudFormation/cloudfront_without_minimum_protocol_tls_1.2/query.rego
  assets/queries/cloudFormation/ec2_network_acl_overlapping_ports/query.rego
  assets/queries/cloudFormation/elb_v2_alb_access_log_disabled/query.rego
  assets/queries/cloudFormation/geo_restriction_disabled/query.rego
  assets/queries/cloudFormation/route53_without_record_set/query.rego
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/query.rego
  assets/queries/cloudFormation/s3_bucket_versioning_not_enabled/query.rego
  assets/queries/cloudFormation/s3_bucket_website_host_is_disabled/metadata.json
  assets/queries/cloudFormation/s3_bucket_website_host_is_disabled/query.rego
  assets/queries/cloudFormation/sns_topic_without_subscriber/query.rego
Labels: cloudformation, enhancement, query

#2256 Update queries with incorrect issue type for AWS CloudFormation
  assets/queries/cloudFormation/cloudfront_distribution_access_log_disabled/query.rego
  assets/queries/cloudFormation/ec2_instance_under_vpc/query.rego
  assets/queries/cloudFormation/iam_user_with_no_group/query.rego
  assets/queries/cloudFormation/sdb_domain_declared_as_a_resource/query.rego
  assets/queries/cloudFormation/vpc_has_flowlog_disabled/query.rego
Labels: cloudformation, enhancement, query

#2271 Fixed Filesystem couldn't close file bug #2270
  pkg/kics/service.go
Labels: bug, go

#2273 Could not find metadata key warning in query template
  assets/queries/template/metadata.json
  pkg/engine/source/filesystem.go
Labels: bug, go

#2240 CloudFormation samples validation optimization
  .github/validators/validate-syntax.py
  .github/workflows/validate-cfn-samples.yml
  assets/queries/ansible/aws/alb_protocol_is_http/test/negative.yaml
  assets/queries/cloudFormation/access_key_not_rotated_within_90_days/test/negative1.yaml
  assets/queries/cloudFormation/rds_public_interface/test/negative1.yaml
  assets/queries/dockerfile/add_instead_of_copy/test/negative.dockerfile
  assets/queries/dockerfile/copy_with_more_than_two_arguments_not_ending_with_slash/test/negative2.dockerfile
  assets/queries/k8s/cluster_admin_role_binding_with_super_user_permissions/test/negative.yaml
  assets/queries/terraform/aws/alb_protocol_is_http/test/negative.tf
Labels: CI

#2239 Adding one-liner install script
  .github/workflows/update-godownloader-script.yaml
  docs/getting-started.md
  install.sh
Labels: CI, feature

#2250 Update AWS RDS Configuration Automatic Backup Disabled query for AWS CloudFormation
  assets/queries/cloudFormation/rds_configuration_automatic_backup_disabled/query.rego
Labels: cloudformation, enhancement, query

#2252 Removing redundant Load Balancer SSH Is Too Exposed query for AWS CloudFormation
  assets/queries/cloudFormation/load_balancer_ssh_is_too_exposed/metadata.json
  assets/queries/cloudFormation/load_balancer_ssh_is_too_exposed/query.rego
  assets/queries/cloudFormation/load_balancer_ssh_is_too_exposed/test/negative1.yaml
  assets/queries/cloudFormation/load_balancer_ssh_is_too_exposed/test/negative2.yaml
  assets/queries/cloudFormation/load_balancer_ssh_is_too_exposed/test/negative3.json
  assets/queries/cloudFormation/load_balancer_ssh_is_too_exposed/test/negative4.json
  assets/queries/cloudFormation/load_balancer_ssh_is_too_exposed/test/positive1.yaml
  assets/queries/cloudFormation/load_balancer_ssh_is_too_exposed/test/positive2.yaml
  assets/queries/cloudFormation/load_balancer_ssh_is_too_exposed/test/positive3.json
  assets/queries/cloudFormation/load_balancer_ssh_is_too_exposed/test/positive4.json
  assets/queries/cloudFormation/load_balancer_ssh_is_too_exposed/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2254 Update S3 Bucket Allows Put Or Restore Actions From All Principals query for AWS CloudFormation
  assets/queries/cloudFormation/s3_bucket_allows_put_or_restore_actions_from_all_principals/metadata.json
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/metadata.json
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/test/negative1.yaml
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/test/negative2.json
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/test/positive1.yaml
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/test/positive2.json
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2260 Update queries to be more explicit for AWS CloudFormation
  assets/queries/cloudFormation/alb_is_not_integrated_with_waf/query.rego
  assets/queries/cloudFormation/cloudfront_distribution_access_log_disabled/query.rego
  assets/queries/cloudFormation/cloudfront_distribution_without_waf/query.rego
  assets/queries/cloudFormation/ec2_network_acl_ineffective_denied_traffic/query.rego
  assets/queries/cloudFormation/efs_without_tags/query.rego
  assets/queries/cloudFormation/elb_without_ssl/query.rego
  assets/queries/cloudFormation/lambda_function_without_tags/query.rego
  assets/queries/cloudFormation/s3_bucket_should_have_bucket_policy/query.rego
  assets/queries/cloudFormation/s3_bucket_versioning_not_enabled/query.rego
  assets/queries/cloudFormation/s3_bucket_website_host_is_disabled/query.rego
  assets/queries/cloudFormation/s3_bucket_without_server_side_encryption/query.rego
  assets/queries/cloudFormation/security_group_ingress_cidr_open_to_world/query.rego
  assets/queries/cloudFormation/security_groups_with_exhibited_admin_ports/query.rego
  assets/queries/cloudFormation/vpc_has_flowlog_disabled/query.rego
Labels: cloudformation, enhancement, query

#2262 Update API Gateway Deployment Without Access Log Setting query for AWS CloudFormation
  assets/queries/cloudFormation/api_gateway_deployment_without_access_log_setting/query.rego
Labels: cloudformation, enhancement, query

#2264 Update CloudFront Without Minimum Protocol TLS 1.2 query for AWS CloudFormation
  assets/queries/cloudFormation/cloudfront_without_minimum_protocol_tls_1.2/query.rego
Labels: cloudformation, enhancement, query

#2266 Update EC2 Permissive Network ACL Protocols query for AWS CloudFormation
  assets/queries/cloudFormation/ec2_permissive_network_acl_protocols/query.rego
Labels: cloudformation, enhancement, query

#2281 Ignore correct missing attributes. Closes #2280
  assets/queries/terraform/aws/no_password_policy_enabled/query.rego
  assets/queries/terraform/aws/no_password_policy_enabled/test/positive.tf
  assets/queries/terraform/aws/no_password_policy_enabled/test/positive_expected_result.json
Labels: terraform

#2268 Renaming and improving some queries Closes #2267
  assets/queries/cloudFormation/cognito_userpool_without_mfa/metadata.json
  assets/queries/cloudFormation/cognito_userpool_without_mfa/query.rego
  assets/queries/cloudFormation/cognito_userpool_without_mfa/test/negative1.yaml
  assets/queries/cloudFormation/cognito_userpool_without_mfa/test/negative2.json
  assets/queries/cloudFormation/cognito_userpool_without_mfa/test/positive1.yaml
  assets/queries/cloudFormation/cognito_userpool_without_mfa/test/positive2.json
  assets/queries/cloudFormation/cognito_userpool_without_mfa/test/positive_expected_result.json
  assets/queries/k8s/incorrect_volume_claim_access_mode_read_write_once/query.rego
  assets/queries/k8s/net_raw_capabilities_disabled_for_pod_security_policy/metadata.json
  assets/queries/k8s/net_raw_capabilities_disabled_for_pod_security_policy/query.rego
  assets/queries/k8s/net_raw_capabilities_disabled_for_pod_security_policy/test/negative.yaml
  assets/queries/k8s/net_raw_capabilities_disabled_for_pod_security_policy/test/positive.yaml
  assets/queries/k8s/net_raw_capabilities_disabled_for_pod_security_policy/test/positive_expected_result.json
  assets/queries/k8s/pod_security_policy_set_to_privileged/query.rego
  assets/queries/terraform/kubernetes_pod/container_resources_not_defined/query.rego
  assets/queries/terraform/kubernetes_pod/container_resources_not_defined/test/positive.tf
  assets/queries/terraform/kubernetes_pod/container_resources_not_defined/test/positive_expected_result.json
Labels: query

#2291 Added sarif documentation and updated reports section
  docs/integrations_ghactions.md
  docs/results.md
  docs/sarif.md
Labels: documentation

#2283 Update query SearchKey depth for Cloudformation Closes #2248
  assets/queries/cloudFormation/api_gateway_method_does_not_contains_an_api_key_or_empty_methods/query.rego
  assets/queries/cloudFormation/api_gateway_method_does_not_contains_an_api_key_or_empty_methods/test/positive_expected_result.json
  assets/queries/cloudFormation/api_gateway_with_open_access/query.rego
  assets/queries/cloudFormation/api_gateway_with_open_access/test/positive_expected_result.json
  assets/queries/cloudFormation/ecs_task_definition_healthcheck_missing/query.rego
  assets/queries/cloudFormation/ecs_task_definition_healthcheck_missing/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_without_server_side_encryption/query.rego
  assets/queries/cloudFormation/s3_bucket_without_server_side_encryption/test/positive_expected_result.json
  assets/queries/cloudFormation/security_group_egress_cidr_open_to_world/query.rego
  assets/queries/cloudFormation/security_group_egress_cidr_open_to_world/test/positive_expected_result.json
  assets/queries/cloudFormation/security_group_egress_with_port_range/query.rego
  assets/queries/cloudFormation/security_group_egress_with_port_range/test/positive_expected_result.json
  assets/queries/cloudFormation/security_group_ingress_cidr_open_to_world/query.rego
  assets/queries/cloudFormation/security_group_ingress_cidr_open_to_world/test/positive_expected_result.json
  assets/queries/cloudFormation/viewer_protocol_policy_allows_http_protocol/query.rego
  assets/queries/cloudFormation/viewer_protocol_policy_allows_http_protocol/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2301 Update docs workflows are not running
  .github/workflows/update-docs-index.yaml
  .github/workflows/update-docs-queries.yaml
  .github/workflows/update-godownloader-script.yaml
Labels: CI, documentation

#2295 Updating Github actions documentation
  docs/integrations_ghactions.md
Labels: documentation

#2296 Remove field 'value' from query's result
  assets/queries/terraform/aws/guardduty_detector_disabled/query.rego
  assets/queries/terraform/aws/public_lambda_via_api_gateway/query.rego
  assets/queries/terraform/aws/public_lambda_via_api_gateway/test/positive_expected_result.json
  assets/queries/terraform/aws/rds_without_backup/query.rego
  assets/queries/terraform/aws/rds_without_backup/test/positive_expected_result.json
  assets/queries/terraform/aws/s3_bucket_with_all_permissions/query.rego
  assets/queries/terraform/aws/s3_bucket_with_all_permissions/test/positive_expected_result.json
  assets/queries/terraform/aws/sqs_policy_with_public_access/query.rego
  assets/queries/terraform/aws/sqs_policy_with_public_access/test/positive_expected_result.json
Labels: enhancement, query, terraform

#2258 Added Chown Flag Exists query
  assets/queries/dockerfile/chown_flag_exists/metadata.json
  assets/queries/dockerfile/chown_flag_exists/query.rego
  assets/queries/dockerfile/chown_flag_exists/test/negative.dockerfile
  assets/queries/dockerfile/chown_flag_exists/test/positive.dockerfile
  assets/queries/dockerfile/chown_flag_exists/test/positive_expected_result.json
Labels: docker

#2285 Feature/add cloudformation s3 bucket kms key null
  assets/queries/ansible/aws/s3_bucket_rules_with_master_key_id_null/metadata.json
  assets/queries/ansible/aws/s3_bucket_rules_with_master_key_id_null/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_rules_with_master_key_id_null/metadata.json
  assets/queries/cloudFormation/s3_bucket_rules_with_master_key_id_null/query.rego
  assets/queries/cloudFormation/s3_bucket_rules_with_master_key_id_null/test/negative.json
  assets/queries/cloudFormation/s3_bucket_rules_with_master_key_id_null/test/negative.yaml
  assets/queries/cloudFormation/s3_bucket_rules_with_master_key_id_null/test/positive1.json
  assets/queries/cloudFormation/s3_bucket_rules_with_master_key_id_null/test/positive1.yaml
  assets/queries/cloudFormation/s3_bucket_rules_with_master_key_id_null/test/positive2.json
  assets/queries/cloudFormation/s3_bucket_rules_with_master_key_id_null/test/positive2.yaml
  assets/queries/cloudFormation/s3_bucket_rules_with_master_key_id_null/test/positive_expected_result.json
  assets/queries/terraform/aws/s3_bucket_rules_with_ master_key_id_null/query.rego
  assets/queries/terraform/aws/s3_bucket_rules_with_ master_key_id_null/test/positive.tf
  assets/queries/terraform/aws/s3_bucket_rules_with_ master_key_id_null/test/positive_expected_result.json
  assets/queries/terraform/aws/s3_bucket_rules_with_master_key_id_null/metadata.json
  assets/queries/terraform/aws/s3_bucket_rules_with_master_key_id_null/query.rego
  assets/queries/terraform/aws/s3_bucket_rules_with_master_key_id_null/test/negative.tf
  assets/queries/terraform/aws/s3_bucket_rules_with_master_key_id_null/test/positive.tf
  assets/queries/terraform/aws/s3_bucket_rules_with_master_key_id_null/test/positive_expected_result.json
Labels: cloudformation, enhancement, query, terraform

#2409 Enable JSON parser to unmarshal []map[string]inteface{}
  pkg/parser/json/parser.go
Labels: bug, go

#2373 Close metadata file handlers #2367
  pkg/engine/source/filesystem.go
Labels: bug, go

#2289 Add "SNS Topic Publicity Has Allow and NotAction Simultaneously" query for Terraform
  assets/queries/terraform/aws/sns_topic_publicity_has_allow_and_not_action_simultaneously/metadata.json
  assets/queries/terraform/aws/sns_topic_publicity_has_allow_and_not_action_simultaneously/query.rego
  assets/queries/terraform/aws/sns_topic_publicity_has_allow_and_not_action_simultaneously/test/negative.tf
  assets/queries/terraform/aws/sns_topic_publicity_has_allow_and_not_action_simultaneously/test/positive.tf
  assets/queries/terraform/aws/sns_topic_publicity_has_allow_and_not_action_simultaneously/test/positive_expected_result.json
Labels: query, terraform

#2299 Add "GuardDuty Detector Disabled" query for CloudFormation #2297
  assets/queries/cloudFormation/guardduty_detector_disabled/metadata.json
  assets/queries/cloudFormation/guardduty_detector_disabled/query.rego
  assets/queries/cloudFormation/guardduty_detector_disabled/test/negative1.yaml
  assets/queries/cloudFormation/guardduty_detector_disabled/test/negative2.json
  assets/queries/cloudFormation/guardduty_detector_disabled/test/positive1.yaml
  assets/queries/cloudFormation/guardduty_detector_disabled/test/positive2.json
  assets/queries/cloudFormation/guardduty_detector_disabled/test/positive_expected_result.json
Labels: cloudformation, query

#2300 Update cmk_is_unusable query Closes #2287
  assets/queries/cloudFormation/cmk_is_unusable/metadata.json
  assets/queries/cloudFormation/cmk_is_unusable/query.rego
  assets/queries/cloudFormation/cmk_is_unusable/test/negative1.yaml
  assets/queries/cloudFormation/cmk_is_unusable/test/positive1.yaml
  assets/queries/cloudFormation/cmk_is_unusable/test/positive2.json
  assets/queries/cloudFormation/cmk_is_unusable/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2310 Add "API Gateway With Open Access" query for Terraform
  assets/queries/terraform/aws/api_gateway_with_open_access/metadata.json
  assets/queries/terraform/aws/api_gateway_with_open_access/query.rego
  assets/queries/terraform/aws/api_gateway_with_open_access/test/negative.tf
  assets/queries/terraform/aws/api_gateway_with_open_access/test/positive.tf
  assets/queries/terraform/aws/api_gateway_with_open_access/test/positive_expected_result.json
Labels: query, terraform

#2315 Update IAM User LoginProfile Password Is In Plaintext query for AWS CloudFormation
  assets/queries/cloudFormation/iam_user_login_profile_password_is_in_plaintext/query.rego
Labels: cloudformation, enhancement, query

#2317 Update ELB With Security Group Without Inbound Rules query for AWS CloudFormation
  assets/queries/cloudFormation/elb_with_security_group_without_inbound_rules/query.rego
Labels: cloudformation, enhancement, query

#2320 Add "AKS RBAC Disabled" query for Terraform Closes #2319
  assets/queries/ansible/azure/aks_rbac_disabled/metadata.json
  assets/queries/ansible/azure/aks_rbac_disabled/query.rego
  assets/queries/ansible/azure/aks_rbac_disabled/test/negative.yaml
  assets/queries/ansible/azure/aks_rbac_disabled/test/positive.yaml
  assets/queries/ansible/azure/aks_rbac_disabled/test/positive_expected_result.json
  assets/queries/ansible/azure/aks_without_rbac/metadata.json
  assets/queries/ansible/azure/aks_without_rbac/test/positive_expected_result.json
  assets/queries/terraform/azure/aks_rbac_disabled/metadata.json
  assets/queries/terraform/azure/aks_rbac_disabled/query.rego
  assets/queries/terraform/azure/aks_rbac_disabled/test/negative.tf
  assets/queries/terraform/azure/aks_rbac_disabled/test/positive.tf
  assets/queries/terraform/azure/aks_rbac_disabled/test/positive_expected_result.json
Labels: query, terraform

#2313 Add "Elasticsearch Without Slow Logs" query for CloudFormation #2312
  assets/queries/cloudFormation/elastic_search_without_slow_logs/metadata.json
  assets/queries/cloudFormation/elastic_search_without_slow_logs/query.rego
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/negative1.yaml
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/negative2.json
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/positive1.yaml
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/positive2.yaml
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/positive3.yaml
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/positive4.json
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/positive5.json
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/positive6.json
  assets/queries/cloudFormation/elastic_search_without_slow_logs/test/positive_expected_result.json
Labels: cloudformation, query

#2357 Add "PSP With Added Capabilities" query for Terraform Closes #2355
  assets/queries/terraform/kubernetes_pod/psp_with_added_capabilities/metadata.json
  assets/queries/terraform/kubernetes_pod/psp_with_added_capabilities/query.rego
  assets/queries/terraform/kubernetes_pod/psp_with_added_capabilities/test/negative.tf
  assets/queries/terraform/kubernetes_pod/psp_with_added_capabilities/test/positive.tf
  assets/queries/terraform/kubernetes_pod/psp_with_added_capabilities/test/positive_expected_result.json
Labels: query, terraform

#2361 Add "PSP Allows Privilege Escalation" query for Terraform Closes #2360
  assets/queries/terraform/kubernetes_pod/psp_allows_privilege_escalation/metadata.json
  assets/queries/terraform/kubernetes_pod/psp_allows_privilege_escalation/query.rego
  assets/queries/terraform/kubernetes_pod/psp_allows_privilege_escalation/test/negative.tf
  assets/queries/terraform/kubernetes_pod/psp_allows_privilege_escalation/test/positive.tf
  assets/queries/terraform/kubernetes_pod/psp_allows_privilege_escalation/test/positive_expected_result.json
Labels: query, terraform

#2366 Add "API Gateway X-Ray Disabled" query for CloudFormation #2365
  assets/queries/cloudFormation/api_gateway_xray_disabled/metadata.json
  assets/queries/cloudFormation/api_gateway_xray_disabled/query.rego
  assets/queries/cloudFormation/api_gateway_xray_disabled/test/negative1.yaml
  assets/queries/cloudFormation/api_gateway_xray_disabled/test/negative2.json
  assets/queries/cloudFormation/api_gateway_xray_disabled/test/positive1.yaml
  assets/queries/cloudFormation/api_gateway_xray_disabled/test/positive2.yaml
  assets/queries/cloudFormation/api_gateway_xray_disabled/test/positive3.json
  assets/queries/cloudFormation/api_gateway_xray_disabled/test/positive4.json
  assets/queries/cloudFormation/api_gateway_xray_disabled/test/positive_expected_result.json
Labels: cloudformation, query

#2359 Add "API Gateway Without SSL Certificate" query for CloudFormation #2358
  assets/queries/cloudFormation/api_gateway_without_ssl_certificate/metadata.json
  assets/queries/cloudFormation/api_gateway_without_ssl_certificate/query.rego
  assets/queries/cloudFormation/api_gateway_without_ssl_certificate/test/negative1.yaml
  assets/queries/cloudFormation/api_gateway_without_ssl_certificate/test/negative2.json
  assets/queries/cloudFormation/api_gateway_without_ssl_certificate/test/positive1.yaml
  assets/queries/cloudFormation/api_gateway_without_ssl_certificate/test/positive2.json
  assets/queries/cloudFormation/api_gateway_without_ssl_certificate/test/positive_expected_result.json
Labels: cloudformation, query

#2387 Add "NET_RAW Capabilities Not Being Dropped" query for Terraform Closes #2384
  assets/queries/k8s/net_raw_capabilities_disabled_minimized/metadata.json
  assets/queries/k8s/net_raw_capabilities_disabled_minimized/query.rego
  assets/queries/k8s/net_raw_capabilities_disabled_minimized/test/positive.yaml
  assets/queries/k8s/net_raw_capabilities_disabled_minimized/test/positive_expected_result.json
  assets/queries/k8s/net_raw_capabilities_not_being_dropped/metadata.json
  assets/queries/k8s/net_raw_capabilities_not_being_dropped/query.rego
  assets/queries/k8s/net_raw_capabilities_not_being_dropped/test/negative.yaml
  assets/queries/k8s/net_raw_capabilities_not_being_dropped/test/positive.yaml
  assets/queries/k8s/net_raw_capabilities_not_being_dropped/test/positive_expected_result.json
  assets/queries/terraform/kubernetes_pod/net_raw_capabilities_not_being_dropped/metadata.json
  assets/queries/terraform/kubernetes_pod/net_raw_capabilities_not_being_dropped/query.rego
  assets/queries/terraform/kubernetes_pod/net_raw_capabilities_not_being_dropped/test/negative.tf
  assets/queries/terraform/kubernetes_pod/net_raw_capabilities_not_being_dropped/test/positive.tf
  assets/queries/terraform/kubernetes_pod/net_raw_capabilities_not_being_dropped/test/positive_expected_result.json
Labels: query, terraform

#2416 Add "Docker Daemon Socket is Exposed to Containers" query for Terraform Closes #2415
  assets/queries/terraform/kubernetes_pod/docker_daemon_socket_is_exposed_to_containers/metadata.json
  assets/queries/terraform/kubernetes_pod/docker_daemon_socket_is_exposed_to_containers/query.rego
  assets/queries/terraform/kubernetes_pod/docker_daemon_socket_is_exposed_to_containers/test/negative.tf
  assets/queries/terraform/kubernetes_pod/docker_daemon_socket_is_exposed_to_containers/test/positive.tf
  assets/queries/terraform/kubernetes_pod/docker_daemon_socket_is_exposed_to_containers/test/positive_expected_result.json
Labels: query, terraform

#2324 Add "Web App Accepting Traffic Other Than HTTPS" query for Terraform Closes #2323
  assets/queries/ansible/azure/web_app_accepting_traffic_other_than_https/metadata.json
  assets/queries/ansible/azure/web_app_accepting_traffic_other_than_https/query.rego
  assets/queries/ansible/azure/web_app_accepting_traffic_other_than_https/test/negative.yaml
  assets/queries/ansible/azure/web_app_accepting_traffic_other_than_https/test/positive.yaml
  assets/queries/ansible/azure/web_app_accepting_traffic_other_than_https/test/positive_expected_result.json
  assets/queries/ansible/azure/web_app_accepts_not_only_https_traffic/test/positive_expected_result.json
  assets/queries/terraform/azure/web_app_accepting_traffic_other_than_https/metadata.json
  assets/queries/terraform/azure/web_app_accepting_traffic_other_than_https/query.rego
  assets/queries/terraform/azure/web_app_accepting_traffic_other_than_https/test/negative.tf
  assets/queries/terraform/azure/web_app_accepting_traffic_other_than_https/test/positive.tf
  assets/queries/terraform/azure/web_app_accepting_traffic_other_than_https/test/positive_expected_result.json
Labels: query, terraform

#2343 Add "GitHub Repository Set To Public" query for CloudFormation Closes #2342
  assets/queries/cloudFormation/github_repository_set_to_public/metadata.json
  assets/queries/cloudFormation/github_repository_set_to_public/query.rego
  assets/queries/cloudFormation/github_repository_set_to_public/test/negative1.yaml
  assets/queries/cloudFormation/github_repository_set_to_public/test/negative2.json
  assets/queries/cloudFormation/github_repository_set_to_public/test/positive1.yaml
  assets/queries/cloudFormation/github_repository_set_to_public/test/positive2.yaml
  assets/queries/cloudFormation/github_repository_set_to_public/test/positive3.json
  assets/queries/cloudFormation/github_repository_set_to_public/test/positive4.json
  assets/queries/cloudFormation/github_repository_set_to_public/test/positive_expected_result.json
  assets/queries/terraform/github/github_repository_set_to_public/metadata.json
  assets/queries/terraform/github/github_repository_set_to_public/query.rego
  assets/queries/terraform/github/github_repository_set_to_public/test/negative.tf
  assets/queries/terraform/github/github_repository_set_to_public/test/positive.tf
  assets/queries/terraform/github/github_repository_set_to_public/test/positive_expected_result.json
  assets/queries/terraform/github/public_repository_is_enabled/test/positive_expected_result.json
Labels: cloudformation, query

#2322 Add "API Gateway V2 Stage Access Logging Settings Not Defined" query for Terraform
  assets/queries/terraform/aws/api_gateway_v2_stage_access_logging_settings_not_defined/metadata.json
  assets/queries/terraform/aws/api_gateway_v2_stage_access_logging_settings_not_defined/query.rego
  assets/queries/terraform/aws/api_gateway_v2_stage_access_logging_settings_not_defined/test/negative.tf
  assets/queries/terraform/aws/api_gateway_v2_stage_access_logging_settings_not_defined/test/positive.tf
  assets/queries/terraform/aws/api_gateway_v2_stage_access_logging_settings_not_defined/test/positive_expected_result.json
Labels: query, terraform

#2363 Add "PSP Set To Privileged" query for Terraform Closes #2362
  assets/queries/k8s/pod_security_policy_set_to_privileged/test/positive_expected_result.json
  assets/queries/k8s/psp_set_to_privileged/metadata.json
  assets/queries/k8s/psp_set_to_privileged/query.rego
  assets/queries/k8s/psp_set_to_privileged/test/negative.yaml
  assets/queries/k8s/psp_set_to_privileged/test/positive.yaml
  assets/queries/k8s/psp_set_to_privileged/test/positive_expected_result.json
  assets/queries/terraform/kubernetes_pod/psp_set_to_privileged/metadata.json
  assets/queries/terraform/kubernetes_pod/psp_set_to_privileged/query.rego
  assets/queries/terraform/kubernetes_pod/psp_set_to_privileged/test/negative.tf
  assets/queries/terraform/kubernetes_pod/psp_set_to_privileged/test/positive.tf
  assets/queries/terraform/kubernetes_pod/psp_set_to_privileged/test/positive_expected_result.json
Labels: query, terraform

#2375 Add "Containers With Sys Admin Capabilities" query for Terraform Closes #2372
  assets/queries/k8s/containers_with_capabilities_sys_admin/test/positive_expected_result.json
  assets/queries/k8s/containers_with_sys_admin_capabilities/metadata.json
  assets/queries/k8s/containers_with_sys_admin_capabilities/query.rego
  assets/queries/k8s/containers_with_sys_admin_capabilities/test/negative.yaml
  assets/queries/k8s/containers_with_sys_admin_capabilities/test/positive.yaml
  assets/queries/k8s/containers_with_sys_admin_capabilities/test/positive_expected_result.json
  assets/queries/terraform/kubernetes_pod/containers_with_sys_admin_capabilities/metadata.json
  assets/queries/terraform/kubernetes_pod/containers_with_sys_admin_capabilities/query.rego
  assets/queries/terraform/kubernetes_pod/containers_with_sys_admin_capabilities/test/negative.tf
  assets/queries/terraform/kubernetes_pod/containers_with_sys_admin_capabilities/test/positive.tf
  assets/queries/terraform/kubernetes_pod/containers_with_sys_admin_capabilities/test/positive_expected_result.json
Labels: query, terraform

#2353 Add "IAM Role Allows All Principals To Assume" query for CloudFormation Closes #2351
  assets/libraries/common/library.rego
  assets/queries/ansible/aws/iam_role_allows_all_principals_to_assume/query.rego
  assets/queries/cloudFormation/iam_role_allows_all_principals_to_assume/metadata.json
  assets/queries/cloudFormation/iam_role_allows_all_principals_to_assume/query.rego
  assets/queries/cloudFormation/iam_role_allows_all_principals_to_assume/test/negative1.yaml
  assets/queries/cloudFormation/iam_role_allows_all_principals_to_assume/test/negative2.json
  assets/queries/cloudFormation/iam_role_allows_all_principals_to_assume/test/positive1.yaml
  assets/queries/cloudFormation/iam_role_allows_all_principals_to_assume/test/positive2.json
  assets/queries/cloudFormation/iam_role_allows_all_principals_to_assume/test/positive_expected_result.json
  assets/queries/terraform/aws/iam_role_allows_all_principals_to_assume/query.rego
Labels: cloudformation, query

#2286 Add query to check if userdata contains private key. Closes #2274
  assets/queries/ansible/aws/user_data_contains_encoded_private_key/metadata.json
  assets/queries/ansible/aws/user_data_contains_encoded_private_key/query.rego
  assets/queries/ansible/aws/user_data_contains_encoded_private_key/test/negative.yaml
  assets/queries/ansible/aws/user_data_contains_encoded_private_key/test/positive.yaml
  assets/queries/ansible/aws/user_data_contains_encoded_private_key/test/positive_expected_result.json
  assets/queries/ansible/aws/user_data_contains_rsa_private_key/test/positive_expected_result.json
  assets/queries/cloudFormation/user_data_contains_encoded_private_key/metadata.json
  assets/queries/cloudFormation/user_data_contains_encoded_private_key/query.rego
  assets/queries/cloudFormation/user_data_contains_encoded_private_key/test/negative.json
  assets/queries/cloudFormation/user_data_contains_encoded_private_key/test/negative.yaml
  assets/queries/cloudFormation/user_data_contains_encoded_private_key/test/positive.json
  assets/queries/cloudFormation/user_data_contains_encoded_private_key/test/positive.yaml
  assets/queries/cloudFormation/user_data_contains_encoded_private_key/test/positive_expected_result.json
  assets/queries/terraform/aws/user_data_base64_contains_encoded_private_key/test/positive_expected_result.json
  assets/queries/terraform/aws/user_data_contains_encoded_private_key/metadata.json
  assets/queries/terraform/aws/user_data_contains_encoded_private_key/query.rego
  assets/queries/terraform/aws/user_data_contains_encoded_private_key/test/negative.tf
  assets/queries/terraform/aws/user_data_contains_encoded_private_key/test/positive.tf
  assets/queries/terraform/aws/user_data_contains_encoded_private_key/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2345 Update AWS RDS Configuration Automatic Backup Disabled query for AWS CloudFormation
  assets/queries/cloudFormation/rds_configuration_automatic_backup_disabled/query.rego
Labels: cloudformation, enhancement, query

#2333 Update "From All Principals" queries for AWS CloudFormation
  assets/queries/cloudFormation/s3_bucket_allows_all_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_all_actions_from_all_principals/test/negative1.yaml
  assets/queries/cloudFormation/s3_bucket_allows_all_actions_from_all_principals/test/negative2.json
  assets/queries/cloudFormation/s3_bucket_allows_all_actions_from_all_principals/test/positive1.yaml
  assets/queries/cloudFormation/s3_bucket_allows_all_actions_from_all_principals/test/positive2.json
  assets/queries/cloudFormation/s3_bucket_allows_all_actions_from_all_principals/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_allows_delete_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_delete_actions_from_all_principals/test/negative1.yaml
  assets/queries/cloudFormation/s3_bucket_allows_delete_actions_from_all_principals/test/negative2.json
  assets/queries/cloudFormation/s3_bucket_allows_delete_actions_from_all_principals/test/positive1.yaml
  assets/queries/cloudFormation/s3_bucket_allows_delete_actions_from_all_principals/test/positive2.json
  assets/queries/cloudFormation/s3_bucket_allows_delete_actions_from_all_principals/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_allows_get_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_get_actions_from_all_principals/test/negative1.yaml
  assets/queries/cloudFormation/s3_bucket_allows_get_actions_from_all_principals/test/negative2.json
  assets/queries/cloudFormation/s3_bucket_allows_get_actions_from_all_principals/test/positive1.yaml
  assets/queries/cloudFormation/s3_bucket_allows_get_actions_from_all_principals/test/positive2.json
  assets/queries/cloudFormation/s3_bucket_allows_get_actions_from_all_principals/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_allows_list_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_list_actions_from_all_principals/test/negative1.yaml
  assets/queries/cloudFormation/s3_bucket_allows_list_actions_from_all_principals/test/negative2.json
  assets/queries/cloudFormation/s3_bucket_allows_list_actions_from_all_principals/test/positive1.yaml
  assets/queries/cloudFormation/s3_bucket_allows_list_actions_from_all_principals/test/positive2.json
  assets/queries/cloudFormation/s3_bucket_allows_list_actions_from_all_principals/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_allows_put_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_put_actions_from_all_principals/test/negative1.yaml
  assets/queries/cloudFormation/s3_bucket_allows_put_actions_from_all_principals/test/negative2.json
  assets/queries/cloudFormation/s3_bucket_allows_put_actions_from_all_principals/test/positive1.yaml
  assets/queries/cloudFormation/s3_bucket_allows_put_actions_from_all_principals/test/positive2.json
  assets/queries/cloudFormation/s3_bucket_allows_put_actions_from_all_principals/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/query.rego
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/test/negative1.yaml
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/test/negative2.json
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/test/positive1.yaml
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/test/positive2.json
  assets/queries/cloudFormation/s3_bucket_allows_restore_actions_from_all_principals/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2335 Update "IAM Password Without" queries for AWS CloudFormation
  assets/queries/cloudFormation/iam_password_without_lowercase_letter/query.rego
  assets/queries/cloudFormation/iam_password_without_minimum_length/query.rego
  assets/queries/cloudFormation/iam_password_without_number/query.rego
  assets/queries/cloudFormation/iam_password_without_symbol/query.rego
  assets/queries/cloudFormation/iam_password_without_uppercase_letter/query.rego
Labels: cloudformation, enhancement, query

#2374 Bumping go.sum, add bin to .gitignore
  .gitignore
  go.sum
Labels: go

#2326 Update library for Docker #2325
  assets/libraries/dockerfile/library.rego
  assets/queries/dockerfile/add_instead_of_copy/query.rego
  assets/queries/dockerfile/apt_get_install_pin_version_not_defined/query.rego
  assets/queries/dockerfile/apt_get_missing_yes_flag_to_avoid_manual_input/query.rego
  assets/queries/dockerfile/apt_get_not_avoiding_additional_packages/query.rego
  assets/queries/dockerfile/gem_install_without_version/query.rego
  assets/queries/dockerfile/missing_zypper_clean/query.rego
  assets/queries/dockerfile/missing_zypper_non_interactive_switch/query.rego
  assets/queries/dockerfile/run_using_upgrade_commands/query.rego
  assets/queries/dockerfile/secrets_stored_in_dockerfile/query.rego
  assets/queries/dockerfile/unpinned_package_version_in_apk_add/query.rego
  assets/queries/dockerfile/yum_install_allows_manual_input/query.rego
  assets/queries/dockerfile/yum_install_without_version/query.rego
  assets/queries/dockerfile/yum_update_disabled/query.rego
  assets/queries/dockerfile/zypper_install_without_version/query.rego
Labels: docker, query

#2341 Add "API Gateway Stage Without API Gateway UsagePlan Associated" query for Terraform
  assets/queries/terraform/aws/api_gateway_stage_without_api_gateway_usage_plan_associated/metadata.json
  assets/queries/terraform/aws/api_gateway_stage_without_api_gateway_usage_plan_associated/query.rego
  assets/queries/terraform/aws/api_gateway_stage_without_api_gateway_usage_plan_associated/test/negative.tf
  assets/queries/terraform/aws/api_gateway_stage_without_api_gateway_usage_plan_associated/test/positive.tf
  assets/queries/terraform/aws/api_gateway_stage_without_api_gateway_usage_plan_associated/test/positive_expected_result.json
Labels: query, terraform

#2414 HTML Report
  docs/configuration-file.md
  docs/getting-started.md
  docs/img/html_report.png
  docs/results.md
  go.mod
  go.sum
  internal/console/helpers/helpers.go
  internal/console/scan.go
  pkg/report/commons.go
  pkg/report/html.go
  pkg/report/html_test.go
  pkg/report/template/html/github.svg
  pkg/report/template/html/info.svg
  pkg/report/template/html/report.css
  pkg/report/template/html/report.tmpl
  pkg/report/template/html/vulnerability_fill.svg
  pkg/report/template/html/vulnerability_out.svg
Labels: feature

#2348 Add Helm Render and Common Resolver
  .github/workflows/go-ci.yml
  README.md
  docs/img/logo-helm.png
  docs/index.md
  go.mod
  go.sum
  internal/console/scan.go
  pkg/engine/provider/filesystem.go
  pkg/engine/provider/filesystem_test.go
  pkg/engine/provider/provider.go
  pkg/engine/vulnerability_builder.go
  pkg/engine/vulnerability_builder_test.go
  pkg/kics/service.go
  pkg/model/model.go
  pkg/resolver/helm/helm.go
  pkg/resolver/helm/resolver.go
  pkg/resolver/helm/resolver_test.go
  pkg/resolver/resolver.go
  pkg/resolver/resolver_test.go
  test/fixtures/test_helm/.helmignore
  test/fixtures/test_helm/Chart.yaml
  test/fixtures/test_helm/templates/NOTES.txt
  test/fixtures/test_helm/templates/_helpers.tpl
  test/fixtures/test_helm/templates/service.yaml
  test/fixtures/test_helm/values.yaml
  test/fixtures/test_helm_subchart/.helmignore
  test/fixtures/test_helm_subchart/Chart.yaml
  test/fixtures/test_helm_subchart/charts/subchart/.helmignore
  test/fixtures/test_helm_subchart/charts/subchart/Chart.yaml
  test/fixtures/test_helm_subchart/charts/subchart/templates/NOTES.txt
  test/fixtures/test_helm_subchart/charts/subchart/templates/_helpers.tpl
  test/fixtures/test_helm_subchart/charts/subchart/templates/service.yaml
  test/fixtures/test_helm_subchart/charts/subchart/values.yaml
  test/fixtures/test_helm_subchart/templates/NOTES.txt
  test/fixtures/test_helm_subchart/templates/_helpers.tpl
  test/fixtures/test_helm_subchart/templates/serviceaccount.yaml
  test/fixtures/test_helm_subchart/values.yaml
Labels: feature, go

#2444 fix helm logo
  README.md
Labels: documentation

#2442 add docker pulls badge to readme
  README.md
Labels: documentation

#2446 Embedding report resource files
  go.sum
  pkg/report/html.go
Labels: feature

#2454 Fixing automatic docs update workflows
  .github/workflows/update-docs-index.yaml
  .github/workflows/update-docs-queries.yaml
  .github/workflows/update-godownloader-script.yaml
Labels: CI, documentation

#2457 Fixing automatic docs update workflow missing v in tag
  .github/workflows/update-docs-index.yaml
Labels: CI

#2350 Update Directory Service Microsoft AD Password Set to Plaintext or Default Ref query Closes #2304
  assets/queries/cloudFormation/directory_service_microsoft_ad_password_set_to_plaintext_or_default_ref/query.rego
  assets/queries/cloudFormation/directory_service_microsoft_ad_password_set_to_plaintext_or_default_ref/test/negative3.yaml
  assets/queries/cloudFormation/directory_service_microsoft_ad_password_set_to_plaintext_or_default_ref/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2305 Update library for k8s #2302
  assets/libraries/common/library.rego
  assets/libraries/k8s/library.rego
  assets/queries/k8s/containers_with_added_capabilities/query.rego
  assets/queries/k8s/containers_with_sys_admin_capabilities/query.rego
  assets/queries/k8s/cpu_limits_not_set/query.rego
  assets/queries/k8s/cpu_requests_not_set/query.rego
  assets/queries/k8s/ingress_controller_exposes_workload/query.rego
  assets/queries/k8s/liveness_probe_is_not_defined/query.rego
  assets/queries/k8s/net_raw_capabilities_disabled_for_pod_security_policy/query.rego
  assets/queries/k8s/net_raw_capabilities_not_being_dropped/query.rego
  assets/queries/k8s/not_limited_capabilities_for_container/query.rego
  assets/queries/k8s/pod_or_container_without_security_context/query.rego
  assets/queries/k8s/privilege_escalation_allowed/query.rego
  assets/queries/k8s/psp_allows_privilege_escalation/query.rego
  assets/queries/k8s/psp_with_added_capabilities/query.rego
  assets/queries/k8s/service_account_allows_access_secrets/query.rego
  assets/queries/k8s/service_account_allows_access_secrets/test/positive_expected_result.json
  assets/queries/k8s/statefulset_without_pod_disruption_budget/query.rego
  assets/queries/k8s/tiller_deployment_is_accessible_from_within_the_cluster/query.rego
  assets/queries/k8s/tiller_is_deployed/query.rego
  assets/queries/k8s/volume_mount_with_os_directory_write_permissions/query.rego
Labels: kubernetes, query

#2347 Add "Stack Notifications Disabled" query for CloudFormation #2346
  assets/queries/ansible/aws/cloudformation_stack_notifications_disabled/test/positive_expected_result.json
  assets/queries/ansible/aws/stack_notifications_disabled/metadata.json
  assets/queries/ansible/aws/stack_notifications_disabled/query.rego
  assets/queries/ansible/aws/stack_notifications_disabled/test/negative.yaml
  assets/queries/ansible/aws/stack_notifications_disabled/test/positive.yaml
  assets/queries/ansible/aws/stack_notifications_disabled/test/positive_expected_result.json
  assets/queries/cloudFormation/stack_notifications_disabled/metadata.json
  assets/queries/cloudFormation/stack_notifications_disabled/query.rego
  assets/queries/cloudFormation/stack_notifications_disabled/test/negative1.yaml
  assets/queries/cloudFormation/stack_notifications_disabled/test/negative2.json
  assets/queries/cloudFormation/stack_notifications_disabled/test/positive1.yaml
  assets/queries/cloudFormation/stack_notifications_disabled/test/positive2.json
  assets/queries/cloudFormation/stack_notifications_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/cloudformation_stack_notifications_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/stack_notifications_disabled/metadata.json
  assets/queries/terraform/aws/stack_notifications_disabled/query.rego
  assets/queries/terraform/aws/stack_notifications_disabled/test/negative.tf
  assets/queries/terraform/aws/stack_notifications_disabled/test/positive.tf
  assets/queries/terraform/aws/stack_notifications_disabled/test/positive_expected_result.json
Labels: cloudformation, query

#2471 Increasing timeout for golangci-lint to 5min
  .github/workflows/go-ci.yml
Labels: CI

#2467 Fixing typo in github actions integrations docs #2466
  docs/integrations_ghactions.md
Labels: documentation

#2356 Update RDS DBCluster Storage Encryption Disabled query for AWS CloudFormation
  assets/queries/cloudFormation/rds_db_cluster_storage_encryption_disabled/metadata.json
  assets/queries/cloudFormation/rds_db_cluster_storage_encryption_disabled/query.rego
Labels: cloudformation, enhancement, query

#2328 Added Exposing Port 22 query
  assets/queries/dockerfile/exposing_port_22/metadata.json
  assets/queries/dockerfile/exposing_port_22/query.rego
  assets/queries/dockerfile/exposing_port_22/test/negative.dockerfile
  assets/queries/dockerfile/exposing_port_22/test/positive.dockerfile
  assets/queries/dockerfile/exposing_port_22/test/positive_expected_result.json
Labels: docker

#2424 Add query to check if cloudwatch logging is disabled
  assets/queries/cloudFormation/cloudwatch_logging_disabled/metadata.json
  assets/queries/cloudFormation/cloudwatch_logging_disabled/query.rego
  assets/queries/cloudFormation/cloudwatch_logging_disabled/test/negative1.yaml
  assets/queries/cloudFormation/cloudwatch_logging_disabled/test/negative2.json
  assets/queries/cloudFormation/cloudwatch_logging_disabled/test/positive1.yaml
  assets/queries/cloudFormation/cloudwatch_logging_disabled/test/positive2.json
  assets/queries/cloudFormation/cloudwatch_logging_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/cloudwatch_logging_disabled/metadata.json
  assets/queries/terraform/aws/cloudwatch_logging_disabled/query.rego
  assets/queries/terraform/aws/cloudwatch_logging_disabled/test/negative.tf
  assets/queries/terraform/aws/cloudwatch_logging_disabled/test/positive.tf
  assets/queries/terraform/aws/cloudwatch_logging_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/cloudwatch_logging_is_disabled/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2413 Update "API Gateway Endpoint Config is Private" queries
  assets/queries/ansible/aws/api_gateway_endpoint_config_is_not_private/metadata.json
  assets/queries/ansible/aws/api_gateway_endpoint_config_is_not_private/query.rego
  assets/queries/ansible/aws/api_gateway_endpoint_config_is_not_private/test/negative.yaml
  assets/queries/ansible/aws/api_gateway_endpoint_config_is_not_private/test/positive.yaml
  assets/queries/ansible/aws/api_gateway_endpoint_config_is_not_private/test/positive_expected_result.json
  assets/queries/ansible/aws/api_gateway_endpoint_config_is_private/metadata.json
  assets/queries/ansible/aws/api_gateway_endpoint_config_is_private/test/positive_expected_result.json
  assets/queries/cloudFormation/api_gateway_endpoint_config_is_not_private/metadata.json
  assets/queries/cloudFormation/api_gateway_endpoint_config_is_not_private/query.rego
  assets/queries/cloudFormation/api_gateway_endpoint_config_is_not_private/test/negative1.yaml
  assets/queries/cloudFormation/api_gateway_endpoint_config_is_not_private/test/negative2.json
  assets/queries/cloudFormation/api_gateway_endpoint_config_is_not_private/test/positive1.yaml
  assets/queries/cloudFormation/api_gateway_endpoint_config_is_not_private/test/positive2.json
  assets/queries/cloudFormation/api_gateway_endpoint_config_is_not_private/test/positive_expected_result.json
  assets/queries/cloudFormation/api_gateway_exposed_to_the_public_internet/metadata.json
  assets/queries/terraform/aws/api_gateway_endpoint_config_is_not_private/metadata.json
  assets/queries/terraform/aws/api_gateway_endpoint_config_is_not_private/query.rego
  assets/queries/terraform/aws/api_gateway_endpoint_config_is_not_private/test/negative.tf
  assets/queries/terraform/aws/api_gateway_endpoint_config_is_not_private/test/positive.tf
  assets/queries/terraform/aws/api_gateway_endpoint_config_is_not_private/test/positive_expected_result.json
  assets/queries/terraform/aws/api_gateway_endpoint_config_is_private/metadata.json
  assets/queries/terraform/aws/api_gateway_endpoint_config_is_private/test/positive_expected_result.json
Labels: ansible, enhancement, query, terraform

#2418 Add query to check if CloudTrail logging is disabled. Closes #2417
  assets/queries/cloudFormation/cloudtrail_logging_disabled/metadata.json
  assets/queries/cloudFormation/cloudtrail_logging_disabled/query.rego
  assets/queries/cloudFormation/cloudtrail_logging_disabled/test/negative1.yaml
  assets/queries/cloudFormation/cloudtrail_logging_disabled/test/negative2.json
  assets/queries/cloudFormation/cloudtrail_logging_disabled/test/positive1.yaml
  assets/queries/cloudFormation/cloudtrail_logging_disabled/test/positive2.json
  assets/queries/cloudFormation/cloudtrail_logging_disabled/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2407 Add query to check if config aggregators involve all regions. Closes #2385
  assets/queries/ansible/aws/config_configuration_aggregator_all_regions_not_enabled/test/positive_expected_result.json
  assets/queries/ansible/aws/config_configuration_aggregator_to_all_regions_disabled/metadata.json
  assets/queries/ansible/aws/config_configuration_aggregator_to_all_regions_disabled/query.rego
  assets/queries/ansible/aws/config_configuration_aggregator_to_all_regions_disabled/test/negative.yaml
  assets/queries/ansible/aws/config_configuration_aggregator_to_all_regions_disabled/test/positive.yaml
  assets/queries/ansible/aws/config_configuration_aggregator_to_all_regions_disabled/test/positive_expected_result.json
  assets/queries/cloudFormation/config_configuration_aggregator_to_all_regions_disabled/metadata.json
  assets/queries/cloudFormation/config_configuration_aggregator_to_all_regions_disabled/query.rego
  assets/queries/cloudFormation/config_configuration_aggregator_to_all_regions_disabled/test/negative1.yaml
  assets/queries/cloudFormation/config_configuration_aggregator_to_all_regions_disabled/test/negative2.json
  assets/queries/cloudFormation/config_configuration_aggregator_to_all_regions_disabled/test/positive1.yaml
  assets/queries/cloudFormation/config_configuration_aggregator_to_all_regions_disabled/test/positive2.json
  assets/queries/cloudFormation/config_configuration_aggregator_to_all_regions_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/config_configuration_aggregator_all_regions_not_enabled/test/positive_expected_result.json
  assets/queries/terraform/aws/config_configuration_aggregator_to_all_regions_disabled/metadata.json
  assets/queries/terraform/aws/config_configuration_aggregator_to_all_regions_disabled/query.rego
  assets/queries/terraform/aws/config_configuration_aggregator_to_all_regions_disabled/test/negative.tf
  assets/queries/terraform/aws/config_configuration_aggregator_to_all_regions_disabled/test/positive.tf
  assets/queries/terraform/aws/config_configuration_aggregator_to_all_regions_disabled/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2403 Add ECR Image Tag Not Immutable query for Terraform and AWS CloudFormation
  assets/queries/cloudFormation/ecr_image_tag_not_immutable/metadata.json
  assets/queries/cloudFormation/ecr_image_tag_not_immutable/query.rego
  assets/queries/cloudFormation/ecr_image_tag_not_immutable/test/negative1.yaml
  assets/queries/cloudFormation/ecr_image_tag_not_immutable/test/negative2.json
  assets/queries/cloudFormation/ecr_image_tag_not_immutable/test/positive1.yaml
  assets/queries/cloudFormation/ecr_image_tag_not_immutable/test/positive2.json
  assets/queries/cloudFormation/ecr_image_tag_not_immutable/test/positive_expected_result.json
  assets/queries/terraform/aws/ecr_image_tag_not_immutable/metadata.json
  assets/queries/terraform/aws/ecr_image_tag_not_immutable/query.rego
  assets/queries/terraform/aws/ecr_image_tag_not_immutable/test/negative.tf
  assets/queries/terraform/aws/ecr_image_tag_not_immutable/test/positive.tf
  assets/queries/terraform/aws/ecr_image_tag_not_immutable/test/positive_expected_result.json
Labels: cloudformation, query, terraform

#2431 Add query to check if redshift cluster has logging disabled. Closes #2429
  assets/queries/cloudFormation/redshift_cluster_logging_disabled/metadata.json
  assets/queries/cloudFormation/redshift_cluster_logging_disabled/query.rego
  assets/queries/cloudFormation/redshift_cluster_logging_disabled/test/negative1.yaml
  assets/queries/cloudFormation/redshift_cluster_logging_disabled/test/negative2.json
  assets/queries/cloudFormation/redshift_cluster_logging_disabled/test/positive1.yaml
  assets/queries/cloudFormation/redshift_cluster_logging_disabled/test/positive2.json
  assets/queries/cloudFormation/redshift_cluster_logging_disabled/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2433 Add query to check if MQ Broker is publicly accessible. Closes #2432
  assets/queries/cloudFormation/mq_broker_is_publicly_accessible/metadata.json
  assets/queries/cloudFormation/mq_broker_is_publicly_accessible/query.rego
  assets/queries/cloudFormation/mq_broker_is_publicly_accessible/test/negative1.yaml
  assets/queries/cloudFormation/mq_broker_is_publicly_accessible/test/negative2.json
  assets/queries/cloudFormation/mq_broker_is_publicly_accessible/test/positive1.yaml
  assets/queries/cloudFormation/mq_broker_is_publicly_accessible/test/positive2.json
  assets/queries/cloudFormation/mq_broker_is_publicly_accessible/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2436 Add query to check if MQ Broker has logging disabled. Closes #2434
  assets/queries/cloudFormation/mq_broker_logging_disabled/metadata.json
  assets/queries/cloudFormation/mq_broker_logging_disabled/query.rego
  assets/queries/cloudFormation/mq_broker_logging_disabled/test/negative1.yaml
  assets/queries/cloudFormation/mq_broker_logging_disabled/test/negative2.json
  assets/queries/cloudFormation/mq_broker_logging_disabled/test/positive1.yaml
  assets/queries/cloudFormation/mq_broker_logging_disabled/test/positive2.json
  assets/queries/cloudFormation/mq_broker_logging_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/mq_broker_has_disabled_general_or_audit_logging/test/positive_expected_result.json
  assets/queries/terraform/aws/mq_broker_logging_disabled/metadata.json
  assets/queries/terraform/aws/mq_broker_logging_disabled/query.rego
  assets/queries/terraform/aws/mq_broker_logging_disabled/test/negative.tf
  assets/queries/terraform/aws/mq_broker_logging_disabled/test/positive.tf
  assets/queries/terraform/aws/mq_broker_logging_disabled/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2421 Add "Batch Job Definition With Privileged Container Properties" query for Terraform and Ansible
  assets/queries/ansible/aws/batch_job_definition_with_privileged_container_properties/metadata.json
  assets/queries/ansible/aws/batch_job_definition_with_privileged_container_properties/query.rego
  assets/queries/ansible/aws/batch_job_definition_with_privileged_container_properties/test/negative.yaml
  assets/queries/ansible/aws/batch_job_definition_with_privileged_container_properties/test/positive.yaml
  assets/queries/ansible/aws/batch_job_definition_with_privileged_container_properties/test/positive_expected_result.json
  assets/queries/terraform/aws/batch_job_definition_with_privileged_container_properties/metadata.json
  assets/queries/terraform/aws/batch_job_definition_with_privileged_container_properties/query.rego
  assets/queries/terraform/aws/batch_job_definition_with_privileged_container_properties/test/negative.tf
  assets/queries/terraform/aws/batch_job_definition_with_privileged_container_properties/test/positive.tf
  assets/queries/terraform/aws/batch_job_definition_with_privileged_container_properties/test/positive_expected_result.json
Labels: ansible, query, terraform

#2329 Add query to check if task definitions contains passwords. Closes #2321
  assets/queries/ansible/aws/ecs_task_definition_container_has_password/test/positive_expected_result.json
  assets/queries/ansible/aws/ecs_task_definition_with_plaintext_password/metadata.json
  assets/queries/ansible/aws/ecs_task_definition_with_plaintext_password/query.rego
  assets/queries/ansible/aws/ecs_task_definition_with_plaintext_password/test/negative.yaml
  assets/queries/ansible/aws/ecs_task_definition_with_plaintext_password/test/positive.yaml
  assets/queries/ansible/aws/ecs_task_definition_with_plaintext_password/test/positive_expected_result.json
  assets/queries/cloudFormation/ecs_task_definition_with_plaintext_password/metadata.json
  assets/queries/cloudFormation/ecs_task_definition_with_plaintext_password/query.rego
  assets/queries/cloudFormation/ecs_task_definition_with_plaintext_password/test/negative.json
  assets/queries/cloudFormation/ecs_task_definition_with_plaintext_password/test/negative.yaml
  assets/queries/cloudFormation/ecs_task_definition_with_plaintext_password/test/positive.json
  assets/queries/cloudFormation/ecs_task_definition_with_plaintext_password/test/positive.yaml
  assets/queries/cloudFormation/ecs_task_definition_with_plaintext_password/test/positive_expected_result.json
  assets/queries/terraform/aws/ecs_task_definition_container_has_password/test/positive_expected_result.json
  assets/queries/terraform/aws/ecs_task_definition_with_plaintext_password/metadata.json
  assets/queries/terraform/aws/ecs_task_definition_with_plaintext_password/query.rego
  assets/queries/terraform/aws/ecs_task_definition_with_plaintext_password/test/negative.tf
  assets/queries/terraform/aws/ecs_task_definition_with_plaintext_password/test/positive.tf
  assets/queries/terraform/aws/ecs_task_definition_with_plaintext_password/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2410 Refactoring and improving logs
  .github/workflows/go-ci-integration.yml
  .github/workflows/nightly-release.yml
  .github/workflows/release.yml
  .gitignore
  .goreleaser-nightly.yml
  .goreleaser.yml
  Dockerfile
  Makefile
  cmd/builder/main.go
  cmd/console/main.go
  docker-compose.yml
  docs/configuration-file.md
  docs/getting-started.md
  go.sum
  internal/console/helpers/helpers.go
  internal/console/kics.go
  internal/console/list_platforms.go
  internal/console/scan.go
  internal/constants/constants.go
  internal/storage/memory.go
  internal/tracker/ci.go
  pkg/builder/engine/engine.go
  pkg/builder/writer/rego.go
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/engine/mock/source.go
  pkg/engine/provider/filesystem.go
  pkg/engine/source/filesystem.go
  pkg/engine/source/filesystem_test.go
  pkg/engine/source/source.go
  pkg/engine/vulnerability_builder.go
  pkg/kics/service.go
  pkg/model/summary.go
  pkg/parser/docker/parser.go
  pkg/parser/parser.go
  pkg/parser/yaml/parser.go
  pkg/report/commons.go
  pkg/resolver/resolver.go
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: go

#2476 Optimize golangci-lint
  .github/workflows/go-ci.yml
  .golangci.yml
Labels: CI

#2470 Fixing nightly build workflow #2469
  .github/workflows/nightly-release.yml
Labels: CI, bug

#2480 Updated docs generator
  .github/generators/docs_generator.py
  .github/generators/templates/general_template.md
  .github/generators/templates/platform_template.md
  .github/generators/templates/template.md
  docs/css/custom.css
  docs/js/custom.js
  docs/queries/all-queries.md
  docs/queries/ansible-queries.md
  docs/queries/cloudformation-queries.md
  docs/queries/common-queries.md
  docs/queries/dockerfile-queries.md
  docs/queries/kubernetes-queries.md
  docs/queries/terraform-queries.md
  internal/console/helpers/helpers.go
  mkdocs.yml
  pkg/model/summary.go
Labels: documentation

#2515 Fixing typos in queries for Terraform
  assets/queries/terraform/aws/alb_protocol_is_http/query.rego
  assets/queries/terraform/azure/default_network_access_is_allowed/metadata.json
  assets/queries/terraform/azure/default_network_access_is_allowed/query.rego
  assets/queries/terraform/azure/default_network_access_is_allowed/test/negative.tf
  assets/queries/terraform/azure/default_network_access_is_allowed/test/positive.tf
  assets/queries/terraform/azure/default_network_access_is_allowed/test/positive_expected_result.json
  assets/queries/terraform/azure/mssql_audit_retention/query.rego
  assets/queries/terraform/azure/sql_audit_retention/query.rego
  assets/queries/terraform/gcp/bigquery_dataset_is_public/query.rego
  assets/queries/terraform/gcp/cloud_dns_without_dnssec/query.rego
Labels: enhancement, query, terraform

#2390 Unifying S3 Bucket With All Permissions queries
  assets/queries/ansible/aws/s3_bucket_with_all_permissions/metadata.json
  assets/queries/ansible/aws/s3_bucket_with_all_permissions/test/positive_expected_result.json
  assets/queries/cloudFormation/s3_bucket_allows_all_actions_from_all_principals/metadata.json
  assets/queries/cloudFormation/s3_bucket_with_all_permissions/metadata.json
  assets/queries/cloudFormation/s3_bucket_with_all_permissions/query.rego
  assets/queries/cloudFormation/s3_bucket_with_all_permissions/test/negative1.yaml
  assets/queries/cloudFormation/s3_bucket_with_all_permissions/test/negative2.json
  assets/queries/cloudFormation/s3_bucket_with_all_permissions/test/positive1.yaml
  assets/queries/cloudFormation/s3_bucket_with_all_permissions/test/positive2.json
  assets/queries/cloudFormation/s3_bucket_with_all_permissions/test/positive_expected_result.json
  assets/queries/terraform/aws/s3_bucket_with_all_permissions/metadata.json
  assets/queries/terraform/aws/s3_bucket_with_all_permissions/test/positive_expected_result.json
Labels: ansible, cloudformation, enhancement, query, terraform

#2399 Add "API Gateway Without Content Encoding" query for CloudFormation #2394
  assets/queries/cloudFormation/api_gateway_without_content_encoding/metadata.json
  assets/queries/cloudFormation/api_gateway_without_content_encoding/query.rego
  assets/queries/cloudFormation/api_gateway_without_content_encoding/test/negative1.yaml
  assets/queries/cloudFormation/api_gateway_without_content_encoding/test/negative2.json
  assets/queries/cloudFormation/api_gateway_without_content_encoding/test/positive1.yaml
  assets/queries/cloudFormation/api_gateway_without_content_encoding/test/positive2.yaml
  assets/queries/cloudFormation/api_gateway_without_content_encoding/test/positive3.yaml
  assets/queries/cloudFormation/api_gateway_without_content_encoding/test/positive4.json
  assets/queries/cloudFormation/api_gateway_without_content_encoding/test/positive5.json
  assets/queries/cloudFormation/api_gateway_without_content_encoding/test/positive6.json
  assets/queries/cloudFormation/api_gateway_without_content_encoding/test/positive_expected_result.json
  assets/queries/terraform/aws/api_gateway_content_encoding/metadata.json
  assets/queries/terraform/aws/api_gateway_content_encoding/test/positive_expected_result.json
  assets/queries/terraform/aws/api_gateway_without_content_encoding/metadata.json
  assets/queries/terraform/aws/api_gateway_without_content_encoding/query.rego
  assets/queries/terraform/aws/api_gateway_without_content_encoding/test/negative.tf
  assets/queries/terraform/aws/api_gateway_without_content_encoding/test/positive.tf
  assets/queries/terraform/aws/api_gateway_without_content_encoding/test/positive_expected_result.json
Labels: cloudformation, query

#2380 Add query to check if database auth is enabled. Closes #2376
  assets/queries/cloudFormation/rds_db_instance_iam_auth_not_enabled/metadata.json
  assets/queries/cloudFormation/rds_db_instance_iam_auth_not_enabled/query.rego
  assets/queries/cloudFormation/rds_db_instance_iam_auth_not_enabled/test/negative1.yaml
  assets/queries/cloudFormation/rds_db_instance_iam_auth_not_enabled/test/negative2.json
  assets/queries/cloudFormation/rds_db_instance_iam_auth_not_enabled/test/positive1.yaml
  assets/queries/cloudFormation/rds_db_instance_iam_auth_not_enabled/test/positive2.json
  assets/queries/cloudFormation/rds_db_instance_iam_auth_not_enabled/test/positive3.yaml
  assets/queries/cloudFormation/rds_db_instance_iam_auth_not_enabled/test/positive4.json
  assets/queries/cloudFormation/rds_db_instance_iam_auth_not_enabled/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2411 Add Non Kube System Pod With Host Mount query Closes #2381
  assets/queries/terraform/kubernetes_pod/non_kube_system_pod_with_host_mount/metadata.json
  assets/queries/terraform/kubernetes_pod/non_kube_system_pod_with_host_mount/query.rego
  assets/queries/terraform/kubernetes_pod/non_kube_system_pod_with_host_mount/test/negative.tf
  assets/queries/terraform/kubernetes_pod/non_kube_system_pod_with_host_mount/test/positive.tf
  assets/queries/terraform/kubernetes_pod/non_kube_system_pod_with_host_mount/test/positive_expected_result.json
Labels: query, terraform

#2293 Add query to check is memcached is disabled in elasticache. Closes #2292
  assets/queries/cloudFormation/memcached_disabled/metadata.json
  assets/queries/cloudFormation/memcached_disabled/query.rego
  assets/queries/cloudFormation/memcached_disabled/test/negative1.yaml
  assets/queries/cloudFormation/memcached_disabled/test/negative2.json
  assets/queries/cloudFormation/memcached_disabled/test/positive1.yaml
  assets/queries/cloudFormation/memcached_disabled/test/positive2.json
  assets/queries/cloudFormation/memcached_disabled/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2445 Add Host Aliases Undefined Or Empty query #2441
  assets/queries/terraform/kubernetes_pod/host_aliases_undefined_or_empty/metadata.json
  assets/queries/terraform/kubernetes_pod/host_aliases_undefined_or_empty/query.rego
  assets/queries/terraform/kubernetes_pod/host_aliases_undefined_or_empty/test/negative.tf
  assets/queries/terraform/kubernetes_pod/host_aliases_undefined_or_empty/test/positive.tf
  assets/queries/terraform/kubernetes_pod/host_aliases_undefined_or_empty/test/positive_expected_result.json
Labels: query, terraform

#2337 Added Curl or Wget Instead of Add query
  assets/queries/dockerfile/curl_or_wget_instead_of_add/metadata.json
  assets/queries/dockerfile/curl_or_wget_instead_of_add/query.rego
  assets/queries/dockerfile/curl_or_wget_instead_of_add/test/negative.dockerfile
  assets/queries/dockerfile/curl_or_wget_instead_of_add/test/positive.dockerfile
  assets/queries/dockerfile/curl_or_wget_instead_of_add/test/positive_expected_result.json
Labels: docker, query

#2523 Improving descriptionURLs in queries
  assets/queries/ansible/aws/db_security_group_has_public_ip/metadata.json
  assets/queries/ansible/aws/db_security_group_with_public_scope/metadata.json
  assets/queries/cloudFormation/alexa_skill_plaintext_client_secret_exposed/metadata.json
  assets/queries/cloudFormation/cdn_configuration_is_missing/metadata.json
  assets/queries/cloudFormation/ec2_public_instance_exposed_through_subnet/metadata.json
  assets/queries/cloudFormation/efs_not_encrypted/metadata.json
  assets/queries/cloudFormation/efs_not_encrypted_with_kms_cmk/metadata.json
  assets/queries/cloudFormation/efs_without_tags/metadata.json
  assets/queries/cloudFormation/elasticache_with_disabled_transit_encryption/metadata.json
  assets/queries/cloudFormation/iam_groups_inline_policies/metadata.json
  assets/queries/cloudFormation/iam_managed_policy_applied_to_a_user/metadata.json
  assets/queries/cloudFormation/iam_policy_on_user/metadata.json
  assets/queries/cloudFormation/iam_user_login_profile_password_is_in_plaintext/metadata.json
  assets/queries/cloudFormation/lambda_function_without_tags/metadata.json
  assets/queries/cloudFormation/lambda_functions_with_full_privileges/metadata.json
  assets/queries/cloudFormation/lambda_permission_badly_configured/metadata.json
  assets/queries/cloudFormation/rds_backup_retention_period_insufficient/metadata.json
  assets/queries/cloudFormation/rds_configuration_automatic_backup_disabled/metadata.json
  assets/queries/cloudFormation/rds_multi_az_deployment_disabled/metadata.json
  assets/queries/cloudFormation/s3_bucket_acl_allows_read_or_write_to_all_users/metadata.json
  assets/queries/cloudFormation/s3_bucket_acl_allows_read_to_all_users/metadata.json
  assets/queries/cloudFormation/s3_bucket_acl_allows_read_to_any_authenticated_user/metadata.json
  assets/queries/cloudFormation/s3_bucket_without_ssl_in_write_actions/metadata.json
  assets/queries/cloudFormation/s3_buckets_are_publicly_accessible/metadata.json
  assets/queries/cloudFormation/secure_ciphers_disabled/metadata.json
  assets/queries/cloudFormation/sqs_queue_policy_allows_not_principal/metadata.json
  assets/queries/cloudFormation/support_has_no_role_associated/metadata.json
  assets/queries/cloudFormation/vulnerable_default_ssl_certificate/metadata.json
  assets/queries/cloudFormation/webacl_allow_defaultaction/metadata.json
  assets/queries/k8s/containers_security_context_capabilities_drop_any/metadata.json
  assets/queries/k8s/non_kube_system_pod_with_host_mount/metadata.json
  assets/queries/k8s/role_binding_to_default_service_account/metadata.json
  assets/queries/terraform/aws/ca_certificate_identifier_is_outdated/metadata.json
  assets/queries/terraform/aws/s3_bucket_with_public_rw_access/metadata.json
  assets/queries/terraform/aws/sqs_policy_with_public_access/metadata.json
  assets/queries/terraform/azure/security_center_pricing_tier_is_not_standard/metadata.json
Labels: ansible, cloudformation, enhancement, kubernetes, query, terraform

#2398 Add StatefulSet Requests Storage query #2395
  assets/queries/terraform/kubernetes_pod/statefulset_requests_storage/metadata.json
  assets/queries/terraform/kubernetes_pod/statefulset_requests_storage/query.rego
  assets/queries/terraform/kubernetes_pod/statefulset_requests_storage/test/negative.tf
  assets/queries/terraform/kubernetes_pod/statefulset_requests_storage/test/positive.tf
  assets/queries/terraform/kubernetes_pod/statefulset_requests_storage/test/positive_expected_result.json
Labels: query, terraform

#2406 Added image_pull_policy Is Not Set To Always query
  assets/queries/terraform/kubernetes_pod/image_pull_policy_of_container_is_not_always/metadata.json
  assets/queries/terraform/kubernetes_pod/image_pull_policy_of_container_is_not_always/query.rego
  assets/queries/terraform/kubernetes_pod/image_pull_policy_of_container_is_not_always/test/negative.tf
  assets/queries/terraform/kubernetes_pod/image_pull_policy_of_container_is_not_always/test/positive1.tf
  assets/queries/terraform/kubernetes_pod/image_pull_policy_of_container_is_not_always/test/positive2.tf
  assets/queries/terraform/kubernetes_pod/image_pull_policy_of_container_is_not_always/test/positive_expected_result.json
Labels: terraform

#2504 Add query to check if there isnt a ConfigRule for Encrypted Volumes. Closes #2496
  assets/libraries/cloudformation/library.rego
  assets/queries/ansible/aws/config_rule_for_encrypted_volumes_is_disabled/metadata.json
  assets/queries/ansible/aws/config_rule_for_encrypted_volumes_is_disabled/test/positive_expected_result.json
  assets/queries/cloudFormation/config_rule_for_encryption_volumes_disabled/metadata.json
  assets/queries/cloudFormation/config_rule_for_encryption_volumes_disabled/query.rego
  assets/queries/cloudFormation/config_rule_for_encryption_volumes_disabled/test/negative1.yaml
  assets/queries/cloudFormation/config_rule_for_encryption_volumes_disabled/test/negative2.json
  assets/queries/cloudFormation/config_rule_for_encryption_volumes_disabled/test/positive1.yaml
  assets/queries/cloudFormation/config_rule_for_encryption_volumes_disabled/test/positive2.json
  assets/queries/cloudFormation/config_rule_for_encryption_volumes_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/config_rule_for_encrypted_volumes_is_disabled/metadata.json
  assets/queries/terraform/aws/config_rule_for_encrypted_volumes_is_disabled/test/positive_expected_result.json
Labels: cloudformation, enhancement, query

#2532 Revert "Updated docs generator"
  .github/generators/docs_generator.py
  .github/generators/templates/general_template.md
  .github/generators/templates/platform_template.md
  .github/generators/templates/template.md
  docs/css/custom.css
  docs/js/custom.js
  docs/queries/all-queries.md
  docs/queries/ansible-queries.md
  docs/queries/cloudformation-queries.md
  docs/queries/common-queries.md
  docs/queries/dockerfile-queries.md
  docs/queries/kubernetes-queries.md
  docs/queries/terraform-queries.md
  internal/console/helpers/helpers.go
  mkdocs.yml
  pkg/model/summary.go
Labels: documentation

#2517 Add "Pod or Container Without Security Context" query for Terraform Closes #2513
  assets/queries/terraform/kubernetes/pod_or_container_without_security_context/metadata.json
  assets/queries/terraform/kubernetes/pod_or_container_without_security_context/query.rego
  assets/queries/terraform/kubernetes/pod_or_container_without_security_context/test/negative.tf
  assets/queries/terraform/kubernetes/pod_or_container_without_security_context/test/positive.tf
  assets/queries/terraform/kubernetes/pod_or_container_without_security_context/test/positive_expected_result.json
Labels: query, terraform

#2505 Add "Using Default Namespace" query for Terraform Closes #2502
  assets/queries/k8s/using_default_namespace/query.rego
  assets/queries/terraform/kubernetes_pod/using_default_namespace/metadata.json
  assets/queries/terraform/kubernetes_pod/using_default_namespace/query.rego
  assets/queries/terraform/kubernetes_pod/using_default_namespace/test/negative.tf
  assets/queries/terraform/kubernetes_pod/using_default_namespace/test/positive.tf
  assets/queries/terraform/kubernetes_pod/using_default_namespace/test/positive_expected_result.json
Labels: query, terraform

#2537 Add "Container Is Privileged" for Terraform Closes #2536
  assets/queries/terraform/kubernetes/container_is_privileged/metadata.json
  assets/queries/terraform/kubernetes/container_is_privileged/query.rego
  assets/queries/terraform/kubernetes/container_is_privileged/test/negative.tf
  assets/queries/terraform/kubernetes/container_is_privileged/test/positive.tf
  assets/queries/terraform/kubernetes/container_is_privileged/test/positive_expected_result.json
Labels: query, terraform

#2535 Add "CPU Limits Not Set" query for Terraform Closes #2534
  assets/queries/terraform/kubernetes/cpu_limits_not_set/metadata.json
  assets/queries/terraform/kubernetes/cpu_limits_not_set/query.rego
  assets/queries/terraform/kubernetes/cpu_limits_not_set/test/negative.tf
  assets/queries/terraform/kubernetes/cpu_limits_not_set/test/positive.tf
  assets/queries/terraform/kubernetes/cpu_limits_not_set/test/positive_expected_result.json
Labels: query, terraform

#2549 Add "Seccomp Profile Is Not Configured" query for Terraform Closes #2548
  assets/queries/terraform/kubernetes/secoomp_profile_is_not_configured/metadata.json
  assets/queries/terraform/kubernetes/secoomp_profile_is_not_configured/query.rego
  assets/queries/terraform/kubernetes/secoomp_profile_is_not_configured/test/negative.tf
  assets/queries/terraform/kubernetes/secoomp_profile_is_not_configured/test/positive.tf
  assets/queries/terraform/kubernetes/secoomp_profile_is_not_configured/test/positive_expected_result.json
Labels: query, terraform

#2487 Update "Secrets Stored In Dockerfile" for Docker Closes #2486
  assets/queries/dockerfile/secrets_stored_in_dockerfile/query.rego
Labels: docker, query

#2501 Add "Default Service Account In Use" query for Terraform Closes #2499
  assets/queries/terraform/kubernetes_pod/default_service_account_in_use/metadata.json
  assets/queries/terraform/kubernetes_pod/default_service_account_in_use/query.rego
  assets/queries/terraform/kubernetes_pod/default_service_account_in_use/test/negative.tf
  assets/queries/terraform/kubernetes_pod/default_service_account_in_use/test/positive.tf
  assets/queries/terraform/kubernetes_pod/default_service_account_in_use/test/positive_expected_result.json
Labels: query, terraform

#2500 Add "CloudTrail Not Integrated With CloudWatch" query for Terraform and Ansible
  assets/queries/ansible/aws/cloudtrail_not_integrated_with_cloudwatch/metadata.json
  assets/queries/ansible/aws/cloudtrail_not_integrated_with_cloudwatch/query.rego
  assets/queries/ansible/aws/cloudtrail_not_integrated_with_cloudwatch/test/negative.yaml
  assets/queries/ansible/aws/cloudtrail_not_integrated_with_cloudwatch/test/positive.yaml
  assets/queries/ansible/aws/cloudtrail_not_integrated_with_cloudwatch/test/positive_expected_result.json
  assets/queries/cloudFormation/cloudtrail_not_integrated_with_cloud_watch/metadata.json
  assets/queries/cloudFormation/cloudtrail_not_integrated_with_cloud_watch/query.rego
  assets/queries/cloudFormation/cloudtrail_not_integrated_with_cloud_watch/test/positive_expected_result.json
  assets/queries/cloudFormation/cloudtrail_not_integrated_with_cloudwatch/metadata.json
  assets/queries/cloudFormation/cloudtrail_not_integrated_with_cloudwatch/query.rego
  assets/queries/cloudFormation/cloudtrail_not_integrated_with_cloudwatch/test/negative1.yaml
  assets/queries/cloudFormation/cloudtrail_not_integrated_with_cloudwatch/test/negative2.json
  assets/queries/cloudFormation/cloudtrail_not_integrated_with_cloudwatch/test/positive1.yaml
  assets/queries/cloudFormation/cloudtrail_not_integrated_with_cloudwatch/test/positive2.yaml
  assets/queries/cloudFormation/cloudtrail_not_integrated_with_cloudwatch/test/positive3.yaml
  assets/queries/cloudFormation/cloudtrail_not_integrated_with_cloudwatch/test/positive4.json
  assets/queries/cloudFormation/cloudtrail_not_integrated_with_cloudwatch/test/positive5.json
  assets/queries/cloudFormation/cloudtrail_not_integrated_with_cloudwatch/test/positive6.json
  assets/queries/cloudFormation/cloudtrail_not_integrated_with_cloudwatch/test/positive_expected_result.json
  assets/queries/terraform/aws/cloudtrail_not_integrated_with_cloudwatch/metadata.json
  assets/queries/terraform/aws/cloudtrail_not_integrated_with_cloudwatch/query.rego
  assets/queries/terraform/aws/cloudtrail_not_integrated_with_cloudwatch/test/negative.tf
  assets/queries/terraform/aws/cloudtrail_not_integrated_with_cloudwatch/test/positive.tf
  assets/queries/terraform/aws/cloudtrail_not_integrated_with_cloudwatch/test/positive_expected_result.json
Labels: ansible, enhancement, query, terraform

#2461 Add 'Lambda Permission Principal Is Wildcard' query for Terraform and Ansible
  assets/queries/ansible/aws/lambda_permission_principal_is_wildcard/metadata.json
  assets/queries/ansible/aws/lambda_permission_principal_is_wildcard/query.rego
  assets/queries/ansible/aws/lambda_permission_principal_is_wildcard/test/negative.yaml
  assets/queries/ansible/aws/lambda_permission_principal_is_wildcard/test/positive.yaml
  assets/queries/ansible/aws/lambda_permission_principal_is_wildcard/test/positive_expected_result.json
  assets/queries/terraform/aws/lambda_permission_principal_is_wildcard/metadata.json
  assets/queries/terraform/aws/lambda_permission_principal_is_wildcard/query.rego
  assets/queries/terraform/aws/lambda_permission_principal_is_wildcard/test/negative.tf
  assets/queries/terraform/aws/lambda_permission_principal_is_wildcard/test/positive.tf
  assets/queries/terraform/aws/lambda_permission_principal_is_wildcard/test/positive_expected_result.json
Labels: ansible, query, terraform

#2559 Add "HTTP Port Open" query for CloudFormation #2556
  assets/queries/cloudFormation/http_port_open/metadata.json
  assets/queries/cloudFormation/http_port_open/query.rego
  assets/queries/cloudFormation/http_port_open/test/negative1.yaml
  assets/queries/cloudFormation/http_port_open/test/negative2.json
  assets/queries/cloudFormation/http_port_open/test/positive1.yaml
  assets/queries/cloudFormation/http_port_open/test/positive2.json
  assets/queries/cloudFormation/http_port_open/test/positive_expected_result.json
Labels: cloudformation, query

#2555 Add "Remote Desktop Port Open" query for AWS CloudFormation #2547
  assets/queries/cloudFormation/remote_desktop_port_open/metadata.json
  assets/queries/cloudFormation/remote_desktop_port_open/query.rego
  assets/queries/cloudFormation/remote_desktop_port_open/test/negative1.yaml
  assets/queries/cloudFormation/remote_desktop_port_open/test/negative2.json
  assets/queries/cloudFormation/remote_desktop_port_open/test/positive1.yaml
  assets/queries/cloudFormation/remote_desktop_port_open/test/positive2.json
  assets/queries/cloudFormation/remote_desktop_port_open/test/positive_expected_result.json
Labels: cloudformation, query

#2539 Add "MSK Cluster Encryption Disabled" query for CloudFormation #2538
  assets/queries/cloudFormation/msk_cluster_encryption_disabled/metadata.json
  assets/queries/cloudFormation/msk_cluster_encryption_disabled/query.rego
  assets/queries/cloudFormation/msk_cluster_encryption_disabled/test/negative1.yaml
  assets/queries/cloudFormation/msk_cluster_encryption_disabled/test/negative2.yaml
  assets/queries/cloudFormation/msk_cluster_encryption_disabled/test/negative3.json
  assets/queries/cloudFormation/msk_cluster_encryption_disabled/test/negative4.json
  assets/queries/cloudFormation/msk_cluster_encryption_disabled/test/positive1.yaml
  assets/queries/cloudFormation/msk_cluster_encryption_disabled/test/positive2.yaml
  assets/queries/cloudFormation/msk_cluster_encryption_disabled/test/positive3.yaml
  assets/queries/cloudFormation/msk_cluster_encryption_disabled/test/positive4.json
  assets/queries/cloudFormation/msk_cluster_encryption_disabled/test/positive5.json
  assets/queries/cloudFormation/msk_cluster_encryption_disabled/test/positive6.json
  assets/queries/cloudFormation/msk_cluster_encryption_disabled/test/positive_expected_result.json
Labels: cloudformation, query

#2493 Add "Role Binding To Default Service Account" query for Terraform Closes #2491
  assets/queries/k8s/role_binding_to_default_service_account/query.rego
  assets/queries/terraform/kubernetes_pod/role_binding_to_default_service_account/metadata.json
  assets/queries/terraform/kubernetes_pod/role_binding_to_default_service_account/query.rego
  assets/queries/terraform/kubernetes_pod/role_binding_to_default_service_account/test/negative.tf
  assets/queries/terraform/kubernetes_pod/role_binding_to_default_service_account/test/positive.tf
  assets/queries/terraform/kubernetes_pod/role_binding_to_default_service_account/test/positive_expected_result.json
Labels: query, terraform
