Repository Checkmarx/kics, pull requests merged in 2021-06, with the labels that each got.

#3499 feat(query): add "S3 Bucket Public ACL Overridden By Public Access Block" for Terraform
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/metadata.json
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/query.rego
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/test/negative.tf
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/test/positive.tf
  assets/queries/terraform/aws/s3_bucket_public_acl_overridden_by_public_access_block/test/positive_expected_result.json
Labels: aws, query, terraform

#3504 feature(metrics): Metrics default to 'ms' and 'b' for 'ci' flag
  internal/console/scan.go
  internal/metrics/cpu_metric.go
  internal/metrics/mem_metric.go
  internal/metrics/metrics.go
  internal/metrics/metrics_test.go
Labels: enhancement, feature, go

#3508 feat(query): add "SNS Topic Encrypted With AWS Managed Key" for Terraform
  assets/libraries/terraform/library.rego
  assets/queries/terraform/aws/sns_topic_encrypted_with_aws_managed_key/metadata.json
  assets/queries/terraform/aws/sns_topic_encrypted_with_aws_managed_key/query.rego
  assets/queries/terraform/aws/sns_topic_encrypted_with_aws_managed_key/test/negative.tf
  assets/queries/terraform/aws/sns_topic_encrypted_with_aws_managed_key/test/positive1.tf
  assets/queries/terraform/aws/sns_topic_encrypted_with_aws_managed_key/test/positive2.tf
  assets/queries/terraform/aws/sns_topic_encrypted_with_aws_managed_key/test/positive_expected_result.json
Labels: aws, query, terraform

#3515 feat(query): add "SQS VPC Endpoint Without DNS Resolution" for Terraform
  assets/queries/terraform/aws/sqs_vpc_endpoint_without_dns_resolution/metadata.json
  assets/queries/terraform/aws/sqs_vpc_endpoint_without_dns_resolution/query.rego
  assets/queries/terraform/aws/sqs_vpc_endpoint_without_dns_resolution/test/negative.tf
  assets/queries/terraform/aws/sqs_vpc_endpoint_without_dns_resolution/test/positive.tf
  assets/queries/terraform/aws/sqs_vpc_endpoint_without_dns_resolution/test/positive_expected_result.json
Labels: aws, query, terraform

#3516 feat(query): add "Dynamodb VPC Endpoint Without Route Table Association" for Terraform
  assets/queries/terraform/aws/dynamodb_vpc_endpoint_wihout_route_table_association/metadata.json
  assets/queries/terraform/aws/dynamodb_vpc_endpoint_wihout_route_table_association/query.rego
  assets/queries/terraform/aws/dynamodb_vpc_endpoint_wihout_route_table_association/test/negative.tf
  assets/queries/terraform/aws/dynamodb_vpc_endpoint_wihout_route_table_association/test/positive.tf
  assets/queries/terraform/aws/dynamodb_vpc_endpoint_wihout_route_table_association/test/positive_expected_result.json
Labels: aws, query, terraform

#3524 update(query): Updated Passwords And Secrets In Infrastructure Code
  assets/libraries/common/library.rego
Labels: accuracy, query

#3525 fix(metrics): fix get-metrics.py for openapi
  .github/scripts/metrics/get-metrics.py
  assets/queries/openAPI/general/schema_object_with_circular_ref/metadata.json
Labels: CI

#3505 feat(query): moved path object empty query to general queries
  assets/queries/openAPI/3.0/paths_object_empty/metadata.json
  assets/queries/openAPI/3.0/paths_object_empty/test/positive_expected_result.json
  assets/queries/openAPI/general/paths_object_empty/metadata.json
  assets/queries/openAPI/general/paths_object_empty/query.rego
  assets/queries/openAPI/general/paths_object_empty/test/negative1.json
  assets/queries/openAPI/general/paths_object_empty/test/negative2.json
  assets/queries/openAPI/general/paths_object_empty/test/negative3.yaml
  assets/queries/openAPI/general/paths_object_empty/test/negative4.yaml
  assets/queries/openAPI/general/paths_object_empty/test/positive1.json
  assets/queries/openAPI/general/paths_object_empty/test/positive2.json
  assets/queries/openAPI/general/paths_object_empty/test/positive3.yaml
  assets/queries/openAPI/general/paths_object_empty/test/positive4.yaml
  assets/queries/openAPI/general/paths_object_empty/test/positive_expected_result.json
Labels: openapi, query

#3540 Update getting-started.md
  docs/getting-started.md
Labels: documentation

#3511 feat(query): moved missing required property query to general
  assets/queries/openAPI/3.0/properties_missing_required_property/metadata.json
  assets/queries/openAPI/3.0/properties_missing_required_property/test/positive_expected_result.json
  assets/queries/openAPI/general/properties_missing_required_property/metadata.json
  assets/queries/openAPI/general/properties_missing_required_property/query.rego
  assets/queries/openAPI/general/properties_missing_required_property/test/negative1.json
  assets/queries/openAPI/general/properties_missing_required_property/test/negative2.yaml
  assets/queries/openAPI/general/properties_missing_required_property/test/negative3.json
  assets/queries/openAPI/general/properties_missing_required_property/test/negative4.yaml
  assets/queries/openAPI/general/properties_missing_required_property/test/negative5.json
  assets/queries/openAPI/general/properties_missing_required_property/test/negative6.yaml
  assets/queries/openAPI/general/properties_missing_required_property/test/positive1.json
  assets/queries/openAPI/general/properties_missing_required_property/test/positive2.yaml
  assets/queries/openAPI/general/properties_missing_required_property/test/positive3.json
  assets/queries/openAPI/general/properties_missing_required_property/test/positive4.yaml
  assets/queries/openAPI/general/properties_missing_required_property/test/positive5.json
  assets/queries/openAPI/general/properties_missing_required_property/test/positive6.yaml
  assets/queries/openAPI/general/properties_missing_required_property/test/positive_expected_result.json
Labels: openapi, query

#3513 feat(query): moved operation id not unique query to general
  assets/queries/openAPI/3.0/operation_id_not_unique/metadata.json
  assets/queries/openAPI/3.0/operation_id_not_unique/test/positive_expected_result.json
  assets/queries/openAPI/general/operation_id_not_unique/metadata.json
  assets/queries/openAPI/general/operation_id_not_unique/query.rego
  assets/queries/openAPI/general/operation_id_not_unique/test/negative1.json
  assets/queries/openAPI/general/operation_id_not_unique/test/negative2.yaml
  assets/queries/openAPI/general/operation_id_not_unique/test/negative3.json
  assets/queries/openAPI/general/operation_id_not_unique/test/negative4.yaml
  assets/queries/openAPI/general/operation_id_not_unique/test/positive1.json
  assets/queries/openAPI/general/operation_id_not_unique/test/positive2.yaml
  assets/queries/openAPI/general/operation_id_not_unique/test/positive3.json
  assets/queries/openAPI/general/operation_id_not_unique/test/positive4.yaml
  assets/queries/openAPI/general/operation_id_not_unique/test/positive_expected_result.json
Labels: openapi, query

#3527 feat(query): moved response wrong http status code query to general
  assets/queries/openAPI/3.0/responses_wrong_http_status_code/metadata.json
  assets/queries/openAPI/3.0/responses_wrong_http_status_code/test/positive_expected_result.json
  assets/queries/openAPI/general/responses_wrong_http_status_code/metadata.json
  assets/queries/openAPI/general/responses_wrong_http_status_code/query.rego
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/negative1.json
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/negative2.yaml
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/negative3.json
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/negative4.yaml
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/positive1.json
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/positive2.yaml
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/positive3.json
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/positive4.yaml
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/positive_expected_result.json
Labels: openapi, query

#3530 feat(query): moved "Path Template Empty" query to general
  assets/queries/openAPI/3.0/path_template_empty/metadata.json
  assets/queries/openAPI/3.0/path_template_empty/test/positive_expected_result.json
  assets/queries/openAPI/general/path_template_empty/metadata.json
  assets/queries/openAPI/general/path_template_empty/query.rego
  assets/queries/openAPI/general/path_template_empty/test/negative1.yaml
  assets/queries/openAPI/general/path_template_empty/test/negative2.json
  assets/queries/openAPI/general/path_template_empty/test/negative3.yaml
  assets/queries/openAPI/general/path_template_empty/test/negative4.json
  assets/queries/openAPI/general/path_template_empty/test/positive1.yaml
  assets/queries/openAPI/general/path_template_empty/test/positive2.json
  assets/queries/openAPI/general/path_template_empty/test/positive3.yaml
  assets/queries/openAPI/general/path_template_empty/test/positive4.json
  assets/queries/openAPI/general/path_template_empty/test/positive_expected_result.json
Labels: openapi, query

#3535 feat(query): moved "Schema Has A Required Property Undefined" to general
  assets/queries/openAPI/3.0/schema_required_property_undefined/metadata.json
  assets/queries/openAPI/3.0/schema_required_property_undefined/test/positive_expected_result.json
  assets/queries/openAPI/general/schema_required_property_undefined/metadata.json
  assets/queries/openAPI/general/schema_required_property_undefined/query.rego
  assets/queries/openAPI/general/schema_required_property_undefined/test/negative1.json
  assets/queries/openAPI/general/schema_required_property_undefined/test/negative2.json
  assets/queries/openAPI/general/schema_required_property_undefined/test/negative3.yaml
  assets/queries/openAPI/general/schema_required_property_undefined/test/negative4.yaml
  assets/queries/openAPI/general/schema_required_property_undefined/test/negative5.yaml
  assets/queries/openAPI/general/schema_required_property_undefined/test/negative6.json
  assets/queries/openAPI/general/schema_required_property_undefined/test/positive1.json
  assets/queries/openAPI/general/schema_required_property_undefined/test/positive2.json
  assets/queries/openAPI/general/schema_required_property_undefined/test/positive3.yaml
  assets/queries/openAPI/general/schema_required_property_undefined/test/positive4.yaml
  assets/queries/openAPI/general/schema_required_property_undefined/test/positive5.json
  assets/queries/openAPI/general/schema_required_property_undefined/test/positive6.yaml
  assets/queries/openAPI/general/schema_required_property_undefined/test/positive_expected_result.json
Labels: openapi, query

#3537 feat(query): moved "Invalid Operation External Documentation URL" to general
  assets/queries/openAPI/3.0/invalid_operation_external_documentation_url/metadata.json
  assets/queries/openAPI/3.0/invalid_operation_external_documentation_url/test/positive_expected_result.json
  assets/queries/openAPI/general/invalid_operation_external_documentation_url/metadata.json
  assets/queries/openAPI/general/invalid_operation_external_documentation_url/query.rego
  assets/queries/openAPI/general/invalid_operation_external_documentation_url/test/negative1.json
  assets/queries/openAPI/general/invalid_operation_external_documentation_url/test/negative2.yaml
  assets/queries/openAPI/general/invalid_operation_external_documentation_url/test/negative3.json
  assets/queries/openAPI/general/invalid_operation_external_documentation_url/test/negative4.yaml
  assets/queries/openAPI/general/invalid_operation_external_documentation_url/test/positive1.json
  assets/queries/openAPI/general/invalid_operation_external_documentation_url/test/positive2.yaml
  assets/queries/openAPI/general/invalid_operation_external_documentation_url/test/positive3.json
  assets/queries/openAPI/general/invalid_operation_external_documentation_url/test/positive4.yaml
  assets/queries/openAPI/general/invalid_operation_external_documentation_url/test/positive_expected_result.json
Labels: openapi, query

#3546 feat(query): fix samples in 'OperationId Not Unique' query
  assets/queries/openAPI/general/operation_id_not_unique/test/negative1.json
  assets/queries/openAPI/general/operation_id_not_unique/test/negative3.json
  assets/queries/openAPI/general/operation_id_not_unique/test/negative4.yaml
  assets/queries/openAPI/general/operation_id_not_unique/test/positive1.json
  assets/queries/openAPI/general/operation_id_not_unique/test/positive3.json
  assets/queries/openAPI/general/operation_id_not_unique/test/positive4.yaml
  assets/queries/openAPI/general/operation_id_not_unique/test/positive_expected_result.json
Labels: openapi, query

#3534 feat(query): moved "Path Is Ambiguous" query to general
  assets/queries/openAPI/3.0/path_ambiguous/test/negative1.yaml
  assets/queries/openAPI/3.0/path_ambiguous/test/positive1.yaml
  assets/queries/openAPI/3.0/path_ambiguous/test/positive_expected_result.json
  assets/queries/openAPI/general/path_ambiguous/metadata.json
  assets/queries/openAPI/general/path_ambiguous/query.rego
  assets/queries/openAPI/general/path_ambiguous/test/negative1.yaml
  assets/queries/openAPI/general/path_ambiguous/test/negative2.json
  assets/queries/openAPI/general/path_ambiguous/test/negative3.yaml
  assets/queries/openAPI/general/path_ambiguous/test/negative4.json
  assets/queries/openAPI/general/path_ambiguous/test/positive1.yaml
  assets/queries/openAPI/general/path_ambiguous/test/positive2.json
  assets/queries/openAPI/general/path_ambiguous/test/positive3.yaml
  assets/queries/openAPI/general/path_ambiguous/test/positive4.json
  assets/queries/openAPI/general/path_ambiguous/test/positive_expected_result.json
Labels: openapi, query

#3538 feat(query): moved 'Invalid Tag External Documentation URL' to general
  assets/queries/openAPI/3.0/invalid_tag_external_documentation_url/metadata.json
  assets/queries/openAPI/3.0/invalid_tag_external_documentation_url/test/positive_expected_result.json
  assets/queries/openAPI/general/invalid_tag_external_documentation_url/metadata.json
  assets/queries/openAPI/general/invalid_tag_external_documentation_url/query.rego
  assets/queries/openAPI/general/invalid_tag_external_documentation_url/test/negative1.json
  assets/queries/openAPI/general/invalid_tag_external_documentation_url/test/negative2.yaml
  assets/queries/openAPI/general/invalid_tag_external_documentation_url/test/negative3.json
  assets/queries/openAPI/general/invalid_tag_external_documentation_url/test/negativer4.yaml
  assets/queries/openAPI/general/invalid_tag_external_documentation_url/test/positive1.json
  assets/queries/openAPI/general/invalid_tag_external_documentation_url/test/positive2.yaml
  assets/queries/openAPI/general/invalid_tag_external_documentation_url/test/positive3.json
  assets/queries/openAPI/general/invalid_tag_external_documentation_url/test/positive4.yaml
  assets/queries/openAPI/general/invalid_tag_external_documentation_url/test/positive_expected_result.json
Labels: openapi, query

#3544 feat(query): moved 'Header Parameter Named as 'Accept'' to general
  assets/queries/openAPI/3.0/header_parameter_named_as_accept/metadata.json
  assets/queries/openAPI/3.0/header_parameter_named_as_accept/query.rego
  assets/queries/openAPI/3.0/header_parameter_named_as_accept/test/positive_expected_result.json
  assets/queries/openAPI/general/header_parameter_named_as_accept/metadata.json
  assets/queries/openAPI/general/header_parameter_named_as_accept/query.rego
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/negative1.json
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/negative2.yaml
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/negative3.json
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/negative4.yaml
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/negative5.json
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/negative6.yaml
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/positive1.json
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/positive2.yaml
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/positive3.json
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/positive4.yaml
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/positive5.json
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/positive6.yaml
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/positive_expected_result.json
Labels: openapi, query

#3545 feat(query): moved 'Header Parameter Named as 'Authorization'' to general
  assets/queries/openAPI/3.0/header_parameter_named_as_authorization/metadata.json
  assets/queries/openAPI/3.0/header_parameter_named_as_authorization/query.rego
  assets/queries/openAPI/3.0/header_parameter_named_as_authorization/test/positive_expected_result.json
  assets/queries/openAPI/general/header_parameter_named_as_authorization/metadata.json
  assets/queries/openAPI/general/header_parameter_named_as_authorization/query.rego
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/negative1.json
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/negative2.yaml
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/negative3.json
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/negative4.yaml
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/negative5.json
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/negative6.yaml
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/positive1.json
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/positive2.yaml
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/positive3.json
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/positive4.yaml
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/positive5.json
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/positive6.yaml
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/positive_expected_result.json
Labels: openapi, query

#3558 feat(query): moved 'Header Parameter Named as 'Content-Type'' to general
  assets/queries/openAPI/3.0/header_parameter_named_as_content_type/metadata.json
  assets/queries/openAPI/3.0/header_parameter_named_as_content_type/query.rego
  assets/queries/openAPI/3.0/header_parameter_named_as_content_type/test/positive_expected_result.json
  assets/queries/openAPI/general/header_parameter_named_as_content_type/metadata.json
  assets/queries/openAPI/general/header_parameter_named_as_content_type/query.rego
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/negative1.json
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/negative2.yaml
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/negative3.json
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/negative4.yaml
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/negative5.json
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/negative6.yaml
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/positive1.json
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/positive2.yaml
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/positive3.json
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/positive4.yaml
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/positive5.json
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/positive6.yaml
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/positive_expected_result.json
Labels: openapi, query

#3539 feat(query): moved 'Invalid Contact Email' query to general
  assets/queries/openAPI/3.0/invalid_contact_email/metadata.json
  assets/queries/openAPI/3.0/invalid_contact_email/test/positive_expected_result.json
  assets/queries/openAPI/general/invalid_contact_email/metadata.json
  assets/queries/openAPI/general/invalid_contact_email/query.rego
  assets/queries/openAPI/general/invalid_contact_email/test/negative1.json
  assets/queries/openAPI/general/invalid_contact_email/test/negative2.yaml
  assets/queries/openAPI/general/invalid_contact_email/test/negative3.json
  assets/queries/openAPI/general/invalid_contact_email/test/negative4.yaml
  assets/queries/openAPI/general/invalid_contact_email/test/positive1.json
  assets/queries/openAPI/general/invalid_contact_email/test/positive2.yaml
  assets/queries/openAPI/general/invalid_contact_email/test/positive3.json
  assets/queries/openAPI/general/invalid_contact_email/test/positive4.yaml
  assets/queries/openAPI/general/invalid_contact_email/test/positive_expected_result.json
Labels: openapi, query

#3541 feat(query): moved 'Invalid Contact URL' query to general
  assets/queries/openAPI/3.0/invalid_contact_url/metadata.json
  assets/queries/openAPI/3.0/invalid_contact_url/test/positive_expected_result.json
  assets/queries/openAPI/general/invalid_contact_url/metadata.json
  assets/queries/openAPI/general/invalid_contact_url/query.rego
  assets/queries/openAPI/general/invalid_contact_url/test/negative1.json
  assets/queries/openAPI/general/invalid_contact_url/test/negative2.yaml
  assets/queries/openAPI/general/invalid_contact_url/test/negative3.json
  assets/queries/openAPI/general/invalid_contact_url/test/negative4.yaml
  assets/queries/openAPI/general/invalid_contact_url/test/positive1.json
  assets/queries/openAPI/general/invalid_contact_url/test/positive2.yaml
  assets/queries/openAPI/general/invalid_contact_url/test/positive3.json
  assets/queries/openAPI/general/invalid_contact_url/test/positive4.yaml
  assets/queries/openAPI/general/invalid_contact_url/test/positive_expected_result.json
Labels: openapi, query

#3542 feat(query): moved 'Required Property With Default Value' to general
  assets/queries/openAPI/3.0/required_property_default_value/metadata.json
  assets/queries/openAPI/3.0/required_property_default_value/test/positive_expected_result.json
  assets/queries/openAPI/general/required_property_default_value/metadata.json
  assets/queries/openAPI/general/required_property_default_value/query.rego
  assets/queries/openAPI/general/required_property_default_value/test/negative1.json
  assets/queries/openAPI/general/required_property_default_value/test/negative2.json
  assets/queries/openAPI/general/required_property_default_value/test/negative3.yaml
  assets/queries/openAPI/general/required_property_default_value/test/negative4.yaml
  assets/queries/openAPI/general/required_property_default_value/test/negative5.json
  assets/queries/openAPI/general/required_property_default_value/test/negative6.yaml
  assets/queries/openAPI/general/required_property_default_value/test/positive1.json
  assets/queries/openAPI/general/required_property_default_value/test/positive2.json
  assets/queries/openAPI/general/required_property_default_value/test/positive3.yaml
  assets/queries/openAPI/general/required_property_default_value/test/positive4.yaml
  assets/queries/openAPI/general/required_property_default_value/test/positive5.json
  assets/queries/openAPI/general/required_property_default_value/test/positive6.yaml
  assets/queries/openAPI/general/required_property_default_value/test/positive_expected_result.json
Labels: openapi, query

#3543 feat(query): moved 'Invalid Global External Documentation URL' to general
  assets/queries/openAPI/3.0/invalid_global_external_documentation_url/metadata.json
  assets/queries/openAPI/3.0/invalid_global_external_documentation_url/test/positive_expected_result.json
  assets/queries/openAPI/general/invalid_global_external_documentation_url/metadata.json
  assets/queries/openAPI/general/invalid_global_external_documentation_url/query.rego
  assets/queries/openAPI/general/invalid_global_external_documentation_url/test/negative1.json
  assets/queries/openAPI/general/invalid_global_external_documentation_url/test/negative2.yaml
  assets/queries/openAPI/general/invalid_global_external_documentation_url/test/negative3.json
  assets/queries/openAPI/general/invalid_global_external_documentation_url/test/negative4.yaml
  assets/queries/openAPI/general/invalid_global_external_documentation_url/test/positive1.json
  assets/queries/openAPI/general/invalid_global_external_documentation_url/test/positive2.yaml
  assets/queries/openAPI/general/invalid_global_external_documentation_url/test/positive3.json
  assets/queries/openAPI/general/invalid_global_external_documentation_url/test/positive4.yaml
  assets/queries/openAPI/general/invalid_global_external_documentation_url/test/positive_expected_result.json
Labels: openapi, query

#3547 feat(query): fix samples in 'Parameter Objects Headers With Duplicated Name' query
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/negative3.json
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/negative4.yaml
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/negative5.json
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/negative6.yaml
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/positive3.json
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/positive4.yaml
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/positive5.json
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/positive6.yaml
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/positive_expected_result.json
Labels: openapi, query

#3548 feat(query): fix samples in 'Path Template is Empty' query
  assets/queries/openAPI/general/path_template_empty/test/negative1.yaml
  assets/queries/openAPI/general/path_template_empty/test/negative2.json
  assets/queries/openAPI/general/path_template_empty/test/negative3.yaml
  assets/queries/openAPI/general/path_template_empty/test/negative4.json
  assets/queries/openAPI/general/path_template_empty/test/positive1.yaml
  assets/queries/openAPI/general/path_template_empty/test/positive2.json
  assets/queries/openAPI/general/path_template_empty/test/positive3.yaml
  assets/queries/openAPI/general/path_template_empty/test/positive4.json
Labels: openapi, query

#3549 feat(query): fix samples in 'Paths Object is Empty' query
  assets/queries/openAPI/general/paths_object_empty/test/negative2.json
  assets/queries/openAPI/general/paths_object_empty/test/negative4.yaml
  assets/queries/openAPI/general/paths_object_empty/test/positive4.yaml
Labels: openapi, query

#3550 feat(query): fix samples in 'Properties Missing Required Property' query
  assets/queries/openAPI/general/properties_missing_required_property/test/negative1.json
  assets/queries/openAPI/general/properties_missing_required_property/test/negative2.yaml
  assets/queries/openAPI/general/properties_missing_required_property/test/negative3.json
  assets/queries/openAPI/general/properties_missing_required_property/test/negative4.yaml
  assets/queries/openAPI/general/properties_missing_required_property/test/negative5.json
  assets/queries/openAPI/general/properties_missing_required_property/test/negative6.yaml
  assets/queries/openAPI/general/properties_missing_required_property/test/positive1.json
  assets/queries/openAPI/general/properties_missing_required_property/test/positive2.yaml
  assets/queries/openAPI/general/properties_missing_required_property/test/positive3.json
  assets/queries/openAPI/general/properties_missing_required_property/test/positive4.yaml
  assets/queries/openAPI/general/properties_missing_required_property/test/positive5.json
  assets/queries/openAPI/general/properties_missing_required_property/test/positive6.yaml
  assets/queries/openAPI/general/properties_missing_required_property/test/positive_expected_result.json
Labels: openapi, query

#3551 feat(query): fix samples in 'Property Defining Minimum Greater Than Maximum' query
  assets/queries/openAPI/general/property_defining_maximum_not_greater_than_minimum/test/negative1.json
  assets/queries/openAPI/general/property_defining_maximum_not_greater_than_minimum/test/negative2.json
  assets/queries/openAPI/general/property_defining_maximum_not_greater_than_minimum/test/negative3.yaml
  assets/queries/openAPI/general/property_defining_maximum_not_greater_than_minimum/test/negative4.yaml
  assets/queries/openAPI/general/property_defining_maximum_not_greater_than_minimum/test/negative5.json
  assets/queries/openAPI/general/property_defining_maximum_not_greater_than_minimum/test/negative6.yaml
  assets/queries/openAPI/general/property_defining_maximum_not_greater_than_minimum/test/negative7.yaml
  assets/queries/openAPI/general/property_defining_maximum_not_greater_than_minimum/test/negative8.json
  assets/queries/openAPI/general/property_defining_maximum_not_greater_than_minimum/test/positive1.json
  assets/queries/openAPI/general/property_defining_maximum_not_greater_than_minimum/test/positive3.yaml
  assets/queries/openAPI/general/property_defining_maximum_not_greater_than_minimum/test/positive5.yaml
  assets/queries/openAPI/general/property_defining_maximum_not_greater_than_minimum/test/positive6.yaml
  assets/queries/openAPI/general/property_defining_maximum_not_greater_than_minimum/test/positive7.json
  assets/queries/openAPI/general/property_defining_maximum_not_greater_than_minimum/test/positive_expected_result.json
Labels: openapi, query

#3552 feat(query): fix samples in 'Responses With Wrong HTTP Status Code' query
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/negative1.json
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/negative2.yaml
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/negative3.json
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/negative4.yaml
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/positive4.yaml
Labels: openapi, query

#3553 feat(query): fix samples in 'Schema Object With Circular Ref' query
  assets/queries/openAPI/general/schema_object_with_circular_ref/test/negative1.json
  assets/queries/openAPI/general/schema_object_with_circular_ref/test/negative2.json
  assets/queries/openAPI/general/schema_object_with_circular_ref/test/negative3.yaml
  assets/queries/openAPI/general/schema_object_with_circular_ref/test/negative4.yaml
  assets/queries/openAPI/general/schema_object_with_circular_ref/test/positive1.json
  assets/queries/openAPI/general/schema_object_with_circular_ref/test/positive2.json
  assets/queries/openAPI/general/schema_object_with_circular_ref/test/positive3.yaml
  assets/queries/openAPI/general/schema_object_with_circular_ref/test/positive4.yaml
  assets/queries/openAPI/general/schema_object_with_circular_ref/test/positive_expected_result.json
Labels: openapi, query

#3554 feat(query): fix samples in 'Template Path With No Corresponding Path Parameter' query
  assets/queries/openAPI/general/template_path_parameter_with_no_corresponding_path_parameter/test/negative1.yaml
  assets/queries/openAPI/general/template_path_parameter_with_no_corresponding_path_parameter/test/negative2.json
  assets/queries/openAPI/general/template_path_parameter_with_no_corresponding_path_parameter/test/negative3.yaml
  assets/queries/openAPI/general/template_path_parameter_with_no_corresponding_path_parameter/test/negative4.json
  assets/queries/openAPI/general/template_path_parameter_with_no_corresponding_path_parameter/test/positive1.yaml
  assets/queries/openAPI/general/template_path_parameter_with_no_corresponding_path_parameter/test/positive2.json
  assets/queries/openAPI/general/template_path_parameter_with_no_corresponding_path_parameter/test/positive3.yaml
  assets/queries/openAPI/general/template_path_parameter_with_no_corresponding_path_parameter/test/positive4.json
  assets/queries/openAPI/general/template_path_parameter_with_no_corresponding_path_parameter/test/positive5.yaml
  assets/queries/openAPI/general/template_path_parameter_with_no_corresponding_path_parameter/test/positive6.json
  assets/queries/openAPI/general/template_path_parameter_with_no_corresponding_path_parameter/test/positive7.yaml
  assets/queries/openAPI/general/template_path_parameter_with_no_corresponding_path_parameter/test/positive8.json
  assets/queries/openAPI/general/template_path_parameter_with_no_corresponding_path_parameter/test/positive_expected_result.json
Labels: openapi, query

#3555 docs(catalog): support override in query catalog generation
  .github/scripts/docs-generator/docs-generator.py
  docs/queries/all-queries.md
  docs/queries/ansible-queries.md
  docs/queries/cloudformation-queries.md
  docs/queries/dockerfile-queries.md
  docs/queries/kubernetes-queries.md
  docs/queries/openapi-queries.md
  docs/queries/terraform-queries.md
Labels: CI, documentation

#3560 feat(query): moved 'Operation Without Successful HTTP Status Code' to general
  assets/queries/openAPI/3.0/operation_without_successful_http_status_code/metadata.json
  assets/queries/openAPI/3.0/operation_without_successful_http_status_code/test/positive_expected_result.json
  assets/queries/openAPI/general/operation_without_successful_http_status_code/metadata.json
  assets/queries/openAPI/general/operation_without_successful_http_status_code/query.rego
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative1.json
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative2.yaml
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative3.json
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative4.yaml
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/positive1.json
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/positive2.yaml
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/positive3.json
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/positive4.yaml
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/positive_expected_result.json
Labels: openapi, query

#3531 fix(parser): yaml parser panics on templated files #3529
  pkg/parser/yaml/parser.go
  pkg/parser/yaml/parser_test.go
Labels: bug, go

#3562 feat(query): moved 'JSON '$ref' alongside other properties' to general
  assets/queries/openAPI/3.0/json_ref_alongside_properties/metadata.json
  assets/queries/openAPI/3.0/json_ref_alongside_properties/test/positive_expected_result.json
  assets/queries/openAPI/general/json_ref_alongside_properties/metadata.json
  assets/queries/openAPI/general/json_ref_alongside_properties/query.rego
  assets/queries/openAPI/general/json_ref_alongside_properties/test/negative1.json
  assets/queries/openAPI/general/json_ref_alongside_properties/test/negative2.yaml
  assets/queries/openAPI/general/json_ref_alongside_properties/test/negative3.json
  assets/queries/openAPI/general/json_ref_alongside_properties/test/negative4.yaml
  assets/queries/openAPI/general/json_ref_alongside_properties/test/positive1.json
  assets/queries/openAPI/general/json_ref_alongside_properties/test/positive2.yaml
  assets/queries/openAPI/general/json_ref_alongside_properties/test/positive3.json
  assets/queries/openAPI/general/json_ref_alongside_properties/test/positive4.yaml
  assets/queries/openAPI/general/json_ref_alongside_properties/test/positive_expected_result.json
Labels: openapi, query

#3563 feat(query): moved 'Path Without Operation' to general
  assets/queries/openAPI/3.0/path_without_operation/metadata.json
  assets/queries/openAPI/3.0/path_without_operation/test/positive_expected_result.json
  assets/queries/openAPI/general/path_without_operation/metadata.json
  assets/queries/openAPI/general/path_without_operation/query.rego
  assets/queries/openAPI/general/path_without_operation/test/negative1.json
  assets/queries/openAPI/general/path_without_operation/test/negative2.yaml
  assets/queries/openAPI/general/path_without_operation/test/negative3.json
  assets/queries/openAPI/general/path_without_operation/test/negative4.yaml
  assets/queries/openAPI/general/path_without_operation/test/positive1.json
  assets/queries/openAPI/general/path_without_operation/test/positive2.yaml
  assets/queries/openAPI/general/path_without_operation/test/positive3.json
  assets/queries/openAPI/general/path_without_operation/test/positive4.yaml
  assets/queries/openAPI/general/path_without_operation/test/positive_expected_result.json
Labels: openapi, query

#3565 feat(query): moved 'Schema Invalid Number Format' to general
  assets/queries/openAPI/3.0/schema_invalid_number_format/metadata.json
  assets/queries/openAPI/3.0/schema_invalid_number_format/test/positive_expected_result.json
  assets/queries/openAPI/general/invalid_format/metadata.json
  assets/queries/openAPI/general/invalid_format/query.rego
  assets/queries/openAPI/general/invalid_format/test/negative1.json
  assets/queries/openAPI/general/invalid_format/test/negative2.yaml
  assets/queries/openAPI/general/invalid_format/test/negative3.json
  assets/queries/openAPI/general/invalid_format/test/negative4.yaml
  assets/queries/openAPI/general/invalid_format/test/positive1.json
  assets/queries/openAPI/general/invalid_format/test/positive2.yaml
  assets/queries/openAPI/general/invalid_format/test/positive3.json
  assets/queries/openAPI/general/invalid_format/test/positive4.yaml
  assets/queries/openAPI/general/invalid_format/test/positive_expected_result.json
Labels: openapi, query

#3564 feat(query): moved Schema Object Properties With Duplicated Keys query to general for open api
  assets/queries/openAPI/3.0/schema_object_properties_with_duplicated_keys/metadata.json
  assets/queries/openAPI/3.0/schema_object_properties_with_duplicated_keys/test/positive_expected_result.json
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/metadata.json
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/query.rego
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/test/negative1.json
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/test/negative2.yaml
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/test/negative3.json
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/test/negative4.yaml
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/test/negative5.json
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/test/negative6.yaml
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/test/positive1.json
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/test/positive2.yaml
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/test/positive3.json
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/test/positive4.yaml
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/test/positive5.json
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/test/positive6.yaml
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/test/positive_expected_result.json
Labels: openapi, query

#3566 feat(query): moved 'Schema Type Has Invalid Keyword' to general
  assets/queries/openAPI/3.0/schema_type_invalid_property/metadata.json
  assets/queries/openAPI/3.0/schema_type_invalid_property/test/positive_expected_result.json
  assets/queries/openAPI/general/type_has_invalid_keyword/metadata.json
  assets/queries/openAPI/general/type_has_invalid_keyword/query.rego
  assets/queries/openAPI/general/type_has_invalid_keyword/test/negative1.json
  assets/queries/openAPI/general/type_has_invalid_keyword/test/negative2.yaml
  assets/queries/openAPI/general/type_has_invalid_keyword/test/negative3.json
  assets/queries/openAPI/general/type_has_invalid_keyword/test/negative4.yaml
  assets/queries/openAPI/general/type_has_invalid_keyword/test/positive1.json
  assets/queries/openAPI/general/type_has_invalid_keyword/test/positive2.json
  assets/queries/openAPI/general/type_has_invalid_keyword/test/positive3.json
  assets/queries/openAPI/general/type_has_invalid_keyword/test/positive4.yaml
  assets/queries/openAPI/general/type_has_invalid_keyword/test/positive5.yaml
  assets/queries/openAPI/general/type_has_invalid_keyword/test/positive6.yaml
  assets/queries/openAPI/general/type_has_invalid_keyword/test/positive7.json
  assets/queries/openAPI/general/type_has_invalid_keyword/test/positive8.yaml
  assets/queries/openAPI/general/type_has_invalid_keyword/test/positive_expected_result.json
Labels: openapi, query

#3593 Update License to exclude CIS proprietary content
  LICENSE
Labels: documentation

#3598 fix(log): creates directories and file for log-path flag
  internal/console/printer/printer.go
  internal/console/printer/printer_test.go
Labels: bug, go

#3570 feat(query): moved 'Schema Array Items Has No Type' to general
  assets/queries/openAPI/3.0/schema_array_items_has_no_type/metadata.json
  assets/queries/openAPI/3.0/schema_array_items_has_no_type/test/positive_expected_result.json
  assets/queries/openAPI/general/array_items_has_no_type/metadata.json
  assets/queries/openAPI/general/array_items_has_no_type/query.rego
  assets/queries/openAPI/general/array_items_has_no_type/test/negative1.json
  assets/queries/openAPI/general/array_items_has_no_type/test/negative2.yaml
  assets/queries/openAPI/general/array_items_has_no_type/test/negative3.json
  assets/queries/openAPI/general/array_items_has_no_type/test/negative4.yaml
  assets/queries/openAPI/general/array_items_has_no_type/test/positive1.json
  assets/queries/openAPI/general/array_items_has_no_type/test/positive2.json
  assets/queries/openAPI/general/array_items_has_no_type/test/positive3.json
  assets/queries/openAPI/general/array_items_has_no_type/test/positive4.yaml
  assets/queries/openAPI/general/array_items_has_no_type/test/positive5.yaml
  assets/queries/openAPI/general/array_items_has_no_type/test/positive6.yaml
  assets/queries/openAPI/general/array_items_has_no_type/test/positive7.json
  assets/queries/openAPI/general/array_items_has_no_type/test/positive8.yaml
  assets/queries/openAPI/general/array_items_has_no_type/test/positive_expected_result.json
Labels: openapi, query

#3600 fix(query): corrected some aggregations on metadata
  assets/queries/openAPI/3.0/api_key_exposed_in_global_security/metadata.json
  assets/queries/openAPI/3.0/api_key_exposed_in_global_security_scheme/metadata.json
  assets/queries/openAPI/3.0/api_key_exposed_in_operation_security/metadata.json
  assets/queries/openAPI/3.0/cleartext_api_key_in_global_security/metadata.json
  assets/queries/openAPI/3.0/cleartext_api_key_in_operation_security/metadata.json
Labels: openapi, query

#3584 feat(query): moved numeric schema without format query to general
  assets/queries/openAPI/3.0/numeric_schema_without_format/metadata.json
  assets/queries/openAPI/3.0/numeric_schema_without_format/query.rego
  assets/queries/openAPI/3.0/numeric_schema_without_format/test/positive_expected_result.json
  assets/queries/openAPI/general/numeric_schema_without_format/metadata.json
  assets/queries/openAPI/general/numeric_schema_without_format/query.rego
  assets/queries/openAPI/general/numeric_schema_without_format/test/negative1.json
  assets/queries/openAPI/general/numeric_schema_without_format/test/negative2.json
  assets/queries/openAPI/general/numeric_schema_without_format/test/negative3.yaml
  assets/queries/openAPI/general/numeric_schema_without_format/test/negative4.yaml
  assets/queries/openAPI/general/numeric_schema_without_format/test/negative5.json
  assets/queries/openAPI/general/numeric_schema_without_format/test/negative6.yaml
  assets/queries/openAPI/general/numeric_schema_without_format/test/positive1.json
  assets/queries/openAPI/general/numeric_schema_without_format/test/positive2.json
  assets/queries/openAPI/general/numeric_schema_without_format/test/positive3.yaml
  assets/queries/openAPI/general/numeric_schema_without_format/test/positive4.yaml
  assets/queries/openAPI/general/numeric_schema_without_format/test/positive5.json
  assets/queries/openAPI/general/numeric_schema_without_format/test/positive6.yaml
  assets/queries/openAPI/general/numeric_schema_without_format/test/positive_expected_result.json
Labels: openapi, query

#3587 feat(query): moved numeric schema without maximum to general
  assets/queries/openAPI/3.0/numeric_schema_without_maximum/metadata.json
  assets/queries/openAPI/3.0/numeric_schema_without_maximum/query.rego
  assets/queries/openAPI/3.0/numeric_schema_without_maximum/test/positive_expected_result.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/metadata.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/query.rego
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/negative1.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/negative2.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/negative3.yaml
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/negative4.yaml
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/negative5.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/negative6.yaml
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/positive1.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/positive2.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/positive3.yaml
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/positive4.yaml
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/positive5.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/positive6.yaml
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/positive_expected_result.json
Labels: openapi, query

#3588 feat(query): moved numeric schema without minimum to general
  assets/queries/openAPI/3.0/numeric_schema_without_minimum/metadata.json
  assets/queries/openAPI/3.0/numeric_schema_without_minimum/query.rego
  assets/queries/openAPI/3.0/numeric_schema_without_minimum/test/positive_expected_result.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/metadata.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/query.rego
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/negative1.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/negative2.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/negative3.yaml
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/negative4.yaml
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/negative5.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/negative6.yaml
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/positive1.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/positive2.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/positive3.yaml
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/positive4.yaml
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/positive5.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/positive6.yaml
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/positive_expected_result.json
Labels: openapi, query

#3571 feat(query): moved 'Array Schema Without Max Num of Items' to general
  assets/queries/openAPI/3.0/array_schema_without_maximum_number_items/metadata.json
  assets/queries/openAPI/3.0/array_schema_without_maximum_number_items/test/positive_expected_result.json
  assets/queries/openAPI/general/array_without_maximum_number_items/metadata.json
  assets/queries/openAPI/general/array_without_maximum_number_items/query.rego
  assets/queries/openAPI/general/array_without_maximum_number_items/test/negative1.json
  assets/queries/openAPI/general/array_without_maximum_number_items/test/negative2.json
  assets/queries/openAPI/general/array_without_maximum_number_items/test/negative3.yaml
  assets/queries/openAPI/general/array_without_maximum_number_items/test/negative4.yaml
  assets/queries/openAPI/general/array_without_maximum_number_items/test/negative5.json
  assets/queries/openAPI/general/array_without_maximum_number_items/test/negative6.yaml
  assets/queries/openAPI/general/array_without_maximum_number_items/test/positive1.json
  assets/queries/openAPI/general/array_without_maximum_number_items/test/positive2.json
  assets/queries/openAPI/general/array_without_maximum_number_items/test/positive3.yaml
  assets/queries/openAPI/general/array_without_maximum_number_items/test/positive4.yaml
  assets/queries/openAPI/general/array_without_maximum_number_items/test/positive5.json
  assets/queries/openAPI/general/array_without_maximum_number_items/test/positive6.yaml
  assets/queries/openAPI/general/array_without_maximum_number_items/test/positive_expected_result.json
Labels: openapi, query

#3572 feat(query): moved 'Response Code Missing' to general
  assets/queries/openAPI/general/response_code_missing/metadata.json
  assets/queries/openAPI/general/response_code_missing/query.rego
  assets/queries/openAPI/general/response_code_missing/test/negative1.json
  assets/queries/openAPI/general/response_code_missing/test/negative2.json
  assets/queries/openAPI/general/response_code_missing/test/negative3.yaml
  assets/queries/openAPI/general/response_code_missing/test/negative4.yaml
  assets/queries/openAPI/general/response_code_missing/test/negative5.json
  assets/queries/openAPI/general/response_code_missing/test/negative6.yaml
  assets/queries/openAPI/general/response_code_missing/test/positive1.json
  assets/queries/openAPI/general/response_code_missing/test/positive2.json
  assets/queries/openAPI/general/response_code_missing/test/positive3.yaml
  assets/queries/openAPI/general/response_code_missing/test/positive4.yaml
  assets/queries/openAPI/general/response_code_missing/test/positive5.json
  assets/queries/openAPI/general/response_code_missing/test/positive6.yaml
  assets/queries/openAPI/general/response_code_missing/test/positive_expected_result.json
Labels: openapi, query

#3579 feat(query): moved 'Default Response Undefined On Operations' to general
  assets/queries/openAPI/3.0/default_response_undefined_operations/metadata.json
  assets/queries/openAPI/3.0/default_response_undefined_operations/test/positive_expected_result.json
  assets/queries/openAPI/general/default_response_undefined_operations/metadata.json
  assets/queries/openAPI/general/default_response_undefined_operations/query.rego
  assets/queries/openAPI/general/default_response_undefined_operations/test/negative1.json
  assets/queries/openAPI/general/default_response_undefined_operations/test/negative2.yaml
  assets/queries/openAPI/general/default_response_undefined_operations/test/negative3.json
  assets/queries/openAPI/general/default_response_undefined_operations/test/negative4.yaml
  assets/queries/openAPI/general/default_response_undefined_operations/test/positive1.json
  assets/queries/openAPI/general/default_response_undefined_operations/test/positive2.json
  assets/queries/openAPI/general/default_response_undefined_operations/test/positive3.yaml
  assets/queries/openAPI/general/default_response_undefined_operations/test/positive4.yaml
  assets/queries/openAPI/general/default_response_undefined_operations/test/positive5.json
  assets/queries/openAPI/general/default_response_undefined_operations/test/positive6.yaml
  assets/queries/openAPI/general/default_response_undefined_operations/test/positive_expected_result.json
Labels: openapi, query

#3606 docs(roadmap): fix typo in roadmap
  docs/roadmap.md
Labels: documentation

#3556 feat(report): pdf report #3488
  e2e/fixtures/assets/scan_help
  go.mod
  go.sum
  internal/console/helpers/helpers.go
  internal/console/scan.go
  pkg/report/assets/vuln
  pkg/report/commons.go
  pkg/report/html.go
  pkg/report/model/sarif.go
  pkg/report/model/sarif_test.go
  pkg/report/pdf.go
  pkg/report/pdf_test.go
  pkg/report/sarif_test.go
Labels: go

#3594 feat(query): moved 'Global Security Field Is Undefined' to general
  assets/queries/openAPI/3.0/security_undefined/metadata.json
  assets/queries/openAPI/3.0/security_undefined/test/positive_expected_result.json
  assets/queries/openAPI/general/global_security_field_undefined/metadata.json
  assets/queries/openAPI/general/global_security_field_undefined/query.rego
  assets/queries/openAPI/general/global_security_field_undefined/test/negative1.json
  assets/queries/openAPI/general/global_security_field_undefined/test/negative2.yaml
  assets/queries/openAPI/general/global_security_field_undefined/test/negative3.json
  assets/queries/openAPI/general/global_security_field_undefined/test/negative4.yaml
  assets/queries/openAPI/general/global_security_field_undefined/test/positive1.json
  assets/queries/openAPI/general/global_security_field_undefined/test/positive2.yaml
  assets/queries/openAPI/general/global_security_field_undefined/test/positive3.json
  assets/queries/openAPI/general/global_security_field_undefined/test/positive4.yaml
  assets/queries/openAPI/general/global_security_field_undefined/test/positive_expected_result.json
Labels: openapi, query

#3596 feat(query): moved 'API Key Exposed In Global Security' to general
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/3.0/api_key_exposed_in_global_security/metadata.json
  assets/queries/openAPI/3.0/api_key_exposed_in_global_security/test/positive_expected_result.json
  assets/queries/openAPI/general/api_key_exposed_in_global_security/metadata.json
  assets/queries/openAPI/general/api_key_exposed_in_global_security/query.rego
  assets/queries/openAPI/general/api_key_exposed_in_global_security/test/negative1.json
  assets/queries/openAPI/general/api_key_exposed_in_global_security/test/negative2.yaml
  assets/queries/openAPI/general/api_key_exposed_in_global_security/test/negative3.json
  assets/queries/openAPI/general/api_key_exposed_in_global_security/test/negative4.yaml
  assets/queries/openAPI/general/api_key_exposed_in_global_security/test/positive1.json
  assets/queries/openAPI/general/api_key_exposed_in_global_security/test/positive2.yaml
  assets/queries/openAPI/general/api_key_exposed_in_global_security/test/positive3.json
  assets/queries/openAPI/general/api_key_exposed_in_global_security/test/positive4.yaml
  assets/queries/openAPI/general/api_key_exposed_in_global_security/test/positive_expected_result.json
Labels: openapi, query

#3602 feat(query): moved 'API Key Exposed In Operation Security' to general
  assets/queries/openAPI/3.0/api_key_exposed_in_operation_security/metadata.json
  assets/queries/openAPI/3.0/api_key_exposed_in_operation_security/test/positive_expected_result.json
  assets/queries/openAPI/general/api_key_exposed_in_global_security/query.rego
  assets/queries/openAPI/general/api_key_exposed_in_operation_security/metadata.json
  assets/queries/openAPI/general/api_key_exposed_in_operation_security/query.rego
  assets/queries/openAPI/general/api_key_exposed_in_operation_security/test/negative1.json
  assets/queries/openAPI/general/api_key_exposed_in_operation_security/test/negative2.yaml
  assets/queries/openAPI/general/api_key_exposed_in_operation_security/test/negative3.json
  assets/queries/openAPI/general/api_key_exposed_in_operation_security/test/negative4.yaml
  assets/queries/openAPI/general/api_key_exposed_in_operation_security/test/positive1.json
  assets/queries/openAPI/general/api_key_exposed_in_operation_security/test/positive2.yaml
  assets/queries/openAPI/general/api_key_exposed_in_operation_security/test/positive3.json
  assets/queries/openAPI/general/api_key_exposed_in_operation_security/test/positive4.yaml
  assets/queries/openAPI/general/api_key_exposed_in_operation_security/test/positive_expected_result.json
Labels: openapi, query

#3591 feat(query): Added Global Security Field Has An Empty Array (v2) query for Swagger 2.0
  assets/queries/openAPI/3.0/security_empty_array/metadata.json
  assets/queries/openAPI/3.0/security_empty_array/test/positive_expected_result.json
  assets/queries/openAPI/general/security_empty_array/metadata.json
  assets/queries/openAPI/general/security_empty_array/query.rego
  assets/queries/openAPI/general/security_empty_array/test/negative1.json
  assets/queries/openAPI/general/security_empty_array/test/negative2.yaml
  assets/queries/openAPI/general/security_empty_array/test/negative3.yaml
  assets/queries/openAPI/general/security_empty_array/test/negative4.json
  assets/queries/openAPI/general/security_empty_array/test/positive1.json
  assets/queries/openAPI/general/security_empty_array/test/positive2.yaml
  assets/queries/openAPI/general/security_empty_array/test/positive3.yaml
  assets/queries/openAPI/general/security_empty_array/test/positive4.json
  assets/queries/openAPI/general/security_empty_array/test/positive_expected_result.json
Labels: openapi, query

#3592 feat(query): Added Global security field has an empty object (v2) query for Swagger 2.0
  assets/queries/openAPI/3.0/security_empty_object_definition/metadata.json
  assets/queries/openAPI/3.0/security_empty_object_definition/test/positive_expected_result.json
  assets/queries/openAPI/general/security_empty_object_definition/metadata.json
  assets/queries/openAPI/general/security_empty_object_definition/query.rego
  assets/queries/openAPI/general/security_empty_object_definition/test/negative1.json
  assets/queries/openAPI/general/security_empty_object_definition/test/negative2.yaml
  assets/queries/openAPI/general/security_empty_object_definition/test/negative3.yaml
  assets/queries/openAPI/general/security_empty_object_definition/test/negative4.json
  assets/queries/openAPI/general/security_empty_object_definition/test/positive1.json
  assets/queries/openAPI/general/security_empty_object_definition/test/positive10.json
  assets/queries/openAPI/general/security_empty_object_definition/test/positive11.yaml
  assets/queries/openAPI/general/security_empty_object_definition/test/positive12.json
  assets/queries/openAPI/general/security_empty_object_definition/test/positive2.json
  assets/queries/openAPI/general/security_empty_object_definition/test/positive3.json
  assets/queries/openAPI/general/security_empty_object_definition/test/positive4.json
  assets/queries/openAPI/general/security_empty_object_definition/test/positive5.yaml
  assets/queries/openAPI/general/security_empty_object_definition/test/positive6.yaml
  assets/queries/openAPI/general/security_empty_object_definition/test/positive7.yaml
  assets/queries/openAPI/general/security_empty_object_definition/test/positive8.yaml
  assets/queries/openAPI/general/security_empty_object_definition/test/positive9.yaml
  assets/queries/openAPI/general/security_empty_object_definition/test/positive_expected_result.json
Labels: openapi, query

#3599 feat(query): Added No Global And Operation Security Defined (v2) query for Swagger 2.0
  assets/queries/openAPI/3.0/no_global_and_operation_security_defined/metadata.json
  assets/queries/openAPI/3.0/no_global_and_operation_security_defined/test/positive_expected_result.json
  assets/queries/openAPI/general/no_global_and_operation_security_defined/metadata.json
  assets/queries/openAPI/general/no_global_and_operation_security_defined/query.rego
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/negative1.json
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/negative2.json
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/negative3.yaml
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/negative4.yaml
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/negative5.yaml
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/negative6.yaml
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/negative7.json
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/negative8.json
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/positive1.json
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/positive2.json
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/positive3.yaml
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/positive4.yaml
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/positive5.yaml
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/positive6.json
  assets/queries/openAPI/general/no_global_and_operation_security_defined/test/positive_expected_result.json
Labels: openapi, query

#3623 Increased unit testing to 85%
  internal/console/helpers/helpers_test.go
  internal/constants/constants_test.go
  pkg/engine/debug.go
  pkg/engine/inspector_test.go
  pkg/engine/provider/filesystem_test.go
  pkg/kics/sink.go
  pkg/parser/terraform/terraform_test.go
  pkg/parser/yaml/parser_test.go
Labels: go, tests

#3621 feat(E2E): added new tests & support for parallel execution of E2E Tests
  e2e/README.md
  e2e/cli_test.go
Labels: tests

#3618 feat(query): moved 'String Schema Without Maximum Length' to general
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/3.0/string_schema_without_maximum_length/metadata.json
  assets/queries/openAPI/3.0/string_schema_without_maximum_length/test/positive_expected_result.json
  assets/queries/openAPI/3.0/string_schema_without_pattern/query.rego
  assets/queries/openAPI/general/maximum_length_undefined/metadata.json
  assets/queries/openAPI/general/maximum_length_undefined/query.rego
  assets/queries/openAPI/general/maximum_length_undefined/test/negative1.json
  assets/queries/openAPI/general/maximum_length_undefined/test/negative2.json
  assets/queries/openAPI/general/maximum_length_undefined/test/negative3.yaml
  assets/queries/openAPI/general/maximum_length_undefined/test/negative4.yaml
  assets/queries/openAPI/general/maximum_length_undefined/test/negative5.json
  assets/queries/openAPI/general/maximum_length_undefined/test/negative6.yaml
  assets/queries/openAPI/general/maximum_length_undefined/test/positive1.json
  assets/queries/openAPI/general/maximum_length_undefined/test/positive2.json
  assets/queries/openAPI/general/maximum_length_undefined/test/positive3.yaml
  assets/queries/openAPI/general/maximum_length_undefined/test/positive4.yaml
  assets/queries/openAPI/general/maximum_length_undefined/test/positive5.json
  assets/queries/openAPI/general/maximum_length_undefined/test/positive6.yaml
  assets/queries/openAPI/general/maximum_length_undefined/test/positive_expected_result.json
Labels: openapi, query

#3620 feat(query): updating 'Invalid Format' query
  assets/queries/openAPI/3.0/unknown_schema_string_format/metadata.json
  assets/queries/openAPI/3.0/unknown_schema_string_format/query.rego
  assets/queries/openAPI/3.0/unknown_schema_string_format/test/negative1.json
  assets/queries/openAPI/3.0/unknown_schema_string_format/test/negative2.json
  assets/queries/openAPI/3.0/unknown_schema_string_format/test/negative3.yaml
  assets/queries/openAPI/3.0/unknown_schema_string_format/test/negative4.yaml
  assets/queries/openAPI/3.0/unknown_schema_string_format/test/positive1.json
  assets/queries/openAPI/3.0/unknown_schema_string_format/test/positive2.json
  assets/queries/openAPI/3.0/unknown_schema_string_format/test/positive3.yaml
  assets/queries/openAPI/3.0/unknown_schema_string_format/test/positive4.yaml
  assets/queries/openAPI/3.0/unknown_schema_string_format/test/positive_expected_result.json
  assets/queries/openAPI/general/invalid_format/metadata.json
  assets/queries/openAPI/general/invalid_format/query.rego
Labels: openapi, query

#3615 feat(query): moved 'Invalid Schema External Documentation URL' to general
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/3.0/invalid_schema_external_documentation_url/metadata.json
  assets/queries/openAPI/3.0/invalid_schema_external_documentation_url/query.rego
  assets/queries/openAPI/3.0/invalid_schema_external_documentation_url/test/positive_expected_result.json
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/metadata.json
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/query.rego
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/negative1.json
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/negative2.json
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/negative3.yaml
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/negative4.yaml
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/negative5.json
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/negative6.yaml
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/negative7.json
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/negative8.yaml
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/positive1.json
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/positive2.json
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/positive3.yaml
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/positive4.yaml
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/positive5.json
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/positive6.yaml
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/positive7.json
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/positive8.yaml
  assets/queries/openAPI/general/invalid_schema_external_documentation_url/test/positive_expected_result.json
Labels: openapi, query

#3619 feat(query): moved 'String Schema Without Pattern' to general
  assets/queries/openAPI/3.0/string_schema_without_pattern/metadata.json
  assets/queries/openAPI/3.0/string_schema_without_pattern/test/positive_expected_result.json
  assets/queries/openAPI/general/pattern_undefined/metadata.json
  assets/queries/openAPI/general/pattern_undefined/query.rego
  assets/queries/openAPI/general/pattern_undefined/test/negative1.json
  assets/queries/openAPI/general/pattern_undefined/test/negative2.json
  assets/queries/openAPI/general/pattern_undefined/test/negative3.yaml
  assets/queries/openAPI/general/pattern_undefined/test/negative4.yaml
  assets/queries/openAPI/general/pattern_undefined/test/negative5.json
  assets/queries/openAPI/general/pattern_undefined/test/negative6.yaml
  assets/queries/openAPI/general/pattern_undefined/test/positive1.json
  assets/queries/openAPI/general/pattern_undefined/test/positive2.json
  assets/queries/openAPI/general/pattern_undefined/test/positive3.yaml
  assets/queries/openAPI/general/pattern_undefined/test/positive4.yaml
  assets/queries/openAPI/general/pattern_undefined/test/positive5.json
  assets/queries/openAPI/general/pattern_undefined/test/positive6.yaml
  assets/queries/openAPI/general/pattern_undefined/test/positive_expected_result.json
Labels: openapi, query

#3624 feat(query): added 'Path Scheme Accepts HTTP' to openAPI 2.0
  assets/queries/openAPI/2.0/path_scheme_accepts_http/metadata.json
  assets/queries/openAPI/2.0/path_scheme_accepts_http/query.rego
  assets/queries/openAPI/2.0/path_scheme_accepts_http/test/negative1.json
  assets/queries/openAPI/2.0/path_scheme_accepts_http/test/negative2.yaml
  assets/queries/openAPI/2.0/path_scheme_accepts_http/test/positive1.json
  assets/queries/openAPI/2.0/path_scheme_accepts_http/test/positive2.yaml
  assets/queries/openAPI/2.0/path_scheme_accepts_http/test/positive_expected_result.json
  assets/queries/openAPI/3.0/path_server_uses_http/metadata.json
  assets/queries/openAPI/3.0/path_server_uses_http/query.rego
  assets/queries/openAPI/3.0/path_server_uses_http/test/positive_expected_result.json
Labels: openapi, query

#3625 feat(query): moved 'Path Parameter Not Required' to general
  assets/queries/openAPI/3.0/path_parameter_not_required/query.rego
  assets/queries/openAPI/3.0/path_parameter_not_required/test/positive_expected_result.json
  assets/queries/openAPI/general/path_parameter_not_required/metadata.json
  assets/queries/openAPI/general/path_parameter_not_required/query.rego
  assets/queries/openAPI/general/path_parameter_not_required/test/negative1.json
  assets/queries/openAPI/general/path_parameter_not_required/test/negative2.yaml
  assets/queries/openAPI/general/path_parameter_not_required/test/negative3.json
  assets/queries/openAPI/general/path_parameter_not_required/test/negative4.yaml
  assets/queries/openAPI/general/path_parameter_not_required/test/negative5.json
  assets/queries/openAPI/general/path_parameter_not_required/test/negative6.yaml
  assets/queries/openAPI/general/path_parameter_not_required/test/positive1.json
  assets/queries/openAPI/general/path_parameter_not_required/test/positive2.yaml
  assets/queries/openAPI/general/path_parameter_not_required/test/positive3.json
  assets/queries/openAPI/general/path_parameter_not_required/test/positive4.yaml
  assets/queries/openAPI/general/path_parameter_not_required/test/positive5.json
  assets/queries/openAPI/general/path_parameter_not_required/test/positive6.yaml
  assets/queries/openAPI/general/path_parameter_not_required/test/positive7.json
  assets/queries/openAPI/general/path_parameter_not_required/test/positive8.yaml
  assets/queries/openAPI/general/path_parameter_not_required/test/positive_expected_result.json
Labels: openapi, query

#3626 feat(query): moved 'Responses Object Is Empty' to general
  assets/queries/openAPI/3.0/responses_object_is_empty/metadata.json
  assets/queries/openAPI/3.0/responses_object_is_empty/query.rego
  assets/queries/openAPI/3.0/responses_object_is_empty/test/positive2.json
  assets/queries/openAPI/3.0/responses_object_is_empty/test/positive4.yaml
  assets/queries/openAPI/3.0/responses_object_is_empty/test/positive_expected_result.json
  assets/queries/openAPI/general/responses_object_is_empty/metadata.json
  assets/queries/openAPI/general/responses_object_is_empty/query.rego
  assets/queries/openAPI/general/responses_object_is_empty/test/negative1.json
  assets/queries/openAPI/general/responses_object_is_empty/test/negative2.json
  assets/queries/openAPI/general/responses_object_is_empty/test/negative3.yaml
  assets/queries/openAPI/general/responses_object_is_empty/test/negative4.yaml
  assets/queries/openAPI/general/responses_object_is_empty/test/negative5.json
  assets/queries/openAPI/general/responses_object_is_empty/test/negative6.yaml
  assets/queries/openAPI/general/responses_object_is_empty/test/positive1.json
  assets/queries/openAPI/general/responses_object_is_empty/test/positive2.json
  assets/queries/openAPI/general/responses_object_is_empty/test/positive3.yaml
  assets/queries/openAPI/general/responses_object_is_empty/test/positive4.yaml
  assets/queries/openAPI/general/responses_object_is_empty/test/positive5.json
  assets/queries/openAPI/general/responses_object_is_empty/test/positive6.yaml
  assets/queries/openAPI/general/responses_object_is_empty/test/positive_expected_result.json
Labels: openapi, query

#3627 feat(query): moved 'Schema Default Invalid' to general
  assets/queries/openAPI/3.0/schema_default_invalid/metadata.json
  assets/queries/openAPI/3.0/schema_default_invalid/test/negative2.json
  assets/queries/openAPI/3.0/schema_default_invalid/test/negative3.json
  assets/queries/openAPI/3.0/schema_default_invalid/test/negative5.yaml
  assets/queries/openAPI/3.0/schema_default_invalid/test/negative6.yaml
  assets/queries/openAPI/3.0/schema_default_invalid/test/negative7.yaml
  assets/queries/openAPI/3.0/schema_default_invalid/test/positive1.json
  assets/queries/openAPI/3.0/schema_default_invalid/test/positive2.json
  assets/queries/openAPI/3.0/schema_default_invalid/test/positive3.json
  assets/queries/openAPI/3.0/schema_default_invalid/test/positive4.json
  assets/queries/openAPI/3.0/schema_default_invalid/test/positive5.yaml
  assets/queries/openAPI/3.0/schema_default_invalid/test/positive6.yaml
  assets/queries/openAPI/3.0/schema_default_invalid/test/positive7.yaml
  assets/queries/openAPI/3.0/schema_default_invalid/test/positive_expected_result.json
  assets/queries/openAPI/general/default_invalid/metadata.json
  assets/queries/openAPI/general/default_invalid/query.rego
  assets/queries/openAPI/general/default_invalid/test/negative1.json
  assets/queries/openAPI/general/default_invalid/test/negative10.yaml
  assets/queries/openAPI/general/default_invalid/test/negative2.json
  assets/queries/openAPI/general/default_invalid/test/negative3.json
  assets/queries/openAPI/general/default_invalid/test/negative4.json
  assets/queries/openAPI/general/default_invalid/test/negative5.yaml
  assets/queries/openAPI/general/default_invalid/test/negative6.yaml
  assets/queries/openAPI/general/default_invalid/test/negative7.yaml
  assets/queries/openAPI/general/default_invalid/test/negative8.yaml
  assets/queries/openAPI/general/default_invalid/test/negative9.json
  assets/queries/openAPI/general/default_invalid/test/positive1.json
  assets/queries/openAPI/general/default_invalid/test/positive10.yaml
  assets/queries/openAPI/general/default_invalid/test/positive2.json
  assets/queries/openAPI/general/default_invalid/test/positive3.json
  assets/queries/openAPI/general/default_invalid/test/positive4.json
  assets/queries/openAPI/general/default_invalid/test/positive5.yaml
  assets/queries/openAPI/general/default_invalid/test/positive6.yaml
  assets/queries/openAPI/general/default_invalid/test/positive7.yaml
  assets/queries/openAPI/general/default_invalid/test/positive8.yaml
  assets/queries/openAPI/general/default_invalid/test/positive9.json
  assets/queries/openAPI/general/default_invalid/test/positive_expected_result.json
Labels: openapi, query

#3629 feat(query): moved 'Property 'allowEmptyValue' Improperly Defined'
  assets/queries/openAPI/3.0/property_allow_empty_value_improperly_defined/metadata.json
  assets/queries/openAPI/3.0/property_allow_empty_value_improperly_defined/query.rego
  assets/queries/openAPI/3.0/property_allow_empty_value_improperly_defined/test/positive_expected_result.json
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/metadata.json
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/query.rego
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/test/negative1.json
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/test/negative2.yaml
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/test/negative3.json
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/test/negative4.yaml
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/test/negative5.json
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/test/negative6.yaml
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/test/positive1.json
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/test/positive2.yaml
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/test/positive3.json
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/test/positive4.yaml
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/test/positive5.json
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/test/positive6.yaml
  assets/queries/openAPI/general/property_allow_empty_value_improperly_defined/test/positive_expected_result.json
Labels: openapi, query

#3608 docs(guides): adding guide on using KICS with AWS CDK
  docs/cdk.md
  mkdocs.yml
Labels: documentation

#3632 fix(ci): install script not adjusting arch from amd64 to x64
  .goreleaser-nightly.yml
  install.sh
Labels: bug

#3616 feat(query): moved 'Schema Object is Empty' to general
  assets/queries/openAPI/3.0/schema_object_empty/metadata.json
  assets/queries/openAPI/3.0/schema_object_empty/query.rego
  assets/queries/openAPI/3.0/schema_object_empty/test/positive3.yaml
  assets/queries/openAPI/3.0/schema_object_empty/test/positive_expected_result.json
  assets/queries/openAPI/general/schema_object_empty/metadata.json
  assets/queries/openAPI/general/schema_object_empty/query.rego
  assets/queries/openAPI/general/schema_object_empty/test/negative1.json
  assets/queries/openAPI/general/schema_object_empty/test/negative2.json
  assets/queries/openAPI/general/schema_object_empty/test/negative3.yaml
  assets/queries/openAPI/general/schema_object_empty/test/negative4.yaml
  assets/queries/openAPI/general/schema_object_empty/test/negative5.json
  assets/queries/openAPI/general/schema_object_empty/test/negative6.yaml
  assets/queries/openAPI/general/schema_object_empty/test/negative7.json
  assets/queries/openAPI/general/schema_object_empty/test/negative8.yaml
  assets/queries/openAPI/general/schema_object_empty/test/positive1.json
  assets/queries/openAPI/general/schema_object_empty/test/positive2.json
  assets/queries/openAPI/general/schema_object_empty/test/positive3.yaml
  assets/queries/openAPI/general/schema_object_empty/test/positive4.yaml
  assets/queries/openAPI/general/schema_object_empty/test/positive5.json
  assets/queries/openAPI/general/schema_object_empty/test/positive6.yaml
  assets/queries/openAPI/general/schema_object_empty/test/positive7.json
  assets/queries/openAPI/general/schema_object_empty/test/positive8.yaml
  assets/queries/openAPI/general/schema_object_empty/test/positive_expected_result.json
Labels: openapi, query

#3630 feat(query): Moved String Schema with Broad Pattern (v2) query for Swagger 2.0
  assets/queries/openAPI/3.0/string_schema_with_broad_pattern/metadata.json
  assets/queries/openAPI/3.0/string_schema_with_broad_pattern/test/positive_expected_result.json
  assets/queries/openAPI/general/string_schema_with_broad_pattern/metadata.json
  assets/queries/openAPI/general/string_schema_with_broad_pattern/query.rego
  assets/queries/openAPI/general/string_schema_with_broad_pattern/test/negative1.json
  assets/queries/openAPI/general/string_schema_with_broad_pattern/test/negative2.json
  assets/queries/openAPI/general/string_schema_with_broad_pattern/test/negative3.yaml
  assets/queries/openAPI/general/string_schema_with_broad_pattern/test/negative4.yaml
  assets/queries/openAPI/general/string_schema_with_broad_pattern/test/negative5.yaml
  assets/queries/openAPI/general/string_schema_with_broad_pattern/test/negative6.json
  assets/queries/openAPI/general/string_schema_with_broad_pattern/test/positive1.json
  assets/queries/openAPI/general/string_schema_with_broad_pattern/test/positive2.json
  assets/queries/openAPI/general/string_schema_with_broad_pattern/test/positive3.yaml
  assets/queries/openAPI/general/string_schema_with_broad_pattern/test/positive4.yaml
  assets/queries/openAPI/general/string_schema_with_broad_pattern/test/positive5.yaml
  assets/queries/openAPI/general/string_schema_with_broad_pattern/test/positive6.json
  assets/queries/openAPI/general/string_schema_with_broad_pattern/test/positive_expected_result.json
Labels: openapi, query

#3567 feat(query): moved 'Schema Object Using Enum With Keyword' to general
  assets/queries/openAPI/3.0/schema_object_using_enum_with_keyword/metadata.json
  assets/queries/openAPI/3.0/schema_object_using_enum_with_keyword/test/positive_expected_result.json
  assets/queries/openAPI/general/object_using_enum_with_keyword/metadata.json
  assets/queries/openAPI/general/object_using_enum_with_keyword/query.rego
  assets/queries/openAPI/general/object_using_enum_with_keyword/test/negative1.json
  assets/queries/openAPI/general/object_using_enum_with_keyword/test/negative2.yaml
  assets/queries/openAPI/general/object_using_enum_with_keyword/test/negative3.json
  assets/queries/openAPI/general/object_using_enum_with_keyword/test/negative4.yaml
  assets/queries/openAPI/general/object_using_enum_with_keyword/test/negative5.json
  assets/queries/openAPI/general/object_using_enum_with_keyword/test/negative6.yaml
  assets/queries/openAPI/general/object_using_enum_with_keyword/test/positive1.json
  assets/queries/openAPI/general/object_using_enum_with_keyword/test/positive2.yaml
  assets/queries/openAPI/general/object_using_enum_with_keyword/test/positive3.json
  assets/queries/openAPI/general/object_using_enum_with_keyword/test/positive4.yaml
  assets/queries/openAPI/general/object_using_enum_with_keyword/test/positive5.json
  assets/queries/openAPI/general/object_using_enum_with_keyword/test/positive6.yaml
  assets/queries/openAPI/general/object_using_enum_with_keyword/test/positive_expected_result.json
  internal/console/printer/kics/error
Labels: openapi, query

#3638 feat(query): moved 'JSON Object Schema Without Properties' to general
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/3.0/json_object_schema_without_properties/metadata.json
  assets/queries/openAPI/3.0/json_object_schema_without_properties/test/positive_expected_result.json
  assets/queries/openAPI/3.0/json_object_schema_without_type/query.rego
  assets/queries/openAPI/general/json_object_schema_without_properties/metadata.json
  assets/queries/openAPI/general/json_object_schema_without_properties/query.rego
  assets/queries/openAPI/general/json_object_schema_without_properties/test/negative1.json
  assets/queries/openAPI/general/json_object_schema_without_properties/test/negative2.json
  assets/queries/openAPI/general/json_object_schema_without_properties/test/negative3.yaml
  assets/queries/openAPI/general/json_object_schema_without_properties/test/negative4.yaml
  assets/queries/openAPI/general/json_object_schema_without_properties/test/negative5.json
  assets/queries/openAPI/general/json_object_schema_without_properties/test/negative6.yaml
  assets/queries/openAPI/general/json_object_schema_without_properties/test/positive1.json
  assets/queries/openAPI/general/json_object_schema_without_properties/test/positive2.json
  assets/queries/openAPI/general/json_object_schema_without_properties/test/positive3.yaml
  assets/queries/openAPI/general/json_object_schema_without_properties/test/positive4.yaml
  assets/queries/openAPI/general/json_object_schema_without_properties/test/positive5.json
  assets/queries/openAPI/general/json_object_schema_without_properties/test/positive6.yaml
  assets/queries/openAPI/general/json_object_schema_without_properties/test/positive_expected_result.json
Labels: openapi, query

#3609 feat(query): moved Schema Items Undefined query to general
  assets/queries/openAPI/3.0/schema_items_undefined/metadata.json
  assets/queries/openAPI/3.0/schema_items_undefined/query.rego
  assets/queries/openAPI/3.0/schema_items_undefined/test/positive_expected_result.json
  assets/queries/openAPI/general/schema_items_undefined/metadata.json
  assets/queries/openAPI/general/schema_items_undefined/query.rego
  assets/queries/openAPI/general/schema_items_undefined/test/negative1.json
  assets/queries/openAPI/general/schema_items_undefined/test/negative2.json
  assets/queries/openAPI/general/schema_items_undefined/test/negative3.yaml
  assets/queries/openAPI/general/schema_items_undefined/test/negative4.yaml
  assets/queries/openAPI/general/schema_items_undefined/test/negative5.json
  assets/queries/openAPI/general/schema_items_undefined/test/negative6.yaml
  assets/queries/openAPI/general/schema_items_undefined/test/positive1.json
  assets/queries/openAPI/general/schema_items_undefined/test/positive2.json
  assets/queries/openAPI/general/schema_items_undefined/test/positive3.yaml
  assets/queries/openAPI/general/schema_items_undefined/test/positive4.yaml
  assets/queries/openAPI/general/schema_items_undefined/test/positive5.json
  assets/queries/openAPI/general/schema_items_undefined/test/positive6.yaml
  assets/queries/openAPI/general/schema_items_undefined/test/positive_expected_result.json
Labels: openapi, query

#3610 feat(query): moved Non-Array Schema With Items to general
  assets/queries/openAPI/3.0/non_array_schema_with_items/metadata.json
  assets/queries/openAPI/3.0/non_array_schema_with_items/query.rego
  assets/queries/openAPI/3.0/non_array_schema_with_items/test/positive_expected_result.json
  assets/queries/openAPI/general/non_array_schema_with_items/metadata.json
  assets/queries/openAPI/general/non_array_schema_with_items/query.rego
  assets/queries/openAPI/general/non_array_schema_with_items/test/negative1.json
  assets/queries/openAPI/general/non_array_schema_with_items/test/negative2.json
  assets/queries/openAPI/general/non_array_schema_with_items/test/negative3.yaml
  assets/queries/openAPI/general/non_array_schema_with_items/test/negative4.yaml
  assets/queries/openAPI/general/non_array_schema_with_items/test/negative5.json
  assets/queries/openAPI/general/non_array_schema_with_items/test/negative6.yaml
  assets/queries/openAPI/general/non_array_schema_with_items/test/positive1.json
  assets/queries/openAPI/general/non_array_schema_with_items/test/positive2.json
  assets/queries/openAPI/general/non_array_schema_with_items/test/positive3.yaml
  assets/queries/openAPI/general/non_array_schema_with_items/test/positive4.yaml
  assets/queries/openAPI/general/non_array_schema_with_items/test/positive5.json
  assets/queries/openAPI/general/non_array_schema_with_items/test/positive6.yaml
  assets/queries/openAPI/general/non_array_schema_with_items/test/positive_expected_result.json
Labels: openapi, query

#3643 feat(query): added 'Security Definitions Undefined or Empty' to openAPI 2.0
  assets/queries/openAPI/2.0/security_definitions_undefined_or_empty/metadata.json
  assets/queries/openAPI/2.0/security_definitions_undefined_or_empty/query.rego
  assets/queries/openAPI/2.0/security_definitions_undefined_or_empty/test/negative1.json
  assets/queries/openAPI/2.0/security_definitions_undefined_or_empty/test/negative2.yaml
  assets/queries/openAPI/2.0/security_definitions_undefined_or_empty/test/positive1.json
  assets/queries/openAPI/2.0/security_definitions_undefined_or_empty/test/positive2.yaml
  assets/queries/openAPI/2.0/security_definitions_undefined_or_empty/test/positive3.json
  assets/queries/openAPI/2.0/security_definitions_undefined_or_empty/test/positive4.yaml
  assets/queries/openAPI/2.0/security_definitions_undefined_or_empty/test/positive_expected_result.json
Labels: openapi, query

#3641 feat(query): moved 'Parameters Name In Combination Not Unique' to general
  assets/queries/openAPI/3.0/parameters_name_in_should_be_unique/metadata.json
  assets/queries/openAPI/3.0/parameters_name_in_should_be_unique/query.rego
  assets/queries/openAPI/3.0/parameters_name_in_should_be_unique/test/positive_expected_result.json
  assets/queries/openAPI/general/parameters_name_in_not_unique/metadata.json
  assets/queries/openAPI/general/parameters_name_in_not_unique/query.rego
  assets/queries/openAPI/general/parameters_name_in_not_unique/test/negative1.json
  assets/queries/openAPI/general/parameters_name_in_not_unique/test/negative2.yaml
  assets/queries/openAPI/general/parameters_name_in_not_unique/test/positive1.json
  assets/queries/openAPI/general/parameters_name_in_not_unique/test/positive2.yaml
  assets/queries/openAPI/general/parameters_name_in_not_unique/test/positive3.json
  assets/queries/openAPI/general/parameters_name_in_not_unique/test/positive4.yaml
  assets/queries/openAPI/general/parameters_name_in_not_unique/test/positive_expected_result.json
Labels: openapi, query

#3647 feat(query): Added Operation Object Without 'consumes' (v2) query to OpenAPI 2.0
  assets/queries/openAPI/2.0/operation_object_without_consumes/metadata.json
  assets/queries/openAPI/2.0/operation_object_without_consumes/query.rego
  assets/queries/openAPI/2.0/operation_object_without_consumes/test/negative1.json
  assets/queries/openAPI/2.0/operation_object_without_consumes/test/negative2.yaml
  assets/queries/openAPI/2.0/operation_object_without_consumes/test/positive1.json
  assets/queries/openAPI/2.0/operation_object_without_consumes/test/positive2.yaml
  assets/queries/openAPI/2.0/operation_object_without_consumes/test/positive_expected_result.json
Labels: openapi, query

#3649 feat(query): Added Operation Object Without 'produces' (v2) query to OpenAPI 2.0
  assets/queries/openAPI/2.0/operation_object_without_produces/metadata.json
  assets/queries/openAPI/2.0/operation_object_without_produces/query.rego
  assets/queries/openAPI/2.0/operation_object_without_produces/test/negative1.json
  assets/queries/openAPI/2.0/operation_object_without_produces/test/negative2.yaml
  assets/queries/openAPI/2.0/operation_object_without_produces/test/positive1.json
  assets/queries/openAPI/2.0/operation_object_without_produces/test/positive2.yaml
  assets/queries/openAPI/2.0/operation_object_without_produces/test/positive_expected_result.json
Labels: openapi, query

#3636 feat(query): added 'Global Schemes Uses HTTP' to openAPI 2.0
  assets/queries/openAPI/2.0/global_schemes_uses_http/metadata.json
  assets/queries/openAPI/2.0/global_schemes_uses_http/query.rego
  assets/queries/openAPI/2.0/global_schemes_uses_http/test/negative1.json
  assets/queries/openAPI/2.0/global_schemes_uses_http/test/negative2.yaml
  assets/queries/openAPI/2.0/global_schemes_uses_http/test/positive1.json
  assets/queries/openAPI/2.0/global_schemes_uses_http/test/positive2.yaml
  assets/queries/openAPI/2.0/global_schemes_uses_http/test/positive_expected_result.json
  assets/queries/openAPI/3.0/global_server_uses_http/test/positive_expected_result.json
Labels: openapi, query

#3648 feat(query): added 'Body Parameter Without Schema' to openAPI 2.0
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/2.0/body_parameter_without_schema/metadata.json
  assets/queries/openAPI/2.0/body_parameter_without_schema/query.rego
  assets/queries/openAPI/2.0/body_parameter_without_schema/test/negative1.json
  assets/queries/openAPI/2.0/body_parameter_without_schema/test/negative2.yaml
  assets/queries/openAPI/2.0/body_parameter_without_schema/test/positive1.json
  assets/queries/openAPI/2.0/body_parameter_without_schema/test/positive2.yaml
  assets/queries/openAPI/2.0/body_parameter_without_schema/test/positive_expected_result.json
  assets/queries/openAPI/3.0/parameter_object_without_schema/query.rego
Labels: openapi, query

#3646 feat(query): Moved Invalid OAuth2 Token URL query to general
  assets/queries/openAPI/2.0/invalid_oauth2_token_url/metadata.json
  assets/queries/openAPI/2.0/invalid_oauth2_token_url/query.rego
  assets/queries/openAPI/2.0/invalid_oauth2_token_url/test/negative1.yaml
  assets/queries/openAPI/2.0/invalid_oauth2_token_url/test/negative2.json
  assets/queries/openAPI/2.0/invalid_oauth2_token_url/test/positive1.yaml
  assets/queries/openAPI/2.0/invalid_oauth2_token_url/test/positive2.json
  assets/queries/openAPI/2.0/invalid_oauth2_token_url/test/positive_expected_result.json
  assets/queries/openAPI/3.0/invalid_oauth2_token_url/metadata.json
  assets/queries/openAPI/3.0/invalid_oauth2_token_url/query.rego
  assets/queries/openAPI/3.0/invalid_oauth2_token_url/test/positive_expected_result.json
Labels: openapi, query

#3639 feat(query): moved 'JSON Object Schema Without Type' to general
  assets/queries/openAPI/3.0/json_object_schema_without_type/metadata.json
  assets/queries/openAPI/3.0/json_object_schema_without_type/test/positive_expected_result.json
  assets/queries/openAPI/general/json_object_schema_without_type/metadata.json
  assets/queries/openAPI/general/json_object_schema_without_type/query.rego
  assets/queries/openAPI/general/json_object_schema_without_type/test/negative1.json
  assets/queries/openAPI/general/json_object_schema_without_type/test/negative2.json
  assets/queries/openAPI/general/json_object_schema_without_type/test/negative3.yaml
  assets/queries/openAPI/general/json_object_schema_without_type/test/negative4.yaml
  assets/queries/openAPI/general/json_object_schema_without_type/test/negative5.json
  assets/queries/openAPI/general/json_object_schema_without_type/test/negative6.yaml
  assets/queries/openAPI/general/json_object_schema_without_type/test/positive1.json
  assets/queries/openAPI/general/json_object_schema_without_type/test/positive2.json
  assets/queries/openAPI/general/json_object_schema_without_type/test/positive3.yaml
  assets/queries/openAPI/general/json_object_schema_without_type/test/positive4.yaml
  assets/queries/openAPI/general/json_object_schema_without_type/test/positive5.json
  assets/queries/openAPI/general/json_object_schema_without_type/test/positive6.yaml
  assets/queries/openAPI/general/json_object_schema_without_type/test/positive_expected_result.json
Labels: openapi, query

#3645 feat(query): added Schema JSON Reference Does Not Exists for swagger
  assets/queries/openAPI/2.0/json_reference_does_not_exists_schema/metadata.json
  assets/queries/openAPI/2.0/json_reference_does_not_exists_schema/query.rego
  assets/queries/openAPI/2.0/json_reference_does_not_exists_schema/test/negative1.json
  assets/queries/openAPI/2.0/json_reference_does_not_exists_schema/test/negative2.yaml
  assets/queries/openAPI/2.0/json_reference_does_not_exists_schema/test/positive1.json
  assets/queries/openAPI/2.0/json_reference_does_not_exists_schema/test/positive2.yaml
  assets/queries/openAPI/2.0/json_reference_does_not_exists_schema/test/positive_expected_result.json
  assets/queries/openAPI/3.0/json_reference_does_not_exists_schema/metadata.json
  assets/queries/openAPI/3.0/json_reference_does_not_exists_schema/query.rego
  assets/queries/openAPI/3.0/json_reference_does_not_exists_schema/test/positive_expected_result.json
Labels: openapi, query

#3661 feat(query): Added Implicit Flow in OAuth2 (v2) to Swagger
  assets/queries/openAPI/2.0/implicit_flow_oauth2/metadata.json
  assets/queries/openAPI/2.0/implicit_flow_oauth2/query.rego
  assets/queries/openAPI/2.0/implicit_flow_oauth2/test/negative1.json
  assets/queries/openAPI/2.0/implicit_flow_oauth2/test/negative2.yaml
  assets/queries/openAPI/2.0/implicit_flow_oauth2/test/positive1.json
  assets/queries/openAPI/2.0/implicit_flow_oauth2/test/positive2.yaml
  assets/queries/openAPI/2.0/implicit_flow_oauth2/test/positive_expected_result.json
  assets/queries/openAPI/3.0/implicit_flow_oauth2/metadata.json
  assets/queries/openAPI/3.0/implicit_flow_oauth2/test/positive_expected_result.json
Labels: openapi, query

#3662 feat(query): Added Security Definitions Using Basic Auth query to Swagger
  assets/queries/openAPI/2.0/security_definitions_using_basic_auth/metadata.json
  assets/queries/openAPI/2.0/security_definitions_using_basic_auth/query.rego
  assets/queries/openAPI/2.0/security_definitions_using_basic_auth/test/negative1.json
  assets/queries/openAPI/2.0/security_definitions_using_basic_auth/test/negative2.yaml
  assets/queries/openAPI/2.0/security_definitions_using_basic_auth/test/positive1.json
  assets/queries/openAPI/2.0/security_definitions_using_basic_auth/test/positive2.yaml
  assets/queries/openAPI/2.0/security_definitions_using_basic_auth/test/positive_expected_result.json
Labels: openapi, query

#3663 feat(query): moved query Header Response Name Is Invalid to general for open api
  assets/queries/openAPI/3.0/header_response_named_as_content_type/metadata.json
  assets/queries/openAPI/3.0/header_response_named_as_content_type/query.rego
  assets/queries/openAPI/3.0/header_response_named_as_content_type/test/positive_expected_result.json
  assets/queries/openAPI/general/header_response_name_is_invalid/metadata.json
  assets/queries/openAPI/general/header_response_name_is_invalid/query.rego
  assets/queries/openAPI/general/header_response_name_is_invalid/test/negative1.json
  assets/queries/openAPI/general/header_response_name_is_invalid/test/negative2.yaml
  assets/queries/openAPI/general/header_response_name_is_invalid/test/negative3.json
  assets/queries/openAPI/general/header_response_name_is_invalid/test/negative4.yaml
  assets/queries/openAPI/general/header_response_name_is_invalid/test/positive1.json
  assets/queries/openAPI/general/header_response_name_is_invalid/test/positive2.yaml
  assets/queries/openAPI/general/header_response_name_is_invalid/test/positive3.json
  assets/queries/openAPI/general/header_response_name_is_invalid/test/positive4.yaml
  assets/queries/openAPI/general/header_response_name_is_invalid/test/positive_expected_result.json
Labels: openapi, query

#3665 feat(query): moved Schema Enum Invalid query to general for open api
  assets/queries/openAPI/3.0/schema_enum_invalid/test/positive_expected_result.json
  assets/queries/openAPI/general/schema_enum_invalid/metadata.json
  assets/queries/openAPI/general/schema_enum_invalid/query.rego
  assets/queries/openAPI/general/schema_enum_invalid/test/negative1.json
  assets/queries/openAPI/general/schema_enum_invalid/test/negative2.json
  assets/queries/openAPI/general/schema_enum_invalid/test/negative3.yaml
  assets/queries/openAPI/general/schema_enum_invalid/test/negative4.yaml
  assets/queries/openAPI/general/schema_enum_invalid/test/negative5.json
  assets/queries/openAPI/general/schema_enum_invalid/test/negative6.yaml
  assets/queries/openAPI/general/schema_enum_invalid/test/positive1.json
  assets/queries/openAPI/general/schema_enum_invalid/test/positive2.json
  assets/queries/openAPI/general/schema_enum_invalid/test/positive3.yaml
  assets/queries/openAPI/general/schema_enum_invalid/test/positive4.yaml
  assets/queries/openAPI/general/schema_enum_invalid/test/positive5.json
  assets/queries/openAPI/general/schema_enum_invalid/test/positive6.yaml
  assets/queries/openAPI/general/schema_enum_invalid/test/positive_expected_result.json
Labels: openapi, query

#3521 feature(docs): using mkdocs-material theme
  .github/workflows/mkdocs.yml
  .github/workflows/update-docs-index.yaml
  Makefile
  docs/commands.md
  docs/css/custom.css
  docs/getting-started.md
  docs/js/custom.js
  docs/js/version-mike.js
  docs/platforms.md
  mkdocs.yml
Labels: documentation, enhancement, feature

#3673 fix(query): generate different similarity id for each unpinned package #3675
  assets/queries/dockerfile/apt_get_install_pin_version_not_defined/query.rego
  test/queries_content_test.go
Labels: bug, query

#3664 feat(query): Added Security Definitions Using Password Flow query to Swagger
  assets/queries/openAPI/2.0/security_definitions_using_password_flow/metadata.json
  assets/queries/openAPI/2.0/security_definitions_using_password_flow/query.rego
  assets/queries/openAPI/2.0/security_definitions_using_password_flow/test/negative1.json
  assets/queries/openAPI/2.0/security_definitions_using_password_flow/test/negative2.yaml
  assets/queries/openAPI/2.0/security_definitions_using_password_flow/test/positive1.json
  assets/queries/openAPI/2.0/security_definitions_using_password_flow/test/positive2.yaml
  assets/queries/openAPI/2.0/security_definitions_using_password_flow/test/positive_expected_result.json
Labels: openapi, query

#3668 feat(query): added "Body Parameter With Wrong Property" to openAPI 2.0
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/2.0/body_parameter_with_wrong_property/metadata.json
  assets/queries/openAPI/2.0/body_parameter_with_wrong_property/query.rego
  assets/queries/openAPI/2.0/body_parameter_with_wrong_property/test/negative1.json
  assets/queries/openAPI/2.0/body_parameter_with_wrong_property/test/negative2.yaml
  assets/queries/openAPI/2.0/body_parameter_with_wrong_property/test/positive1.json
  assets/queries/openAPI/2.0/body_parameter_with_wrong_property/test/positive2.yaml
  assets/queries/openAPI/2.0/body_parameter_with_wrong_property/test/positive_expected_result.json
Labels: openapi, query

#3679 fix(query): added some missing aggregations
  assets/queries/openAPI/general/default_invalid/metadata.json
  assets/queries/openAPI/general/header_response_name_is_invalid/metadata.json
  assets/queries/openAPI/general/schema_enum_invalid/metadata.json
  assets/queries/openAPI/general/schema_object_empty/metadata.json
  assets/queries/openAPI/general/schema_object_properties_with_duplicated_keys/metadata.json
Labels: openapi, query

#3681 fix(report): wrong pdf data type assertion during generation
  pkg/report/pdf.go
  pkg/report/pdf_test.go
Labels: bug, go

#3694 feat(query): added Parameter File Type Not In 'formData' query for swagger
  assets/queries/openAPI/2.0/parameter_file_type_not_in_formdata/metadata.json
  assets/queries/openAPI/2.0/parameter_file_type_not_in_formdata/query.rego
  assets/queries/openAPI/2.0/parameter_file_type_not_in_formdata/test/negative1.json
  assets/queries/openAPI/2.0/parameter_file_type_not_in_formdata/test/negative2.yaml
  assets/queries/openAPI/2.0/parameter_file_type_not_in_formdata/test/positive1.json
  assets/queries/openAPI/2.0/parameter_file_type_not_in_formdata/test/positive2.yaml
  assets/queries/openAPI/2.0/parameter_file_type_not_in_formdata/test/positive_expected_result.json
Labels: openapi, query

#3699 feat(query): moved 'Schema Discriminator Not Required' to general
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/3.0/schema_discriminator_not_required/metadata.json
  assets/queries/openAPI/3.0/schema_discriminator_not_required/query.rego
  assets/queries/openAPI/3.0/schema_discriminator_not_required/test/positive_expected_result.json
  assets/queries/openAPI/general/schema_discriminator_not_required/metadata.json
  assets/queries/openAPI/general/schema_discriminator_not_required/query.rego
  assets/queries/openAPI/general/schema_discriminator_not_required/test/negative1.json
  assets/queries/openAPI/general/schema_discriminator_not_required/test/negative2.json
  assets/queries/openAPI/general/schema_discriminator_not_required/test/negative3.yaml
  assets/queries/openAPI/general/schema_discriminator_not_required/test/negative4.yaml
  assets/queries/openAPI/general/schema_discriminator_not_required/test/negative5.json
  assets/queries/openAPI/general/schema_discriminator_not_required/test/negative6.yaml
  assets/queries/openAPI/general/schema_discriminator_not_required/test/negative7.json
  assets/queries/openAPI/general/schema_discriminator_not_required/test/negative8.yaml
  assets/queries/openAPI/general/schema_discriminator_not_required/test/positive1.json
  assets/queries/openAPI/general/schema_discriminator_not_required/test/positive2.json
  assets/queries/openAPI/general/schema_discriminator_not_required/test/positive3.yaml
  assets/queries/openAPI/general/schema_discriminator_not_required/test/positive4.yaml
  assets/queries/openAPI/general/schema_discriminator_not_required/test/positive5.json
  assets/queries/openAPI/general/schema_discriminator_not_required/test/positive6.yaml
  assets/queries/openAPI/general/schema_discriminator_not_required/test/positive7.json
  assets/queries/openAPI/general/schema_discriminator_not_required/test/positive8.yaml
  assets/queries/openAPI/general/schema_discriminator_not_required/test/positive_expected_result.json
Labels: openapi, query

#3691 fix(CI): removing automated trigger to update install script workflow
  .github/workflows/update-install-script.yaml
Labels: CI

#3702 feat(deps): reverting OPA v0.29.4 to v0.28.0
  go.mod
  go.sum
Labels: dependencies, go

#3695 feat(query): Added Global Responses Definition Not Being Used query for Swagger
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/2.0/unused_response_definition/metadata.json
  assets/queries/openAPI/2.0/unused_response_definition/query.rego
  assets/queries/openAPI/2.0/unused_response_definition/test/negative1.json
  assets/queries/openAPI/2.0/unused_response_definition/test/negative2.yaml
  assets/queries/openAPI/2.0/unused_response_definition/test/positive1.json
  assets/queries/openAPI/2.0/unused_response_definition/test/positive2.yaml
  assets/queries/openAPI/2.0/unused_response_definition/test/positive_expected_result.json
Labels: openapi, query

#3651 feat(query): updating queries related to "Parameter Object"
  assets/queries/openAPI/general/header_parameter_named_as_accept/query.rego
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/negative5.json
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/negative6.yaml
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/positive5.json
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/positive6.yaml
  assets/queries/openAPI/general/header_parameter_named_as_accept/test/positive_expected_result.json
  assets/queries/openAPI/general/header_parameter_named_as_authorization/query.rego
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/negative5.json
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/negative6.yaml
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/positive5.json
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/positive6.yaml
  assets/queries/openAPI/general/header_parameter_named_as_authorization/test/positive_expected_result.json
  assets/queries/openAPI/general/header_parameter_named_as_content_type/query.rego
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/negative5.json
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/negative6.yaml
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/positive5.json
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/positive6.yaml
  assets/queries/openAPI/general/header_parameter_named_as_content_type/test/positive_expected_result.json
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/query.rego
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/negative5.json
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/negative6.yaml
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/positive3.json
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/positive5.json
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/positive6.yaml
  assets/queries/openAPI/general/parameter_objects_headers_dup_name/test/positive_expected_result.json
Labels: openapi, query

#3703 feat(query): moved 'Schema Discriminator Mismatch Defined Properties' to general
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/3.0/schema_discriminator_mismatch_defined_properties/metadata.json
  assets/queries/openAPI/3.0/schema_discriminator_mismatch_defined_properties/query.rego
  assets/queries/openAPI/3.0/schema_discriminator_mismatch_defined_properties/test/positive_expected_result.json
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/metadata.json
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/query.rego
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/negative1.json
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/negative2.json
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/negative3.yaml
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/negative4.yaml
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/negative6.yaml
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/negative8.yaml
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/positive1.json
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/positive2.json
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/positive3.yaml
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/positive4.yaml
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/positive5.json
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/positive6.yaml
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/positive7.json
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/positive8.yaml
  assets/queries/openAPI/general/schema_discriminator_mismatch_defined_properties/test/positive_expected_result.json
Labels: openapi, query

#3704 feat(query): added Multi 'collectionformat' Not Valid For 'in' Parameter query for swagger
  assets/queries/openAPI/2.0/multi_collectionformat_not_valid_in_parameter/metadata.json
  assets/queries/openAPI/2.0/multi_collectionformat_not_valid_in_parameter/query.rego
  assets/queries/openAPI/2.0/multi_collectionformat_not_valid_in_parameter/test/negative1.json
  assets/queries/openAPI/2.0/multi_collectionformat_not_valid_in_parameter/test/negative2.yaml
  assets/queries/openAPI/2.0/multi_collectionformat_not_valid_in_parameter/test/positive1.json
  assets/queries/openAPI/2.0/multi_collectionformat_not_valid_in_parameter/test/positive2.yaml
  assets/queries/openAPI/2.0/multi_collectionformat_not_valid_in_parameter/test/positive_expected_result.json
Labels: openapi, query

#3706 feat(query): added 'Schema with 'additionalProperties' set as Boolean' for swagger
  assets/queries/openAPI/2.0/schema_with_additional_properties_set_as_boolean/metadata.json
  assets/queries/openAPI/2.0/schema_with_additional_properties_set_as_boolean/query.rego
  assets/queries/openAPI/2.0/schema_with_additional_properties_set_as_boolean/test/negative1.json
  assets/queries/openAPI/2.0/schema_with_additional_properties_set_as_boolean/test/negative2.yaml
  assets/queries/openAPI/2.0/schema_with_additional_properties_set_as_boolean/test/negative3.json
  assets/queries/openAPI/2.0/schema_with_additional_properties_set_as_boolean/test/negative4.yaml
  assets/queries/openAPI/2.0/schema_with_additional_properties_set_as_boolean/test/positive1.json
  assets/queries/openAPI/2.0/schema_with_additional_properties_set_as_boolean/test/positive2.yaml
  assets/queries/openAPI/2.0/schema_with_additional_properties_set_as_boolean/test/positive3.json
  assets/queries/openAPI/2.0/schema_with_additional_properties_set_as_boolean/test/positive4.yaml
  assets/queries/openAPI/2.0/schema_with_additional_properties_set_as_boolean/test/positive_expected_result.json
Labels: openapi, query

#3713 feat(query): updated 'Schema Enum Invalid'
  assets/queries/openAPI/general/schema_enum_invalid/test/negative1.json
  assets/queries/openAPI/general/schema_enum_invalid/test/negative2.json
  assets/queries/openAPI/general/schema_enum_invalid/test/negative3.yaml
  assets/queries/openAPI/general/schema_enum_invalid/test/negative4.yaml
  assets/queries/openAPI/general/schema_enum_invalid/test/negative5.json
  assets/queries/openAPI/general/schema_enum_invalid/test/negative6.yaml
  assets/queries/openAPI/general/schema_enum_invalid/test/positive1.json
  assets/queries/openAPI/general/schema_enum_invalid/test/positive2.json
  assets/queries/openAPI/general/schema_enum_invalid/test/positive3.yaml
  assets/queries/openAPI/general/schema_enum_invalid/test/positive4.yaml
  assets/queries/openAPI/general/schema_enum_invalid/test/positive5.json
  assets/queries/openAPI/general/schema_enum_invalid/test/positive6.yaml
  assets/queries/openAPI/general/schema_enum_invalid/test/positive_expected_result.json
Labels: openapi, query

#3705 feat(E2E): added JSON Schema validation
  e2e/cli_test.go
  e2e/fixtures/schemas/result.json
  e2e/utils.go
  go.mod
Labels: tests

#3719 feat(query): updated 'Type Has Invalid Keyword'
  assets/queries/openAPI/general/type_has_invalid_keyword/metadata.json
  assets/queries/openAPI/general/type_has_invalid_keyword/test/negative5.json
  assets/queries/openAPI/general/type_has_invalid_keyword/test/negative6.yaml
  assets/queries/openAPI/general/type_has_invalid_keyword/test/positive10.yaml
  assets/queries/openAPI/general/type_has_invalid_keyword/test/positive9.json
  assets/queries/openAPI/general/type_has_invalid_keyword/test/positive_expected_result.json
Labels: openapi, query

#3720 feat(query): added 'Operation Using Basic Auth' for swagger
  assets/queries/openAPI/2.0/operation_using_basic_auth/metadata.json
  assets/queries/openAPI/2.0/operation_using_basic_auth/query.rego
  assets/queries/openAPI/2.0/operation_using_basic_auth/test/negative1.json
  assets/queries/openAPI/2.0/operation_using_basic_auth/test/negative2.yaml
  assets/queries/openAPI/2.0/operation_using_basic_auth/test/positive1.json
  assets/queries/openAPI/2.0/operation_using_basic_auth/test/positive2.yaml
  assets/queries/openAPI/2.0/operation_using_basic_auth/test/positive_expected_result.json
  assets/queries/openAPI/2.0/security_definitions_using_basic_auth/query.rego
Labels: openapi, query

#3693 feat(query): Added Global Parameter Definition Not Being Used query for Swagger
  assets/queries/openAPI/2.0/unused_parameter_definition/metadata.json
  assets/queries/openAPI/2.0/unused_parameter_definition/query.rego
  assets/queries/openAPI/2.0/unused_parameter_definition/test/negative1.json
  assets/queries/openAPI/2.0/unused_parameter_definition/test/negative2.yaml
  assets/queries/openAPI/2.0/unused_parameter_definition/test/positive1.json
  assets/queries/openAPI/2.0/unused_parameter_definition/test/positive2.yaml
  assets/queries/openAPI/2.0/unused_parameter_definition/test/positive_expected_result.json
Labels: openapi, query

#3698 feat(query): add 'Global Schema Definition Not Being Used' query to Swagger
  assets/queries/openAPI/2.0/unused_schema_definition/metadata.json
  assets/queries/openAPI/2.0/unused_schema_definition/query.rego
  assets/queries/openAPI/2.0/unused_schema_definition/test/negative1.json
  assets/queries/openAPI/2.0/unused_schema_definition/test/negative2.yaml
  assets/queries/openAPI/2.0/unused_schema_definition/test/positive1.json
  assets/queries/openAPI/2.0/unused_schema_definition/test/positive2.yaml
  assets/queries/openAPI/2.0/unused_schema_definition/test/positive_expected_result.json
Labels: openapi, query

#3701 feat(query): Added Security Requirement Not Defined In Security Definition query to Swagger
  assets/queries/openAPI/2.0/security_requirement_not_defined_in_security_definition/metadata.json
  assets/queries/openAPI/2.0/security_requirement_not_defined_in_security_definition/query.rego
  assets/queries/openAPI/2.0/security_requirement_not_defined_in_security_definition/test/negative1.json
  assets/queries/openAPI/2.0/security_requirement_not_defined_in_security_definition/test/negative2.yaml
  assets/queries/openAPI/2.0/security_requirement_not_defined_in_security_definition/test/negative3.json
  assets/queries/openAPI/2.0/security_requirement_not_defined_in_security_definition/test/negative4.yaml
  assets/queries/openAPI/2.0/security_requirement_not_defined_in_security_definition/test/positive1.json
  assets/queries/openAPI/2.0/security_requirement_not_defined_in_security_definition/test/positive2.yaml
  assets/queries/openAPI/2.0/security_requirement_not_defined_in_security_definition/test/positive3.json
  assets/queries/openAPI/2.0/security_requirement_not_defined_in_security_definition/test/positive4.yaml
  assets/queries/openAPI/2.0/security_requirement_not_defined_in_security_definition/test/positive_expected_result.json
Labels: openapi, query

#3708 feat(query): added Multiple Body Parameters In The Same Operation query for swagger
  assets/queries/openAPI/2.0/multi_body_parameters_same_operation/metadata.json
  assets/queries/openAPI/2.0/multi_body_parameters_same_operation/query.rego
  assets/queries/openAPI/2.0/multi_body_parameters_same_operation/test/negative1.json
  assets/queries/openAPI/2.0/multi_body_parameters_same_operation/test/negative2.yaml
  assets/queries/openAPI/2.0/multi_body_parameters_same_operation/test/positive1.json
  assets/queries/openAPI/2.0/multi_body_parameters_same_operation/test/positive2.yaml
  assets/queries/openAPI/2.0/multi_body_parameters_same_operation/test/positive_expected_result.json
Labels: openapi, query

#3707 feat(query): Added Non OAuth2 Security Requirement Defining OAuth2 Scopes query for Swagger
  assets/queries/openAPI/2.0/non_oauth2_security_requirement_defining_oauth2_scopes/metadata.json
  assets/queries/openAPI/2.0/non_oauth2_security_requirement_defining_oauth2_scopes/query.rego
  assets/queries/openAPI/2.0/non_oauth2_security_requirement_defining_oauth2_scopes/test/negative1.json
  assets/queries/openAPI/2.0/non_oauth2_security_requirement_defining_oauth2_scopes/test/negative2.yaml
  assets/queries/openAPI/2.0/non_oauth2_security_requirement_defining_oauth2_scopes/test/positive1.json
  assets/queries/openAPI/2.0/non_oauth2_security_requirement_defining_oauth2_scopes/test/positive2.yaml
  assets/queries/openAPI/2.0/non_oauth2_security_requirement_defining_oauth2_scopes/test/positive_expected_result.json
Labels: openapi, query

#3712 feat(query): Added BasePath With Wrong Format query to Swagger
  assets/queries/openAPI/2.0/basepath_with_wrong_format/metadata.json
  assets/queries/openAPI/2.0/basepath_with_wrong_format/query.rego
  assets/queries/openAPI/2.0/basepath_with_wrong_format/test/negative1.json
  assets/queries/openAPI/2.0/basepath_with_wrong_format/test/negative2.yaml
  assets/queries/openAPI/2.0/basepath_with_wrong_format/test/positive1.json
  assets/queries/openAPI/2.0/basepath_with_wrong_format/test/positive2.yaml
  assets/queries/openAPI/2.0/basepath_with_wrong_format/test/positive_expected_result.json
Labels: openapi, query

#3715 feat(query): Added Operation Object Parameters With 'body' And 'formatData' loactions query to Swagger
  assets/queries/openAPI/2.0/operation_object_parameters_with_body_and_formatdata/metadata.json
  assets/queries/openAPI/2.0/operation_object_parameters_with_body_and_formatdata/query.rego
  assets/queries/openAPI/2.0/operation_object_parameters_with_body_and_formatdata/test/negative1.json
  assets/queries/openAPI/2.0/operation_object_parameters_with_body_and_formatdata/test/negative2.yaml
  assets/queries/openAPI/2.0/operation_object_parameters_with_body_and_formatdata/test/positive1.json
  assets/queries/openAPI/2.0/operation_object_parameters_with_body_and_formatdata/test/positive2.yaml
  assets/queries/openAPI/2.0/operation_object_parameters_with_body_and_formatdata/test/positive_expected_result.json
Labels: openapi, query

#3721 fix(query): wrong logic in apt-get install lists not deleted
  assets/queries/dockerfile/apt_get_install_lists_were_not_deleted/query.rego
  assets/queries/dockerfile/apt_get_install_lists_were_not_deleted/test/negative.dockerfile
  assets/queries/dockerfile/apt_get_install_lists_were_not_deleted/test/positive.dockerfile
  assets/queries/dockerfile/apt_get_install_lists_were_not_deleted/test/positive_expected_result.json
Labels: bug, docker, query

#3725 feat(query): added 'Operation Using Password Flow' for swagger
  assets/queries/openAPI/2.0/operation_using_password_flow/metadata.json
  assets/queries/openAPI/2.0/operation_using_password_flow/query.rego
  assets/queries/openAPI/2.0/operation_using_password_flow/test/negative1.json
  assets/queries/openAPI/2.0/operation_using_password_flow/test/negative2.yaml
  assets/queries/openAPI/2.0/operation_using_password_flow/test/positive1.json
  assets/queries/openAPI/2.0/operation_using_password_flow/test/positive2.yaml
  assets/queries/openAPI/2.0/operation_using_password_flow/test/positive_expected_result.json
  assets/queries/openAPI/2.0/security_definitions_using_password_flow/metadata.json
  assets/queries/openAPI/2.0/security_definitions_using_password_flow/query.rego
Labels: openapi, query

#3740 fix(cli): display PDF file creation report in stdout
  pkg/report/commons.go
  pkg/report/pdf.go
Labels: openapi, query

#3732 ci: fixing assets installation with install script
  install.sh
Labels: bug

#3718 feat(query): added File Parameter With Wrong Consumes Property query for swagger
  assets/queries/openAPI/2.0/file_parameter_with_wrong_consumes_property/metadata.json
  assets/queries/openAPI/2.0/file_parameter_with_wrong_consumes_property/query.rego
  assets/queries/openAPI/2.0/file_parameter_with_wrong_consumes_property/test/negative1.json
  assets/queries/openAPI/2.0/file_parameter_with_wrong_consumes_property/test/negative2.yaml
  assets/queries/openAPI/2.0/file_parameter_with_wrong_consumes_property/test/positive1.json
  assets/queries/openAPI/2.0/file_parameter_with_wrong_consumes_property/test/positive2.yaml
  assets/queries/openAPI/2.0/file_parameter_with_wrong_consumes_property/test/positive_expected_result.json
Labels: openapi, query

#3739 feat(query): added Operation Example Mismatch Produces MimeType for swagger
  assets/queries/openAPI/2.0/operation_example_mismatch_produces_mediatype/metadata.json
  assets/queries/openAPI/2.0/operation_example_mismatch_produces_mediatype/query.rego
  assets/queries/openAPI/2.0/operation_example_mismatch_produces_mediatype/test/negative1.json
  assets/queries/openAPI/2.0/operation_example_mismatch_produces_mediatype/test/negative2.json
  assets/queries/openAPI/2.0/operation_example_mismatch_produces_mediatype/test/negative3.yaml
  assets/queries/openAPI/2.0/operation_example_mismatch_produces_mediatype/test/negative4.yaml
  assets/queries/openAPI/2.0/operation_example_mismatch_produces_mediatype/test/positive1.json
  assets/queries/openAPI/2.0/operation_example_mismatch_produces_mediatype/test/positive2.yaml
  assets/queries/openAPI/2.0/operation_example_mismatch_produces_mediatype/test/positive_expected_result.json
Labels: openapi, query

#3736 feat(query): added 'Global Security Using Password Flow' for swagger
  assets/queries/openAPI/2.0/global_security_using_password_flow/metadata.json
  assets/queries/openAPI/2.0/global_security_using_password_flow/query.rego
  assets/queries/openAPI/2.0/global_security_using_password_flow/test/negative1.json
  assets/queries/openAPI/2.0/global_security_using_password_flow/test/negative2.yaml
  assets/queries/openAPI/2.0/global_security_using_password_flow/test/positive1.json
  assets/queries/openAPI/2.0/global_security_using_password_flow/test/positive2.yaml
  assets/queries/openAPI/2.0/global_security_using_password_flow/test/positive_expected_result.json
  assets/queries/openAPI/2.0/security_definitions_allows_password_flow/metadata.json
  assets/queries/openAPI/2.0/security_definitions_allows_password_flow/query.rego
  assets/queries/openAPI/2.0/security_definitions_allows_password_flow/test/negative1.json
  assets/queries/openAPI/2.0/security_definitions_allows_password_flow/test/negative2.yaml
  assets/queries/openAPI/2.0/security_definitions_allows_password_flow/test/positive1.json
  assets/queries/openAPI/2.0/security_definitions_allows_password_flow/test/positive2.yaml
  assets/queries/openAPI/2.0/security_definitions_allows_password_flow/test/positive_expected_result.json
Labels: openapi, query

#3752 docs(contributing): updating pull request title conventions
  docs/CONTRIBUTING.md
Labels: documentation

#3731 feat(query): moved Example Not Compliant With Schema Type to general
  assets/queries/openAPI/3.0/example_not_compliant_with_schema_type/metadata.json
  assets/queries/openAPI/3.0/example_not_compliant_with_schema_type/test/positive_expected_result.json
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/metadata.json
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/query.rego
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/negative1.json
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/negative10.yaml
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/negative11.json
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/negative12.yaml
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/negative2.yaml
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/negative3.json
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/negative4.yaml
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/negative5.json
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/negative6.yaml
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/negative7.json
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/negative8.yaml
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/negative9.json
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/positive1.json
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/positive10.yaml
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/positive11.json
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/positive12.yaml
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/positive2.yaml
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/positive3.json
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/positive4.yaml
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/positive5.json
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/positive6.yaml
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/positive7.json
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/positive8.yaml
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/positive9.json
  assets/queries/openAPI/general/example_not_compliant_with_schema_type/test/positive_expected_result.json
Labels: openapi, query

#3754 test(e2e): add schema validation for gl-sast & sarif results/reports
  e2e/cli_test.go
  e2e/fixtures/E2E_CLI_032_RESULT.json
  e2e/fixtures/schemas/result-gl-sast.json
  e2e/fixtures/schemas/result-sarif-required.json
  e2e/fixtures/schemas/result-sarif.json
  e2e/fixtures/schemas/result.json
  e2e/utils.go
Labels: tests

#3735 feat(query): add Schemes Uses HTTP query for Swagger
  assets/queries/openAPI/2.0/schemes_uses_http copy/metadata.json
  assets/queries/openAPI/2.0/schemes_uses_http copy/query.rego
  assets/queries/openAPI/2.0/schemes_uses_http copy/test/negative1.json
  assets/queries/openAPI/2.0/schemes_uses_http copy/test/negative2.yaml
  assets/queries/openAPI/2.0/schemes_uses_http copy/test/positive1.json
  assets/queries/openAPI/2.0/schemes_uses_http copy/test/positive2.yaml
  assets/queries/openAPI/2.0/schemes_uses_http copy/test/positive_expected_result.json
Labels: openapi, query

#3734 feat(query): correcting samples in numeric schema queries
  assets/queries/openAPI/general/numeric_schema_without_format/test/negative1.json
  assets/queries/openAPI/general/numeric_schema_without_format/test/negative2.json
  assets/queries/openAPI/general/numeric_schema_without_format/test/negative3.yaml
  assets/queries/openAPI/general/numeric_schema_without_format/test/negative5.json
  assets/queries/openAPI/general/numeric_schema_without_format/test/negative6.yaml
  assets/queries/openAPI/general/numeric_schema_without_format/test/positive1.json
  assets/queries/openAPI/general/numeric_schema_without_format/test/positive2.json
  assets/queries/openAPI/general/numeric_schema_without_format/test/positive3.yaml
  assets/queries/openAPI/general/numeric_schema_without_format/test/positive5.json
  assets/queries/openAPI/general/numeric_schema_without_format/test/positive6.yaml
  assets/queries/openAPI/general/numeric_schema_without_format/test/positive_expected_result.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/negative1.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/negative2.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/negative3.yaml
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/negative5.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/negative6.yaml
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/positive1.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/positive2.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/positive3.yaml
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/positive5.json
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/positive6.yaml
  assets/queries/openAPI/general/numeric_schema_without_maximum/test/positive_expected_result.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/negative1.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/negative2.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/negative3.yaml
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/negative5.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/negative6.yaml
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/positive1.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/positive2.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/positive3.yaml
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/positive5.json
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/positive6.yaml
  assets/queries/openAPI/general/numeric_schema_without_minimum/test/positive_expected_result.json
Labels: openapi, query

#3733 feat(query): add Operation Using Implicit Flow query to Swagger
  assets/queries/openAPI/2.0/operation_using_implicit_flow/metadata.json
  assets/queries/openAPI/2.0/operation_using_implicit_flow/query.rego
  assets/queries/openAPI/2.0/operation_using_implicit_flow/test/negative1.json
  assets/queries/openAPI/2.0/operation_using_implicit_flow/test/negative2.yaml
  assets/queries/openAPI/2.0/operation_using_implicit_flow/test/positive1.json
  assets/queries/openAPI/2.0/operation_using_implicit_flow/test/positive2.yaml
  assets/queries/openAPI/2.0/operation_using_implicit_flow/test/positive_expected_result.json
Labels: openapi, query

#3746 feat(query): updated version check for open api 3.0
  assets/queries/openAPI/3.0/api_key_exposed_in_global_security_scheme/query.rego
  assets/queries/openAPI/3.0/callback_object_incorrect_ref/query.rego
  assets/queries/openAPI/3.0/cleartext_credentials_with_basic_auth_for_operation/query.rego
  assets/queries/openAPI/3.0/components_callback_definition_unused/query.rego
  assets/queries/openAPI/3.0/components_example_definition_unused/query.rego
  assets/queries/openAPI/3.0/components_header_definition_unused/query.rego
  assets/queries/openAPI/3.0/components_link_definition_unused/query.rego
  assets/queries/openAPI/3.0/components_object_fixed_field_key_improperly_named/query.rego
  assets/queries/openAPI/3.0/components_parameter_definition_unused/query.rego
  assets/queries/openAPI/3.0/components_request_body_definition_unused/query.rego
  assets/queries/openAPI/3.0/components_response_definition_unused/query.rego
  assets/queries/openAPI/3.0/components_schema_definition_unused/query.rego
  assets/queries/openAPI/3.0/empty_array/query.rego
  assets/queries/openAPI/3.0/encoding_header_content_type_improperly_defined/query.rego
  assets/queries/openAPI/3.0/encoding_map_key_mismatch_schema_defined_properties/query.rego
  assets/queries/openAPI/3.0/example_json_reference_outside_components_examples/query.rego
  assets/queries/openAPI/3.0/global_security_scheme_using_basic_authentication/query.rego
  assets/queries/openAPI/3.0/header_object_with_incorrect_ref/query.rego
  assets/queries/openAPI/3.0/header_object_without_schema/query.rego
  assets/queries/openAPI/3.0/implicit_flow_oauth2/query.rego
  assets/queries/openAPI/3.0/invalid_content_type_for_multiple_files_upload/query.rego
  assets/queries/openAPI/3.0/invalid_media_type_value/query.rego
  assets/queries/openAPI/3.0/json_reference_does_not_exists_callback/query.rego
  assets/queries/openAPI/3.0/json_reference_does_not_exists_example/query.rego
  assets/queries/openAPI/3.0/json_reference_does_not_exists_header/query.rego
  assets/queries/openAPI/3.0/json_reference_does_not_exists_link/query.rego
  assets/queries/openAPI/3.0/json_reference_does_not_exists_request_body/query.rego
  assets/queries/openAPI/3.0/link_object_incorrect_ref/query.rego
  assets/queries/openAPI/3.0/link_object_operation_id_does_not_target_an_operation_object/query.rego
  assets/queries/openAPI/3.0/link_object_with_both_operation_id_and_operation_ref/query.rego
  assets/queries/openAPI/3.0/media_type_object_without_schema/query.rego
  assets/queries/openAPI/3.0/oauth2_with_implicit_flow/query.rego
  assets/queries/openAPI/3.0/oauth2_with_password_flow/query.rego
  assets/queries/openAPI/3.0/parameter_object_content_with_multiple_entries/query.rego
  assets/queries/openAPI/3.0/parameter_object_schema_content/query.rego
  assets/queries/openAPI/3.0/parameter_object_undefined_type/query.rego
  assets/queries/openAPI/3.0/property_allow_empty_value_ignored/query.rego
  assets/queries/openAPI/3.0/property_allow_reserved_encoding_object_ignored/query.rego
  assets/queries/openAPI/3.0/property_allow_reserved_improperly_defined/query.rego
  assets/queries/openAPI/3.0/property_explode_encoding_object_ignored/query.rego
  assets/queries/openAPI/3.0/property_type_encoding_object_ignored/query.rego
  assets/queries/openAPI/3.0/request_body_incorrect_ref/query.rego
  assets/queries/openAPI/3.0/request_body_object_with_incorrect_media_type/query.rego
  assets/queries/openAPI/3.0/schema_with_both_read_only_and_write_only/query.rego
  assets/queries/openAPI/3.0/security_field_undefined/query.rego
  assets/queries/openAPI/3.0/security_operation_field_undefined/query.rego
  assets/queries/openAPI/3.0/security_requirement_object_with_wrong_scopes/query.rego
  assets/queries/openAPI/3.0/security_scheme_using_http_basic/query.rego
  assets/queries/openAPI/3.0/security_scheme_using_http_digest/query.rego
  assets/queries/openAPI/3.0/security_scheme_using_http_negotiate/query.rego
  assets/queries/openAPI/3.0/security_schemes_http_unknown_scheme/query.rego
  assets/queries/openAPI/3.0/security_schemes_using_oauth/query.rego
  assets/queries/openAPI/3.0/server_object_variable_not_used/query.rego
  assets/queries/openAPI/3.0/server_url_not_absolute/query.rego
  assets/queries/openAPI/3.0/server_url_uses_undefined_variables/query.rego
  assets/queries/openAPI/3.0/success_response_code_undefined_trace_operation/query.rego
Labels: openapi, query

#3766 docs: fixing sitemap.xml generation
  mkdocs.yml
Labels: documentation

#3744 feat(query): added Constraining Enum Property query for swagger
  assets/libraries/openapi/library.rego
  assets/queries/openAPI/2.0/constraining_enum_property/metadata.json
  assets/queries/openAPI/2.0/constraining_enum_property/query.rego
  assets/queries/openAPI/2.0/constraining_enum_property/test/negative1.json
  assets/queries/openAPI/2.0/constraining_enum_property/test/negative2.yaml
  assets/queries/openAPI/2.0/constraining_enum_property/test/positive1.json
  assets/queries/openAPI/2.0/constraining_enum_property/test/positive2.yaml
  assets/queries/openAPI/2.0/constraining_enum_property/test/positive_expected_result.json
Labels: openapi, query

#3742 feat(query): Added Property Not Unique to Swagger
  assets/queries/openAPI/2.0/property_not_unique/metadata.json
  assets/queries/openAPI/2.0/property_not_unique/query.rego
  assets/queries/openAPI/2.0/property_not_unique/test/negative1.json
  assets/queries/openAPI/2.0/property_not_unique/test/negative2.yaml
  assets/queries/openAPI/2.0/property_not_unique/test/positive1.json
  assets/queries/openAPI/2.0/property_not_unique/test/positive2.yaml
  assets/queries/openAPI/2.0/property_not_unique/test/positive_expected_result.json
Labels: openapi, query

#3747 docs(guides): add 'Query Development Tutorial' section in creating-queries.md
  docs/creating-queries.md
  docs/img/rego_playground_example_tf.PNG
Labels: documentation

#3765 ci: sonarcloud should not run in forks
  .github/workflows/sonarcloud.yml
Labels: CI

#3764 ci: make dependabot commit messages follow conventions
  .github/dependabot.yml
Labels: CI

#3776 docs: updating instructions on pdf report usage
  docs/commands.md
  docs/img/pdf-report.png
  docs/results.md
Labels: documentation

#3777 fix(query): Updated Property Not Unique query with detect line issue
  assets/queries/openAPI/2.0/property_not_unique/query.rego
  assets/queries/openAPI/2.0/property_not_unique/test/positive_expected_result.json
Labels: bug, openapi, query

#3778 feat(query): Added query Additional Properties Too Restrictive for open
  assets/queries/openAPI/3.0/additional_properties_too_restrective/metadata.json
  assets/queries/openAPI/3.0/additional_properties_too_restrective/query.rego
  assets/queries/openAPI/3.0/additional_properties_too_restrective/test/negative1.json
  assets/queries/openAPI/3.0/additional_properties_too_restrective/test/negative2.yaml
  assets/queries/openAPI/3.0/additional_properties_too_restrective/test/positive1.json
  assets/queries/openAPI/3.0/additional_properties_too_restrective/test/positive2.yaml
  assets/queries/openAPI/3.0/additional_properties_too_restrective/test/positive3.json
  assets/queries/openAPI/3.0/additional_properties_too_restrective/test/positive4.yaml
  assets/queries/openAPI/3.0/additional_properties_too_restrective/test/positive_expected_result.json
Labels: openapi, query

#3771 feat(query): Added query Additional Properties Too Permissive for open api
  assets/queries/openAPI/3.0/additional_properties_too_permissive/metadata.json
  assets/queries/openAPI/3.0/additional_properties_too_permissive/query.rego
  assets/queries/openAPI/3.0/additional_properties_too_permissive/test/negative1.json
  assets/queries/openAPI/3.0/additional_properties_too_permissive/test/negative2.yaml
  assets/queries/openAPI/3.0/additional_properties_too_permissive/test/positive1.json
  assets/queries/openAPI/3.0/additional_properties_too_permissive/test/positive2.yaml
  assets/queries/openAPI/3.0/additional_properties_too_permissive/test/positive3.json
  assets/queries/openAPI/3.0/additional_properties_too_permissive/test/positive4.yaml
  assets/queries/openAPI/3.0/additional_properties_too_permissive/test/positive5.json
  assets/queries/openAPI/3.0/additional_properties_too_permissive/test/positive6.yaml
  assets/queries/openAPI/3.0/additional_properties_too_permissive/test/positive_expected_result.json
Labels: openapi, query

#3737 feat(engine): extract zip file passed as --path
  internal/console/scan.go
  pkg/engine/provider/zipprovider.go
  pkg/engine/provider/zipprovider_test.go
  pkg/model/summary.go
  pkg/model/summary_test.go
  pkg/report/commons.go
  pkg/report/json.go
  pkg/report/model/gitlab_sast.go
  pkg/report/model/gitlab_sast_test.go
  pkg/report/model/sarif.go
  pkg/report/model/sarif_test.go
  pkg/report/pdf.go
  test/fixtures/test_zip.zip
Labels: enhancement, go

#3775 fix(core): accept folders names with dots
  .github/workflows/go-ci-integration.yml
  internal/console/kics_test.go
  internal/console/scan.go
Labels: bug

#3774 feat(docs): updated link to have latest reference
  .github/workflows/prepare-release.yaml
  .github/workflows/update-docs-index.yaml
  .github/workflows/update-docs-release.yaml
  docs/js/version-mike.js
Labels: documentation, feature

#3785 docs: fix query creation guide code snippets generation
  docs/creating-queries.md
Labels: documentation

#3786 fix(detector): panic with docker detector multilineSpliter #3784
  pkg/detector/docker/docker_detect.go
Labels: bug, go

#3788 fix(report): Fix path always abs with windows and zip extraction
  pkg/engine/provider/zipprovider.go
Labels: bug, go

#3792 ci: fix docs release process
  .github/workflows/update-docs-release.yaml
Labels: CI, bug
