Repository Checkmarx/kics, pull requests merged in 2022-03, with the labels that each got.

#4879 fix(reports): Version output on reports
  pkg/report/model/junit.go
  pkg/report/model/junit_test.go
  pkg/report/pdf.go
Labels: bug

#4869 feat(test): Added more tests
  internal/console/flags/flags_test.go
  internal/console/flags/flags_utils_test.go
  internal/console/printer/options_test.go
  internal/console/printer/printer_test.go
  internal/console/printer/utils_test.go
  internal/constants/constants_test.go
  pkg/descriptions/version_test.go
  pkg/detector/detector_test.go
  pkg/report/asff_test.go
  pkg/scan/client_test.go
  pkg/utils/map_test.go
  pkg/utils/random_test.go
Labels: tests

#4862 fix(library): fixed "Generic:354: rego_type_error: rule named engines redeclared at Common:354"
  assets/libraries/common.rego
  docs/platforms.md
  pkg/engine/inspector_test.go
  test/fixtures/common_query_test/metadata.json
  test/fixtures/common_query_test/query.rego
  test/fixtures/get_queries_test/common_query.rego
Labels: bug

#4906 fix(tests): corrected bug in queries test
  assets/libraries/openapi.rego
  assets/queries/dockerfile/yum_clean_all_missing/test/positive_expected_result.json
  assets/queries/googleDeploymentManager/cos_node_image_not_used/test/positive_expected_result.json
  assets/queries/terraform/aws/rest_api_with_vulnerable_policy/test/positive.tf
  assets/queries/terraform/aws_bom/sqs/test/positive6.tf
  assets/queries/terraform/aws_bom/sqs/test/positive_expected_result.json
  test/main_test.go
Labels: query

#4907 fix(query): fixed positive expected results for Invalid Image Tag
  assets/queries/k8s/invalid_image/test/positive_expected_result.json
Labels: bug

#4918 Feat(query): added "OSS Bucket Transfer Acceleration Disabled" for terraform.
  assets/queries/terraform/alicloud/oss_bucket_transfer_acceleration_disabled/metadata.json
  assets/queries/terraform/alicloud/oss_bucket_transfer_acceleration_disabled/query.rego
  assets/queries/terraform/alicloud/oss_bucket_transfer_acceleration_disabled/test/negative1.tf
  assets/queries/terraform/alicloud/oss_bucket_transfer_acceleration_disabled/test/positive1.tf
  assets/queries/terraform/alicloud/oss_bucket_transfer_acceleration_disabled/test/positive2.tf
  assets/queries/terraform/alicloud/oss_bucket_transfer_acceleration_disabled/test/positive_expected_result.json
  test/main_test.go
Labels: query, terraform, alicloud

#4937 fix(report): Fix pdf description row length
  pkg/report/pdf.go
Labels: bug

#4924 Feat(query): Added Ram Account Password Policy not Required Numbers for Terraform
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_numbers/metadata.json
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_numbers/query.rego
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_numbers/test/negative1.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_numbers/test/negative2.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_numbers/test/positive1.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_numbers/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4926 Feat(query): Added RAM Account Password Policy Not Required Lowercase Characters for Terraform
  assets/queries/terraform/alicloud/ram_password_security_policy_not_require_at_least_one_lowercase_character/metadata.json
  assets/queries/terraform/alicloud/ram_password_security_policy_not_require_at_least_one_lowercase_character/query.rego
  assets/queries/terraform/alicloud/ram_password_security_policy_not_require_at_least_one_lowercase_character/test/negative1.tf
  assets/queries/terraform/alicloud/ram_password_security_policy_not_require_at_least_one_lowercase_character/test/negative2.tf
  assets/queries/terraform/alicloud/ram_password_security_policy_not_require_at_least_one_lowercase_character/test/positive1.tf
  assets/queries/terraform/alicloud/ram_password_security_policy_not_require_at_least_one_lowercase_character/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4927 Feat(query): Added RAM Account Password Policy Not Required Uppercase Characters for Terraform
  assets/queries/terraform/alicloud/ram_password_security_policy_not_require_at_least_one_uppercase_character/metadata.json
  assets/queries/terraform/alicloud/ram_password_security_policy_not_require_at_least_one_uppercase_character/query.rego
  assets/queries/terraform/alicloud/ram_password_security_policy_not_require_at_least_one_uppercase_character/test/negative1.tf
  assets/queries/terraform/alicloud/ram_password_security_policy_not_require_at_least_one_uppercase_character/test/negative2.tf
  assets/queries/terraform/alicloud/ram_password_security_policy_not_require_at_least_one_uppercase_character/test/positive1.tf
  assets/queries/terraform/alicloud/ram_password_security_policy_not_require_at_least_one_uppercase_character/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4929 Feat(query): Added Ram Account Password Policy Not Required Minimum Length for Terraform
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_minimum_length/metadata.json
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_minimum_length/query.rego
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_minimum_length/test/negative1.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_minimum_length/test/positive1.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_minimum_length/test/positive2.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_minimum_length/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4930 Feat(query): Added Ram Account Password Policy Max Login Attempts Unrecommended for Terraform
  assets/queries/terraform/alicloud/ram_account_password_policy_max_login_attempts_unrecommended/metadata.json
  assets/queries/terraform/alicloud/ram_account_password_policy_max_login_attempts_unrecommended/query.rego
  assets/queries/terraform/alicloud/ram_account_password_policy_max_login_attempts_unrecommended/test/negative1.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_max_login_attempts_unrecommended/test/negative2.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_max_login_attempts_unrecommended/test/positive1.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_max_login_attempts_unrecommended/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4934 Feat(query): Added Ram Account Password Policy Max Password Age Unrecommended for Terraform
  assets/queries/terraform/alicloud/ram_account_password_policy_max_password_age_unrecommended/metadata.json
  assets/queries/terraform/alicloud/ram_account_password_policy_max_password_age_unrecommended/query.rego
  assets/queries/terraform/alicloud/ram_account_password_policy_max_password_age_unrecommended/test/negative1.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_max_password_age_unrecommended/test/positive1.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_max_password_age_unrecommended/test/positive2.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_max_password_age_unrecommended/test/positive3.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_max_password_age_unrecommended/test/positive_expected_result.json
Labels: alicloud

#4936 Feat(query): Added Alicloud RAM Account Password Policy without Reuse Prevention for Terraform
  assets/queries/terraform/alicloud/ram_account_password_policy_without_reuse_prevention/metadata.json
  assets/queries/terraform/alicloud/ram_account_password_policy_without_reuse_prevention/query.rego
  assets/queries/terraform/alicloud/ram_account_password_policy_without_reuse_prevention/test/negative1.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_without_reuse_prevention/test/positive1.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_without_reuse_prevention/test/positive2.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_without_reuse_prevention/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4938 Feat(query): Added Alicloud RDS Instance Log Connections Disabled for Terraform
  assets/queries/terraform/alicloud/rds_instance_log_connections_disabled/metadata.json
  assets/queries/terraform/alicloud/rds_instance_log_connections_disabled/query.rego
  assets/queries/terraform/alicloud/rds_instance_log_connections_disabled/test/negative.tf
  assets/queries/terraform/alicloud/rds_instance_log_connections_disabled/test/positive1.tf
  assets/queries/terraform/alicloud/rds_instance_log_connections_disabled/test/positive2.tf
  assets/queries/terraform/alicloud/rds_instance_log_connections_disabled/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4945 Feat(query): Added Alicloud RDS Instance Log Disconnections Disabled for Terraform
  assets/queries/terraform/alicloud/rds_instance_log_disconenctions_disabled/metadata.json
  assets/queries/terraform/alicloud/rds_instance_log_disconenctions_disabled/query.rego
  assets/queries/terraform/alicloud/rds_instance_log_disconenctions_disabled/test/negative1.tf
  assets/queries/terraform/alicloud/rds_instance_log_disconenctions_disabled/test/positive1.tf
  assets/queries/terraform/alicloud/rds_instance_log_disconenctions_disabled/test/positive2.tf
  assets/queries/terraform/alicloud/rds_instance_log_disconenctions_disabled/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4925 Feat(query): Added RAM Account Password Policy Not Required Symbols for Terraform.
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_symbols/metadata.json
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_symbols/query.rego
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_symbols/test/negative1.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_symbols/test/positive1.tf
  assets/queries/terraform/alicloud/ram_account_password_policy_not_required_symbols/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4931 Feat.(query): Added Alicloud Oss Bucket Public Access Enabled Query for Terraform
  assets/queries/terraform/alicloud/oss_bucket_public_access_enabled/metadata.json
  assets/queries/terraform/alicloud/oss_bucket_public_access_enabled/query.rego
  assets/queries/terraform/alicloud/oss_bucket_public_access_enabled/test/negative1.tf
  assets/queries/terraform/alicloud/oss_bucket_public_access_enabled/test/negative2.tf
  assets/queries/terraform/alicloud/oss_bucket_public_access_enabled/test/positive1.tf
  assets/queries/terraform/alicloud/oss_bucket_public_access_enabled/test/positive2.tf
  assets/queries/terraform/alicloud/oss_bucket_public_access_enabled/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4935 Feat(query): Added Lifecycle_rule Disabled Query for Alicloud Terraform
  assets/queries/terraform/alicloud/oss_bucket_lifecycle_disabled/metadata.json
  assets/queries/terraform/alicloud/oss_bucket_lifecycle_disabled/query.rego
  assets/queries/terraform/alicloud/oss_bucket_lifecycle_disabled/test/negative1.tf
  assets/queries/terraform/alicloud/oss_bucket_lifecycle_disabled/test/positive1.tf
  assets/queries/terraform/alicloud/oss_bucket_lifecycle_disabled/test/positive2.tf
  assets/queries/terraform/alicloud/oss_bucket_lifecycle_disabled/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4946 Feat.(Query) Added Ip Restriction Disabled Query for Terraform Alicloud
  assets/queries/terraform/alicloud/oss_bucket_ip_restriction_disabled/metadata.json
  assets/queries/terraform/alicloud/oss_bucket_ip_restriction_disabled/query.rego
  assets/queries/terraform/alicloud/oss_bucket_ip_restriction_disabled/test/negative1.tf
  assets/queries/terraform/alicloud/oss_bucket_ip_restriction_disabled/test/negative2.tf
  assets/queries/terraform/alicloud/oss_bucket_ip_restriction_disabled/test/positive1.tf
  assets/queries/terraform/alicloud/oss_bucket_ip_restriction_disabled/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4949 Fix(query): S3 Bucket Policy Accepts Http Requests
  assets/queries/terraform/aws/s3_bucket_policy_accepts_http_requests/query.rego
  assets/queries/terraform/aws/s3_bucket_policy_accepts_http_requests/test/negative4.tf
Labels: query, aws

#4947 Feat.(Query): Added Alicloud RDS Instance Log Duration Disabled for Terraform
  assets/queries/terraform/alicloud/rds_instance_log_duration_disabled/metadata.json
  assets/queries/terraform/alicloud/rds_instance_log_duration_disabled/query.rego
  assets/queries/terraform/alicloud/rds_instance_log_duration_disabled/test/negative1.tf
  assets/queries/terraform/alicloud/rds_instance_log_duration_disabled/test/positive1.tf
  assets/queries/terraform/alicloud/rds_instance_log_duration_disabled/test/positive2.tf
  assets/queries/terraform/alicloud/rds_instance_log_duration_disabled/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4963 feat(Query): Added Alicloud Public Security Group Rule Sensitive Port for Terraform
  assets/libraries/common.rego
  assets/libraries/terraform.rego
  assets/queries/terraform/alicloud/public_security_group_rule_sensitive_port/metadata.json
  assets/queries/terraform/alicloud/public_security_group_rule_sensitive_port/query.rego
  assets/queries/terraform/alicloud/public_security_group_rule_sensitive_port/test/negative1.tf
  assets/queries/terraform/alicloud/public_security_group_rule_sensitive_port/test/negative2.tf
  assets/queries/terraform/alicloud/public_security_group_rule_sensitive_port/test/positive1.tf
  assets/queries/terraform/alicloud/public_security_group_rule_sensitive_port/test/positive2.tf
  assets/queries/terraform/alicloud/public_security_group_rule_sensitive_port/test/positive3.tf
  assets/queries/terraform/alicloud/public_security_group_rule_sensitive_port/test/positive_expected_result.json
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_entire_network/metadata.json
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_entire_network/test/positive_expected_result.json
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_small_public_network/metadata.json
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_small_public_network/test/positive_expected_result.json
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/metadata.json
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive_expected_result.json
  assets/queries/terraform/azure/sensitive_port_is_exposed_to_entire_network/metadata.json
  assets/queries/terraform/azure/sensitive_port_is_exposed_to_small_public_network/metadata.json
  assets/queries/terraform/azure/sensitive_port_is_exposed_to_wide_private_network/metadata.json
Labels: query, terraform, alicloud

#4952 Feat(query): Added Logging Disabled Query for Terraform Alicloud
  assets/queries/terraform/alicloud/oss_bucket_logging_disabled/metadata.json
  assets/queries/terraform/alicloud/oss_bucket_logging_disabled/query.rego
  assets/queries/terraform/alicloud/oss_bucket_logging_disabled/test/negative1.tf
  assets/queries/terraform/alicloud/oss_bucket_logging_disabled/test/positive1.tf
  assets/queries/terraform/alicloud/oss_bucket_logging_disabled/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4970 Feat(Query): Terraform alicloud action trail logging for all regions disabled
  assets/queries/terraform/alicloud/action_trail_logging_all_regions_disabled/metadata.json
  assets/queries/terraform/alicloud/action_trail_logging_all_regions_disabled/query.rego
  assets/queries/terraform/alicloud/action_trail_logging_all_regions_disabled/test/negative1.tf
  assets/queries/terraform/alicloud/action_trail_logging_all_regions_disabled/test/positive1.tf
  assets/queries/terraform/alicloud/action_trail_logging_all_regions_disabled/test/positive2.tf
  assets/queries/terraform/alicloud/action_trail_logging_all_regions_disabled/test/positive3.tf
  assets/queries/terraform/alicloud/action_trail_logging_all_regions_disabled/test/positive4.tf
  assets/queries/terraform/alicloud/action_trail_logging_all_regions_disabled/test/positive5.tf
  assets/queries/terraform/alicloud/action_trail_logging_all_regions_disabled/test/positive6.tf
  assets/queries/terraform/alicloud/action_trail_logging_all_regions_disabled/test/positive7.tf
  assets/queries/terraform/alicloud/action_trail_logging_all_regions_disabled/test/positive8.tf
  assets/queries/terraform/alicloud/action_trail_logging_all_regions_disabled/test/positive9.tf
  assets/queries/terraform/alicloud/action_trail_logging_all_regions_disabled/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4969 ci(kics): Remove comments from KICS Github Actions
  .github/workflows/kics-gh-action.yaml
Labels: CI

#4971 feat(docs): replaced all links pointing to gitter with links pointing to github discussions
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  docs/CONTRIBUTING.md
  docs/about.md
  docs/index.md
  docs/roadmap.md
Labels: documentation

#4976 feat(analyzer & parser): decrypt Ansible Vault file on the fly
  docs/platforms.md
  go.mod
  go.sum
  pkg/analyzer/analyzer.go
  pkg/parser/parser.go
  pkg/utils/ansible_vault.go
  pkg/utils/ansible_vault_test.go
Labels: feature request

#4964 feat(Query): Added Alicloud RDS Instance Publicly Acessible for Terraform
  assets/queries/terraform/alicloud/rds_instance_publicly_accessible/metadata.json
  assets/queries/terraform/alicloud/rds_instance_publicly_accessible/query.rego
  assets/queries/terraform/alicloud/rds_instance_publicly_accessible/test/negative1.tf
  assets/queries/terraform/alicloud/rds_instance_publicly_accessible/test/negative2.tf
  assets/queries/terraform/alicloud/rds_instance_publicly_accessible/test/positive1.tf
  assets/queries/terraform/alicloud/rds_instance_publicly_accessible/test/positive2.tf
  assets/queries/terraform/alicloud/rds_instance_publicly_accessible/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4961 Feat(Query): Oss Bucket Encryption Disabled Query for Alicloud Terraform
  assets/queries/terraform/alicloud/oss_bucket_cmk_encryption_disabled/metadata.json
  assets/queries/terraform/alicloud/oss_bucket_cmk_encryption_disabled/query.rego
  assets/queries/terraform/alicloud/oss_bucket_cmk_encryption_disabled/test/negative1.tf
  assets/queries/terraform/alicloud/oss_bucket_cmk_encryption_disabled/test/positive1.tf
  assets/queries/terraform/alicloud/oss_bucket_cmk_encryption_disabled/test/positive2.tf
  assets/queries/terraform/alicloud/oss_bucket_cmk_encryption_disabled/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4959 Feat(Query): Added Alicloud RDS Instance SSL Action Disabled for Terraform
  assets/queries/terraform/alicloud/rds_instance_ssl_action_disabled/metadata.json
  assets/queries/terraform/alicloud/rds_instance_ssl_action_disabled/query.rego
  assets/queries/terraform/alicloud/rds_instance_ssl_action_disabled/test/negative1.tf
  assets/queries/terraform/alicloud/rds_instance_ssl_action_disabled/test/negative2.tf
  assets/queries/terraform/alicloud/rds_instance_ssl_action_disabled/test/positive1.tf
  assets/queries/terraform/alicloud/rds_instance_ssl_action_disabled/test/positive2.tf
  assets/queries/terraform/alicloud/rds_instance_ssl_action_disabled/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4977 Feat(Query): Added query ActionTrail Trail OSS Bucket is Publicly Accessible for Alicloud Terraform
  assets/queries/terraform/alicloud/actiontrail_trail_oss_bucket_is_publicly_accessible/metadata.json
  assets/queries/terraform/alicloud/actiontrail_trail_oss_bucket_is_publicly_accessible/query.rego
  assets/queries/terraform/alicloud/actiontrail_trail_oss_bucket_is_publicly_accessible/test/negative1.tf
  assets/queries/terraform/alicloud/actiontrail_trail_oss_bucket_is_publicly_accessible/test/negative2.tf
  assets/queries/terraform/alicloud/actiontrail_trail_oss_bucket_is_publicly_accessible/test/positive1.tf
  assets/queries/terraform/alicloud/actiontrail_trail_oss_bucket_is_publicly_accessible/test/positive2.tf
  assets/queries/terraform/alicloud/actiontrail_trail_oss_bucket_is_publicly_accessible/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4978 feat(query): Added Alicloud API Gateway API protocol Not HTTPS for Terraform
  assets/queries/terraform/alicloud/api_gateway_api_protocol_not_https/metadata.json
  assets/queries/terraform/alicloud/api_gateway_api_protocol_not_https/query.rego
  assets/queries/terraform/alicloud/api_gateway_api_protocol_not_https/test/negative1.tf
  assets/queries/terraform/alicloud/api_gateway_api_protocol_not_https/test/positive1.tf
  assets/queries/terraform/alicloud/api_gateway_api_protocol_not_https/test/positive2.tf
  assets/queries/terraform/alicloud/api_gateway_api_protocol_not_https/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4979 feat(docs): added environment variables list
  docs/environment_variables_list.md
Labels: documentation

#4982 feat(query): Added alicloud RDS Instance events not logged for Terraform
  assets/queries/terraform/alicloud/rds_instance_events_not_logged/metadata.json
  assets/queries/terraform/alicloud/rds_instance_events_not_logged/query.rego
  assets/queries/terraform/alicloud/rds_instance_events_not_logged/test/negative1.tf
  assets/queries/terraform/alicloud/rds_instance_events_not_logged/test/positive1.tf
  assets/queries/terraform/alicloud/rds_instance_events_not_logged/test/positive2.tf
  assets/queries/terraform/alicloud/rds_instance_events_not_logged/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4984 fix(query): add a missing SSE way for SQS
  assets/queries/terraform/aws/sqs_with_sse_disabled/query.rego
  assets/queries/terraform/aws/sqs_with_sse_disabled/test/negative3.tf
  assets/queries/terraform/aws/sqs_with_sse_disabled/test/positive7.tf
  assets/queries/terraform/aws/sqs_with_sse_disabled/test/positive_expected_result.json
Labels: query, community

#4940 feat(query): Anonymous Auth Is Not Set To False
  assets/queries/k8s/anonymous_auth_is_not_set_to_false/metadata.json
  assets/queries/k8s/anonymous_auth_is_not_set_to_false/query.rego
  assets/queries/k8s/anonymous_auth_is_not_set_to_false/test/negative1.yaml
  assets/queries/k8s/anonymous_auth_is_not_set_to_false/test/negative2.yaml
  assets/queries/k8s/anonymous_auth_is_not_set_to_false/test/negative3.yaml
  assets/queries/k8s/anonymous_auth_is_not_set_to_false/test/negative4.yaml
  assets/queries/k8s/anonymous_auth_is_not_set_to_false/test/positive1.yaml
  assets/queries/k8s/anonymous_auth_is_not_set_to_false/test/positive2.yaml
  assets/queries/k8s/anonymous_auth_is_not_set_to_false/test/positive3.yaml
  assets/queries/k8s/anonymous_auth_is_not_set_to_false/test/positive4.yaml
  assets/queries/k8s/anonymous_auth_is_not_set_to_false/test/positive_expected_result.json
Labels: query

#4983 feat(query): Added Alicloud Public Security Group Rule All Ports or Protocols for Terraform
  assets/queries/terraform/alicloud/public_security_group_rule_all_ports_or_protocols/metadata.json
  assets/queries/terraform/alicloud/public_security_group_rule_all_ports_or_protocols/query.rego
  assets/queries/terraform/alicloud/public_security_group_rule_all_ports_or_protocols/test/negative1.tf
  assets/queries/terraform/alicloud/public_security_group_rule_all_ports_or_protocols/test/negative2.tf
  assets/queries/terraform/alicloud/public_security_group_rule_all_ports_or_protocols/test/positive1.tf
  assets/queries/terraform/alicloud/public_security_group_rule_all_ports_or_protocols/test/positive2.tf
  assets/queries/terraform/alicloud/public_security_group_rule_all_ports_or_protocols/test/positive3.tf
  assets/queries/terraform/alicloud/public_security_group_rule_all_ports_or_protocols/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4988 Feat(query): Alicloud Terraform Ram Policy Admin Access Not Attached to Users Groups Roles
  assets/queries/terraform/alicloud/ram_policy_admin_access_not_attached_to_users_groups_roles/metadata.json
  assets/queries/terraform/alicloud/ram_policy_admin_access_not_attached_to_users_groups_roles/query.rego
  assets/queries/terraform/alicloud/ram_policy_admin_access_not_attached_to_users_groups_roles/test/negative1.tf
  assets/queries/terraform/alicloud/ram_policy_admin_access_not_attached_to_users_groups_roles/test/negative2.tf
  assets/queries/terraform/alicloud/ram_policy_admin_access_not_attached_to_users_groups_roles/test/negative3.tf
  assets/queries/terraform/alicloud/ram_policy_admin_access_not_attached_to_users_groups_roles/test/positive1.tf
  assets/queries/terraform/alicloud/ram_policy_admin_access_not_attached_to_users_groups_roles/test/positive2.tf
  assets/queries/terraform/alicloud/ram_policy_admin_access_not_attached_to_users_groups_roles/test/positive3.tf
  assets/queries/terraform/alicloud/ram_policy_admin_access_not_attached_to_users_groups_roles/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4991 Feat(Query): Terraform Alicloud Query Ecs Data Disk Kms Key Id Undefined
  assets/queries/terraform/alicloud/ecs_data_disk_kms_key_id_undefined/metadata.json
  assets/queries/terraform/alicloud/ecs_data_disk_kms_key_id_undefined/query.rego
  assets/queries/terraform/alicloud/ecs_data_disk_kms_key_id_undefined/test/negative1.tf
  assets/queries/terraform/alicloud/ecs_data_disk_kms_key_id_undefined/test/positive1.tf
  assets/queries/terraform/alicloud/ecs_data_disk_kms_key_id_undefined/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4951 feat(query): Added Alicloud RDS Instance TDE Status Disabled for Terraform
  assets/queries/terraform/alicloud/rds_instance_tde_status_disable/metadata.json
  assets/queries/terraform/alicloud/rds_instance_tde_status_disable/query.rego
  assets/queries/terraform/alicloud/rds_instance_tde_status_disable/test/negative1.tf
  assets/queries/terraform/alicloud/rds_instance_tde_status_disable/test/negative2.tf
  assets/queries/terraform/alicloud/rds_instance_tde_status_disable/test/negative3.tf
  assets/queries/terraform/alicloud/rds_instance_tde_status_disable/test/negative4.tf
  assets/queries/terraform/alicloud/rds_instance_tde_status_disable/test/negative5.tf
  assets/queries/terraform/alicloud/rds_instance_tde_status_disable/test/positive1.tf
  assets/queries/terraform/alicloud/rds_instance_tde_status_disable/test/positive2.tf
  assets/queries/terraform/alicloud/rds_instance_tde_status_disable/test/positive3.tf
  assets/queries/terraform/alicloud/rds_instance_tde_status_disable/test/positive4.tf
  assets/queries/terraform/alicloud/rds_instance_tde_status_disable/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4989 feat(query): Added Alicloud Public Security Group Rule Unknown Port for Terraform
  assets/queries/ansible/aws/unknown_port_exposed_to_internet/query.rego
  assets/queries/ansible/aws/unknown_port_exposed_to_internet/test/positive.yaml
  assets/queries/ansible/aws/unknown_port_exposed_to_internet/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/unknown_port_exposed_to_internet/query.rego
  assets/queries/cloudFormation/aws/unknown_port_exposed_to_internet/test/positive_expected_result.json
  assets/queries/terraform/alicloud/public_security_group_rule_unknown_port/metadata.json
  assets/queries/terraform/alicloud/public_security_group_rule_unknown_port/query.rego
  assets/queries/terraform/alicloud/public_security_group_rule_unknown_port/test/negative1.tf
  assets/queries/terraform/alicloud/public_security_group_rule_unknown_port/test/negative2.tf
  assets/queries/terraform/alicloud/public_security_group_rule_unknown_port/test/positive1.tf
  assets/queries/terraform/alicloud/public_security_group_rule_unknown_port/test/positive2.tf
  assets/queries/terraform/alicloud/public_security_group_rule_unknown_port/test/positive_expected_result.json
  assets/queries/terraform/aws/unknown_port_exposed_to_internet/query.rego
Labels: query, terraform, alicloud

#4993 feat(query): Added Alicloud RDS Instance Retention Period Not Recommended for Terraform
  assets/queries/terraform/alicloud/rds_instance_retention_not_recommended/metadata.json
  assets/queries/terraform/alicloud/rds_instance_retention_not_recommended/query.rego
  assets/queries/terraform/alicloud/rds_instance_retention_not_recommended/test/negative.tf
  assets/queries/terraform/alicloud/rds_instance_retention_not_recommended/test/positive1.tf
  assets/queries/terraform/alicloud/rds_instance_retention_not_recommended/test/positive2.tf
  assets/queries/terraform/alicloud/rds_instance_retention_not_recommended/test/positive3.tf
  assets/queries/terraform/alicloud/rds_instance_retention_not_recommended/test/positive4.tf
  assets/queries/terraform/alicloud/rds_instance_retention_not_recommended/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4992 feat(Query): Added Alicloud RAM Security Preference Not Enforce MFA Login for Terraform
  assets/queries/terraform/alicloud/ram_security_preference_not_enforce_mfa/metadata.json
  assets/queries/terraform/alicloud/ram_security_preference_not_enforce_mfa/query.rego
  assets/queries/terraform/alicloud/ram_security_preference_not_enforce_mfa/test/negative1.tf
  assets/queries/terraform/alicloud/ram_security_preference_not_enforce_mfa/test/positive1.tf
  assets/queries/terraform/alicloud/ram_security_preference_not_enforce_mfa/test/positive2.tf
  assets/queries/terraform/alicloud/ram_security_preference_not_enforce_mfa/test/positive3.tf
  assets/queries/terraform/alicloud/ram_security_preference_not_enforce_mfa/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4885 fix(query): Show privilege_escalation_allowed k8s alert also in case no securityContext is defined
  assets/queries/k8s/privilege_escalation_allowed/query.rego
  assets/queries/k8s/privilege_escalation_allowed/test/positive1.yaml
  assets/queries/k8s/privilege_escalation_allowed/test/positive2.yaml
  assets/queries/k8s/privilege_escalation_allowed/test/positive_expected_result.json
Labels: query, community

#4943 fix(query): Extend memory_limits_not_defined k8s rule to cover further resource kinds
  assets/queries/k8s/memory_limits_not_defined/metadata.json
  assets/queries/k8s/memory_limits_not_defined/query.rego
  assets/queries/k8s/memory_limits_not_defined/test/negative1.yaml
  assets/queries/k8s/memory_limits_not_defined/test/negative2.yaml
  assets/queries/k8s/memory_limits_not_defined/test/positive1.yaml
  assets/queries/k8s/memory_limits_not_defined/test/positive2.yaml
  assets/queries/k8s/memory_limits_not_defined/test/positive_expected_result.json
Labels: query, community

#4944 fix(query): Extend memory_requests_not_defined k8s rule to cover further resource kinds
  assets/queries/k8s/memory_requests_not_defined/metadata.json
  assets/queries/k8s/memory_requests_not_defined/query.rego
  assets/queries/k8s/memory_requests_not_defined/test/negative1.yaml
  assets/queries/k8s/memory_requests_not_defined/test/negative2.yaml
  assets/queries/k8s/memory_requests_not_defined/test/positive1.yaml
  assets/queries/k8s/memory_requests_not_defined/test/positive2.yaml
  assets/queries/k8s/memory_requests_not_defined/test/positive_expected_result.json
Labels: query, community

#4893 fix(query): Fix path to spec in root_container_not_mounted_as_read_only k8s rule
  assets/queries/k8s/root_container_not_mounted_as_read_only/metadata.json
  assets/queries/k8s/root_container_not_mounted_as_read_only/query.rego
  assets/queries/k8s/root_container_not_mounted_as_read_only/test/positive_expected_result.json
Labels: query, community

#4997 feat(query): added "Kubernetes Cluster Without Terway as CNI Network Plugin" for Terraform
  assets/queries/terraform/alicloud/kubernetes_cluster_without_terway_as_cni_network_plugin/metadata.json
  assets/queries/terraform/alicloud/kubernetes_cluster_without_terway_as_cni_network_plugin/query.rego
  assets/queries/terraform/alicloud/kubernetes_cluster_without_terway_as_cni_network_plugin/test/negative1.tf
  assets/queries/terraform/alicloud/kubernetes_cluster_without_terway_as_cni_network_plugin/test/positive1.tf
  assets/queries/terraform/alicloud/kubernetes_cluster_without_terway_as_cni_network_plugin/test/positive2.tf
  assets/queries/terraform/alicloud/kubernetes_cluster_without_terway_as_cni_network_plugin/test/positive3.tf
  assets/queries/terraform/alicloud/kubernetes_cluster_without_terway_as_cni_network_plugin/test/positive_expected_result.json
  assets/queries/terraform/alicloud/rds_instance_publicly_accessible/metadata.json
  assets/queries/terraform/alicloud/rds_instance_publicly_accessible/test/positive_expected_result.json
Labels: query, terraform, alicloud

#4888 fix(query): Define NET_BIND_SERVICE as exception in containers_with_added_capabilities k8s rule
  assets/queries/k8s/containers_with_added_capabilities/query.rego
  assets/queries/k8s/containers_with_added_capabilities/test/negative1.yaml
  assets/queries/k8s/containers_with_added_capabilities/test/negative2.yaml
Labels: query, community

#4851 feat(analyzer): Docker Compose support
  assets/libraries/dockercompose.rego
  assets/queries/dockerCompose/test_query/metadata.json
  assets/queries/dockerCompose/test_query/query.rego
  assets/queries/dockerCompose/test_query/test/negative.yaml
  assets/queries/dockerCompose/test_query/test/positive1.yaml
  assets/queries/dockerCompose/test_query/test/positive_expected_result.json
  docs/commands.md
  docs/dockerhub.md
  docs/platforms.md
  e2e/fixtures/E2E_CLI_010
  e2e/fixtures/E2E_CLI_013
  e2e/fixtures/assets/scan_help
  e2e/fixtures/schemas/result.json
  e2e/fixtures/schemas/resultBoM.json
  internal/constants/constants.go
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  pkg/engine/source/filesystem.go
  pkg/engine/source/filesystem_test.go
  pkg/kics/service.go
  pkg/kics/sink.go
  pkg/parser/buildah/parser.go
  pkg/parser/buildah/parser_test.go
  pkg/parser/docker/parser.go
  pkg/parser/docker/parser_test.go
  pkg/parser/grpc/parser.go
  pkg/parser/grpc/parser_test.go
  pkg/parser/json/parser.go
  pkg/parser/json/parser_test.go
  pkg/parser/parser.go
  pkg/parser/parser_test.go
  pkg/parser/terraform/terraform.go
  pkg/parser/terraform/terraform_test.go
  pkg/parser/yaml/parser.go
  pkg/parser/yaml/parser_test.go
  pkg/scan/utils.go
  pkg/utils/contains.go
  pkg/utils/contains_test.go
  test/fixtures/analyzer_test/docker-compose.yaml
  test/main_test.go
Labels: feature request, go

#4886 fix(query): Extend containers_running_as_root k8s rule to work if no securityContext is defined
  assets/queries/k8s/containers_running_as_root/metadata.json
  assets/queries/k8s/containers_running_as_root/query.rego
  assets/queries/k8s/containers_running_as_root/test/positive4.yaml
  assets/queries/k8s/containers_running_as_root/test/positive_expected_result.json
Labels: query, community

#5012 feat(query): Kubelet Hostname Override Is Set for Kubernetes
  assets/queries/k8s/kubelet_hostname_override_is_set/metadata.json
  assets/queries/k8s/kubelet_hostname_override_is_set/query.rego
  assets/queries/k8s/kubelet_hostname_override_is_set/test/negative1.yaml
  assets/queries/k8s/kubelet_hostname_override_is_set/test/positive1.yaml
  assets/queries/k8s/kubelet_hostname_override_is_set/test/positive2.yaml
  assets/queries/k8s/kubelet_hostname_override_is_set/test/positive_expected_result.json
Labels: query, kubernetes

#5011 feat(query): TSL Connection Certificate Not Setup for Kubernetes
  assets/queries/k8s/tls_connection_certificate_not_setup/metadata.json
  assets/queries/k8s/tls_connection_certificate_not_setup/query.rego
  assets/queries/k8s/tls_connection_certificate_not_setup/test/negative1.yaml
  assets/queries/k8s/tls_connection_certificate_not_setup/test/negative2.yaml
  assets/queries/k8s/tls_connection_certificate_not_setup/test/negative3.yaml
  assets/queries/k8s/tls_connection_certificate_not_setup/test/negative4.json
  assets/queries/k8s/tls_connection_certificate_not_setup/test/positive1.yaml
  assets/queries/k8s/tls_connection_certificate_not_setup/test/positive2.yaml
  assets/queries/k8s/tls_connection_certificate_not_setup/test/positive_expected_result.json
Labels: query, kubernetes

#5036 feat(query): remove query lambda_function_without_tags
  assets/queries/terraform/aws/lambda_function_without_tags/metadata.json
  assets/queries/terraform/aws/lambda_function_without_tags/query.rego
  assets/queries/terraform/aws/lambda_function_without_tags/test/negative.tf
  assets/queries/terraform/aws/lambda_function_without_tags/test/positive.tf
  assets/queries/terraform/aws/lambda_function_without_tags/test/positive_expected_result.json
Labels: community

#5030 update(query): Updated "Kubelet Server Periodic Certificate Switch Disabled" to "Rotate Kubelet Server Certificate Not Active"
  assets/queries/k8s/kubelet_client_periodic_certificate_switch_disabled/query.rego
  assets/queries/k8s/kubelet_not_managing_ip_tables/query.rego
  assets/queries/k8s/kubelet_server_periodic_certificate_switch_disabled/test/positive_expected_result.json
  assets/queries/k8s/rotate_kubelet_server_certificate_not_active/metadata.json
  assets/queries/k8s/rotate_kubelet_server_certificate_not_active/query.rego
  assets/queries/k8s/rotate_kubelet_server_certificate_not_active/test/negative1.yaml
  assets/queries/k8s/rotate_kubelet_server_certificate_not_active/test/negative2.yaml
  assets/queries/k8s/rotate_kubelet_server_certificate_not_active/test/negative3.yaml
  assets/queries/k8s/rotate_kubelet_server_certificate_not_active/test/negative4.yaml
  assets/queries/k8s/rotate_kubelet_server_certificate_not_active/test/negative5.json
  assets/queries/k8s/rotate_kubelet_server_certificate_not_active/test/negative6.json
  assets/queries/k8s/rotate_kubelet_server_certificate_not_active/test/positive1.yaml
  assets/queries/k8s/rotate_kubelet_server_certificate_not_active/test/positive2.yaml
  assets/queries/k8s/rotate_kubelet_server_certificate_not_active/test/positive3.json
  assets/queries/k8s/rotate_kubelet_server_certificate_not_active/test/positive4.yaml
  assets/queries/k8s/rotate_kubelet_server_certificate_not_active/test/positive_expected_result.json
Labels: query, kubernetes

#4895 fix(query): refine missing_app_armor_config k8s rule to operate on specific containers
  assets/queries/k8s/missing_app_armor_config/metadata.json
  assets/queries/k8s/missing_app_armor_config/query.rego
  assets/queries/k8s/missing_app_armor_config/test/positive.yaml
  assets/queries/k8s/missing_app_armor_config/test/positive_expected_result.json
Labels: query, community

#5059 update(query): replaced valideCertificate.pem for "Certificate Has Expired"
  assets/queries/ansible/aws/certificate_has_expired/test/validCertificate.pem
  assets/queries/terraform/aws/certificate_has_expired/test/validCertificate.pem
Labels: query, terraform, ansible

#5061 update(query): replaced valideCertificate.pem for "Certificate Has Expired"
  assets/queries/ansible/aws/certificate_has_expired/test/validCertificate.pem
  assets/queries/terraform/aws/certificate_has_expired/test/validCertificate.pem
Labels: query, terraform, ansible

#5048 fix(secrets regex): added "Avoiding Secrets Manager arn"
  assets/queries/common/passwords_and_secrets/regex_rules.json
  assets/queries/common/passwords_and_secrets/test/negative48.yaml
Labels: bug

#5050 feat(logs): added lines scanned and lines parsed
  e2e/fixtures/E2E_CLI_032_RESULT.json
  e2e/fixtures/E2E_CLI_033_RESULT.json
  e2e/fixtures/E2E_CLI_036_RESULT.json
  e2e/fixtures/E2E_CLI_036_RESULT_2.json
  e2e/fixtures/schemas/result.json
  e2e/utils/helper.go
  internal/console/helpers/helpers.go
  internal/tracker/ci.go
  pkg/kics/resolver_sink.go
  pkg/kics/service.go
  pkg/kics/sink.go
  pkg/model/summary.go
  pkg/parser/parser.go
  pkg/scan/post_scan.go
Labels: go

#5046 feat(report): CSV report
  docs/commands.md
  docs/configuration-file.md
  docs/dockerhub.md
  docs/results.md
  e2e/fixtures/assets/scan_help
  go.mod
  go.sum
  internal/console/helpers/helpers.go
  pkg/report/commons.go
  pkg/report/csv.go
  pkg/report/csv_test.go
  pkg/report/model/csv.go
  pkg/report/model/csv_test.go
Labels: feature

#5064 update(query): AWS IAM Policy Grants Full Permissions for Terraform
  assets/queries/terraform/aws/iam_policy_grants_full_permissions/query.rego
  assets/queries/terraform/aws/iam_policy_grants_full_permissions/test/negative1.tf
  assets/queries/terraform/aws/iam_policy_grants_full_permissions/test/negative2.tf
  assets/queries/terraform/aws/iam_policy_grants_full_permissions/test/positive1.tf
  assets/queries/terraform/aws/iam_policy_grants_full_permissions/test/positive2.tf
  assets/queries/terraform/aws/iam_policy_grants_full_permissions/test/positive_expected_result.json
  assets/queries/terraform/aws/security_group_rules_without_description/test/negative2.tf
  assets/queries/terraform/aws/security_group_rules_without_description/test/positive2.tf
  assets/queries/terraform/aws/security_group_rules_without_description/test/positive_expected_result.json
Labels: query, terraform, aws

#5023 Feat(Query): Security Opt Not Set Query for Docker Compose
  assets/queries/dockerCompose/security_opt_not_set/metadata.json
  assets/queries/dockerCompose/security_opt_not_set/query.rego
  assets/queries/dockerCompose/security_opt_not_set/test/negative1.yaml
  assets/queries/dockerCompose/security_opt_not_set/test/positive1.yaml
  assets/queries/dockerCompose/security_opt_not_set/test/positive_expected_result.json
  assets/queries/dockerCompose/test_query/metadata.json
  assets/queries/dockerCompose/test_query/query.rego
  assets/queries/dockerCompose/test_query/test/positive_expected_result.json
Labels: query, docker_compose

#5062 feat(query): Added Token Auth File Is Set for Kubernetes
  assets/queries/k8s/token_auth_file_is_set/metadata.json
  assets/queries/k8s/token_auth_file_is_set/query.rego
  assets/queries/k8s/token_auth_file_is_set/test/negative1.yaml
  assets/queries/k8s/token_auth_file_is_set/test/negative2.yaml
  assets/queries/k8s/token_auth_file_is_set/test/positive1.yaml
  assets/queries/k8s/token_auth_file_is_set/test/positive2.yaml
  assets/queries/k8s/token_auth_file_is_set/test/positive_expected_result.json
Labels: query, kubernetes

#5063 feat(query): Added Kubelet Client Certificate Or Key Not Set for Kubernetes
  assets/queries/k8s/kubelet_client_certificate_or_key_not_set/metadata.json
  assets/queries/k8s/kubelet_client_certificate_or_key_not_set/query.rego
  assets/queries/k8s/kubelet_client_certificate_or_key_not_set/test/negative1.yaml
  assets/queries/k8s/kubelet_client_certificate_or_key_not_set/test/negative2.yaml
  assets/queries/k8s/kubelet_client_certificate_or_key_not_set/test/positive1.yaml
  assets/queries/k8s/kubelet_client_certificate_or_key_not_set/test/positive2.yaml
  assets/queries/k8s/kubelet_client_certificate_or_key_not_set/test/positive3.yaml
  assets/queries/k8s/kubelet_client_certificate_or_key_not_set/test/positive_expected_result.json
Labels: query, kubernetes

#5074 update(BoM): update BoM queries and BoM docs
  assets/libraries/common.rego
  assets/libraries/terraform.rego
  assets/queries/terraform/aws_bom/ebs/test/positive2.tf
  assets/queries/terraform/aws_bom/ebs/test/positive_expected_result.json
  assets/queries/terraform/aws_bom/efs/query.rego
  assets/queries/terraform/aws_bom/elasticache/query.rego
  assets/queries/terraform/aws_bom/mq/query.rego
  assets/queries/terraform/aws_bom/mq/test/positive2.tf
  assets/queries/terraform/aws_bom/s3_bucket/query.rego
  assets/queries/terraform/aws_bom/sns/query.rego
  assets/queries/terraform/aws_bom/sns/test/positive5.tf
  assets/queries/terraform/aws_bom/sqs/query.rego
  docs/bom.md
  test/queries_test.go
Labels: BoM

#5043 feat(query): Audit Policy Not Cover key Security Concerns for Kubernetes
  .github/workflows/validate-k8s-samples.yml
  assets/queries/k8s/audit_policy_not_cover_key_security_concerns/metadata.json
  assets/queries/k8s/audit_policy_not_cover_key_security_concerns/query.rego
  assets/queries/k8s/audit_policy_not_cover_key_security_concerns/test/negative1.yaml
  assets/queries/k8s/audit_policy_not_cover_key_security_concerns/test/positive1.yaml
  assets/queries/k8s/audit_policy_not_cover_key_security_concerns/test/positive2.yaml
  assets/queries/k8s/audit_policy_not_cover_key_security_concerns/test/positive3.yaml
  assets/queries/k8s/audit_policy_not_cover_key_security_concerns/test/positive_expected_result.json
  assets/queries/k8s/not_limited_capabilities_for_pod_security_policy/metadata.json
  assets/queries/k8s/not_limited_capabilities_for_pod_security_policy/test/positive_expected_result.json
Labels: query, kubernetes

#5067 feat(query): Added Kubelet Certificate Authority Not Set for Kubernetes
  assets/queries/k8s/kubelet_certificate_authority_not_set/metadata.json
  assets/queries/k8s/kubelet_certificate_authority_not_set/query.rego
  assets/queries/k8s/kubelet_certificate_authority_not_set/test/negative1.yaml
  assets/queries/k8s/kubelet_certificate_authority_not_set/test/negative2.yaml
  assets/queries/k8s/kubelet_certificate_authority_not_set/test/positive1.yaml
  assets/queries/k8s/kubelet_certificate_authority_not_set/test/positive_expected_result.json
Labels: query, kubernetes

#5071 feat(query): Added Authorization Mode RBAC Not Set for Kubernetes
  assets/libraries/k8s.rego
  assets/queries/k8s/authorization_mode_rbac_not_set/metadata.json
  assets/queries/k8s/authorization_mode_rbac_not_set/query.rego
  assets/queries/k8s/authorization_mode_rbac_not_set/test/negative1.yaml
  assets/queries/k8s/authorization_mode_rbac_not_set/test/negative2.yaml
  assets/queries/k8s/authorization_mode_rbac_not_set/test/positive1.yaml
  assets/queries/k8s/authorization_mode_rbac_not_set/test/positive2.yaml
  assets/queries/k8s/authorization_mode_rbac_not_set/test/positive_expected_result.json
Labels: query, kubernetes

#5034 Feat(Query): Volume Has Sensitive Host Directory for Docker Compose
  assets/libraries/common.rego
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/metadata.json
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/query.rego
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/test/negative1.yaml
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/test/negative2.yaml
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/test/negative3.yaml
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/test/positive1.yaml
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/test/positive2.yaml
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/test/positive3.yaml
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/test/positive4.yaml
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/test/positive_expected_result.json
  assets/queries/k8s/workload_mounting_with_sensitive_os_directory/query.rego
  assets/queries/k8s/workload_mounting_with_sensitive_os_directory/test/positive_expected_result.json
Labels: query, docker_compose

#5028 feat(query): Added Client Certificate Authentication Not Setup Properly for Kubernetes
  assets/queries/k8s/client_certificate_authentication_not_setup_properly/metadata.json
  assets/queries/k8s/client_certificate_authentication_not_setup_properly/query.rego
  assets/queries/k8s/client_certificate_authentication_not_setup_properly/test/negative1.yaml
  assets/queries/k8s/client_certificate_authentication_not_setup_properly/test/negative2.yaml
  assets/queries/k8s/client_certificate_authentication_not_setup_properly/test/negative3.yaml
  assets/queries/k8s/client_certificate_authentication_not_setup_properly/test/negative4.yaml
  assets/queries/k8s/client_certificate_authentication_not_setup_properly/test/negative5.json
  assets/queries/k8s/client_certificate_authentication_not_setup_properly/test/positive1.yaml
  assets/queries/k8s/client_certificate_authentication_not_setup_properly/test/positive2.yaml
  assets/queries/k8s/client_certificate_authentication_not_setup_properly/test/positive3.yaml
  assets/queries/k8s/client_certificate_authentication_not_setup_properly/test/positive4.yaml
  assets/queries/k8s/client_certificate_authentication_not_setup_properly/test/positive5.yaml
  assets/queries/k8s/client_certificate_authentication_not_setup_properly/test/positive_expected_result.json
Labels: query, kubernetes

#5066 update(printer): move printer package from internal to use KICS as a module
  internal/console/helpers/helpers.go
  internal/console/helpers/helpers_test.go
  internal/console/kics.go
  internal/console/pre_scan.go
  internal/console/printer/printer.go
  internal/console/printer/printer_test.go
  pkg/printer/options.go
  pkg/printer/options_test.go
  pkg/printer/printer.go
  pkg/printer/printer_test.go
  pkg/printer/utils.go
  pkg/printer/utils_test.go
  pkg/scan/client.go
  pkg/scan/post_scan.go
  pkg/scan/utils.go
Labels: integrations

#5078 delete(query): Remove redundant default_service_account_in_use k8s rule
  assets/queries/k8s/default_service_account_in_use/metadata.json
  assets/queries/k8s/default_service_account_in_use/query.rego
  assets/queries/k8s/default_service_account_in_use/test/negative.yaml
  assets/queries/k8s/default_service_account_in_use/test/positive.yaml
  assets/queries/k8s/default_service_account_in_use/test/positive_expected_result.json
Labels: query, community

#5076 delete(query): Remove redundant resource_with_allow_privilege_escalation k8s rule
  assets/queries/k8s/resource_with_allow_privilege_escalation/metadata.json
  assets/queries/k8s/resource_with_allow_privilege_escalation/query.rego
  assets/queries/k8s/resource_with_allow_privilege_escalation/test/negative.yaml
  assets/queries/k8s/resource_with_allow_privilege_escalation/test/positive.yaml
  assets/queries/k8s/resource_with_allow_privilege_escalation/test/positive_expected_result.json
Labels: query, community

#5075 feat(common lib): improved performance of get_nested_values_info
  assets/libraries/common.rego
Labels: query, community

#5085 feat(query): Added Kubelet Event QPS Not Properly Set for Kubernetes
  assets/queries/k8s/kubelet_event_qps_not_properly_set/metadata.json
  assets/queries/k8s/kubelet_event_qps_not_properly_set/query.rego
  assets/queries/k8s/kubelet_event_qps_not_properly_set/test/negative1.yaml
  assets/queries/k8s/kubelet_event_qps_not_properly_set/test/negative2.yaml
  assets/queries/k8s/kubelet_event_qps_not_properly_set/test/negative3.yaml
  assets/queries/k8s/kubelet_event_qps_not_properly_set/test/negative4.json
  assets/queries/k8s/kubelet_event_qps_not_properly_set/test/positive1.yaml
  assets/queries/k8s/kubelet_event_qps_not_properly_set/test/positive2.yaml
  assets/queries/k8s/kubelet_event_qps_not_properly_set/test/positive3.yaml
  assets/queries/k8s/kubelet_event_qps_not_properly_set/test/positive4.yaml
  assets/queries/k8s/kubelet_event_qps_not_properly_set/test/positive_expected_result.json
Labels: query, kubernetes

#5027 feat(query): Added Weak TLS Cipher Suites for Kubernetes
  assets/queries/k8s/weak_tls_cipher_suites/metadata.json
  assets/queries/k8s/weak_tls_cipher_suites/query.rego
  assets/queries/k8s/weak_tls_cipher_suites/test/negative1.yaml
  assets/queries/k8s/weak_tls_cipher_suites/test/negative2.yaml
  assets/queries/k8s/weak_tls_cipher_suites/test/negative3.yaml
  assets/queries/k8s/weak_tls_cipher_suites/test/negative4.json
  assets/queries/k8s/weak_tls_cipher_suites/test/positive1.yaml
  assets/queries/k8s/weak_tls_cipher_suites/test/positive2.yaml
  assets/queries/k8s/weak_tls_cipher_suites/test/positive3.yaml
  assets/queries/k8s/weak_tls_cipher_suites/test/positive4.json
  assets/queries/k8s/weak_tls_cipher_suites/test/positive_expected_result.json
Labels: query, kubernetes

#5086 gitlab integration: clarify that SAST report requires an ultimate lic…
  docs/integrations_gitlabci.md
Labels: community
