Repository Checkmarx/kics, pull requests merged in 2022-01, with the labels that each got.

#4642 feat(query): added "Serverless API Endpoint Config Not Private" for CloudFormation
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_api_endpoint_config_not_private/metadata.json
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_api_endpoint_config_not_private/query.rego
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_api_endpoint_config_not_private/test/negative1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_api_endpoint_config_not_private/test/positive1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_api_endpoint_config_not_private/test/positive2.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_api_endpoint_config_not_private/test/positive3.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_api_endpoint_config_not_private/test/positive_expected_result.json
Labels: query, cloudformation, aws_sam

#4644 feat(query): added "Serverless HTTP API Access Logging Settings Undefined" for CloudFormation
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_http_api_access_logging_settings_undefined/metadata.json
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_http_api_access_logging_settings_undefined/query.rego
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_http_api_access_logging_settings_undefined/test/negative1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_http_api_access_logging_settings_undefined/test/positive1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_http_api_access_logging_settings_undefined/test/positive_expected_result.json
Labels: query, cloudformation, aws_sam

#4645 feat(query): added "Serverless Function Without Tags" for CloudFormation
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_function_without_tags/metadata.json
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_function_without_tags/query.rego
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_function_without_tags/test/negative1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_function_without_tags/test/positive1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_function_without_tags/test/positive_expected_result.json
Labels: query, cloudformation, aws_sam

#4646 feat(query): added "Serverless Function Without X-Ray Tracing" for CloudFormation
  assets/queries/cloudFormation/aws_sam/serverless_function_without_x-ray_tracing/metadata.json
  assets/queries/cloudFormation/aws_sam/serverless_function_without_x-ray_tracing/query.rego
  assets/queries/cloudFormation/aws_sam/serverless_function_without_x-ray_tracing/test/negative1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_function_without_x-ray_tracing/test/positive1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_function_without_x-ray_tracing/test/positive2.yaml
  assets/queries/cloudFormation/aws_sam/serverless_function_without_x-ray_tracing/test/positive_expected_result.json
Labels: query, cloudformation, aws_sam

#4651 fix(parser): fixed KICS panic in getLastElementLine
  pkg/parser/grpc/converter/converter.go
Labels: bug, go

#4658 fix(parser): fixed KICS panic in empty fifo value access
  pkg/parser/json/json_line.go
Labels: bug, go

#4662 fix(yaml): ignore lines by comments
  pkg/engine/secrets/inspector_test.go
  pkg/kics/resolver_sink.go
  pkg/kics/sink.go
  pkg/model/comment_yaml.go
  pkg/model/comment_yaml_test.go
  pkg/model/model.go
Labels: bug, go

#4664 fix(bom): corrected get_accessibility for aws_bucket
  assets/queries/terraform/aws_bom/s3_bucket/query.rego
Labels: bug, query

#4666 fix(mod): forced github.com/docker/cli version to v20.10.12+incompatible
  go.mod
  go.sum
Labels: bug, go

#4668 feat(cli): added chars limit on vulnerable line display
  internal/console/helpers/helpers.go
Labels: go

#4673 fix(detector): fixed KICS panic in getKeyWithCurlyBrackets
  pkg/detector/helper.go
Labels: bug, go

#4683 feat(docs): updated docs of azure pipelines integrations for old KICS versions
  1.2.3/integrations_azurepipelines/index.html
  1.2.3/search/search_index.json
  1.2.4/integrations_azurepipelines/index.html
  1.2.4/search/search_index.json
  1.3.0/integrations_azurepipelines/index.html
  1.3.0/search/search_index.json
  1.3.1/integrations_azurepipelines/index.html
  1.3.1/search/search_index.json
  1.3.2/integrations_azurepipelines/index.html
  1.3.2/search/search_index.json
  1.3.3/integrations_azurepipelines/index.html
  1.3.3/search/search_index.json
  1.3.4/integrations_azurepipelines/index.html
  1.3.4/search/search_index.json
Labels: documentation

#4685 feat(query): added "Ansible aws ec2 not ebs optimized"
  assets/queries/ansible/aws/ec2_not_ebs_optimized/metadata.json
  assets/queries/ansible/aws/ec2_not_ebs_optimized/query.rego
  assets/queries/ansible/aws/ec2_not_ebs_optimized/test/negative.yaml
  assets/queries/ansible/aws/ec2_not_ebs_optimized/test/positive1.yaml
  assets/queries/ansible/aws/ec2_not_ebs_optimized/test/positive2.yaml
  assets/queries/ansible/aws/ec2_not_ebs_optimized/test/positive_expected_result.json
Labels: query, ansible

#4688 feat(query): added "Cloudformation aws ec2 not ebs optimized"
  assets/queries/cloudFormation/aws/ec2_not_ebs_optimized/metadata.json
  assets/queries/cloudFormation/aws/ec2_not_ebs_optimized/query.rego
  assets/queries/cloudFormation/aws/ec2_not_ebs_optimized/test/negative1.yaml
  assets/queries/cloudFormation/aws/ec2_not_ebs_optimized/test/negative2.json
  assets/queries/cloudFormation/aws/ec2_not_ebs_optimized/test/positive1.yaml
  assets/queries/cloudFormation/aws/ec2_not_ebs_optimized/test/positive2.json
  assets/queries/cloudFormation/aws/ec2_not_ebs_optimized/test/positive3.yaml
  assets/queries/cloudFormation/aws/ec2_not_ebs_optimized/test/positive4.json
  assets/queries/cloudFormation/aws/ec2_not_ebs_optimized/test/positive_expected_result.json
Labels: cloudformation

#4641 feat(query): added "API Gateway Cache Cluster Disabled" and "Serverless API Cache Cluster Disabled" for Cloudformation
  assets/queries/cloudFormation/aws/api_gateway_cache_cluster_disabled/metadata.json
  assets/queries/cloudFormation/aws/api_gateway_cache_cluster_disabled/query.rego
  assets/queries/cloudFormation/aws/api_gateway_cache_cluster_disabled/test/negative1.yaml
  assets/queries/cloudFormation/aws/api_gateway_cache_cluster_disabled/test/negative2.json
  assets/queries/cloudFormation/aws/api_gateway_cache_cluster_disabled/test/positive1.yaml
  assets/queries/cloudFormation/aws/api_gateway_cache_cluster_disabled/test/positive2.yaml
  assets/queries/cloudFormation/aws/api_gateway_cache_cluster_disabled/test/positive3.json
  assets/queries/cloudFormation/aws/api_gateway_cache_cluster_disabled/test/positive4.json
  assets/queries/cloudFormation/aws/api_gateway_cache_cluster_disabled/test/positive_expected_result.json
  assets/queries/cloudFormation/aws_sam/serverless_api_cache_cluster_disabled/metadata.json
  assets/queries/cloudFormation/aws_sam/serverless_api_cache_cluster_disabled/query.rego
  assets/queries/cloudFormation/aws_sam/serverless_api_cache_cluster_disabled/test/negative1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_cache_cluster_disabled/test/positive1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_cache_cluster_disabled/test/positive2.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_cache_cluster_disabled/test/positive_expected_result.json
Labels: query, cloudformation, aws, aws_sam

#4643 feat(query): added "Serverless API Without Content Encoding" for CloudFormation
  assets/queries/cloudFormation/aws/api_gateway_without_content_encoding/query.rego
  assets/queries/cloudFormation/aws_sam/serverless_api_without_content_encoding/metadata.json
  assets/queries/cloudFormation/aws_sam/serverless_api_without_content_encoding/query.rego
  assets/queries/cloudFormation/aws_sam/serverless_api_without_content_encoding/test/negative1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_without_content_encoding/test/positive1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_without_content_encoding/test/positive2.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_without_content_encoding/test/positive3.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_without_content_encoding/test/positive_expected_result.json
Labels: query, cloudformation, aws_sam

#4647 feat(query): added "Lambda Function Without Dead Letter Queue" and "Serverless Function Without Dead Letter Queue" for CloudFormation
  assets/queries/cloudFormation/aws/lambda_function_without_dead_letter_queue/metadata.json
  assets/queries/cloudFormation/aws/lambda_function_without_dead_letter_queue/query.rego
  assets/queries/cloudFormation/aws/lambda_function_without_dead_letter_queue/test/negative1.yaml
  assets/queries/cloudFormation/aws/lambda_function_without_dead_letter_queue/test/positive1.yaml
  assets/queries/cloudFormation/aws/lambda_function_without_dead_letter_queue/test/positive2.yaml
  assets/queries/cloudFormation/aws/lambda_function_without_dead_letter_queue/test/positive_expected_result.json
  assets/queries/cloudFormation/aws_sam/serverless_function_without_dead_letter_queue/metadata.json
  assets/queries/cloudFormation/aws_sam/serverless_function_without_dead_letter_queue/query.rego
  assets/queries/cloudFormation/aws_sam/serverless_function_without_dead_letter_queue/test/negative1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_function_without_dead_letter_queue/test/positive1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_function_without_dead_letter_queue/test/positive_expected_result.json
Labels: query, cloudformation, aws, aws_sam

#4648 feat(query): added "Serverless Function Environment Variables Not Encrypted" for CloudFormation
  assets/queries/cloudFormation/aws_sam/serverless_function_environment_variables_not_encrypted/metadata.json
  assets/queries/cloudFormation/aws_sam/serverless_function_environment_variables_not_encrypted/query.rego
  assets/queries/cloudFormation/aws_sam/serverless_function_environment_variables_not_encrypted/test/negative1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_function_environment_variables_not_encrypted/test/positive1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_function_environment_variables_not_encrypted/test/positive_expected_result.json
Labels: query, cloudformation, aws_sam

#4627 add allow rule for mysql password hashes
  assets/queries/common/passwords_and_secrets/regex_rules.json
Labels: community

#4649 feat(query): added "Serverless API Access Logging Setting Undefined" for CloudFormation
  assets/queries/cloudFormation/aws_sam/serverless_api_access_logging_setting_undefined/metadata.json
  assets/queries/cloudFormation/aws_sam/serverless_api_access_logging_setting_undefined/query.rego
  assets/queries/cloudFormation/aws_sam/serverless_api_access_logging_setting_undefined/test/negative1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_access_logging_setting_undefined/test/negative2.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_access_logging_setting_undefined/test/positive1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_access_logging_setting_undefined/test/positive2.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_access_logging_setting_undefined/test/positive_expected_result.json
  assets/queries/cloudFormation/aws_sam/serverless_api_endpoint_config_not_private/metadata.json
  assets/queries/cloudFormation/aws_sam/serverless_api_endpoint_config_not_private/query.rego
  assets/queries/cloudFormation/aws_sam/serverless_api_endpoint_config_not_private/test/negative1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_endpoint_config_not_private/test/positive1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_endpoint_config_not_private/test/positive2.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_endpoint_config_not_private/test/positive3.yaml
  assets/queries/cloudFormation/aws_sam/serverless_api_endpoint_config_not_private/test/positive_expected_result.json
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_http_api_access_logging_settings_undefined/metadata.json
  assets/queries/cloudFormation/aws_sam/serverless_api_xray_tracing_disabled/serverless_http_api_access_logging_settings_undefined/test/positive_expected_result.json
  assets/queries/cloudFormation/aws_sam/serverless_function_without_tags/metadata.json
  assets/queries/cloudFormation/aws_sam/serverless_function_without_tags/query.rego
  assets/queries/cloudFormation/aws_sam/serverless_function_without_tags/test/negative1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_function_without_tags/test/positive1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_function_without_tags/test/positive_expected_result.json
Labels: query, cloudformation, aws_sam

#4650 feat(query): added "Serverless Function Without Unique IAM Role" for CloudFormation
  assets/queries/cloudFormation/aws_sam/serverless_function_without_unique_iam_role/metadata.json
  assets/queries/cloudFormation/aws_sam/serverless_function_without_unique_iam_role/query.rego
  assets/queries/cloudFormation/aws_sam/serverless_function_without_unique_iam_role/test/negative1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_function_without_unique_iam_role/test/negative2.yaml
  assets/queries/cloudFormation/aws_sam/serverless_function_without_unique_iam_role/test/positive1.yaml
  assets/queries/cloudFormation/aws_sam/serverless_function_without_unique_iam_role/test/positive2.yaml
  assets/queries/cloudFormation/aws_sam/serverless_function_without_unique_iam_role/test/positive_expected_result.json
Labels: query, cloudformation, aws_sam

#4654 feat(secrets inspector): consideration of kics-scan enable/disabled comment commands
  e2e/testcases/e2e-cli-053_kics_scan_ignore.go
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/engine/secrets/inspector.go
  pkg/engine/secrets/inspector_test.go
Labels: bug, go

#4659 feat(parser): support of YAML alias
  pkg/model/model_yaml.go
  pkg/parser/yaml/parser_test.go
  pkg/utils/map.go
Labels: go

#4669 feat(cli): added contribution appeal when the user includes external queries
  internal/console/helpers/helpers.go
  pkg/model/summary.go
  pkg/scan/post_scan.go
  pkg/scan/utils.go
Labels: go

#4694 feat(query): added "SQL DB Instance Backup Disabled" for Google Deployment Manager
  assets/queries/googleDeploymentManager/sql_db_instance_backup_disable/metadata.json
  assets/queries/googleDeploymentManager/sql_db_instance_backup_disable/query.rego
  assets/queries/googleDeploymentManager/sql_db_instance_backup_disable/test/negative1.yaml
  assets/queries/googleDeploymentManager/sql_db_instance_backup_disable/test/positive1.yaml
  assets/queries/googleDeploymentManager/sql_db_instance_backup_disable/test/positive2.yaml
  assets/queries/googleDeploymentManager/sql_db_instance_backup_disable/test/positive3.yaml
  assets/queries/googleDeploymentManager/sql_db_instance_backup_disable/test/positive_expected_result.json
Labels: query, gdm

#4697 feat(query): added "GKE Legacy Authorization Enabled" for Google Deployment Manager
  assets/queries/googleDeploymentManager/gke_legacy_authorization_enabled/metadata.json
  assets/queries/googleDeploymentManager/gke_legacy_authorization_enabled/query.rego
  assets/queries/googleDeploymentManager/gke_legacy_authorization_enabled/test/negative1.yaml
  assets/queries/googleDeploymentManager/gke_legacy_authorization_enabled/test/negative2.yaml
  assets/queries/googleDeploymentManager/gke_legacy_authorization_enabled/test/positive1.yaml
  assets/queries/googleDeploymentManager/gke_legacy_authorization_enabled/test/positive_expected_result.json
Labels: query, gdm

#4671 fix(mod): forced 'github.com/containerd/containerd' version to v1.5.9
  go.mod
  go.sum
Labels: go

#4705 fix(linter): increased timeout to 15 minutes
  .github/workflows/go-ci.yml
Labels: CI

#4692 feat(query): added "Cloud Storage Bucket Is Publicly Accessible" for Google Deployment Manager
  assets/queries/googleDeploymentManager/cloud_storage_bucket_is_publicly_accessible/metadata.json
  assets/queries/googleDeploymentManager/cloud_storage_bucket_is_publicly_accessible/query.rego
  assets/queries/googleDeploymentManager/cloud_storage_bucket_is_publicly_accessible/test/negative1.yaml
  assets/queries/googleDeploymentManager/cloud_storage_bucket_is_publicly_accessible/test/negative2.yaml
  assets/queries/googleDeploymentManager/cloud_storage_bucket_is_publicly_accessible/test/positive1.yaml
  assets/queries/googleDeploymentManager/cloud_storage_bucket_is_publicly_accessible/test/positive2.yaml
  assets/queries/googleDeploymentManager/cloud_storage_bucket_is_publicly_accessible/test/positive_expected_result.json
Labels: query, gdm

#4695 feat(query): added "Cluster Master Authentication Disabled" for Google Deployment Manager
  assets/queries/googleDeploymentManager/cluster_master_authentication_disabled/metadata.json
  assets/queries/googleDeploymentManager/cluster_master_authentication_disabled/query.rego
  assets/queries/googleDeploymentManager/cluster_master_authentication_disabled/test/negative1.yaml
  assets/queries/googleDeploymentManager/cluster_master_authentication_disabled/test/positive1.yaml
  assets/queries/googleDeploymentManager/cluster_master_authentication_disabled/test/positive2.yaml
  assets/queries/googleDeploymentManager/cluster_master_authentication_disabled/test/positive3.yaml
  assets/queries/googleDeploymentManager/cluster_master_authentication_disabled/test/positive_expected_result.json
Labels: query, gdm

#4698 feat(query): added "Node auto upgrade disabled" for Google Deployment Manager
  assets/queries/googleDeploymentManager/node_auto_upgrade_disabled/metadata.json
  assets/queries/googleDeploymentManager/node_auto_upgrade_disabled/query.rego
  assets/queries/googleDeploymentManager/node_auto_upgrade_disabled/test/negative1.yaml
  assets/queries/googleDeploymentManager/node_auto_upgrade_disabled/test/positive1.yaml
  assets/queries/googleDeploymentManager/node_auto_upgrade_disabled/test/positive2.yaml
  assets/queries/googleDeploymentManager/node_auto_upgrade_disabled/test/positive3.yaml
  assets/queries/googleDeploymentManager/node_auto_upgrade_disabled/test/positive4.yaml
  assets/queries/googleDeploymentManager/node_auto_upgrade_disabled/test/positive_expected_result.json
Labels: query, gdm

#4699 feat(query): added "IP Aliasing Disabled" for Google Deployment Manager
  assets/queries/googleDeploymentManager/ip_aliasing_disabled/metadata.json
  assets/queries/googleDeploymentManager/ip_aliasing_disabled/query.rego
  assets/queries/googleDeploymentManager/ip_aliasing_disabled/test/negative1.yaml
  assets/queries/googleDeploymentManager/ip_aliasing_disabled/test/positive1.yaml
  assets/queries/googleDeploymentManager/ip_aliasing_disabled/test/positive2.yaml
  assets/queries/googleDeploymentManager/ip_aliasing_disabled/test/positive3.yaml
  assets/queries/googleDeploymentManager/ip_aliasing_disabled/test/positive_expected_result.json
Labels: query, gdm

#4701 feat(query): added "Network Policy Disabled" for Google Deployment Manager
  assets/queries/googleDeploymentManager/network_policy_disabled/metadata.json
  assets/queries/googleDeploymentManager/network_policy_disabled/query.rego
  assets/queries/googleDeploymentManager/network_policy_disabled/test/negative1.yaml
  assets/queries/googleDeploymentManager/network_policy_disabled/test/positive1.yaml
  assets/queries/googleDeploymentManager/network_policy_disabled/test/positive2.yaml
  assets/queries/googleDeploymentManager/network_policy_disabled/test/positive3.yaml
  assets/queries/googleDeploymentManager/network_policy_disabled/test/positive4.yaml
  assets/queries/googleDeploymentManager/network_policy_disabled/test/positive_expected_result.json
Labels: query, gdm

#4693 feat(query): added "SQL DB Instance With SSL Disabled" for Google Deployment Manager
  assets/queries/ansible/gcp/sql_db_instance_with_ssl_disabled/metadata.json
  assets/queries/googleDeploymentManager/sql_db_instance_with_ssl_disabled/metadata.json
  assets/queries/googleDeploymentManager/sql_db_instance_with_ssl_disabled/query.rego
  assets/queries/googleDeploymentManager/sql_db_instance_with_ssl_disabled/test/negative1.yaml
  assets/queries/googleDeploymentManager/sql_db_instance_with_ssl_disabled/test/positive1.yaml
  assets/queries/googleDeploymentManager/sql_db_instance_with_ssl_disabled/test/positive2.yaml
  assets/queries/googleDeploymentManager/sql_db_instance_with_ssl_disabled/test/positive3.yaml
  assets/queries/googleDeploymentManager/sql_db_instance_with_ssl_disabled/test/positive_expected_result.json
  assets/queries/terraform/gcp/sql_db_instance_with_ssl_disabled/metadata.json
Labels: query, gdm

#4712 ci(goreleaser): increase time out to 2 hours
  .github/workflows/release.yml
Labels: CI

#4713 fix(terraformer): fix terraformer output dir being deleted
  pkg/scan/utils.go
Labels: bug

#4729 build(env): added dev build tag
  .github/workflows/go-ci.yml
  .github/workflows/go-e2e.yaml
  Makefile
  README.md
  pkg/terraformer/aws/aws_cloud_provider.go
  pkg/terraformer/aws/aws_cloud_provider_test.go
  pkg/terraformer/terraformer.go
  pkg/terraformer/terraformer_alt.go
  pkg/terraformer/terraformer_test.go
Labels: CI

#4736 fix(query): fix terraform query for ingress/egress description
  assets/queries/terraform/aws/security_group_rules_without_description/query.rego
  assets/queries/terraform/aws/security_group_rules_without_description/test/negative2.tf
  assets/queries/terraform/aws/security_group_rules_without_description/test/positive2.tf
  assets/queries/terraform/aws/security_group_rules_without_description/test/positive_expected_result.json
Labels: bug, query, terraform, community

#4741 fix(golang): fixed golang data races and make file
  .github/workflows/go-e2e.yaml
  Makefile
  pkg/model/comment_yaml.go
Labels: bug, CI

#4723 feat(query): added "Cloud Storage Anonymous or Publicly Accessible" for Google Deployment Manager
  assets/queries/googleDeploymentManager/cloud_storage_anonymous_or_publicly_accessible/metadata.json
  assets/queries/googleDeploymentManager/cloud_storage_anonymous_or_publicly_accessible/query.rego
  assets/queries/googleDeploymentManager/cloud_storage_anonymous_or_publicly_accessible/test/negative1.yaml
  assets/queries/googleDeploymentManager/cloud_storage_anonymous_or_publicly_accessible/test/positive1.yaml
  assets/queries/googleDeploymentManager/cloud_storage_anonymous_or_publicly_accessible/test/positive2.yaml
  assets/queries/googleDeploymentManager/cloud_storage_anonymous_or_publicly_accessible/test/positive3.yaml
  assets/queries/googleDeploymentManager/cloud_storage_anonymous_or_publicly_accessible/test/positive_expected_result.json
Labels: query, gdm

#4710 feat(query): added "BigQuery Dataset Is Public" for Google Deployment Manager
  assets/queries/googleDeploymentManager/bigquery_database_is_public/metadata.json
  assets/queries/googleDeploymentManager/bigquery_database_is_public/query.rego
  assets/queries/googleDeploymentManager/bigquery_database_is_public/test/negative1.yaml
  assets/queries/googleDeploymentManager/bigquery_database_is_public/test/negative2.yaml
  assets/queries/googleDeploymentManager/bigquery_database_is_public/test/positive1.yaml
  assets/queries/googleDeploymentManager/bigquery_database_is_public/test/positive_expected_result.json
Labels: query, gdm

#4731 feat(query): added "GKE Master Authorized Networks Disabled" for Google Deployment Manager
  assets/queries/googleDeploymentManager/gke_master_authorized_networks_disabled/metadata.json
  assets/queries/googleDeploymentManager/gke_master_authorized_networks_disabled/query.rego
  assets/queries/googleDeploymentManager/gke_master_authorized_networks_disabled/test/negative1.yaml
  assets/queries/googleDeploymentManager/gke_master_authorized_networks_disabled/test/positive1.yaml
  assets/queries/googleDeploymentManager/gke_master_authorized_networks_disabled/test/positive2.yaml
  assets/queries/googleDeploymentManager/gke_master_authorized_networks_disabled/test/positive_expected_result.json
Labels: query, gdm

#4733 update(terraformer): added timestamp to generated import folder
  pkg/terraformer/terraformer.go
  pkg/terraformer/terraformer_test.go
Labels: go

#4732 feat(query): added "Stackdriver Monitoring Disabled" for Google Deployment Manager
  assets/queries/googleDeploymentManager/stackdriver_monitoring_disabled/metadata.json
  assets/queries/googleDeploymentManager/stackdriver_monitoring_disabled/query.rego
  assets/queries/googleDeploymentManager/stackdriver_monitoring_disabled/test/negative1.yaml
  assets/queries/googleDeploymentManager/stackdriver_monitoring_disabled/test/positive1.yaml
  assets/queries/googleDeploymentManager/stackdriver_monitoring_disabled/test/positive2.yaml
  assets/queries/googleDeploymentManager/stackdriver_monitoring_disabled/test/positive_expected_result.json
Labels: query, gdm

#4740 feat(buildah): added support to Buildah
  assets/libraries/buildah.rego
  assets/queries/buildah/run_using_apt/metadata.json
  assets/queries/buildah/run_using_apt/query.rego
  assets/queries/buildah/run_using_apt/test/negative.sh
  assets/queries/buildah/run_using_apt/test/positive.sh
  assets/queries/buildah/run_using_apt/test/positive_expected_result.json
  assets/queries/buildah/run_using_dnf_update/metadata.json
  assets/queries/buildah/run_using_dnf_update/query.rego
  assets/queries/buildah/run_using_dnf_update/test/negative.sh
  assets/queries/buildah/run_using_dnf_update/test/positive.sh
  assets/queries/buildah/run_using_dnf_update/test/positive_expected_result.json
  docs/commands.md
  docs/dockerhub.md
  docs/platforms.md
  e2e/fixtures/E2E_CLI_010
  e2e/fixtures/E2E_CLI_013
  e2e/fixtures/assets/scan_help
  e2e/fixtures/schemas/result.json
  e2e/fixtures/schemas/resultBoM.json
  go.mod
  go.sum
  internal/constants/constants.go
  pkg/analyzer/analyzer.go
  pkg/engine/inspector.go
  pkg/engine/source/filesystem.go
  pkg/engine/source/filesystem_test.go
  pkg/model/model.go
  pkg/parser/buildah/comments.go
  pkg/parser/buildah/parser.go
  pkg/parser/buildah/parser_test.go
  pkg/scan/scan.go
  test/main_test.go
  test/similarity_id_test.go
Labels: feature request, query, go, buildah

#4760 fix(version): fixed bug with version checking (#4675)
  go.sum
  pkg/descriptions/client.go
  pkg/descriptions/version.go
  pkg/descriptions/version_test.go
  pkg/scan/client.go
Labels: bug
