Repository Checkmarx/kics, pull requests merged in 2022-12, with the labels that each got.

#6034 update(kics-gh): updated KICS GH Action
  .github/workflows/kics-gh-action.yaml
Labels: CI

#6039 fix(query): add search line to array without maximum number items open api query
  assets/queries/openAPI/general/array_without_maximum_number_items/query.rego
  assets/queries/openAPI/general/array_without_maximum_number_items/test/positive_expected_result.json
Labels: bug, query, openapi

#6038 fix(query): fix false positive in sqs with sse disabled for aws cloudformation
  assets/queries/cloudFormation/aws/sqs_with_sse_disabled/query.rego
  assets/queries/cloudFormation/aws/sqs_with_sse_disabled/test/negative1.yaml
  assets/queries/cloudFormation/aws/sqs_with_sse_disabled/test/negative2.json
  assets/queries/cloudFormation/aws/sqs_with_sse_disabled/test/positive1.yaml
  assets/queries/cloudFormation/aws/sqs_with_sse_disabled/test/positive2.json
  assets/queries/cloudFormation/aws/sqs_with_sse_disabled/test/positive_expected_result.json
Labels: bug, query, cloudformation, aws

#6037 feat(bom): add gcp bill of materials for dataflow job in terraform
  assets/queries/terraform/gcp_bom/dataflow/metadata.json
  assets/queries/terraform/gcp_bom/dataflow/query.rego
  assets/queries/terraform/gcp_bom/dataflow/test/negative.tf
  assets/queries/terraform/gcp_bom/dataflow/test/positive.tf
  assets/queries/terraform/gcp_bom/dataflow/test/positive_expected_result.json
Labels: terraform, gcp, BoM

#6036 feat(bom): add gcp redis bill of matterials support for terraform
  assets/libraries/terraform.rego
  assets/queries/terraform/gcp_bom/redis/metadata.json
  assets/queries/terraform/gcp_bom/redis/query.rego
  assets/queries/terraform/gcp_bom/redis/test/negative.tf
  assets/queries/terraform/gcp_bom/redis/test/positive.tf
  assets/queries/terraform/gcp_bom/redis/test/positive_expected_result.json
Labels: terraform, gcp, BoM

#6033 feat(bom): add gcp filestore instance bill of materials for terraform
  assets/queries/terraform/gcp_bom/fi/metadata.json
  assets/queries/terraform/gcp_bom/fi/query.rego
  assets/queries/terraform/gcp_bom/fi/test/negative.tf
  assets/queries/terraform/gcp_bom/fi/test/positive.tf
  assets/queries/terraform/gcp_bom/fi/test/positive_expected_result.json
Labels: terraform, gcp, BoM

#6032 feat(bom): add bill of materials for gcp storage bucket
  assets/queries/googleDeploymentManager/gcp_bom/sb/metadata.json
  assets/queries/googleDeploymentManager/gcp_bom/sb/query.rego
  assets/queries/googleDeploymentManager/gcp_bom/sb/test/negative.yaml
  assets/queries/googleDeploymentManager/gcp_bom/sb/test/positive.yaml
  assets/queries/googleDeploymentManager/gcp_bom/sb/test/positive_expected_result.json
  assets/queries/terraform/gcp_bom/sb/metadata.json
  assets/queries/terraform/gcp_bom/sb/query.rego
  assets/queries/terraform/gcp_bom/sb/test/negative.tf
  assets/queries/terraform/gcp_bom/sb/test/positive.tf
  assets/queries/terraform/gcp_bom/sb/test/positive_expected_result.json
Labels: terraform, gcp, gdm, BoM

#6024 fix(helm_resolver): fix help parser trim left
  pkg/resolver/helm/resolver.go
Labels: bug, go

#6059 update versions
  Makefile
  docker/Dockerfile.antlr
  e2e/testcases/e2e-cli-042_scan_remote_path_http.go
  go.mod
  go.sum
  lib/antlr-4.11.1-complete.jar
  pkg/kics/sink.go
  pkg/parser/jsonfilter/json_filter_test.go
  pkg/parser/jsonfilter/parser/JSONFilter.interp
  pkg/parser/jsonfilter/parser/JSONFilterLexer.interp
  pkg/parser/jsonfilter/parser/error_listener.go
  pkg/parser/jsonfilter/parser/error_listener_test.go
  pkg/parser/jsonfilter/parser/jsonfilter_base_visitor.go
  pkg/parser/jsonfilter/parser/jsonfilter_lexer.go
  pkg/parser/jsonfilter/parser/jsonfilter_parser.go
  pkg/parser/jsonfilter/parser/jsonfilter_tree_visitor.go
  pkg/parser/jsonfilter/parser/jsonfilter_visitor.go
Labels: dependencies, tests
