Repository Checkmarx/kics, pull requests merged in 2022-11, with the labels that each got.

#5979 fix(analyzer): improved regexes
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  pkg/engine/provider/filesystem_test.go
  test/fixtures/analyzer_test/not_openapi.json
Labels: bug, go

#5984 fix(query): improved regex of "Asymmetric private key"
  assets/queries/common/passwords_and_secrets/regex_rules.json
  assets/queries/common/passwords_and_secrets/test/positive42.tf
  assets/queries/common/passwords_and_secrets/test/positive_expected_result.json
Labels: query

#5981 fix: changing directory name of viewer_protocol_policy_allows_http
  assets/queries/cloudFormation/aws/cloudfront_viewer_protocol_policy_allows_http/metadata.json
  assets/queries/cloudFormation/aws/cloudfront_viewer_protocol_policy_allows_http/query.rego
  assets/queries/cloudFormation/aws/cloudfront_viewer_protocol_policy_allows_http/test/negative1.yaml
  assets/queries/cloudFormation/aws/cloudfront_viewer_protocol_policy_allows_http/test/negative2.json
  assets/queries/cloudFormation/aws/cloudfront_viewer_protocol_policy_allows_http/test/negative3.yaml
  assets/queries/cloudFormation/aws/cloudfront_viewer_protocol_policy_allows_http/test/positive1.yaml
  assets/queries/cloudFormation/aws/cloudfront_viewer_protocol_policy_allows_http/test/positive2.json
  assets/queries/cloudFormation/aws/cloudfront_viewer_protocol_policy_allows_http/test/positive_expected_result.json
  assets/queries/terraform/aws/cloudfront_viewer_protocol_policy_allows_http/metadata.json
  assets/queries/terraform/aws/cloudfront_viewer_protocol_policy_allows_http/query.rego
  assets/queries/terraform/aws/cloudfront_viewer_protocol_policy_allows_http/test/negative.tf
  assets/queries/terraform/aws/cloudfront_viewer_protocol_policy_allows_http/test/positive.tf
  assets/queries/terraform/aws/cloudfront_viewer_protocol_policy_allows_http/test/positive_expected_result.json
  assets/queries/terraform/aws/viewer_protocol_policy_allows_http/test/positive_expected_result.json
Labels: query, community

#5988 feat(bom): added Cassandra for CloudFormation
  assets/libraries/cloudformation.rego
  assets/queries/cloudFormation/aws_bom/cassandra/metadata.json
  assets/queries/cloudFormation/aws_bom/cassandra/query.rego
  assets/queries/cloudFormation/aws_bom/cassandra/test/negative1.yaml
  assets/queries/cloudFormation/aws_bom/cassandra/test/positive1.yaml
  assets/queries/cloudFormation/aws_bom/cassandra/test/positive2.yaml
  assets/queries/cloudFormation/aws_bom/cassandra/test/positive_expected_result.json
  docs/bom.md
Labels: cloudformation, aws, BoM

#5983 feat(bom): added Kinesis support for CloudFormation and Terraform
  assets/libraries/cloudformation.rego
  assets/queries/cloudFormation/aws_bom/kinesis/metadata.json
  assets/queries/cloudFormation/aws_bom/kinesis/query.rego
  assets/queries/cloudFormation/aws_bom/kinesis/test/negative1.yaml
  assets/queries/cloudFormation/aws_bom/kinesis/test/negative2.json
  assets/queries/cloudFormation/aws_bom/kinesis/test/positive1.yaml
  assets/queries/cloudFormation/aws_bom/kinesis/test/positive2.json
  assets/queries/cloudFormation/aws_bom/kinesis/test/positive_expected_result.json
  assets/queries/terraform/aws_bom/kinesis/metadata.json
  assets/queries/terraform/aws_bom/kinesis/query.rego
  assets/queries/terraform/aws_bom/kinesis/test/negative1.tf
  assets/queries/terraform/aws_bom/kinesis/test/positive1.tf
  assets/queries/terraform/aws_bom/kinesis/test/positive_expected_result.json
  docs/bom.md
Labels: cloudformation, terraform, aws, BoM

#5982 update(docs): added required go version + how to build kics binary
  docs/CONTRIBUTING.md
  docs/getting-started.md
  install.sh
  pkg/engine/provider/filesystem_test.go
Labels: documentation

#5999 fix(query): align queries
  assets/queries/ansible/gcp/cos_node_image_not_used/metadata.json
  assets/queries/cloudFormation/aws/elasticache_nodes_not_created_across_multi_az/metadata.json
  assets/queries/cloudFormation/aws/iam_database_auth_not_enabled/metadata.json
  assets/queries/cloudFormation/aws/iam_database_auth_not_enabled/query.rego
  assets/queries/cloudFormation/aws/iam_database_auth_not_enabled/test/negative1.yaml
  assets/queries/cloudFormation/aws/iam_database_auth_not_enabled/test/negative2.json
  assets/queries/cloudFormation/aws/iam_database_auth_not_enabled/test/negative3.yaml
  assets/queries/cloudFormation/aws/iam_database_auth_not_enabled/test/negative4.yaml
  assets/queries/cloudFormation/aws/iam_database_auth_not_enabled/test/positive1.yaml
  assets/queries/cloudFormation/aws/iam_database_auth_not_enabled/test/positive2.json
  assets/queries/cloudFormation/aws/iam_database_auth_not_enabled/test/positive3.yaml
  assets/queries/cloudFormation/aws/iam_database_auth_not_enabled/test/positive4.json
  assets/queries/cloudFormation/aws/iam_database_auth_not_enabled/test/positive_expected_result.json
  assets/queries/crossplane/aws/cloudfront_logging_disabled/metadata.json
  assets/queries/crossplane/aws/sqs_with_sse_disabled/metadata.json
  assets/queries/crossplane/aws/sqs_with_sse_disabled/test/positive_expected_result.json
  assets/queries/pulumi/aws/elasticache_nodes_not_created_across_multi_az/metadata.json
  assets/queries/terraform/aws/cloudtrail_log_files_not_encrypted_with_kms/metadata.json
  assets/queries/terraform/aws/elasticache_nodes_not_created_across_multi_az/metadata.json
  assets/queries/terraform/gcp/vm_serial_ports_are_enabled_for_vm_instances/metadata.json
Labels: query, community

#5997 update kics logo in documentation
  README.md
  docs/about.md
  docs/img/logo/kics-donkey.ico
  docs/img/logo/kics_new_logo_2022_dark.png
  docs/img/logo/kics_new_logo_2022_white.png
  docs/index.md
  docs/releases.md
  mkdocs.yml
Labels: documentation

#5994 fix: scanner panics when ctx timeout
  pkg/engine/inspector.go
  pkg/scanner/scanner_test.go
Labels: community, go

#6006 fix(query): update with version regex for unpinned package version in apk add security query
  assets/libraries/dockerfile.rego
  assets/queries/dockerfile/unpinned_package_version_in_apk_add/test/negative2.dockerfile
Labels: bug, query, dockerfile

#6007 fix(query): adapt k8s hpa targets invalid object security query
  assets/queries/k8s/hpa_targets_invalid_object/metadata.json
  assets/queries/k8s/hpa_targets_invalid_object/query.rego
  assets/queries/k8s/hpa_targets_invalid_object/test/negative1.yaml
  assets/queries/k8s/hpa_targets_invalid_object/test/negative2.yaml
Labels: query, kubernetes

#6023 fix(query): update tf azure aks disk encryption set id undefined security query
  assets/queries/terraform/azure/aks_disk_encryption_set_id_undefined/metadata.json
  assets/queries/terraform/azure/aks_disk_encryption_set_id_undefined/query.rego
  assets/queries/terraform/azure/aks_disk_encryption_set_id_undefined/test/negative.tf
Labels: bug, query, terraform, azure

#6025 docs: update copyright date
  README.md
  mkdocs.yml
Labels: documentation
