Repository Checkmarx/kics, pull requests merged in 2022-08, with the labels that each got.

#5652 fix(query): azure aks rbac-variable changed
  assets/queries/common/passwords_and_secrets/test/negative10.tf
  assets/queries/common/passwords_and_secrets/test/negative24.tf
  assets/queries/common/passwords_and_secrets/test/negative29.tf
  assets/queries/common/passwords_and_secrets/test/negative37.tf
  assets/queries/common/passwords_and_secrets/test/positive15.tf
  assets/queries/common/passwords_and_secrets/test/positive24.tf
  assets/queries/common/passwords_and_secrets/test/positive37.tf
  assets/queries/common/passwords_and_secrets/test/positive41.tf
  assets/queries/common/passwords_and_secrets/test/positive_expected_result.json
  assets/queries/terraform/aws/iam_policy_grants_assumerole_permission_across_all_services/test/negative.tf
  assets/queries/terraform/aws/iam_policy_grants_assumerole_permission_across_all_services/test/positive.tf
  assets/queries/terraform/aws/instance_with_no_vpc/test/negative1.tf
  assets/queries/terraform/aws/security_groups_not_used/test/negative3.tf
  assets/queries/terraform/aws/security_groups_not_used/test/negative4.tf
  assets/queries/terraform/azure/aks_rbac_disabled/query.rego
  assets/queries/terraform/azure/aks_rbac_disabled/test/negative.tf
  assets/queries/terraform/azure/aks_rbac_disabled/test/positive.tf
  assets/queries/terraform/azure/aks_rbac_disabled/test/positive_expected_result.json
  assets/queries/terraform/kubernetes/deployment_without_pod_disruption_budget/test/negative.tf
  assets/queries/terraform/kubernetes/network_policy_is_not_targeting_any_pod/test/negative.tf
  assets/queries/terraform/kubernetes/statefulset_without_pod_disruption_budget/test/negative.tf
Labels: community

#5654 queries(pulumi): add pulumi gcp security queries
  assets/libraries/common.rego
  assets/libraries/crossplane.rego
  assets/libraries/pulumi.rego
  assets/queries/crossplane/aws/cloudfront_logging_disabled/query.rego
  assets/queries/crossplane/aws/cloudfront_without_minimum_protocol_tls_1.2/query.rego
  assets/queries/crossplane/aws/cloudfront_without_waf/query.rego
  assets/queries/crossplane/aws/cloudwatch_without_retention_period_specified/query.rego
  assets/queries/crossplane/aws/db_instance_storage_not_encrypted/query.rego
  assets/queries/crossplane/aws/db_security_group_has_public_interface/query.rego
  assets/queries/crossplane/aws/efs_not_encrypted/query.rego
  assets/queries/crossplane/aws/efs_without_kms/query.rego
  assets/queries/crossplane/aws/elb_using_weak_ciphers/query.rego
  assets/queries/crossplane/aws/neptune_database_cluster_encryption_disabled/query.rego
  assets/queries/crossplane/aws/sqs_with_sse_disabled/query.rego
  assets/queries/crossplane/azure/aks_rbac_disabled/query.rego
  assets/queries/crossplane/azure/redis_cache_allows_non_ssl_connections/query.rego
  assets/queries/crossplane/gcp/cloud_storage_bucket_logging_not_enabled/query.rego
  assets/queries/crossplane/gcp/google_container_node_pool_auto_repair_disabled/query.rego
  assets/queries/pulumi/gcp/cloud_storage_bucket_logging_not_enabled/metadata.json
  assets/queries/pulumi/gcp/cloud_storage_bucket_logging_not_enabled/query.rego
  assets/queries/pulumi/gcp/cloud_storage_bucket_logging_not_enabled/test/negative.yaml
  assets/queries/pulumi/gcp/cloud_storage_bucket_logging_not_enabled/test/positive.yaml
  assets/queries/pulumi/gcp/cloud_storage_bucket_logging_not_enabled/test/positive_expected_result.json
  assets/queries/pulumi/gcp/google_compute_ssl_policy_weak_cipher_in_use/metadata.json
  assets/queries/pulumi/gcp/google_compute_ssl_policy_weak_cipher_in_use/query.rego
  assets/queries/pulumi/gcp/google_compute_ssl_policy_weak_cipher_in_use/test/negative.yaml
  assets/queries/pulumi/gcp/google_compute_ssl_policy_weak_cipher_in_use/test/positive.yaml
  assets/queries/pulumi/gcp/google_compute_ssl_policy_weak_cipher_in_use/test/positive_expected_result.json
  test/main_test.go
Labels: query, gcp, pulumi

#5663 queries(pulumi): add pulumi kubernetes security queries
  assets/queries/pulumi/kubernetes/missing_app_armor_config/metadata.json
  assets/queries/pulumi/kubernetes/missing_app_armor_config/query.rego
  assets/queries/pulumi/kubernetes/missing_app_armor_config/test/negative.yaml
  assets/queries/pulumi/kubernetes/missing_app_armor_config/test/positive.yaml
  assets/queries/pulumi/kubernetes/missing_app_armor_config/test/positive_expected_result.json
  assets/queries/pulumi/kubernetes/psp_set_to_privileged/metadata.json
  assets/queries/pulumi/kubernetes/psp_set_to_privileged/query.rego
  assets/queries/pulumi/kubernetes/psp_set_to_privileged/test/negative.yaml
  assets/queries/pulumi/kubernetes/psp_set_to_privileged/test/positive.yaml
  assets/queries/pulumi/kubernetes/psp_set_to_privileged/test/positive_expected_result.json
  test/main_test.go
Labels: query, kubernetes, pulumi

#5658 queries(pulumi): add pulumi azure security queries
  assets/queries/ansible/azure/storage_account_not_forcing_https/metadata.json
  assets/queries/pulumi/azure/redis_cache_allows_non_ssl_connections/metadata.json
  assets/queries/pulumi/azure/redis_cache_allows_non_ssl_connections/query.rego
  assets/queries/pulumi/azure/redis_cache_allows_non_ssl_connections/test/negative.yaml
  assets/queries/pulumi/azure/redis_cache_allows_non_ssl_connections/test/positive.yaml
  assets/queries/pulumi/azure/redis_cache_allows_non_ssl_connections/test/positive_expected_result.json
  assets/queries/pulumi/azure/storage_account_not_forcing_https/metadata.json
  assets/queries/pulumi/azure/storage_account_not_forcing_https/query.rego
  assets/queries/pulumi/azure/storage_account_not_forcing_https/test/negative.yaml
  assets/queries/pulumi/azure/storage_account_not_forcing_https/test/positive.yaml
  assets/queries/pulumi/azure/storage_account_not_forcing_https/test/positive_expected_result.json
  assets/queries/terraform/azure/storage_account_not_forcing_https/metadata.json
  test/main_test.go
Labels: query, azure, pulumi

#5662 Update documentation with KICS Auto Scanning Extension for Visual Studio Code
  docs/img/checkmarx_extension.png
  docs/img/checkmarx_kics_auto_scanning.png
  docs/img/plugin_install.png
  docs/img/vulnerabilities.png
  docs/integrations.md
  docs/integrations_auto_scanning_visual_studio.md
Labels: documentation

#5673 Update integrations_auto_scanning_visual_studio.md
  docs/integrations_auto_scanning_visual_studio.md
Labels: documentation

#5670 feat(serverlessfw): add support to serverless fw yml file parsing
  .github/scripts/metrics/get_metrics.py
  .github/scripts/queries-validator/metadata-schema.json
  README.md
  assets/libraries/serverlessfw.rego
  docs/commands.md
  docs/dockerhub.md
  docs/img/logo-serverlessfw.png
  docs/platforms.md
  e2e/fixtures/E2E_CLI_010
  e2e/fixtures/E2E_CLI_013
  e2e/fixtures/assets/scan_help
  e2e/fixtures/schemas/result.json
  e2e/fixtures/schemas/resultBoM.json
  internal/constants/constants.go
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  pkg/engine/source/filesystem.go
  pkg/engine/source/filesystem_test.go
  pkg/parser/yaml/parser.go
  pkg/parser/yaml/parser_test.go
  res/demoSFW.yml
  test/fixtures/analyzer_test/serverlessfw.yml
Labels: feature, go

#5692 feat(knative): add knative security query and k8's pod queries interoperability
  .github/scripts/metrics/get_metrics.py
  .github/workflows/validate-k8s-samples.yml
  assets/libraries/k8s.rego
  assets/libraries/knative.rego
  assets/queries/k8s/audit_log_maxage_not_properly_set/test/positive3.yaml
  assets/queries/k8s/audit_log_maxage_not_properly_set/test/positive_expected_result.json
  assets/queries/k8s/audit_log_maxbackup_not_properly_set/test/positive3.yaml
  assets/queries/k8s/audit_log_maxbackup_not_properly_set/test/positive_expected_result.json
  assets/queries/k8s/audit_log_maxsize_not_properly_set/test/positive3.yaml
  assets/queries/k8s/audit_log_maxsize_not_properly_set/test/positive_expected_result.json
  assets/queries/k8s/audit_log_path_not_set/test/positive2.yaml
  assets/queries/k8s/audit_log_path_not_set/test/positive_expected_result.json
  assets/queries/k8s/audit_policy_file_not_defined/test/positive3.yaml
  assets/queries/k8s/audit_policy_file_not_defined/test/positive_expected_result.json
  assets/queries/k8s/container_cpu_requests_not_equal_to_its_limits/query.rego
  assets/queries/k8s/container_cpu_requests_not_equal_to_its_limits/test/positive2.yaml
  assets/queries/k8s/container_cpu_requests_not_equal_to_its_limits/test/positive_expected_result.json
  assets/queries/k8s/container_memory_requests_not_equal_to_its_limits/query.rego
  assets/queries/k8s/container_memory_requests_not_equal_to_its_limits/test/positive2.yaml
  assets/queries/k8s/container_memory_requests_not_equal_to_its_limits/test/positive_expected_result.json
  assets/queries/k8s/cpu_limits_not_set/test/positive.yaml
  assets/queries/k8s/cpu_limits_not_set/test/positive_expected_result.json
  assets/queries/k8s/cpu_requests_not_set/test/negative.yaml
  assets/queries/k8s/cpu_requests_not_set/test/positive.yaml
  assets/queries/k8s/cpu_requests_not_set/test/positive_expected_result.json
  assets/queries/k8s/non_kube_system_pod_with_host_mount/query.rego
  assets/queries/k8s/non_kube_system_pod_with_host_mount/test/positive.yaml
  assets/queries/k8s/non_kube_system_pod_with_host_mount/test/positive_expected_result.json
  assets/queries/k8s/service_account_token_automount_not_disabled/query.rego
  assets/queries/k8s/service_account_token_automount_not_disabled/test/positive1.yaml
  assets/queries/k8s/service_account_token_automount_not_disabled/test/positive_expected_result.json
  assets/queries/k8s/shared_host_ipc_namespace/test/negative2.yaml
  assets/queries/k8s/shared_host_ipc_namespace/test/positive2.yaml
  assets/queries/k8s/shared_host_ipc_namespace/test/positive_expected_result.json
  assets/queries/k8s/shared_host_network_namespace/test/negative2.yaml
  assets/queries/k8s/shared_host_network_namespace/test/positive2.yaml
  assets/queries/k8s/shared_host_network_namespace/test/positive_expected_result.json
  assets/queries/k8s/shared_host_pid_namespace/test/negative2.yaml
  assets/queries/k8s/shared_host_pid_namespace/test/positive2.yaml
  assets/queries/k8s/shared_host_pid_namespace/test/positive_expected_result.json
  assets/queries/k8s/using_unrecommended_namespace/query.rego
  assets/queries/k8s/using_unrecommended_namespace/test/positive5.yaml
  assets/queries/k8s/using_unrecommended_namespace/test/positive_expected_result.json
  assets/queries/k8s/workload_mounting_with_sensitive_os_directory/query.rego
  assets/queries/k8s/workload_mounting_with_sensitive_os_directory/test/positive.yaml
  assets/queries/k8s/workload_mounting_with_sensitive_os_directory/test/positive_expected_result.json
  assets/queries/knative/serving_revision_spec_without_timeout_settings/metadata.json
  assets/queries/knative/serving_revision_spec_without_timeout_settings/query.rego
  assets/queries/knative/serving_revision_spec_without_timeout_settings/test/negative1.yaml
  assets/queries/knative/serving_revision_spec_without_timeout_settings/test/positive1.yaml
  assets/queries/knative/serving_revision_spec_without_timeout_settings/test/positive_expected_result.json
  docs/platforms.md
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  test/main_test.go
Labels: query, kubernetes, go, knative

#5686 fix(query): reduced complexity of 'lambda_function_with_privileged_role' query
  assets/libraries/common.json
  assets/libraries/common.rego
  assets/libraries/terraform.rego
  assets/queries/terraform/aws/lambda_function_with_privileged_role/query.rego
Labels: query, terraform

#5695 fix(tf parser): added parentheses expr to convertStringPart
  pkg/parser/terraform/converter/default.go
  pkg/parser/terraform/terraform_test.go
  test/fixtures/test-tf-parentheses/parenteses.tf
Labels: bug, go

#5693 fix(query): change approach in api_gateway_with_cloudwatch_logging_disabled security query for terraform aws
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/metadata.json
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/query.rego
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/test/negative.tf
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/test/positive.tf
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#5702 fix(queries): change queries metadata to remove the inconsistency
  assets/queries/ansible/aws/authentication_without_mfa/metadata.json
  assets/queries/ansible/aws/authentication_without_mfa/test/positive_expected_result.json
  assets/queries/ansible/aws/iam_policies_attached_to_user/metadata.json
  assets/queries/ansible/aws/iam_policies_attached_to_user/test/positive_expected_result.json
  assets/queries/ansible/aws/s3_bucket_logging_disabled/metadata.json
  assets/queries/ansible/aws/s3_bucket_logging_disabled/test/positive_expected_result.json
  assets/queries/ansible/azure/redis_cache_allows_non_ssl_connections/metadata.json
  assets/queries/ansible/gcp/cos_node_image_not_used/metadata.json
  assets/queries/ansible/gcp/gke_using_default_service_account/metadata.json
  assets/queries/ansible/gcp/high_google_kms_crypto_key_rotation_period/metadata.json
  assets/queries/ansible/gcp/high_kms_rotation_period/metadata.json
  assets/queries/ansible/gcp/high_kms_rotation_period/test/positive_expected_result.json
  assets/queries/ansible/gcp/serial_ports_enabled_for_vm_instances/metadata.json
  assets/queries/ansible/gcp/sql_db_instance_is_publicly_accessible/metadata.json
  assets/queries/ansible/gcp/sql_db_instance_is_publicly_accessible/test/positive_expected_result.json
  assets/queries/azureResourceManager/aks_dashboard_enabled/metadata.json
  assets/queries/cloudFormation/aws/access_key_not_rotated_within_90_days/metadata.json
  assets/queries/cloudFormation/aws/iam_policies_attached_to_user/metadata.json
  assets/queries/cloudFormation/aws/iam_policies_attached_to_user/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/s3_bucket_logging_disabled/metadata.json
  assets/queries/cloudFormation/aws/s3_bucket_logging_disabled/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/security_group_rule_without_description/metadata.json
  assets/queries/cloudFormation/aws/security_group_rule_without_description/test/positive_expected_result.json
  assets/queries/terraform/alicloud/disk_encryption_disabled/metadata.json
  assets/queries/terraform/alicloud/disk_encryption_disabled/test/positive_expected_result.json
  assets/queries/terraform/alicloud/high_kms_key_rotation_period/metadata.json
  assets/queries/terraform/alicloud/high_kms_key_rotation_period/test/positive_expected_result.json
  assets/queries/terraform/alicloud/rds_instance_publicly_accessible/metadata.json
  assets/queries/terraform/alicloud/rds_instance_publicly_accessible/test/positive_expected_result.json
  assets/queries/terraform/aws/authentication_without_mfa/metadata.json
  assets/queries/terraform/aws/cloudtrail_log_files_not_encrypted_with_cmk/metadata.json
  assets/queries/terraform/aws/elb_access_logging_disabled/metadata.json
  assets/queries/terraform/aws/elb_access_logging_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/iam_policies_attached_to_user/metadata.json
  assets/queries/terraform/aws/iam_policies_attached_to_user/test/positive_expected_result.json
  assets/queries/terraform/aws/s3_bucket_logging_disabled/metadata.json
  assets/queries/terraform/aws/s3_bucket_logging_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/security_group_rules_without_description/metadata.json
  assets/queries/terraform/aws/security_group_rules_without_description/test/positive_expected_result.json
  assets/queries/terraform/aws/security_group_without_description/metadata.json
  assets/queries/terraform/aws/security_group_without_description/test/positive_expected_result.json
  assets/queries/terraform/azure/aks_private_cluster_disabled/metadata.json
  assets/queries/terraform/azure/aks_private_cluster_disabled/test/positive_expected_result.json
  assets/queries/terraform/azure/azure_app_service_client_certificate_disabled/metadata.json
  assets/queries/terraform/azure/network_interfaces_ip_forwarding_enabled/metadata.json
  assets/queries/terraform/azure/network_interfaces_ip_forwarding_enabled/test/positive_expected_result.json
  assets/queries/terraform/azure/redis_cache_allows_non_ssl_connections/metadata.json
  assets/queries/terraform/gcp/gke_using_default_service_account/metadata.json
  assets/queries/terraform/gcp/high_google_kms_crypto_key_rotation_period/metadata.json
  assets/queries/terraform/gcp/high_kms_rotation_period/metadata.json
  assets/queries/terraform/gcp/high_kms_rotation_period/test/positive_expected_result.json
  assets/queries/terraform/gcp/sql_db_instance_is_publicly_accessible/metadata.json
  assets/queries/terraform/gcp/sql_db_instance_is_publicly_accessible/test/positive_expected_result.json
  assets/queries/terraform/gcp/using_default_service_account/metadata.json
  assets/queries/terraform/gcp/vm_serial_ports_are_enabled_for_vm_instances/metadata.json
  e2e/fixtures/E2E_CLI_031_RESULT.html
  e2e/fixtures/E2E_CLI_032_RESULT.json
  e2e/fixtures/E2E_CLI_036_RESULT.json
  e2e/fixtures/E2E_CLI_040_RESULT.html
Labels: query

#5706 fix(query): improve RegEx rule in curl_or_wget_instead_of_add
  assets/queries/dockerfile/curl_or_wget_instead_of_add/metadata.json
  assets/queries/dockerfile/curl_or_wget_instead_of_add/query.rego
  assets/queries/dockerfile/curl_or_wget_instead_of_add/test/negative2.dockerfile
Labels: query, docker

#5707 fix(query): update_instruction_alone
  assets/queries/dockerfile/update_instruction_alone/query.rego
  assets/queries/dockerfile/update_instruction_alone/test/negative2.dockerfile
Labels: query, docker

#5696 fix(docker parser): added resolver for args
  pkg/parser/docker/parser.go
  pkg/parser/docker/parser_test.go
Labels: bug, go

#5720 fix(queries): add missing check in ec2 instance has public ip
  .github/scripts/report/e2e-html.go
  .github/scripts/report/main.go
  assets/queries/ansible/aws/ec2_instance_has_public_ip/query.rego
  assets/queries/ansible/aws/ec2_instance_has_public_ip/test/negative.yaml
  assets/queries/cloudFormation/aws/ec2_subnet_mapping_public_ip_on_launch/metadata.json
  assets/queries/cloudFormation/aws/ec2_subnet_mapping_public_ip_on_launch/test/positive_expected_result.json
  assets/queries/terraform/aws/ec2_instance_has_public_ip/query.rego
  assets/queries/terraform/aws/ec2_instance_has_public_ip/test/negative3.tf
  e2e/utils/helper.go
Labels: bug, query, terraform, ansible, aws

#5646 fix(keyExpectedValue): cloudformation-aws queries convert to a recomm…
  assets/queries/cloudFormation/aws/access_key_not_rotated_within_90_days/query.rego
  assets/queries/cloudFormation/aws/alb_is_not_integrated_with_waf/query.rego
  assets/queries/cloudFormation/aws/alb_listening_on_http/query.rego
  assets/queries/cloudFormation/aws/amazon_mq_broker_encryption_disabled/query.rego
  assets/queries/cloudFormation/aws/amplify_app_access_token_exposed/query.rego
  assets/queries/cloudFormation/aws/amplify_app_basic_auth_config_password_exposed/query.rego
  assets/queries/cloudFormation/aws/amplify_app_oauth_token_exposed/query.rego
  assets/queries/cloudFormation/aws/amplify_branch_basic_auth_config_password_exposed/query.rego
  assets/queries/cloudFormation/aws/api_gateway_cache_cluster_disabled/query.rego
  assets/queries/cloudFormation/aws/api_gateway_cache_encrypted_disabled/query.rego
  assets/queries/cloudFormation/aws/api_gateway_deployment_without_access_log_setting/query.rego
  assets/queries/cloudFormation/aws/api_gateway_deployment_without_api_gateway_usage_plan_associated/query.rego
  assets/queries/cloudFormation/aws/api_gateway_endpoint_config_is_not_private/query.rego
  assets/queries/cloudFormation/aws/api_gateway_method_does_not_contains_an_api_key/query.rego
  assets/queries/cloudFormation/aws/api_gateway_stage_without_api_gateway_usage_plan_associated/query.rego
  assets/queries/cloudFormation/aws/api_gateway_v2_stage_access_logging_settings_not_defined/query.rego
  assets/queries/cloudFormation/aws/api_gateway_with_invalid_compression/query.rego
  assets/queries/cloudFormation/aws/api_gateway_with_open_access/query.rego
  assets/queries/cloudFormation/aws/api_gateway_without_configured_authorizer/query.rego
  assets/queries/cloudFormation/aws/api_gateway_without_security_policy/query.rego
  assets/queries/cloudFormation/aws/api_gateway_without_ssl_certificate/query.rego
  assets/queries/cloudFormation/aws/api_gateway_without_waf/query.rego
  assets/queries/cloudFormation/aws/api_gateway_xray_disabled/query.rego
  assets/queries/cloudFormation/aws/auto_scaling_group_with_no_associated_elb/query.rego
  assets/queries/cloudFormation/aws/automatic_minor_upgrades_disabled/query.rego
  assets/queries/cloudFormation/aws/cdn_configuration_is_missing/query.rego
  assets/queries/cloudFormation/aws/cloudformation_specifying_credentials_not_safe/query.rego
  assets/queries/cloudFormation/aws/cloudfront_logging_disabled/query.rego
  assets/queries/cloudFormation/aws/cloudfront_without_minimum_protocol_tls_1.2/query.rego
  assets/queries/cloudFormation/aws/cloudfront_without_waf/query.rego
  assets/queries/cloudFormation/aws/cloudtrail_log_file_validation_disabled/query.rego
  assets/queries/cloudFormation/aws/cloudtrail_log_files_not_encrypted_with_cmk/query.rego
  assets/queries/cloudFormation/aws/cloudtrail_logging_disabled/query.rego
  assets/queries/cloudFormation/aws/cloudtrail_multi_region_disabled/query.rego
  assets/queries/cloudFormation/aws/cloudtrail_not_integrated_with_cloudwatch/query.rego
  assets/queries/cloudFormation/aws/cloudtrail_sns_topic_name_undefined/query.rego
  assets/queries/cloudFormation/aws/cloudwatch_logging_disabled/query.rego
  assets/queries/cloudFormation/aws/s3_bucket_with_public_policy/metadata.json
  assets/queries/cloudFormation/aws/s3_bucket_with_public_policy/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/s3_bucket_without_ignore_public_acl/metadata.json
  assets/queries/cloudFormation/aws/s3_bucket_without_ignore_public_acl/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/s3_bucket_without_restriction_of_public_bucket/metadata.json
  assets/queries/cloudFormation/aws/s3_bucket_without_restriction_of_public_bucket/test/positive_expected_result.json
  e2e/fixtures/E2E_CLI_031_RESULT.html
  e2e/fixtures/E2E_CLI_032_RESULT.json
  e2e/fixtures/E2E_CLI_036_RESULT.json
  e2e/fixtures/E2E_CLI_040_RESULT.html
Labels: query, community

#5730 feat(query): added App Service Without Latest Python Version query for Terraform
  assets/queries/terraform/azure/app_service_without_latest_python_version/metadata.json
  assets/queries/terraform/azure/app_service_without_latest_python_version/query.rego
  assets/queries/terraform/azure/app_service_without_latest_python_version/test/negative1.tf
  assets/queries/terraform/azure/app_service_without_latest_python_version/test/negative2.tf
  assets/queries/terraform/azure/app_service_without_latest_python_version/test/negative3.tf
  assets/queries/terraform/azure/app_service_without_latest_python_version/test/negative4.tf
  assets/queries/terraform/azure/app_service_without_latest_python_version/test/positive1.tf
  assets/queries/terraform/azure/app_service_without_latest_python_version/test/positive2.tf
  assets/queries/terraform/azure/app_service_without_latest_python_version/test/positive3.tf
  assets/queries/terraform/azure/app_service_without_latest_python_version/test/positive_expected_result.json
Labels: query, terraform, azure

#5684 fix(terraform parser): remove resource reference in dependent policies
  pkg/parser/terraform/data_source.go
  pkg/parser/terraform/variables.go
  res/test.json
Labels: terraform

#5735 fix(resolver): consider comments in YAML resolver
  pkg/detector/helper.go
  pkg/engine/secrets/inspector.go
  pkg/model/model_yaml.go
  pkg/model/model_yaml_test.go
  pkg/resolver/file/file.go
  pkg/resolver/file/file_test.go
Labels: bug, go

#5737 fix(bom): fix bug in cloudformation bill of materials
  assets/libraries/cloudformation.rego
  assets/queries/cloudFormation/aws_bom/msk/metadata.json
  assets/queries/cloudFormation/aws_bom/msk/test/positive_expected_result.json
  assets/queries/cloudFormation/aws_bom/s3_bucket/query.rego
  assets/queries/cloudFormation/aws_bom/sns/metadata.json
  assets/queries/cloudFormation/aws_bom/sns/test/positive_expected_result.json
  assets/queries/cloudFormation/aws_bom/sqs/metadata.json
  assets/queries/cloudFormation/aws_bom/sqs/test/positive_expected_result.json
  assets/queries/terraform/aws_bom/elasticache/query.rego
  assets/queries/terraform/aws_bom/msk/metadata.json
  assets/queries/terraform/aws_bom/msk/test/positive_expected_result.json
  assets/queries/terraform/aws_bom/sns/metadata.json
  assets/queries/terraform/aws_bom/sns/test/positive_expected_result.json
  assets/queries/terraform/aws_bom/sqs/metadata.json
  assets/queries/terraform/aws_bom/sqs/test/positive_expected_result.json
Labels: cloudformation, aws, BoM

#5732 update(terraformer): usage of terraformer binary instead of terraformer package
  Dockerfile
  Makefile
  README.md
  assets/queries/cloudFormation/aws/s3_bucket_with_public_policy/metadata.json
  assets/queries/cloudFormation/aws/s3_bucket_with_public_policy/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/s3_bucket_without_ignore_public_acl/metadata.json
  assets/queries/cloudFormation/aws/s3_bucket_without_ignore_public_acl/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/s3_bucket_without_restriction_of_public_bucket/metadata.json
  assets/queries/cloudFormation/aws/s3_bucket_without_restriction_of_public_bucket/test/positive_expected_result.json
  docs/integrations_terraformer.md
  go.mod
  go.sum
  pkg/terraformer/aws/aws_cloud_provider.go
  pkg/terraformer/aws/aws_cloud_provider_test.go
  pkg/terraformer/azure/azure_cloud_provider.go
  pkg/terraformer/azure/azure_cloud_provider_test.go
  pkg/terraformer/gcp/gcp_cloud_provider.go
  pkg/terraformer/gcp/gcp_cloud_provider_test.go
  pkg/terraformer/terraformer.go
  pkg/terraformer/terraformer_alt.go
  pkg/terraformer/terraformer_test.go
  pkg/terraformer/utils.go
Labels: go

#5745 fix(bug): add version to gcompat in kics dockerfile
  Dockerfile
Labels: bug
