Repository Checkmarx/kics, pull requests merged in 2022-09, with the labels that each got.

#5762 feat(image): add windows image
  windows.dockerfile
Labels: feature

#5783 fix(github_action): add tflint config file
  .github/scripts/samples-linters/.tflint.hcl
  .github/workflows/validate-tf-samples.yml
Labels: github_actions

#5651 feat(engine): Kubernetes API support for runtime k8s clusters scan​
  assets/libraries/k8s.rego
  assets/queries/k8s/service_account_token_automount_not_disabled/query.rego
  docs/integrations_kuberneter.md
  go.mod
  go.sum
  pkg/engine/provider/extract.go
  pkg/kuberneter/auth.go
  pkg/kuberneter/kuberneter.go
  pkg/kuberneter/kuberneter_test.go
  pkg/kuberneter/utils.go
  pkg/kuberneter/utils_test.go
  pkg/scan/scan.go
  pkg/scan/utils.go
  test/main_test.go
Labels: feature, go, kuberneter

#5788 docs(kics.io): update kics.io docs
  docs/changes1_6.md
  docs/img/1-6-t-flag.png
  docs/img/masked-secrets.png
  docs/kics_auto_remediation.md
  docs/roadmap.md
  mkdocs.yml
Labels: documentation

#5791 docs(platforms_logos): add supported platforms logos
  README.md
  docs/img/logo-azure-blueprints.png
  docs/index.md
Labels: documentation

#5795 docs(): fix remediate
  latest/kics_auto_remediation/index.html
Labels: documentation

#5794 docs(remediate): update remediate docs
  docs/kics_auto_remediation.md
Labels: documentation

#5800 docker hub docs information update
  docs/BADGE.md
  docs/configuration-file.md
  docs/dockerhub.md
  docs/getting-started.md
  docs/running-kics.md
Labels: documentation

#5796 fix(bug): bug in get metrics script
  .github/scripts/metrics/get_metrics.py
Labels: bug, github_actions

#5780 fix(query): change s3 bucket acl grants write acp security query
  assets/queries/ansible/aws/s3_bucket_allows_writeacp_action_from_all_principals/metadata.json
  assets/queries/ansible/aws/s3_bucket_allows_writeacp_action_from_all_principals/query.rego
  assets/queries/ansible/aws/s3_bucket_allows_writeacp_action_from_all_principals/test/negative.yaml
  assets/queries/ansible/aws/s3_bucket_allows_writeacp_action_from_all_principals/test/positive.yaml
  assets/queries/ansible/aws/s3_bucket_allows_writeacp_action_from_all_principals/test/positive_expected_result.json
  assets/queries/terraform/aws/s3_bucket_acl_grants_write_acp_permission/metadata.json
  assets/queries/terraform/aws/s3_bucket_acl_grants_write_acp_permission/query.rego
  assets/queries/terraform/aws/s3_bucket_acl_grants_write_acp_permission/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_acl_grants_write_acp_permission/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_acl_grants_write_acp_permission/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_acl_grants_write_acp_permission/test/positive_expected_result.json
  assets/queries/terraform/aws/s3_bucket_allows_writeacp_action_from_all_principals/metadata.json
  assets/queries/terraform/aws/s3_bucket_allows_writeacp_action_from_all_principals/query.rego
  assets/queries/terraform/aws/s3_bucket_allows_writeacp_action_from_all_principals/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_allows_writeacp_action_from_all_principals/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_allows_writeacp_action_from_all_principals/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_allows_writeacp_action_from_all_principals/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_allows_writeacp_action_from_all_principals/test/positive_expected_result.json
Labels: query, terraform, ansible, aws

#5810 fix(query): fix query descriptionText for s3 logging disabled kms rot…
  assets/queries/ansible/aws/s3_bucket_logging_disabled/metadata.json
  assets/queries/ansible/gcp/high_kms_rotation_period/metadata.json
  assets/queries/cloudFormation/aws/iam_policies_attached_to_user/metadata.json
  assets/queries/terraform/gcp/high_kms_rotation_period/metadata.json
Labels: query, community

#5812 update(workflows): deleted branching process for major versions
  .github/workflows/go-ci-integration.yml
  .github/workflows/go-ci.yml
  .github/workflows/go-e2e.yaml
  .github/workflows/kics-gh-action.yaml
  .github/workflows/sonarcloud.yml
  .github/workflows/sync_major_release.yaml
Labels: github_actions

#5682 chore(gitlab-ci): add --ci flag to gitlab examples
  examples/gitlab/KICS.gitlabci.yaml
  examples/gitlab/KICS.v3.gitlabci.yaml
Labels: documentation, community

#5826 fix(query): fix dockerfile security query regex
  assets/queries/dockerfile/workdir_path_not_absolute/query.rego
  assets/queries/dockerfile/workdir_path_not_absolute/test/negative.dockerfile
Labels: query, dockerfile

#5830 feat(query): added 'MSK Broker Is Publicly Accessible' for CloudFormation and Terraform
  assets/queries/cloudFormation/aws/msk_broker_is_publicly_accessible/metadata.json
  assets/queries/cloudFormation/aws/msk_broker_is_publicly_accessible/query.rego
  assets/queries/cloudFormation/aws/msk_broker_is_publicly_accessible/test/negative1.yaml
  assets/queries/cloudFormation/aws/msk_broker_is_publicly_accessible/test/negative2.json
  assets/queries/cloudFormation/aws/msk_broker_is_publicly_accessible/test/positive1.yaml
  assets/queries/cloudFormation/aws/msk_broker_is_publicly_accessible/test/positive2.json
  assets/queries/cloudFormation/aws/msk_broker_is_publicly_accessible/test/positive_expected_result.json
  assets/queries/cloudFormation/aws_bom/msk/query.rego
  assets/queries/cloudFormation/aws_bom/msk/test/positive1.yaml
  assets/queries/terraform/aws/msk_broker_is_publicly_accessible/metadata.json
  assets/queries/terraform/aws/msk_broker_is_publicly_accessible/query.rego
  assets/queries/terraform/aws/msk_broker_is_publicly_accessible/test/negative1.tf
  assets/queries/terraform/aws/msk_broker_is_publicly_accessible/test/negative2.tf
  assets/queries/terraform/aws/msk_broker_is_publicly_accessible/test/positive1.tf
  assets/queries/terraform/aws/msk_broker_is_publicly_accessible/test/positive_expected_result.json
  assets/queries/terraform/aws_bom/msk/query.rego
  assets/queries/terraform/aws_bom/msk/test/positive1.tf
Labels: query, cloudformation, terraform, aws

#5817 build(deps): bump github.com/GoogleCloudPlatform/terraformer from 0.8.21 to 0.8.22
  Dockerfile
Labels: community, dockerfile

#5818 update(documentation): correct the GH action name
  docs/integrations_ghactions.md
Labels: documentation, community

#5831 fix(query): remove string check in open api security query
  assets/queries/openAPI/general/invalid_format/metadata.json
  assets/queries/openAPI/general/invalid_format/query.rego
  assets/queries/openAPI/general/invalid_format/test/positive_expected_result.json
Labels: bug, query, openapi

#5781 fix(query): change s3 bucket with all permissions security query
  assets/queries/ansible/aws/s3_bucket_with_all_permissions/metadata.json
  assets/queries/ansible/aws/s3_bucket_with_all_permissions/query.rego
  assets/queries/cloudFormation/aws/s3_bucket_with_all_permissions/metadata.json
  assets/queries/cloudFormation/aws/s3_bucket_with_all_permissions/query.rego
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/metadata.json
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/query.rego
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/test/negative1.tf
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/test/negative2.tf
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/test/positive1.tf
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/test/positive2.tf
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/test/positive3.tf
  assets/queries/terraform/aws/s3_bucket_allows_all_actions_from_all_principals/test/positive_expected_result.json
  assets/queries/terraform/aws/s3_bucket_with_all_permissions/metadata.json
  assets/queries/terraform/aws/s3_bucket_with_all_permissions/query.rego
Labels: query, cloudformation, terraform, ansible, aws

#5832 fix(query): update s3 bucket policy accepts http requests security query
  assets/queries/terraform/aws/s3_bucket_policy_accepts_http_requests/query.rego
  assets/queries/terraform/aws/s3_bucket_policy_accepts_http_requests/test/negative3.tf
Labels: bug, query, terraform, aws

#5744 code coverage improvements
  internal/console/flags/flags_test.go
  internal/console/helpers/exit_handler_test.go
  internal/console/helpers/helpers_test.go
  internal/console/kics_test.go
  internal/tracker/ci_test.go
  pkg/descriptions/descriptions_test.go
  pkg/kuberneter/kuberneter_test.go
  pkg/kuberneter/utils_test.go
  pkg/resolver/file/file_test.go
  pkg/scan/client_test.go
  pkg/scan/post_scan_test.go
  pkg/scan/scan.go
  pkg/scan/scan_test.go
  pkg/scan/utils.go
  pkg/scan/utils_test.go
  pkg/terraformer/terraformer_test.go
  pkg/utils/contains.go
  test/assets/auto_remediation_sample.tf
  test/assets/invalid.json
  test/assets/results_for_ar.json
  test/assets/sample_K8S_CONFIG_FILE.yaml
  test/fixtures/unresolved_openapi_json/messages/definitions.json
  test/fixtures/unresolved_openapi_json/messages/request.json
  test/fixtures/unresolved_openapi_json/messages/response.json
  test/fixtures/unresolved_openapi_json/openapi.json
  test/helpers_test.go
Labels: enhancement, go

#5833 fix(query): updated lambda_function_with_privileged_role
  assets/libraries/terraform.rego
  assets/queries/terraform/aws/lambda_function_with_privileged_role/metadata.json
  assets/queries/terraform/aws/lambda_function_with_privileged_role/query.rego
  assets/queries/terraform/aws/lambda_function_with_privileged_role/test/positive.tf
  assets/queries/terraform/aws/lambda_function_with_privileged_role/test/positive_expected_result.json
Labels: bug, query, terraform, aws

#5837 fix(bug): add support for certificate body process from tfvar
  pkg/parser/terraform/terraform.go
Labels: bug, go

#5823 feat(workflows): add workflow to check latest software versions
  .github/scripts/update_versions/requirements.txt
  .github/scripts/update_versions/update.py
  .github/workflows/update_software_versions.yml
  assets/libraries/common.json
Labels: feature, github_actions

#5834 fix(query): fix responses with wrong http status code security query
  assets/queries/openAPI/general/responses_wrong_http_status_code/query.rego
  assets/queries/openAPI/general/responses_wrong_http_status_code/test/negative2.yaml
Labels: bug, query, openapi

#5839 fix(terraform data source): added data resources resolver
  assets/queries/terraform/aws/s3_bucket_policy_accepts_http_requests/test/negative7.tf
  go.mod
  go.sum
  pkg/builder/engine/engine.go
  pkg/parser/terraform/data_source.go
Labels: bug, go

#5295 fix(queries): fixed Docker queries related to issues 5115, 5116, and 5118
  assets/queries/dockerfile/changing_default_shell_using_run_command/metadata.json
  assets/queries/dockerfile/changing_default_shell_using_run_command/query.rego
  assets/queries/dockerfile/changing_default_shell_using_run_command/test/negative1.dockerfile
  assets/queries/dockerfile/changing_default_shell_using_run_command/test/negative2.dockerfile
  assets/queries/dockerfile/changing_default_shell_using_run_command/test/negative3.dockerfile
  assets/queries/dockerfile/changing_default_shell_using_run_command/test/negative4.dockerfile
  assets/queries/dockerfile/changing_default_shell_using_run_command/test/positive1.dockerfile
  assets/queries/dockerfile/changing_default_shell_using_run_command/test/positive2.dockerfile
  assets/queries/dockerfile/changing_default_shell_using_run_command/test/positive_expected_result.json
  assets/queries/dockerfile/changing_default_shell_using_shell_command/metadata.json
  assets/queries/dockerfile/changing_default_shell_using_shell_command/query.rego
  assets/queries/dockerfile/changing_default_shell_using_shell_command/test/positive_expected_result.json
  assets/queries/dockerfile/copy_from_without_from_alias_defined_previously/metadata.json
  assets/queries/dockerfile/copy_from_without_from_alias_defined_previously/query.rego
  assets/queries/dockerfile/copy_from_without_from_alias_defined_previously/test/positive.dockerfile
  assets/queries/dockerfile/copy_from_without_from_alias_defined_previously/test/positive_expected_result.json
  assets/queries/dockerfile/run_command_cd_instead_of_workdir/metadata.json
  assets/queries/dockerfile/run_command_cd_instead_of_workdir/query.rego
  assets/queries/dockerfile/run_command_cd_instead_of_workdir/test/negative2.dockerfile
  assets/queries/dockerfile/run_command_cd_instead_of_workdir/test/positive.dockerfile
  assets/queries/dockerfile/run_command_cd_instead_of_workdir/test/positive_expected_result.json
  assets/queries/dockerfile/using_unnamed_build_stages/metadata.json
  assets/queries/dockerfile/using_unnamed_build_stages/query.rego
  assets/queries/dockerfile/using_unnamed_build_stages/test/negative1.dockerfile
  assets/queries/dockerfile/using_unnamed_build_stages/test/positive1.dockerfile
  assets/queries/dockerfile/using_unnamed_build_stages/test/positive_expected_result.json
Labels: docker, accuracy

#5806 community tab added into the docs.kics.io website
  docs/commands.md
  docs/community.md
  mkdocs.yml
Labels: documentation

#5829 update(docs): improve information in the configuration docs
  docs/commands.md
  docs/configuration-file.md
Labels: documentation, community
