Repository Checkmarx/kics, pull requests merged in 2022-04, with the labels that each got.

#5112 update(kics): improve KICS overall performance
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/kics/service.go
  pkg/kics/service_test.go
  pkg/model/model.go
  pkg/model/model_yaml.go
  pkg/parser/grpc/converter/converter.go
  pkg/parser/json/json_line.go
  pkg/parser/json/parser.go
  pkg/parser/terraform/converter/default.go
  pkg/progress/circle/circle_progress.go
Labels: enhancement, go

#5107 feat(query): Added Service Account Lookup Set To False for Kubernetes
  assets/queries/k8s/service_account_lookup_set_to_false/metadata.json
  assets/queries/k8s/service_account_lookup_set_to_false/query.rego
  assets/queries/k8s/service_account_lookup_set_to_false/test/negative1.yaml
  assets/queries/k8s/service_account_lookup_set_to_false/test/negative2.yaml
  assets/queries/k8s/service_account_lookup_set_to_false/test/positive1.yaml
  assets/queries/k8s/service_account_lookup_set_to_false/test/positive_expected_result.json
Labels: query, kubernetes

#5131 feat(query): Added Auto TLS Set To True for kubernetes
  assets/queries/k8s/auto_tls_set_to_true/metadata.json
  assets/queries/k8s/auto_tls_set_to_true/query.rego
  assets/queries/k8s/auto_tls_set_to_true/test/negative1.yaml
  assets/queries/k8s/auto_tls_set_to_true/test/negative2.yaml
  assets/queries/k8s/auto_tls_set_to_true/test/positive1.yaml
  assets/queries/k8s/auto_tls_set_to_true/test/positive_expected_result.json
Labels: query, kubernetes

#5136 feat(query): Added Peer Auto TLS Set To True for Kubernetes
  assets/queries/k8s/peer_auto_tls_set_to_true/metadata.json
  assets/queries/k8s/peer_auto_tls_set_to_true/query.rego
  assets/queries/k8s/peer_auto_tls_set_to_true/test/negative1.yaml
  assets/queries/k8s/peer_auto_tls_set_to_true/test/negative2.yaml
  assets/queries/k8s/peer_auto_tls_set_to_true/test/positive1.yaml
  assets/queries/k8s/peer_auto_tls_set_to_true/test/positive_expected_result.json
Labels: query, kubernetes

#5125 feat(query): Added Use Service Account Credentials Not Set To True for Kubernetes
  assets/queries/k8s/use_service_account_credentials_not_set_to_true/metadata.json
  assets/queries/k8s/use_service_account_credentials_not_set_to_true/query.rego
  assets/queries/k8s/use_service_account_credentials_not_set_to_true/test/negative1.yaml
  assets/queries/k8s/use_service_account_credentials_not_set_to_true/test/negative2.yaml
  assets/queries/k8s/use_service_account_credentials_not_set_to_true/test/positive1.yaml
  assets/queries/k8s/use_service_account_credentials_not_set_to_true/test/positive2.yaml
  assets/queries/k8s/use_service_account_credentials_not_set_to_true/test/positive_expected_result.json
Labels: query, kubernetes

#5095 feat(query): Added Node Restriction Admission Control Plugin Not Set for Kubernetes
  assets/queries/k8s/node_restriction_admission_control_plugin_not_set/metadata.json
  assets/queries/k8s/node_restriction_admission_control_plugin_not_set/query.rego
  assets/queries/k8s/node_restriction_admission_control_plugin_not_set/test/negative1.yaml
  assets/queries/k8s/node_restriction_admission_control_plugin_not_set/test/negative2.yaml
  assets/queries/k8s/node_restriction_admission_control_plugin_not_set/test/positive1.yaml
  assets/queries/k8s/node_restriction_admission_control_plugin_not_set/test/positive_expected_result.json
Labels: query, kubernetes

#5123 feat(query): Added Terminated Pod Garbage Collector Threshold Not Properly Set for Kubernetes
  assets/libraries/k8s.rego
  assets/queries/k8s/permissive_access_to_create_pods/metadata.json
  assets/queries/k8s/permissive_access_to_create_pods/test/positive_expected_result.json
  assets/queries/k8s/terminated_pod_garbage_collector_threshold_not_properly_set/metadata.json
  assets/queries/k8s/terminated_pod_garbage_collector_threshold_not_properly_set/query.rego
  assets/queries/k8s/terminated_pod_garbage_collector_threshold_not_properly_set/test/negative1.yaml
  assets/queries/k8s/terminated_pod_garbage_collector_threshold_not_properly_set/test/negative2.yaml
  assets/queries/k8s/terminated_pod_garbage_collector_threshold_not_properly_set/test/positive1.yaml
  assets/queries/k8s/terminated_pod_garbage_collector_threshold_not_properly_set/test/positive2.yaml
  assets/queries/k8s/terminated_pod_garbage_collector_threshold_not_properly_set/test/positive_expected_result.json
Labels: query, kubernetes

#5126 feat(query): Added Service Account Private Key File Not Defined for Kubernetes
  assets/queries/k8s/service_account_private_key_file_not_defined/metadata.json
  assets/queries/k8s/service_account_private_key_file_not_defined/query.rego
  assets/queries/k8s/service_account_private_key_file_not_defined/test/negative1.yaml
  assets/queries/k8s/service_account_private_key_file_not_defined/test/negative2.yaml
  assets/queries/k8s/service_account_private_key_file_not_defined/test/positive1.yaml
  assets/queries/k8s/service_account_private_key_file_not_defined/test/positive_expected_result.json
Labels: query, kubernetes

#5127 feat(query): Added Root CA File Not Defined for kubernetes
  assets/queries/k8s/root_ca_file_not_defined/metadata.json
  assets/queries/k8s/root_ca_file_not_defined/query.rego
  assets/queries/k8s/root_ca_file_not_defined/test/negative1.yaml
  assets/queries/k8s/root_ca_file_not_defined/test/negative2.yaml
  assets/queries/k8s/root_ca_file_not_defined/test/positive1.yaml
  assets/queries/k8s/root_ca_file_not_defined/test/positive_expected_result.json
Labels: query, kubernetes

#5128 feat(query): Added Bind Address Not Properly Set for Kubernetes
  assets/queries/k8s/bind_address_not_properly_set/metadata.json
  assets/queries/k8s/bind_address_not_properly_set/query.rego
  assets/queries/k8s/bind_address_not_properly_set/test/negative1.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/negative2.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/negative3.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/negative4.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/positive1.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/positive2.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/positive3.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/positive4.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/positive_expected_result.json
Labels: query, kubernetes

#5129 feat(query): Added ETCD TLS Certificate Files Not Properly Set for Kubernetes
  assets/queries/k8s/etcd_tls_certificate_files_not_properly_set/metadata.json
  assets/queries/k8s/etcd_tls_certificate_files_not_properly_set/query.rego
  assets/queries/k8s/etcd_tls_certificate_files_not_properly_set/test/negative1.yaml
  assets/queries/k8s/etcd_tls_certificate_files_not_properly_set/test/negative2.yaml
  assets/queries/k8s/etcd_tls_certificate_files_not_properly_set/test/positive1.yaml
  assets/queries/k8s/etcd_tls_certificate_files_not_properly_set/test/positive2.yaml
  assets/queries/k8s/etcd_tls_certificate_files_not_properly_set/test/positive_expected_result.json
Labels: query, kubernetes

#5090 feat(query): Added Service Account Admission Control Plugin Disabled for Kubernetes
  assets/queries/k8s/service_account_admission_control_plugin_disabled/metadata.json
  assets/queries/k8s/service_account_admission_control_plugin_disabled/query.rego
  assets/queries/k8s/service_account_admission_control_plugin_disabled/test/negative1.yaml
  assets/queries/k8s/service_account_admission_control_plugin_disabled/test/negative2.yaml
  assets/queries/k8s/service_account_admission_control_plugin_disabled/test/positive1.yaml
  assets/queries/k8s/service_account_admission_control_plugin_disabled/test/positive2.yaml
  assets/queries/k8s/service_account_admission_control_plugin_disabled/test/positive_expected_result.json
Labels: query, kubernetes

#5092 feat(query): Added Namespace Lifecycle Admission Control Plugin Disabled for Kubernetes
  assets/queries/k8s/namespace_lifecycle_admission_control_plugin_disabled/metadata.json
  assets/queries/k8s/namespace_lifecycle_admission_control_plugin_disabled/query.rego
  assets/queries/k8s/namespace_lifecycle_admission_control_plugin_disabled/test/negative1.yaml
  assets/queries/k8s/namespace_lifecycle_admission_control_plugin_disabled/test/negative2.yaml
  assets/queries/k8s/namespace_lifecycle_admission_control_plugin_disabled/test/positive1.yaml
  assets/queries/k8s/namespace_lifecycle_admission_control_plugin_disabled/test/positive2.yaml
  assets/queries/k8s/namespace_lifecycle_admission_control_plugin_disabled/test/positive_expected_result.json
Labels: query, kubernetes

#5093 feat(query): Added Pod Security Policy Admission Control Plugin Not Set for Kubernetes
  assets/queries/k8s/pod_security_policy_admission_control_plugin_not_set/metadata.json
  assets/queries/k8s/pod_security_policy_admission_control_plugin_not_set/query.rego
  assets/queries/k8s/pod_security_policy_admission_control_plugin_not_set/test/negative1.yaml
  assets/queries/k8s/pod_security_policy_admission_control_plugin_not_set/test/negative2.yaml
  assets/queries/k8s/pod_security_policy_admission_control_plugin_not_set/test/positive1.yaml
  assets/queries/k8s/pod_security_policy_admission_control_plugin_not_set/test/positive_expected_result.json
Labels: query, kubernetes

#5102 feat(query): Added Audit Log Path Not Set for Kubernetes
  assets/queries/k8s/audit_log_path_not_set/metadata.json
  assets/queries/k8s/audit_log_path_not_set/query.rego
  assets/queries/k8s/audit_log_path_not_set/test/negative1.yaml
  assets/queries/k8s/audit_log_path_not_set/test/negative2.yaml
  assets/queries/k8s/audit_log_path_not_set/test/positive1.yaml
  assets/queries/k8s/audit_log_path_not_set/test/positive_expected_result.json
Labels: query, kubernetes

#5106 feat(query): Added Request Timeout Not Properly Set for Kubernetes
  assets/queries/k8s/request_timeout_not_properly_set/metadata.json
  assets/queries/k8s/request_timeout_not_properly_set/query.rego
  assets/queries/k8s/request_timeout_not_properly_set/test/negative1.yaml
  assets/queries/k8s/request_timeout_not_properly_set/test/negative2.yaml
  assets/queries/k8s/request_timeout_not_properly_set/test/positive1.yaml
  assets/queries/k8s/request_timeout_not_properly_set/test/positive2.yaml
  assets/queries/k8s/request_timeout_not_properly_set/test/positive3.yaml
  assets/queries/k8s/request_timeout_not_properly_set/test/positive4.yaml
  assets/queries/k8s/request_timeout_not_properly_set/test/positive5.yaml
  assets/queries/k8s/request_timeout_not_properly_set/test/positive6.yaml
  assets/queries/k8s/request_timeout_not_properly_set/test/positive_expected_result.json
Labels: query, kubernetes

#5122 feat(query): Added Encryption Provider Not Properly Configured for Kubernetes
  .github/workflows/validate-k8s-samples.yml
  assets/queries/k8s/encryption_provider_not_properly_configured/metadata.json
  assets/queries/k8s/encryption_provider_not_properly_configured/query.rego
  assets/queries/k8s/encryption_provider_not_properly_configured/test/negative1.yaml
  assets/queries/k8s/encryption_provider_not_properly_configured/test/positive1.yaml
  assets/queries/k8s/encryption_provider_not_properly_configured/test/positive_expected_result.json
Labels: query, kubernetes

#5130 feat(query): Added Etcd Client Certificate Authentication Set To False for Kubernetes
  assets/queries/k8s/etcd_client_certificate_authentication_set_to_false/metadata.json
  assets/queries/k8s/etcd_client_certificate_authentication_set_to_false/query.rego
  assets/queries/k8s/etcd_client_certificate_authentication_set_to_false/test/negative1.yaml
  assets/queries/k8s/etcd_client_certificate_authentication_set_to_false/test/positive1.yaml
  assets/queries/k8s/etcd_client_certificate_authentication_set_to_false/test/positive2.yaml
  assets/queries/k8s/etcd_client_certificate_authentication_set_to_false/test/positive_expected_result.json
Labels: query, kubernetes

#5133 feat(query): Added Etcd Peer TLS Certificate Files Not Properly Set for Kubernetes
  assets/queries/k8s/etcd_peer_tls_certificate_files_not_properly_set/metadata.json
  assets/queries/k8s/etcd_peer_tls_certificate_files_not_properly_set/query.rego
  assets/queries/k8s/etcd_peer_tls_certificate_files_not_properly_set/test/negative1.yaml
  assets/queries/k8s/etcd_peer_tls_certificate_files_not_properly_set/test/negative2.yaml
  assets/queries/k8s/etcd_peer_tls_certificate_files_not_properly_set/test/positive1.yaml
  assets/queries/k8s/etcd_peer_tls_certificate_files_not_properly_set/test/positive2.yaml
  assets/queries/k8s/etcd_peer_tls_certificate_files_not_properly_set/test/positive_expected_result.json
Labels: query, kubernetes

#5135 feat(query): Added Etcd Peer Client Certificate Authentication Set To False for Kubernetes
  assets/queries/k8s/etcd_peer_client_certificate_authentication_set_to_false/metadata.json
  assets/queries/k8s/etcd_peer_client_certificate_authentication_set_to_false/query.rego
  assets/queries/k8s/etcd_peer_client_certificate_authentication_set_to_false/test/negative1.yaml
  assets/queries/k8s/etcd_peer_client_certificate_authentication_set_to_false/test/positive1.yaml
  assets/queries/k8s/etcd_peer_client_certificate_authentication_set_to_false/test/positive2.yaml
  assets/queries/k8s/etcd_peer_client_certificate_authentication_set_to_false/test/positive_expected_result.json
Labels: query, kubernetes

#5145 feat(query): Added Basic Auth File Is Set for Kubernetes
  assets/queries/k8s/basic_auth_file_is_set/metadata.json
  assets/queries/k8s/basic_auth_file_is_set/query.rego
  assets/queries/k8s/basic_auth_file_is_set/test/negative1.yaml
  assets/queries/k8s/basic_auth_file_is_set/test/negative2.yaml
  assets/queries/k8s/basic_auth_file_is_set/test/positive1.yaml
  assets/queries/k8s/basic_auth_file_is_set/test/positive2.yaml
  assets/queries/k8s/basic_auth_file_is_set/test/positive_expected_result.json
Labels: query, kubernetes

#5146 feat(query): Added Kubelet HTTPS Set To False for kubernetes
  assets/queries/k8s/kubelet_https_set_to_false/metadata.json
  assets/queries/k8s/kubelet_https_set_to_false/query.rego
  assets/queries/k8s/kubelet_https_set_to_false/test/negative1.yaml
  assets/queries/k8s/kubelet_https_set_to_false/test/negative2.yaml
  assets/queries/k8s/kubelet_https_set_to_false/test/positive1.yaml
  assets/queries/k8s/kubelet_https_set_to_false/test/positive_expected_result.json
Labels: query, kubernetes

#5148 feat(query): Added Insecure Bind Address Set for Kubernetes
  assets/queries/k8s/insecure_bind_address_set/metadata.json
  assets/queries/k8s/insecure_bind_address_set/query.rego
  assets/queries/k8s/insecure_bind_address_set/test/negative1.yaml
  assets/queries/k8s/insecure_bind_address_set/test/negative2.yaml
  assets/queries/k8s/insecure_bind_address_set/test/positive1.yaml
  assets/queries/k8s/insecure_bind_address_set/test/positive2.yaml
  assets/queries/k8s/insecure_bind_address_set/test/positive_expected_result.json
Labels: query, kubernetes

#5173 Fix(Query): Renamed folder and query, changed query description
  assets/queries/googleDeploymentManager/bucket_without_versioning/metadata.json
  assets/queries/googleDeploymentManager/bucket_without_versioning/query.rego
  assets/queries/googleDeploymentManager/bucket_without_versioning/test/negative1.yaml
  assets/queries/googleDeploymentManager/bucket_without_versioning/test/positive1.yaml
  assets/queries/googleDeploymentManager/bucket_without_versioning/test/positive2.yaml
  assets/queries/googleDeploymentManager/bucket_without_versioning/test/positive_expected_result.json
Labels: bug, query, good first issue

#5149 feat(query): Added Insecure Port Not Properly Set for Kubernetes
  assets/queries/k8s/insecure_port_not_properly_set/metadata.json
  assets/queries/k8s/insecure_port_not_properly_set/query.rego
  assets/queries/k8s/insecure_port_not_properly_set/test/negative1.yaml
  assets/queries/k8s/insecure_port_not_properly_set/test/negative2.yaml
  assets/queries/k8s/insecure_port_not_properly_set/test/positive1.yaml
  assets/queries/k8s/insecure_port_not_properly_set/test/positive2.yaml
  assets/queries/k8s/insecure_port_not_properly_set/test/positive_expected_result.json
Labels: query, kubernetes

#5140 Feat(Query): Container Traffic Not Bound to Host Interface
  assets/queries/dockerCompose/container_traffic_not_bound_to_host_interface/metadata.json
  assets/queries/dockerCompose/container_traffic_not_bound_to_host_interface/query.rego
  assets/queries/dockerCompose/container_traffic_not_bound_to_host_interface/test/negative1.yaml
  assets/queries/dockerCompose/container_traffic_not_bound_to_host_interface/test/negative2.yaml
  assets/queries/dockerCompose/container_traffic_not_bound_to_host_interface/test/negative3.yaml
  assets/queries/dockerCompose/container_traffic_not_bound_to_host_interface/test/negative4.yaml
  assets/queries/dockerCompose/container_traffic_not_bound_to_host_interface/test/negative5.yaml
  assets/queries/dockerCompose/container_traffic_not_bound_to_host_interface/test/negative6.yaml
  assets/queries/dockerCompose/container_traffic_not_bound_to_host_interface/test/positive1.yaml
  assets/queries/dockerCompose/container_traffic_not_bound_to_host_interface/test/positive2.yaml
  assets/queries/dockerCompose/container_traffic_not_bound_to_host_interface/test/positive3.yaml
  assets/queries/dockerCompose/container_traffic_not_bound_to_host_interface/test/positive_expected_result.json
Labels: query, docker_compose

#5152 Feat(Query): Volume Mounted In Multiple Containers for docker compose
  assets/queries/dockerCompose/volume_mounted_in_multiple_containers/metadata.json
  assets/queries/dockerCompose/volume_mounted_in_multiple_containers/query.rego
  assets/queries/dockerCompose/volume_mounted_in_multiple_containers/test/negative1.yaml
  assets/queries/dockerCompose/volume_mounted_in_multiple_containers/test/negative2.yaml
  assets/queries/dockerCompose/volume_mounted_in_multiple_containers/test/negative3.yaml
  assets/queries/dockerCompose/volume_mounted_in_multiple_containers/test/positive1.yaml
  assets/queries/dockerCompose/volume_mounted_in_multiple_containers/test/positive2.yaml
  assets/queries/dockerCompose/volume_mounted_in_multiple_containers/test/positive3.yaml
  assets/queries/dockerCompose/volume_mounted_in_multiple_containers/test/positive4.yaml
  assets/queries/dockerCompose/volume_mounted_in_multiple_containers/test/positive_expected_result.json
Labels: query, docker_compose

#5159 Feat(Query): No New Privileges Not Set for docker compose
  assets/queries/dockerCompose/no_new_privileges_not_set/metadata.json
  assets/queries/dockerCompose/no_new_privileges_not_set/query.rego
  assets/queries/dockerCompose/no_new_privileges_not_set/test/negative1.yaml
  assets/queries/dockerCompose/no_new_privileges_not_set/test/positive1.yaml
  assets/queries/dockerCompose/no_new_privileges_not_set/test/positive2.yaml
  assets/queries/dockerCompose/no_new_privileges_not_set/test/positive_expected_result.json
Labels: query, docker_compose

#5155 Feat(Query): Restart Policy On Failure Not Set To 5 for docker compose
  assets/queries/dockerCompose/restart_policy_on_failure_not_set_to_5/metadata.json
  assets/queries/dockerCompose/restart_policy_on_failure_not_set_to_5/query.rego
  assets/queries/dockerCompose/restart_policy_on_failure_not_set_to_5/test/negative1.yaml
  assets/queries/dockerCompose/restart_policy_on_failure_not_set_to_5/test/positive1.yaml
  assets/queries/dockerCompose/restart_policy_on_failure_not_set_to_5/test/positive2.yaml
  assets/queries/dockerCompose/restart_policy_on_failure_not_set_to_5/test/positive3.yaml
  assets/queries/dockerCompose/restart_policy_on_failure_not_set_to_5/test/positive4.yaml
  assets/queries/dockerCompose/restart_policy_on_failure_not_set_to_5/test/positive_expected_result.json
Labels: query, docker_compose

#5160 Feat(Query): Healthcheck Not Set for docker compose
  assets/queries/dockerCompose/healthcheck_not_set/metadata.json
  assets/queries/dockerCompose/healthcheck_not_set/query.rego
  assets/queries/dockerCompose/healthcheck_not_set/test/negative1.yaml
  assets/queries/dockerCompose/healthcheck_not_set/test/negative2.yaml
  assets/queries/dockerCompose/healthcheck_not_set/test/positive1.yaml
  assets/queries/dockerCompose/healthcheck_not_set/test/positive2.yaml
  assets/queries/dockerCompose/healthcheck_not_set/test/positive3.yaml
  assets/queries/dockerCompose/healthcheck_not_set/test/positive_expected_result.json
Labels: query, docker_compose

#5103 feat(query): Added Audit Log Maxage Not Properly Set for Kubernetes
  assets/libraries/k8s.rego
  assets/queries/k8s/audit_log_maxage_not_properly_set/metadata.json
  assets/queries/k8s/audit_log_maxage_not_properly_set/query.rego
  assets/queries/k8s/audit_log_maxage_not_properly_set/test/negative1.yaml
  assets/queries/k8s/audit_log_maxage_not_properly_set/test/negative2.yaml
  assets/queries/k8s/audit_log_maxage_not_properly_set/test/positive1.yaml
  assets/queries/k8s/audit_log_maxage_not_properly_set/test/positive2.yaml
  assets/queries/k8s/audit_log_maxage_not_properly_set/test/positive_expected_result.json
Labels: query, kubernetes

#5151 feat(query): Added Profiling Not Set To False for Kubernetes
  .github/workflows/validate-k8s-samples.yml
  assets/queries/k8s/always_admit_admission_control_plugin_set/test/positive_expected_result.json
  assets/queries/k8s/always_pull_images_admission_control_plugin_not_set/test/positive_expected_result.json
  assets/queries/k8s/auto_tls_set_to_true/test/positive_expected_result.json
  assets/queries/k8s/event_rate_limit_admission_control_plugin_not_set/test/positive_expected_result.json
  assets/queries/k8s/peer_auto_tls_set_to_true/test/positive_expected_result.json
  assets/queries/k8s/profiling_not_set_to_false/metadata.json
  assets/queries/k8s/profiling_not_set_to_false/query.rego
  assets/queries/k8s/profiling_not_set_to_false/test/negative1.yaml
  assets/queries/k8s/profiling_not_set_to_false/test/negative2.yaml
  assets/queries/k8s/profiling_not_set_to_false/test/negative3.yaml
  assets/queries/k8s/profiling_not_set_to_false/test/negative4.yaml
  assets/queries/k8s/profiling_not_set_to_false/test/negative5.yaml
  assets/queries/k8s/profiling_not_set_to_false/test/positive1.yaml
  assets/queries/k8s/profiling_not_set_to_false/test/positive2.yaml
  assets/queries/k8s/profiling_not_set_to_false/test/positive3.yaml
  assets/queries/k8s/profiling_not_set_to_false/test/positive4.yaml
  assets/queries/k8s/profiling_not_set_to_false/test/positive5.yaml
  assets/queries/k8s/profiling_not_set_to_false/test/positive6.yaml
  assets/queries/k8s/profiling_not_set_to_false/test/positive7.yaml
  assets/queries/k8s/profiling_not_set_to_false/test/positive_expected_result.json
  assets/queries/k8s/security_context_deny_admission_control_plugin_not_set/test/positive_expected_result.json
  assets/queries/k8s/service_account_lookup_set_to_false/test/positive_expected_result.json
Labels: query, kubernetes

#5108 feat(query): Added Service Account Key File Not Properly Set for Kubernetes
  assets/libraries/k8s.rego
  assets/queries/k8s/client_certificate_authentication_not_setup_properly/query.rego
  assets/queries/k8s/service_account_key_file_not_properly_set/metadata.json
  assets/queries/k8s/service_account_key_file_not_properly_set/query.rego
  assets/queries/k8s/service_account_key_file_not_properly_set/test/negative1.yaml
  assets/queries/k8s/service_account_key_file_not_properly_set/test/positive1.yaml
  assets/queries/k8s/service_account_key_file_not_properly_set/test/positive_expected_result.json
Labels: query, kubernetes

#5119 feat(query): Added Etcd TLS Certificate Not Properly Configured for Kubernetes
  assets/queries/k8s/etcd_tls_certificate_not_properly_configured/metadata.json
  assets/queries/k8s/etcd_tls_certificate_not_properly_configured/query.rego
  assets/queries/k8s/etcd_tls_certificate_not_properly_configured/test/negative1.yaml
  assets/queries/k8s/etcd_tls_certificate_not_properly_configured/test/negative2.yaml
  assets/queries/k8s/etcd_tls_certificate_not_properly_configured/test/positive1.yaml
  assets/queries/k8s/etcd_tls_certificate_not_properly_configured/test/positive2.yaml
  assets/queries/k8s/etcd_tls_certificate_not_properly_configured/test/positive_expected_result.json
Labels: query, kubernetes

#5154 Feat(Query): Default Seccomp Profile Disabled for docker compose
  assets/queries/dockerCompose/default_seccomp_profile_disabled/metadata.json
  assets/queries/dockerCompose/default_seccomp_profile_disabled/query.rego
  assets/queries/dockerCompose/default_seccomp_profile_disabled/test/negative1.yaml
  assets/queries/dockerCompose/default_seccomp_profile_disabled/test/positive1.yaml
  assets/queries/dockerCompose/default_seccomp_profile_disabled/test/positive2.yaml
  assets/queries/dockerCompose/default_seccomp_profile_disabled/test/positive_expected_result.json
Labels: query, docker_compose

#5164 Feat(Query): Networks Not Set for docker compose
  assets/queries/dockerCompose/networks_not_set/metadata.json
  assets/queries/dockerCompose/networks_not_set/query.rego
  assets/queries/dockerCompose/networks_not_set/test/negative1.yaml
  assets/queries/dockerCompose/networks_not_set/test/positive1.yaml
  assets/queries/dockerCompose/networks_not_set/test/positive2.yaml
  assets/queries/dockerCompose/networks_not_set/test/positive_expected_result.json
Labels: query, docker_compose

#5166 Feat(Query): Docker Socket Mounted In Container for docker compose
  assets/queries/dockerCompose/docker_socket_mounted_in_container/metadata.json
  assets/queries/dockerCompose/docker_socket_mounted_in_container/query.rego
  assets/queries/dockerCompose/docker_socket_mounted_in_container/test/negative1.yaml
  assets/queries/dockerCompose/docker_socket_mounted_in_container/test/positive1.yaml
  assets/queries/dockerCompose/docker_socket_mounted_in_container/test/positive_expected_result.json
Labels: query, docker_compose

#5174 update(query): Viewer Protocol Policy Allows HTTP
  assets/queries/cloudFormation/aws/viewer_protocol_policy_allows_http/query.rego
  assets/queries/cloudFormation/aws/viewer_protocol_policy_allows_http/test/negative3.yaml
Labels: query, cloudformation, aws

#5138 update(docs): updated release, integrations, and results documentation
  docs/integrations.md
  docs/integrations_codefresh.md
  docs/integrations_tfcloud.md
  docs/release_checklist.md
  docs/results.md
  docs/utilities.md
  go.mod
  go.sum
  mkdocs.yml
  pkg/engine/inspector.go
  pkg/engine/source/filesystem.go
Labels: documentation

#5077 delete(query): Remove false positive host_aliases_undefined_or_empty k8s rule
  assets/queries/k8s/host_aliases_undefined_or_empty/metadata.json
  assets/queries/k8s/host_aliases_undefined_or_empty/query.rego
  assets/queries/k8s/host_aliases_undefined_or_empty/test/negative.yaml
  assets/queries/k8s/host_aliases_undefined_or_empty/test/positive.yaml
  assets/queries/k8s/host_aliases_undefined_or_empty/test/positive_expected_result.json
  assets/queries/terraform/kubernetes/host_aliases_undefined_or_empty/metadata.json
  assets/queries/terraform/kubernetes/host_aliases_undefined_or_empty/query.rego
  assets/queries/terraform/kubernetes/host_aliases_undefined_or_empty/test/negative.tf
  assets/queries/terraform/kubernetes/host_aliases_undefined_or_empty/test/positive.tf
  assets/queries/terraform/kubernetes/host_aliases_undefined_or_empty/test/positive_expected_result.json
Labels: query, community

#5211 bug: Remove viewer from list of improper privileges
  assets/queries/terraform/gcp/service_account_with_improper_privileges/query.rego
  assets/queries/terraform/gcp/service_account_with_improper_privileges/test/negative3.tf
Labels: community

#5208 Fix(Query): Added possibility of security group being declared as a variable
  assets/queries/terraform/aws/security_groups_not_used/query.rego
  assets/queries/terraform/aws/security_groups_not_used/test/negative4.tf
Labels: aws, accuracy

#5201 fix(query): extended scope of MissingAttribute rule in seccomp k8s rule
  assets/queries/k8s/seccomp_profile_is_not_configured/metadata.json
  assets/queries/k8s/seccomp_profile_is_not_configured/query.rego
  assets/queries/k8s/seccomp_profile_is_not_configured/test/positive_expected_result.json
Labels: community

#5199 fix(query): fixed searchKey and resource kind in pod_or_container_without_resource_quota k8s rule
  assets/queries/k8s/pod_or_container_without_resource_quota/metadata.json
  assets/queries/k8s/pod_or_container_without_resource_quota/query.rego
  assets/queries/k8s/pod_or_container_without_resource_quota/test/positive4.yaml
  assets/queries/k8s/pod_or_container_without_resource_quota/test/positive_expected_result.json
Labels: community

#5198 fix(query): fixed searchKey and resource kind in pod_or_container_without_limit_range k8s rule
  assets/queries/k8s/pod_or_container_without_limit_range/metadata.json
  assets/queries/k8s/pod_or_container_without_limit_range/query.rego
  assets/queries/k8s/pod_or_container_without_limit_range/test/positive4.yaml
  assets/queries/k8s/pod_or_container_without_limit_range/test/positive_expected_result.json
Labels: community

#5196 fix(query): added support for aws_iam_policy_document.Principals to policy_without_principal tf rule
  assets/queries/terraform/aws/policy_without_principal/query.rego
  assets/queries/terraform/aws/policy_without_principal/test/negative3.tf
Labels: community

#5210 update/fix(query): SNS Topic is Publicly Accessible
  assets/queries/cloudFormation/aws/dynamodb_with_aws_owned_cmk/query.rego
  assets/queries/cloudFormation/aws/dynamodb_with_aws_owned_cmk/test/positive2.yaml
  assets/queries/cloudFormation/aws/dynamodb_with_aws_owned_cmk/test/positive6.json
  assets/queries/cloudFormation/aws/dynamodb_with_aws_owned_cmk/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/open_access_to_resources_through_api/metadata.json
  assets/queries/cloudFormation/aws/open_access_to_resources_through_api/query.rego
  assets/queries/cloudFormation/aws/open_access_to_resources_through_api/test/negative1.yaml
  assets/queries/cloudFormation/aws/open_access_to_resources_through_api/test/negative2.json
  assets/queries/cloudFormation/aws/open_access_to_resources_through_api/test/positive1.yaml
  assets/queries/cloudFormation/aws/open_access_to_resources_through_api/test/positive2.json
  assets/queries/cloudFormation/aws/open_access_to_resources_through_api/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/sns_topic_is_publicly_accessible_for_subscription/query.rego
  assets/queries/cloudFormation/aws/sns_topic_is_publicly_accessible_for_subscription/test/negative3.json
  assets/queries/cloudFormation/aws/sns_topic_is_publicly_accessible_for_subscription/test/negative4.yaml
  assets/queries/terraform/aws/open_access_to_resources_through_api/metadata.json
  assets/queries/terraform/aws/open_access_to_resources_through_api/query.rego
  assets/queries/terraform/aws/open_access_to_resources_through_api/test/negative.tf
  assets/queries/terraform/aws/open_access_to_resources_through_api/test/positive.tf
  assets/queries/terraform/aws/open_access_to_resources_through_api/test/positive_expected_result.json
Labels: query, cloudformation, terraform

#5223 update(docs): updated missing technologies supported in docs
  docs/cdk.md
  docs/platforms.md
  mkdocs.yml
Labels: documentation

#5226 update(docs): updated missing technologies supported logs in docs
  README.md
  docs/img/logo-dockercompose.png
  docs/index.md
  mkdocs.yml
Labels: documentation

#5227 fix(query): Api Gateway Without Content Encoding on Terraform platform
  assets/queries/terraform/aws/api_gateway_with_invalid_compression/metadata.json
  assets/queries/terraform/aws/api_gateway_with_invalid_compression/query.rego
  assets/queries/terraform/aws/api_gateway_with_invalid_compression/test/negative.tf
  assets/queries/terraform/aws/api_gateway_with_invalid_compression/test/positive.tf
  assets/queries/terraform/aws/api_gateway_with_invalid_compression/test/positive_expected_result.json
  assets/queries/terraform/aws/api_gateway_without_content_encoding/test/positive_expected_result.json
Labels: query

#5233 update(query): Updated metadata of Add Instead Copy query
  assets/queries/dockerfile/add_instead_of_copy/metadata.json
  assets/queries/dockerfile/add_instead_of_copy/test/positive_expected_result.json
Labels: query

#5222 refactor(analyzer): analyzer usage when types flag is passed
  assets/queries/terraform/azure/network_interfaces_dont_use_public_ip/metadata.json
  docs/creating-queries.md
  docs/release_checklist.md
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  pkg/engine/provider/filesystem.go
  pkg/engine/provider/filesystem_test.go
  pkg/scan/utils.go
Labels: go

#5225 update(docs): Removed -q flag from integration examples
  docs/integrations_bitbucketpipelines.md
  docs/integrations_gitlabci.md
  docs/integrations_jenkins.md
Labels: documentation

#5212 fix(query): ALB Listening on HTTP for AWS CloudFormation
  assets/queries/cloudFormation/aws/alb_listening_on_http/query.rego
  assets/queries/cloudFormation/aws/alb_listening_on_http/test/positive3.yaml
  assets/queries/cloudFormation/aws/alb_listening_on_http/test/positive_expected_result.json
  e2e/fixtures/E2E_CLI_032_RESULT.json
  e2e/fixtures/E2E_CLI_036_RESULT.json
Labels: query, cloudformation, aws

#5232 Feat(Query): OSS Bucket Allows Delete From All Principals for Alicloud Terraform
  assets/libraries/terraform.rego
  assets/queries/terraform/alicloud/oss_bucket_allows_delete_from_all_principals/metadata.json
  assets/queries/terraform/alicloud/oss_bucket_allows_delete_from_all_principals/query.rego
  assets/queries/terraform/alicloud/oss_bucket_allows_delete_from_all_principals/test/negative1.tf
  assets/queries/terraform/alicloud/oss_bucket_allows_delete_from_all_principals/test/negative2.tf
  assets/queries/terraform/alicloud/oss_bucket_allows_delete_from_all_principals/test/negative3.tf
  assets/queries/terraform/alicloud/oss_bucket_allows_delete_from_all_principals/test/positive1.tf
  assets/queries/terraform/alicloud/oss_bucket_allows_delete_from_all_principals/test/positive_expected_result.json
Labels: query, terraform, alicloud

#5195 fix(query): updated ecr_repositories_not_encrypted TF rule to match KMS encryption
  assets/queries/terraform/aws/ecr_repository_not_encrypted/metadata.json
  assets/queries/terraform/aws/ecr_repository_not_encrypted/query.rego
  assets/queries/terraform/aws/ecr_repository_not_encrypted/test/positive.tf
  assets/queries/terraform/aws/ecr_repository_not_encrypted/test/positive_expected_result.json
Labels: community

#5251 feat(query): Added DB Instance Publicly Accessible for Terraform Alicloud
  assets/queries/terraform/alicloud/db_instance_publicly_accessible/metadata.json
  assets/queries/terraform/alicloud/db_instance_publicly_accessible/query.rego
  assets/queries/terraform/alicloud/db_instance_publicly_accessible/test/negative1.tf
  assets/queries/terraform/alicloud/db_instance_publicly_accessible/test/negative2.tf
  assets/queries/terraform/alicloud/db_instance_publicly_accessible/test/positive1.tf
  assets/queries/terraform/alicloud/db_instance_publicly_accessible/test/positive_expected_result.json
Labels: query, terraform, alicloud

#5255 fix(yaml parser): added model.NewIgnore.Reset() at the beginning of the YAML parser
  pkg/parser/yaml/parser.go
Labels: go

#5249 feat(query): Added NAS File System Not Encrypted for Terraform Alicloud
  assets/queries/terraform/alicloud/nas_file_system_not_encrypted/metadata.json
  assets/queries/terraform/alicloud/nas_file_system_not_encrypted/query.rego
  assets/queries/terraform/alicloud/nas_file_system_not_encrypted/test/negative.tf
  assets/queries/terraform/alicloud/nas_file_system_not_encrypted/test/negative2.tf
  assets/queries/terraform/alicloud/nas_file_system_not_encrypted/test/positive.tf
  assets/queries/terraform/alicloud/nas_file_system_not_encrypted/test/positive2.tf
  assets/queries/terraform/alicloud/nas_file_system_not_encrypted/test/positive_expected_result.json
Labels: query, terraform, alicloud

#5237 feat(query): Added Using Kubernetes Native Secret Management for Kubernetes
  .github/workflows/validate-k8s-samples.yml
  assets/queries/k8s/using_kubernetes_native_secret_management/metadata.json
  assets/queries/k8s/using_kubernetes_native_secret_management/query.rego
  assets/queries/k8s/using_kubernetes_native_secret_management/test/negative1.yaml
  assets/queries/k8s/using_kubernetes_native_secret_management/test/negative2.yaml
  assets/queries/k8s/using_kubernetes_native_secret_management/test/positive1.yaml
  assets/queries/k8s/using_kubernetes_native_secret_management/test/positive_expected_result.json
Labels: query, kubernetes

#5248 feat(query): Added NAS File System Without KMS for Alicloud
  assets/queries/terraform/alicloud/nas_file_system_without_kms/metadata.json
  assets/queries/terraform/alicloud/nas_file_system_without_kms/query.rego
  assets/queries/terraform/alicloud/nas_file_system_without_kms/test/negative.tf
  assets/queries/terraform/alicloud/nas_file_system_without_kms/test/positive.tf
  assets/queries/terraform/alicloud/nas_file_system_without_kms/test/positive2.tf
  assets/queries/terraform/alicloud/nas_file_system_without_kms/test/positive_expected_result.json
Labels: query, terraform, alicloud

#5252 Feat(Query): OSS Bucket Has Static Website for Alicloud Terraform
  assets/queries/terraform/alicloud/oss_bucket_has_static_website/metadata.json
  assets/queries/terraform/alicloud/oss_bucket_has_static_website/query.rego
  assets/queries/terraform/alicloud/oss_bucket_has_static_website/test/negative1.tf
  assets/queries/terraform/alicloud/oss_bucket_has_static_website/test/positive1.tf
  assets/queries/terraform/alicloud/oss_bucket_has_static_website/test/positive_expected_result.json
  assets/queries/terraform/aws/s3_static_website_host_enabled/metadata.json
Labels: query, terraform, alicloud

#5253 feat(query): Added VPC Flow Logs Disabled for Terraform Alicloud
  assets/queries/terraform/alicloud/vpc_flow_logs_disabled/metadata.json
  assets/queries/terraform/alicloud/vpc_flow_logs_disabled/query.rego
  assets/queries/terraform/alicloud/vpc_flow_logs_disabled/test/negative1.tf
  assets/queries/terraform/alicloud/vpc_flow_logs_disabled/test/positive1.tf
  assets/queries/terraform/alicloud/vpc_flow_logs_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/vpc_flowlogs_disabled/metadata.json
Labels: query, terraform, alicloud

#5258 feat(query): ROS Stack Retention Disabled for Terraform Alicloud
  assets/queries/terraform/alicloud/ros_stack_retention_disabled/metadata.json
  assets/queries/terraform/alicloud/ros_stack_retention_disabled/query.rego
  assets/queries/terraform/alicloud/ros_stack_retention_disabled/test/negative.tf
  assets/queries/terraform/alicloud/ros_stack_retention_disabled/test/positive.tf
  assets/queries/terraform/alicloud/ros_stack_retention_disabled/test/positive2.tf
  assets/queries/terraform/alicloud/ros_stack_retention_disabled/test/positive_expected_result.json
Labels: query, terraform, alicloud

#5260 feat(query): Added ROS Stack Notifications Disabled for Terraform Alicloud
  assets/queries/terraform/alicloud/ros_stack_notifications_disabled/metadata.json
  assets/queries/terraform/alicloud/ros_stack_notifications_disabled/query.rego
  assets/queries/terraform/alicloud/ros_stack_notifications_disabled/test/negative.tf
  assets/queries/terraform/alicloud/ros_stack_notifications_disabled/test/positive.tf
  assets/queries/terraform/alicloud/ros_stack_notifications_disabled/test/positive2.tf
  assets/queries/terraform/alicloud/ros_stack_notifications_disabled/test/positive_expected_result.json
Labels: query, terraform, alicloud

#5263 feay(query): Added High KMS Key Rotation Period in Alicloud Terraform
  assets/queries/terraform/alicloud/high_kms_key_rotation_period/metadata.json
  assets/queries/terraform/alicloud/high_kms_key_rotation_period/query.rego
  assets/queries/terraform/alicloud/high_kms_key_rotation_period/test/negative1.tf
  assets/queries/terraform/alicloud/high_kms_key_rotation_period/test/positive.tf
  assets/queries/terraform/alicloud/high_kms_key_rotation_period/test/positive2.tf
  assets/queries/terraform/alicloud/high_kms_key_rotation_period/test/positive3.tf
  assets/queries/terraform/alicloud/high_kms_key_rotation_period/test/positive4.tf
  assets/queries/terraform/alicloud/high_kms_key_rotation_period/test/positive_expected_result.json
Labels: query, terraform, alicloud

#5273 Feat(Query): CS Kubernetes Node Pool Auto Repair Disabled for Alicloud Terraform
  assets/queries/ansible/gcp/google_container_node_pool_auto_repair_disabled/metadata.json
  assets/queries/terraform/alicloud/cs_kubernetes_node_pool_auto_repair_disabled/metadata.json
  assets/queries/terraform/alicloud/cs_kubernetes_node_pool_auto_repair_disabled/query.rego
  assets/queries/terraform/alicloud/cs_kubernetes_node_pool_auto_repair_disabled/test/negative1.tf
  assets/queries/terraform/alicloud/cs_kubernetes_node_pool_auto_repair_disabled/test/positive1.tf
  assets/queries/terraform/alicloud/cs_kubernetes_node_pool_auto_repair_disabled/test/positive2.tf
  assets/queries/terraform/alicloud/cs_kubernetes_node_pool_auto_repair_disabled/test/positive3.tf
  assets/queries/terraform/alicloud/cs_kubernetes_node_pool_auto_repair_disabled/test/positive_expected_result.json
  assets/queries/terraform/gcp/google_container_node_pool_auto_repair_disabled/metadata.json
Labels: query, terraform, alicloud

#5254 Feat(Query): Log Retention Is Not Greater Than 90 Days for Alicloud Terraform
  assets/queries/terraform/alicloud/log_retention_is_not_greater_than_90_days/metadata.json
  assets/queries/terraform/alicloud/log_retention_is_not_greater_than_90_days/query.rego
  assets/queries/terraform/alicloud/log_retention_is_not_greater_than_90_days/test/negative1.tf
  assets/queries/terraform/alicloud/log_retention_is_not_greater_than_90_days/test/positive1.tf
  assets/queries/terraform/alicloud/log_retention_is_not_greater_than_90_days/test/positive2.tf
  assets/queries/terraform/alicloud/log_retention_is_not_greater_than_90_days/test/positive_expected_result.json
Labels: query, terraform, alicloud

#5259 feat(query): Added No ROS Stack Policy for Terraform Alicloud
  assets/queries/terraform/alicloud/no_ros_stack_policy/metadata.json
  assets/queries/terraform/alicloud/no_ros_stack_policy/query.rego
  assets/queries/terraform/alicloud/no_ros_stack_policy/test/negative.tf
  assets/queries/terraform/alicloud/no_ros_stack_policy/test/negative2.tf
  assets/queries/terraform/alicloud/no_ros_stack_policy/test/positive.tf
  assets/queries/terraform/alicloud/no_ros_stack_policy/test/positive2.tf
  assets/queries/terraform/alicloud/no_ros_stack_policy/test/positive3.tf
  assets/queries/terraform/alicloud/no_ros_stack_policy/test/positive_expected_result.json
Labels: query, terraform, alicloud

#5275 update(query): OSS Bucket Logging Disabled for Terraform Alicloud
  assets/queries/terraform/alicloud/oss_bucket_logging_disabled/query.rego
  assets/queries/terraform/alicloud/oss_bucket_logging_disabled/test/positive2.tf
  assets/queries/terraform/alicloud/oss_bucket_logging_disabled/test/positive_expected_result.json
Labels: query, terraform, alicloud

#5197 fix(query): adjust severity of iam_access_analyzer_undefined rule to LOW
  assets/queries/cloudFormation/aws/iam_access_analyzer_not_enabled/metadata.json
  assets/queries/cloudFormation/aws/iam_access_analyzer_not_enabled/query.rego
  assets/queries/cloudFormation/aws/iam_access_analyzer_not_enabled/test/file.json
  assets/queries/cloudFormation/aws/iam_access_analyzer_not_enabled/test/negative1.yaml
  assets/queries/cloudFormation/aws/iam_access_analyzer_not_enabled/test/positive1.yaml
  assets/queries/cloudFormation/aws/iam_access_analyzer_not_enabled/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/iam_access_analyzer_undefined/test/positive_expected_result.json
  assets/queries/terraform/aws/iam_access_analyzer_not_enabled/metadata.json
  assets/queries/terraform/aws/iam_access_analyzer_not_enabled/query.rego
  assets/queries/terraform/aws/iam_access_analyzer_not_enabled/test/negative.tf
  assets/queries/terraform/aws/iam_access_analyzer_not_enabled/test/positive.tf
  assets/queries/terraform/aws/iam_access_analyzer_not_enabled/test/positive_expected_result.json
  assets/queries/terraform/aws/iam_access_analyzer_undefined/test/positive_expected_result.json
  e2e/fixtures/E2E_CLI_031_RESULT.html
  e2e/fixtures/E2E_CLI_032_RESULT.json
  e2e/fixtures/E2E_CLI_033_RESULT.json
  e2e/fixtures/E2E_CLI_040_RESULT.html
  e2e/testcases/e2e-cli-018_scan_exclude-categories.go
Labels: community

#5176 update(query): Apt Get Install Pin Version Not Defined
  assets/libraries/dockerfile.rego
  assets/queries/dockerfile/apk_add_using_local_cache_path/query.rego
  assets/queries/dockerfile/apk_add_using_local_cache_path/test/negative2.dockerfile
  assets/queries/dockerfile/apk_add_using_local_cache_path/test/positive2.dockerfile
  assets/queries/dockerfile/apk_add_using_local_cache_path/test/positive_expected_result.json
  assets/queries/dockerfile/apt_get_install_lists_were_not_deleted/query.rego
  assets/queries/dockerfile/apt_get_install_lists_were_not_deleted/test/negative2.dockerfile
  assets/queries/dockerfile/apt_get_install_lists_were_not_deleted/test/positive2.dockerfile
  assets/queries/dockerfile/apt_get_install_lists_were_not_deleted/test/positive_expected_result.json
  assets/queries/dockerfile/apt_get_install_pin_version_not_defined/test/negative2.dockerfile
  assets/queries/dockerfile/apt_get_install_pin_version_not_defined/test/positive2.dockerfile
  assets/queries/dockerfile/apt_get_install_pin_version_not_defined/test/positive_expected_result.json
  assets/queries/dockerfile/apt_get_missing_yes_flag_to_avoid_manual_input/query.rego
  assets/queries/dockerfile/apt_get_not_avoiding_additional_packages/query.rego
  assets/queries/dockerfile/missing_flag_from_dnf_install/query.rego
  assets/queries/dockerfile/missing_flag_from_dnf_install/test/negative2.dockerfile
  assets/queries/dockerfile/missing_flag_from_dnf_install/test/positive2.dockerfile
  assets/queries/dockerfile/missing_flag_from_dnf_install/test/positive_expected_result.json
  assets/queries/dockerfile/pip_install_keeping_cached_packages/query.rego
  assets/queries/dockerfile/run_using_sudo/query.rego
  assets/queries/dockerfile/run_using_wget_and_curl/query.rego
Labels: query, docker

#5265 fix(query): fixed searchKey rbac_roles_with_read_secrets_permissions …
  assets/queries/k8s/rbac_roles_with_read_secrets_permissions/metadata.json
  assets/queries/k8s/rbac_roles_with_read_secrets_permissions/query.rego
  assets/queries/k8s/rbac_roles_with_read_secrets_permissions/test/positive_expected_result.json
Labels: community

#5279 Update(Query): Updated query descriptions for ECR Image Not Immutable Queries
  assets/queries/ansible/aws/ecr_image_tag_not_immutable/metadata.json
  assets/queries/terraform/aws/ecr_image_tag_not_immutable/metadata.json
Labels: enhancement, aws

#5271 feat(query): Added SLB Policy With Insecure TLS Version In Use for Terraform Alicloud
  assets/queries/terraform/alicloud/slb_policy_with_insecure_tls_version_in_use/metadata.json
  assets/queries/terraform/alicloud/slb_policy_with_insecure_tls_version_in_use/query.rego
  assets/queries/terraform/alicloud/slb_policy_with_insecure_tls_version_in_use/test/negative.tf
  assets/queries/terraform/alicloud/slb_policy_with_insecure_tls_version_in_use/test/positive.tf
  assets/queries/terraform/alicloud/slb_policy_with_insecure_tls_version_in_use/test/positive_expected_result.json
Labels: query, terraform, alicloud

#5280 Feat(Query): CMK Is Unusable for Alicloud Terraform
  assets/queries/terraform/alicloud/cmk_is_unusable/metadata.json
  assets/queries/terraform/alicloud/cmk_is_unusable/query.rego
  assets/queries/terraform/alicloud/cmk_is_unusable/test/negative1.tf
  assets/queries/terraform/alicloud/cmk_is_unusable/test/positive1.tf
  assets/queries/terraform/alicloud/cmk_is_unusable/test/positive2.tf
  assets/queries/terraform/alicloud/cmk_is_unusable/test/positive_expected_result.json
Labels: query, terraform, alicloud
