Repository Checkmarx/kics, pull requests merged in 2022-10, with the labels that each got.

#5863 fix(query): correct GCP KMS crypto key rotation period queries + descriptions
  assets/queries/ansible/gcp/high_google_kms_crypto_key_rotation_period/metadata.json
  assets/queries/ansible/gcp/high_google_kms_crypto_key_rotation_period/query.rego
  assets/queries/ansible/gcp/high_google_kms_crypto_key_rotation_period/test/negative.yaml
  assets/queries/ansible/gcp/high_google_kms_crypto_key_rotation_period/test/positive.yaml
  assets/queries/terraform/gcp/high_google_kms_crypto_key_rotation_period/metadata.json
  assets/queries/terraform/gcp/high_google_kms_crypto_key_rotation_period/query.rego
Labels: query, community

#5846 fix(query): terraform/aws/iam_access_key_is_exposed
  assets/queries/terraform/aws/iam_access_key_is_exposed/metadata.json
  assets/queries/terraform/aws/iam_access_key_is_exposed/query.rego
  assets/queries/terraform/aws/iam_access_key_is_exposed/test/negative.tf
  assets/queries/terraform/aws/iam_access_key_is_exposed/test/positive.tf
Labels: query, community

#5901 feat(query): drop `Configuration Aggregator to All Regions Disabled Security` severity to MEDIUM
  assets/queries/ansible/aws/config_configuration_aggregator_to_all_regions_disabled/metadata.json
  assets/queries/ansible/aws/config_configuration_aggregator_to_all_regions_disabled/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/config_configuration_aggregator_to_all_regions_disabled/metadata.json
  assets/queries/cloudFormation/aws/config_configuration_aggregator_to_all_regions_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/config_configuration_aggregator_to_all_regions_disabled/metadata.json
  assets/queries/terraform/aws/config_configuration_aggregator_to_all_regions_disabled/test/positive_expected_result.json
  docs/queries/all-queries.md
  docs/queries/ansible-queries.md
  docs/queries/cloudformation-queries.md
  docs/queries/terraform-queries.md
Labels: query, community, hacktoberfest

#5900 feat(query): reduce NET_RAW capability not being dropped severity to MEDIUM
  assets/queries/k8s/net_raw_capabilities_not_being_dropped/metadata.json
  assets/queries/k8s/net_raw_capabilities_not_being_dropped/test/positive_expected_result.json
  assets/queries/terraform/kubernetes/net_raw_capabilities_not_being_dropped/metadata.json
  assets/queries/terraform/kubernetes/net_raw_capabilities_not_being_dropped/test/positive_expected_result.json
  docs/queries/all-queries.md
  docs/queries/kubernetes-queries.md
Labels: query, community, hacktoberfest

#5903 fix(query): fix false positive in aws_instance
  assets/queries/terraform/aws/ec2_instance_using_api_keys/query.rego
  assets/queries/terraform/aws/ec2_instance_using_api_keys/test/negative3.tf
  assets/queries/terraform/aws/ec2_instance_using_api_keys/test/negative4.tf
Labels: query, community, hacktoberfest

#5864 fix(query): remove redundant and flawed GCP KMS key rotation query
  assets/queries/ansible/gcp/high_kms_rotation_period/metadata.json
  assets/queries/ansible/gcp/high_kms_rotation_period/query.rego
  assets/queries/ansible/gcp/high_kms_rotation_period/test/negative.yaml
  assets/queries/ansible/gcp/high_kms_rotation_period/test/positive.yaml
  assets/queries/ansible/gcp/high_kms_rotation_period/test/positive_expected_result.json
  assets/queries/terraform/gcp/high_kms_rotation_period/metadata.json
  assets/queries/terraform/gcp/high_kms_rotation_period/query.rego
  assets/queries/terraform/gcp/high_kms_rotation_period/test/negative.tf
  assets/queries/terraform/gcp/high_kms_rotation_period/test/positive.tf
  assets/queries/terraform/gcp/high_kms_rotation_period/test/positive_expected_result.json
Labels: query, community

#5912 Add community meetings schedule & link
  README.md
  docs/CONTRIBUTING.md
  docs/community.md
Labels: documentation

#5867 fix(query): cover additional deprecated API versions in k8s rule
  assets/queries/k8s/object_is_using_a_deprecated_api_version/metadata.json
  assets/queries/k8s/object_is_using_a_deprecated_api_version/query.rego
  assets/queries/k8s/object_is_using_a_deprecated_api_version/test/positive.yaml
  assets/queries/k8s/object_is_using_a_deprecated_api_version/test/positive_expected_result.json
Labels: query, community

#5856 feat(bom): bill of materials for rds in aws cloudformation
  assets/queries/cloudFormation/aws_bom/rds/metadata.json
  assets/queries/cloudFormation/aws_bom/rds/query.rego
  assets/queries/cloudFormation/aws_bom/rds/test/negative1.yaml
  assets/queries/cloudFormation/aws_bom/rds/test/positive1.json
  assets/queries/cloudFormation/aws_bom/rds/test/positive2.json
  assets/queries/cloudFormation/aws_bom/rds/test/positive3.json
  assets/queries/cloudFormation/aws_bom/rds/test/positive4.yaml
  assets/queries/cloudFormation/aws_bom/rds/test/positive5.yaml
  assets/queries/cloudFormation/aws_bom/rds/test/positive6.yaml
  assets/queries/cloudFormation/aws_bom/rds/test/positive_expected_result.json
  docs/bom.md
Labels: query, cloudformation, aws, BoM

#5843 feat(bom): bill of material rds for terraform
  assets/queries/terraform/aws_bom/rds/metadata.json
  assets/queries/terraform/aws_bom/rds/query.rego
  assets/queries/terraform/aws_bom/rds/test/negative1.tf
  assets/queries/terraform/aws_bom/rds/test/positive1.tf
  assets/queries/terraform/aws_bom/rds/test/positive_expected_result.json
  docs/bom.md
Labels: query, terraform, BoM

#5861 feat(bom): bill of materials for aws dynamodb
  assets/queries/cloudFormation/aws_bom/dynamo/metadata.json
  assets/queries/cloudFormation/aws_bom/dynamo/query.rego
  assets/queries/cloudFormation/aws_bom/dynamo/test/negative1.yaml
  assets/queries/cloudFormation/aws_bom/dynamo/test/positive1.yaml
  assets/queries/cloudFormation/aws_bom/dynamo/test/positive2.yaml
  assets/queries/cloudFormation/aws_bom/dynamo/test/positive3.yaml
  assets/queries/cloudFormation/aws_bom/dynamo/test/positive4.yaml
  assets/queries/cloudFormation/aws_bom/dynamo/test/positive_expected_result.json
  assets/queries/terraform/aws_bom/dynamo/metadata.json
  assets/queries/terraform/aws_bom/dynamo/query.rego
  assets/queries/terraform/aws_bom/dynamo/test/negative1.tf
  assets/queries/terraform/aws_bom/dynamo/test/positive1.tf
  assets/queries/terraform/aws_bom/dynamo/test/positive2.tf
  assets/queries/terraform/aws_bom/dynamo/test/positive3.tf
  assets/queries/terraform/aws_bom/dynamo/test/positive4.tf
  assets/queries/terraform/aws_bom/dynamo/test/positive_expected_result.json
  docs/bom.md
Labels: aws, BoM

#5943 fix(query): update CloudWatch Log Group Without KMS Security Query MetaData
  assets/queries/terraform/aws/cloudwatch_log_group_not_encrypted/metadata.json
  assets/queries/terraform/aws/cloudwatch_log_group_not_encrypted/test/positive_expected_result.json
Labels: query, terraform, aws

#5952 fix(query): readjusted "Memcached Disabled" to "Redis Disabled"
  assets/queries/terraform/aws/memcached_disabled/test/positive_expected_result.json
  assets/queries/terraform/aws/redis_disabled/metadata.json
  assets/queries/terraform/aws/redis_disabled/query.rego
  assets/queries/terraform/aws/redis_disabled/test/negative.tf
  assets/queries/terraform/aws/redis_disabled/test/positive.tf
  assets/queries/terraform/aws/redis_disabled/test/positive_expected_result.json
Labels: bug, query, terraform, aws

#5951 fix(query): improved regex to find AWS Access Key in assets/queries/terraform/aws/hardcoded_aws_access_key_in_lambda
  assets/queries/terraform/aws/hardcoded_aws_access_key_in_lambda/query.rego
  assets/queries/terraform/aws/hardcoded_aws_access_key_in_lambda/test/positive.tf
  assets/queries/terraform/aws/hardcoded_aws_access_key_in_lambda/test/positive_expected_result.json
Labels: bug, query, terraform, aws

#5949 fix(masked_secrets): Mask Secrets in All Vulnerability Preview
  e2e/fixtures/E2E_CLI_031_RESULT.html
  e2e/fixtures/E2E_CLI_032_RESULT.json
  e2e/fixtures/E2E_CLI_036_RESULT.json
  e2e/fixtures/E2E_CLI_036_RESULT_2.json
  e2e/fixtures/E2E_CLI_040_RESULT.html
  e2e/fixtures/samples/positive.yaml
  pkg/engine/secrets/inspector.go
  pkg/kics/service.go
Labels: bug, go

#5957 bump(deps): bump express, debug, and sentry-go
  .github/scripts/server-mock/package-lock.json
  .github/workflows/go-ci-integration.yml
  Dockerfile
  docker/Dockerfile.apispec
  go.mod
  go.sum
  internal/sentry/sentry.go
Labels: dependencies

#5962 bump(deps): express dependencies
  .github/scripts/server-mock/package-lock.json
Labels: dependencies

#5963 bump(deps): reverted debug and updated dependencies
  .github/scripts/server-mock/package-lock.json
Labels: dependencies

#5973 feat(query): added "Vulnerable OpenSSL Version" for Dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/metadata.json
  assets/queries/dockerfile/vulnerable_openssl_version/query.rego
  assets/queries/dockerfile/vulnerable_openssl_version/test/negative1.dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/test/negative2.dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/test/negative3.dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/test/negative4.dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/test/negative5.dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/test/negative6.dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/test/negative7.dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/test/positive1.dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/test/positive2.dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/test/positive3.dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/test/positive4.dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/test/positive5.dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/test/positive6.dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/test/positive7.dockerfile
  assets/queries/dockerfile/vulnerable_openssl_version/test/positive_expected_result.json
  pkg/parser/docker/parser.go
Labels: query, docker
