Repository Checkmarx/kics, pull requests merged in 2023-01, with the labels that each got.

#6063 bump(deps)
  go.mod
  go.sum
Labels: dependencies

#6061 update(docs): update docs logo size
  docs/css/custom.css
  docs/img/logo/Checkmarx_Kics_Logo_fit_to_content.png
  docs/img/logo/kics_new_logo_2022_dark.png
  docs/img/logo/kics_new_logo_2022_white.png
  mkdocs.yml
Labels: documentation

#6057 added check for RDS backup_retention_period default
  assets/libraries/common.rego
  assets/queries/terraform/aws/rds_with_backup_disabled/query.rego
  assets/queries/terraform/aws/rds_with_backup_disabled/test/positive3.tf
  assets/queries/terraform/aws/rds_with_backup_disabled/test/positive4.tf
  assets/queries/terraform/aws/rds_with_backup_disabled/test/positive_expected_result.json
Labels: query, terraform, accuracy

#6062 bump(go) go version 1.19
  .github/workflows/go-ci-coverage.yaml
  .github/workflows/go-ci.yml
  .github/workflows/go-e2e.yaml
  .github/workflows/go-test-race.yml
  .github/workflows/release-apispec.yml
  .github/workflows/release-commits.yaml
  .github/workflows/release-nightly.yml
  .github/workflows/release.yml
  .github/workflows/statistics.yaml
  docker/Dockerfile.ubi8
  e2e/testcases/e2e-cli-057_fix_all.go
  e2e/testcases/e2e-cli-058_fix_include_ids.go
  e2e/testcases/utils.go
  go.mod
  internal/console/remediate.go
  internal/console/scan.go
  internal/storage/memory_test.go
  pkg/builder/parser/tag/tag_parser_test.go
  pkg/builder/writer/rego.go
  pkg/descriptions/client.go
  pkg/engine/inspector_test.go
  pkg/engine/source/filesystem_test.go
  pkg/kics/service.go
  pkg/parser/terraform/converter/default_test.go
  pkg/resolver/helm/resolver_test.go
Labels: dependencies, go

#6047 fix(query): fix fp in azure instance using basic authentication
  assets/queries/azureResourceManager/azure_instance_using_basic_authentication/query.rego
  assets/queries/azureResourceManager/azure_instance_using_basic_authentication/test/negative5.json
Labels: bug, query, azure, arm

#6053 feat(arm): add checks for parametes with default values
  assets/libraries/azureresourcemanager.rego
  assets/queries/azureResourceManager/account_admins_not_notified_by_email/query.rego
  assets/queries/azureResourceManager/aks_cluster_rbac_disabled/query.rego
  assets/queries/azureResourceManager/aks_dashboard_enabled/query.rego
  assets/queries/azureResourceManager/aks_logging_azure_monitoring_disabled/query.rego
  assets/queries/azureResourceManager/app_service_authentication_not_set/query.rego
  assets/queries/azureResourceManager/azure_instance_using_basic_authentication/query.rego
  assets/queries/azureResourceManager/azure_managed_disk_without_encryption/query.rego
  assets/queries/azureResourceManager/email_notifications_set_off/query.rego
  assets/queries/azureResourceManager/key_vault_not_recoverable/query.rego
  assets/queries/azureResourceManager/log_profile_incorrect_category/query.rego
  assets/queries/azureResourceManager/mysql_server_ssl_enforcement_disabled/query.rego
  assets/queries/azureResourceManager/postgres_sql_database_server_connection_throttling_disabled/query.rego
  assets/queries/azureResourceManager/postgres_sql_server_log_checkpoint_disabled/query.rego
  assets/queries/azureResourceManager/postgres_sql_server_log_connections_disabled/query.rego
  assets/queries/azureResourceManager/postgres_sql_server_ssl_disabled/query.rego
  assets/queries/azureResourceManager/sql_server_database_with_low_retention_days/query.rego
  assets/queries/azureResourceManager/sql_server_database_without_auditing/query.rego
  assets/queries/azureResourceManager/standard_price_not_selected/query.rego
  assets/queries/azureResourceManager/standard_price_not_selected/test/negative3.json
  assets/queries/azureResourceManager/standard_price_not_selected/test/positive3.json
  assets/queries/azureResourceManager/standard_price_not_selected/test/positive_expected_result.json
  assets/queries/azureResourceManager/storage_account_allows_network_default_access/query.rego
  assets/queries/azureResourceManager/storage_account_allows_unsecure_transfer/query.rego
  assets/queries/azureResourceManager/storage_blob_service_container_with_public_access/query.rego
  assets/queries/azureResourceManager/trusted_microsoft_services_not_enabled/query.rego
  assets/queries/azureResourceManager/unrecommended_log_profile_retention_policy/query.rego
  assets/queries/azureResourceManager/unrecommended_network_watcher_flow_log_retention_policy/query.rego
  assets/queries/azureResourceManager/web_app_not_using_tls_last_version/query.rego
  assets/queries/azureResourceManager/website_not_forcing_https/query.rego
  assets/queries/azureResourceManager/website_with_client_certificate_auth_disabled/query.rego
  assets/queries/azureResourceManager/website_with_http20enabled_disabled/query.rego
Labels: bug, query, azure, arm

#6058 fix(query): update arm aks dashboard enabled security query default behavior
  assets/queries/azureResourceManager/aks_dashboard_enabled/query.rego
  assets/queries/azureResourceManager/aks_dashboard_enabled/test/negative3.json
  assets/queries/azureResourceManager/aks_dashboard_enabled/test/negative4.json
  assets/queries/azureResourceManager/aks_dashboard_enabled/test/positive2.json
  assets/queries/azureResourceManager/aks_dashboard_enabled/test/positive3.json
  assets/queries/azureResourceManager/aks_dashboard_enabled/test/positive_expected_result.json
Labels: bug, query, azure, arm

#6046 fix(merge_conflicts): fix merge conflicts in queries catalog
  docs/queries/all-queries.md
  docs/queries/ansible-queries.md
  docs/queries/azureresourcemanager-queries.md
  docs/queries/cloudformation-queries.md
  docs/queries/crossplane-queries.md
  docs/queries/dockercompose-queries.md
  docs/queries/dockerfile-queries.md
  docs/queries/googledeploymentmanager-queries.md
  docs/queries/kubernetes-queries.md
  docs/queries/openapi-queries.md
  docs/queries/pulumi-queries.md
  docs/queries/serverlessfw-queries.md
  docs/queries/terraform-queries.md
Labels: documentation

#6045 fix(bug): update metrics for get statistics github workflow
  .github/scripts/metrics/get_metrics.py
Labels: bug, github_actions

#6051 fix(passwords_and_secrets): add allow rules to fp results
  assets/queries/common/passwords_and_secrets/regex_rules.json
  assets/queries/common/passwords_and_secrets/test/negative49.yaml
  assets/queries/common/passwords_and_secrets/test/negative50.yaml
  assets/queries/common/passwords_and_secrets/test/negative51.yaml
  assets/queries/common/passwords_and_secrets/test/positive39.tf
  assets/queries/common/passwords_and_secrets/test/positive39.yaml
  assets/queries/common/passwords_and_secrets/test/positive40.tf
  assets/queries/common/passwords_and_secrets/test/positive41.tf
  assets/queries/common/passwords_and_secrets/test/positive42.tf
  assets/queries/common/passwords_and_secrets/test/positive_expected_result.json
  e2e/fixtures/E2E_CLI_031_RESULT.html
  e2e/fixtures/E2E_CLI_032_RESULT.json
  e2e/fixtures/E2E_CLI_040_RESULT.html
Labels: bug

#6111 fix(query): update query searchline to avoid duplicate similarity id
  assets/queries/k8s/service_account_allows_access_secrets/query.rego
  assets/queries/k8s/service_account_allows_access_secrets/test/positive.yaml
  assets/queries/k8s/service_account_allows_access_secrets/test/positive_expected_result.json
Labels: bug, query, kubernetes

#6118 feat(query): add password and secrets detection for sendgrid api key
  assets/queries/common/passwords_and_secrets/regex_rules.json
  assets/queries/common/passwords_and_secrets/test/positive25.dockerfile
  assets/queries/common/passwords_and_secrets/test/positive_expected_result.json
Labels: query

#6114 fix(e2e): update e2e test 44 description
  e2e/testcases/e2e-cli-044_scan_exclude-severities.go
Labels: tests

#6096 feat(query): add aws sso security queries support
  assets/queries/terraform/aws/iam_policies_with_full_privileges/query.rego
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/negative.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/positive.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/positive_expected_result.json
  assets/queries/terraform/aws/sso_permission_with_inadequate_user_session_duration/metadata.json
  assets/queries/terraform/aws/sso_permission_with_inadequate_user_session_duration/query.rego
  assets/queries/terraform/aws/sso_permission_with_inadequate_user_session_duration/test/negative.tf
  assets/queries/terraform/aws/sso_permission_with_inadequate_user_session_duration/test/positive.tf
  assets/queries/terraform/aws/sso_permission_with_inadequate_user_session_duration/test/positive_expected_result.json
  assets/queries/terraform/aws/sso_policy_with_full_priveleges copy/metadata.json
  assets/queries/terraform/aws/sso_policy_with_full_priveleges copy/query.rego
  assets/queries/terraform/aws/sso_policy_with_full_priveleges copy/test/negative.tf
  assets/queries/terraform/aws/sso_policy_with_full_priveleges copy/test/positive.tf
  assets/queries/terraform/aws/sso_policy_with_full_priveleges copy/test/positive_expected_result.json
  assets/queries/terraform/aws/sso_policy_with_full_priveleges/metadata.json
  assets/queries/terraform/aws/sso_policy_with_full_priveleges/query.rego
  assets/queries/terraform/aws/sso_policy_with_full_priveleges/test/negative.tf
  assets/queries/terraform/aws/sso_policy_with_full_priveleges/test/positive.tf
  assets/queries/terraform/aws/sso_policy_with_full_priveleges/test/positive_expected_result.json
Labels: feature, query, terraform, aws
