Repository Checkmarx/kics, pull requests merged in 2023-09, with the labels that each got.

#6683 fix(query): ca certificate identifier is outdated tf aws
  assets/queries/terraform/aws/ca_certificate_identifier_is_outdated/metadata.json
  assets/queries/terraform/aws/ca_certificate_identifier_is_outdated/query.rego
  assets/queries/terraform/aws/ca_certificate_identifier_is_outdated/test/negative3.tf
  assets/queries/terraform/aws/ca_certificate_identifier_is_outdated/test/negative4.tf
  assets/queries/terraform/aws/ca_certificate_identifier_is_outdated/test/negative5.tf
Labels: query, terraform, aws

#6664 feat(engine): added github workflows scan
  .github/scripts/queries-validator/metadata-schema.json
  assets/libraries/cicd.rego
  assets/queries/cicd/github/unpinned_actions_full_length_commit_sha/metadata.json
  assets/queries/cicd/github/unpinned_actions_full_length_commit_sha/query.rego
  assets/queries/cicd/github/unpinned_actions_full_length_commit_sha/test/negative.yaml
  assets/queries/cicd/github/unpinned_actions_full_length_commit_sha/test/negative2.yaml
  assets/queries/cicd/github/unpinned_actions_full_length_commit_sha/test/positive1.yaml
  assets/queries/cicd/github/unpinned_actions_full_length_commit_sha/test/positive_expected_result.json
  docs/commands.md
  docs/dockerhub.md
  docs/platforms.md
  e2e/fixtures/E2E_CLI_010
  e2e/fixtures/E2E_CLI_013
  e2e/fixtures/assets/scan_help
  e2e/fixtures/schemas/result-csv.json
  e2e/fixtures/schemas/result.json
  e2e/fixtures/schemas/resultBoM.json
  internal/constants/constants.go
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  pkg/engine/source/filesystem.go
  pkg/engine/source/filesystem_test.go
  pkg/parser/yaml/parser.go
  pkg/parser/yaml/parser_test.go
  test/fixtures/analyzer_test/github.yaml
  test/main_test.go
  test/similarity_id_test.go
Labels: feature, query

#6719 fix(query): dockercompose Host Namespace is Shared
  assets/queries/dockerCompose/host_namespace_is_shared/query.rego
Labels: query

#6626 feat(query): ansible config allow unsafe lookups
  assets/queries/ansible/config/allow_unsafe_lookups_enabled/metadata.json
  assets/queries/ansible/config/allow_unsafe_lookups_enabled/query.rego
  assets/queries/ansible/config/allow_unsafe_lookups_enabled/test/negative1.cfg
  assets/queries/ansible/config/allow_unsafe_lookups_enabled/test/negative2.cfg
  assets/queries/ansible/config/allow_unsafe_lookups_enabled/test/positive1.cfg
  assets/queries/ansible/config/allow_unsafe_lookups_enabled/test/positive_expected_result.json
  docs/creating-queries.md
  test/main_test.go
Labels: feature, query, ansible

#6687 feat(query): ansible playbooks communication over http
  assets/queries/ansible/general/communication_over_http/metadata.json
  assets/queries/ansible/general/communication_over_http/query.rego
  assets/queries/ansible/general/communication_over_http/test/negative1.yaml
  assets/queries/ansible/general/communication_over_http/test/positive1.yaml
  assets/queries/ansible/general/communication_over_http/test/positive_expected_result.json
  test/main_test.go
Labels: feature, query, ansible

#6726 feat(panic): add panic handler to terraform parser
  pkg/parser/terraform/terraform.go
  pkg/parser/terraform/terraform_test.go
Labels: feature request, terraform, community

#6627 feat(query): ansible config communication_over_http
  assets/queries/ansible/config/communication_over_http/metadata.json
  assets/queries/ansible/config/communication_over_http/query.rego
  assets/queries/ansible/config/communication_over_http/test/negative1.cfg
  assets/queries/ansible/config/communication_over_http/test/positive1.cfg
  assets/queries/ansible/config/communication_over_http/test/positive_expected_result.json
  pkg/parser/ansible/ini/config/parser.go
Labels: feature, query, ansible

#6628 feat(query): ansible config privilege_escalation_using_become_plugin
  assets/queries/ansible/config/privilege_escalation_using_become_plugin/metadata.json
  assets/queries/ansible/config/privilege_escalation_using_become_plugin/query.rego
  assets/queries/ansible/config/privilege_escalation_using_become_plugin/test/negative1.cfg
  assets/queries/ansible/config/privilege_escalation_using_become_plugin/test/negative2.cfg
  assets/queries/ansible/config/privilege_escalation_using_become_plugin/test/positive1.cfg
  assets/queries/ansible/config/privilege_escalation_using_become_plugin/test/positive2.cfg
  assets/queries/ansible/config/privilege_escalation_using_become_plugin/test/positive_expected_result.json
Labels: feature, query, ansible

#6697 feat(query): ansible config logging_of_sensitive_data
  assets/queries/ansible/config/logging_of_sensitive_data/metadata.json
  assets/queries/ansible/config/logging_of_sensitive_data/query.rego
  assets/queries/ansible/config/logging_of_sensitive_data/test/negative1.cfg
  assets/queries/ansible/config/logging_of_sensitive_data/test/positive1.cfg
  assets/queries/ansible/config/logging_of_sensitive_data/test/positive2.cfg
  assets/queries/ansible/config/logging_of_sensitive_data/test/positive_expected_result.json
Labels: feature, query, ansible

#6695 feat(query): ansible playbooks privilege escalation using become plugin
  assets/queries/ansible/general/privilege_escalation_using_become_plugin/metadata.json
  assets/queries/ansible/general/privilege_escalation_using_become_plugin/query.rego
  assets/queries/ansible/general/privilege_escalation_using_become_plugin/test/negative1.yaml
  assets/queries/ansible/general/privilege_escalation_using_become_plugin/test/positive1.yaml
  assets/queries/ansible/general/privilege_escalation_using_become_plugin/test/positive_expected_result.json
Labels: feature, query, ansible

#6693 feat(query): ansible playbooks Unpinned Package Version
  assets/libraries/ansible.rego
  assets/queries/ansible/general/unpinned_package_version/metadata.json
  assets/queries/ansible/general/unpinned_package_version/query.rego
  assets/queries/ansible/general/unpinned_package_version/test/negative1.yaml
  assets/queries/ansible/general/unpinned_package_version/test/positive1.yaml
  assets/queries/ansible/general/unpinned_package_version/test/positive_expected_result.json
Labels: feature, query, ansible

#6705 feat(query): ansible playbooks Insecure Relative Path Resolution
  assets/queries/ansible/general/insecure_relative_path_resolution/metadata.json
  assets/queries/ansible/general/insecure_relative_path_resolution/query.rego
  assets/queries/ansible/general/insecure_relative_path_resolution/test/negative1.yaml
  assets/queries/ansible/general/insecure_relative_path_resolution/test/positive1.yaml
  assets/queries/ansible/general/insecure_relative_path_resolution/test/positive_expected_result.json
Labels: feature, query, ansible

#6700 feat(query): ansible playbooks Logging of Sensitive Data
  assets/queries/ansible/general/logging_of_sensitive_data/metadata.json
  assets/queries/ansible/general/logging_of_sensitive_data/query.rego
  assets/queries/ansible/general/logging_of_sensitive_data/test/negative1.yaml
  assets/queries/ansible/general/logging_of_sensitive_data/test/positive1.yaml
  assets/queries/ansible/general/logging_of_sensitive_data/test/positive2.yaml
  assets/queries/ansible/general/logging_of_sensitive_data/test/positive_expected_result.json
Labels: feature, query, ansible

#6694 feat(query): ansible playbooks risky file permissions
  assets/queries/ansible/general/risky_file_permissions/metadata.json
  assets/queries/ansible/general/risky_file_permissions/query.rego
  assets/queries/ansible/general/risky_file_permissions/test/negative1.yaml
  assets/queries/ansible/general/risky_file_permissions/test/positive1.yaml
  assets/queries/ansible/general/risky_file_permissions/test/positive_expected_result.json
Labels: feature, query, ansible

#6740 update(doc): adding aws cdk integration
  docs/integrations.md
  docs/integrations_aws_cdk.md
  mkdocs.yml
Labels: aws

#6701 fix(security): critical CVEs in terraform and terraform-provider-azurerm
  Dockerfile
Labels: terraform, community

#6614 feat(engine): experimental features queries scan
  Dockerfile
  assets/utils/experimental-queries.json
  docs/commands.md
  docs/dockerhub.md
  e2e/fixtures/assets/scan_help
  internal/console/assets/scan-flags.json
  internal/console/flags/scan_flags.go
  internal/console/helpers/helpers.go
  internal/console/scan.go
  pkg/engine/inspector_test.go
  pkg/engine/source/filesystem.go
  pkg/engine/source/filesystem_test.go
  pkg/engine/source/source.go
  pkg/remediation/scan.go
  pkg/scan/client.go
  pkg/scan/scan.go
  pkg/scanner/scanner_test.go
  test/fixtures/test_experimental_queries/experimental_queries_feature/experimental.yaml
  test/fixtures/test_experimental_queries/experimental_queries_queries/experimental/test/metadata.json
  test/fixtures/test_experimental_queries/experimental_queries_queries/experimental/test/query.rego
  test/fixtures/test_experimental_queries/experimental_queries_queries/tested/tested_query/metadata.json
  test/fixtures/test_experimental_queries/experimental_queries_queries/tested/tested_query/query.rego
  test/fixtures/test_experimental_queries/utils/experimental-queries.json
Labels: feature, query

#6744 feat(query): github workflows script injection query
  assets/queries/cicd/github/script_block_injection/metadata.json
  assets/queries/cicd/github/script_block_injection/query.rego
  assets/queries/cicd/github/script_block_injection/test/negative1.yaml
  assets/queries/cicd/github/script_block_injection/test/negative2.yaml
  assets/queries/cicd/github/script_block_injection/test/negative3.yaml
  assets/queries/cicd/github/script_block_injection/test/negative4.yaml
  assets/queries/cicd/github/script_block_injection/test/negative5.yaml
  assets/queries/cicd/github/script_block_injection/test/negative6.yaml
  assets/queries/cicd/github/script_block_injection/test/negative7.yaml
  assets/queries/cicd/github/script_block_injection/test/positive1.yaml
  assets/queries/cicd/github/script_block_injection/test/positive2.yaml
  assets/queries/cicd/github/script_block_injection/test/positive3.yaml
  assets/queries/cicd/github/script_block_injection/test/positive4.yaml
  assets/queries/cicd/github/script_block_injection/test/positive5.yaml
  assets/queries/cicd/github/script_block_injection/test/positive6.yaml
  assets/queries/cicd/github/script_block_injection/test/positive7.yaml
  assets/queries/cicd/github/script_block_injection/test/positive_expected_result.json
  test/queries_content_test.go
Labels: feature, query

#6720 feat(query): added cicd github query unsecured commands
  assets/queries/cicd/github/unsecured_commands/metadata.json
  assets/queries/cicd/github/unsecured_commands/query.rego
  assets/queries/cicd/github/unsecured_commands/test/negative.yaml
  assets/queries/cicd/github/unsecured_commands/test/positive1.yaml
  assets/queries/cicd/github/unsecured_commands/test/positive2.yaml
  assets/queries/cicd/github/unsecured_commands/test/positive3.yaml
  assets/queries/cicd/github/unsecured_commands/test/positive_expected_result.json
Labels: feature, query

#6742 feat(query): github workflows run injection query
  assets/queries/cicd/github/run_block_injection/metadata.json
  assets/queries/cicd/github/run_block_injection/query.rego
  assets/queries/cicd/github/run_block_injection/test/negative.yaml
  assets/queries/cicd/github/run_block_injection/test/negative2.yaml
  assets/queries/cicd/github/run_block_injection/test/negative3.yaml
  assets/queries/cicd/github/run_block_injection/test/negative4.yaml
  assets/queries/cicd/github/run_block_injection/test/negative5.yaml
  assets/queries/cicd/github/run_block_injection/test/negative6.yaml
  assets/queries/cicd/github/run_block_injection/test/negative7.yaml
  assets/queries/cicd/github/run_block_injection/test/positive1.yaml
  assets/queries/cicd/github/run_block_injection/test/positive2.yaml
  assets/queries/cicd/github/run_block_injection/test/positive3.yaml
  assets/queries/cicd/github/run_block_injection/test/positive4.yaml
  assets/queries/cicd/github/run_block_injection/test/positive5.yaml
  assets/queries/cicd/github/run_block_injection/test/positive6.yaml
  assets/queries/cicd/github/run_block_injection/test/positive7.yaml
  assets/queries/cicd/github/run_block_injection/test/positive_expected_result.json
  test/queries_content_test.go
Labels: feature, query
