Repository Checkmarx/kics, pull requests merged in 2023-02, with the labels that each got.

#6140 fix(query): fix missing results and same line detection in arm query
  assets/queries/azureResourceManager/website_with_http20enabled_disabled/query.rego
  assets/queries/azureResourceManager/website_with_http20enabled_disabled/test/positive_expected_result.json
Labels: bug, query, arm

#6136 fix(query): fix false positive in serverles fw security query
  assets/queries/serverlessFW/serverless_function_environment_variables_not_encrypted/query.rego
  assets/queries/serverlessFW/serverless_function_environment_variables_not_encrypted/test/negative2.yml
Labels: bug, query, serverlessfw

#6144 fix(go_sec): add error checking in deferring in io.close()
  .github/scripts/report/e2e-html.go
  pkg/descriptions/client.go
  pkg/report/html.go
Labels: go

#6141 feature(resolver): add resolver for serverless file reference
  pkg/resolver/file/file.go
  pkg/resolver/file/file_test.go
  test/fixtures/unresolved_serverless/eventRouterHandler.yml
  test/fixtures/unresolved_serverless/serverless.yml
Labels: go, serverlessfw

#6159 fix(docs): fix docs gh action platform template
  .github/scripts/docs-generator/templates/platform_template.md
Labels: documentation, github_actions

#6175 fix(query): add missing check for stack tags in serverlessfw security query
  assets/queries/serverlessFW/serverless_function_without_tags/query.rego
  assets/queries/serverlessFW/serverless_function_without_tags/test/negative2.yml
Labels: bug, query, serverlessfw

#6180 Fix spelling of "below" in docs
  docs/creating-queries.md
  docs/flags.md
  docs/queries/ansible-queries.md
  docs/queries/cloudformation-queries.md
  docs/queries/crossplane-queries.md
  docs/queries/googledeploymentmanager-queries.md
  docs/queries/openapi-queries.md
  docs/queries/pulumi-queries.md
  docs/queries/terraform-queries.md
Labels: community

#6193 feat(query): add outdated gke version terraform gcp security query
  assets/libraries/common.json
  assets/libraries/common.rego
  assets/queries/terraform/gcp/outdated_gke_version/metadata.json
  assets/queries/terraform/gcp/outdated_gke_version/query.rego
  assets/queries/terraform/gcp/outdated_gke_version/test/negative.tf
  assets/queries/terraform/gcp/outdated_gke_version/test/positive.tf
  assets/queries/terraform/gcp/outdated_gke_version/test/positive_expected_result.json
Labels: query, terraform, gcp

#6170 fix(query): fix hardcoded aws access key in lambda line detection bug
  assets/queries/terraform/aws/hardcoded_aws_access_key_in_lambda/query.rego
  assets/queries/terraform/aws/hardcoded_aws_access_key_in_lambda/test/positive_expected_result.json
Labels: bug, query, terraform, aws

#6167 fix(query): fix tf gcp "IP Forwarding Enabled" query to use resource
  assets/queries/terraform/gcp/ip_forwarding_enabled/query.rego
  assets/queries/terraform/gcp/ip_forwarding_enabled/test/negative.tf
  assets/queries/terraform/gcp/ip_forwarding_enabled/test/positive.tf
  assets/queries/terraform/gcp/ip_forwarding_enabled/test/positive_expected_result.json
Labels: community
