Repository Checkmarx/kics, pull requests merged in 2023-08, with the labels that each got.

#6537 feat(workflow): added github workflow to validate pr title
  .github/keywords.yaml
  .github/pr-title-types.yaml
  .github/scripts/pr-issue-info/get_keywords.py
  .github/scripts/pr-issue-info/get_title_types.py
  .github/workflows/validate-pr-title.yaml
Labels: feature

#6570 docs(main): add discord invite to readme
  README.md
Labels: documentation, community

#6556 feat(query): docdb logging is disabled for pulumi
  assets/queries/pulumi/aws/docdb_logging_disabled/metadata.json
  assets/queries/pulumi/aws/docdb_logging_disabled/query.rego
  assets/queries/pulumi/aws/docdb_logging_disabled/test/negative1.yaml
  assets/queries/pulumi/aws/docdb_logging_disabled/test/positive1.yaml
  assets/queries/pulumi/aws/docdb_logging_disabled/test/positive2.yaml
  assets/queries/pulumi/aws/docdb_logging_disabled/test/positive3.yaml
  assets/queries/pulumi/aws/docdb_logging_disabled/test/positive_expected_result.json
Labels: feature, query, pulumi

#6557 feat(query): docdb logging is disabled for crossplane
  assets/queries/crossplane/aws/docdb_logging_disabled/metadata.json
  assets/queries/crossplane/aws/docdb_logging_disabled/query.rego
  assets/queries/crossplane/aws/docdb_logging_disabled/test/negative1.yaml
  assets/queries/crossplane/aws/docdb_logging_disabled/test/positive1.yaml
  assets/queries/crossplane/aws/docdb_logging_disabled/test/positive2.yaml
  assets/queries/crossplane/aws/docdb_logging_disabled/test/positive3.yaml
  assets/queries/crossplane/aws/docdb_logging_disabled/test/positive_expected_result.json
  pkg/analyzer/analyzer.go
Labels: feature, query

#6555 feat(query): docdb logging is disabled for cloudformation
  assets/queries/cloudFormation/aws/docdb_logging_disabled/metadata.json
  assets/queries/cloudFormation/aws/docdb_logging_disabled/query.rego
  assets/queries/cloudFormation/aws/docdb_logging_disabled/test/negative1.yaml
  assets/queries/cloudFormation/aws/docdb_logging_disabled/test/positive1.json
  assets/queries/cloudFormation/aws/docdb_logging_disabled/test/positive2.yaml
  assets/queries/cloudFormation/aws/docdb_logging_disabled/test/positive3.yaml
  assets/queries/cloudFormation/aws/docdb_logging_disabled/test/positive4.json
  assets/queries/cloudFormation/aws/docdb_logging_disabled/test/positive_expected_result.json
Labels: feature, query, cloudformation

#6516 feat(parser): ansible inventory
  docs/creating-queries.md
  docs/platforms.md
  go.mod
  go.sum
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  pkg/engine/source/filesystem.go
  pkg/engine/vulnerability_builder.go
  pkg/model/model.go
  pkg/parser/ansible/ini/comments/comments.go
  pkg/parser/ansible/ini/comments/comments_test.go
  pkg/parser/ansible/ini/hosts/parser.go
  pkg/parser/ansible/ini/hosts/parser_test.go
  pkg/parser/json/parser.go
  pkg/parser/json/parser_test.go
  pkg/parser/yaml/parser_test.go
  pkg/scan/scan.go
  test/fixtures/analyzer_test/hosts.ini
Labels: feature, ansible

#6558 fix(query): db instance publicly accessible ansible query refactor
  assets/queries/ansible/aws/db_instance_publicly_accessible/test/positive_expected_result.json
  assets/queries/ansible/aws/rds_db_instance_publicly_accessible/metadata.json
  assets/queries/ansible/aws/rds_db_instance_publicly_accessible/query.rego
  assets/queries/ansible/aws/rds_db_instance_publicly_accessible/test/negative.yaml
  assets/queries/ansible/aws/rds_db_instance_publicly_accessible/test/positive.yaml
  assets/queries/ansible/aws/rds_db_instance_publicly_accessible/test/positive_expected_result.json
Labels: query, ansible

#6562 feat(query): amazon rds db instance publicly accessible query for pulumi
  assets/queries/pulumi/aws/rds_db_instance_publicly_accessible/metadata.json
  assets/queries/pulumi/aws/rds_db_instance_publicly_accessible/query.rego
  assets/queries/pulumi/aws/rds_db_instance_publicly_accessible/test/negative1.yaml
  assets/queries/pulumi/aws/rds_db_instance_publicly_accessible/test/negative2.yaml
  assets/queries/pulumi/aws/rds_db_instance_publicly_accessible/test/positive1.yaml
  assets/queries/pulumi/aws/rds_db_instance_publicly_accessible/test/positive_expected_result.json
Labels: feature, query, aws, pulumi

#6560 fix(query): amazon db instance publicly accessible for terraform query refactor
  assets/queries/terraform/aws/rds_db_instance_publicly_accessible/metadata.json
  assets/queries/terraform/aws/rds_db_instance_publicly_accessible/query.rego
  assets/queries/terraform/aws/rds_db_instance_publicly_accessible/test/negative1.tf
  assets/queries/terraform/aws/rds_db_instance_publicly_accessible/test/negative2.tf
  assets/queries/terraform/aws/rds_db_instance_publicly_accessible/test/positive1.tf
  assets/queries/terraform/aws/rds_db_instance_publicly_accessible/test/positive2.tf
  assets/queries/terraform/aws/rds_db_instance_publicly_accessible/test/positive_expected_result.json
Labels: query, terraform, aws

#6615 feat(query): rds DB Instance Publicly Accessible for Crossplane
  assets/queries/crossplane/aws/rds_db_instance_publicly_accessible/metadata.json
  assets/queries/crossplane/aws/rds_db_instance_publicly_accessible/query.rego
  assets/queries/crossplane/aws/rds_db_instance_publicly_accessible/test/negative1.yaml
  assets/queries/crossplane/aws/rds_db_instance_publicly_accessible/test/negative2.yaml
  assets/queries/crossplane/aws/rds_db_instance_publicly_accessible/test/positive1.yaml
  assets/queries/crossplane/aws/rds_db_instance_publicly_accessible/test/positive2.yaml
  assets/queries/crossplane/aws/rds_db_instance_publicly_accessible/test/positive_expected_result.json
Labels: feature, query

#6559 fix(query): alicloud rds instance address publicly accessible terraform query refactor
  assets/queries/terraform/alicloud/rds_instance_address_publicly_accessible/metadata.json
  assets/queries/terraform/alicloud/rds_instance_address_publicly_accessible/query.rego
  assets/queries/terraform/alicloud/rds_instance_address_publicly_accessible/test/negative1.tf
  assets/queries/terraform/alicloud/rds_instance_address_publicly_accessible/test/negative2.tf
  assets/queries/terraform/alicloud/rds_instance_address_publicly_accessible/test/positive1.tf
  assets/queries/terraform/alicloud/rds_instance_address_publicly_accessible/test/positive_expected_result.json
  assets/queries/terraform/alicloud/rds_instance_publicly_accessible/query.rego
  assets/queries/terraform/alicloud/rds_instance_ssl_action_disabled/query.rego
Labels: query, terraform, alicloud

#6561 fix(query): amazon rds db instance publicly accessible query refactor
  assets/queries/cloudFormation/aws/rds_db_instance_publicly_accessible/metadata.json
  assets/queries/cloudFormation/aws/rds_db_instance_publicly_accessible/query.rego
  assets/queries/cloudFormation/aws/rds_db_instance_publicly_accessible/test/negative1.yaml
  assets/queries/cloudFormation/aws/rds_db_instance_publicly_accessible/test/negative2.json
  assets/queries/cloudFormation/aws/rds_db_instance_publicly_accessible/test/positive1.yaml
  assets/queries/cloudFormation/aws/rds_db_instance_publicly_accessible/test/positive2.json
  assets/queries/cloudFormation/aws/rds_db_instance_publicly_accessible/test/positive_expected_result.json
Labels: query, aws

#6595 feat(parser): ansible configuration support
  docs/platforms.md
  go.mod
  go.sum
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  pkg/model/model.go
  pkg/parser/ansible/ini/config/parser.go
  pkg/parser/ansible/ini/config/parser_test.go
  pkg/scan/scan.go
  test/fixtures/analyzer_test/ansible.cfg
  test/fixtures/analyzer_test/ansible.conf
  test/fixtures/analyzer_test/hosts.ini
Labels: feature, ansible

#6638 fix(workflow): fix Pwn Request Vulnerability
  .github/workflows/add-issues-labels.yaml
  .github/workflows/validate-pr-title.yaml
Labels: community

#6656 feat(workflow): new github workflow that checks the PR's Go coverage
  .github/workflows/check-go-coverage.yaml
Labels: feature

#6655 fix(query): query search_key now contains correct value of resource
  assets/queries/azureResourceManager/website_azure_active_directory_disabled/metadata.json
  assets/queries/azureResourceManager/website_azure_active_directory_disabled/query.rego
Labels: query

#6665 fix(engine): skip broken symlink/eloop
  e2e/fixtures/E2E_CLI_067_PAYLOAD.json
  e2e/testcases/e2e-cli-067_ingore_broken_symlink_eloop.go
  pkg/engine/provider/extract.go
  pkg/engine/provider/extract_test.go
  pkg/engine/provider/filesystem.go
  pkg/engine/provider/filesystem_test.go
  pkg/scan/utils.go
  test/fixtures/link_test/broken_symlink
  test/fixtures/link_test/eloop_link
Labels: community

#6510 fix(parser): support nameless tf resources
  pkg/parser/terraform/terraform.go
  pkg/parser/terraform/terraform_test.go
Labels: terraform, community, aws, QA

#6527 feat(panic): add panic handler to possible panic places
  pkg/parser/grpc/converter/converter.go
  pkg/parser/terraform/terraform.go
  pkg/resolver/file/file.go
  pkg/resolver/helm/resolver.go
  pkg/scan/utils_test.go
  pkg/utils/panic_handler.go
Labels: feature

#6548 fix(query): support GCP IAM policy members as lists
  assets/queries/terraform/gcp/service_account_with_improper_privileges/query.rego
  assets/queries/terraform/gcp/service_account_with_improper_privileges/test/positive3.tf
  assets/queries/terraform/gcp/service_account_with_improper_privileges/test/positive4.tf
  assets/queries/terraform/gcp/service_account_with_improper_privileges/test/positive_expected_result.json
Labels: query, community, gcp, QA
