Repository Checkmarx/kics, pull requests merged in 2023-10, with the labels that each got.

#6750 docs(guides): changed code-ql action to v2 due to v1 depecration
  docs/integrations_ghactions.md
Labels: documentation, community

#6748 docs(experimentalfeature): update docs for experimental queries
  README.md
  assets/utils/experimental-queries.json
  docs/index.md
Labels: documentation, query, terraform

#6636 fix(query): terraform alb_is_not_integrated_with_waf
  assets/queries/terraform/aws/alb_is_not_integrated_with_waf/query.rego
  assets/queries/terraform/aws/alb_is_not_integrated_with_waf/test/negative1.tf
  assets/queries/terraform/aws/alb_is_not_integrated_with_waf/test/negative2.tf
  assets/queries/terraform/aws/alb_is_not_integrated_with_waf/test/positive1.tf
  assets/queries/terraform/aws/alb_is_not_integrated_with_waf/test/positive2.tf
  assets/queries/terraform/aws/alb_is_not_integrated_with_waf/test/positive_expected_result.json
Labels: query, terraform, community, aws

#6637 fix(query): dockerfile unpinned_package_version_in_pip_install
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/query.rego
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/test/negative1.dockerfile
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/test/negative2.dockerfile
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/test/negative3.dockerfile
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/test/positive1.dockerfile
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/test/positive_expected_result.json
Labels: query, community, dockerfile

#6755 fix(docker): experimental-queries.json: no such file or directory
  docker/Dockerfile.apispec
  docker/Dockerfile.apispec.debian
  docker/Dockerfile.debian
Labels: query, docker

#6713 fix(query): dockerfile image_version_not_explicit
  assets/queries/dockerfile/image_version_not_explicit/query.rego
  assets/queries/dockerfile/image_version_not_explicit/test/negative1.dockerfile
  assets/queries/dockerfile/image_version_not_explicit/test/negative2.dockerfile
  assets/queries/dockerfile/image_version_not_explicit/test/positive1.dockerfile
  assets/queries/dockerfile/image_version_not_explicit/test/positive2.dockerfile
  assets/queries/dockerfile/image_version_not_explicit/test/positive_expected_result.json
Labels: query, community, dockerfile

#6727 fix(query): added new way of setting extended_auditing_policy in tf azure to the query
  assets/queries/terraform/azure/mssql_server_auditing_disabled/metadata.json
  assets/queries/terraform/azure/mssql_server_auditing_disabled/query.rego
  assets/queries/terraform/azure/mssql_server_auditing_disabled/test/negative.tf
Labels: query, terraform, azure

#6778 docs(queries): fix typo
  .github/scripts/docs-generator/query-page-generator/query-page-generator.py
Labels: documentation, query

#6770 feat(panic): add recover for query evaluation process
  e2e/fixtures/E2E_CLI_068_RESULT.json
  e2e/testcases/e2e-cli-068_corrupted_dockerfile.go
  pkg/engine/inspector.go
  test/fixtures/dockerfile/corrupted_dockerfile
Labels: feature request, query, community

#6780 fix(query): meaningful "Value" and "Expected Value" in multiple queries
  assets/queries/dockerfile/apt_get_missing_yes_flag_to_avoid_manual_input/query.rego
  assets/queries/dockerfile/changing_default_shell_using_run_command/query.rego
  assets/queries/dockerfile/missing_flag_from_dnf_install/query.rego
  assets/queries/dockerfile/not_using_json_in_cmd_and_entrypoint_arguments/query.rego
  assets/queries/dockerfile/yum_clean_all_missing/query.rego
  assets/queries/dockerfile/yum_install_allows_manual_input/query.rego
Labels: query
