Repository Checkmarx/kics, pull requests merged in 2023-05, with the labels that each got.

#6285 fix(method): Added regex to calculate Levenshtein distance correctly
  assets/queries/openAPI/general/pattern_undefined/query.rego
  pkg/detector/helper.go
  pkg/detector/helper_test.go
Labels: bug, tests

#6351 bug(terraform comments): fix ignore lines with comments only at the end
  pkg/parser/terraform/comment/comment.go
  pkg/parser/terraform/comment/comment_test.go
Labels: bug, go

#6297 fix(analyser) Fix to ignore files (pnpm-lock.yaml)
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  test/fixtures/analyzer_test/pnpm-lock.yaml
Labels: bug

#6353 fix(method): Added regex to calculate Levenshtein distance correctly
  assets/queries/openAPI/general/pattern_undefined/query.rego
  pkg/detector/helper.go
  pkg/detector/helper_test.go
Labels: bug, tests

#6360 fix(query): add rule for generic access_key
  assets/queries/common/passwords_and_secrets/regex_rules.json
  assets/queries/common/passwords_and_secrets/test/negative54.tf
  assets/queries/common/passwords_and_secrets/test/positive42.tf
  assets/queries/common/passwords_and_secrets/test/positive_expected_result.json
Labels: bug, query

#6313 feat(documentation): add query page generator
  .github/scripts/docs-generator/docs-generator.py
  .github/scripts/docs-generator/query-page-generator/query-page-generator.py
  .github/scripts/docs-generator/query-page-generator/templates/query-page-template.md
  .github/workflows/update-docs-queries.yaml
  Makefile
  docs/js/custom.js
  mkdocs.yml
  pkg/printer/printer.go
  pkg/printer/printer_test.go
  pkg/scan/post_scan.go
  pkg/scan/utils.go
  pkg/scan/utils_test.go
  pkg/utils/validations.go
  pkg/utils/validations_test.go
Labels: documentation, feature

#6369 Change severity of CloudTrail Log Files Not Encrypted With KMS to Medium and add edge case
  assets/queries/cloudFormation/aws/cloudtrail_log_files_not_encrypted_with_kms/metadata.json
  assets/queries/cloudFormation/aws/cloudtrail_log_files_not_encrypted_with_kms/query.rego
  assets/queries/cloudFormation/aws/cloudtrail_log_files_not_encrypted_with_kms/test/positive3.json
  assets/queries/cloudFormation/aws/cloudtrail_log_files_not_encrypted_with_kms/test/positive_expected_result.json
Labels: bug, cloudformation, aws

#6389 fix(query): KMS Key With Full Permissions
  .github/scripts/samples-linters/yamllint_ansible.yml
  assets/queries/ansible/aws/kms_key_with_full_permissions/metadata.json
  assets/queries/ansible/aws/kms_key_with_full_permissions/query.rego
  assets/queries/ansible/aws/kms_key_with_full_permissions/test/negative.yaml
  assets/queries/ansible/aws/kms_key_with_full_permissions/test/positive.yaml
  assets/queries/ansible/aws/kms_key_with_full_permissions/test/positive2.yaml
  assets/queries/ansible/aws/kms_key_with_full_permissions/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/kms_key_with_full_permissions/metadata.json
  assets/queries/cloudFormation/aws/kms_key_with_full_permissions/query.rego
  assets/queries/cloudFormation/aws/kms_key_with_full_permissions/test/negative.json
  assets/queries/cloudFormation/aws/kms_key_with_full_permissions/test/negative.yaml
  assets/queries/cloudFormation/aws/kms_key_with_full_permissions/test/positive.json
  assets/queries/cloudFormation/aws/kms_key_with_full_permissions/test/positive.yaml
  assets/queries/cloudFormation/aws/kms_key_with_full_permissions/test/positive2.json
  assets/queries/cloudFormation/aws/kms_key_with_full_permissions/test/positive2.yaml
  assets/queries/cloudFormation/aws/kms_key_with_full_permissions/test/positive_expected_result.json
  assets/queries/terraform/aws/kms_key_with_full_permissions/metadata.json
  assets/queries/terraform/aws/kms_key_with_full_permissions/query.rego
  assets/queries/terraform/aws/kms_key_with_full_permissions/test/negative.tf
  assets/queries/terraform/aws/kms_key_with_full_permissions/test/positive1.tf
  assets/queries/terraform/aws/kms_key_with_full_permissions/test/positive2.tf
  assets/queries/terraform/aws/kms_key_with_full_permissions/test/positive3.tf
  assets/queries/terraform/aws/kms_key_with_full_permissions/test/positive_expected_result.json
  docs/queries/all-queries.md
  docs/queries/ansible-queries.md
  docs/queries/ansible-queries/aws/5b9d237a-57d5-4177-be0e-71434b0fef47.md
  docs/queries/cloudformation-queries.md
  docs/queries/cloudformation-queries/aws/da905474-7454-43c0-b8d2-5756ab951aba.md
  docs/queries/terraform-queries.md
  docs/queries/terraform-queries/aws/7ebc9038-0bde-479a-acc4-6ed7b6758899.md
Labels: feature, query

#6392 feat(query): Aurora With Disabled at Rest Encryption query for Terraform
  assets/queries/terraform/aws/aurora_with_disabled_at_rest_encryption/metadata.json
  assets/queries/terraform/aws/aurora_with_disabled_at_rest_encryption/query.rego
  assets/queries/terraform/aws/aurora_with_disabled_at_rest_encryption/test/negative1.tf
  assets/queries/terraform/aws/aurora_with_disabled_at_rest_encryption/test/positive1.tf
  assets/queries/terraform/aws/aurora_with_disabled_at_rest_encryption/test/positive2.tf
  assets/queries/terraform/aws/aurora_with_disabled_at_rest_encryption/test/positive_expected_result.json
Labels: feature, query, terraform

#6357 feat(query): EFS Volume With Disabled Transit Encryption
  assets/queries/cloudFormation/aws/efs_volume_with_disabled_transit_encryption/metadata.json
  assets/queries/cloudFormation/aws/efs_volume_with_disabled_transit_encryption/query.rego
  assets/queries/cloudFormation/aws/efs_volume_with_disabled_transit_encryption/test/negative1.json
  assets/queries/cloudFormation/aws/efs_volume_with_disabled_transit_encryption/test/positive1.json
  assets/queries/cloudFormation/aws/efs_volume_with_disabled_transit_encryption/test/positive2.json
  assets/queries/cloudFormation/aws/efs_volume_with_disabled_transit_encryption/test/positive_expected_result.json
  assets/queries/terraform/aws/efs_volume_with_disabled_transit_encryption/metadata.json
  assets/queries/terraform/aws/efs_volume_with_disabled_transit_encryption/query.rego
  assets/queries/terraform/aws/efs_volume_with_disabled_transit_encryption/test/negative1.tf
  assets/queries/terraform/aws/efs_volume_with_disabled_transit_encryption/test/positive1.tf
  assets/queries/terraform/aws/efs_volume_with_disabled_transit_encryption/test/positive2.tf
  assets/queries/terraform/aws/efs_volume_with_disabled_transit_encryption/test/positive_expected_result.json
Labels: feature, query

#6393 feat(query): Elasticsearch with HTTPS disabled for Ansible
  assets/queries/ansible/aws/elasticsearch_with_https_disabled/metadata.json
  assets/queries/ansible/aws/elasticsearch_with_https_disabled/query.rego
  assets/queries/ansible/aws/elasticsearch_with_https_disabled/test/negative1.yaml
  assets/queries/ansible/aws/elasticsearch_with_https_disabled/test/positive1.yaml
  assets/queries/ansible/aws/elasticsearch_with_https_disabled/test/positive2.yaml
  assets/queries/ansible/aws/elasticsearch_with_https_disabled/test/positive3.yaml
  assets/queries/ansible/aws/elasticsearch_with_https_disabled/test/positive_expected_result.json
Labels: feature, query, ansible

#6398 feat(query): Elasticsearch with HTTPS disabled for CloudFormation
  assets/queries/cloudFormation/aws/elasticsearch_with_https_disabled/metadata.json
  assets/queries/cloudFormation/aws/elasticsearch_with_https_disabled/query.rego
  assets/queries/cloudFormation/aws/elasticsearch_with_https_disabled/test/negative1.yaml
  assets/queries/cloudFormation/aws/elasticsearch_with_https_disabled/test/positive1.yaml
  assets/queries/cloudFormation/aws/elasticsearch_with_https_disabled/test/positive2.yaml
  assets/queries/cloudFormation/aws/elasticsearch_with_https_disabled/test/positive3.yaml
  assets/queries/cloudFormation/aws/elasticsearch_with_https_disabled/test/positive_expected_result.json
Labels: feature, query, cloudformation

#6399 feat(query): Elasticsearch with HTTPS disabled for Pulumi
  assets/queries/pulumi/aws/elasticsearch_with_https_disabled/metadata.json
  assets/queries/pulumi/aws/elasticsearch_with_https_disabled/query.rego
  assets/queries/pulumi/aws/elasticsearch_with_https_disabled/test/negative1.yaml
  assets/queries/pulumi/aws/elasticsearch_with_https_disabled/test/positive1.yaml
  assets/queries/pulumi/aws/elasticsearch_with_https_disabled/test/positive_expected_result.json
Labels: feature, query, pulumi

#6394 feat(query): Elasticsearch with HTTPS disabled for Terraform
  assets/queries/terraform/aws/elasticsearch_with_https_disabled/metadata.json
  assets/queries/terraform/aws/elasticsearch_with_https_disabled/query.rego
  assets/queries/terraform/aws/elasticsearch_with_https_disabled/test/negative1.tf
  assets/queries/terraform/aws/elasticsearch_with_https_disabled/test/positive1.tf
  assets/queries/terraform/aws/elasticsearch_with_https_disabled/test/positive_expected_result.json
Labels: feature, query, terraform

#6415 bug(docs): Changed Light Scheme Name
  docs/css/custom.css
  mkdocs.yml
Labels: bug, documentation

#6401 feat(query): ec2 instance monitoring disabled for CloudFormation
  assets/queries/cloudFormation/aws/ec2_instance_monitoring_disabled/metadata.json
  assets/queries/cloudFormation/aws/ec2_instance_monitoring_disabled/query.rego
  assets/queries/cloudFormation/aws/ec2_instance_monitoring_disabled/test/negative1.yaml
  assets/queries/cloudFormation/aws/ec2_instance_monitoring_disabled/test/positive1.yaml
  assets/queries/cloudFormation/aws/ec2_instance_monitoring_disabled/test/positive2.yaml
  assets/queries/cloudFormation/aws/ec2_instance_monitoring_disabled/test/positive_expected_result.json
Labels: feature, query, cloudformation

#6248 feat(terraform/gcp): Add GKE Shielded Nodes is Disabled query for Terraform.
  assets/queries/terraform/gcp/shielded_gke_nodes_disabled/metadata.json
  assets/queries/terraform/gcp/shielded_gke_nodes_disabled/query.rego
  assets/queries/terraform/gcp/shielded_gke_nodes_disabled/test/negative.tf
  assets/queries/terraform/gcp/shielded_gke_nodes_disabled/test/positive.tf
  assets/queries/terraform/gcp/shielded_gke_nodes_disabled/test/positive_expected_result.json
Labels: community

#6421 docs(secrets): re add entropy info
  docs/secrets.md
Labels: documentation
