Repository Checkmarx/kics, pull requests merged in 2024-05, with the labels that each got.

#7034 fix(query): fix query Bind Address Not Properly Set
  assets/queries/k8s/bind_address_not_properly_set/metadata.json
  assets/queries/k8s/bind_address_not_properly_set/query.rego
  assets/queries/k8s/bind_address_not_properly_set/test/negative1.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/negative2.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/negative3.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/negative4.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/positive1.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/positive2.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/positive3.yaml
  assets/queries/k8s/bind_address_not_properly_set/test/positive4.yaml
Labels: query

#7033 fix(query): fixed network access too permissive query and tests
  assets/queries/azureResourceManager/default_azure_storage_account_network_access_is_too_permissive/query.rego
  assets/queries/azureResourceManager/default_azure_storage_account_network_access_is_too_permissive/test/negative1.json
  assets/queries/azureResourceManager/default_azure_storage_account_network_access_is_too_permissive/test/negative2.json
  assets/queries/azureResourceManager/default_azure_storage_account_network_access_is_too_permissive/test/positive2.json
  assets/queries/azureResourceManager/default_azure_storage_account_network_access_is_too_permissive/test/positive3.json
Labels: query, kubernetes, arm

#7037 fix(query): fix rwd arm query
  assets/queries/azureResourceManager/storage_logging_for_read_write_delete_requests_disabled/query.rego
  assets/queries/azureResourceManager/storage_logging_for_read_write_delete_requests_disabled/test/positive_expected_result.json
Labels: query, arm

#7030 fix(query): added missing case to storage blob query
  assets/queries/azureResourceManager/storage_blob_service_container_with_public_access/query.rego
  assets/queries/azureResourceManager/storage_blob_service_container_with_public_access/test/positive7.json
  assets/queries/azureResourceManager/storage_blob_service_container_with_public_access/test/positive_expected_result.json
Labels: query

#7035 fix(query): slight refactor to actually filter the correct/wanted codes
  assets/queries/openAPI/general/response_operations_body_schema_undefined/query.rego
  assets/queries/openAPI/general/response_operations_body_schema_undefined/test/negative5.json
Labels: query

#7043 feat(engine): add --max-resolver-depth flag
  docs/commands.md
  docs/dockerhub.md
  e2e/fixtures/E2E_CLI_094_RESULT.json
  e2e/fixtures/E2E_CLI_095_RESULT.json
  e2e/fixtures/assets/scan_help
  e2e/testcases/e2e-cli-094_max_resolver_depth_0.go
  e2e/testcases/e2e-cli-095_max_resolver_depth_default.go
  internal/console/assets/scan-flags.json
  internal/console/flags/scan_flags.go
  internal/console/pre_scan.go
  internal/console/remediate.go
  internal/console/scan.go
  internal/constants/constants.go
  pkg/kics/resolver_sink.go
  pkg/kics/resolver_sink_test.go
  pkg/kics/service.go
  pkg/kics/sink.go
  pkg/parser/ansible/ini/config/parser.go
  pkg/parser/ansible/ini/hosts/parser.go
  pkg/parser/buildah/parser.go
  pkg/parser/buildah/parser_test.go
  pkg/parser/docker/parser.go
  pkg/parser/docker/parser_test.go
  pkg/parser/grpc/parser.go
  pkg/parser/grpc/parser_test.go
  pkg/parser/json/parser.go
  pkg/parser/json/parser_test.go
  pkg/parser/parser.go
  pkg/parser/parser_test.go
  pkg/parser/terraform/terraform.go
  pkg/parser/terraform/terraform_test.go
  pkg/parser/yaml/parser.go
  pkg/parser/yaml/parser_test.go
  pkg/remediation/remediation.go
  pkg/remediation/remediation_test.go
  pkg/remediation/scan.go
  pkg/remediation/utils.go
  pkg/resolver/file/file.go
  pkg/resolver/file/file_test.go
  pkg/scan/client.go
  pkg/scan/scan.go
  pkg/scanner/scanner.go
  test/fixtures/resolve_ansible_vars_with_vars_folder/main.yml
  test/fixtures/resolve_ansible_vars_with_vars_folder/task.yml
  test/fixtures/resolve_ansible_vars_with_vars_folder/vars/main.yml
  test/fixtures/resolve_ansible_vars_without_vars_folder/main.yml
  test/fixtures/resolve_ansible_vars_without_vars_folder/task.yml
  test/fixtures/resolve_ansible_vars_without_vars_folder/variables.yml
  test/fixtures/resolve_circular_loop/main.yml
  test/fixtures/resolve_circular_loop/task.yml
  test/main_test.go
  test/queries_test.go
Labels: feature, ansible

#6640 fix(query): lower properties protocol
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_ssh/metadata.json
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_ssh/query.rego
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_ssh/test/positive7.json
  assets/queries/azureResourceManager/network_security_group_with_unrestricted_access_to_ssh/test/positive_expected_result.json
Labels: query, community

#6970 feat(engine): similarity id improve
  assets/libraries/cloudformation.rego
  assets/queries/cloudFormation/aws/ecs_task_definition_healthcheck_missing/query.rego
  assets/queries/cloudFormation/aws/ecs_task_definition_healthcheck_missing/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/ecs_task_definition_invalid_cpu_or_memory/query.rego
  e2e/fixtures/E2E_CLI_032_RESULT.json
  e2e/fixtures/E2E_CLI_033_RESULT.json
  e2e/fixtures/E2E_CLI_036_RESULT.json
  e2e/fixtures/E2E_CLI_036_RESULT_2.json
  e2e/fixtures/E2E_CLI_069_RESULT.json
  e2e/fixtures/E2E_CLI_070_RESULT.json
  e2e/fixtures/E2E_CLI_072_RESULT.json
  e2e/fixtures/E2E_CLI_074_RESULT.json
  e2e/fixtures/E2E_CLI_077_RESULT.json
  e2e/fixtures/E2E_CLI_081_RESULT.json
  e2e/fixtures/E2E_CLI_086_RESULT.json
  e2e/fixtures/E2E_CLI_087_RESULT.json
  e2e/fixtures/E2E_CLI_088_RESULT.json
  e2e/fixtures/E2E_CLI_089_RESULT.json
  e2e/fixtures/E2E_CLI_091_PAYLOAD.json
  e2e/fixtures/E2E_CLI_091_RESULT.json
  e2e/fixtures/E2E_CLI_093_RESULT.json
  e2e/fixtures/E2E_CLI_093_RESULT_2.json
  e2e/fixtures/E2E_CLI_093_RESULT_3.json
  e2e/fixtures/E2E_CLI_093_RESULT_4.json
  e2e/fixtures/E2E_CLI_093_RESULT_5.json
  e2e/fixtures/E2E_CLI_094_RESULT.json
  e2e/fixtures/E2E_CLI_095_RESULT.json
  e2e/fixtures/E2E_CLI_096_RESULT.json
  e2e/fixtures/E2E_CLI_097_RESULT.json
  e2e/testcases/e2e-cli-096_new_similarity_id_with_old_similarity_id.go
  e2e/testcases/e2e-cli-097_new_similarity_id_without_old_similarity_id.go
  internal/console/assets/scan-flags.json
  internal/console/flags/scan_flags.go
  internal/console/scan.go
  internal/tracker/ci.go
  internal/tracker/ci_test.go
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/engine/tracker.go
  pkg/engine/vulnerability_builder.go
  pkg/engine/vulnerability_builder_test.go
  pkg/kics/resolver_sink_test.go
  pkg/model/model.go
  pkg/model/summary.go
  pkg/remediation/scan.go
  pkg/scan/client.go
  pkg/scan/scan.go
  pkg/scanner/scanner_test.go
  test/fixtures/new_similarity_id/stack.yml
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: feature

#7052 fix(query): fix bugs and small improvements to TF queries
  assets/queries/terraform/aws/ec2_instance_monitoring_disabled/query.rego
  assets/queries/terraform/aws/lambda_iam_invokefunction_misconfigured/query.rego
  assets/queries/terraform/azure/network_interfaces_with_public_ip/metadata.json
  assets/queries/terraform/azure/network_interfaces_with_public_ip/query.rego
  assets/queries/terraform/azure/network_interfaces_with_public_ip/test/negative.tf
  assets/queries/terraform/azure/network_interfaces_with_public_ip/test/positive.tf
  assets/queries/terraform/azure/network_interfaces_with_public_ip/test/positive_expected_result.json
Labels: bug, query, terraform

#7067 fix(query): vcp peering route table should restrict cidr query with fp results
  assets/queries/terraform/aws/vpc_peering_route_table_with_unrestricted_cidr/query.rego
  assets/queries/terraform/aws/vpc_peering_route_table_with_unrestricted_cidr/test/negative4.tf
  assets/queries/terraform/aws/vpc_peering_route_table_with_unrestricted_cidr/test/positive4.tf
  assets/queries/terraform/aws/vpc_peering_route_table_with_unrestricted_cidr/test/positive_expected_result.json
Labels: query, aws

#7079 chore(databricks): add new spark LTS runtime
  assets/queries/terraform/databricks/use_lts_spark_version/query.rego
Labels: community

#7080 chore(databricks): remove deprecated spark lts version
  assets/queries/terraform/databricks/use_lts_spark_version/query.rego
Labels: community
