Repository Checkmarx/kics, pull requests merged in 2024-09, with the labels that each got.

#7251 update(go): update go version to 1.23.1
  .github/scripts/report/go.mod
  .github/scripts/server-mock/package-lock.json
  .github/workflows/go-ci.yml
  .github/workflows/go-e2e-debian.yaml
  .github/workflows/go-e2e.yaml
  .github/workflows/release-apispec.yml
  .github/workflows/release-nightly.yml
  Dockerfile
  README.md
  docker/Dockerfile.debian
  docker/Dockerfile.ubi8
  docs/queries/cicd-queries/20f14e1a-a899-4e79-9f09-b6a84cd4649b.md
  examples/github/kics-docker-runner-sarif.yaml
  go.mod
  internal/console/analyze.go
  internal/console/pre_scan.go
  internal/sentry/sentry.go
  pkg/engine/secrets/inspector.go
  pkg/parser/buildah/comments.go
  pkg/parser/buildah/parser.go
  pkg/printer/printer.go
  pkg/remediation/remediation.go
  pkg/scan/preview_secrets_mask.go
  pkg/scan/utils.go
  pkg/utils/random.go
Labels: dockerfile

#7171 update(query): add CWE infos to Pulumi queries
  assets/queries/pulumi/aws/amazon_dms_replication_instance_is_publicly_accessible/metadata.json
  assets/queries/pulumi/aws/api_gateway_access_logging_disabled/metadata.json
  assets/queries/pulumi/aws/api_gateway_without_ssl_certificate/metadata.json
  assets/queries/pulumi/aws/docdb_logging_disabled/metadata.json
  assets/queries/pulumi/aws/dynamodb_table_not_encrypted/metadata.json
  assets/queries/pulumi/aws/dynamodb_table_point_in_time_recovery_disabled/metadata.json
  assets/queries/pulumi/aws/ec2_instance_monitoring_disabled/metadata.json
  assets/queries/pulumi/aws/ec2_not_ebs_optimized/metadata.json
  assets/queries/pulumi/aws/ecs_cluster_container_insights_disabled/metadata.json
  assets/queries/pulumi/aws/elasticache_nodes_not_created_across_multi_az/metadata.json
  assets/queries/pulumi/aws/elasticache_redis_cluster_without_backup/metadata.json
  assets/queries/pulumi/aws/elasticsearch_logs_disabled/metadata.json
  assets/queries/pulumi/aws/elasticsearch_with_https_disabled/metadata.json
  assets/queries/pulumi/aws/iam_password_without_minimum_length/metadata.json
  assets/queries/pulumi/aws/rds_db_instance_publicly_accessible/metadata.json
  assets/queries/pulumi/azure/redis_cache_allows_non_ssl_connections/metadata.json
  assets/queries/pulumi/azure/storage_account_not_forcing_https/metadata.json
  assets/queries/pulumi/gcp/cloud_storage_bucket_logging_not_enabled/metadata.json
  assets/queries/pulumi/gcp/google_compute_ssl_policy_weak_cipher_in_use/metadata.json
  assets/queries/pulumi/kubernetes/missing_app_armor_config/metadata.json
  assets/queries/pulumi/kubernetes/psp_set_to_privileged/metadata.json
Labels: query, pulumi

#7170 update(query): add cwe infos to crossplane queries
  assets/queries/crossplane/aws/cloudfront_logging_disabled/metadata.json
  assets/queries/crossplane/aws/cloudfront_without_minimum_protocol_tls_1.2/metadata.json
  assets/queries/crossplane/aws/cloudfront_without_waf/metadata.json
  assets/queries/crossplane/aws/cloudwatch_without_retention_period_specified/metadata.json
  assets/queries/crossplane/aws/db_instance_storage_not_encrypted/metadata.json
  assets/queries/crossplane/aws/db_security_group_has_public_interface/metadata.json
  assets/queries/crossplane/aws/docdb_logging_disabled/metadata.json
  assets/queries/crossplane/aws/ecs_cluster_with_container_insights_disabled/metadata.json
  assets/queries/crossplane/aws/efs_not_encrypted/metadata.json
  assets/queries/crossplane/aws/efs_without_kms/metadata.json
  assets/queries/crossplane/aws/elb_using_weak_ciphers/metadata.json
  assets/queries/crossplane/aws/neptune_database_cluster_encryption_disabled/metadata.json
  assets/queries/crossplane/aws/rds_db_instance_publicly_accessible/metadata.json
  assets/queries/crossplane/aws/sqs_with_sse_disabled/metadata.json
  assets/queries/crossplane/azure/aks_rbac_disabled/metadata.json
  assets/queries/crossplane/azure/redis_cache_allows_non_ssl_connections/metadata.json
  assets/queries/crossplane/gcp/cloud_storage_bucket_logging_not_enabled/metadata.json
  assets/queries/crossplane/gcp/google_container_node_pool_auto_repair_disabled/metadata.json
Labels: query

#7166 update(query): add cwe infos to CICD queries
  assets/queries/cicd/github/run_block_injection/metadata.json
  assets/queries/cicd/github/script_block_injection/metadata.json
  assets/queries/cicd/github/unpinned_actions_full_length_commit_sha/metadata.json
  assets/queries/cicd/github/unsecured_commands/metadata.json
Labels: query

#7167 update(query): add cwe infos to Google Deployment Manager queries
  assets/queries/googleDeploymentManager/gcp/bigquery_database_is_public/metadata.json
  assets/queries/googleDeploymentManager/gcp/bucket_without_versioning/metadata.json
  assets/queries/googleDeploymentManager/gcp/client_certificate_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/cloud_dns_without_dnnsec/metadata.json
  assets/queries/googleDeploymentManager/gcp/cloud_storage_anonymous_or_publicly_accessible/metadata.json
  assets/queries/googleDeploymentManager/gcp/cloud_storage_bucket_is_publicly_accessible/metadata.json
  assets/queries/googleDeploymentManager/gcp/cloud_storage_bucket_versioning_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/cluster_labels_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/cluster_master_authentication_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/compute_instance_is_publicly_accessible/metadata.json
  assets/queries/googleDeploymentManager/gcp/cos_node_image_not_used/metadata.json
  assets/queries/googleDeploymentManager/gcp/disk_encryption_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/dnssec_using_rsasha1/metadata.json
  assets/queries/googleDeploymentManager/gcp/gke_legacy_authorization_enabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/gke_master_authorized_networks_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/google_storage_bucket_level_access_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/ip_aliasing_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/ip_forwarding_enabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/mysql_instance_with_local_infile_on/metadata.json
  assets/queries/googleDeploymentManager/gcp/network_policy_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/node_auto_upgrade_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/not_proper_email_account_in_use/metadata.json
  assets/queries/googleDeploymentManager/gcp/os_login_is_disabled_for_vm_instance/metadata.json
  assets/queries/googleDeploymentManager/gcp/private_cluster_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/project_wide_ssh_keys_are_enabled_in_vm_instances/metadata.json
  assets/queries/googleDeploymentManager/gcp/rdp_access_is_not_restricted/metadata.json
  assets/queries/googleDeploymentManager/gcp/shielded_vm_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/sql_db_instance_backup_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/sql_db_instance_with_ssl_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/ssh_access_is_not_restricted/metadata.json
  assets/queries/googleDeploymentManager/gcp/stackdriver_logging_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp/stackdriver_monitoring_disabled/metadata.json
  assets/queries/googleDeploymentManager/gcp_bom/pd/metadata.json
  assets/queries/googleDeploymentManager/gcp_bom/pst/metadata.json
  assets/queries/googleDeploymentManager/gcp_bom/sb/metadata.json
Labels: query

#7153 update(query): add CWE information to volume_has_sensitive_host_directory
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/metadata.json
Labels: query, community

#7165 update(query): add cwe infos to serverlessFW queries
  assets/queries/serverlessFW/serverless_api_access_logging_setting_undefined/metadata.json
  assets/queries/serverlessFW/serverless_api_endpoint_config_not_private/metadata.json
  assets/queries/serverlessFW/serverless_api_without_content_encoding/metadata.json
  assets/queries/serverlessFW/serverless_api_xray_tracing_disabled/metadata.json
  assets/queries/serverlessFW/serverless_function_environment_variables_not_encrypted/metadata.json
  assets/queries/serverlessFW/serverless_function_without_dead_letter_queue/metadata.json
  assets/queries/serverlessFW/serverless_function_without_tags/metadata.json
  assets/queries/serverlessFW/serverless_function_without_unique_iam_role/metadata.json
  assets/queries/serverlessFW/serverless_function_without_x-ray_tracing/metadata.json
  assets/queries/serverlessFW/serverless_role_with_full_privileges/metadata.json
Labels: query

#7164 update(query): add cwe infos to dockerCompose queries
  .github/scripts/queries-validator/metadata-schema.json
  README.md
  assets/queries/dockerCompose/cgroup_not_default/metadata.json
  assets/queries/dockerCompose/container_capabilities_unrestricted/metadata.json
  assets/queries/dockerCompose/container_traffic_not_bound_to_host_interface/metadata.json
  assets/queries/dockerCompose/cpus_not_limited/metadata.json
  assets/queries/dockerCompose/default_seccomp_profile_disabled/metadata.json
  assets/queries/dockerCompose/docker_socket_mounted_in_container/metadata.json
  assets/queries/dockerCompose/healthcheck_not_set/metadata.json
  assets/queries/dockerCompose/host_namespace_is_shared/metadata.json
  assets/queries/dockerCompose/memory_not_limited/metadata.json
  assets/queries/dockerCompose/no_new_privileges_not_set/metadata.json
  assets/queries/dockerCompose/pids_limit_not_set/metadata.json
  assets/queries/dockerCompose/privileged_containers_enabled/metadata.json
  assets/queries/dockerCompose/privileged_ports_mapped_in_container/metadata.json
  assets/queries/dockerCompose/restart_policy_on_failure_not_set_to_5/metadata.json
  assets/queries/dockerCompose/security_opt_not_set/metadata.json
  assets/queries/dockerCompose/shared_host_ipc_namespace/metadata.json
  assets/queries/dockerCompose/shared_host_network_namespace/metadata.json
  assets/queries/dockerCompose/shared_host_user_namespace/metadata.json
  assets/queries/dockerCompose/shared_volumes_between_containers/metadata.json
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/metadata.json
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/test/negative2.yaml
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/test/positive3.yaml
  assets/queries/dockerCompose/volume_has_sensitive_host_directory/test/positive_expected_result.json
  assets/queries/dockerCompose/volume_mounted_in_multiple_containers/metadata.json
  e2e/fixtures/E2E_CLI_096_RESULT.json
  e2e/fixtures/E2E_CLI_097_RESULT.json
  go.mod
  go.sum
Labels: query

#7245 docs(update): update getting started documentation with installation guidance
  docs/documentation.md
  docs/getting-started.md
  docs/queries.md
Labels: documentation, query

#7253 fix(gcp): rename test files resources to fix parsing errors on gcp queries
  assets/queries/terraform/gcp/stackdriver_logging_disabled/test/negative.tf
  assets/queries/terraform/gcp/stackdriver_monitoring_disabled/test/negative.tf
Labels: query, gcp
