Repository Checkmarx/kics, pull requests merged in 2024-04, with the labels that each got.

#6951 fix(kics): change order of split ; should come before && in dockerfile
  assets/libraries/dockerfile.rego
  assets/queries/dockerfile/apt_get_install_pin_version_not_defined/test/negative3.dockerfile
Labels: dockerfile

#6981 feat(engine): improve the possible dockerfile detection
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  pkg/engine/provider/filesystem.go
  pkg/parser/parser.go
  pkg/remediation/scan.go
  pkg/utils/get_extension.go
  pkg/utils/get_extension_test.go
  test/fixtures/negative_dockerfile/CW671X02_EBM_EVENT_RULE
Labels: feature, dockerfile

#6993 feat(query): clarify description for openapi exposed api keys
  assets/queries/openAPI/general/api_key_exposed_in_global_security/metadata.json
  assets/queries/openAPI/general/api_key_exposed_in_operation_security/metadata.json
Labels: feature request, query, community, openapi

#6994 fix(queries): queries categories updated
  assets/queries/ansible/aws/s3_bucket_without_versioning/metadata.json
  assets/queries/azureResourceManager/standard_price_not_selected/metadata.json
  assets/queries/cloudFormation/aws/iam_groups_inline_policies/metadata.json
  assets/queries/cloudFormation/aws/iam_user_login_profile_password_is_in_plaintext/metadata.json
  assets/queries/cloudFormation/aws/rds_multi_az_deployment_disabled/metadata.json
  assets/queries/cloudFormation/aws/s3_bucket_without_versioning/metadata.json
  assets/queries/cloudFormation/aws/unscanned_ecr_image/metadata.json
  assets/queries/crossplane/azure/redis_cache_allows_non_ssl_connections/metadata.json
  assets/queries/dockerfile/unix_ports_out_of_range/metadata.json
  assets/queries/pulumi/azure/redis_cache_allows_non_ssl_connections/metadata.json
  assets/queries/terraform/aws/default_vpc_exists/metadata.json
  assets/queries/terraform/aws/rds_cluster_with_backup_disabled/metadata.json
  assets/queries/terraform/aws/redis_disabled/metadata.json
  assets/queries/terraform/aws/s3_bucket_without_versioning/metadata.json
  assets/queries/terraform/aws/unscanned_ecr_image/metadata.json
  assets/queries/terraform/gcp/user_with_iam_role/metadata.json
  e2e/fixtures/E2E_CLI_092_RESULT.json
Labels: query

#6998 update(debian): install jq on debian
  docker/Dockerfile.debian
Labels: community

#7001 feat(githubactions): adding govulncheck and grype
  .github/scripts/sec-checks/govulncheck-ignore-unfixed.sh
  .github/workflows/sec-checks.yaml
  docker/Dockerfile.debian
  docker/Dockerfile.ubi8
  go.mod
Labels: feature

#6958 fix(githubactions): github actions relative path detected as not pinned
  assets/queries/cicd/github/unpinned_actions_full_length_commit_sha/query.rego
  assets/queries/cicd/github/unpinned_actions_full_length_commit_sha/test/negative3.yaml
  docs/queries/cicd-queries/555ab8f9-2001-455e-a077-f2d0f41e2fb9.md
Labels: community

#7017 fix(query): fix typos
  assets/queries/ansible/azure/default_azure_storage_account_network_access_is_too_permissive/query.rego
  assets/queries/azureResourceManager/default_azure_storage_account_network_access_is_too_permissive/query.rego
  pkg/scan/scan.go
Labels: query

#7024 fix(query): fix typo on storage blob service container query description
  assets/queries/azureResourceManager/storage_blob_service_container_with_public_access/metadata.json
  docs/queries/azureresourcemanager-queries/azure/a0ab985d-660b-41f7-ac81-70957ee8e627.md
Labels: query

#7027 fix(query): removed redundant import
  assets/queries/terraform/aws/http_port_open/query.rego
Labels: query, community

#7031 fix(dockerfile): remove user root and add platform
  Dockerfile
  assets/queries/dockerfile/using_platform_with_from/metadata.json
Labels: dockerfile
