Repository Checkmarx/kics, pull requests merged in 2024-06, with the labels that each got.

#7076 update(docs): experimental queries docs update
  README.md
  docs/img/logo-ansible-dark.png
  docs/img/logo-bicep.png
  docs/img/logo-cdk-dark.png
  docs/img/logo-cf-dark.png
  docs/img/logo-crossplane-dark.png
  docs/img/logo-databricks-dark.png
  docs/img/logo-grpc-dark.png
  docs/img/logo-helm-alt.png
  docs/img/logo-helm-dark.png
  docs/img/logo-k8s-dark.png
  docs/img/logo-openapi-dark.png
  docs/img/logo-opentofu-dark.png
  docs/img/logo-pulumi-dark.png
  docs/img/logo-serverlessfw-dark.png
  docs/img/logo-tencentcloud-dark.png
  docs/img/logo-terraform-dark.png
  docs/index.md
Labels: query

#7087 fix(query): passwords and secrets - generic secrets with fp results
  assets/queries/common/passwords_and_secrets/regex_rules.json
  assets/queries/common/passwords_and_secrets/test/negative58.yaml
Labels: query, azure

#7060 fix(query): apt-get Missing '-y' To Avoid Manual Input
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/metadata.json
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/query.rego
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/negative1.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/negative2.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/negative3.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/negative4.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/negative5.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/negative6.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/negative7.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/negative8.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/positive1.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/positive2.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/positive3.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/positive4.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/positive5.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/positive6.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/positive7.dockerfile
  assets/queries/dockerfile/apt_get_missing_flags_to_avoid_manual_input/test/positive_expected_result.json
  assets/queries/dockerfile/apt_get_missing_yes_flag_to_avoid_manual_input/query.rego
  assets/queries/dockerfile/apt_get_missing_yes_flag_to_avoid_manual_input/test/positive_expected_result.json
  docs/queries/all-queries.md
  docs/queries/dockerfile-queries.md
  docs/queries/dockerfile-queries/77783205-c4ca-4f80-bb80-c777f267c547.md
  test/main_test.go
Labels: bug, query

#7057 fix(query): implicit flow in oauth2 queries duplicated
  assets/queries/openAPI/3.0/implicit_flow_oauth2/metadata.json
  assets/queries/openAPI/3.0/implicit_flow_oauth2/query.rego
  assets/queries/openAPI/3.0/implicit_flow_oauth2/test/negative1.json
  assets/queries/openAPI/3.0/implicit_flow_oauth2/test/negative2.yaml
  assets/queries/openAPI/3.0/implicit_flow_oauth2/test/positive1.json
  assets/queries/openAPI/3.0/implicit_flow_oauth2/test/positive2.json
  assets/queries/openAPI/3.0/implicit_flow_oauth2/test/positive3.json
  assets/queries/openAPI/3.0/implicit_flow_oauth2/test/positive4.yaml
  assets/queries/openAPI/3.0/implicit_flow_oauth2/test/positive_expected_result.json
  assets/queries/openAPI/3.0/oauth2_with_implicit_flow/query.rego
  assets/queries/openAPI/3.0/oauth2_with_implicit_flow/test/positive3.json
  assets/queries/openAPI/3.0/oauth2_with_implicit_flow/test/positive4.yaml
  assets/queries/openAPI/3.0/oauth2_with_implicit_flow/test/positive5.yaml
  assets/queries/openAPI/3.0/oauth2_with_implicit_flow/test/positive_expected_result.json
Labels: query

#7117 fix(query): revert changes in the 'platform_flag_with_from' query
  Dockerfile
  assets/queries/dockerfile/using_platform_with_from/metadata.json
  assets/queries/dockerfile/using_platform_with_from/query.rego
  assets/queries/dockerfile/using_platform_with_from/test/negative1.dockerfile
  assets/queries/dockerfile/using_platform_with_from/test/positive1.dockerfile
  assets/queries/dockerfile/using_platform_with_from/test/positive_expected_result.json
Labels: query

#7061 update(query): removing special chars from query name
  assets/queries/cloudFormation/aws/tcp_or_udp_protocol_network_acl_entry_allows_all_ports/metadata.json
  assets/queries/cloudFormation/aws/tcp_or_udp_protocol_network_acl_entry_allows_all_ports/test/positive_expected_result.json
Labels: query

#7122 feat(query): add new query for tencentcloud CVM resource
  assets/queries/terraform/tencentcloud/cvm_instance_disable_monitor_service/metadata.json
  assets/queries/terraform/tencentcloud/cvm_instance_disable_monitor_service/query.rego
  assets/queries/terraform/tencentcloud/cvm_instance_disable_monitor_service/test/negative1.tf
  assets/queries/terraform/tencentcloud/cvm_instance_disable_monitor_service/test/negative2.tf
  assets/queries/terraform/tencentcloud/cvm_instance_disable_monitor_service/test/positive1.tf
  assets/queries/terraform/tencentcloud/cvm_instance_disable_monitor_service/test/positive_expected_result.json
  assets/queries/terraform/tencentcloud/cvm_instance_has_public_ip/metadata.json
  assets/queries/terraform/tencentcloud/cvm_instance_has_public_ip/query.rego
  assets/queries/terraform/tencentcloud/cvm_instance_has_public_ip/test/negative1.tf
  assets/queries/terraform/tencentcloud/cvm_instance_has_public_ip/test/negative2.tf
  assets/queries/terraform/tencentcloud/cvm_instance_has_public_ip/test/positive1.tf
  assets/queries/terraform/tencentcloud/cvm_instance_has_public_ip/test/positive_expected_result.json
  assets/queries/terraform/tencentcloud/cvm_instance_using_default_security_group/metadata.json
  assets/queries/terraform/tencentcloud/cvm_instance_using_default_security_group/query.rego
  assets/queries/terraform/tencentcloud/cvm_instance_using_default_security_group/test/negative1.tf
  assets/queries/terraform/tencentcloud/cvm_instance_using_default_security_group/test/negative2.tf
  assets/queries/terraform/tencentcloud/cvm_instance_using_default_security_group/test/positive1.tf
  assets/queries/terraform/tencentcloud/cvm_instance_using_default_security_group/test/positive2.tf
  assets/queries/terraform/tencentcloud/cvm_instance_using_default_security_group/test/positive_expected_result.json
  assets/queries/terraform/tencentcloud/cvm_instance_using_default_vpc/metadata.json
  assets/queries/terraform/tencentcloud/cvm_instance_using_default_vpc/query.rego
  assets/queries/terraform/tencentcloud/cvm_instance_using_default_vpc/test/negative1.tf
  assets/queries/terraform/tencentcloud/cvm_instance_using_default_vpc/test/positive1.tf
  assets/queries/terraform/tencentcloud/cvm_instance_using_default_vpc/test/positive_expected_result.json
Labels: feature request, query, community

#7135 feat(query): add new query for tencentcloud CLB resource
  assets/queries/terraform/tencentcloud/clb_instance_log_setting_disabled/metadata.json
  assets/queries/terraform/tencentcloud/clb_instance_log_setting_disabled/query.rego
  assets/queries/terraform/tencentcloud/clb_instance_log_setting_disabled/test/negative1.tf
  assets/queries/terraform/tencentcloud/clb_instance_log_setting_disabled/test/positive1.tf
  assets/queries/terraform/tencentcloud/clb_instance_log_setting_disabled/test/positive_expected_result.json
  assets/queries/terraform/tencentcloud/clb_listener_using_insecure_protocols/metadata.json
  assets/queries/terraform/tencentcloud/clb_listener_using_insecure_protocols/query.rego
  assets/queries/terraform/tencentcloud/clb_listener_using_insecure_protocols/test/negative1.tf
  assets/queries/terraform/tencentcloud/clb_listener_using_insecure_protocols/test/positive1.tf
  assets/queries/terraform/tencentcloud/clb_listener_using_insecure_protocols/test/positive2.tf
  assets/queries/terraform/tencentcloud/clb_listener_using_insecure_protocols/test/positive3.tf
  assets/queries/terraform/tencentcloud/clb_listener_using_insecure_protocols/test/positive_expected_result.json
Labels: feature request, query, community

#7140 fix(version): bump urllib3 version from queries-validator requirements
  .github/scripts/queries-validator/requirements.txt
Labels: query

#7136 feat(query): add new query for tencentcloud CVM resource
  assets/queries/terraform/tencentcloud/cvm_instance_using_user_data/metadata.json
  assets/queries/terraform/tencentcloud/cvm_instance_using_user_data/query.rego
  assets/queries/terraform/tencentcloud/cvm_instance_using_user_data/test/negative1.tf
  assets/queries/terraform/tencentcloud/cvm_instance_using_user_data/test/negative2.tf
  assets/queries/terraform/tencentcloud/cvm_instance_using_user_data/test/negative3.tf
  assets/queries/terraform/tencentcloud/cvm_instance_using_user_data/test/positive1.tf
  assets/queries/terraform/tencentcloud/cvm_instance_using_user_data/test/positive2.tf
  assets/queries/terraform/tencentcloud/cvm_instance_using_user_data/test/positive_expected_result.json
  assets/queries/terraform/tencentcloud/cvm_instance_using_user_data/test/terraform.tfvars
Labels: feature request, query, community

#7138 feat(query): add new query for tencentcloud TKE resource
  assets/queries/terraform/tencentcloud/tke_cluster_encryption_protection_disabled/metadata.json
  assets/queries/terraform/tencentcloud/tke_cluster_encryption_protection_disabled/query.rego
  assets/queries/terraform/tencentcloud/tke_cluster_encryption_protection_disabled/test/negative1.tf
  assets/queries/terraform/tencentcloud/tke_cluster_encryption_protection_disabled/test/positive1.tf
  assets/queries/terraform/tencentcloud/tke_cluster_encryption_protection_disabled/test/positive_expected_result.json
  assets/queries/terraform/tencentcloud/tke_cluster_has_public_access/metadata.json
  assets/queries/terraform/tencentcloud/tke_cluster_has_public_access/query.rego
  assets/queries/terraform/tencentcloud/tke_cluster_has_public_access/test/negative1.tf
  assets/queries/terraform/tencentcloud/tke_cluster_has_public_access/test/negative2.tf
  assets/queries/terraform/tencentcloud/tke_cluster_has_public_access/test/positive1.tf
  assets/queries/terraform/tencentcloud/tke_cluster_has_public_access/test/positive2.tf
  assets/queries/terraform/tencentcloud/tke_cluster_has_public_access/test/positive3.tf
  assets/queries/terraform/tencentcloud/tke_cluster_has_public_access/test/positive4.tf
  assets/queries/terraform/tencentcloud/tke_cluster_has_public_access/test/positive_expected_result.json
  assets/queries/terraform/tencentcloud/tke_cluster_log_disabled/metadata.json
  assets/queries/terraform/tencentcloud/tke_cluster_log_disabled/query.rego
  assets/queries/terraform/tencentcloud/tke_cluster_log_disabled/test/negative1.tf
  assets/queries/terraform/tencentcloud/tke_cluster_log_disabled/test/positive1.tf
  assets/queries/terraform/tencentcloud/tke_cluster_log_disabled/test/positive2.tf
  assets/queries/terraform/tencentcloud/tke_cluster_log_disabled/test/positive_expected_result.json
Labels: feature request, query, community

#7134 feat(query): add new query for tencentcloud CDB resource
  assets/queries/terraform/tencentcloud/cdb_instance_internet_service_enabled/metadata.json
  assets/queries/terraform/tencentcloud/cdb_instance_internet_service_enabled/query.rego
  assets/queries/terraform/tencentcloud/cdb_instance_internet_service_enabled/test/negative1.tf
  assets/queries/terraform/tencentcloud/cdb_instance_internet_service_enabled/test/negative2.tf
  assets/queries/terraform/tencentcloud/cdb_instance_internet_service_enabled/test/positive1.tf
  assets/queries/terraform/tencentcloud/cdb_instance_internet_service_enabled/test/positive_expected_result.json
  assets/queries/terraform/tencentcloud/cdb_instance_using_default_intranet_port/metadata.json
  assets/queries/terraform/tencentcloud/cdb_instance_using_default_intranet_port/query.rego
  assets/queries/terraform/tencentcloud/cdb_instance_using_default_intranet_port/test/negative1.tf
  assets/queries/terraform/tencentcloud/cdb_instance_using_default_intranet_port/test/positive1.tf
  assets/queries/terraform/tencentcloud/cdb_instance_using_default_intranet_port/test/positive2.tf
  assets/queries/terraform/tencentcloud/cdb_instance_using_default_intranet_port/test/positive_expected_result.json
  assets/queries/terraform/tencentcloud/cdb_instance_without_backup_policy/metadata.json
  assets/queries/terraform/tencentcloud/cdb_instance_without_backup_policy/query.rego
  assets/queries/terraform/tencentcloud/cdb_instance_without_backup_policy/test/negative1.tf
  assets/queries/terraform/tencentcloud/cdb_instance_without_backup_policy/test/positive1.tf
  assets/queries/terraform/tencentcloud/cdb_instance_without_backup_policy/test/positive_expected_result.json
Labels: feature request, query, community

#7141 update(query): change query name to maintain the same logic
  assets/queries/terraform/tencentcloud/cvm_instance_using_default_security_group/metadata.json
  assets/queries/terraform/tencentcloud/cvm_instance_using_default_security_group/test/positive_expected_result.json
Labels: query

#7146 fix(query): add positive expected results for "secretId" and "secretKey" for Tencentcloud
  assets/queries/terraform/tencentcloud/cvm_instance_using_user_data/test/positive3.tf
  assets/queries/terraform/tencentcloud/cvm_instance_using_user_data/test/positive4.tf
  assets/queries/terraform/tencentcloud/cvm_instance_using_user_data/test/positive_expected_result.json
Labels: query, community

#7154 fix(docs): add urls to all queries download
  docs/js/custom.js
Labels: query

#7097 fix(query): policy without principal query with false positive for IAM role used as an inline policy
  assets/queries/terraform/aws/policy_without_principal/query.rego
  assets/queries/terraform/aws/policy_without_principal/test/negative4.tf
Labels: query, aws

#7098 fix(query): security groups not used query with false positive in aws_elasticache_instance resources
  assets/queries/terraform/aws/security_groups_not_used/query.rego
  assets/queries/terraform/aws/security_groups_not_used/test/negative6.tf
  assets/queries/terraform/aws/security_groups_not_used/test/positive5.tf
  assets/queries/terraform/aws/security_groups_not_used/test/positive_expected_result.json
Labels: query, aws
