Repository Checkmarx/kics, pull requests merged in 2024-02, with the labels that each got.

#6860 fix(query): fixed false positive when no pid namespace is defined
  assets/queries/dockerCompose/host_namespace_is_shared/query.rego
  assets/queries/dockerCompose/host_namespace_is_shared/test/negative3.yaml
  assets/queries/dockerCompose/host_namespace_is_shared/test/positive3.yaml
  assets/queries/dockerCompose/host_namespace_is_shared/test/positive_expected_result.json
Labels: query

#6715 fix(query): docker compose deprecated network not set
  assets/queries/dockerCompose/networks_not_set/metadata.json
  assets/queries/dockerCompose/networks_not_set/query.rego
  assets/queries/dockerCompose/networks_not_set/test/negative1.yaml
  assets/queries/dockerCompose/networks_not_set/test/positive1.yaml
  assets/queries/dockerCompose/networks_not_set/test/positive2.yaml
  assets/queries/dockerCompose/networks_not_set/test/positive_expected_result.json
Labels: query, docker, community

#6845 feat(cwe): add cwe into sarif report and KICS CLI results
  .gitignore
  Dockerfile
  assets/cwe_csv/Software-Development-CWE.csv
  assets/cwe_csv/cwe_taxonomies_latest.json
  docker/Dockerfile.apispec
  docker/Dockerfile.apispec.debian
  docker/Dockerfile.debian
  e2e/fixtures/E2E_CLI_079_RESULT.sarif
  e2e/fixtures/E2E_CLI_080_RESULT.sarif
  e2e/fixtures/schemas/result-sarif-required.json
  e2e/fixtures/schemas/result-sarif.json
  e2e/testcases/e2e-cli-069_ignore_experimental_query.go
  e2e/testcases/e2e-cli-070_not_ignore_experimental_query.go
  e2e/testcases/e2e-cli-079_cwe_sarif_result.go
  e2e/testcases/e2e-cli-080_cwe_sarif_result.go
  pkg/engine/vulnerability_builder.go
  pkg/engine/vulnerability_builder_test.go
  pkg/model/model.go
  pkg/model/summary.go
  pkg/model/summary_test.go
  pkg/printer/printer.go
  pkg/printer/printer_test.go
  pkg/report/model/cyclonedx.go
  pkg/report/model/cyclonedx_test.go
  pkg/report/model/sarif.go
  pkg/report/model/sarif_categories.go
  pkg/report/model/sarif_test.go
  pkg/report/sarif.go
  test/fixtures/test_sarif_cwe_report/run_block_injection/query/metadata.json
  test/fixtures/test_sarif_cwe_report/run_block_injection/query/query.rego
  test/fixtures/test_sarif_cwe_report/run_block_injection/test/negative.yaml
  test/fixtures/test_sarif_cwe_report/run_block_injection/test/positive1.yaml
  test/fixtures/test_sarif_cwe_report/run_block_injection/test/positive_expected_result.json
  test/fixtures/test_sarif_cwe_report/script_block_injection/query/metadata.json
  test/fixtures/test_sarif_cwe_report/script_block_injection/query/query.rego
  test/fixtures/test_sarif_cwe_report/script_block_injection/test/negative1.yaml
  test/fixtures/test_sarif_cwe_report/script_block_injection/test/positive1.yaml
  test/fixtures/test_sarif_cwe_report/script_block_injection/test/positive_expected_result.json
  test/helpers.go
Labels: feature

#6862 fix(query): improve query Key Vault Not Recoverable
  .github/workflows/go-ci.yml
  assets/queries/azureResourceManager/key_vault_not_recoverable/query.rego
  assets/queries/azureResourceManager/key_vault_not_recoverable/test/positive5.json
  assets/queries/azureResourceManager/key_vault_not_recoverable/test/positive_expected_result.json
  test/queries_content_test.go
Labels: query

#6839 feat(query): added CWE infos to common and dockerfile queries #6373
  assets/queries/common/passwords_and_secrets/metadata.json
  assets/queries/dockerfile/add_instead_of_copy/metadata.json
  assets/queries/dockerfile/apk_add_using_local_cache_path/metadata.json
  assets/queries/dockerfile/apt_get_install_lists_were_not_deleted/metadata.json
  assets/queries/dockerfile/apt_get_install_pin_version_not_defined/metadata.json
  assets/queries/dockerfile/apt_get_missing_yes_flag_to_avoid_manual_input/metadata.json
  assets/queries/dockerfile/apt_get_not_avoiding_additional_packages/metadata.json
  assets/queries/dockerfile/changing_default_shell_using_run_command/metadata.json
  assets/queries/dockerfile/chown_flag_exists/metadata.json
  assets/queries/dockerfile/copy_from_references_current_from_alias/metadata.json
  assets/queries/dockerfile/copy_with_more_than_two_arguments_not_ending_with_slash/metadata.json
  assets/queries/dockerfile/curl_or_wget_instead_of_add/metadata.json
  assets/queries/dockerfile/exposing_port_22/metadata.json
  assets/queries/dockerfile/gem_install_without_version/metadata.json
  assets/queries/dockerfile/healthcheck_instruction_missing/metadata.json
  assets/queries/dockerfile/image_version_not_explicit/metadata.json
  assets/queries/dockerfile/image_version_using_latest/metadata.json
  assets/queries/dockerfile/last_user_is_root/metadata.json
  assets/queries/dockerfile/maintainer_instruction_being_used/metadata.json
  assets/queries/dockerfile/missing_dnf_clean_all/metadata.json
  assets/queries/dockerfile/missing_flag_from_dnf_install/metadata.json
  assets/queries/dockerfile/missing_user_instruction/metadata.json
  assets/queries/dockerfile/missing_version_specification_in_dnf_install/metadata.json
  assets/queries/dockerfile/missing_zypper_clean/metadata.json
  assets/queries/dockerfile/missing_zypper_non_interactive_switch/metadata.json
  assets/queries/dockerfile/multiple_cmd_instructions_listed/metadata.json
  assets/queries/dockerfile/multiple_entrypoint_instructions_listed/metadata.json
  assets/queries/dockerfile/multiple_run_add_copy_instructions_listed/metadata.json
  assets/queries/dockerfile/not_using_json_in_cmd_and_entrypoint_arguments/metadata.json
  assets/queries/dockerfile/npm_install_without_pinned_version/metadata.json
  assets/queries/dockerfile/pip_install_keeping_cached_packages/metadata.json
  assets/queries/dockerfile/run_command_cd_instead_of_workdir/metadata.json
  assets/queries/dockerfile/run_using_apt/metadata.json
  assets/queries/dockerfile/run_using_sudo/metadata.json
  assets/queries/dockerfile/run_using_wget_and_curl/metadata.json
  assets/queries/dockerfile/run_utilities_and_posix_commands/metadata.json
  assets/queries/dockerfile/same_alias_in_different_froms/metadata.json
  assets/queries/dockerfile/shell_running_a_pipe_without_pipefail_flag/metadata.json
  assets/queries/dockerfile/unix_ports_out_of_range/metadata.json
  assets/queries/dockerfile/unpinned_package_version_in_apk_add/metadata.json
  assets/queries/dockerfile/unpinned_package_version_in_pip_install/metadata.json
  assets/queries/dockerfile/update_instruction_alone/metadata.json
  assets/queries/dockerfile/using_platform_with_from/metadata.json
  assets/queries/dockerfile/using_unnamed_build_stages/metadata.json
  assets/queries/dockerfile/vulnerable_openssl_version/metadata.json
  assets/queries/dockerfile/workdir_path_not_absolute/metadata.json
  assets/queries/dockerfile/yum_clean_all_missing/metadata.json
  assets/queries/dockerfile/yum_install_allows_manual_input/metadata.json
  assets/queries/dockerfile/yum_install_without_version/metadata.json
  assets/queries/dockerfile/zypper_install_without_version/metadata.json
  e2e/fixtures/E2E_CLI_068_RESULT.json
  e2e_test/E2E_CLI_041_RESULT.json
  e2e_test/gl-sast-E2E_CLI_041_RESULT.json
  pkg/report/model/sarif.go
Labels: feature request, query, community, dockerfile

#6617 fix(query): terraform DynamoDB Table Point In Time Recovery Disabled
  assets/queries/terraform/aws/dynamodb_table_point_in_time_recovery_disabled/metadata.json
  assets/queries/terraform/aws/dynamodb_table_point_in_time_recovery_disabled/test/positive_expected_result.json
Labels: query, terraform, community

#6619 feat(query): cloudformation DynamoDB Table Not Encrypted
  assets/queries/cloudFormation/aws/dynamodb_table_point_in_time_recovery_disabled/metadata.json
  assets/queries/cloudFormation/aws/dynamodb_table_point_in_time_recovery_disabled/query.rego
  assets/queries/cloudFormation/aws/dynamodb_table_point_in_time_recovery_disabled/test/negative1.yaml
  assets/queries/cloudFormation/aws/dynamodb_table_point_in_time_recovery_disabled/test/negative2.json
  assets/queries/cloudFormation/aws/dynamodb_table_point_in_time_recovery_disabled/test/positive1.yaml
  assets/queries/cloudFormation/aws/dynamodb_table_point_in_time_recovery_disabled/test/positive2.yaml
  assets/queries/cloudFormation/aws/dynamodb_table_point_in_time_recovery_disabled/test/positive3.json
  assets/queries/cloudFormation/aws/dynamodb_table_point_in_time_recovery_disabled/test/positive4.json
  assets/queries/cloudFormation/aws/dynamodb_table_point_in_time_recovery_disabled/test/positive5.yaml
  assets/queries/cloudFormation/aws/dynamodb_table_point_in_time_recovery_disabled/test/positive6.json
  assets/queries/cloudFormation/aws/dynamodb_table_point_in_time_recovery_disabled/test/positive_expected_result.json
Labels: feature request, feature, query, cloudformation, community

#6624 fix(query): pulumi DynamoDB Table Point In Time Recovery Disabled
  assets/queries/pulumi/aws/dynamodb_table_point_in_time_recovery_disabled/metadata.json
  assets/queries/pulumi/aws/dynamodb_table_point_in_time_recovery_disabled/test/positive_expected_result.json
Labels: query, community, pulumi

#6854 feat(cli): control the information
  e2e/cli_test.go
  e2e/testcases/e2e-cli-007_scan.go
  e2e/testcases/e2e-cli-027_scan_exclude-paths.go
  pkg/engine/inspector.go
  pkg/printer/options.go
  pkg/printer/printer.go
  pkg/printer/printer_test.go
  pkg/printer/utils.go
  pkg/printer/utils_test.go
  pkg/report/commons.go
  pkg/scan/post_scan.go
Labels: feature

#6642 fix(query): deprecated Memcached disabled query
  .github/scripts/samples-linters/yamllint_ansible.yml
  assets/queries/ansible/aws/memcached_disabled/metadata.json
  assets/queries/ansible/aws/memcached_disabled/query.rego
  assets/queries/ansible/aws/memcached_disabled/test/negative.yaml
  assets/queries/ansible/aws/memcached_disabled/test/positive.yaml
  assets/queries/ansible/aws/memcached_disabled/test/positive_expected_result.json
  assets/queries/ansible/general/unpinned_package_version/test/negative1.yaml
  assets/queries/ansible/general/unpinned_package_version/test/positive1.yaml
  assets/queries/cloudFormation/aws/memcached_disabled/metadata.json
  assets/queries/cloudFormation/aws/memcached_disabled/query.rego
  assets/queries/cloudFormation/aws/memcached_disabled/test/negative1.yaml
  assets/queries/cloudFormation/aws/memcached_disabled/test/negative2.json
  assets/queries/cloudFormation/aws/memcached_disabled/test/positive1.yaml
  assets/queries/cloudFormation/aws/memcached_disabled/test/positive2.json
  assets/queries/cloudFormation/aws/memcached_disabled/test/positive_expected_result.json
Labels: query, community

#6545 fix(query): checkFollowedBy query refactor
  assets/queries/dockerfile/update_instruction_alone/query.rego
  assets/queries/dockerfile/update_instruction_alone/test/negative1.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/negative10.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/negative11.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/negative4.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/negative5.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/negative6.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/negative7.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/negative8.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/negative9.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/positive1.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/positive2.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/positive3.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/positive4.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/positive5.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/positive6.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/positive7.dockerfile
  assets/queries/dockerfile/update_instruction_alone/test/positive_expected_result.json
Labels: query, community

#6673 feat(query): cloudformation ECS Cluster with Container Insights Disabled
  assets/queries/cloudFormation/aws/ecs_cluster_container_insights_disabled/metadata.json
  assets/queries/cloudFormation/aws/ecs_cluster_container_insights_disabled/query.rego
  assets/queries/cloudFormation/aws/ecs_cluster_container_insights_disabled/test/negative1.yaml
  assets/queries/cloudFormation/aws/ecs_cluster_container_insights_disabled/test/negative2.json
  assets/queries/cloudFormation/aws/ecs_cluster_container_insights_disabled/test/positive1.yaml
  assets/queries/cloudFormation/aws/ecs_cluster_container_insights_disabled/test/positive2.json
  assets/queries/cloudFormation/aws/ecs_cluster_container_insights_disabled/test/positive3.json
  assets/queries/cloudFormation/aws/ecs_cluster_container_insights_disabled/test/positive_expected_result.json
Labels: feature request, feature, query, cloudformation, community

#6675 feat(query): crossplane ECS Cluster with Container Insights Disabled
  assets/queries/crossplane/aws/ecs_cluster_with_container_insights_disabled/metadata.json
  assets/queries/crossplane/aws/ecs_cluster_with_container_insights_disabled/query.rego
  assets/queries/crossplane/aws/ecs_cluster_with_container_insights_disabled/test/negative1.yaml
  assets/queries/crossplane/aws/ecs_cluster_with_container_insights_disabled/test/positive1.yaml
  assets/queries/crossplane/aws/ecs_cluster_with_container_insights_disabled/test/positive2.yaml
  assets/queries/crossplane/aws/ecs_cluster_with_container_insights_disabled/test/positive3.yaml
  assets/queries/crossplane/aws/ecs_cluster_with_container_insights_disabled/test/positive_expected_result.json
Labels: feature request, feature, query, community

#6678 feat(query): pulumi ECS Cluster with Container Insights Disabled
  assets/queries/pulumi/aws/ecs_cluster_container_insights_disabled/metadata.json
  assets/queries/pulumi/aws/ecs_cluster_container_insights_disabled/query.rego
  assets/queries/pulumi/aws/ecs_cluster_container_insights_disabled/test/negative1.yaml
  assets/queries/pulumi/aws/ecs_cluster_container_insights_disabled/test/positive1.yaml
  assets/queries/pulumi/aws/ecs_cluster_container_insights_disabled/test/positive2.yaml
  assets/queries/pulumi/aws/ecs_cluster_container_insights_disabled/test/positive3.yaml
  assets/queries/pulumi/aws/ecs_cluster_container_insights_disabled/test/positive_expected_result.json
Labels: feature request, feature, query, community, pulumi

#6873 fix(query): iam_access_analyzer_not_enabled skipping files
  assets/queries/terraform/aws/iam_access_analyzer_not_enabled/query.rego
Labels: query

#6641 fix(query): cloudformation cloudFront_without_waf
  assets/queries/cloudFormation/aws/cloudfront_without_waf/query.rego
  assets/queries/cloudFormation/aws/cloudfront_without_waf/test/positive3.yaml
  assets/queries/cloudFormation/aws/cloudfront_without_waf/test/positive4.json
  assets/queries/cloudFormation/aws/cloudfront_without_waf/test/positive_expected_result.json
  test/main_test.go
Labels: query, cloudformation, community

#6240 feat(engine): ignore terraform cache folders
  pkg/engine/provider/filesystem.go
  pkg/engine/provider/filesystem_test.go
  test/fixtures/terra/test_helm/.helmignore
  test/fixtures/terra/test_helm/Chart.yaml
  test/fixtures/terra/test_helm/templates/NOTES.txt
  test/fixtures/terra/test_helm/templates/_helpers.tpl
  test/fixtures/terra/test_helm/templates/service.yaml
  test/fixtures/terra/test_helm/values.yaml
  test/fixtures/test_terra_cache/.terraform/positive.tf
  test/fixtures/test_terra_cache/negative.tf
Labels: feature request, terraform, community

#6894 docs(community): add Keptn Lifecycle Toolkit
  README.md
Labels: documentation

#6880 fix(engine): improve ansible detection
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  test/fixtures/ansible_project_path/group_vars/db_servers.yml
  test/fixtures/ansible_project_path/group_vars/web_servers.yml
  test/fixtures/ansible_project_path/playbook.yml
  test/fixtures/ansible_project_path/roles/common/tasks/main.yml
  test/fixtures/ansible_project_path/roles/db/tasks/main.yml
  test/fixtures/ansible_project_path/roles/web/tasks/main.yml
Labels: ansible

#6876 feat(cwe): adding CWE results into all reports
  e2e/fixtures/schemas/result-asff.json
  e2e/fixtures/schemas/result-codeclimate.json
  e2e/fixtures/schemas/result-csv.json
  e2e/fixtures/schemas/result-cyclonedx.json
  e2e/fixtures/schemas/result-gl-sast.json
  e2e/fixtures/schemas/result-junit.json
  e2e/fixtures/schemas/result-sonarqube.json
  e2e/fixtures/schemas/result.json
  e2e/utils/csv.go
  e2e/utils/xml.go
  pkg/report/asff_test.go
  pkg/report/code_climate_test.go
  pkg/report/csv_test.go
  pkg/report/gitlab_sast_test.go
  pkg/report/html_test.go
  pkg/report/json_test.go
  pkg/report/junit_test.go
  pkg/report/model/asff.go
  pkg/report/model/asff_test.go
  pkg/report/model/code_climate.go
  pkg/report/model/code_climate_test.go
  pkg/report/model/csv.go
  pkg/report/model/csv_test.go
  pkg/report/model/cyclonedx.go
  pkg/report/model/cyclonedx_test.go
  pkg/report/model/gitlab_sast.go
  pkg/report/model/gitlab_sast_test.go
  pkg/report/model/junit.go
  pkg/report/model/junit_test.go
  pkg/report/model/sonarqube.go
  pkg/report/model/sonarqube_test.go
  pkg/report/pdf.go
  pkg/report/pdf_test.go
  pkg/report/sonarqube_test.go
  pkg/report/template/html/report.tmpl
  test/helpers.go
Labels: feature

#6611 fix(query): countLines, IgnoreLines and fileCommands
  e2e/fixtures/E2E_CLI_083_RESULT.json
  e2e/fixtures/E2E_CLI_084_RESULT.json
  e2e/fixtures/E2E_CLI_085_RESULT.json
  e2e/testcases/e2e-cli-083_helm_ignore.go
  e2e/testcases/e2e-cli-084_helm_ignore_block.go
  e2e/testcases/e2e-cli-085_helm_disable_query.go
  internal/tracker/ci.go
  internal/tracker/ci_test.go
  pkg/detector/helm/helm_detect.go
  pkg/kics/resolver_sink.go
  pkg/kics/service.go
  pkg/kics/sink.go
  pkg/model/comment_yaml.go
  pkg/model/comment_yaml_test.go
  pkg/model/model.go
  pkg/parser/buildah/parser_test.go
  pkg/parser/parser.go
  test/fixtures/helm_disable_query/test/.helmignore
  test/fixtures/helm_disable_query/test/Chart.yaml
  test/fixtures/helm_disable_query/test/templates/NOTES.txt
  test/fixtures/helm_disable_query/test/templates/_helpers.tpl
  test/fixtures/helm_disable_query/test/templates/deployment.yaml
  test/fixtures/helm_disable_query/test/templates/hpa.yaml
  test/fixtures/helm_disable_query/test/templates/ingress.yaml
  test/fixtures/helm_disable_query/test/templates/service.yaml
  test/fixtures/helm_disable_query/test/templates/serviceaccount.yaml
  test/fixtures/helm_disable_query/test/templates/tests/test-connection.yaml
  test/fixtures/helm_disable_query/test/values.yaml
  test/fixtures/helm_ignore/test/.helmignore
  test/fixtures/helm_ignore/test/Chart.yaml
  test/fixtures/helm_ignore/test/templates/NOTES.txt
  test/fixtures/helm_ignore/test/templates/_helpers.tpl
  test/fixtures/helm_ignore/test/templates/deployment.yaml
  test/fixtures/helm_ignore/test/templates/hpa.yaml
  test/fixtures/helm_ignore/test/templates/ingress.yaml
  test/fixtures/helm_ignore/test/templates/service.yaml
  test/fixtures/helm_ignore/test/templates/serviceaccount.yaml
  test/fixtures/helm_ignore/test/templates/tests/test-connection.yaml
  test/fixtures/helm_ignore/test/values.yaml
  test/fixtures/helm_ignore_block/test/.helmignore
  test/fixtures/helm_ignore_block/test/Chart.yaml
  test/fixtures/helm_ignore_block/test/templates/NOTES.txt
  test/fixtures/helm_ignore_block/test/templates/_helpers.tpl
  test/fixtures/helm_ignore_block/test/templates/deployment.yaml
  test/fixtures/helm_ignore_block/test/templates/hpa.yaml
  test/fixtures/helm_ignore_block/test/templates/ingress.yaml
  test/fixtures/helm_ignore_block/test/templates/service.yaml
  test/fixtures/helm_ignore_block/test/templates/serviceaccount.yaml
  test/fixtures/helm_ignore_block/test/templates/tests/test-connection.yaml
  test/fixtures/helm_ignore_block/test/values.yaml
Labels: query, community

#6885 update(docs): results documentation update
  docs/results.md
Labels: query

#6717 fix(query): openapi Maximum Length Undefined
  assets/queries/openAPI/general/maximum_length_undefined/query.rego
  assets/queries/openAPI/general/maximum_length_undefined/test/negative7.json
  assets/queries/openAPI/general/maximum_length_undefined/test/negative8.json
  assets/queries/openAPI/general/maximum_length_undefined/test/positive7.json
  assets/queries/openAPI/general/maximum_length_undefined/test/positive8.json
  assets/queries/openAPI/general/maximum_length_undefined/test/positive9.json
  assets/queries/openAPI/general/maximum_length_undefined/test/positive_expected_result.json
Labels: query, community, openapi

#6886 update(docs): running kics documentation update
  docs/running-kics.md
Labels: docker

#6833 feat(scanner): parallel scanning
  docs/architecture.md
  e2e/fixtures/E2E_CLI_086_RESULT.json
  e2e/fixtures/E2E_CLI_087_RESULT.json
  e2e/fixtures/E2E_CLI_088_RESULT.json
  e2e/fixtures/assets/scan_help
  e2e/fixtures/samples/long_terraform.tf
  e2e/testcases/e2e-cli-086_parallel_scan_default.go
  e2e/testcases/e2e-cli-087_parallel_scan_sequential.go
  e2e/testcases/e2e-cli-088_parallel_scan_6_workers.go
  internal/console/assets/scan-flags.json
  internal/console/flags/scan_flags.go
  internal/console/flags/validate.go
  internal/console/flags/validate_multi_str.go
  internal/console/flags/validate_multi_str_test.go
  internal/console/kics_test.go
  internal/console/scan.go
  path/e2e/output/E2E_CLI_086_RESULT.json
  pkg/engine/inspector.go
  pkg/engine/inspector_test.go
  pkg/remediation/scan.go
  pkg/scan/client.go
  pkg/scan/scan.go
  pkg/scanner/scanner_test.go
  res/E2E_CLI_081_RESULT.json
  test/queries_content_test.go
  test/queries_test.go
  test/similarity_id_test.go
Labels: feature request, community

#6822 fix(query): lambda_iam_invokefunction_misconfigured
  assets/queries/ansible/aws/s3_bucket_sse_disabled/metadata.json
  assets/queries/cloudFormation/aws/s3_bucket_sse_disabled/metadata.json
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/query.rego
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/test/negative2.tf
  assets/queries/terraform/aws/lambda_iam_invokefunction_misconfigured/query.rego
  assets/queries/terraform/aws/lambda_iam_invokefunction_misconfigured/test/negative3.tf
  assets/queries/terraform/aws/s3_bucket_sse_disabled/metadata.json
Labels: query, community, aws

#6904 feat(query): add cbs disk without encrypted for tencentcloud
  .github/scripts/queries-validator/metadata-schema.json
  assets/queries/terraform/tencentcloud/disk_encryption_disabled/metadata.json
  assets/queries/terraform/tencentcloud/disk_encryption_disabled/query.rego
  assets/queries/terraform/tencentcloud/disk_encryption_disabled/test/negative1.tf
  assets/queries/terraform/tencentcloud/disk_encryption_disabled/test/positive1.tf
  assets/queries/terraform/tencentcloud/disk_encryption_disabled/test/positive2.tf
  assets/queries/terraform/tencentcloud/disk_encryption_disabled/test/positive_expected_result.json
  test/main_test.go
Labels: feature request, query, community
