Repository Checkmarx/kics, pull requests merged in 2025-03, with the labels that each got.

#7361 fix(documentation): update descriptionText metadata field for invalid media type openAPI query
  assets/queries/openAPI/2.0/invalid_media_type_value/metadata.json
  assets/queries/openAPI/3.0/invalid_media_type_value/metadata.json
Labels: query, openapi

#7376 docs(queries): add missing platforms to KICS docs website sidebar
  docs/platforms.md
  mkdocs.yml
Labels: documentation, query, pulumi

#7288 update(query): change amazonaws.cn links to aws.amazon.com
  assets/queries/cloudFormation/aws/access_key_not_rotated_within_90_days/metadata.json
  assets/queries/cloudFormation/aws/iam_access_analyzer_not_enabled/metadata.json
  docs/queries/all-queries.md
  docs/queries/cloudformation-queries.md
  docs/queries/cloudformation-queries/aws/800fa019-49dd-421b-9042-7331fdd83fa2.md
  docs/queries/cloudformation-queries/aws/8d29754a-2a18-460d-a1ba-9509f8d359da.md
  e2e/fixtures/E2E_CLI_031_RESULT.html
  e2e/fixtures/E2E_CLI_032_RESULT.json
  e2e/fixtures/E2E_CLI_040_RESULT.html
  e2e/fixtures/E2E_CLI_092_RESULT.json
Labels: query, community, aws

#7353 fix(password): fix Password and Secrets FP results
  assets/queries/common/passwords_and_secrets/regex_rules.json
  assets/queries/common/passwords_and_secrets/test/negative47.tf
  assets/queries/common/passwords_and_secrets/test/negative48.tf
  assets/queries/common/passwords_and_secrets/test/positive46.yaml
  assets/queries/common/passwords_and_secrets/test/positive_expected_result.json
  go.mod
  go.sum
Labels: query, terraform, aws, azure

#7401 update(deps): update docker images to latest versions
  Dockerfile
Labels: docker

#7409 docs(ansible): remove outdated Ansible limitation and update copyright year
  Dockerfile
  docs/platforms.md
  go.mod
  go.sum
  mkdocs.yml
Labels: documentation, ansible
