Repository Checkmarx/kics, pull requests merged in 2025-04, with the labels that each got.

#7420 docs(typo): fix creating queries documentation page
  docs/creating-queries.md
  docs/integrations_terraformer.md
Labels: documentation, query

#7428 feat(terraform): support nested HCL identifier parsing by grouping variable paths and preserving relative subpaths
  Dockerfile
  assets/queries/terraform/aws/s3_bucket_policy_accepts_http_requests/test/negative8.tf
  go.mod
  go.sum
  pkg/parser/terraform/data_source.go
  pkg/parser/terraform/data_source_test.go
  test/fixtures/test_terraform_data_source/data_source_3.tf
Labels: feature, query, terraform, aws

#7450 fix(queries): support all valid CloudWatch Logs retention periods
  assets/queries/ansible/aws/cloudwatch_without_retention_period_specified/query.rego
  assets/queries/crossplane/aws/cloudwatch_without_retention_period_specified/query.rego
  assets/queries/terraform/aws/cloudwatch_without_retention_period_specified/query.rego
Labels: query, terraform, community, aws
