Repository Checkmarx/kics, pull requests merged in 2025-07, with the labels that each got.

#7502 fix(query): fix fp for iam_group_without_users
  assets/queries/terraform/aws/iam_group_without_users/query.rego
  assets/queries/terraform/aws/iam_group_without_users/test/negative2.tf
  assets/queries/terraform/aws/iam_group_without_users/test/negative3.tf
Labels: query, community, aws

#7500 fix(query): fix fn for iam_policy_grants_full_permissions
  assets/queries/terraform/aws/iam_policy_grants_full_permissions/query.rego
  assets/queries/terraform/aws/iam_policy_grants_full_permissions/test/negative4.tf
  assets/queries/terraform/aws/iam_policy_grants_full_permissions/test/positive3.tf
  assets/queries/terraform/aws/iam_policy_grants_full_permissions/test/positive_expected_result.json
Labels: query, community, aws

#7512 fix(query): fix fp in password and secrets Generic Passwords
  assets/queries/common/passwords_and_secrets/regex_rules.json
  assets/queries/common/passwords_and_secrets/test/negative51.yml
Labels: query, community

#7540 fix(dockerfile): update debian dockerfile image with stable-slim version
  docker/Dockerfile.debian
Labels: docker, dockerfile

#7560 fix(query): fix fn for ssh_is_exposed_to_the_internet and rdp_is_exposed_to_the_internet
  assets/queries/terraform/azure/rdp_is_exposed_to_the_internet/query.rego
  assets/queries/terraform/azure/rdp_is_exposed_to_the_internet/test/negative.tf
  assets/queries/terraform/azure/rdp_is_exposed_to_the_internet/test/positive.tf
  assets/queries/terraform/azure/rdp_is_exposed_to_the_internet/test/positive_expected_result.json
  assets/queries/terraform/azure/ssh_is_exposed_to_the_internet/query.rego
  assets/queries/terraform/azure/ssh_is_exposed_to_the_internet/test/negative.tf
  assets/queries/terraform/azure/ssh_is_exposed_to_the_internet/test/positive.tf
  assets/queries/terraform/azure/ssh_is_exposed_to_the_internet/test/positive_expected_result.json
Labels: query, terraform, community

#7559 fix(query): fix fp for s3_bucket_logging_disabled
  assets/queries/terraform/aws/s3_bucket_logging_disabled/query.rego
  assets/queries/terraform/aws/s3_bucket_logging_disabled/test/negative4.tf
Labels: query, community

#7589 fix(vulnerabilities): update go version to fix grype vulnerabilities
  Dockerfile
  docker/Dockerfile.debian
  docker/Dockerfile.ubi8
  go.mod
Labels: dockerfile

#7581 fix(apkmissing): add alpine image build and dockerfile related file
  .github/workflows/go-e2e.yaml
  .github/workflows/release-dkr-image.yml
  .github/workflows/release-nightly.yml
  docker/Dockerfile.alpine
  docs/dockerhub.md
  docs/documentation.md
  docs/getting-started.md
Labels: docker, dockerfile

#7564 fix(query): fix fp for s3_bucket_access_to_any_principal
  assets/queries/cloudFormation/aws/s3_bucket_access_to_any_principal/query.rego
  assets/queries/cloudFormation/aws/s3_bucket_access_to_any_principal/test/negative3.yaml
  assets/queries/cloudFormation/aws/s3_bucket_access_to_any_principal/test/positive3.yaml
  assets/queries/cloudFormation/aws/s3_bucket_access_to_any_principal/test/positive_expected_result.json
Labels: query, community

#7563 fix(query): added one extra verification on the ECS Cluster Not Encrypted At Rest query
  assets/queries/cloudFormation/aws/ecs_cluster_not_encrypted_at_rest/query.rego
  assets/queries/cloudFormation/aws/ecs_cluster_not_encrypted_at_rest/test/positive5.json
  assets/queries/cloudFormation/aws/ecs_cluster_not_encrypted_at_rest/test/positive_expected_result.json
Labels: query, community, aws
