Repository Checkmarx/kics, pull requests merged in 2025-08, with the labels that each got.

#7639 fix(ubi): update ubi dockerfile go version to 1.24.6
  docker/Dockerfile.ubi8
Labels: dockerfile

#7591 fix(query): fixed false negative for "App Service Authentication Disabled" query missing resources
  assets/queries/terraform/azure/app_service_authentication_disabled/query.rego
  assets/queries/terraform/azure/app_service_authentication_disabled/test/negative1.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/negative2.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/negative3.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/negative4.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/negative5.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive10.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive2.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive3.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive4.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive5.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive6.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive7.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive8.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive9.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive_expected_result.json
Labels: query, terraform

#7637 fix(bicep): remove references to Bicep as a platform
  docs/commands.md
  docs/dockerhub.md
  docs/future_improvements.md
  docs/platforms.md
  e2e/fixtures/E2E_CLI_013
  e2e/fixtures/E2E_CLI_101
  e2e/fixtures/assets/scan_help
  e2e/fixtures/samples/bicep_sample.bicep
  e2e/testcases/e2e-cli-101_bicep_exclude_commands.go
  internal/console/flags/flags.go
  internal/console/flags/flags_test.go
  internal/constants/constants.go
  pkg/analyzer/analyzer.go
  pkg/analyzer/analyzer_test.go
  pkg/engine/source/filesystem_test.go
  pkg/scan/scan.go
Labels: azure

#7565 feat(query): added new query: ElasticSearch Without Audit Logs - cloudFormation/aws
  assets/queries/cloudFormation/aws/elasticsearch_without_audit_logs/metadata.json
  assets/queries/cloudFormation/aws/elasticsearch_without_audit_logs/query.rego
  assets/queries/cloudFormation/aws/elasticsearch_without_audit_logs/test/negative1.yaml
  assets/queries/cloudFormation/aws/elasticsearch_without_audit_logs/test/negative2.json
  assets/queries/cloudFormation/aws/elasticsearch_without_audit_logs/test/negative3.yaml
  assets/queries/cloudFormation/aws/elasticsearch_without_audit_logs/test/positive1.yaml
  assets/queries/cloudFormation/aws/elasticsearch_without_audit_logs/test/positive2.yaml
  assets/queries/cloudFormation/aws/elasticsearch_without_audit_logs/test/positive3.yaml
  assets/queries/cloudFormation/aws/elasticsearch_without_audit_logs/test/positive4.json
  assets/queries/cloudFormation/aws/elasticsearch_without_audit_logs/test/positive5.json
  assets/queries/cloudFormation/aws/elasticsearch_without_audit_logs/test/positive6.json
  assets/queries/cloudFormation/aws/elasticsearch_without_audit_logs/test/positive7.yaml
  assets/queries/cloudFormation/aws/elasticsearch_without_audit_logs/test/positive8.json
  assets/queries/cloudFormation/aws/elasticsearch_without_audit_logs/test/positive_expected_result.json
Labels: feature request, feature, query, cloudformation, community, aws

#7641 test(query): added extra tests to "Security Group Not Used" query for terraform/aws
  assets/queries/terraform/aws/security_groups_not_used/test/negative10.tf
  assets/queries/terraform/aws/security_groups_not_used/test/negative11.tf
  assets/queries/terraform/aws/security_groups_not_used/test/negative12.tf
  assets/queries/terraform/aws/security_groups_not_used/test/negative8.tf
  assets/queries/terraform/aws/security_groups_not_used/test/negative9.tf
  assets/queries/terraform/aws/security_groups_not_used/test/positive7.tf
  assets/queries/terraform/aws/security_groups_not_used/test/positive8.tf
  assets/queries/terraform/aws/security_groups_not_used/test/positive_expected_result.json
Labels: query, terraform, aws

#7631 feat(query): implements "iam policy allows for data exfiltration" - terraform/aws & cloudformation/aws
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/metadata.json
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/query.rego
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/negative1.yaml
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/negative10.json
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/negative2.yaml
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/negative3.yaml
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/negative4.yaml
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/negative5.yaml
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/negative6.json
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/negative7.json
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/negative8.json
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/negative9.json
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/positive1.yaml
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/positive10.json
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/positive11.json
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/positive12.json
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/positive2.yaml
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/positive3.yaml
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/positive4.yaml
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/positive5.yaml
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/positive6.json
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/positive7.json
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/positive8.json
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/positive9.json
  assets/queries/cloudFormation/aws/iam_policy_allows_for_data_exfiltration/test/positive_expected_result.json
  assets/queries/terraform/aws/iam_policy_allows_for_data_exfiltration/metadata.json
  assets/queries/terraform/aws/iam_policy_allows_for_data_exfiltration/query.rego
  assets/queries/terraform/aws/iam_policy_allows_for_data_exfiltration/test/negative1.tf
  assets/queries/terraform/aws/iam_policy_allows_for_data_exfiltration/test/positive1.tf
  assets/queries/terraform/aws/iam_policy_allows_for_data_exfiltration/test/positive2.tf
  assets/queries/terraform/aws/iam_policy_allows_for_data_exfiltration/test/positive_expected_result.json
  test/queries_content_test.go
Labels: feature, query, cloudformation, terraform, aws

#7633 feat(query): implements ecr_repository_not_encrypted_with_CMK for cloudformation
  assets/queries/cloudFormation/aws/ecr_repository_not_encrypted_with_CMK/metadata.json
  assets/queries/cloudFormation/aws/ecr_repository_not_encrypted_with_CMK/query.rego
  assets/queries/cloudFormation/aws/ecr_repository_not_encrypted_with_CMK/test/negative1.json
  assets/queries/cloudFormation/aws/ecr_repository_not_encrypted_with_CMK/test/negative2.yaml
  assets/queries/cloudFormation/aws/ecr_repository_not_encrypted_with_CMK/test/positive1.json
  assets/queries/cloudFormation/aws/ecr_repository_not_encrypted_with_CMK/test/positive2.json
  assets/queries/cloudFormation/aws/ecr_repository_not_encrypted_with_CMK/test/positive3.yaml
  assets/queries/cloudFormation/aws/ecr_repository_not_encrypted_with_CMK/test/positive4.yaml
  assets/queries/cloudFormation/aws/ecr_repository_not_encrypted_with_CMK/test/positive_expected_result.json
Labels: feature, query, cloudformation, terraform, aws

#7616 feat(query): new query - "EKS Cluster Encryption Disabled" query implemented for CloudFormation platform
  assets/queries/cloudFormation/aws/eks_cluster_encryption_disabled/metadata.json
  assets/queries/cloudFormation/aws/eks_cluster_encryption_disabled/query.rego
  assets/queries/cloudFormation/aws/eks_cluster_encryption_disabled/test/negative1.yaml
  assets/queries/cloudFormation/aws/eks_cluster_encryption_disabled/test/negative2.json
  assets/queries/cloudFormation/aws/eks_cluster_encryption_disabled/test/positive1.yaml
  assets/queries/cloudFormation/aws/eks_cluster_encryption_disabled/test/positive2.json
  assets/queries/cloudFormation/aws/eks_cluster_encryption_disabled/test/positive3.yaml
  assets/queries/cloudFormation/aws/eks_cluster_encryption_disabled/test/positive4.json
  assets/queries/cloudFormation/aws/eks_cluster_encryption_disabled/test/positive_expected_result.json
Labels: feature, query, cloudformation, terraform

#7620 feat(query): lambda function without dead letter queue query implemented for Terraform/aws
  assets/queries/terraform/aws/lambda_function_without_dead_letter_queue/metadata.json
  assets/queries/terraform/aws/lambda_function_without_dead_letter_queue/query.rego
  assets/queries/terraform/aws/lambda_function_without_dead_letter_queue/test/negative1.tf
  assets/queries/terraform/aws/lambda_function_without_dead_letter_queue/test/positive1.tf
  assets/queries/terraform/aws/lambda_function_without_dead_letter_queue/test/positive2.tf
  assets/queries/terraform/aws/lambda_function_without_dead_letter_queue/test/positive_expected_result.json
Labels: feature, query, cloudformation, terraform, aws

#7619 feat(queries): new queries ECS Services assigned with public IP address for Ansible/aws, Terraform/aws and CloudFormation/AWS
  assets/queries/ansible/aws/ecs_services_assigned_with_public_ip_address/metadata.json
  assets/queries/ansible/aws/ecs_services_assigned_with_public_ip_address/query.rego
  assets/queries/ansible/aws/ecs_services_assigned_with_public_ip_address/test/negative1.yaml
  assets/queries/ansible/aws/ecs_services_assigned_with_public_ip_address/test/negative2.yaml
  assets/queries/ansible/aws/ecs_services_assigned_with_public_ip_address/test/negative3.yaml
  assets/queries/ansible/aws/ecs_services_assigned_with_public_ip_address/test/positive1.yaml
  assets/queries/ansible/aws/ecs_services_assigned_with_public_ip_address/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/ecs_services_assigned_with_public_ip_address/metadata.json
  assets/queries/cloudFormation/aws/ecs_services_assigned_with_public_ip_address/query.rego
  assets/queries/cloudFormation/aws/ecs_services_assigned_with_public_ip_address/test/negative1.yaml
  assets/queries/cloudFormation/aws/ecs_services_assigned_with_public_ip_address/test/negative2.json
  assets/queries/cloudFormation/aws/ecs_services_assigned_with_public_ip_address/test/negative3.yaml
  assets/queries/cloudFormation/aws/ecs_services_assigned_with_public_ip_address/test/negative4.json
  assets/queries/cloudFormation/aws/ecs_services_assigned_with_public_ip_address/test/positive1.yaml
  assets/queries/cloudFormation/aws/ecs_services_assigned_with_public_ip_address/test/positive2.json
  assets/queries/cloudFormation/aws/ecs_services_assigned_with_public_ip_address/test/positive_expected_result.json
  assets/queries/terraform/aws/ecs_services_assigned_with_public_ip_address/metadata.json
  assets/queries/terraform/aws/ecs_services_assigned_with_public_ip_address/query.rego
  assets/queries/terraform/aws/ecs_services_assigned_with_public_ip_address/test/negative1.tf
  assets/queries/terraform/aws/ecs_services_assigned_with_public_ip_address/test/negative2.tf
  assets/queries/terraform/aws/ecs_services_assigned_with_public_ip_address/test/negative3.tf
  assets/queries/terraform/aws/ecs_services_assigned_with_public_ip_address/test/positive1.tf
  assets/queries/terraform/aws/ecs_services_assigned_with_public_ip_address/test/positive_expected_result.json
Labels: feature, query, cloudformation, terraform, ansible, aws

#7624 feat(queries): new queries "Instance Uses Metadata Service IMDSv1" for Terraform/aws, Ansible/aws and CloudFormation/AWS
  assets/queries/ansible/aws/instance_uses_metadata_service_IMDSv1/metadata.json
  assets/queries/ansible/aws/instance_uses_metadata_service_IMDSv1/query.rego
  assets/queries/ansible/aws/instance_uses_metadata_service_IMDSv1/test/negative1.yaml
  assets/queries/ansible/aws/instance_uses_metadata_service_IMDSv1/test/negative2.yaml
  assets/queries/ansible/aws/instance_uses_metadata_service_IMDSv1/test/positive1.yaml
  assets/queries/ansible/aws/instance_uses_metadata_service_IMDSv1/test/positive2.yaml
  assets/queries/ansible/aws/instance_uses_metadata_service_IMDSv1/test/positive3.yaml
  assets/queries/ansible/aws/instance_uses_metadata_service_IMDSv1/test/positive4.yaml
  assets/queries/ansible/aws/instance_uses_metadata_service_IMDSv1/test/positive5.yaml
  assets/queries/ansible/aws/instance_uses_metadata_service_IMDSv1/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/metadata.json
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/query.rego
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/negative1.yaml
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/negative2.json
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/negative3.yaml
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/negative4.json
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/positive1.yaml
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/positive10.json
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/positive2.json
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/positive3.yaml
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/positive4.json
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/positive5.yaml
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/positive6.json
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/positive7.yaml
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/positive8.json
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/positive9.yaml
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/positive_expected_result.json
  assets/queries/terraform/aws/instance_uses_metadata_service_IMDSv1/metadata.json
  assets/queries/terraform/aws/instance_uses_metadata_service_IMDSv1/query.rego
  assets/queries/terraform/aws/instance_uses_metadata_service_IMDSv1/test/negative1.tf
  assets/queries/terraform/aws/instance_uses_metadata_service_IMDSv1/test/negative2.tf
  assets/queries/terraform/aws/instance_uses_metadata_service_IMDSv1/test/positive1.tf
  assets/queries/terraform/aws/instance_uses_metadata_service_IMDSv1/test/positive2.tf
  assets/queries/terraform/aws/instance_uses_metadata_service_IMDSv1/test/positive3.tf
  assets/queries/terraform/aws/instance_uses_metadata_service_IMDSv1/test/positive4.tf
  assets/queries/terraform/aws/instance_uses_metadata_service_IMDSv1/test/positive5.tf
  assets/queries/terraform/aws/instance_uses_metadata_service_IMDSv1/test/positive_expected_result.json
Labels: feature, query, cloudformation, terraform, ansible, aws

#7596 feat(query): implements "aws eip not attached to any ec2 instance" for terraform/aws
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/metadata.json
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/query.rego
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/test/negative1.tf
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/test/negative2.tf
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/test/negative3.tf
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/test/negative4.tf
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/test/negative5.tf
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/test/negative6.tf
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/test/positive1.tf
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/test/positive2.tf
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/test/positive3.tf
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/test/positive4.tf
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/test/positive5.tf
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/test/positive6.tf
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/test/positive7.tf
  assets/queries/terraform/aws/aws_eip_not_attached_to_any_instance/test/positive_expected_result.json
Labels: feature, query, terraform, aws

#7601 fix(query): fn for IAM_Policies_With_Full_Privileges -- terraform/aws
  assets/queries/terraform/aws/iam_policies_with_full_privileges/query.rego
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/negative1.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/negative2.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/positive1.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/positive2.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/positive3.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/positive_expected_result.json
Labels: query, terraform, aws

#7612 fix(query): fp for Storage Share File Allows All ACL Permissions
  assets/queries/terraform/azure/storage_share_allows_all_acl_permissions/metadata.json
  assets/queries/terraform/azure/storage_share_allows_all_acl_permissions/query.rego
  assets/queries/terraform/azure/storage_share_allows_all_acl_permissions/test/negative.tf
  assets/queries/terraform/azure/storage_share_allows_all_acl_permissions/test/positive.tf
  assets/queries/terraform/azure/storage_share_allows_all_acl_permissions/test/positive_expected_result.json
  assets/queries/terraform/azure/storage_share_file_allows_all_acl_permissions/metadata.json
  assets/queries/terraform/azure/storage_share_file_allows_all_acl_permissions/test/positive_expected_result.json
Labels: query, terraform

#7614 feat(query): implements Neptune_Logging_Is_Disabled--cloudformation/aws
  assets/queries/cloudFormation/aws/neptune_logging_is_disabled/metadata.json
  assets/queries/cloudFormation/aws/neptune_logging_is_disabled/query.rego
  assets/queries/cloudFormation/aws/neptune_logging_is_disabled/test/negative1.json
  assets/queries/cloudFormation/aws/neptune_logging_is_disabled/test/negative2.json
  assets/queries/cloudFormation/aws/neptune_logging_is_disabled/test/negative3.yaml
  assets/queries/cloudFormation/aws/neptune_logging_is_disabled/test/negative4.yaml
  assets/queries/cloudFormation/aws/neptune_logging_is_disabled/test/positive1.json
  assets/queries/cloudFormation/aws/neptune_logging_is_disabled/test/positive2.json
  assets/queries/cloudFormation/aws/neptune_logging_is_disabled/test/positive3.json
  assets/queries/cloudFormation/aws/neptune_logging_is_disabled/test/positive4.yaml
  assets/queries/cloudFormation/aws/neptune_logging_is_disabled/test/positive5.yaml
  assets/queries/cloudFormation/aws/neptune_logging_is_disabled/test/positive6.yaml
  assets/queries/cloudFormation/aws/neptune_logging_is_disabled/test/positive_expected_result.json
Labels: feature, query, cloudformation, terraform, aws

#7655 feat(queries): tags not copied to rds cluster snapshot query implementation for terraform/aws and CloudFormation/aws
  assets/queries/cloudFormation/aws/tags_not_copied_to_rds_cluster_snapshot/metadata.json
  assets/queries/cloudFormation/aws/tags_not_copied_to_rds_cluster_snapshot/query.rego
  assets/queries/cloudFormation/aws/tags_not_copied_to_rds_cluster_snapshot/test/negative1.yaml
  assets/queries/cloudFormation/aws/tags_not_copied_to_rds_cluster_snapshot/test/negative2.json
  assets/queries/cloudFormation/aws/tags_not_copied_to_rds_cluster_snapshot/test/negative3.yaml
  assets/queries/cloudFormation/aws/tags_not_copied_to_rds_cluster_snapshot/test/negative4.json
  assets/queries/cloudFormation/aws/tags_not_copied_to_rds_cluster_snapshot/test/positive1.json
  assets/queries/cloudFormation/aws/tags_not_copied_to_rds_cluster_snapshot/test/positive2.yaml
  assets/queries/cloudFormation/aws/tags_not_copied_to_rds_cluster_snapshot/test/positive3.json
  assets/queries/cloudFormation/aws/tags_not_copied_to_rds_cluster_snapshot/test/positive4.yaml
  assets/queries/cloudFormation/aws/tags_not_copied_to_rds_cluster_snapshot/test/positive5.json
  assets/queries/cloudFormation/aws/tags_not_copied_to_rds_cluster_snapshot/test/positive6.yaml
  assets/queries/cloudFormation/aws/tags_not_copied_to_rds_cluster_snapshot/test/positive_expected_result.json
  assets/queries/terraform/aws/tags_not_copied_to_rds_cluster_snapshot/metadata.json
  assets/queries/terraform/aws/tags_not_copied_to_rds_cluster_snapshot/query.rego
  assets/queries/terraform/aws/tags_not_copied_to_rds_cluster_snapshot/test/negative1.tf
  assets/queries/terraform/aws/tags_not_copied_to_rds_cluster_snapshot/test/negative2.tf
  assets/queries/terraform/aws/tags_not_copied_to_rds_cluster_snapshot/test/positive1.tf
  assets/queries/terraform/aws/tags_not_copied_to_rds_cluster_snapshot/test/positive2.tf
  assets/queries/terraform/aws/tags_not_copied_to_rds_cluster_snapshot/test/positive3.tf
  assets/queries/terraform/aws/tags_not_copied_to_rds_cluster_snapshot/test/positive4.tf
  assets/queries/terraform/aws/tags_not_copied_to_rds_cluster_snapshot/test/positive_expected_result.json
  e2e/fixtures/E2E_CLI_092_RESULT.json
Labels: feature, query, cloudformation, terraform, aws

#7615 feat(query): implements Postgres_RDS_Logging_Disabled--terraform/aws
  assets/queries/terraform/aws/postgres_rds_logging_disabled/metadata.json
  assets/queries/terraform/aws/postgres_rds_logging_disabled/query.rego
  assets/queries/terraform/aws/postgres_rds_logging_disabled/test/negative1.tf
  assets/queries/terraform/aws/postgres_rds_logging_disabled/test/positive1.tf
  assets/queries/terraform/aws/postgres_rds_logging_disabled/test/positive2.tf
  assets/queries/terraform/aws/postgres_rds_logging_disabled/test/positive3.tf
  assets/queries/terraform/aws/postgres_rds_logging_disabled/test/positive4.tf
  assets/queries/terraform/aws/postgres_rds_logging_disabled/test/positive_expected_result.json
Labels: feature, query, terraform, aws

#7656 fix(query): fp for passwords and secrets - generic secret
  assets/queries/common/passwords_and_secrets/regex_rules.json
  assets/queries/common/passwords_and_secrets/test/negative54.json
Labels: query

#7661 fix(query): fixed query "s3 bucket with public policy"
  assets/queries/terraform/aws/s3_bucket_with_public_policy/query.rego
  assets/queries/terraform/aws/s3_bucket_with_public_policy/test/negative3.tf
  assets/queries/terraform/aws/s3_bucket_with_public_policy/test/negative4.tf
  assets/queries/terraform/aws/s3_bucket_with_public_policy/test/negative5.tf
  assets/queries/terraform/aws/s3_bucket_with_public_policy/test/positive_expected_result.json
Labels: query, aws

#7664 test(query): add missing test case for S3 Bucket Allows Public Policy
  assets/queries/terraform/aws/s3_bucket_with_public_policy/test/positive10.tf
  assets/queries/terraform/aws/s3_bucket_with_public_policy/test/positive_expected_result.json
Labels: query, community, aws

#7668 fix(query): media type object without schema -- OpenAPI 3.0
  assets/queries/openAPI/3.0/media_type_object_without_schema/query.rego
  assets/queries/openAPI/3.0/media_type_object_without_schema/test/negative3.yaml
  assets/queries/openAPI/3.0/media_type_object_without_schema/test/negative4.yaml
  assets/queries/openAPI/3.0/media_type_object_without_schema/test/positive1.json
  assets/queries/openAPI/3.0/media_type_object_without_schema/test/positive3.json
  assets/queries/openAPI/3.0/media_type_object_without_schema/test/positive4.yaml
  assets/queries/openAPI/3.0/media_type_object_without_schema/test/positive5.yaml
  assets/queries/openAPI/3.0/media_type_object_without_schema/test/positive6.yaml
  assets/queries/openAPI/3.0/media_type_object_without_schema/test/positive_expected_result.json
Labels: query, openapi
