Repository Checkmarx/kics, pull requests merged in 2025-09, with the labels that each got.

#7695 fix(query): used isCloudFormationTrue helper function on elasticsearch domain not encrypted node to node
  assets/queries/cloudFormation/aws/elasticsearch_domain_not_encrypted_node_to_node/query.rego
  assets/queries/cloudFormation/aws/elasticsearch_domain_not_encrypted_node_to_node/test/negative5.yaml
  assets/queries/cloudFormation/aws/elasticsearch_domain_not_encrypted_node_to_node/test/negative6.json
  assets/queries/cloudFormation/aws/elasticsearch_domain_not_encrypted_node_to_node/test/negative7.yaml
  assets/queries/cloudFormation/aws/elasticsearch_domain_not_encrypted_node_to_node/test/negative8.json
Labels: query, cloudformation

#7685 test(query): two missing tests for postgres rds logging disabled -- terraform/aws
  Dockerfile
  assets/queries/terraform/aws/postgres_rds_logging_disabled/query.rego
  assets/queries/terraform/aws/postgres_rds_logging_disabled/test/negative1.tf
  assets/queries/terraform/aws/postgres_rds_logging_disabled/test/positive1.tf
  assets/queries/terraform/aws/postgres_rds_logging_disabled/test/positive2.tf
  assets/queries/terraform/aws/postgres_rds_logging_disabled/test/positive3.tf
  assets/queries/terraform/aws/postgres_rds_logging_disabled/test/positive5.tf
  assets/queries/terraform/aws/postgres_rds_logging_disabled/test/positive6.tf
  assets/queries/terraform/aws/postgres_rds_logging_disabled/test/positive_expected_result.json
Labels: query, docker, terraform, aws

#7693 fix(queries): added samples and searchLines on ecs services assigned with public ip address query for Terraform, Ansible and CloudFormation
  assets/libraries/common.json
  assets/queries/ansible/aws/ecs_services_assigned_with_public_ip_address/query.rego
  assets/queries/ansible/aws/ecs_services_assigned_with_public_ip_address/test/negative4.yaml
  assets/queries/ansible/aws/ecs_services_assigned_with_public_ip_address/test/negative5.yaml
  assets/queries/ansible/aws/ecs_services_assigned_with_public_ip_address/test/negative6.yaml
  assets/queries/ansible/aws/ecs_services_assigned_with_public_ip_address/test/positive2.yaml
  assets/queries/ansible/aws/ecs_services_assigned_with_public_ip_address/test/positive_expected_result.json
  assets/queries/cloudFormation/aws/ecs_services_assigned_with_public_ip_address/query.rego
  assets/queries/terraform/aws/ecs_services_assigned_with_public_ip_address/query.rego
  assets/queries/terraform/aws/ecs_services_assigned_with_public_ip_address/test/negative4.tf
  assets/queries/terraform/aws/ecs_services_assigned_with_public_ip_address/test/negative5.tf
  assets/queries/terraform/aws/ecs_services_assigned_with_public_ip_address/test/negative6.tf
  assets/queries/terraform/aws/ecs_services_assigned_with_public_ip_address/test/positive2.tf
  assets/queries/terraform/aws/ecs_services_assigned_with_public_ip_address/test/positive_expected_result.json
Labels: query, cloudformation, terraform, ansible, aws

#7702 test(query): new tests and minor fixes for IAM_Policies_With_Full_Privileges -- terraform/aws
  assets/queries/terraform/aws/iam_policies_with_full_privileges/query.rego
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/negative2.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/negative3.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/negative4.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/negative5.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/positive2.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/positive3.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/positive4.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/positive5.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/positive6.tf
  assets/queries/terraform/aws/iam_policies_with_full_privileges/test/positive_expected_result.json
Labels: query, terraform, aws

#7705 fix(query): removed unnecessary else on get_children helper function from sql server database with unrecommended retention days query
  assets/queries/azureResourceManager/sql_server_database_with_low_retention_days/query.rego
  assets/queries/azureResourceManager/sql_server_database_with_low_retention_days/test/negative4.bicep
  assets/queries/azureResourceManager/sql_server_database_with_low_retention_days/test/negative4.json
  assets/queries/azureResourceManager/sql_server_database_with_low_retention_days/test/positive7.bicep
  assets/queries/azureResourceManager/sql_server_database_with_low_retention_days/test/positive7.json
  assets/queries/azureResourceManager/sql_server_database_with_low_retention_days/test/positive_expected_result.json
Labels: query

#7704 update(query): update description text for dockerfile missing user instruction query
  assets/queries/dockerfile/missing_user_instruction/metadata.json
  e2e/fixtures/E2E_CLI_068_RESULT.json
Labels: query, dockerfile

#7711 fix(test): fixed indentation on a test case for instance uses metadata service imdsv1 query for CloudFormation platform
  assets/queries/cloudFormation/aws/instance_uses_metadata_service_IMDSv1/test/negative5.yaml
Labels: query, cloudformation

#7712 fix(query): added support for modules and added searchLine for lambda functions without letter queue for Terraform/aws
  assets/libraries/common.json
  assets/queries/terraform/aws/lambda_function_without_dead_letter_queue/query.rego
  assets/queries/terraform/aws/lambda_function_without_dead_letter_queue/test/negative2.tf
  assets/queries/terraform/aws/lambda_function_without_dead_letter_queue/test/positive3.tf
  assets/queries/terraform/aws/lambda_function_without_dead_letter_queue/test/positive4.tf
  assets/queries/terraform/aws/lambda_function_without_dead_letter_queue/test/positive_expected_result.json
Labels: query, terraform, aws

#7715 test(query): added test cases and simplified the query app service authentication disabled for terraform/azure
  assets/queries/terraform/azure/app_service_authentication_disabled/query.rego
  assets/queries/terraform/azure/app_service_authentication_disabled/test/negative6.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/negative7.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive11.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive12.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive13.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive14.tf
  assets/queries/terraform/azure/app_service_authentication_disabled/test/positive_expected_result.json
Labels: query, terraform, azure

#7726 test(query): fix for positive4 test to "Unknown Port Exposed To Internet" query
  assets/queries/terraform/aws/unknown_port_exposed_to_internet/test/positive4.tf
Labels: query, terraform, aws

#7731 test(query): test improvement for the "sensitive port" terraform queries
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_entire_network/test/negative1.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_entire_network/test/negative2.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_entire_network/test/negative3.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_entire_network/test/negative4.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_entire_network/test/positive1.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_entire_network/test/positive2.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_entire_network/test/positive3.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_entire_network/test/positive4.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_entire_network/test/positive_expected_result.json
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_small_public_network/test/negative1.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_small_public_network/test/negative2.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_small_public_network/test/negative3.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_small_public_network/test/negative4.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_small_public_network/test/positive1.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_small_public_network/test/positive2.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_small_public_network/test/positive3.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_small_public_network/test/positive4.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_small_public_network/test/positive_expected_result.json
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/negative1.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/negative2.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/negative3.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/negative4.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive1.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive2.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive3.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive4.tf
  assets/queries/terraform/aws/sensitive_port_is_exposed_to_wide_private_network/test/positive_expected_result.json
Labels: query, terraform, aws

#7734 test(query): added new case for the several resources covered on the queries for terraform/aws
  Dockerfile
  assets/queries/terraform/aws/http_port_open/test/negative1.tf
  assets/queries/terraform/aws/http_port_open/test/negative2.tf
  assets/queries/terraform/aws/http_port_open/test/negative3.tf
  assets/queries/terraform/aws/http_port_open/test/negative4.tf
  assets/queries/terraform/aws/remote_desktop_port_open_to_internet/test/negative1.tf
  assets/queries/terraform/aws/remote_desktop_port_open_to_internet/test/negative2.tf
  assets/queries/terraform/aws/remote_desktop_port_open_to_internet/test/negative3.tf
  assets/queries/terraform/aws/remote_desktop_port_open_to_internet/test/negative4.tf
  assets/queries/terraform/aws/security_group_with_unrestricted_access_to_ssh/test/negative1.tf
  assets/queries/terraform/aws/security_group_with_unrestricted_access_to_ssh/test/negative2.tf
  assets/queries/terraform/aws/security_group_with_unrestricted_access_to_ssh/test/negative3.tf
  assets/queries/terraform/aws/security_group_with_unrestricted_access_to_ssh/test/negative4.tf
  assets/queries/terraform/aws/sql_analysis_services_port_2383_is_publicly_accessible/test/negative1.tf
  assets/queries/terraform/aws/sql_analysis_services_port_2383_is_publicly_accessible/test/negative2.tf
  assets/queries/terraform/aws/sql_analysis_services_port_2383_is_publicly_accessible/test/negative3.tf
  assets/queries/terraform/aws/sql_analysis_services_port_2383_is_publicly_accessible/test/negative4.tf
Labels: query, terraform, aws

#7698 fix(query): added two new allowRules on "Generic Secret" and "Generic Token" queries from Passwords and Secrets
  assets/queries/common/passwords_and_secrets/regex_rules.json
  assets/queries/common/passwords_and_secrets/test/negative56.bicep
  assets/queries/common/passwords_and_secrets/test/negative57.bicep
Labels: query, azure

#7713 fix(query): passwords and secrets fp for run after triggers
  assets/queries/common/passwords_and_secrets/regex_rules.json
  assets/queries/common/passwords_and_secrets/test/negative55.yml
  assets/queries/common/passwords_and_secrets/test/negative56.tf
  assets/queries/common/passwords_and_secrets/test/negative57.json
  assets/queries/common/passwords_and_secrets/test/negative58.bicep
Labels: query, azure, arm

#7716 fix(query): added support for azurerm_mssql_firewall_rule resources to 2 queries - terraform/aws
  assets/queries/terraform/azure/sql_server_ingress_from_any_ip/query.rego
  assets/queries/terraform/azure/sql_server_ingress_from_any_ip/test/negative1.tf
  assets/queries/terraform/azure/sql_server_ingress_from_any_ip/test/negative2.tf
  assets/queries/terraform/azure/sql_server_ingress_from_any_ip/test/positive1.tf
  assets/queries/terraform/azure/sql_server_ingress_from_any_ip/test/positive2.tf
  assets/queries/terraform/azure/sql_server_ingress_from_any_ip/test/positive_expected_result.json
  assets/queries/terraform/azure/unrestricted_sql_server_access/query.rego
  assets/queries/terraform/azure/unrestricted_sql_server_access/test/negative1.tf
  assets/queries/terraform/azure/unrestricted_sql_server_access/test/negative2.tf
  assets/queries/terraform/azure/unrestricted_sql_server_access/test/positive1.tf
  assets/queries/terraform/azure/unrestricted_sql_server_access/test/positive2.tf
  assets/queries/terraform/azure/unrestricted_sql_server_access/test/positive_expected_result.json
Labels: query, terraform, aws, azure

#7694 fix(query): fn for API Gateway With CloudWatch Logging Disabled - terraform/aws
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/query.rego
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/test/negative1.tf
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/test/negative3.tf
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/test/negative4.tf
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/test/negative5.tf
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/test/positive1.tf
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/test/positive2.tf
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/test/positive3.tf
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/test/positive4.tf
  assets/queries/terraform/aws/api_gateway_with_cloudwatch_logging_disabled/test/positive_expected_result.json
Labels: query, terraform, aws

#7604 fix(query): fp for operation without successful http status code when valid codes are present
  assets/queries/openAPI/general/operation_without_successful_http_status_code/query.rego
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative10.yaml
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative11.json
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative12.yaml
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative13.json
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative14.yaml
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative15.json
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative16.yaml
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative5.json
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative6.json
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative7.yaml
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative8.yaml
  assets/queries/openAPI/general/operation_without_successful_http_status_code/test/negative9.json
Labels: query
